[2017-10-15 20:30] ostephens commented on #1265
@thadguidry that's a really good question! I don't know, but I think this blog post might describe the same issue https://blog.spaziodati.eu/en/2014/11/17/the-dark-side-of-ssl-on-java-virtual-machine-jvm/ - so if I'm right, we aren't alone in seeing some issues around this.

Having thought about it a bit, on balance I'm in favour of what @thadguidry suggests - avoid bundling the JCE stuff (some sl

[2017-10-15 20:30] ostephens commented on #1268
@thadguidry happy to have a look at this

[2017-10-15 20:33] ostephens commented on #1203
@thadguidry @jackyq2015 do either of you know why JSONP is used for Refine.fetchRows? I can't see any obvious reason to use JSONP as it would never be cross-site as far as I can see. But I'm worried I'm missing something.

[2017-10-16 03:51] jackyq2015 commented on #1221
@denim2x any progress on this?

[2017-10-16 12:49] ettorerizza commented on #1221
@jackyq2015 He stopped working on the issue. I wonder why. Too difficult for the bounty amount ?

[2017-10-16 14:20] narendravardi commented on #1228
@thadguidry any suggestions on where to make the changes?

I have gone through the classes `EngineDependentMassCellOperation` and `TextTransformOperation` based on the message printed on the gif file. But I couldn't find out. Please help me out! :)

[2017-10-17 02:38] thadguidry commented on #1228
@narendravardi it all starts here https://github.com/OpenRefine/OpenRefine/blob/master/main/webapp/modules/core/scripts/views/data-table/menu-edit-cells.js#L206

BUT you cannot just change that existing "to Text" operation because many folks already depend on its current functionality as its expected when you convert Java Numbers to Strings (and we don't want to throw away the original value that

[2017-10-18 02:50] jackyq2015 commented on #1221
@ettorerizza I think one of the reason could be the requirement is not so clear for him.I can take on this if you can narrow down the required fields. There are some dynamic data such as row number I don't think it's good to put as meta data.  My thought is to pick some from:
Title
Creator
Subject
Description
Publisher
Contributor
Date
Type
Format
Identifier
Source
Language
Relation
Coverage
Right

[2017-10-18 03:24] jackyq2015 commented on #1203
For current OR deployment, json and jsonp make no difference. I know OR have a unfinished broker model to separate the front end and engine itself. that could be the reason that jsonp was used for wider support.

[2017-10-18 07:15] ettorerizza commented on #1221
Thanks for your answer, jacky. If I had to choose ten metadata fields, putting aside the dynamic metadata, here is what my selection would be.

Does anyone have any other suggestions?

[2017-10-18 09:13] wetneb commented on #1221
what do you mean by "identifier" (what would you take the MD5 of?)

[2017-10-18 09:33] ettorerizza commented on #1221
@wetneb I mean something that makes it possible to identify the project in an unambiguous way. Oddly, Open Refine allows two projects to have exactly the same name.

[2017-10-18 09:41] wetneb commented on #1221
@ettorerizza oh, then we already have the project id for that (the one that you find in the URL of a project in OpenRefine).

[2017-10-18 11:10] wetneb opened #1269 "Export to MediaWiki's Tabular JSON and upload to Wikimedia Commons"
MediaWiki supports a tabular data format that can hold some metadata. It would make sense to ease the export to that format and upload to Wikimedia Commons.

https://www.mediawiki.org/wiki/Help:Tabular_Data

- [ ] Write a Tabular JSON exporter
- [ ] Optional: Add upload wizard for Wikimedia Commons as part of the Wikidata extension

[2017-10-18 12:25] magdmartin commented on #1221
I will prefer if we follow the proposal from @thadguidry in [#1221#issuecomment-320259551](https://github.com/OpenRefine/OpenRefine/issues/1221#issuecomment-320259551) and provide key/value store where the user can define its own field.

##  Create new field / metadata

In `preference.vt` the user can:
* create the `key` he want to track
* define which keys are displayed on the homepage

We need t

[2017-10-18 13:32] thadguidry commented on #1221
I agree with @magdmartin Let's have a "predefined" set of fields that the preferences.vt would have and from those, select few of the fields that are exposed and displayed on the Project homepage.

I have no opinion on what those "predefined" fields should be, but defer to the community to decide.  After all, they will be able to change those fields at anytime with the "About" link or "Metadata" l

[2017-10-18 22:46] #413 closed

[2017-10-18 22:48] thadguidry commented on #382
Freebase is gone.  Closing.

[2017-10-18 22:48] #382 closed

[2017-10-18 22:57] thadguidry commented on #1228
Hmm... I'm wondering if this is issue is also showing itself in subtle ways even for `cross()` problems as in this guy's problem #1158

[2017-10-18 23:01] thadguidry commented on #1158
@wetneb see referenced issue #1228 , This might be slightly related ? The hidden 1234.0 value not matching the shown value 1234 ?

Need to dive in and verify this with a test and perhaps somehow make a test case for this also if we can.

[2017-10-19 08:43] ettorerizza commented on #1158
Hi @thadguidry. According to my own tests, two columns of numeric IDs do not match with cell.cross() if one of the columns consists of "normal" numbers and the other of numbers from Excel (with an invisible trailing zero)

[2017-10-19 11:40] thadguidry commented on #1158
@ettorerizza yeah, ok...  I think we really should not hide the fact that there is precision with an amount of scale to you as a user.  A number of 123.45 has a precision of 5 and a scale of 2 (two digits to the right of the decimal)  But 123.0 also has precision and scale...just because a 0 is there, you could say its a whole number, but technically, to scientists, its not a whole number yet unti

[2017-10-19 11:41] wetneb opened #1271 "Quantities"

[2017-10-19 11:46] wetneb commented on #1158
I've made a different issue for that as it would have implications beyond the broader cross function.

[2017-10-19 11:57] thadguidry commented on #1158
@wetneb yeap, absolutely, its non-trivial and requires a full review at multiple points and our tests would have to be much more rugged as well :)

[2017-10-19 15:34] wetneb opened #1272 "Reconciliation: two ways to assign new topics to cells"
In the Reconcile / Actions menu, there are two seemingly identical operations:
![new_topic](https://user-images.githubusercontent.com/309908/31779583-5ec90a62-b4eb-11e7-8eac-b16b466b6888.png)

I believe one was intended to set the same new topic for all cells, whereas the other added a different new topic for each cell. If that is the case, the UI should reflect that. If not, we should only keep o

[2017-10-19 16:00] jackyq2015 commented on #1158
If I am not mistaken, the cross is designed for match based on string , not number. If you need cross a number, a added column with converted number should required.

[2017-10-19 16:53] thadguidry commented on #1272
@wetneb uh... yeah...THAT was not there before... lololol

[2017-10-19 16:59] #1272 closed

[2017-10-19 16:59] thadguidry commented on #1158
@jackyq2015 @wetneb Right, `cross()` is based on string, but thats where it becomes a usability issue for folks unaware like @ettorerizza who would expect then and ERROR or hint that crossing a Number column against a Text column is not going to work out well :)  OK, so....

1. Improve the test cases for this. Ensuring that 2 Numbers can cross and 2 Strings can cross, but that a Number and a Strin

[2017-10-19 18:31] ettorerizza commented on #1158
@thadguidry @jackyq2015 I can assure you that cell.cross() works with numbers stored as "numeric" just as well as with strings (screencast). I have not tried it yet with dates.

![screencast](https://user-images.githubusercontent.com/6286410/31787578-803e0604-b50c-11e7-833b-49230cae4bcb.gif)

[2017-10-20 01:12] jackyq2015 commented on #1158
@ettorerizza According to code from ImporterUtilities.java:
[code]
The cellType could be Long and Double if it's numeric. In that case, the cross cann't behave properly unless you can make sure the types are the same. Also for Double if you have the same type, the scale still an issue. You may get it right under some situation but the result is not deterministic.

For the GREL forEach issue, you c

[2017-10-20 14:22] ValentinChCloud opened #1274 "Openrefine start server take too much time on Openstack Instance"
Hello, I have some issues to start Openrefine.
## Operefine version
OpenRefine 2.7

## Configuration:
DISTRIB_DESCRIPTION="Ubuntu 16.04.1 LTS"

on a cloud base on Opentask

## Curent Results
When I start Openrefine one step takes too much time.
[code]
As you can see with the step

where 84928ms = 1.4 minutes, many other attempts same results (even 3 minutes)

So I try to identify what's wrong, by

[2017-10-20 14:39] #1267 closed

[2017-10-20 15:59] jackyq2015 commented on #1274
Since you are using Openstack, I think it is related to the IO. can you use iostat to check while you starting it?

[2017-10-20 19:12] ValentinChCloud commented on #1274
Something like that ?
[code]

[2017-10-20 22:19] wetneb commented on #1219
There are issues with the following urls:
https://api.oadoi.org/10.13306/j.1672-3813.2015.03.001?email=dev@openrefine.org
https://api.oadoi.org/10.13306/j.1672-3813.2015.03.001?email=dev@openrefine.org

[2017-10-20 22:43] jackyq2015 commented on #1274
that's weird. but from the log it shows the process "scanForUpdates" takes much of the time. You are using root to launch it. I am not sure where does it get launched. You may on a mounted storage. can you use a regular user to download a new copy and try again? The idea is to try to make it running locally, not from remote storage.

[2017-10-20 22:43] wetneb commented on #1219
I confirm that this is fixed on master.

[2017-10-20 22:43] #1219 closed

[2017-10-20 22:58] ValentinChCloud commented on #1274
I used to have Open refine on my VM with virtual box and it works well

[2017-10-20 23:09] ValentinChCloud commented on #1274
I don't follow you it only takes few ms no?

[2017-10-21 02:49] jackyq2015 commented on #1274
Right! that must relate to your cloud environment. which provider are you using?  Run this and paste the result:
`mount | grep $(df -P ~/.local/share/openrefine | tail -1 | awk {'print $1'})`

[2017-10-21 06:34] ValentinChCloud commented on #1274
[code]

[2017-10-21 08:01] aadrian opened #1277 "JDBC?"
Hi,

How to get data using JDBC (so as an input source)?
I couldn't find any working example :( .

Thank you.

[2017-10-21 08:11] wetneb commented on #1277
hi @aadrian, I don't think OpenRefine supports JDBC natively. You can try exporting your dataset from JDBC to a format that OpenRefine supports.

[2017-10-21 08:18] rufuspollock commented on #1096
@thadguidry the Data Package specs are also now v1.0 https://blog.okfn.org/2017/09/05/frictionless-data-v1-0/ - there's a lot of tooling support including JS, Ruby, Python, R etc http://frictionlessdata.io/tools/

[2017-10-21 08:37] aadrian commented on #1277
@wetneb thank you for the information.

This looks quite unusual to me, since the server is based on Java, and Java's main advantage, purpose and selling point with businesses is mostly JDBC .

Hmm, using those formats would also mean to loose information (metadata, constraints,  relationships etc), so it would pretty defy the whole purpose of "refining" the data  :( .

[2017-10-21 09:02] danbri commented on #1096
https://youtu.be/MsuXqf9wog0

[2017-10-21 14:52] thadguidry commented on #1277
It's in our future plans to support database connectivity options. This
will happen next year. Stay tuned.

On Sat, Oct 21, 2017, 3:38 AM aadrian <notifications@github.com> wrote:

[2017-10-22 02:53] jackyq2015 commented on #1274
looks fine for me. I assume you did not tune those parameters yourself for the file system. The last thing that I can think of is the number of your projects. maybe it's too many? OR will try to load all the project meta data when starting up. that could take long if you have too many project and on a slow disk IO.

Do you have other applications run on Genouest in similar way? I never heard of th

[2017-10-22 07:34] ValentinChCloud commented on #1274
It makes me think,, this happens after the 2~3 the launch of openrefine. But if I don't use  it for few days and come back,, same things happen.

[2017-10-22 14:45] jackyq2015 commented on #1274
Can you delete the ~/.locale/share/openrefine folder and try again? Back up it if necessary

[2017-10-22 20:34] ValentinChCloud commented on #1274
Done, nothing changes :/

[2017-10-22 21:20] ValentinChCloud commented on #1274
There is ./refine test server if it could helps :
https://github.com/ValentinChCloud/Logs/blob/master/out_server_test.txt

[2017-10-23 14:41] ostephens commented on #1268
The current behaviour is to trim leading and trailing whitespace from any values created by the split. This makes less sense to me once you add in the ability to split in a more precise way (either by regular expression or by string lengths).

Which seems the most desirable behaviour:
* Never trim
* Trim when split by text separator but not otherwise
* User configurable option to trim (or not) val

[2017-10-23 14:43] remram44 opened #1279 "Use best practices in i18n"
I applaud your attempt at internationalizing OpenRefine, however you did not read the manual. As you know other languages have their own grammar and using the English grammar on all languages is obviously not going to work:

https://github.com/OpenRefine/OpenRefine/blob/e5fdf48680a6f810c84706671344dc93d9a4fb75/main/webapp/modules/core/scripts/dialogs/clustering-dialog.js#L245

The jquery.i18n libr

[2017-10-23 14:52] wetneb commented on #1279
@remram44 I completely agree! Pull requests are more than welcome.

[2017-10-23 14:55] remram44 commented on #1279
Fixing this would mean all translation files have to be adapted (though I suspect the program is not very usable in non-English locales anyway), so a commitment from the project leads is necessary before work can happen here.

[2017-10-23 14:58] wetneb commented on #1279
@remram44 The project leads (if there is such a thing) do not master all the languages that we currently support, so we cannot fix these translations ourselves… So I don't really see what you mean! What "commitment from project leads" do you expect? The people who wrote the code that you quoted are not active in OpenRefine anymore.
Feel free to invalidate existing translations, people will go to W

[2017-10-23 15:02] remram44 commented on #1279
Sounds good! I just don't want to do work to then hear that "that would break translations" and have the patch rejected. I will see if I can do that but I'm short on time at the moment, so if somebody else wants to grab this go ahead.

[2017-10-23 15:36] msaby commented on #1265
Hi
I don't understand half of your conversation ;-), but as someone wrote, I spent some time wrangling with java certificates in OR some days ago.
I believe Mac version do NOT ignore $JAVA_HOME. I had issues with missing certificate in cacerts, but my $JAVA_HOME  was void. When I put the path of my system java in $JAVA_HOME, the issue was resolved

[2017-10-23 15:46] msaby opened #1281 "URL Fetching hangs indefinitly if cache activated when a http error occurs"
Hi
If caching is activated when fetching data from an URL, and if a http error occurs, the fetching is stuck.
Ex :
https://geo.api.gouv.fr/communes?nom= NICE
-> error caused by the unescaped space
-> process hangs at 0%
![image](https://user-images.githubusercontent.com/932804/31898714-fc6e3856-b819-11e7-9931-6f4ce99b9c41.png)

I encountered the same unwanted behavior with errors caused by wrong h

[2017-10-23 15:54] wetneb commented on #1281
This is a known issue (duplicate of #1219) that has already been fixed in the development version. You can either disable caching, or use the development version (https://github.com/OpenRefine/OpenRefine/wiki/Get-Development-Version ) or wait for the next release.

[2017-10-23 15:54] #1281 closed

[2017-10-23 16:17] ostephens commented on #1265
@msaby which version of OpenRefine are you using?

[2017-10-23 16:42] remram44 commented on #1279
It doesn't look like you are using jquery.i18n (from wikipedia) but [recurser/jquery-i18n](https://github.com/recurser/jquery-i18n). Commit is 817c6cc8d4468c5bf8e776cbe2f384385e74bf69, doesn't mention the source.

Furthermore, although the whole source is reproduced, no attribution is done to Dave Perrett, the author; **this violates the terms of the [MIT license](https://github.com/recurser/jquer

[2017-10-23 17:26] ostephens commented on #1279
@remram44 thanks for noting the missing licence - now submitted a PR to add this in and correct this oversight

[2017-10-23 17:51] thadguidry commented on #1265
@ostephens At the end of the day, I'd like you to just close this issue and then provide some good documentation, avoidance, best practice, etc... on our Wiki to help navigate this kind of problem with Server side security when using our Fetch URLs function against a server using HTTPS.   We can then point folks to that page to try different options, and advise of security concerns as well.  A Wik

[2017-10-23 18:39] thadguidry commented on #1268
@ostephens my preference would be "never trim" because I'm a purist and because I work with UTF-8 quite a bit and unprintable control characters that are significant to my work.

Eventually, what will help with all that is ...
I want to see in OpenRefine is a toggle mode for **DISPLAY UNPRINTABLE CHARS** for our users (like the ACK and CR/LF below)...so that they show up.  This is work to be done

[2017-10-23 21:52] ostephens commented on #1268
Thanks @thadguidry. Pinging @ettorerizza as the person who opened this issue, but I'm inclined to go with 'never trim' at the moment - this puts control with the user, and it is always possible to follow up a 'split multi-valued cells' with a 'trim' if you need to

[2017-10-23 22:23] thadguidry opened #1286 "Add a DISPLAY UNPRINTABLE CHARS toggle mode"
As mentioned in #1268 ... because I'm a purist and because I work with UTF-8 quite a bit and unprintable control characters that are significant to my work...

I want to see in OpenRefine a toggle mode for **DISPLAY UNPRINTABLE CHARS** for our users (like the ACK and CR/LF below)...so that they show up and are highlighted with special coloring/font.  This toggle mode should work perhaps on both da

[2017-10-24 03:32] jackyq2015 commented on #1279
@remram44 Thanks for the suggestion. Just one question, do you see any drawback of the form $.i18n._('core-index')["delete-key"] except the complexity

[2017-10-24 03:36] jackyq2015 commented on #1274
can't see any obvious issue which can cause the slowness. You said that the first time after you removed the folder it's work though? what kind of project did you create after that and what else did you do?

[2017-10-24 07:00] ettorerizza commented on #1268
Thank you for this work @ostephens ! Regarding the automatic trim, I have no specific opinion, except that I personally prefer doing this kind of thing myself rather than letting the software perform "under the hood" operations that I may not wish.

Just a detail, perhaps unimportant: this change breaks the symmetry between "split mutlivalued cells" and "join multivalued cells", its sister feature

[2017-10-24 07:12] ValentinChCloud commented on #1274
No I said, remove the folder didn't change anything.I said this issue happen when, I create a new VM, I download Openrefine from github, I build and run refine, and after many launches it gets slower.
I don't use refine at all, I just want first to launch many server on different ip and port ( finnaly to use Openrefine as container)

[2017-10-24 08:22] ettorerizza commented on #1268
Issue #1113 is a good example of the frustration that can be felt when a `trim ` is done without being asked.

[2017-10-24 09:06] ostephens commented on #1268
Thanks @ettorerizza. I've gone ahead with the 'never trim' option at the moment.

In terms of the 'join' function - do you have any views on how it should work if it is to 'mirror' this updated split function?

(Changing behaviour of join to not add whitespace as reported in #1113 is probably v straightforward - I can definitely have a look at that, I'm wondering about any other changes you might

[2017-10-24 09:22] ettorerizza commented on #1268
@ostephens I do not have a specific use case in mind. No doubt there is at least one person on this earth who dreams of being able to join multivalued cells by `\n`, but I am not sure that it is very frequent.

[2017-10-24 09:24] ostephens commented on #1268
@ettorerizza ok thanks - once this is finished off I'll have a look at #1113 at least

[2017-10-24 13:19] wetneb commented on #1268
Never trimming seems to be the correct approach here as the user can always trim afterwards or adapt the regex to eat whitespace on both sides.

[2017-10-24 13:39] remram44 commented on #1279
It is a bit long to type, but the issue here is that this returns a single string, and you get no string interpolation or custom plural machinery, necessary for proper i18n.

For example this is problematic:

https://github.com/OpenRefine/OpenRefine/blob/e5fdf48680a6f810c84706671344dc93d9a4fb75/main/webapp/modules/core/scripts/dialogs/clustering-dialog.js#L246

Using jquery.i18n, gettext or anothe

[2017-10-24 16:18] thadguidry commented on #1274
@jackyq2015 @ValentinChCloud
I should probably put this into our Wiki somewhere but... here's additional info for both of you to be aware of.  Something that I deal with often in the enterprise with Java apps running in containers.

A few things to be aware of when dealing with memory usage with Java Apps running in Containers…

1. The kernel can sometimes kill the Java process if JVM memory usage

[2017-10-24 16:53] thadguidry commented on #1268
@ostephens Awesome job on contributions Owen !  Your Rocking !  Keep 'em coming !

[2017-10-24 17:18] ostephens commented on #1113
So I've been having a look at this - it looks to me like the issue is with display rather than with the join. In the display, the spaces are collapsed (standard behaviour for html/web browsers), but if you actually access the value in the field, the spaces are present. See screenshot recreating scenario above with cell shown next to edit box for the cell - both contain the same information, but di

[2017-10-24 17:30] ostephens commented on #1113
Which leads me to ask - is there any reason we don't style cells with css `white-space: pre-wrap` ? This would be a simple and I think useful change

[2017-10-24 17:38] ettorerizza commented on #1113
Arf, you're right @ostephens. This is particularly misleading, since these extra spaces are also invisible in the transformation window.

![screenshot-localhost-3333-2017-10-24-19-36-25-495](https://user-images.githubusercontent.com/6286410/31958687-d5a92972-b8f2-11e7-9348-e03729d77515.jpeg)

[2017-10-24 18:44] thadguidry commented on #1113
@ettorerizza @ostephens Yeap... Hence the new issue I created so we can deal with that in a different and new and improved way, like other code editors, notepads, etc. deal with this...  #1286 and we can show those non-breaking spaces (nbsp) as well as regular spaces and carriage returns, etc ... basically anything less than char(32) ... the unprintable range.   The idea in #1286 is to showcase un

[2017-10-24 23:01] thadguidry opened #1287 "datePart() does not parse out milliseconds correctly"
![datepart_incorrect_milliseconds](https://user-images.githubusercontent.com/986438/31972204-1d068ff2-b8e5-11e7-9ccb-bc031a04c335.PNG)

With value being :

```05/18/2016 11:54:26.5550```

and applying GREL of

```value.toDate("MM/dd/yyyy HH:mm:ss.S")```
or
```value.toDate("MM/dd/yyyy HH:mm:ss.SSSS")```
or even just
```value.toDate("MM/dd/yyyy HH:mm:ss.")```

it seems that the millliseconds are not

[2017-10-24 23:18] ettorerizza commented on #1287
Hi @thadguidry ,

Yep, I noticed the same thing as I tried the formulas you proposed in response to the question on the mailing list. I also get 550 milliseconds. In addition, I have the impression that there is an error in the documentation. It says :

[code]

But using this method, I get a wrong date.

![screenshot-localhost-3333-2017-10-25-01-15-21-335](https://user-images.githubusercontent.com

[2017-10-25 01:23] thadguidry commented on #1113
@ostephens can you do an ad-hoc restyle, using browser dev tools and perhaps take a screenshot to show me how that might look like ?

[2017-10-25 03:20] jackyq2015 commented on #1287
@thadguidry There is nothing wrong with the parser.  5550 = 5 sec 550 ms, 7380  = 7 sec 380 ms.

[2017-10-25 04:43] thadguidry commented on #1287
@jackyq2015 I've renamed the issue to where I think the problem really lies, in the datePart() and not toDate().  Specifically I'm asking for the ```datePart("S")``` or ```datePart("milliseconds")``` and I expected that datePart("milliseconds") should have given only the millisecond part as a result.  Instead what happens is that OpenRefine chomps off 7 seconds from the requested millisecond part

[2017-10-25 07:24] ettorerizza commented on #1287
According to [this thread on SO](https://stackoverflow.com/questions/30135025/java-date-parsing-with-microsecond-or-nanosecond-accuracy), this looks like the normal behavior of SimpleDateFormat. The word "millisecond" must be taken in the sense of the unit of measure, not as a synonym for "decimal part of the seconds". So, if a user supplies a date with nanosecond precision and uses SimpleDate dir

[2017-10-25 09:25] ValentinChCloud commented on #1274
Very interesting, I guess I have to use openjdk-9 to work with containers right? I tried but as mentioned  #1162 didn't work ^^

[2017-10-25 09:44] ostephens commented on #1113
@thadguidry I'm ok with not changing this, but I don't understand what you mean that css pre-wrap changes the data value for the user?

And looking forward to news!

[2017-10-25 12:07] ostephens commented on #1115
Making `case sensitive` and `regular expression` text clickable in the Text filter was fixed by af1cc19c6db0f55a7226bfaa527eb0cdb244cd76

I'm against making the cells in the layout table clickable with the current editing mechanism - I often need to copy cell values, and I want to be able to do this without opening up an Edit pop-up.

I'm not sure about the column headings. Being able to copy thes

[2017-10-25 12:09] ostephens commented on #1268
Fixed by #1278 (now merged thanks @wetneb)

[2017-10-25 13:37] jackyq2015 commented on #1287
It is more accurate if parsing as  "fraction of the second" rather than "milliseconds". Good thing is this way can cover both from the Java 8- and Java 8+. Ie, when people use 999+ they know they are using nano sec so they are expecting the API parse the same. For who don't even know you can parse 999+ they assume it's a ms, so does the API. so it cannot be wrong.

I agreed that we should move to

[2017-10-25 13:41] jackyq2015 commented on #1274
jdk 8 is good to work with container. jdk9 is not supported yet.

[2017-10-25 13:48] jackyq2015 commented on #1269
Is exporting metadata to tabular data format  a general approach or it is just for wikidata? why we need to upload to wikimedia Commons

[2017-10-25 15:20] ValentinChCloud commented on #1274
Of course, I don't have any problems locally, so back to openstack issue :/.

[2017-10-25 15:57] thadguidry commented on #1287
Referenced Mailing list discussion for this issue https://groups.google.com/d/topic/openrefine/uU6O3OG4eng/discussion

[2017-10-25 17:30] wetneb commented on #1269
Hi @jackyq2015 - the tabular capabilities of Wikimedia Commons are (in principle) independent from Wikidata. However, they are of high interest to the Wikidata community because they provide an alternative storage method for some types of datasets that are too big to be represented as Wikidata claims (e.g.: if you have an hour-by-hour history of some exchange rate between two currencies over the p

[2017-10-25 17:32] #1268 closed

[2017-10-25 18:01] thadguidry commented on #1269
@wetneb Is there export functionality on Wikimedia Commons for the .tab to CSV or supporting [CSV on the Web](https://www.w3.org/TR/tabular-data-primer/) ?

[2017-10-25 18:02] jackyq2015 commented on #1269
My understanding of metadata is "data of data". seems wikimedia also call the data itself "metadata".

[2017-10-25 18:09] wetneb commented on #1269
Here is an example of the sort of metadata that these files can contain and that OpenRefine does not currently store:

![metadata](https://user-images.githubusercontent.com/309908/32014991-a4997cfe-b9b7-11e7-9bfe-12a56ac32824.png)

@thadguidry I think the specs are a subset of OKFN's Data Package (#778) but the features are quite limited for now.

So, to implement this exporter, we would need to h

[2017-10-25 18:11] thadguidry commented on #1269
@jackyq2015 Right understood.

[2017-10-25 20:19] jackyq2015 commented on #1274
close for now. if you think it's an issue of the OR itself. please reopen it.

[2017-10-25 20:19] #1274 closed

[2017-10-26 12:08] claussni commented on #1204
Implemented as optional 4th parameter to cross() function: https://github.com/claussni/OpenRefine/tree/cross-func-split

@felixlohmeier can you test this, please?

[2017-10-26 12:43] TYMartin opened #1288 "how to export large data set to excel that truncates after 255?"
Sorry, I haven't been able to find an answer to this. I've seen @tfmorris comments on including an ERROR message, but no way to fix it.

I've increased my memory, but I still am unable to export from OpenRefine back to Excel/Google Spreadsheets because of too many columns.

[2017-10-26 12:52] #1288 closed

[2017-10-26 15:44] felixlohmeier commented on #1204
result for anne should be "17 Morning Crescent"; i am going to open a new issue with example data

[2017-10-26 15:47] jackyq2015 commented on #1266
@thadguidry Are you sure The Expression input box itself (inside the Transform dialog) is resizeable? I tried but seems not.

[2017-10-26 16:09] felixlohmeier opened #1289 "Extend cross() function to support multiple-value-cell-input"
From a user perspective, I would like to call the cross function with a separator as 4th argument, so that multiple values (separated by a custom separator, e.g. ␟) in an input cell get "crossed".

## Example

### project "Christmas Gifts"

| gift | recipient |
| ------------- | ------------- |
| lamp  | mary  |
| clock  | john  |
| sweets  | mary,john  |
| wine  | anne,mary  |

### project "My Ad

[2017-10-26 16:22] felixlohmeier commented on #1289
[example-data-1289.zip](https://github.com/OpenRefine/OpenRefine/files/1419178/example-data-1289.zip)

[2017-10-27 02:28] richyvk commented on #1266
Done a bit more digging. Expression box is resizable in everything but IE because it is a textarea, and by default there are resizable in none IE browsers, via the resize css property.

I think getting the whole dialog box to resize might be hard, certainly outside of my skills. But, it looks to me like adding css to the expression box to limit resize to vertical would at least offer a possible fi

[2017-10-27 02:43] thadguidry commented on #1266
@richyvk Just FYI on the design we're looking towards and in our future plans are to have the expression box a dockable element that can be snapped to the left, right, bottom, etc (same for facets) and that can remain open and allow you to quickly click on a column and then move your mouse to that left, bottom, or right expression box and start transforming with Cloure, Python, GREL, etc.  Even op

[2017-10-27 12:32] ostephens commented on #1289
An issue here is that you cannot tell from the results which value resulted in the listed outcome. To take the simplest example:
### project "Christmas Gifts"

| gift | recipient |
| ------------- | ------------- |
| lamp  | mary  |
| clock  | john  |
| sweets  | mary,john  |
| wine  | anne,mary  |

### project "My Address Book"

| friend | address |
| ------------- | ------------- |
| john  | 120

[2017-10-27 12:40] wetneb commented on #1289
I agree… and splitting the cell contents on the fly with a regex is quite hacky too. The `cross` function already feels hacky in the first place actually. This is just a hack around the fact that OpenRefine's model is inherently designed for single-table databases. Ideally, we would a proper join operation between two tables.

[2017-10-27 12:52] ostephens commented on #1289
Also worth noting that with the change to use a string rather than just a 'cell' object for the lookup, the desired outcome can be achieved in GREL:

`forEach(value.split(","),v,forEach(v.cross("My Address Book","friend"),r,r.cells["address"].value).join(",")).join(",")`

(although I agree it isn't pretty)

[2017-10-27 12:57] ostephens commented on #1106
This is marked as closed but I can't see the original issue (sort order of operation history) is addressed? But also can't see that the order of the history panel has ever changed. Am I missing something?

[2017-10-27 12:59] felixlohmeier commented on #1289
I agree that it is quite hacky, but it is very useful and it works for all cases i can imagine. Before I have realized that the pull request got reverted I extended the documentation of the cross() function in the wiki, see https://github.com/OpenRefine/OpenRefine/wiki/GREL-Other-Functions (cross, note for dev version)

@ostephens, I think there are many possibilities with the new operator and com

[2017-10-27 13:06] wetneb commented on #1106
@ostephens indeed, only point 2. was solved.
I remember looking for the change of order and I have not found it either. I think it would be a sensible change, feel free to reopen.

[2017-10-27 13:21] felixlohmeier commented on #1289
@ostephens write:

The old cross() function builds a "cache" containing all cell values in from and to column. The GREL above does not produce the desired outcome if there are keys in the from column that are only present in multi-value form (e.g. mary, anne in one cell but no cell containing mary alone -> mary will not be "cached"). See this example: https://github.com/OpenRefine/OpenRefine/issue

[2017-10-27 13:27] ostephens commented on #1289
@felixlohmeier OK - hadn't noted the performance difference, and agree that's a big factor.

I have a common use for cross in which the target project for the cross contains multiple matches for a row in the source project - which I'm not sure this deals with so effectively - although maybe I need to experiment a bit more with the possible GREL!

I'm still not completely convinced the best thing t

[2017-10-27 14:16] thadguidry commented on #1289
Team,  S L O W   D O  W    N  here. :)

Overall there are several ways to approach the use case and making @felixlohmeier happy with essentially a faster "split or join operations that are based on keys".

But what I need to understand and what confuses me is a mixing of discussions all over the place and I want to know which one that @felixlohmeier is after.  Is it...

1.  We are trying to attemp

[2017-10-27 14:19] wetneb commented on #1289
Hmm, can you remind us who merged this PR on sight? ^^

[2017-10-27 14:20] thadguidry commented on #1289
@wetneb the PR made a bit of sense to me, but now we have @felixlohmeier last 2 hours of comments.  So that changes things Antonin.

[2017-10-27 16:22] jackyq2015 commented on #1289
I agree the idea of simplicity. cross function behaves like the database join operation but lacks the validation aspect due to the unawareness of schema of each other. so we have to make assumption that user understand their data before applying this operation. The idea situation is the data elements are normalised and can be matched without extra tweak. that's from the functionality point view as

[2017-10-27 16:24] felixlohmeier commented on #1289
Many thanks to ALL that you dive into my use case! I am happy with a more general approach and a S L O W D O W N :-). @claussni developed a solution that works for me, so it is not urgent for me anymore. But maybe the extended cross() functionality in #1294 is useful for someone else right now and could be merged until a more general approach is discussed and developed?

@thadguidry: here are some

[2017-10-27 16:27] felixlohmeier commented on #1289
@jackyq2015: the cross-func-split branch can handle foreach. @claussni adapted the "caching" method.

[2017-10-27 20:16] ettorerizza commented on #1158
The `cross() ` function sometimes has erratic behavior, with or whitout the VIB-BITS extension. Just now, a matching returned me, I do not know why, a "NullPointerException". I  restarted Open Refine and it worked correctly.

[2017-10-27 22:49] thadguidry commented on #1289
@felixlohmeier Why are you using Split Multi-Valued cells instead of 'Edit column -> Split into several columns' ?  Is it because you need record rows made from Split Multi-Valued cells ?

[2017-10-27 23:09] felixlohmeier commented on #1289
@thadguidry There are up to 40 keys in the from column in the example above. If I use "split into several columns" I will get up to 40 new columns. I would have to apply the cross function 40 times (one transformation for each column) and concat resulting values into one column afterwards, right? Performance is only slightly better (see above).

[2017-10-27 23:18] thadguidry commented on #1289
@felixlohmeier well I was thinking also of you playing with our Transpose while your doing that.  OpenRefine's data model prefers 'more rows, less columns'.  Honestly however, if you've got that much data to manipulate, I'd be more than happy to have a Google hangout with you this weekend and just train you and show you tips in Pentaho ETL or any other tool designed better for this.  We can certai

[2017-10-27 23:22] #1203 closed

[2017-10-28 00:13] felixlohmeier commented on #1289
Thank you @thadguidry, @jackyq2015, @ostephens and @wetneb. I understand your hesitation to put functionality into OpenRefine that is out of it's main scope. I am grateful for your comments.

I work with library data (books, articles, etc.) and in this particular use case we built a discovery tool based on existing data that is only available in proprietary structured fixed-width text files. The p

[2017-10-28 03:25] thadguidry commented on #1289
@felixlohmeier AH... and now I have the proper context. :)  Ok, then your fine.  I'm sure other folks WILL find a splitCross() function useful, but I am actually against having additional argument based approaches.  Early on we developed GREL and its syntax to be more functional oriented and support the wonderful dot notation chaining.  If we overload our existing cross() with tons of arguments, t

[2017-10-28 08:47] felixlohmeier commented on #1289
Sounds great @thadguidry ! In the meantime i will maintain a fork that includes #1294 here:
* fork: https://github.com/felixlohmeier/OpenRefine
* documentation: https://github.com/felixlohmeier/OpenRefine/wiki

I have reverted my changes to the documentation of the cross() function in the official OpenRefine wiki (and added a recipe from previous discussions from the mailing list).

I will close t

[2017-10-28 08:47] #1289 closed

[2017-10-28 14:15] thadguidry commented on #1289
@felixlohmeier Sure thing!  Nice working with you Felix on your interesting use case!

[2017-10-28 14:41] jackyq2015 commented on #1289
@thadguidry CodeMirror is great! but AutoCompletion seems broken.

@felixlohmeier I submitted one issue for your repo:
https://github.com/opencultureconsulting/openrefine-batch/issues/4

[2017-10-28 15:15] thadguidry commented on #1289
@jackyq2015 @felixlohmeier @wetneb For the big picture, I've begun describing the future state I'd like to see with ```cross()``` here https://github.com/OpenRefine/OpenRefine/projects/1#card-5380183

[2017-10-28 17:18] ettorerizza commented on #1265
@ostephens When you say  "using a bundled java", would that mean that Open Refine would become totally portable and would not need to install anything else to work? If so, it might interest some users, I believe.

https://twitter.com/parody_bit/status/923931736479883264

[2017-10-28 17:18] thadguidry opened #1295 "Add free memory detection and Notification to user"
... on 1st startup of OpenRefine.
Also add better/extra batch script output to warn user of low memory prior to starting Java VM.

This needs to work from Windows, Linux, and OSX.

**Windows:**  ```C:\Users\Thad>wmic os get FreePhysicalMemory /format:list```
**Linux:**  ```free -m | grep -oP '\d+' | head -n 1```
**OSX:**  ```vm_stat```  ??? but what additional options to parse out the free mem ?

[2017-10-28 17:20] thadguidry commented on #1245
@ettorerizza The free memory detection is being worked on in #1295

[2017-10-28 17:44] thadguidry commented on #1265
@ettorerizza The problem still might exist.  Users in constrained IT environments might not see OpenRefine being allowed to start because JRE or JDK is caught as suspicious by a corporate security program running on their computer.  We cannot help that however, so its a non-issue for us.

I think I would be OK with a bundled JRE, and allowing folks to still override the bundled JRE to that of thei

[2017-10-29 02:28] jackyq2015 commented on #1295
@thadguidry Auto setting is fine. But leaving the decision to end user might also an option. Your question is hard to answer because only end user knows their situation such as size of data set, complexity etc. Instead of auto set it, a responsive warning message when Out of Mem occurs could helpful

[2017-10-29 04:04] thadguidry commented on #1295
"Instead of auto set it, a responsive warning message when Out of Mem occurs could helpful"
@jackyq2015 Indeed, that also is needed.

[2017-10-29 10:26] ettorerizza commented on #1295
You are obviously right, @jackyq2015 . But we can also bet that, nowadays, most users will increase the memory and give it a default level. They will then increase it on a case-by-case basis. Half of the RAM seems to me a good starting point. I give more personally (about 75%, 12GB out of 16), but I am kind of heavy user.

[2017-10-31 02:04] magdmartin commented on #1295
Can we allow the user to set up the memory from the `preference` page? We can show to the user how much memory is available on the machine and let him/her adjust.

like @jackyq2015 mentioned, I will cautious to auto set the memory as 1) we don't know the size of the data set and 2) we don't know if the user is running and other RAM greedy application

[2017-10-31 02:37] thadguidry commented on #1295
@magdmartin on point 2 we do know what the FREE memory is...and taking 50% of that the first time they run OpenRefine shouldn't cause too many problems.  Yeah, we can do preference setup.

[2017-10-31 03:54] richyvk commented on #1266
@thadguidry Thanks for that. Do you know when this big change might happen? I'm wondering if it's worth my PR, but if the big change is a way off, maybe it still is?

[2017-10-31 10:49] thadguidry commented on #1266
@richyvk A long ways off.

[2017-10-31 11:37] thadguidry commented on #1295
@jackyq2015 Can you confirm that the OSX options above work well enough for us to parse out the FREE memory ?

[2017-10-31 11:58] ettorerizza commented on #952
It would be a very simple yet usefull enhancement.

[2017-10-31 13:14] thadguidry commented on #952
@ettorerizza Something like this would work that says "exclude" where the "undefined" is ?

![screenshot-2017-10-31 clipboard - openrefine](https://user-images.githubusercontent.com/986438/32225316-b95156e4-be12-11e7-8a69-42b0807d094a.png)

For whomever wants to hack and learn... @ostephens !!! :) the code is here:
https://github.com/OpenRefine/OpenRefine/blob/master/main/src/com/google/refine/bro

[2017-10-31 13:32] wetneb commented on #952
@thadguidry you seem to be pretty close to a working prototype of that feature, why don't you propose a PR yourself? I'm sure you can do it!

[2017-10-31 13:44] ostephens commented on #952
I'm happy to have a look, but probably not this week now :)

I see this working the same as 'invert' on the facets - you retrieve the inverse set of rows/records to those that would be retrieved usually - i.e. all those that don't match the text in the filter.

What about implementing as an 'Invert' link to keep consistency with the Facet panel UI and terminology?

[2017-10-31 21:03] ettorerizza commented on #583
XML rendering in the browser is still **very, very, very** slow. I only go through sites like [this one](http://www.convertcsv.com/xml-to-csv.htm) to try to get a CSV that will then import into Open Refine.

![screencast](https://user-images.githubusercontent.com/6286410/32248833-36bf6b38-be87-11e7-990d-a64fc01a769a.gif)

[2017-10-31 21:11] thadguidry commented on #583
@ettorerizza Yeah, we know... Jackson library does fine for parsing it out... the problem is the Record row rendering is slow.  I'll mark this has higher priority to look into and fix eventually.  Thanks Ettore !

[2017-10-31 22:50] jackyq2015 commented on #1265
@thadguidry self-signed cert is not mandatory from OSX level. Since we are not distribute the software to apple store, that not mandatory either(actually, if you want to distribute to store, you need a developer certificate signed from apple). AFAIK, The reason we self-signed it is to avoid some warning popup for security from the OSX. And for some system, OSX will hide the icon when it is not sel

[2017-11-01 17:28] ettorerizza opened #1296 "add find() function similar to match() but can do re.findall() in python"
I do not like `match()` and I'm sure I'm not the only one. As much as `replace()` is a pleasure to use, so much `match()` gives me a headache. In 90% of the cases, someone who uses this function wants to find some substrings in a string using a regular expression. But why is it absolutely necessary that this function imposes to match first the whole cell? In any regular expression tester, like reg

[2017-11-01 19:23] #1162 closed

[2017-11-01 19:45] jackyq2015 commented on #1296
but what's the fundamental difference do you expect from the future find() and current match()?

[2017-11-01 19:51] ettorerizza commented on #1296
@jackyq2015 Simply that it works in a natural way. On the string "Hello World", how would you, with `match()`, extract all words that start with a capital letter? Or maybe I don't understand it correctly.

[2017-11-01 21:02] ostephens commented on #1296
It feels like what is needed here is just a ‘regex’ function that takes a regex and returns an array of any capture groups

I would say the two things that frustrate me about ‘match’ are:

1) the need to match the entire string
2) the inability to do a /g flag to do a global reg ex

[2017-11-01 21:12] jackyq2015 commented on #1296
@ettorerizza you should have be able to do group and get the result. something like this:
value.match(/(([A-Z](.+?))) /)

But seems it doesn't work. I would say it's a bug.

[2017-11-01 21:21] ettorerizza commented on #1296
@jackyq2015 It's not a bug, it's unfortunately a feature. [The documentation is clear on this.](https://github.com/OpenRefine/OpenRefine/wiki/GREL-String-Functions#matchstring-s-regexp-p)

On the string "`hello 123456 goodbye`", you can't simply extract the number with `value.match (/(\d{6})/)`.  You must match the whole string and indicate between parentheses the part you want to extract, that is

[2017-11-01 21:49] thadguidry opened #1297 "Text filter causes exception when regex pattern is not yet complete"
Using OpenRefine release 2.7.0
This can be reproduced with any text cell value, for instance

1. Add text filter on column.
2. Type into the text filter column ...

```^tha```

3. now type 1 more character, a backslash character \

```^tha\```

4. Notice that you get a waiting spinner and the following exception caught in the console:

[code]

[2017-11-01 22:23] ettorerizza commented on #1297
I see the development version no longer behaves in the same way when the regex box is checked and a bad regular expression is written. Errors always appear as you type, but no more the gray spinning wheel. It's certainly related to #1203.

![screencast2](https://user-images.githubusercontent.com/6286410/32300842-a17adde8-bf5b-11e7-8e61-e055a597b3e0.gif)

[2017-11-01 22:24] ostephens commented on #1297
Isn’t this the same as #1203?

[2017-11-01 22:40] schignel opened #1298 "Transform not executing"
GREL functions that have no syntax errors do not execute. Nothing happens when the "OK" button is pressed. Video is attached for reference.

Open Refine 2.7
Firefox 57.0b13 (64-bit)

![image](https://user-images.githubusercontent.com/19474876/32301277-3738c860-bf55-11e7-99ae-fe94a746acb3.png)

[capture.zip](https://github.com/OpenRefine/OpenRefine/files/1435929/capture.zip)

[2017-11-01 22:53] thadguidry commented on #1297
@ostephens Yeap, but it should not throw an exception... we don't want it to...its a bad user experience....let me explain so it makes more sense and you can see the alternative way to handle this...

OK, so...
The \ is a valid regex character technically, in other words lets not treat it as a compile pattern error YET, because users are still typing to put something after it like \d or \b etc :)

[2017-11-01 23:01] wetneb commented on #1297
I agree that the "Unexpected internal error" wording should be changed to something less scary ("invalid regular expression" or something like that). I'm not sure it's worth making special cases for some types of unterminated expressions… I think the user is grown up enough to accept that their expressions may not be valid while they type them.

[2017-11-01 23:04] thadguidry commented on #1297
@wetneb right.  its just the slash \ really that will cause a bit of grief for users.  This is a common known thing to pretty up sometimes in tools that use java.util.regex

[2017-11-01 23:05] jackyq2015 commented on #1298
just tied with the head version without issue. Did you see any exception from the console. or can you try chrome instead?

[2017-11-01 23:34] schignel commented on #1298
Thanks@jackyq2015! Switching to Chrome fixed the problem.

So something to with Firefox? I have a number of add-ons enabled. I have listed them below in case this is useful for bug fixing (listed below):

![image](https://user-images.githubusercontent.com/19474876/32302914-358cc5b8-bf5d-11e7-8902-5ea5aa84cd4d.png)

[2017-11-01 23:37] jackyq2015 commented on #1296
GREL match just wrapped the java java.util.regex.Matcher. But java.util.regex.Matcher is able to do the same thing your python script does. If we stick with the document, current behaviour follow the spec well.
Maybe we can add another function findall to do the same thing. thought?

[2017-11-01 23:43] ostephens commented on #1297
I’m happy to have another look at this

[2017-11-02 01:28] jackyq2015 commented on #1297
maybe add more timeout before send request to back end?

[2017-11-02 01:57] jackyq2015 commented on #1298
I just tried on firefox and works well also. It's hard to say which plugin cause issue. I haven't heard most of them. You can open the developer tool by press ctrl-shift-I to watch if there is any exception on the javascript console to help troubleshooting. close for now

[2017-11-02 01:57] #1298 closed

[2017-11-02 09:25] ostephens commented on #1297
@jackyq2015 I thought about that, but it felt like that was just trying to avoid the issue rather than resolving it, and will decrease the overall responsiveness of the filter - which I think would be a negative outcome for the user.

@thadguidry I'm not quite clear on why '\' is a special case - why is getting an error with `^tha\` any different to getting an error with `^tha[` ?

[2017-11-02 10:47] ettorerizza opened #1299 "Reorder the drop-down menus hierarchy"
In light of intense use of Open Refine, it seems to me that some of the most used features are hidden too deeply in the hirerachie menus.

I am thinking in particular of "facet by blank", one of those I use most often.

![blank](https://user-images.githubusercontent.com/6286410/32322032-5a01c1da-bfc3-11e7-892f-3a959927917e.jpg)

But also to "remove all matching rows"

![remove](https://user-images

[2017-11-02 11:15] ettorerizza commented on #1296
@jackyq2015 Exactly. Looks like the [find() method ](http://tutorials.jenkov.com/java-regex/matcher.html) already exists and it would be easy to create a `match()` variant named `find()`.

[2017-11-02 11:31] ettorerizza commented on #1298
@jackyq2015  @schignel Ok, I see, the problem comes from [Poper Blocker extension](https://addons.mozilla.org/en-US/firefox/addon/poper-blocker-pop-up-blocker/).

[2017-11-02 14:19] thadguidry commented on #1297
@ostephens Hi Owen, I think as a programmer your caught up on the error, which is expected, but I want you to approach this as you are showing an 8th grader a demo of text filtering.  How would you make this a better experience for them while also helping them to learn more?  Look at how other tools beautify this error.  Try it on https://regexr.com/  You can hover over the error and see a friendl

[2017-11-02 18:01] jackyq2015 commented on #1297
I agree that there is is no special case. This is only case which is code handle it properly or not. I think
-  it is an exception from the back end somewhere is not handled(that caused the hanging)
- Because of above, the exception is not converted to json error, which is why the error message from U looks weird.

[2017-11-02 23:45] ostephens commented on #1297
Thanks @thadguidry thanks @jackyq2015 . I definitely understand that the user needs better feedback on what is happening and how to fix the problem.

What I'm thinking is that I can write something to validate the regular expression at the server end, and pass back a meaningful error message in JSON - which would be displayed in place of the current error generated by the java exception. Does this

[2017-11-03 02:35] thadguidry commented on #1297
@ostephens You might also find a way de-couple and reuse that effort in GREL in our expression dialog for match() and partition(), etc , i.e. all the places that use java.util.regex

Regarding the lookbehind... hmm, the text filter still uses java here which does support lookbehind, although not the blazing fastest https://www.javaworld.com/article/2077757/core-java/optimizing-regular-expressions-

[2017-11-03 03:23] thadguidry commented on #1299
@ettorerizza :) And guess what else David and I had envisioned and planned for back in the day but never implemented ?  Yeap, macros (That enhancement was somewhere at one time, dunno if its still here somewhere, but basically creating your OWN menu items based on a GREL expression) and then having customizable menus to your liking (stored preferences, and UI is do-able with the right javascript l

[2017-11-03 07:54] ettorerizza commented on #109
Probably related to #1299

[2017-11-03 13:55] jackyq2015 commented on #1221
I finished most of the work as we discussed above. Those are some screenshots that I want to share with you firstly:
- Index page(client name is user defined)
![edit the meta](https://user-images.githubusercontent.com/10520203/32376730-006ef58e-c07c-11e7-9cc9-13dd64c7db82.png)

- To display all the meta and edit them
![edit metadata dialog](https://user-images.githubusercontent.com/10520203/323767

[2017-11-03 14:03] ettorerizza commented on #1221
@jackyq2015 At first glance, this really looks like what I had in mind! Good job ! Just a question: I see that the metadata fields are not sortable. Is there any way to find a project by its metadata in this version?

[2017-11-03 14:17] thadguidry commented on #109
@ettorerizza Ya found the issue ! haha

[2017-11-03 14:23] jackyq2015 commented on #1221
@ettorerizza Glad you like it. :) There is no support for "search project by metadata" yet. But I will try to add  a function to sort by header. is that work for you?

[2017-11-03 14:25] ettorerizza commented on #1221
As far as I'm concerned, you can claim the bounty. I do not know what @magdmartin thinks about it.

[2017-11-03 14:31] thadguidry commented on #1221
@jackyq2015 what appears or happens when the users clicks on all those EDIT buttons ?  Why have an EDIT button , when clickable input fields could be used and then a single cancel and save button ?

[2017-11-03 16:07] ettorerizza commented on #742
Issue still relevant for many users : https://groups.google.com/forum/#!topic/openrefine/TjxiExVpJ6w

[2017-11-03 18:11] jackyq2015 commented on #1221
@thadguidry when click edit, a popup box will show and you can enter the new value. It is the same way we edit the preference value. Ideally, we should use a pretty popup box including the height and other css. But I would like to tackle it as a separate task for all the prompt/alert function.

[2017-11-03 19:14] thadguidry commented on #1221
@jackyq2015 ok understood.  1 step at a time :)

[2017-11-04 11:58] ettorerizza opened #1302 "The duplicate facet does not take into account other facets"
Original user question : https://groups.google.com/forum/#!topic/openrefine/JDpix4g2Jc4

Here is an example dataset :

[code]

If I make a "text facet" on column A and I select the value 3, a "duplicate facet" on column B should send me only 2 duplicates, not 3. Bug or feature?

![screenshot-127 0 0 1-3333-2017-11-04-12-54-23-292](https://user-images.githubusercontent.com/6286410/32405153-bd1e863e

[2017-11-04 14:13] magdmartin opened #1303 "Create a link to the preference page from the home menu"
From the home page, we should create a link in the left menu to the `preference` page. We can create the link after the `Language Settings` option.

[2017-11-04 14:13] magdmartin commented on #1221
It looks great @jackyq2015  thanks a lot.  My only comment is to add a link to the preference page - see #1303

@ettorerizza `ctrl+F` also work to search for a specific meta on the page ;)

[2017-11-04 14:59] thadguidry commented on #1302
It's a feature and works on single column. I think we already have an issue somewhere to provide a unique rows facet that would do what your asking.  If not, please create one.

[2017-11-04 15:46] ettorerizza commented on #592
Related to #1302

[2017-11-04 15:46] ettorerizza commented on #930
Related to #1302

[2017-11-04 21:38] jackyq2015 commented on #1303
done by #1301

[2017-11-04 21:38] #1303 closed

[2017-11-04 21:38] jackyq2015 commented on #1209
fixed

[2017-11-04 21:38] #1209 closed

[2017-11-04 21:41] jackyq2015 commented on #1221
@ettorerizza sort added
@magdmartin pref link added
done by PR #1301

[2017-11-04 21:46] ettorerizza commented on #1221
@jackyq2015 I can not launch the development version anymore.

Error in console

[code]

![sans titre 1](https://user-images.githubusercontent.com/6286410/32409753-ee56432a-c1b1-11e7-8441-700394516604.jpg)

[2017-11-04 21:47] jackyq2015 commented on #1295
OXS don't have the free command. But I confirmed this works:
`vm_stat | perl -ne '/page size of (\d+)/ and $size=$1; /Pages\s+([^:]+)[^\d]+(\d+)/ and printf("%-16s % 16.2f Mi\n", "$1:", $2 * $size / 1048576);'`

Link:
https://apple.stackexchange.com/questions/4286/is-there-a-mac-os-x-terminal-version-of-the-free-command-in-linux-systems

[2017-11-04 23:17] jackyq2015 commented on #1221
@ettorerizza just put a fix. please try again.

[2017-11-04 23:21] ettorerizza commented on #1221
Same problem

[code]

[2017-11-04 23:39] jackyq2015 opened #1305 "Display the git version when startup"
Right now, we have the following message on the console when startup:
00:19:26.615 [                   refine] Starting OpenRefine 2.7 [TRUNK]... (22ms)

Instead of TRUNK, need a git version to precisely identify a version.

[2017-11-04 23:56] jackyq2015 commented on #1221
After pull, did you run ant? I tried on Linux, windows and Mac. there is no issue to start

[2017-11-04 23:59] ettorerizza commented on #1221
@jackyq2015  Oh, gosh... Sorry for my stupidity, I'm tired. It works !

![screenshot-127 0 0 1-3333-2017-11-05-00-58-54-594](https://user-images.githubusercontent.com/6286410/32410588-9f727cd4-c1c4-11e7-9f1d-030ca9136788.jpeg)

[2017-11-05 00:07] ettorerizza commented on #1221
Hmm, looks like the edits buttons appear in the old projects, but not for those just created.

![screenshot-127 0 0 1-3333-2017-11-05-01-02-43-716](https://user-images.githubusercontent.com/6286410/32410629-9328c8b0-c1c5-11e7-88b5-e5520098bf6f.jpeg)

[2017-11-05 00:20] jackyq2015 commented on #1221
Can you move the dialog to the left a little bit?

Also, when change the userMetaData, the server has to restart to load it since it is a singleton.

[2017-11-05 00:24] ettorerizza commented on #1221
"Also, when change the userMetaData, the server has to restart to load it since it is a singleton."

Yep. Clicking on the column name dic not seem to have any effect, but it works after restarting. I will do other tests tomorrow. Thanks again for everything, @jackyq2015 !

[2017-11-05 00:41] ettorerizza commented on #1221
Just before I forget it: sorting by "last modified" does not work as one might expect. It does not sort values as dates, but as strings. If you click on it, all the chronological order of your projects is lost.

![screenshot-127 0 0 1-3333-2017-11-05-01-38-38-641](https://user-images.githubusercontent.com/6286410/32410829-66aef62e-c1ca-11e7-9c38-24d4e28592b7.jpeg)
![screenshot-127 0 0 1-3333-2017-

[2017-11-05 00:49] jackyq2015 opened #1306 "metadata dialog messed up when have long value"
https://github.com/OpenRefine/OpenRefine/issues/1221#issuecomment-341939286

[2017-11-05 00:53] jackyq2015 opened #1307 "metadata sorter cannot sort the "last modified" in date order"
it treats the date as a string. Need to define the customer sorter to make it work.

https://github.com/OpenRefine/OpenRefine/issues/1221#issuecomment-341940619

[2017-11-05 01:00] jackyq2015 opened #1308 "user MetaData cannot be reflected immediately after update"
When change the userMetaData, the server has to restart to load it since it is a singleton. Need a way to force refresh it both on the server side and client side

[2017-11-05 01:04] jackyq2015 commented on #1221
@ettorerizza Thanks for the test. created issue #1306, #1307, #1308 to track them separately

[2017-11-05 02:55] #1307 closed

[2017-11-05 03:58] #1306 closed

[2017-11-05 12:01] ettorerizza commented on #1221
@jackyq2015  Wow, it looks like you did a lot of work last night! Thanks !

I did some tests again this morning: it looks like the end is near. :)

Here are the few bugs I have identified so far:

- Sorting by date still does not work properly, even if the column now displays a date. I guess that projects are sorted by hour-minute-second rather than by day-month-year.

- Long free descriptions ten

[2017-11-05 15:44] jackyq2015 commented on #1221
@ettorerizza I fixed the bugs you mentioned above except "user metadata" one. could you please create a separate  issue with detail to reproduce it. Thanks

[2017-11-05 16:29] thadguidry commented on #1295
@jackyq2015 hmm... there's a Perl dependency... can you confirm if this works also ?  ```top -l 1 | grep ^PhysMem get us closer to that ?```

[2017-11-05 18:52] ettorerizza commented on #1221
Great @jackyq2015 ! If we put aside the "user metadata", I think we are close to the end. I see that you have chosen as an option to keep a fixed size for the display of columns on the screen, and a fixed size for the columns. I think it's a good choice considering the limitations of the UI. Here is what it looks with the original metadata and **three columns of user metadata**.

With a 100% zoom

[2017-11-05 19:05] thadguidry commented on #1221
@jackyq2015 @ettorerizza The idea was to have each column as optional to display on the project page.  We just need a checkbox column (Show/Hide) next to each metadata column name on the edit dialog to handle this.  The Project Name column should always show and not allow to hide.  We'll provide resizeable columns throughout the UI's later on in further milestone after December 2017.

[2017-11-06 01:36] jackyq2015 commented on #1221
The width css is not taken for some reason after apply of the table sorter. Will try to fix it to make it nicer. But as Thad said, the long term solution will be the resizeable table.

[2017-11-06 08:19] ettorerizza commented on #1221
The "edit cells" -> Transform" and "All -> transform" windows sometimes extend the entire screen (but not the "add column based on this column" window)

![screenshot-127 0 0 1-3333-2017-11-06-09-15-01-026](https://user-images.githubusercontent.com/6286410/32431376-89e988b6-c2d3-11e7-81fe-9f74ee92d4d2.jpeg)

[2017-11-08 03:38] thadguidry commented on #33
@wetneb Does this happen on your working branch any longer with Wikidata new parts ? If not, then let's close this out noting so.

[2017-11-08 08:41] wetneb commented on #33
@thadguidry yes this is unfortunately still current (it is not specific to freebase).

[2017-11-08 08:59] ettorerizza commented on #33
Here is a visual example. As you can see, I'm on pages 91-100. But as soon as I make a reconciliation, I come back to page 1.

![screencast2](https://user-images.githubusercontent.com/6286410/32539948-6ccfe2fe-c46b-11e7-902a-79048cc4143b.gif)

[2017-11-08 10:00] ostephens commented on #251
Is this delivered (at least partially?) by https://github.com/OpenRefine/OpenRefine/commit/20acc17c05c3d76a643908fe8918d788abc2cf6f

[2017-11-08 10:08] ostephens commented on #52
See also the 'Named Entity Recognition' extension from 'Free Your Metadata' https://github.com/RubenVerborgh/Refine-NER-Extension

[2017-11-08 10:21] ostephens commented on #33
See also #569 - similar issue (user is returned to start (row 1) of project), but in relation to a different action ("Apply to all identical cells" on manual cell edit)

[2017-11-08 10:40] ostephens commented on #239
Think this is a duplicate of #68 ?

[2017-11-08 10:53] ostephens commented on #194
This can be done by using the construction:

{{forEach(row.columnNames,cn,"|"+cells[cn].value)}}

Is this sufficient to close this issue?

[2017-11-08 13:24] thadguidry commented on #239
Yeap this is a duplicate.
Closing this one since #68 describes the need very well and discusses options.

[2017-11-08 13:24] #239 closed

[2017-11-08 13:32] thadguidry commented on #251
Yes @ostephens , I think it does, so closing this one.
Supporting Macros is in issue #109

[2017-11-08 13:32] #251 closed

[2017-11-08 13:43] thadguidry commented on #52
@ostephens Yes there are extensions to OpenRefine that handle this.  Closing this issue.

[2017-11-08 13:43] #52 closed

[2017-11-08 13:53] thadguidry commented on #194
@ostephens yeah it is sufficient, that was @iainsproat use case many years ago, we solved it that way on the mailing list.  Closing this. And thanks for navigating through these old issues to help close them out.

[2017-11-08 13:53] #194 closed

[2017-11-08 14:14] thadguidry opened #1312 "Allow column resize and auto-resize on browser resize"
A community request was mentioned on our mailing list https://groups.google.com/d/topic/openrefine/H3FAf5DSHPk/discussion

This example demonstrates the basic need of having resize-able columns and also auto-resizing the columns if the user changes the size of their browser window.
http://6pac.github.io/SlickGrid/examples/example15-auto-resize.html

[2017-11-08 16:37] wetneb commented on #239
@ostephens @thadguidry thanks for your work on cleaning up these old issues!

[2017-11-08 17:50] jackyq2015 commented on #1312
there is one for AugularJS. just for the records:
https://tympanix.github.io/angular-table-resize/

[2017-11-08 22:52] jackyq2015 commented on #1221
@ettorerizza I fixed the table width issue. Not perfect as I said. but much better. :)

Also the refresh issue was fixed. Please have a try.

[2017-11-08 22:53] jackyq2015 commented on #1308
fixed by PR #1313

[2017-11-08 22:53] #1308 closed

[2017-11-09 00:18] jackyq2015 commented on #1295
Yes. it works:
`$ top -l 1 | grep PhysMem
  PhysMem: 1473M used (439M wired), 4543M unused.`
` $ top -l 1 | grep PhysMem | awk '{print $6}' 4535M`

[2017-11-09 10:34] wetneb commented on #1221
@jackyq2015 thanks a lot for taking my rants into account! That was quick! I have just tried the new projects view and it looks great! Here are a few other things:

1. When your mouse is not positioned on any row of the table, the first three columns look a bit mysterious - maybe it would be worth having some labels for them too? Or not having empty headers at all?
![mysterious](https://user-image

[2017-11-09 12:59] JosefAssad commented on #841
Ah, it might be something local, and it might also be me doing something obviously wrong, but I can reproduce this. Openrefine 2.7 on Debian stable, reproducing my dataset at the bottom of this comment.

Steps to reproduce:

1. Import the dataset
2. Transform the "rooms" column to number
3. Add numeric facet on Rooms column
4. Observe how histogram looks correct
5. Click "change" on the facet
6. E

[2017-11-09 13:53] jackyq2015 commented on #1221
@wetneb Thanks for the feedback. I agreed all of them will be working on the improvement.

For that 3 mysterious link at left hand, I think we can just give them a label instead of hiding it. Also we can remove the header borders for those 3.

For the "about" view, are you suggesting to remove the background of "edit" button to make it fit?

Any thoughts?

[2017-11-09 14:12] ostephens commented on #841
I think this is the expected behaviour. A 'Numeric Facet' can only represent numeric outcomes - but by changing the facet expression to `value>2` you have a boolean outcome. For this to work, you need to use the 'Custom Text Facet' (or do a text facet and click 'change' and enter the expression)

[2017-11-09 17:10] ygherman opened #1316 "RDF extension display in browser distorted"
Hi,
I'm having a display issue with the rdf extension, in the skeleton editing window.
The display in chrome and firefox (these are the browsers I've checked) of the skeleton editing windows is distorted that I cannot edit and configure all the fields I need.

Attached is the view of the display I'm getting:

![image](https://user-images.githubusercontent.com/2689048/32618786-52e0676c-c581-11e7-95

[2017-11-09 17:14] wetneb commented on #1316
@ygherman hi, we are aware of this issue but the RDF extension is not maintained by this team. I think this extension is looking for a maintainer actually.

[2017-11-09 17:14] #1316 closed

[2017-11-09 17:28] thadguidry commented on #1286
@ostephens @ettorerizza @wetneb Do you guys also like that orange colored example ?  Does it have a good fit and finish for cell styling in OpenRefine ?  Of course we'll work with a Google Designer for some of this later on, but for now I wanted to just show a better example of how the look could be.  Both Jacky and I prefer the coloring and style using graphic symbols, like example 2 shows, rathe

[2017-11-09 17:32] fpompermaier commented on #1316
We could tale care of it...could it be possibile to move it under an
official repo?

On 9 Nov 2017 18:15, "Antonin Delpeuch" <notifications@github.com> wrote:

[2017-11-09 17:35] ettorerizza commented on #1316
https://github.com/fadmaa/grefine-rdf-extension

The author is @fmaali

[2017-11-09 17:38] ettorerizza commented on #1286
The colored symbols also seem to me both clearer and more aesthetic.

[2017-11-09 17:38] fpompermaier commented on #1316
How can we ask for its ownership ?

On 9 Nov 2017 18:35, "Ettore Rizza" <notifications@github.com> wrote:

[2017-11-09 17:45] wetneb commented on #1316
@fpompermaier just fork it and you'll be the owner :)

[2017-11-09 17:46] ettorerizza commented on #1316
The Github repo does not mention a type of license. I don't know who owns the intellectual property. This extension was developed within the DERI research center, which no longer exists, I believe, or has been merged. The best is to ask the author.

[2017-11-09 17:58] thadguidry commented on #1316
All software produced in DERI is BSD licensed.  Even if @fmaali doesn't recall :)  He and Richard mentioned it once in a talk http://refine.deri.ie/

[2017-11-09 18:24] fpompermaier commented on #1316
@wetneb I was referring to an official ownership...the right term is repository transfer: https://help.github.com/articles/about-repository-transfers/

[2017-11-09 19:19] wetneb commented on #1316
@fpompermaier my point is that you don't need to transfer the repository at all! If you start maintaining your own fork of it, you'll be de facto the owner of the "official" repo. That's the good thing about FOSS! :)

[2017-11-10 02:49] magdmartin commented on #1316
@fpompermaier Please lets us know what is the new project URL so we can promote and redirect users.

[2017-11-10 03:33] thadguidry commented on #1297
@ostephens How's work progressing on this Owen ?

[2017-11-10 03:35] thadguidry commented on #1228
@narendravardi How's your progress coming on this issue ?

[2017-11-10 03:37] thadguidry commented on #1228
@narendravardi How's your progress on this ?

[2017-11-10 03:39] jackyq2015 commented on #1221
Pushed the code. It is much better now! cheers

[2017-11-10 04:02] thadguidry commented on #1232
@ettorerizza Can we close this ?  or do you need something more from us on this issue ?

[2017-11-10 04:12] thadguidry commented on #1241
I don't think there is much we can do here other than escaping a column name.
Perhaps something like

```\u00A0UNID```

Would that help you catch something next time @eximius313 ?

[2017-11-10 08:49] fpompermaier commented on #1316
We made a fork at https://github.com/okkam-it/grefine-rdf-extension but we
need some time to align our code (that use a mavenized version of Refine)
and to check if it works with Refine 2.7 and the code on the master branch.
We'll let you know once ready

On 10 November 2017 at 03:49, Martin Magdinier <notifications@github.com>
wrote:

[2017-11-10 09:55] ostephens commented on #1286
To be contrary, I have to admit I prefer the text based control character symbols. But happy to go with the majority view!

[2017-11-10 14:15] ettorerizza commented on #1232
@thadguidry Yes, of course, you can close this thread if you want. I keep in mind the idea that GREL or Python code snippets exchangeable between users would be a good idea, but it's not a priority.

[2017-11-10 14:43] thadguidry commented on #1286
@ostephens Why do you like them more ?  because they stand out more ?  they are a bit larger ?

![capture](https://user-images.githubusercontent.com/986438/32663183-a6769e5c-c5f2-11e7-9307-401e4a281eaa.PNG)
![capture](https://user-images.githubusercontent.com/986438/32663255-e794dafc-c5f2-11e7-812b-d93c65766751.PNG)

[2017-11-10 14:53] thadguidry commented on #1232
@ettorerizza Ah, you want a way to share Expressions...like perhaps having a window in OpenRefine to search by categories and then scrolling in that category to see the community Expressions, etc. and then you can click on one to use it.  Do you ever use the "Starred" feature ?  Anyways, similar to our own Starred but allow a more flexible, larger, community sharing window for searching for Expres

[2017-11-10 15:00] thadguidry commented on #912
This is duplicated in #1232

[2017-11-10 15:07] ostephens commented on #1241
Maybe two aspects to this:

1) Displaying any special characters in Column names - this might overlap with #1286 ?
2) Making sure BOM is never treated as part of the first column name on import?

I've not looked at the code, but feels like the latter could be a relatively easy think to check for on import and fix?

[2017-11-10 15:12] ostephens commented on #1286
I prefer them both because they are easier to read (larger text) and I feel they are more explicit and easier to learn - I don't have to learn what each of the icons/graphics stand for.

On the latter point - easier to know the difference between SP and NBSP in comparison to learning which one is represented by a filled in square, and which is an empty square.

[2017-11-10 15:44] thadguidry commented on #36
@jackyq2015 @wetneb @ostephens @ettorerizza Read through this issue... I think David Huynh has a good point, and this would be a very useful new GREL function.

Imagine a value...

```Yang,David,John ,Charlie```

and doing GREL

```value.split(',')```

produces

```[ "Yang", "David", "John", "Charlie" ]```

and by adding a new command

```value.split(',').```**toColumns()**

the preview window wil

[2017-11-10 15:59] thadguidry commented on #1241
@ostephens
RE 1 - No it won't overlap with #1286 since that will be a CSS style applied, not a value replacement.  For this issue, I would rather do a value replacement by just escaping hidden characters on a created column name as in my example and then the user can see clearly and can rename it.

RE 2 No, that can cause a few other problems.  We try really hard to give the users all their data t

[2017-11-10 16:47] thadguidry commented on #1297
@ostephens of course its OK.  We appreciate any effort.

[2017-11-10 16:53] thadguidry commented on #1286
@ostephens interesting you mention you don't have to learn what the icons/graphics stand for.  The icons and graphics are actually international and well defined.  You will see them on Chinese and Ukrainian keyboards for instance.  Look at your Tab key.  But I think I understand...we're a bit of an internet society now and the historical ways of labeling don't want to budge. :)

Its a bit 'in your

[2017-11-10 16:53] jackyq2015 commented on #1228
I would say it is an expected behaviour.  The original number has the 1 decimal. so the 14.0 will show as 14 when it's a number. But when you convert to text, it shows 14.0 to preserve the decimal. There is no need and also should not cut the trailing 0

[2017-11-10 17:09] ostephens commented on #1286
@thadguidry I agree some of the icons are clear/well understood (the tab is a good example). I also accept that the icons/graphics are defined internationally - so it maybe that I just need to get used to them.

At the moment I think the weight of opinion (such as it is) is in favour of the graphic symbols - you and @ettorerizza vs me. Unless anyone else wants to support my view, then I think grap

[2017-11-10 17:32] thadguidry commented on #1286
@ostephens No, I agree with you now.  The \n\l for instance will be better represented, its actually 2 separate control chars, and not just 1.  Despite their being Unicode graphic forms that represent some of these control characters, not all of the char(0) - char(31) are well represented in those graphic forms.

We'll use the Unicode abbreviations (NUL, DEL, etc) https://en.wikipedia.org/wiki/Con

[2017-11-10 18:07] jackyq2015 commented on #1236
will be release at 2.7.2 soon

[2017-11-10 18:07] #1236 closed

[2017-11-10 18:10] thadguidry commented on #1228
@jackyq2015 this needs to be a display option then, I would say.  So let's make an enhancement around the need to SHOW FULL PRECISION or somesuch....it has been asked for before on the mailing list in the past.  Do you agree with adding a new display option, Jacky ?

[2017-11-10 18:22] jackyq2015 commented on #1295
I just realised there is some issue if we want to implement this:
1. it will automatically set the RAM for user which will disable the possibility to tune the JVM themselves. Unless you provide extra switch to skip the automatically setting or enforce the user setting. That defeats the purpose of the intention to ease the process.
2. The calculated RAM size may too small to too big to have the app

[2017-11-10 18:24] jackyq2015 commented on #1221
I would suggest to close this issue if there is no objection. Please raise issue if there is any.

[2017-11-10 18:31] jackyq2015 commented on #1228
Agree. I found that issue number #1271 for full precision. will treat this one a duplicate of it.

[2017-11-10 18:31] #1228 closed

[2017-11-10 18:37] thadguidry commented on #1295
@jackyq2015 I thought of that also.  Let's change the need of this issue then to a notification only.

We inspect (using the 3 OS memory lookups that found work well above) and then advise the user on startup... "Hey ! We noticed that you have 6 Gigs of Free Memory available....OpenRefine can run better when given more memory.  Read our FAQ on how to allocate more memory here: blahURL"

[2017-11-10 18:40] jackyq2015 commented on #1295
sure. we can do that.

[2017-11-10 18:43] thadguidry commented on #1228
@jackyq2015 cool. glad we agree

[2017-11-10 19:03] wetneb commented on #1221
@jackyq2015 it looks much better now! I still see a few points that we can still discuss:
* do we really want to display the fields with raw JSON? Especially the one with column metadata (as it will currently remain empty and should be eventually manipulated from the project view anyway?)
* the "Create Date" is currently marked as editable but does not have any validation (it's possible to type in

[2017-11-10 19:07] thadguidry opened #1319 "Add a new range() function to GREL"
Use case taken from mailing list
https://groups.google.com/d/topic/openrefine/SE2F7tn3lH0/discussion

Hello all,

I've been trying to figure this out, but need some help. I have a column full of ranges of numbers, e.g.:

row 1: 2-4
row 2: 7-12

I would like to be able to convert the cell so that it displays

row 1: 2,3,4
row 2: 7,8,9,10,11,12

My eventual goal being to split the cell with each num

[2017-11-10 19:30] wetneb commented on #1221
Oh, and two other things (sorry):
* the delete button is placed weirdly with Chromium (not centered in its cell)
* it would be nice if the "last modified" could still be displayed in the nice human-readable form they had while preserving the sorting functionality… I have no idea how hard that would be. But in the current state it's kind of a regression in terms of user-friendliness.

[2017-11-10 19:40] thadguidry opened #1320 "Exception in JSONWriter while working with Clojure Arrays"
While working on a quick hack for #1319

If Expression Language is set to Clojure and using the toString method the following expression works:

```(.toString(org.apache.commons.lang.math.IntRange. 7,12))```

and output is
```Range[7,12]```

however when using the toArray method, it breaks with error in console

```(.toArray(org.apache.commons.lang.math.IntRange. 7,12))```

[code]

[2017-11-10 20:10] thadguidry commented on #1319
It will work like this...

can take accept a String form:
range("2-4") --> [2,3,4]

or a String form in a value
range(value) --> [2,3,4]

or 2 numbers
range(2, 4) --> [2,3,4]

and doing join(",") will convert the Array to a String
range(2,4).join(","). --> 2,3,4

[2017-11-10 20:45] #1295 closed

[2017-11-10 20:49] thadguidry commented on #1295
@jackyq2015 Beautiful.  Good Job.

D:\git\OpenRefine>refine
You have 12219M of free memory.
You current configuration will allow to use 1400M of memory.
OpenRefine can run better when given more memory. Read our FAQ on how to allocate more memory here:
https://github.com/OpenRefine/OpenRefine/wiki/FAQ:-Allocate-More-Memory
.
14:47:49.668 [            refine_server] Starting Server bound to '127.0.

[2017-11-10 21:30] jackyq2015 commented on #1221
@weblate please see below:
* do we really want to display the fields with raw JSON? Especially the one with column metadata (as it will currently remain empty and should be eventually manipulated from the project view anyway?)
**A: For column metadata, I would image we may need an extra view just for handling its complexity. For the import option, since it's read only. It should be sufficient for

[2017-11-10 22:17] thadguidry commented on #1221
@wetneb @jackyq2015 My Comments are in italics above.

[2017-11-11 09:49] wetneb commented on #1221
The "source" key in import metadata is not enough to tell which importer was used! For instance, if it's just from the clipboard (and in general not all file names indicate their format correctly, and the user might have chosen a different importer)… So I think it would really be worth storing that explicitly!

[2017-11-11 17:49] #841 closed

[2017-11-11 22:12] ettorerizza commented on #1221
The display of these dates on a 15-inch screen is problematic. It might also be necessary to reduce a little the font of the words "rename" and "about".

![screenshot-127 0 0 1-3333-2017-11-11-22-05-27-884](https://user-images.githubusercontent.com/6286410/32694004-b706490e-c735-11e7-95f2-c1828f058915.jpeg)

[2017-11-11 22:13] thadguidry commented on #1221
Jacky just need to make the fields selectable to display or not.  That probably will solve your problem better.

[2017-11-12 00:35] jackyq2015 commented on #1221
How about shorten the date to such as  "2017-11-11 07:25 PM" ? The rename and about font is already small. Also I can reduce the width of "Row Count" a little bit but not too much(the header has to fit in)

[2017-11-12 02:17] jackyq2015 commented on #1221
Above was done by PR #1323

[2017-11-12 10:52] wetneb commented on #1221
I agree "Rename" and "About" take a lot of space… That's why I think "Rename" should be removed. I don't see any reason why this shortcut should be kept:
* it only saves one click anyway
* it is not placed logically next to the title
* why provide a shortcut for the title (which is generally filled at project creation) while there are so many other empty fields that the user could want to fill?

[2017-11-12 10:57] ettorerizza commented on #1221
@wetneb @jackyq2015 If I rely on my own practices, it's true that I rename projects much more often while they are open. But I do not know if everyone does it that way.

[2017-11-12 20:02] jackyq2015 commented on #1221
I will remove the "Rename" link from the index page if there is no objection by next Monday before release 2.7.2. All, please speak out if you want to keep it as is.

[2017-11-13 16:11] eximius313 commented on #1241
@thadguidry how about `Making sure BOM is never treated as part of the first column name on import` + proper warning that it happened?
I don't see any scenario why I would want to have invalid characters in my column names

[2017-11-13 17:38] thadguidry commented on #1241
"invalid" means different things to different people and machines.  That's why.

Maybe someone before thought it was nice to have a black heart because they LOVE something about a column name.  http://graphemica.com/%E2%9D%A4

But that black heart will actually display.  The issue is when things are hidden and do not display.

I am suggest that its a bad practice to hide things from users...when t

[2017-11-14 01:05] jackyq2015 opened #1325 "new translation from weblate break the master"
There is a empty translation file from weblate which cause issue on master:
https://github.com/OpenRefine/OpenRefine/commit/62be866a9f6346f0f62bcf60a150ebc6ed51de9f

need to find out why and how to prevent in future.

[2017-11-14 09:32] wetneb commented on #1325
Yes this is annoying, this has already happened in the past and I have just deleted the translation. I will work on a cleaner solution so that OpenRefine just ignores these translations.

[2017-11-14 13:04] jackyq2015 commented on #1325
Not sure if this can be done from the weblate side. Another option is to merge to a dedicated branch and manually merge to master after review.

[2017-11-14 13:07] #1325 closed

[2017-11-14 13:21] jackyq2015 commented on #1221
"Rename link" was removed by PR #1324

[2017-11-14 13:21] #1221 closed

[2017-11-14 15:10] ColinVanAlstine opened #1328 "Importing multiple Excel workbooks, each with multiple sheets"
**Refine**: Version 2.7
**OS**: Windows 7 Enterprise, Service Pack 1
**Browser**: Chrome - Version 61.0.3163.100 (Official Build) (64-bit)
**Google group thread**: [https://groups.google.com/d/msg/openrefine/EZ24zNWbzqo/mMNlPoLBAAAJ](url)

Opening a project with multiple Excel workbooks, each with a variable number of sheets, is causing some wonky behavior.  Users are only allowed to select the sh

[2017-11-14 17:08] wetneb commented on #1221
@jackyq2015 in the end do we have tests for this feature?

[2017-11-14 20:29] nijel commented on #1325
Weblate can also generate JSON file with empty translations for new language, would that work better for you?

If this is desired, just set "Base file for new translations" under [File settings for your translation](https://hosted.weblate.org/settings/openrefine/translations/#files) to translation to use a a template (translations will be removed when using it).

[2017-11-14 22:00] pmbKK commented on #332
Has there been any progress on this yet? Using OpenRefine 2.7 and still see the same behavior described by @tfmorris. When trying using the "Apply to All Identical Cells" it does not fill that cell, or any of the other identical cells when they are null, and it says Mass edit 0 cells in column X in the history.

[2017-11-15 02:28] tfmorris commented on #332
Just to clarify, none of these posts are from me. I just did the import from Google Code. The original author of each message is in the first line of the message (look for italics and From ...)

[2017-11-15 03:47] thadguidry commented on #1096
Mailing List thread side discussion about if we support CSV on the Web **AND** Data Package family spec
https://groups.google.com/d/topic/openrefine-dev/6UU_w98PcJs/discussion

Waiting to hear back from @danbri and @rufuspollock on that thread.

[2017-11-15 06:03] ettorerizza commented on #1328
By the way, it would be a good idea to consider adding a simple "select all the sheets" checkbox for Excel files. It is not uncommon for OCRs to produce Excel files containing several tens of sheets (one per page).

[2017-11-15 06:37] ettorerizza commented on #1221
Thanks a lot for all this work, @jackyq2015 ! As I said above, you already deserved the bounty with the first draft.

The system as it suits me perfectly. However, I wonder if it's ready for a public release. There are still some display issues that could frustrate users.

The dates display in Chrome or Edge on a 15-inch screen with a 100% zoom is perfectible, but that's just aesthetics:

![screen

[2017-11-15 07:43] rufuspollock commented on #1096
@thadguidry i'm not on that mailing list atm so i'm commenting here:

I contributed to both specs in a significant way: in fact, the CSV on the web started out largely based on Table Schema and Data Packages.

Table Schema (and Data Package) are a lot simpler and support pretty much all the features i can imagine you wanting.

There is also extensive and mature tooling in a lot of languages with a

[2017-11-15 10:11] wetneb commented on #1325
@nijel thanks a lot for chiming in, it's good to know! In our case I don't think it would work as the language name would be empty, so we could end up with blank labels in our drop-down list of languages to choose from.

[2017-11-15 13:24] jackyq2015 commented on #1096
@rufuspollock Is there any online demo I can try? You mentioned you contributed to both. Just wondering what happened to W3 one? any comparison for the two or other standard? Thanks

[2017-11-15 15:16] thadguidry opened #1330 "Use simple identifier, rather than "_" underscore character"
https://github.com/OpenRefine/OpenRefine/blob/8d84acb391b6d417f7607818d459261b388fdc10/main/src/com/google/refine/importers/WikitextImporter.java#L428

Hi @wetneb , can you clean up these files so that we don't throw unnecessary build warnings ?
Let's try to be a better Java citizen.  Thanks !

[code]

[2017-11-15 15:37] thadguidry commented on #1221
@ettorerizza Yes, these need to be cleaned up a bit in our CSS files.
@jackyq2015 It annoys me A LOT.  Let's open additional issues to note the problems and then fix them.  I also would like to see the Transform window back to the way it was as not automatically stretched 100% in width of window.

Next Release is blocked until these UI issues can be cleaned up.

[2017-11-15 16:10] wetneb commented on #1330
Hi @thadguidry, sorry but I will not be able to make any commit on the project until the end of the year. I can still review PRs and comment on issues though. Feel free to change this yourself - it is just a matter of renaming these "_" to any variable name you like (for instance `exception`).

[2017-11-15 17:07] thadguidry commented on #1330
@wetneb yup, no problem, thanks for advising.

[2017-11-15 17:37] jackyq2015 commented on #1221
@ettorerizza I understand you concern. Do you mind open 2 issues(or more if you want) for metadata and the transform UI. In the meantime, I will take a look what we can do

[2017-11-15 18:59] rufuspollock commented on #1096
@jackyq2015 - you mean examples of the specs in action?

* Data Package spec: http://frictionlessdata.io/specs/data-package/ - includes some examples
* Table Schema spec: http://frictionlessdata.io/specs/table-schema/ - includes some examples

Some examples of tabular datasets as tabular data packages which include table schemas for the data files: http://datahub.io/docs/data-packages/tabular

You

[2017-11-15 21:24] jackyq2015 commented on #1221
@ettorerizza @wetneb @thadguidry created PR #1331. Please try / review

[2017-11-16 00:45] jackyq2015 opened #1332 "transformer dialog is displayed all along the screen"
As mentioned in https://github.com/OpenRefine/OpenRefine/issues/1221#issuecomment-344499767, the dialog should keep the consistence with others.

[2017-11-16 02:20] jackyq2015 commented on #1328
Put a fix. will create a PR soon. But remember to enter 0 line as the column header since your files don't have the header at all.

[2017-11-16 11:11] ostephens opened #1335 "RowCount Project Metadata only updated on Project File save"
The RowCount in the Project metadata is only updated when the project is saved to file. This only happens after the autosave interval (default 5 minutes) or on quitting OpenRefine.

This means that changes (e.g. removal of rows from a project) are not reflected in the project metadata display until the save has happened.

[2017-11-16 14:01] marioa opened #1337 "Retrieving releases.js from http://google-refine.googlecode.com/svn/support/releases.js produces a 404"
Downloaded and installed open refine 2.7 on a mac with high sierra. Uploading files on chrome was giving me some anomalous behaviour. Looked at the chrome development tool and it notified me that trying to retrieve releases.js from http://google-refine.googlecode.com/svn/support/releases.js produces a 404. On the mac found this was produced by ./Resource/webapp/modules/core/scripts/index.js at (li

[2017-11-16 14:07] ostephens commented on #1337
Thanks @marioa - there is a fix for this ready for the 2.7.2 release  - see https://github.com/OpenRefine/OpenRefine/commit/e482878596cbda7d6e7e99cb1f02d57aa8f4d549#diff-6d8a16be362b3c276c8837f74ac81415

[2017-11-16 14:07] #1337 closed

[2017-11-16 16:17] jackyq2015 opened #1338 "put a filter when user define the userMetadata"
The duplicate key should be removed. otherwise will mess up the index page.

[2017-11-16 20:56] jackyq2015 commented on #1330
done

[2017-11-16 20:56] #1330 closed

[2017-11-17 02:30] #1328 closed

[2017-11-17 04:20] #1338 closed

[2017-11-17 13:06] jackyq2015 commented on #952
MR merged

[2017-11-17 13:06] #952 closed

[2017-11-17 15:08] ettorerizza opened #1340 "Why not a column variable ?"
I see several questions on StackOverflow that involve being able to iterate each cell of a column, for example [here ](https://stackoverflow.com/questions/47348425/openrefine-fill-down-with-increasing-counter) or [here](https://stackoverflow.com/questions/46379241/openrefine-create-a-shifted-copy-of-a-column). Since Open Refine has not a "column" variable, I have to advise each time to create a un

[2017-11-17 15:12] thadguidry opened #1341 "Fix the Appveyor build for Windows testing. (actually run the server_test)"
Currently the AppVeyor build doesn't run our tests on Windows.  There have also been some improvements to the way that AppVeyor is configured and setup that we can help simplify things.  I'll work on this over the Nov 18 weekend.

[2017-11-17 15:44] felipemouradev commented on #1200
I'm going through almost the same problem, at the endpoint of creating a new project, the response comes in an html and no ID is provided as stated in the documentation.

Has anyone managed to solve it?

[2017-11-17 16:02] ostephens commented on #1200
I'm afraid no-one has tackled that documentation yet. However, the existing code libraries that interact with OpenRefine might be a good starting point for understanding how you can exploit the API. E.g:

https://github.com/PaulMakepeace/refine-client-py/
https://github.com/maxogden/refine-python
https://github.com/maxogden/refine-ruby
https://github.com/pm5/node-openrefine

Or if there is somethi

[2017-11-17 16:20] wetneb commented on #1340
That would break the idea behind OpenRefine's data model, that transformations are applied row-wise (or record-wise). Most transformations in OpenRefine can be applied to a data stream, where each row is discovered gradually: you don't need to know the whole dataset before starting to run your operations on it. While that's indeed a restriction for the user, it's a very useful guarantee to have if

[2017-11-18 14:39] thadguidry commented on #1332
Thanks for the temp fix on this Jacky.  Hoping we can get much better dialog handling in later milestones.  We'll close this now.

[2017-11-18 14:39] #1332 closed

[2017-11-18 14:57] thadguidry commented on #1335
@ostephens With #1342 this is now fixed, and the Row Count metadata column is updated immediately whenever our datagrid view is updated through /core/get-rows command https://github.com/OpenRefine/OpenRefine/blob/master/main/src/com/google/refine/commands/row/GetRowsCommand.java

[2017-11-18 14:57] #1335 closed

[2017-11-19 13:39] hpiedcoq opened #1344 "Issue ERROR 503 in version 2.8"
Hi everybody,

I just downloaded version 2.8 for linux (ubuntu 17.04 up-to-date).
I get an error :

-------
HTTP ERROR 503

Problem accessing /. Reason:

    java.lang.NumberFormatException: null

Caused by:

javax.servlet.UnavailableException: java.lang.NumberFormatException: null
	at org.mortbay.jetty.servlet.ServletHolder.makeUnavailable(ServletHolder.java:415)
	at org.mortbay.jetty.servlet.Ser

[2017-11-19 14:38] jackyq2015 commented on #1344
Your exception comes when setting the refine.autosave parameter from
refine.ini file.

 Did you make the change to that file? can you delete the old version and
try again?

I tried on my own Ubuntu. it works fine.

Jacky

On Sun, Nov 19, 2017 at 8:39 AM, @hpiedcoq <notifications@github.com> wrote:

[2017-11-19 14:50] jackyq2015 commented on #1344
Just for you reference, the last part of refine.ini under the root of installation folder should be like this:
# Uncomment to increase autosave period to 60 mins (default: 5 minutes) for better performance of long-lasting transformations
#REFINE_AUTOSAVE_PERIOD=60

[2017-11-19 14:53] hpiedcoq commented on #1344
I didn't make any change to this file.
Line is commented. But to be sure, I'm going to make a fresh install (downloading from github is pretty slow today). Very strange indeed.

[2017-11-19 15:00] hpiedcoq commented on #1344
Yes you were right! fresh install did the trick!
Thanks jacky!

[2017-11-19 15:01] #1344 closed

[2017-11-19 15:27] jackyq2015 opened #1345 "update the org.json library"
currently version we are using is back to 2010. we should update it to newer version to gain better performance and functionality.

[2017-11-19 17:40] thadguidry commented on #1212
1. Support any SPARQL endpoint, but maybe we actually want to just put effort into Wikidata.
2. Mapping of Prefixes.

[2017-11-19 17:51] thadguidry opened #1346 "Improve Wikidata Reconciling with an option for tabbed or split view"
A new and improved GUI interface that allows easier matching by having a split view that can be moved or browser tabbed and has a larger window rather than the current small fixed dialog window, in order to give more information and make it much easier for our human users to make judgements while reconciling.

To start with... Improve the Search Panel...
1. Add a hyperlink for the entities returne

[2017-11-19 18:20] thadguidry opened #1347 "Improve Datagrid performance"
In general, we want to improve the datagrid performance, perhaps with newer, more performant javascript libraries, etc.

See document [Planned in Phase 2 enhancements](https://docs.google.com/document/d/1lK3LT9Llwxqv4NFSQO33UX-P3vD1MzYefv6YCtf6HHk/edit?usp=sharing)

[2017-11-19 23:37] ettorerizza opened #1349 "Create a new project directly from a project"
Data wrangling often involves extracting several subsets of a file. So I do not think I'm the only one who spends his time exporting parts of his projects into csv for immediately re-importing it into Open Refine.

Being able to directly create a new project from the current facets would avoid this unnecessary step. The option could be modeled on the "Custom tabular exporter" feature. This would b

[2017-11-20 01:42] jackyq2015 commented on #1096
@rufuspollock I saw there is a "rdfType" in the "Table Schema spce". Just wondering if there is any further detail around this? As far as I know, the CSVW covers the RDF.

Another question is that the criteria to choice between implementing the "Data Package spec" and "Table Schema spec" for the OpenRefine. Is it feasible that we start with the "Table Schema spec" firstly then move to  "Data Packa

[2017-11-20 09:43] wetneb commented on #1096
@jackyq2015 as I explained earlier I don't think there is any discussion to be had about "Data Package versus Table Schema". These two things just do not do the same thing at all, and it does not make any sense to compare them: it's like discussing "XML vs XSD" or "JSON vs JSON Schema"…

So:
- OpenRefine's model should be updated to store metadata following the Table Schema specs
- We need new imp

[2017-11-20 12:33] ettorerizza opened #1350 "Cannot edit project metadata if OR is not in English"
Could it be simply because the word "About" needs to be translated?

![screenshot-localhost-3333-2017-11-20-13-31-48-005](https://user-images.githubusercontent.com/6286410/33018579-41e93852-cdf7-11e7-8fec-17ef5d53e7f2.jpeg)

[2017-11-20 13:31] jackyq2015 commented on #1350
right, the "About" link is not shown because it is not translated. could you help to translate it in French from the weblate(you can find the link from readme page). The key is under "core-index-open" section.

[2017-11-20 13:34] ettorerizza commented on #1350
I will try to translate "About" into all languages supported. But how does this system work? Does Weblate update the interface itself in the development version?

[2017-11-20 14:35] jackyq2015 commented on #1350
That will be merged automatically. It supposed to fallback to English. I will double check on this.

[2017-11-20 15:04] thadguidry commented on #1096
I spoke to Jacky and the approach I think that makes sense is...

1. new Importer for metadata that can be based on our JSON importer (this can handle **ANY** JSON-based metadata formats.  The 3 formats that we see in the wild currently used are Data Package, CKAN (simple JSON with 1 "meta" object and 1 "data" object), and CSVW.
2. new exporter for CSVW since this supports the widest Linked Data e

[2017-11-20 15:10] thadguidry commented on #1349
@ettorerizza I'm curious however WHY it mean several subsets.  Is it because we do a crappy job on hiding columns ?   Tucking things away that are no longer important as you refine and polish the data through additional column creation ?  What / where exactly are the pain points.  I'd like to discover those, rather than just giving you a new hammer.  Think through the problem carefully.  Imagine a

[2017-11-20 15:29] thadguidry commented on #1350
@jackyq2015 Yes it falls back to English, @wetneb and I already confirmed this.

[2017-11-20 15:30] ettorerizza commented on #1349
"Is it because we do a crappy job on hiding columns ? "

Not at all, Thad. Open Refine offers many ways to filter rows or columns. But these are facets, inherently unstable. It is often much safer to create a subset from these facets. Especially since multiple facets require a lot of RAM. When you have a column containing a million rows and lots of duplicates, it is much faster to export this colu

[2017-11-20 15:40] ettorerizza commented on #1350
The word "About" has been translated on Weblate into all language.

[2017-11-20 16:00] jackyq2015 commented on #1350
Just tried to remove a translation "rename" from import page, the fallback dose NOT happen. something is broken on this part in general. Not sure started from when though.  will look into this.

[2017-11-20 16:56] wetneb commented on #1350
We probably need to configure weblate so that by default the strings are copied from English into the localization files for other languages. Also, it could be useful to have a "feature freeze" period before a release so that translators have the time to catch up on new messages to translate.

[2017-11-20 17:04] thadguidry commented on #1350
@wetneb ah!

[2017-11-20 17:06] wetneb commented on #1096
I am very confused - we don't seem to be talking about the same thing at all!

I don't think an importer for Data Packages should be based on the generic JSON importer - they don't do the same thing at all, and basically no code can be shared between the two.

[2017-11-20 17:24] thadguidry commented on #1349
@ettorerizza Perfect.  That's exactly the response I was hoping you would say.  And agree entirely.

However, one thought that came up long ago from David and I was the undo/redo of Facets to store a state and we chatted about this long ago in Gridworks days.  But we never got around to researching more the complexity in our code or what would have to be refactored or changed.  The idea was genera

[2017-11-20 17:33] ettorerizza commented on #1349
One of the vib-bit extensions has a "save facet" option. By clicking on "permalink" just under the name of the project, you can save the facets in the form of a long url. However, sometimes the process fails. I wonder if this is not due to a question of maximum URL length ...

By the way, I read on Twitter some comments from users who ask why this extension vib-bit so convenient is not integrated

[2017-11-20 18:08] jackyq2015 commented on #1350
I am sure we have the fallback. Just tried up to version 2.6, the feature is not working properly. have to dig further.

[2017-11-20 18:57] ettorerizza commented on #1349
I'm not even sure it's worth putting a bounty on this kind of feature. If I understand correctly, they pay late, get a large commission, all for something that will be done anyway by someone from the Open Refine team.

[2017-11-20 19:14] rufuspollock commented on #1096
As @wetneb says Data Package and Table Schema aren't really substitutes:

The Table Schema describes the table columns itself.

Then, if you want it, you have a Tabular Data Resource http://frictionlessdata.io/specs/tabular-data-resource/ which describes a single tabular file and uses the Table Schema to describe the columns.

Finally, if you need it, you have the (Tabular) Data Package that descr

[2017-11-20 19:20] rufuspollock commented on #1096
@thadguidry

As per @wetneb I'm not sure i follow this approach. As he says:

---

You also mention re the exporter:

I note that CSVW and Data Package aren't especially compatible. Do if you don't also export Table Schema / Data Package stuff people won't be able to consume that.

Overall, the major benefits of Table Schema and Data Package is they are simple yet relatively powerful -- and the si

[2017-11-20 19:32] thadguidry commented on #1096
@wetneb For 1. I was talking about a different case that comes up concerning the use of the generic JSON importer we have...There are cases where in the wild I have seen and demonstrated to Jacky that metadata is found in freeform Json records and XML (basically the datasets out there that are pre-2005).  I showed him one last night.  We'll want to support freeform Json metadata mapping as well, b

[2017-11-20 19:34] thadguidry commented on #1096
@rufuspollock the problem is that there's not good support for Linked Data within Data Package / Table Schema from what I see.

[2017-11-20 20:48] jackyq2015 commented on #1350
looks like we are wrong. there is "default language" in the code but never worked.
we can enable the fallback plugin jquery.i18n.fallbacks.js to have this:
https://github.com/wikimedia/jquery.i18n

@ostephens , could you take a look of this?

[2017-11-20 20:55] thadguidry commented on #1349
@ettorerizza we would totally like to include vib-bits like features into OpenRefine, but that's always a time/expense decision.  What we can do and hope to do is after our UI refresh, help extension authors get things working again.

But we agree on this particular issue's direct need:
One click new project creation from a state of facets.  Correct ?

[2017-11-20 21:00] thadguidry commented on #1350
@jackyq2015 and then how does the existing Pull Request affect this or that ? https://github.com/OpenRefine/OpenRefine/pull/1285

[2017-11-20 21:02] jackyq2015 commented on #1096
@wetneb I am not try to compare the Table Schema and Data Package. I understand they are different things. My question is that does it make sense to do the "table schema" firstly then move to "data package" since  it can be put in the "data package" later on. Also Thad and I share the same concern the limitation of the rdf support.

[2017-11-20 21:08] jackyq2015 commented on #1350
@thadguidry It is not merged yet

[2017-11-20 21:53] danbri commented on #1096
+1 for https://github.com/OpenRefine/OpenRefine/issues/1096#issuecomment-345722334 proposal from @thadguidry

[2017-11-21 03:12] jackyq2015 commented on #1349
@ettorerizza the URL max length is around 2K. Not sure normally the length of your URL. If the length is an issue, that can be done by a menu or something like that

[2017-11-21 05:42] thadguidry commented on #1350
@jackyq2015 lolol, I KNOW that.  What's the effect of the changes in that pull request ?  How do they relate to this issue is my wonder as well.

[2017-11-21 09:05] rufuspollock commented on #1096
@thadguidry @jackyq2015 what rdf support do you need? Do your users regularly use RDF types in their work with OpenRefine and how do they do that? That would help get clearer on whether what is there already in TableSchema is sufficient.

I also note that Data Package / Data Resource etc are all extensible with your own properties if you want.

@jackyq2015

You can definitely do that and might mak

[2017-11-21 13:03] ettorerizza commented on #1349
@jackyq2015 Thanks for the information, this confirms my intuition: the "permalinks" of vib-bits that display a blank screen are those that contain more than 2000 characters, like this one (2019)

`http://127.0.0.1:3333/project?project=1545787044416&ui=%7B%22facets%22%3A%5B%7B%22c%22%3A%7B%22type%22%3A%22list%22%2C%22name%22%3A%22_%20-%20spatial%20-%20key%20-%20key%22%2C%22columnName%22%3A%22_%20-

[2017-11-21 16:09] ettorerizza commented on #1340
Another related question on the mailing list : https://groups.google.com/forum/#!topic/openrefine/kOyVbjbe6s8

[2017-11-21 16:55] wetneb opened #1351 "Data Extension dialog overflows when many properties are selected"
![dpkd4ouxuaabcm6](https://user-images.githubusercontent.com/309908/33085527-c2a1d6c6-cedc-11e7-8481-ccbf52bce77a.jpg) (from https://twitter.com/27point7/status/932981728494448641)

This is just a matter of tweaking the CSS to add a scroll bar there.

[2017-11-21 17:54] danbri commented on #1096
Note that anyone mapping into the [Wikidata data model](https://www.mediawiki.org/wiki/Wikibase/DataModel/Primer) is in "RDF plus some stuff, minus some stuff" territory. It would be interesting to get more explicit requirements from the Wikidata side in terms of mapping in not just basic facts but qualifier and sourcing/provenance data too. While a simple CSVW RDF mapping like http://danbri.org/2

[2017-11-21 18:14] rezabj opened #1352 "Project name with national characters"
Hi all,

I use OpenRefine 2.8 on Linux with Oracle Java Version 8 Update 151.

If I create a new project with a name that contains special characters, then I restart OpenRefine, so I see only "???????".

![image](https://user-images.githubusercontent.com/3791531/33089020-b381d318-ceef-11e7-9736-e87bc69f3210.png)

[2017-11-21 18:21] thadguidry commented on #1096
@danbri per factoid (individual provenance on an OpenRefine cell), seems way too heavy ?  OpenRefine works on mass edits against columnar operations.  I think our team was hoping to only have to deal with provenance at the Column level only, as your PublicToilets example JSON shows (a column of cells that share the same metadata/provenance).   For the qualifiers, yes those could be stored also (it

[2017-11-21 18:26] ettorerizza commented on #1352
Exact. If I create a project from the "Łukasz.csv" file, it is saved as "ukasz csv". If I then rename it "Łukasz", the change is replaced at the next start with "?ukasz".

[2017-11-21 18:32] thadguidry commented on #1340
OpenRefine has traditionally stayed away from providing Statistics and will
remain that way (yes, I myself am making a hard line, here's why).  There
is such a rich ecosystem of great opensource tools that already provide
tons of value for users.  And for OpenRefine users, its just an export away
to get that value.

We can certainly make it a bit easier to integrate with other tools, and in
fact t

[2017-11-21 19:30] Yuutakasan commented on #1197
@jackyq2015 @thadguidry
Sorry for being late. I tried the settings I got the other day.

1. I downloaded openrefine - 2.8.
2. It changed to the following setting.
[openrefine.l4j.zip](https://github.com/OpenRefine/OpenRefine/files/1492661/openrefine.l4j.zip)
3. I imported garbled data before.
[import-test-sample.zip](https://github.com/OpenRefine/OpenRefine/files/1492677/import-test-sample.zip)
![

[2017-11-21 19:40] Yuutakasan commented on #1197
other export pattern
Excel
[import-test-sample-xlsx.zip](https://github.com/OpenRefine/OpenRefine/files/1492711/import-test-sample-xlsx.zip)
![image](https://user-images.githubusercontent.com/1161494/33092860-c0fc904c-cf3e-11e7-9771-d11c60388d81.png)

HTML
![image](https://user-images.githubusercontent.com/1161494/33092994-1a3e4006-cf3f-11e7-9b3a-8237c7ddbbe8.png)
[import-test-sample-html.zip](htt

[2017-11-21 21:27] jackyq2015 commented on #1197
can you please add the encoding switch I provided above and try again?

[2017-11-21 21:29] jackyq2015 commented on #1352
Seems it only happens when rename it from project page. It works fine when do it from the about link. that is weird.

[2017-11-21 21:48] danbri commented on #1096
@thadguidry yes in many case provenance would be at a higher granularity. But I understand Wikidata at least in theory encourages per-fact sourcing references, e.g. https://www.wikidata.org/wiki/Q243 has two references for the Eiffel Tower's height. I didn't mean to suggest that every cell in the original table need have different provenance to pass along.

[2017-11-21 21:56] thadguidry commented on #1096
@danbri Righto.  Yeah, I think just the Parent/Child column structuring (sub data for a column) will work out well in the long term for this edit and mapping visualization need at individual cell levels.  Our current Edit for a cell which is a rather plain text box...will change to be much more feature rich with an optional docking panel...rather than the current limiting popup dialog overlay.

[2017-11-22 01:06] Yuutakasan commented on #1197
@jackyq2015
The above processing is executed with the following settings.

＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
openrefine.l4j.ini
# Launch4j runtime config

# initial memory heap size
-Xms256M

# max memory memory heap size
-Xmx1024M

# Use system defined HTTP proxies
-Djava.net.useSystemProxies=true

#-XX:+UseLargePages
#-Dsomevar="%SOMEVAR%"

**-Dfile.encoding="UTF-8"**

[2017-11-22 02:21] thadguidry commented on #1277
There are also additional advanced parameters that are also useful to have.
We can add an Advanced Tab later on however.  For now I like just going with a simple enumerated list or dropdown for the DB Type

A Validation Query field is also useful. Pentaho, NiFi and others have that.
And perhaps a maximum wait time just in case.
and others.

Also a JDBC Property Name / Value array is also useful.

[2017-11-22 05:10] thadguidry commented on #1207
OpenRefine's mission is to provide users a nice interface for cleaning messy data and light analysis towards the goal of cleaning messy data.  We didn't design it for Statistical Analysis, but there are some Extensions that provide a bit of this.  You might be better off looking at real Stat tools or Machine Learning tools.

[2017-11-22 08:24] rezabj commented on #1352
No. I tried it. The same problem.

[2017-11-22 08:44] ettorerizza commented on #1340
@thadguidry @wetneb No problem to close the discussion. But I want to make sure I've been clear, because the column variable I'm proposing is not primarily about making stats or turning Open Refine into a spreadsheet. Its main purpose would be to be able to respond to questions such as "in the following dataset, what names in ColumnA are also in columnB?"

[code]

I can answer the question using a

[2017-11-22 11:13] ostephens commented on #1352
I can't replicate this error with OpenRefine 2.8 (Linux version, running on macOS High Sierra) and Java:
OpenRefine >>java -version
java version "1.8.0_72"
Java(TM) SE Runtime Environment (build 1.8.0_72-b15)
Java HotSpot(TM) 64-Bit Server VM (build 25.72-b15, mixed mode)

I *do* find that non-ascii characters are dropped from file names on import and export (presumably not trusting the OS to nece

[2017-11-22 12:19] rezabj commented on #1352
I use OpenRefine in Docker container. Dockerfile attached.
[Dockerfile.txt](https://github.com/OpenRefine/OpenRefine/files/1495893/Dockerfile.txt)

I think the container use UTF8.

[2017-11-22 13:23] jackyq2015 commented on #1352
I can reproduce under windows 10.

@rezabj can you please run a "locale" command in the environment running the OpenRefine

[2017-11-22 13:40] ostephens commented on #1352
I can reproduce using that Dockerfile.

If I set the lang/locale to C.UTF-8 the issue goes away

Find locale on starting the Docker container:
[code]
Set lang to C.UTF-8 and re-check:
[code]

Once I've done this, when I use non-ascii chars in the Project name it persists through the metadata save process

[2017-11-22 14:52] thadguidry commented on #1340
@ettorerizza The slippery slope.  Your asking questions about data, and more advanced questions.  Working with Arrays seems to be a growing need for our OpenRefine users and that question falls in to that  Category.  I'm worried and wondering about the presentation to the user.  Let's walk through some scenarios...

You ask OpenRefine that question with a new menu option on ColumnA "UNION against

[2017-11-22 15:06] jackyq2015 commented on #1352
That's what I thought. But ideally it should be handled from the application level

[2017-11-22 15:41] ostephens commented on #1340
I'm feeling (and I guess this is what @thadguidry is also saying) there are several different types of (potentially overlapping) requirements in this issue and they don't necessarily all have the same solution. It might be worth us considering the different cases separately and seeing whether there is a reasonable approach without breaking OpenRefine.

Perhaps our starting point should be one or m

[2017-11-22 16:27] thadguidry commented on #1340
@ostephens Yeah, my scenarios are just to get you guys thinking , really thinking , about how you ideally would like to handle various things in OpenRefine.  Write them up together in a Google Doc and share it, link it here.  We need clarity from our Users on a lot of these advanced topics, then we can come to agreement.  I won't shut the door on this issue now, until we get more clarity from you

[2017-11-22 16:29] stellasia commented on #1200
Well, I do not remember exactly but I finally get it to work thanks to the https://github.com/OpenRefine/refine-python as @ostephens  suggests, adapted for python3 in my case.

Relevant lines are :

    from urllib import parse

     response = requests.post(self.server + '/command/core/create-project-from-upload',
                             data=data,
                             files=files,

[2017-11-22 16:54] rezabj commented on #1352
It's help me. Thx.

[2017-11-23 03:52] tcbuzor commented on #1277
I think the JDBC functionality should support the following:
a) Multiple database types, selectable from a drop down.
b) Start with most common database types: MySQL, MariaDB, PostgreSQL
c) Support the plugin of new database types. It should be as easy as dropping a jar containing the JDBC driver and Database implementation in  a folder and the JDBC extension should load all jars in the folder.
d)

[2017-11-23 09:34] ostephens commented on #1113
@thadguidry just going back to the issue of using css pre-wrap - can you clarify why you think this changes the data value for the user? Surely this is just for display, and would make the display of the data more accurate (as at the moment whitespace is collapsed, which means we are displaying the data differently to how it really is)

[2017-11-23 16:26] thadguidry commented on #1113
@ostephens Hi Owen, so sorry, earlier I actually was testing pre-wrap in another grid technology, not OpenRefine's that resulted in my jumping to conclusions.

This is only a display issue and I can confirm in newest Firefox that ```white-space: pre-wrap``` works effectively

[code]

[2017-11-23 16:26] #1113 closed

[2017-11-23 16:48] xseris opened #1353 "Allow to delete all projects"
maybe an option that allows to delete all projects can be useful:
![](https://i.imgur.com/WnEnsWR.png)

[2017-11-23 17:53] ettorerizza commented on #1353
Most dangerous option ever ! Especially since it can be done easily by opening the workspace directory, CTRL + A, DEL.

@xseris Your tag system is pretty cool. Could you share the recipe? :)

[2017-11-23 17:54] ostephens opened #1354 "Stop collapse of whitespace in datagrid and transform preview display"
As discussed in #1113, implementing css white-space: pre-wrap would ensure that consecutive whitespace characters are displayed accurately for users

[2017-11-23 18:12] ettorerizza commented on #1316
@fpompermaier For your information, [here is another fork](https://github.com/stkenny/grefine-rdf-extension/tree/9fd2005aa2b5570f54db32dc00287acffeb9b2a0) that I have not tested, but quite recent. However, it uses a modified version of Open Refine with Jetty9, if I understand correctly, and I don't remember why.

[2017-11-23 18:17] jackyq2015 commented on #1353
should just go to work space and delete all files easier? but delete all is really dangerous option to provide

[2017-11-23 18:20] xseris commented on #1353
@ettorerizza I know that could be dangerous, but in my personal implemetation is a "tag-based remove all". The upper bar contains all defined project tags, and clicking on one of them returns and shows a filtered list of projects that contain that specific tag. Then can be all removed in block (Of course with a warning message).  Answering your question: Yes, I can share this tag-system implementa

[2017-11-23 18:24] ettorerizza commented on #1353
In this case, it's different. The option seems quite justifiable.

[2017-11-23 22:41] quocvu opened #1355 "exception w/ delete API"
[code]
I am getting an exception w/ this REST API call above

[code]

[2017-11-24 00:23] jackyq2015 commented on #1355
can you try this:
curl -d "project=1681144421091" -X POST  http://127.0.0.1:3333/command/core/delete-project

[2017-11-24 01:23] quocvu commented on #1355
Work thanks.

[2017-11-24 01:23] #1355 closed

[2017-11-24 01:29] quocvu opened #1356 "Exception w/ apply_operations API"
Running this command

[code]

The test.json file has the following

[code]

I get this exception which seems to complaint about the formatting of the content in the test.json file.  However that content was taken directly from the OpenRefine UI

[code]

Also, note I passed the `project_id` as a query string param while the documentation says it should be a form param.  Passing as a form param, I g

[2017-11-24 12:40] ostephens commented on #1356
In the 'test.json' file that you've posted there is an invisible Byte Order Mark character in the column name "Item #".

My guess is that this is the problem, but I need to do some more testing to check

[2017-11-24 13:24] rufuspollock commented on #1096
@thadguidry

What exactly are your requirements? Is this an internal modelling system or for import / export (i assumed the latter).

And who do you anticipate using OpenRefine for these use cases. Most data wranglers or data scientists I've worked with rarely use linked data annotations to their tabular data (and if they did i'd guess it would be around the column semantics).

[2017-11-24 13:49] thadguidry commented on #1096
@rufuspollock Right and that's part of the problem, data sharing takes a hit because sometimes the data is not well understood !  The idea is that later, they would have the ability to pull in metadata through our Wikidata Reconciling process and apply to columns or groups of cells to enrich their dataset.  @wetneb can also speak about some of this.  The process is described here https://github.co

[2017-11-24 14:43] ostephens commented on #1356
Scratch that, seems like it is a red herring. From what I can see the problem is with the request.

If you try:

`curl -d operations='[{"op":"core/column-addition","description":"Create column item no at index 1 based on column ﻿Item # using expression grel:value","engineConfig":{"mode":"row-based","facets":[]},"newColumnName":"item no","columnInsertIndex":1,"baseColumnName":"﻿Item #","expression"

[2017-11-24 14:44] jackyq2015 commented on #1356
You can also take a look of this if you are looking for some library to do resetful operation:
https://groups.google.com/forum/#!topic/openrefine/a9EiNzHPvJA
https://github.com/felixlohmeier/openrefine-client

[2017-11-24 15:27] ostephens commented on #1356
I'm at the limit of my knowledge of curl,  but from a bit of poking around, it looks like to pass the content of the file to a named POST parameter, you have to use something like:

`curl --data-urlencode operations@test.json http://127.0.0.1:3333/command/core/apply-operations?project= 2126170820257`

However from what I've been able to see this will only work if there are no newlines \n in the fi

[2017-11-24 19:13] quocvu commented on #1356
Just to confirm the special is not a problem. I trying w/ a different column and getting the same stacktrace

[code]

[2017-11-24 19:24] quocvu commented on #1356
@ostephens it is rather surprising that you where able to use `-d` with curl because the documentation says we need to post w/ multipart form data which is the `-F "operations=@test.json"` or `-F "operations={...some json here...}"`

https://github.com/OpenRefine/OpenRefine/wiki/OpenRefine-API#apply-operations

[2017-11-24 19:34] thadguidry commented on #1356
Upgrade your curl ?  compare versions ?

[2017-11-24 19:36] xseris commented on #1353
@ettorerizza I have isolate the tag system code, the following is a fast screencast of the feature...

![](https://i.imgur.com/wSVMexx.gif)

I created a PR ( #1357 ) if you want to test it more deeply

[2017-11-24 19:36] quocvu commented on #1356
[code]

[2017-11-24 21:03] ettorerizza commented on #1353
@xseris Many thanks, I'll try this !

[2017-11-25 08:49] quocvu commented on #1356
I figured it out after trying different combo.  The documentation is inaccurate and needs to be updated.

1. The project id parameter is passed as query params (current implementation) whie document as a form param (which is more standard for a post operation)
2. the form params are not multipart. Please see curl docs of -d vs -F (https://ec.haxx.se/http-postvspost.html)

[code]

with the test.jso

[2017-11-25 10:25] quocvu commented on #1356
after further examination, the `-d @test.json` is still not working as expected.  Because data is no longer multipart, thus must be url encoded.  For example, the `+` signs in the json are not properly preserver unless we replace them w/ `%2B` which I don't think is what we wanted.

[2017-11-25 11:39] wetneb commented on #1096
@thadguidry I think this debate between CSVW and Data Packages only make sense if we come up with concrete integration plans.

@danbri I've been working on schema alignment for Wikidata (a prototype is available in the wikidata-extension branch of this repository). As you know RDF isn't really a first-class citizen in Wikidata so I have taken the path of not reusing RDF schemas at all. There is cu

[2017-11-25 12:53] pwalsh commented on #1096
Bravo.

[2017-11-25 15:11] thadguidry commented on #1096
@wetneb What the community has been saying is that against any particular column...there is a need for
1. Storing Data Types (Boolean, String, Number, etc) - Your case for Data Packages
2. Storing Semantic Types (CreativeWork, Person, Event, PropertyValue, VideoGame, etc) - Our case for CSVW

Does Data Packages specification support both that our users want ?  I have yet to get a good answer.

But

[2017-11-25 16:24] wetneb commented on #1096
@thadguidry my point is that it's not enough to just say that we want to add support for "storing semantic types". We can store a lot of things, but that will only make sense if that is part of a workflow. So you need to come up with particular use cases, describing why storing this sort of metadata will ease these use cases. When are these types going to be set? When are they going to be used? Ho

[2017-11-25 17:29] thadguidry commented on #1096
@wetneb Breathe Antonin.  :) There's no battle here.  Not sure if you know, but everyone here @danbri @rufuspollock myself, etc are actually friends on the web, if you didn't know that.  All discussion is equally important and OpenRefine values all opinions.  Sorry, I thought the use case was clear in this discussion and by the OP and your initial thumbs up reaction that knowing and understanding

[2017-11-25 17:55] wetneb commented on #1096
Great! Yeah we are all friends, I know! Good to finally see something more concrete.

So, currently, OpenRefine already stores the type used to reconcile a column in the column metadata (together with the reconciliation statistics). This metadata is not exposed at all in the UI (and is not editable), but I have relied on that to implement the data extension API (the property suggestion feature is

[2017-11-26 19:08] msaby opened #1358 "isX functions should support value.isX() syntax"
isBlank, isNonBlank, isNull, isNotNull, isNumeric, isError functions are not supporting value.function() syntax but only the function(value) syntax.
Is there a reason for that? Could it be fixed?

[2017-11-26 19:37] ettorerizza commented on #1296
[Related question on StackOverflow.](https://stackoverflow.com/questions/47500019/regex-possible-to-match-repeated-patterns-in-openrefine)

[2017-11-26 21:12] jackyq2015 commented on #1358
isX is not a function. All the isX() implements "Control" interface. A control can decide which part of the code to execute and can affect the environment bindings.  Functions, on the other hand, can't do either.

[2017-11-26 22:48] ettorerizza commented on #1358
Right ! This is obvious for if() or forEach(), but isBlank() and co looks much more like functions. I'll add a clarification in the documentation.

[2017-11-27 10:09] fpompermaier opened #1359 "Checkstyle"
Hi to all,
what about introducing some checkstyle for Refine...?

[2017-11-27 12:45] ostephens commented on #1356
@quocvu as in my previous example, I'd suggest the simplest curl option is to use --data-urlencode having removed the newlines from the JSON in the operations file.

I'm looking at the code and the documentation to see what I can do about the issues. I think the first step will be to update the documentation to be honest. We can then look at the code to see if anything can be done to support other

[2017-11-27 14:18] ostephens commented on #1356
I've updated the HTTP API documentation at https://github.com/OpenRefine/OpenRefine/wiki/OpenRefine-API

If there are further issues with the documentation, or you would like the HTTP API to work differently to  how it works currently, please open a new issue for each problem / request (and of course, feel free to add to the documentation where you can improve it directly)

[2017-11-27 14:18] #1356 closed

[2017-11-27 14:58] ostephens commented on #1350
@jackyq2015 I've had a look, but I think until we switch to using the wikipedia i8n library (as per the PR @thadguidry asked about) we can't use the fallback option in isoloation.

So I'd suggest that any effort here should be put into getting #1285 to the point where we can merge?

[2017-11-27 15:07] ostephens commented on #1200
I've now updated the HTTP API documentation to indicate that the project ID is not directly returned, but available from the redirected URL. Also expanded / updated some other parts of the documentation. See https://github.com/OpenRefine/OpenRefine/wiki/OpenRefine-API

[2017-11-27 15:07] #1200 closed

[2017-11-27 19:40] jackyq2015 commented on #1358
@ettorerizza thanks for the documentation.

[2017-11-27 19:40] #1358 closed

[2017-11-28 00:52] jackyq2015 commented on #1359
@fpompermaier Any recommendation on your mind?

[2017-11-28 02:37] emoron opened #1363 "Upload to Google SpreadSheet"
Appears the error: org.apache.xerces.kaxp.SAXParserFactoryImp cannot be cast to javax.xml.parsers.SAXParserFactory

[2017-11-28 03:15] thadguidry commented on #236
Tested with newest Internet Explorer Edge on Windows 10.  Export Excel XLS and Excel XLSX works with a new tab opening up and OpenRefine tab blinking and highlighting that there is activity to see.  Clicked on OpenRefine tab and saw the download prompt at the bottom of browser window.

However I did confirm that there is another subtle issue with Apache POI error that seems to come up sometimes #1

[2017-11-28 03:15] #236 closed

[2017-11-28 03:23] thadguidry commented on #1363
@emoron Thanks for the issue!  However, we know we need to update our code base to work with the newest Google API's to get this working again.  We have this in our plans.

Similarly, I do get a slightly different error on a 36634 row by 13 column data set.

[code]

[2017-11-28 04:04] thadguidry commented on #205
#1277 is being worked on to handle this issue now ! :)
#1277 will also handle the case of issue #12 MySQL Support

[2017-11-28 04:08] thadguidry commented on #12
#1277 Is being worked on to support this issue !

[2017-11-28 08:38] fpompermaier commented on #1359
The simplest thing is to use google checkstyle:
http://checkstyle.sourceforge.net/google_style.html

On 28 November 2017 at 01:52, Jacky <notifications@github.com> wrote:

[2017-11-28 09:44] wetneb commented on #1359
@fpompermaier does this actually perform any fixes? Codacy already provide style warnings:
https://www.codacy.com/app/OpenRefine/OpenRefine/dashboard

[2017-11-28 09:46] wetneb commented on #205
I believe this also connects with metadata support as we would need column types to export the project as a SQL table. #778 #1096

[2017-11-28 10:17] fpompermaier commented on #1359
I just didn't know Refine was using a checkstyle. Is there any wiki about how to enable it on Eclipse and IntelliJ?

[2017-11-28 14:52] wetneb commented on #1359
@fpompermaier I'm not sure if Codacy has any Eclipse or IntelliJ integrations - your best bet is probably to look at the underlying tools that they use to generate the warnings and configure them locally.

[2017-11-28 15:01] thadguidry commented on #1359
@fpompermaier Most folks just use PMD and its what Codacy uses behind the scenes for Code Style checking  https://marketplace.eclipse.org/content/eclipse-pmd

Feel free to submit pull requests on all 365 issues it currently finds here :)
https://www.codacy.com/app/OpenRefine/OpenRefine/issues?&filters=W3siaWQiOiJMYW5ndWFnZSIsInZhbHVlcyI6W251bGxdfSx7ImlkIjoiQ2F0ZWdvcnkiLCJ2YWx1ZXMiOlsiQ29kZSBTdHlsZ

[2017-11-28 15:01] #1359 closed

[2017-11-28 16:23] jackyq2015 opened #1364 "Failed to install '': java.nio.charset.UnsupportedCharsetException: cp0"
Under JDK 8, windows 10, got exception

[code]

[2017-11-28 16:32] stkenny commented on #1316
@ettorerizza I had to modify Open Refine to remove the dependency on xerces-j. It was the only way I could find to resolve classpath problems with the extension. I'll look at bringing the forks up to date to see if the extension works with the latest.

[2017-11-29 13:01] ostephens commented on #1265
I've now added a new page on troubleshooting problems fetching data from URLs, putting in the problems noted in this issue and the solutions.

As noted by @paregorios some of the solutions are technical, and will be challenging for a user without experience of using the command line or similar level of technical knowledge.

I've also confirmed through testing that if you use OpenRefine for Mac, th

[2017-11-29 13:01] #1265 closed

[2017-11-29 15:00] thadguidry commented on #1265
@tonero101 Has a Mac and might be able to throw together a script to make this easier.  He's working on the JDBC enhancement also.  Tony what do you say, can you tackle a script for Mac users to make cacerts installation and management easier ?

@ostephens @jackyq2015 We need to drop Java7 now and go head first into Java8+  Do we have a issue labeled as "task" for that yet ?

[2017-11-29 15:47] ostephens commented on #1265
@thadguidry To be clear, the Java version distributed in the Mac package is JDK 1.8.0_60 - so already on Java 8 - just would be good to update this to a more recent 1.8.X at some point which could improve the cacert situation on Mac - but of course Win and Linux (afaik) would depend on the local Java install still, so it's a minor issue I think.

I'm not clear what determines the version of Java i

[2017-11-29 17:11] jackyq2015 commented on #1217
It is feasible that just set the Agent as the chrome? cannot see the benefit to set OpenRefine's own Agent. It is the opposite.

[2017-11-29 21:11] Museumdatacleaner opened #1369 "Can't open project that I have created"
I can't open a project that I have just created, whatever the size of the file. It loads through to a window saying it is loading, but never loads the data.

[2017-11-29 21:45] thadguidry commented on #1369
@Museumdatacleaner Can you provide a screenshot ?
Are you importing a previous OpenRefine project (a .tar.gz file) ?
Any errors you see in the Console or Terminal that OpenRefine is running in ?

[2017-11-29 22:05] Museumdatacleaner commented on #1369
Hey,
I am not importing a new project (have just started using openrefine on this machine). Below are example projects.
![openrefine](https://user-images.githubusercontent.com/34109164/33401223-70a3aa4c-d5bd-11e7-8e3d-b26280d95ec6.JPG)
When I try to open them it sits on this screen.
![openrefinenot loading](https://user-images.githubusercontent.com/34109164/33401469-41b18d02-d5be-11e7-8358-85f3d25

[2017-11-29 22:11] thadguidry commented on #1369
Looks like your using IE, some older version...I'm wondering if their are critical Javascript errors in its console ?

https://msdn.microsoft.com/en-us/library/dd565630(v=vs.85).aspx

Can you also try newest Firefox or Chrome latest ?

[2017-11-29 22:18] Museumdatacleaner commented on #1369
Success! Must be IE browser, as it opens on Chrome. I should stop using IE in general...
Thanks!

[2017-11-29 22:29] jackyq2015 commented on #1369
Poor IE. :)

[2017-11-29 22:29] #1369 closed

[2017-11-29 22:29] thadguidry commented on #1369
@Museumdatacleaner Edge is pretty awesome actually on Windows 10 and OpenRefine works fine on it.

[2017-11-30 09:55] ostephens commented on #1217
I'm against us (as a default) deliberately sending an agent string that identifies a different piece of software. I understand that if we make it possible to set the Agent, then no doubt that will be used in this way, but I don't think we should make this the default behaviour of the s/w.

My other aim will be to support some other http headers - which will probably be the more useful part of the

[2017-12-01 16:55] jackyq2015 commented on #1217
@ostephens You probably right. but the hard part is not to add those http headers from OpenRefine IMO. The hard part is to have 3rd party to accept them and support them. But sure how others similar software deal with this situation. They should come across the same issue. It is worthy to take a look

[2017-12-01 17:06] ostephens opened #1370 "Reconcile->QA Facets"
There are three options under Reconcile->QA Facets - these seem to me to be a hangover from the 'QA' concept in Freebase.

There are three options here - from what I can see one doesn't do anything and the other two could be moved into the more general Reconcile->Facets menu - as follows:

- QA Results - I don't think this does anything (it facets on cell.recon.features.qaResult but I can't see an

[2017-12-01 18:36] andriaz opened #1371 "Can't edit cells with brand new unicode character tipe"
It's impossible to edit cells that contains Unicode characters of "Miscellaneous Symbols And Pictographs" block (U+1F300 – U+1F5FF)
For example "🔴🙏🏽"   (see here http://www.charbase.com/block/miscellaneous-symbols-and-pictographs)

[2017-12-01 19:53] xseris opened #1372 "Change to higher performance CSV parser"
Why not adopt a more powerful CSV parser? I noticed we still use Bytecode OpeCSV parser for SeparatorBasedImporter and CsvExporter, that is old (last version 2.4: 13 Aug 2014 ) and slow. According to this [benchmark](https://github.com/uniVocity/csv-parsers-comparison) there are a lot of better alternatives. I also made some [tests](https://github.com/xseris/Benchmarking/tree/master/csv) with the

[2017-12-01 19:55] jackyq2015 commented on #1371
Did you see any error? I tried to edit but seems no issue.

[2017-12-01 20:02] andriaz commented on #1371
no errors, simply any change has be applied. I imported a csv in UTF8 (OR 2.8  under Ubuntu Linux)

[2017-12-01 20:09] ettorerizza commented on #1371
I can create a project with these symbols, and they will be displayed, but they turn into white squares at the first edition attempt.

![screencast2](https://user-images.githubusercontent.com/6286410/33501179-e67e1a76-d6db-11e7-8da7-6d14923e736a.gif)

Don't know if their unicode value is still the same.

![screenshot-127 0 0 1-3333-2017-12-01-21-07-32-628](https://user-images.githubusercontent.com

[2017-12-01 20:17] thadguidry commented on #1372
@xseris We had issues with earlier versions of Jackson, but that was nearly 7 years ago.  Jackson's CSV parser is considered production ready now since 2.3 and latest is now 2.9.2  Jackson also gives us the flexibility with CSVMapper or Factory...which will be useful to setSchema prior to reading/writing (via previous metadata inspection once we decide on approach in #1096 )

[2017-12-01 20:22] andriaz commented on #1371
good, i've kjust discovered that i can edit directly from cells. The issue is when you try to edit cells from text facet

[2017-12-01 20:54] jackyq2015 commented on #1371
Tried from the "text facet", did not found the issue either. could you please provide the procedure to reproduce this issue?

[2017-12-01 21:21] jackyq2015 commented on #1372
I think there are two factors should be considered. One is how fast it can load and another is how much it can load. Current OpenRefine come across issue with big data set which will be failed to load into the system. I am not blaming the CSV parser. There are several reason and one reason is the OpenRefine itself.

If the library you mentioned above can handle this that will be great! But normall

[2017-12-01 21:40] ettorerizza commented on #1371
@jackyq2015 I can reproduce the issue on Windows 10. We have a strange phenomenon in the text facet.

![screencast2](https://user-images.githubusercontent.com/6286410/33504646-8c51b2d0-d6e8-11e7-8ebb-a95e02a7cef5.gif)

[2017-12-01 21:51] andriaz commented on #1371
Here is my procedure. i imported this csv:
v1,v2,v3
🙏🏽, 🔴sardinia🔴, 🇯🇵🇰🇷🇬🇧🇯🇵

![unior](https://user-images.githubusercontent.com/3440288/33504800-3818f2f4-d6e9-11e7-9e49-a2bd92db51ff.gif)

[2017-12-02 12:26] wetneb commented on #1370
* QA results - I agree this is obsolete and should be removed. Does anybody know what sort of things `cell.recon.features.qaResult` used to store? @thadguidry?
* The two label changes look sensible to me (except the case: only the first word should be capitalized to keep consistency with the rest).

[2017-12-02 15:17] thadguidry commented on #1370
@wetneb qaResult displayed the gathered results from Freebase staff and expert judgments once a client recon data was uploaded to Freebase.

[code]

[2017-12-05 11:40] ostephens commented on #1370
Fixed by #1373

[2017-12-05 11:40] #1370 closed

[2017-12-05 11:48] wetneb opened #1374 "Weblate unable to push new translations"
Now that the master branch is protected, Weblate fails to push new translations. One possible solution would be to change the weblate user to administrator, but that's not really ideal… Any better ideas?

Also, it's currently failing to merge translation files. I will look into solving that.

[2017-12-05 11:54] magdmartin commented on #1374
Can weblet push to a dedicated branch?

On Dec 5, 2017 6:48 AM, "Antonin Delpeuch" <notifications@github.com> wrote:

Now that the master branch is protected, Weblate fails to push new
translations. One possible solution would be to change the weblate user to
administrator, but that's not really ideal… Any better ideas?

Also, it's currently failing to merge translation files. I will look into
sol

[2017-12-05 14:57] wetneb commented on #1374
@magdmartin I did not find any such option in the configuration panels.

[2017-12-05 15:08] thadguidry commented on #1374
I think I fixed it.  I checked the option under Protected Branch to "Restrict who can push to this branch" and then added Weblate user.

[2017-12-05 15:13] jackyq2015 commented on #1374
they really should provide this push to branch feature. it is quite useful

[2017-12-05 15:45] thadguidry commented on #1374
@jackyq2015 what do you mean ? They already provide that, we are just restricting direct pushes to Master branch and requiring pull request reviews before merging.

[2017-12-05 17:13] jackyq2015 commented on #1374
got it. I thought they do not have that.

[2017-12-05 17:39] wetneb commented on #1374
@thadguidry no, I just tried triggering a push from Weblate and it's still rejected:
[code]

[2017-12-05 18:43] thadguidry commented on #1374
@wetneb Ah, approved review required.  let me see...

[2017-12-05 18:51] thadguidry commented on #1374
@wetneb Weird, it says that it should be allowed to push. See ?  Click the EDIT button at bottom next to Master branch on here:  https://github.com/OpenRefine/OpenRefine/settings/branches/master

[2017-12-05 20:49] wetneb commented on #1374
It only works if we uncheck "Require pull request reviews before merging".

[2017-12-05 21:20] jackyq2015 commented on #1374
we can separate out the translation as a submodule by creating a repo under openrefine and lift the restriction just for translate. For user there is no difference.

[2017-12-05 21:30] wetneb commented on #1374
@jackyq2015 hmm, that's a nice idea, but I see a few issues:
* it does make things a bit harder for users as a simple "git clone" will not fetch everything as it currently does
* currently we are only translating files in one folder but we might want to include translations of extensions later (for instance, the wikidata extension)
Maybe we can ping @nijel for his kind input on this issue?

[2017-12-06 07:30] nijel commented on #1374
Weblate can also create pull requests with the changes, maybe that would be better fit for your project?

I thought there is way to configure GitHub to dismiss checks for certain users for protected branch, but I've never used this feature myself, so I really can't help here.

[2017-12-06 11:07] wetneb commented on #1374
@nijel the docs say that this feature (github pull requests) isn't available on hosted.weblate.org (and indeed I cannot find it in the configuration screens).

[2017-12-06 11:41] nijel commented on #1374
Apparently the docs was wrong (I've just fixed that). It just has to be configured manually.

[2017-12-06 13:14] nijel commented on #1374
Here is first PR: https://github.com/OpenRefine/OpenRefine/pull/1375

[2017-12-06 17:41] wetneb commented on #1374
@nijel thank you so much!

[2017-12-06 17:41] #1374 closed

[2017-12-08 14:58] ostephens opened #1376 "Reconcile->"Match All Filtered Cells to..." option"
The "Match All Filtered Cells to..." action (under the Reconcile/Actions section of the column drop down menu) is designed to look up a value on Freebase and allow the user to match all cells (in the current filtered view) to that Freebase topic.

Since Freebase no longer exists, this option no longer works as expected.

On the basis we shouldn't have options that don't work, I suggest that we:

*

[2017-12-08 15:12] ettorerizza commented on #1376
@ostephens Are we talking about the same thing? The "match each cell to its best candidate" feature  works with any reconciliation service, not just Freebase. I see it as a very practical way to batch reconcile cells  when, for example, a facet has been used to filter candidates with a high score. This is at least how I use it, but perhaps it had another goal in the beginning?

[2017-12-08 15:18] ostephens commented on #1376
@ettorerizza no - this is a different option - apologies I got the labelled slight wrong originally - I've amended this issue.

Here it is in the menu:

<img width="749" alt="screen shot 2017-12-08 at 15 17 31" src="https://user-images.githubusercontent.com/576174/33771989-069e9476-dc2b-11e7-8f1b-48b84a3f075b.png">

[2017-12-08 15:37] ettorerizza commented on #1376
Yes, this feature has certainly become useless. Having never used it in the past, I don't know if it was useful nor if it should be adapted.

[2017-12-12 07:11] wetneb opened #1377 "Jython: not all variables are available"
Not sure if this is intended, but I find it annoying that the fields of some variables available in GREL do not seem to be available in Python. For instance, the famous `cell.recon.match.id` GREL expression works fine, but `return cell.recon.match.id` does not work in Jython. Wouldn't it be better to make this more uniform?

[2017-12-12 07:13] wetneb commented on #1376
@ostephens absolutely! It would be very useful to migrate this as you suggested.

[2017-12-12 07:30] wetneb opened #1378 "Reconciliation: let suggest services return descriptions and types"
It would be nice if reconciliation services could return descriptions as part of their suggestions.
Compare what Wikidata does:
![wd](https://user-images.githubusercontent.com/309908/33872258-03089330-df0e-11e7-8538-6647705990ae.png)
to what we currently have in OpenRefine:
![or](https://user-images.githubusercontent.com/309908/33872257-02cf63e4-df0e-11e7-8a98-9c15c22c5f98.png)
We can give the rec

[2017-12-12 07:56] wetneb opened #1379 "Renaming a column should update the facets"
When renaming a column, the facets that rely on it should be updated to refer to the new column name. That might be a bit hard to do in general as facets can contain arbitrary expressions…

[2017-12-12 08:34] ettorerizza commented on #1377
@wetneb It can be accessed, but as a value in a dictionary ( return cell['recon']['match']['id'] ). the dot notation does not work in Python.

![screenshot-127 0 0 1-3333-2017-12-12-09-30-44-368](https://user-images.githubusercontent.com/6286410/33874586-974133a2-df1f-11e7-9758-c0bb5735f432.png)

[2017-12-12 09:00] wetneb commented on #1377
@ettorerizza ah, thanks a lot! Do you think it make sense to also allow the dot notation too?

[2017-12-12 09:05] ettorerizza commented on #1377
Of course, it would be much more convenient ! To get the list of values in a record, the formula is `row['record']['cell']['column name']['value']`

This is very boring to write without autocompletion ...

[2017-12-12 15:24] thadguidry commented on #1379
@wetneb Hmm, shouldn't be hard.  PostCoreProcess supports updateOptions and we seem to already store and keep the expression of the bound Facet even after a Column rename, we just don't seem to update dynamically a particular Facet id.

[code]

[2017-12-12 15:30] wetneb commented on #1379
@thadguidry my point is that facets can contain arbitrary GREL, Python, Clojure expressions… so you need to dive down in these expressions, find out where columns are used, rename them, and generate a new expression. That's because we have access not just to the `value` variable, but also to the whole `cells` object.

[2017-12-12 15:33] thadguidry commented on #1379
@wetneb Ah, yes, and that.

[2017-12-13 14:08] DavidFichtmueller opened #1380 "Update "Last modified" date only when project is actually modified and not when it is just opened"
In the project list under "Open Project", each time a project is opened, the "last modified" date of the project is reset, even when no edits were made. The time stamp however should only be updated when actual changes are made to the project (i.e. steps are added to the history).

Steps to reproduce:

- Start OpenRefine
- Go to "Open Project" and select an old project (preferably one that is not

[2017-12-14 23:04] ddu1 opened #1381 "Flyout service amputates ids with a hash character "#""
In the [suggest API](https://github.com/OpenRefine/OpenRefine/wiki/Reconciliation-Service-API#suggest-apis), it seems like the flyout service returns a partial id string if the id has a "#" character. For example, if the id is `somedomain#sometopic` and the flyout endpoint is `/api/flyout`, openrefine will try to make a request to

`.../api/flyout?id=somedomain`

instead of

`.../api/flyout?id=som

[2017-12-14 23:17] wetneb commented on #1381
that seems to indicate that OpenRefine is not properly url-encoding this parameter. I suspect it should not be too hard to solve.

Out of curiosity, are you encountering this problem in an existing reconciliation service, or are you building a new one?

[2017-12-14 23:28] ddu1 commented on #1381
I encountered this problem in a customized reconciliation service.

[2017-12-15 15:36] jackyq2015 opened #1383 "use the local time instead of GMT+0 for "modified time""
For project related class, upgrade the current java.util.Date and Calendar of JDK7 to use java.time.LocalDateTime of JDK8. Will deal with others later to narrow down the scope of change.

[2017-12-18 11:06] wetneb opened #1385 "OR loads up every project on startup"
It's not clear to me which change introduced that, but when starting OpenRefine (as it currently is in master), it loads up every project I have in my workspace. That is of course out of question given that many of them only fit tightly in RAM.

[code]

[2017-12-18 11:44] ostephens opened #1386 "Projects with timezone in modified time metadata are not displayed in Open Project"
This is on the current Master branch with new Tags functionality implemented. None of my projects created on a pre-tags version of OR display in the Open Project screen. However, projects created with the Tags version of OR do display even if no tags assigned.

The 'All' option should display all projects, no matter whether any Tags metadata exists or not.

[2017-12-18 16:41] jackyq2015 commented on #1386
Not sure if it is caused by merge or not. let me check and update.

[2017-12-18 18:22] #1383 closed

[2017-12-18 22:29] jackyq2015 commented on #1385
I cannot reproduce on master. But I can see it from my own repo metadata branch. The only thing I can think of is that you did not fire a build after switch back to the master.

I will fix it on my branch though.

[2017-12-18 23:19] jackyq2015 commented on #1386
@ostephens Did you see any exception at back end? could you please paste the console message while startup?

[2017-12-19 09:17] ostephens commented on #1385
Just to check - is this loading projects every time, or just those that don't have (certain) metadata set?

[2017-12-19 09:22] ostephens commented on #1386
No exceptions or issues flagged in the console. However, checking I can see that get-all-project-metadata is coming back with an empty list:

`{"projects":{}}`

[2017-12-19 09:29] wetneb commented on #1385
@ostephens it looks like it triggers the recovery procedure for damaged projects - as if OR could not find the project metadata file and had to infer it from the data itself. When starting OR again from an earlier version I can see many new projects, created from the original ones (which are still available).

![screenshot](http://pintoch.ulminfo.fr/0f9ad73f95/2017-12-19-092617_1280x800_scrot.png)

[2017-12-19 12:17] ostephens commented on #1386
OK, think I have tracked down the issue to the parsing of the "modified" date from the project metadata.json. This happens in ParsingUtilities.stringToLocalDate(String s)

[code]
The string is going in, but nothing is being returned (which I think leads the creation of the projectmetadata to fail in ProjectMetadata.loadFromJson"

[code]

The issue seems to be that the existing metadata.json record

[2017-12-19 13:23] jackyq2015 commented on #1386
I see. It is a regression introduced by local time stamp. I had a UT for testing the new API can parse the old project. but still missed something. will figure out and close it

[2017-12-20 01:09] jackyq2015 opened #1389 "testUrlCaching UT failed in windows"
[testng] FAILED: testUrlCaching
   [testng] java.lang.AssertionError: expected [false] but found [true]
   [testng] 	at org.testng.Assert.fail(Assert.java:94)
   [testng] 	at org.testng.Assert.failNotEquals(Assert.java:513)
   [testng] 	at org.testng.Assert.assertFalse(Assert.java:63)
   [testng] 	at org.testng.Assert.assertFalse(Assert.java:73)
   [testng] 	at com.google.refine.tests.model.UrlFet

[2017-12-20 04:10] tcbuzor commented on #1277
aadrian, can you try out the new OR JDBC extension?
[](https://github.com/tcbuzor/openrefine-db-extension.git)
The extension supports MySQL, PostgresSQL and MariaDB.

[2017-12-20 08:24] wetneb commented on #1389
yes, this happens when the network is too slow. Your fix looks great, thanks!

[2017-12-20 11:39] jezcope commented on #1004
It looks like this has never been resolved — I've just helped out a colleague who ran into the same problem. I don't even know why the UNC path doesn't work because I thought all the file access primitives in Windows worked with either that or a Local File System path.

WRT to @simon1tan's suggestion, sadly if you start OpenRefine by double-clicking `openrefine.bat`, Windows reports the UNC path i

[2017-12-20 13:13] jackyq2015 commented on #1389
actually the problem still there. there is some other reason.

[2017-12-20 16:31] ostephens commented on #1386
@jackyq2015 I have projects created over a long period - I don't know which version of Java or OR I was using with them I'm afraid

[2017-12-20 18:24] jackyq2015 commented on #1386
that is fine. no worry, Owen!

[2017-12-21 00:20] jackyq2015 commented on #1389
submitted the PR. it is a network issue. Appveyor has some network policy to control the access the external network.

[2017-12-21 13:26] #1386 closed

[2017-12-21 13:27] #1389 closed

[2017-12-21 21:16] lafaurie opened #1391 "Erro when import xml file in version 2.7 and 2.8"
java.lang.ArrayIndexOutOfBoundsException: 0
        at com.google.refine.importers.tree.XmlImportUtilities.findRecord(XmlImportUtilities.java:298)
        at com.google.refine.importers.tree.XmlImportUtilities.importTreeData(XmlImportUtilities.java:263)
        at com.google.refine.importers.tree.TreeImportingParserBase.parseOneFile(TreeImportingParserBase.java:222)
        at com.google.refine.im

[2017-12-21 22:11] jackyq2015 commented on #1391
can you provide a sample xml file and the procedure you import the file?

[2017-12-22 19:40] lafaurie commented on #1391
This is the xml file [](https://drive.google.com/file/d/1ovhgPyPn6EpKpBfMwIihFWXdydbQza-R/view?usp=sharing ) it dosen't import completed

[2017-12-22 21:45] ettorerizza opened #1393 "Proposals to improve the metadata system"
After using the metadata system for a month, including the development version with tags, I give you some suggestions for improvement.

- Experience shows that the best time to fill the metadata of a document is during its creation (after that, we forget). So, it would be usefull to be able to fill at least the metadata "subject" and "description" in the creation window, just as one can already ad

[2017-12-23 03:44] jackyq2015 commented on #1393
There is a json editor at my branch for the "data package"
https://github.com/jackyq2015/OpenRefine/
It can do the in-place editing and validation. you can take a look.

We can change the "About" dialog to the same. But it does not support the attachment for now. Also I am afraid that the way you try to use the  "description" field is not so usual. Those operations/comments should be separated out

[2017-12-23 03:50] jackyq2015 commented on #1391
Tried your file. I have no problem to load it. Did you use mouse to select whole document before creating the project? or you just select part of it so it only extract that block of xml?

[2017-12-23 09:11] ettorerizza commented on #1393
"we have another ticket to deal with operation history/comments."

Hi @jackyq2015 . I'll take a look at this ticket. Where is it ?

"we can have a preference setting "creator" and each time we pull it from there and feed to the new project created."

Good idea. We could define a preference "username". If the project is created, this username becomes the "Creator". If another username modifies the

[2017-12-23 15:07] jackyq2015 commented on #1393
This is ticket:
https://github.com/OpenRefine/OpenRefine/issues/368

[2017-12-23 15:35] thadguidry commented on #1393
Some background history on the need...
We had heard the need for **both** Project notes and Column notes... I think the best way to handle that is with a new Menu option called **Add Notes** ... that does a "no-op" like David Huynh suggested in #368.

1. Support a **Add Notes** edit button that opens an freeform input box for Project level from the ALL menu.
2. Support a **Add Notes** edit button

[2017-12-23 16:12] jackyq2015 commented on #1393
@ettorerizza is that what you refer to? Or you can provide a sample of the notes if you don't mind.  I think attaching the notes to the project level and column level make sense because it is nature for the user and easy to access when they want to edit/view it. Metadata level data only accessible on the "project index" page. Most importantly, My understanding is that those notes should be part of

[2017-12-23 17:33] thadguidry opened #1395 "set-preference throws XML parsing error when setting high value for Text Facet's choice count limit"
Using Firefox latest

1. Added Text Facet on column with over 2 million rows.
2. Set choice count limit value to 1960000
3. Errors below

[code]

[2017-12-23 17:36] thadguidry commented on #1395
Actually, upon waiting and waiting.. eventually I see another error...

**allocation size overflow**
project-bundle.js:32795:33
ListFacet.prototype._update
http://127.0.0.1:3333/project-bundle.js:32795:33
ListFacet.prototype.updateState
http://127.0.0.1:3333/project-bundle.js:32524:3
BrowsingEngine.prototype.update/<
http://127.0.0.1:3333/project-bundle.js:31356:9
fire
http://127.0.0.1:3333/projec

[2017-12-23 18:07] thadguidry commented on #1395
We know we don't deal with large facets very well already in #672

[2017-12-23 21:26] ettorerizza commented on #1393
Exactly @jackyq2015 , even if @thadguidry goes a step further with the idea to annotate each column. When working on an Open Refine project, we take all sorts of notes to document our work and then describe what we did. We sometimes create Grel formulas or Jython scripts that we would like to reuse. It is not always easy, months later, to extract these scripts from the history in JSON.

Here is an

[2017-12-23 21:50] ettorerizza commented on #1386
@ostephens I tested yesterday the development version by adding tags to a project already created, and now the project in question bugs in the TRUNK version. Is it the same problem?

[code]

[2017-12-23 22:28] jackyq2015 commented on #1386
I guess this project is created using the new version of refine. if so, the reason is that the old API in jdk 7 can not process the date time written from jdk8. but from vise versa is fine. since jdk 7 was dropped already, I will mark it as not fix if it is the case.

[2017-12-23 23:58] ostephens commented on #1391
I can't recreate the error, but I would note that from what I can see this XML file doesn't work well in OpenRefine because it isn't a single hierarchical document, but rather contains 51 different types on thing each with it's own properties. From what I can see there are relationships defined between the entities described in the document based on 'id'. So this single file seems to me to be like

[2017-12-24 00:44] thadguidry commented on #1391
I have no problem with this file when I selected with my mouse on the whole document element

```<Documento version='1'>```

![screenshot-2017-12-23 impzdst 00120171019t0 xml - openrefine](https://user-images.githubusercontent.com/986438/34323486-0587601c-e811-11e7-8280-767dd8683cac.png)

The import and record view will be very slow to use because of technical details that we plan to fix later nex

[2017-12-27 10:27] ettorerizza opened #1401 "Add a "clean column names" option onimport"
We may need to add a "clean column names" option in the import window. This would be particularly useful for importing Json files, which produce column names full of unnecessary characters.

![screenshot-127 0 0 1-3333-2017-12-27-11-15-39-018](https://user-images.githubusercontent.com/6286410/34378923-b6ad9368-eaf8-11e7-8789-3a60c8b7986b.png)

Having "clean" column names also allows us to use the

[2017-12-27 11:21] wetneb commented on #1401
This is really needed. Are you thinking about a generic option that would be applicable to multiple importers? It seems to me that this issue is mostly focused on the JSON importer (and XML to some extent). So maybe adding an option to only these two could be enough.

[2017-12-27 12:21] ettorerizza commented on #1401
@wetneb Yes, I saw this as a generic option. It is almost essential for JSON files, but it would make it much easier to work in Open Refine, as I said above, as well as to export the file to a database.

Another possibility would be to allow a batch "transform" on the column names.

[2017-12-27 15:09] thadguidry opened #1402 "Add path check for Ant in appveyor.yml"
Ant is re-downloading and asking to overwrite, no matter the cache statement currently in Appveyor.
See build:  https://ci.appveyor.com/project/openrefine/openrefine/build/1.0.111

Improve it here:
https://github.com/OpenRefine/OpenRefine/blob/61f18c20cd78b54c97e160f39bc19846d9a02700/appveyor.yml#L13

The right way to handle this is to see if it already exists and then skip the download.
Look at t

[2017-12-27 15:19] thadguidry commented on #1401
@wetneb @ettorerizza Yeah, we already have some issues for this at #1017 and #1241 and #898
But I'll let you guys investigate those and come up with a broader brush in this issue to address all of these needs / issues.

[2017-12-27 21:31] jackyq2015 commented on #1393
@ettorerizza I added the "username" preference and it will be pulled as the creator of the metadata.
Will hide the "creator" column from the index page, do you want me to hide the "description" and "subject" column as well?

[2017-12-27 21:39] ettorerizza commented on #1393
Thank you, @jackyq2015 . Concerning "subject", I use it for the moment to regroup files in the same real world project. Maybe we will discover later that it duplicates the tags, but for now, better to leave it visible. Description, on the other hand, should not be hidden under any circumstances. It's this field that makes it easy to find a project among others with very similar names.

[2017-12-27 21:42] jackyq2015 opened #1404 "move the tag system data from the Project Metadata to Data Package metadata"
Data Package metadata has the same idea but different name(keywords). Better to move the tag system to hook with Data Package metadata

Please voice if you have any objection or concern.

[2017-12-27 22:07] ettorerizza commented on #1386
@jackyq2015 Yes, looks like projects (or only some projects, don't know) created with the development version can not be opened in previous versions. This is a major change that will need to be reported in bold to users. For example, we can no longer advise those who want to use the RDF extension to export their project and re-import it into LODRefine. cc @ostephens

[2017-12-27 22:17] ettorerizza opened #1405 "toDate() no longer works properly in the development version"
By trying the function toDate() on string-dates like "28/09/2015" or "12 may 2017", everything looks fine in the transformation window, but the result displayed is this:

[code]

[2017-12-27 23:41] thadguidry commented on #1404
@jackyq2015 no concerns on the mapping between the 2 ideas.  Yes, even Schema.org uses "keywords" to represent the idea of "tags" or "tagwords".

[2017-12-28 02:40] jackyq2015 commented on #1386
@ettorerizza Do you have the instruction to do the export/import somewhere? I can take a look. The back capability is possible if there is a need. The thing is that every change to the core could potentially break other extensions. Since we don't have the full picture and usage of those extensions, it is a little bit hard to do the major change and also keep all the back capability at the same tim

[2017-12-28 11:23] wetneb commented on #1405
This is probably linked to the failing test case in #1300.

[2017-12-28 14:12] zhouyao1994 opened #1408 "is there has a short key support in the openrefine?"

[2017-12-28 14:55] wetneb commented on #1408
@zhouyao1994 Please ask your questions on the mailing list, Stack Exchange or Twitter. Do you mean keyboard shortcuts? It would help if your question was a bit more explicit.

[2017-12-28 14:57] wetneb commented on #1404
I believe this issue will disappear as we have decided to store all the project-level metadata in the existing ProjectMetadata object (so, no DataPackageMetadata object).

[2017-12-28 14:57] #1404 closed

[2017-12-28 20:45] jackyq2015 commented on #1393
ok. then only the "creator" will be hidden then.

[2017-12-28 21:31] wetneb commented on #1393
@jackyq2015 your commits about this issue are on the data package branch, maybe it would be simpler to put them on a separate branch as the changes are mostly unrelated.

[2017-12-29 03:20] zhouyao1994 commented on #1408
@wetneb  oh thank you very much to remind me . i just find that there is no support for the keyboard shortcuts support~

[2017-12-29 03:20] #1408 closed

[2017-12-29 04:26] #1402 closed

[2017-12-30 01:31] magdmartin commented on #1393
@ettorerizza I am not sure I follow you. Why do you want to keep your note in the project metadata?
I'll rather use the option *add note* described by @thadguidry to add a new steps in the history tab where the user can add a description (option 1 from Thad comment).

[2017-12-30 07:09] wetneb commented on #1393
I think storing the note in the project metadata is cleaner than having an operation for it. Renaming a project does not perform any operation, why should adding a note do that?

[2017-12-30 10:29] ettorerizza commented on #1393
@magdmartin Ah, but I totally agree with Thad's comment. As long as OpenRefine allows one day to associate notes with a project, I'm happy, no matter how those notes are stored. I first suggested including them in the metadata schema because for me any information about the file is a metadata. But from a conceptual point of view, these notes can also be considered as a separate document that would

[2017-12-30 23:07] magdmartin commented on #1393
@wetneb I think we are discussing two different things and I just highjack this thread (sorry about that).

1. A master note of the project in the metadata as discussed in this ticket.
2. A documentation of the code (like you add comments in other programming languages) in the history tab. I think this should be discussed in #368.

[2017-12-31 17:55] thadguidry opened #1409 "Add translatable for core-buttons "browse""
In the [import-from-computer-form.html](https://github.com/OpenRefine/OpenRefine/blob/bdf1c3eda7ba55cc037565a5635201f9bcdf4a17/main/webapp/modules/core/scripts/index/default-importing-sources/import-from-computer-form.html#L3) and [sources.js](https://github.com/OpenRefine/OpenRefine/blob/d5fb07384242d07241b0ce103c47d930046f1135/main/webapp/modules/core/scripts/index/default-importing-sources/sour

[2018-01-01 05:43] wetneb commented on #1385
That was indeed a bug on jacky's branch - sorry about that!

[2018-01-01 05:43] #1385 closed

[2018-01-01 11:21] wetneb opened #1410 "Fetch URLs should follow redirections"
Apparently, HTTP redirections are not followed by the URL fetcher: they probably should.

[2018-01-01 11:35] msaby opened #1411 "fetching URL in OR 2.8 sometimes get data from other column of the project"
I'm not sure if it is the same bug as the one described for previous versions:
In OR 2.8 on Mac, I am trying to fetch the json data behind this URL : https://geo.api.gouv.fr/communes?lon=1.083333&lat=49.433333

With caching off, OR gives me in the resulting column ("wo_cache_clear") the content of an other column of my project! (value = "Populated", which is present in 2 of my columns). I have nev

[2018-01-01 12:24] ostephens commented on #1410
I'm already looking at the URL fetching as part of #1217 so I can look at this as well

[2018-01-01 13:22] ettorerizza commented on #1410
[Related question on the mailing list.](https://groups.google.com/forum/#!topic/openrefine/TKdZPToV3hY)

[2018-01-01 18:15] wetneb commented on #1411
Wow, that is a strange bug. It would be great if you could post an excerpt of your file and a JSON operation history which lets us reproduce the issue.

Out of curiosity, why did you disable caching? Is there still any issue with this feature?

[2018-01-01 22:34] msaby commented on #1411
I disabled caching because I remember there were a bug in 2.7. I thought it was linked, but no...
Unfortunately I don't have anymore the history, and I can't reproduce the bug easily, because I updated the JDK of my system, in order to fix the SSL issue.

[2018-01-03 07:27] ettorerizza commented on #742
There should be a way to create a _safe_ "Fill/Blank Down", since we know the number of records and the length of each in the previous column (I do not know if I'm clear?)

Another important improvement would be a "Fill/Blank" ALL, which would allow to get in a click a clean denormalized dataset.

[2018-01-03 11:09] ostephens commented on #1386
I think breaking backwards compatibility with previous versions of OpenRefine is a very bad idea. OpenRefine 2.5 no longer works on my Mac, so I can't go back and do an export/import for older projects.

I think definitely newer versions of OpenRefine should open projects created in older versions of OpenRefine.

I can see an argument for saying that projects created in more recent versions of Ope

[2018-01-03 20:38] wetneb commented on #1345
On the long term, we should consider migrating to something more modern like Jackson or Gson.

[2018-01-03 20:41] #1154 closed

[2018-01-04 01:18] #1381 closed

[2018-01-05 14:58] zazi opened #1418 "id of deleted project will be kept in workspace.json"
I have a project that makes use of another project (as mapping table). After the processing (i.e. application of the mapping rules (JSON history) + exporting the result), I'm deleting both projects. Only the id of the main project will be kept in workspace.json. The auxiliary project (with the mapping table) disappears as expected. When I restart OpenRefine, it tries to recover the project whose i

[2018-01-06 02:07] jackyq2015 commented on #1418
are you sure the project were removed? The project only will try to recovery if the project folder is there.

[2018-01-07 12:13] wetneb opened #1424 "type_strict option should be exposed in reconciliation UI"
When configuring a reconciliation, we could let users decide if type matching is strict or loose. There is already a "type_strict" parameter in the specs but it isn't exposed in the UI and we are not sure what the original meaning of this option was.

See https://github.com/wetneb/openrefine-wikidata/issues/4

[2018-01-07 14:53] thadguidry commented on #1424
I remembered what it does...

**any** - At least 1 type in query must be present on the entity in the graph for it to be returned

**all** - All types in query must be present on the entity in the graph for it to be returned

**should** - i think this was a 50% rule where at least 50% or more of the types must be present on the entity in the graph for it to be returned.  (say an entity has 4 types

[2018-01-08 08:38] wetneb commented on #1424
okay, so that assumes we let the user choose multiple types, which isn't currently possible

[2018-01-08 09:57] zazi commented on #1418
The project has been created after applying the mappings (JSON history) to the main project. After removal of the main project the project folder disappeared and the only things that has been left was the id of the main project in the workspace.json. Hence, the existence of this id causes (from my understanding) the creation of the (empty) project folder (after OpenRefine restart).

[2018-01-08 13:33] biiip commented on #715
Is there a more recent solution to this issue?

[2018-01-08 14:15] thadguidry commented on #1424
@wetneb right, its support was for multiple types.

[2018-01-09 11:46] ostephens commented on #1391
@lafaurie any more information on this one? We've not been able to replicate the error you reported, so hard for us to progress unless you have any other details you can share with us?

[2018-01-09 12:14] ostephens commented on #715
@biiip short answer is No. I have released an extension which allows you to add new blank rows to an existing project, but there is no way to import a file into an existing OpenRefine project.

[2018-01-09 17:23] thadguidry commented on #715
@biiip There has been discussion before from folks that work with this sort of workflow.  But the team really needs a better understanding of what this involves.  Here is our current understanding of this issue ...(what we do in OpenRefine to make things easier against the following needs, we can follow up on, but first an understanding of the workflow and needs) ...

1. User wants to add or appen

[2018-01-09 17:40] wetneb commented on #715
I think adding rows to the project as an operation is against the philosophy of OpenRefine's data model, because that's not a row-wise (or record-wise) operation. However, the request makes a lot of sense from a practical perspective. It should be possible to apply OpenRefine's operations to a stream of data that is gradually discovered in chunks. That's something to consider in our long term arch

[2018-01-09 17:55] thadguidry commented on #715
@wetneb Just to be clear, Its a whole approach.  That is, 1 and 2 are considered a sequence of actions.  (1 and 2 are inclusive, we add an Appender AS WELL AS provide a new function to Redo operations on the tagged New or Appended rows.)  That OK ?

[2018-01-09 18:01] wetneb commented on #715
Oh okay I misread your proposal. Yeah, I think your two points make a good proposal, although I guess I would not even give the choice to the user to perform 2 or not: 2 should be performed without asking any questions. Otherwise the edit history is going to be quite messy.

But again a real solution would be to properly allow running OR operations on streams, and that requires a big backend chang

[2018-01-10 15:36] biiip commented on #715
@thadguidry This solution sounds good and would help a great deal!

[2018-01-12 08:38] ettorerizza commented on #1158
[Linked question in the mailing list](https://groups.google.com/forum/#!topic/openrefine/WG6nbUFrX7g) (no time to answer for the moment)

[2018-01-13 19:53] #1341 closed

[2018-01-13 19:53] jackyq2015 commented on #1353
PR was merged

[2018-01-13 19:53] #1353 closed

[2018-01-13 19:54] jackyq2015 commented on #1240
close it. not deal with BS for now.

[2018-01-13 19:54] #1240 closed

[2018-01-15 10:46] YannBrrd opened #1433 "OpenRefine on Spark"
Hello,

I've seen a repo to have OpenRefine running on Spark. Is-it something you could somehow integrate ?

https://github.com/andreybratus/RefineOnSpark

Thanks.

Regards,
Yann

[2018-01-16 02:34] #1296 closed

[2018-01-16 02:36] magdmartin commented on #1433
Yann, thanks for reaching out. As you can see, it is on [our roadmap](https://github.com/OpenRefine/OpenRefine/projects) under _Performance Improvements_
However, this is a huge milestone, and we need first to break it down into concrete steps and architecture. Is it something you will be able to help us with?

[2018-01-16 09:29] YannBrrd commented on #1433
Hello @magdmartin,

OK, did not see that before. I'll have a look a it, code wise, but I'm a bit rusty TBH. Do you have a view about how to do that ? RefineOnSpark approach is something you'd accept ? Or a completely different architecture ?

[2018-01-16 09:37] wetneb commented on #1433
On the long term, I'd be in favour of a different architecture, that really breaks down operations into individual processes that can be run on different nodes in parallel.

[2018-01-16 09:49] fpompermaier commented on #1433
I totally agree. OpenRefine should be able to work on a sample of the data (when this is to big to fit in memory), create a set of operations to perform on a project and applying those operations on the remote framework like Spark/YARN/Flink/Apache Beam/etc.
In order to consider the process finished some validation rules need to be set. It those rules are not satisfied, another sample of the data

[2018-01-16 10:34] YannBrrd commented on #1433
The way I see things, we should implement various things :
1. Loading datasets from various Data Sources, like HDFS, S3, ... (with a sampling option)
2. Working locally on the loaded dataset, this should be the same as today, as far as I understand things
3. Generate a Spark job when done locally, which is where the trick is...

(side talk, woring in parquet locally is definitely a thing to consid

[2018-01-16 10:45] wetneb commented on #1433
I think there is more than just translating GREL to Spark: it is the operations themselves that need translating. I will try to come up with a more concrete proposal soon.

[2018-01-16 13:50] YannBrrd commented on #1433
OK. Regarding architecture

![image](https://user-images.githubusercontent.com/2820034/34992201-a395c8ac-facc-11e7-8cf9-051c0397929d.png)

[2018-01-16 14:03] YannBrrd commented on #1433
@fpompermaier maybe the right way to map history would be doing it to Beam, which will then be a bridge to many other frameworks (Spark, Flink, ....).

WDYT ?

[2018-01-16 14:26] fpompermaier commented on #1433
I'd keep things separated. But this is just my opinion.
The problem right now is that the history operations are quite hard to translate into a batch process.
Maybe GREL could be quite easy to translate but Jython and other languages are more tricky...
The first thing I'd try is to extract GREL and the history-related classes into a separate project and see whether this lib could be imported and u

[2018-01-16 14:46] magdmartin commented on #1433
@YannBrrd regarding your architecture diagram, the front-end and back-end are currently not independent in OpenRefine.

We recently received [funding from Google News Labs](https://groups.google.com/forum/#!msg/openrefine/kT2Uqh4SNz4/3KNqdllDAgAJ) and we plan to use that funds to modernize OpenRefine architecture including:

* Separating the front end from the back end.
* Once the back end indepen

[2018-01-16 14:53] wetneb commented on #1433
No that's correct! Anyway this is a huge task so it's great to have many voices chiming in :)

[2018-01-16 16:01] YannBrrd commented on #1433
@magdmartin if we follow @fpompermaier suggestion, we could tackle the 2 tasks in parallel :
1.  Separation of front/back
2. Map History objects and GREL to target framework

And because I count in ternary :
3. Add a s3, hdfs, ... getter

[2018-01-16 16:20] thadguidry commented on #1433
ALL ... our overall architecture plans are to offer alternative processing into BEAM transforms (which opens up every possibility including Raw file manipulations if you have to, all the way up to cloud run transforms on current tech stacks).  But as @magdmartin has stated, we have plans to 1st work on separating out our backend completely and aligning for BEAM.  That's our high-level plan.

As fa

[2018-01-17 10:08] ostephens commented on #1217
I've submitted a PR #1434 which allows the user to set three http request headers:

- User-Agent
- Accept
- Authorization

Adding additional headers can be done easily either in an extension or in the core code. @thadguidry has suggested adding 'Proxy-Authorization' request header as well - v happy to do this if there is a need for it.

If anyone (@paregorios?) is in a position to test and feedbac

[2018-01-17 10:31] ostephens commented on #1410
OK - the issue seems to be that the URLConnection library does not follow redirects when they use different protocols to the original request. In particular this means that if you request an http URI, and there is a redirect to an https URI, this will not be followed. Redirects which are to the same protocol (http->http or https->https) work as expected in OpenRefine.

This behaviour is deliberate

[2018-01-17 15:07] ostephens commented on #218
I've submitted a PR #1434 which allows the user to set three http request headers:

- User-Agent
- Accept
- Authorization

Adding additional headers can be done easily either in an extension or in the core code.
The headers that can be set on the request are set in the back-end, so adding a proprietary header (which might hold an API key for example) would need to be added through an extension (th

[2018-01-17 15:29] fpompermaier commented on #1433
I think that all the confusion arises from the fact that this found received from Google to modernize the OpenRefine architecture is not very clear (or well documented).
Apart from a very brief discussion on the OpenRefine Google Group there's almost nothing about who "we"/"ALL" refer to, who is leading this thing and if the community could be involved in this decisional process/analysis.. @magdma

[2018-01-17 15:51] thadguidry commented on #1433
"we" includes "you". :)  This is open source.  A community of volunteers.  But Yes we have teams https://github.com/orgs/OpenRefine/teams and there is a technical steering committee (which includes me, Jacky, Antonin, and Owen...which we refer to as CORE https://github.com/orgs/OpenRefine/teams/core ) to basically help guide a bit.  But OpenRefine can take many forms in the case of extensions and

[2018-01-17 16:05] fpompermaier commented on #1433
I don't have access neither to https://github.com/orgs/OpenRefine/teams not https://github.com/orgs/OpenRefine/teams/core.
I was subscribed to user group but not to dev. So problem fixed now..

Thanks for the link to https://github.com/OpenRefine/OpenRefine/projects, it's very useful

[2018-01-17 16:12] thadguidry commented on #1433
@fpompermaier Hmm... yeah seems like teams are not publicly shown even though I have all of them being set to Visible. https://help.github.com/articles/about-teams/  But teams are not for discussion but actually for permissions and project communication with "@mentions".  If anyone wants to be part of "technical discussions" then you simply subscribe to our DEV mailing list. Easy.

[2018-01-17 16:27] wetneb commented on #218
By the way there are also requests for support of reconciliation services with API keys (from OpenCorporates). A PR about this was filed a while back but has not made it to master (#758).

[2018-01-19 03:41] magdmartin commented on #1433
@fpompermaier see also our [CONTRIBUTING](https://github.com/OpenRefine/OpenRefine/blob/master/CONTRIBUTING.md) document. I am also migrating the draft Governance model in #1435

[2018-01-22 08:26] ettorerizza opened #1437 "Annoying switches between "Create project" and "Open project""
Open Refine opens on the "Create project" view, but switches automatically after one second to the "Open Project" window. It's pretty annoying and causes many unintentional project openings.

![screencast](https://user-images.githubusercontent.com/6286410/35211119-6466a25e-ff55-11e7-8d31-48fd271d5830.gif)

[2018-01-22 08:50] ettorerizza opened #1438 "ncatneation"

[2018-01-22 08:51] #1438 closed

[2018-01-22 09:25] ettorerizza opened #1439 "Concatenation of columns that contain null values (+ Google group statistics)"
I created a [spreadsheet](https://docs.google.com/spreadsheets/d/18ojit-6LYyfJn5qHD_6igDk2lWSpNXWSbyrybjzO9b0/edit?usp=sharing) containing the list of topics on the Google group sorted by number of views.

With 3884 views (the mean is 47 and the median 14), the question ["how to concatenate values of 2 or more columns into a new one?"](https://groups.google.com/forum/#!topic/openrefine/O6QF_KKaMw0

[2018-01-22 23:14] thadguidry commented on #1437
Does it happen in Firefox ?  Can you try to disable ALL Chrome extensions and try again ?

[2018-01-23 06:49] ettorerizza commented on #1437
@thadguidry Well done. It seems that it is related to the ADBlock+ extension  for Chrome. Thanks !

[2018-01-23 07:09] ettorerizza opened #1440 "Do not display the entire element returned by "fetch urls""
If you click on [this Viaf API URL](http://viaf.org/viaf/9847974/viaf.json), even your browser will have trouble displaying the returned JSON. Imagine then when you have 100 of them and you use "add column by fetching URLS" in Open Refine... Even with only two URLs, the whole interface slows considerably.

Same problem when extracting source code from a large web page for scraping purpose. I wonde

[2018-01-23 09:06] wetneb commented on #1440
I think a cap on text length would be reasonable.

Otherwise, one possible workaround is to do the fetching in Python and extract the interesting data in the same go (so, without storing the full response).

[2018-01-23 09:13] ettorerizza commented on #1440
@wetneb I had thought of this possibility. Because in the end, we often know in advance what we want to extract from the JSON / XML / HTML. The only case where storing the answer is useful it's when one wants to create several columns from the same xml. The ideal would be to have the possibility to store the answer, or parse it on the fly with something like:

`value.fetchUrl().parseJson()...`

[2018-01-23 14:36] #1437 closed

[2018-01-23 14:40] thadguidry commented on #1440
This sounds like a preference that we should set...and then if users want to override it...they update the preference.

@wetneb   So... any thoughts on what a reasonable cap that we can setup in preferences.vt ???

[2018-01-23 15:37] biiip commented on #715
@thadguidry Do you know approximately how much time this kind of developments might take and when this update might be launched?

[2018-01-23 16:24] wetneb commented on #1440
I'm not sure, maybe something like 1024 characters?

[2018-01-23 17:31] thadguidry commented on #715
@biiip There is other more important work that we have scoped out.  This would be a Medium priority...unless we get like 50 folks that +1 this issue :)  Which seems hasn't been the case in 4 years.  The other work surround this would be around our data model alterations we have planned (and some started with our metadata support and data package support), but as @wetneb says its better to wait and

[2018-01-25 04:40] jackyq2015 commented on #1440
Maybe the extraction can be done from the VIAF side. I will ease the burner from the OR side. Though I am not familiar with the syntax.

- VIAF in the OCLC API Explorer:
https://platform.worldcat.org/api-explorer/VIAF

- The SRU syntax used in the API SRUSearch function:
http://www.loc.gov/standards/sru/

[2018-01-25 09:35] wetneb commented on #1440
Yes if there is a text cap it should be large by default and configurable by the user.

[2018-01-25 11:36] srht opened #1441 "Open Refine 2.8 exception at start on windows 10"
There is an exception at start when trying to open OpenRefine 2.8 version:

[code]

[2018-01-25 12:17] wetneb commented on #1441
@srht do you have any non-ASCII characters in your username on this computer?

[2018-01-26 18:14] #1377 closed

[2018-01-26 18:48] wetneb commented on #1410
I agree there should not be any security concern with HTTPS -> HTTP. By the way, if URLConnection does this sort of nonsense, it might be worth migrating to a more modern library (https://stackoverflow.com/questions/1322335/what-is-the-best-java-library-to-use-for-http-post-get-etc). Ideally one that we already have in our dependencies, and in a dream world something that can be easily mocked for

[2018-01-27 22:23] pabloab opened #1445 "Installer on package for Linux"
Would be great to offer/build Linux installer on a package form: Classic DEB, RPM or new AppImage/Snap/Flatpak. Either way also would be great to have it available on official repos of main Linux distros.

[2018-01-28 00:13] wetneb commented on #1445
@pabloab That's very true! This mostly requires familiarity with these packaging systems rather than OpenRefine itself, so it's a good task for anyone who wants to help without diving in the internals too much.

[2018-01-29 15:45] thadguidry opened #1446 "Custom Tabular Exporter no longer saves the state of Options for each Column"
If you select column1 and change some options for it, then click on another column2 and change some options on it, then go back to column1, the Options dialog state is not saved.  Notice we actually have text above the Options section that states "Options for Column1" , "Options for Column2".

I don't know when this broke, but it was hinged around Reconciling I thought, but honestly cannot remembe

[2018-01-29 17:14] thadguidry opened #1447 "Add new Column Operation "Pad Column to length""
From @ettorerizza
"A padding function is definitely needed in the menu. Meanwhile, the fact that Open Refine does not show consecutive spaces does not help to solve the current problem."

From @thadguidry
Perhaps there is a need to have a simple column operation for this also , besides some new GREL value.format() syntax or a toString(" ") format override ?
"Pad column to length..."  where the dia

[2018-01-29 18:06] ultrageek commented on #413
I have seen this problem with both sub- and over-2000 rows, on both Mac and Win 10. Problem is, on Mac OS X as of El Capitan, the fetch no longer works - at least not for me. There's a certificate error hiding behind the problem, but I fixed it in the commandline. Fetch still works in Win 10, but as of today, I'm finding it hanging at 88% for one group of rows. When I took a slightly smaller slice

[2018-01-29 20:51] wetneb commented on #413
@ultrageek it would help if you could provide OpenRefine's logs (the white text in the black window) when you stumble on the issue again - I suspect some exception must show up there.

[2018-01-29 20:54] wetneb commented on #1447
It looks like this could be done by adding the appropriate GREL function.

About displaying consecutive spaces, I also think this is an issue but I am not sure how to go around it. Replace all spaces by non-breaking spaces when displaying a cell? That will break word-wrap (and we are distorting the content).

[2018-01-29 20:58] wetneb commented on #1446
@thadguidry I tried to reproduce this but everything seems to work correctly for me - the state of the options dialog is saved and restored when I go back to the column. Not sure how to debug that :-/

[2018-01-29 20:59] thadguidry commented on #1447
@wetneb #1286 is the issue discussing the HOW-TO proposal for the display of Unprintable Characters, which could tie into @ettorerizza need.

[2018-01-29 21:04] ettorerizza commented on #1447
It's not really a personal need. I use very little padding. But since most data cleaning software has one function for that, it must be a common need. @magdmartin gives a [workaround in GREL](http://kb.refinepro.com/2014/04/padding-left-and-right-in-openrefine.html), but it's quite difficult to remember.

[2018-01-29 21:55] thadguidry commented on #1446
@wetneb hmm, for sanity's sake....can you try with OpenRefine 2.7 release as well on your end ?

[2018-01-29 22:03] #1446 closed

[2018-01-30 01:32] jackyq2015 commented on #1441
Might relate to this issue:
http://bugs.jython.org/issue2632

[2018-01-30 03:05] thadguidry commented on #1441
@jackyq2015 I'd say that's exactly the issue the OP has here.  Hmm, Jython team says this fix is going into Jython 2.7.2 and I would say we probably could just build our own Jython 2.7.2-SNAPSHOT from latest Jython and incorporate the last 6 months of their fixes from Stefan and Jeff https://hg.python.org/jython/shortlog/default

[2018-01-30 23:05] jackyq2015 commented on #1441
@thadguidry Build a snapshot is an option but may introduce other bugs. I would prefer to wait until it get stabled and release an official version unless this particular bug is a show-stopper.

[2018-01-30 23:21] thadguidry commented on #1441
@jackyq2015 I reviewed the last 5 months of commits.  There's only fixes, and nothing I'd be worried about.  There's an alpha version floating on the mailing list. But I'd say even a beta version would be fine for us if your that worried, but I'm not as I stated.  Problem historically has been that Jython are slow on releases...but fast on bug fixes in master as they are found, only pushing new fe

[2018-01-31 09:59] ostephens commented on #1440
On the VIAF side if you use the SRU interface you can limit the number of records returned, but I don't think this is the problem here. The issue is that requesting a single record that has many alternative name representations etc. you get a very large chunk of JSON which you can't limit through the API.

I'm in favour of a user configurable text cap on the amount of text show in a cell with a co

[2018-01-31 11:19] wetneb commented on #1378
We should also let reconciliation services return the list of types in the suggest service - these types should then be stored in the Recon object. Otherwise, this creates a discrepancy between the cells which were matched from existing suggestions, and the ones where the record was looked up manually.

[2018-01-31 13:17] #1351 closed

[2018-01-31 14:03] ostephens commented on #1410
#748 looks like already implements a work around for data import

[2018-01-31 14:19] ostephens commented on #413
For certificate/SSL issues on Mac see #1265 - it works through the different levels of problem and solution

If you are using OpenRefine 2.7 it's possible on Windows you are seeing #1219 - which is fixed in 2.8 and can be avoided in 2.7 by unchecking the 'cache' option when fetching URLs. (I'd recommend updating to 2.8 generally)

As @wetneb says - if you can provide further information about any