[2020-08-12 20:41] thadguidry opened #3071 "EPIC - Allow opt-in to a central Reconciliation Service Registry"
**Is your feature request related to a problem or area of OpenRefine? Please describe.**
We have talked about perhaps in the future, some community member, or organization that would maintain a centralized Reconciliation Service Registry where OpenRefine could query the registry in order to stay up to date with the service's config and URL.

Unfortunately we can't put a note on old services (we do

[2020-08-13 07:13] wetneb commented on #3071
Yes it could make sense to have a service catalogue in the tool itself.
The testbench is machine-readable (since it is generated from a SPARQL query).
That does not completely solve the issue though, since the location of the central catalogue will have to be hard-coded too.
As far as privacy is concerned, the catalogue itself is not a big concern, since users do not share any information (beyond

[2020-08-13 07:19] wetneb commented on #3061
Given the user experience we get here, I am wondering if our architecture could be adapted slightly to avoid guessing a type and then failing to run the corresponding importer.
Intuitively, if parsing for import preview is not too expensive, it should be possible to try the guessed importer, and if that fails fall back on the next one in the queue, until possibilities are exhausted.
I would say it

[2020-08-13 07:59] #3064 closed

[2020-08-13 09:31] pyrog opened #3072 "Reconciliation : Left panel "Services" bounce"
When clicking on "Services", the panel is "closing" but immediately "reopening" like it bounce.

### To Reproduce
1. Adding a new reconciliation service
2. Click on the services title or on the label icon
3. The panel is "moving" left normally
1. The panel automatically "move" to the right

### Current Results
All the filed behind the panel are hidden

### Expected Behavior
The panel should stay "

[2020-08-13 12:00] thadguidry commented on #3072
Hi @pyrog Yes this is a known issue #1658 , so marking as duplicate.  Hopefully we get this resolved soon in an upcoming release.

[2020-08-13 12:00] #3072 closed

[2020-08-13 12:07] wetneb commented on #1658
@pyrog is the problem still present on the master branch? This issue should have been closed by #2915. (It has not been closed because it was not properly linked to the pull request)

[2020-08-13 12:30] pyrog commented on #1658
Yes with [**Firefox**](https://www.mozilla.org/en-US/firefox/79.0/releasenotes/?utm_campaign=whatsnew&utm_medium=firefox-browser&utm_source=firefox-browser) 😞
Also, there is the same issue when you delete a service.

But it worked fine with **Chrome**  😃
Version 84.0.4147.125 (Build officiel) (64 bits)

And with **Safari**, issue #2990 is still there  😢

[2020-08-13 12:35] thadguidry opened #3073 "Remove old classmappings for extension support with com.metaweb.* and com.google.*"
https://github.com/OpenRefine/OpenRefine/blob/f50efb3699012ea539e9f0f4cfc63399a5ea7b12/main/src/com/google/refine/RefineServlet.java#L333

They are added for backward compatibility for extensions.
They can be removed at some point in future version of OpenRefine.

Will mark as "extension" label so we can find this issue easier in the future when discussing extension support.

[2020-08-13 12:50] wetneb commented on #3073
I think we can keep these indefinitely, no? What is the benefit of removing them?

[2020-08-13 12:55] thadguidry commented on #3073
Oh well... yeah, that's technically true. :-)  Up to you and @tfmorris  I guess it depends on if we want the code to also encourage extension authors to move ahead with us.  So there, we probably just need a comment in the code, rather than removal.  And furthermore, I guess additional encouragement should be done in "writing an extension" document in our Technical Reference as to the proper class

[2020-08-13 13:11] pyrog commented on #2990
![cant reconcile on Safari](https://user-images.githubusercontent.com/2158081/90138239-ff75a180-dd76-11ea-8618-3da60a3a5138.gif)

[2020-08-13 15:39] thadguidry opened #3074 "Importing tests failing on master branch"
@tfmorris  it seems the fix for #2962 needs further improvement for the FILE path/copy ?
Your changes from #2977 seemed to cause this issue now.

I have cloned OpenRefine master branch here on a Windows folder:
`E:\GitHub Repos\OpenRefine\`

When I run
`refine build`
`refine test`

and I can verify that the files do indeed get copied during `build` and exist at this path:

![image](https://user-im

[2020-08-13 16:43] tfmorris commented on #3074
As you can see in the PR that you linked, all tests were green, including on Windows, so I don't know how you came to your conclusion about the cause of your local test failures.

[2020-08-13 17:18] tfmorris commented on #2990
This is the offending line of code:

    <script type="text/javascript">var theProject = { id :  };</script>

On Chrome it has the project ID filled in:

    <script type="text/javascript">var theProject = { id : 2321259574266 };</script>

[2020-08-13 17:20] thadguidry commented on #3074
Hmm... I didn't create this folder... let me dig in to see what's going on here and then update this issue more.
![image](https://user-images.githubusercontent.com/986438/90166094-48b9f700-dd5f-11ea-9ca1-32d4e1204438.png)

[2020-08-13 17:29] thadguidry commented on #3074
[code]

[2020-08-13 17:39] thadguidry commented on #3074
Ah! Space in the folder path?  That only affects Windows.  Let me remove that.

[2020-08-13 17:40] tfmorris commented on #3061
Yes, definitely.

[2020-08-13 17:44] thadguidry commented on #3074
RESOLVED.   I'll update our dev docs to pleasantly and so gracious remind them ... **no spaces in your folder paths please or you are just asking for trouble, even on Windows**.

[2020-08-13 17:44] #3074 closed

[2020-08-13 18:14] tfmorris commented on #3073
I agree that investing in removing them (or even discussing removing them) isn't a priority.

It **is** an interesting indication, though, of just how important extension compatibility used to be. We need to get back to that. Every extension that I've looked at recently, except for perhaps the RDF extension, is neither binary nor source compatible any more.

When/if we do remove support for someth

[2020-08-13 18:23] tfmorris commented on #3071
Properly designed distributed systems are much more resilient than centralized systems with single points of failure. Distributed is the design center for the Internet and the Web which is implemented on it.

If you read those two threads about the single reconciliation service that had flaky hosting, you'll see that significant portions of the problems were due to OpenRefine bugs:
- hang instead

[2020-08-13 18:48] thadguidry commented on #3071
@tfmorris  Great points, I had the same feelings as you do Tom, where it did feel like at least informing the user within the OpenRefine client would help tremendously.  But there might be value still with some of the ideas talked about here and before with @wetneb   I don't know.  We likely need to continue working on the Reconciliation API and then asking services how they envision things additi

[2020-08-15 11:55] wetneb opened #3080 "Update Wikidata recon endpoint URL (again!)"
I used to maintain a Wikidata reconciliation service at https://wdreconcile.toolforge.org/.

The toolforge is an infrastructure provided by the Wikimedia Foundation for developers to host tools to support the Wikimedia community. It provides a managed ecosystem which enables shared maintenance of tools by multiple contributors, easy access to Wikimedia resources (SQL replicas of the MediaWiki dbs)

[2020-08-15 12:42] wetneb opened #3082 "Improve handling of dates in cell editing UI"
**Is your feature request related to a problem or area of OpenRefine? Please describe.**

Say you want to manually edit a cell to input a date there. This is what it currently looks like:
![image](https://user-images.githubusercontent.com/309908/90312398-82783280-df04-11ea-9874-d3db4d36f7b9.png)

The problems are:
* As a user, how do I know which formats are supported? Especially if I start with a

[2020-08-15 17:02] tfmorris opened #3083 "Coveralls test coverage report flaky"
This build: https://coveralls.io/builds/32777994
was "failed" by Coveralls because coverage supposedly fell 0.06% with 25 newly uncovered existing lines in 8 different files.

The only problem with that is that there's no way that the very minimal changes in the PR affected any of those files, which are all in the database and Wikidata extensions.

This would seem to indicate that either our tests

[2020-08-15 17:31] tfmorris opened #3084 "GData initialization - Cannot read property 'sort' of undefined"
It looks like the Google Data importer is attempting to initialize its list of documents at startup even if it isn't visible or being used.

[code]

The offending code is

  var docs = o.documents;
  ...
  docs.sort(function(a, b) { return b.updatedDateTime -  a.updatedDateTime; });

Where the contents of `o` are an error message saying "Not authorized".

It's wasteful to do this initialization at

[2020-08-15 17:41] tfmorris opened #3085 "Document that OOXML Strict files are not supported"
As mentioned in #2221, until that feature request is implemented, we should document that we don't support Strict mode OOXML files.

[2020-08-15 17:58] tfmorris opened #3086 "Refactor initialization of web UI"
Our current initialization code is messy and fragile with a bunch of synchronous code that blocks the UI and must be executed in a particular well defined order or things break. #3084 is an example of a recent symptom of this, but we've seen a number of related issues.

### Proposed solution

Any [place](https://github.com/OpenRefine/OpenRefine/search?q=async%3A+false&type=Code) that uses `async:

[2020-08-15 18:50] thadguidry commented on #3082
Within that text input element... maybe it could just use [ACE](https://ace.c9.io) embeddable code editor with a bit of linting, and Syntax highlighting perhaps? (Other uses of ACE could be in our Expression Editor, but [that's another issue](https://github.com/OpenRefine/OpenRefine/pull/2350#issuecomment-674434712))

[2020-08-16 08:34] wetneb commented on #3083
One way to mitigate this would be to change the threshold below which Coveralls marks builds as failed. I have just changed it from -0.01% to -0.07%

[2020-08-16 08:35] #3061 closed

[2020-08-16 12:12] Marcono1234 commented on #3043
@tfmorris what do you think about the code change proposed above?

[2020-08-16 18:14] tfmorris commented on #3083
Thanks. That should help generate fewer failed builds, but still leaves the question of why the database extension unit tests are sometimes, apparently, throwing exceptions and sometimes not.

I also find the Coveralls report hard to interpret. The wikidata module reports are showing things like the closing brace of an empty method as being "uncovered" which doesn't seem very useful, although perh

[2020-08-17 00:07] tfmorris opened #3088 "Obsolete and missing Javascript files on About page"
Neither of these files which are referenced from about.html exist: https://github.com/OpenRefine/OpenRefine/blob/fc21d58ed11af8e512be5fd5852a281c88791fb7/main/webapp/modules/core/about.html#L46-L47

They should be replaced with the current version of jQuery and the script which now contains OpenRefine version info.

[2020-08-17 00:20] tfmorris opened #3089 "Missing internationalization (i18n) on About page"
None of the text on the About page is internationalized so that it can be translated into languages other than English.

The individual HTML elements should be given unique ids which can be used with the `$.i18n()` calls to set the text for the element based on the user's current language. The license text and copyright statement should **not* be translated.

These elements should be translated an

[2020-08-17 00:46] tfmorris commented on #3043
@Marcono1234 Sorry, I missed your follow up note. I'll have another look.

[2020-08-17 11:16] #3088 closed

[2020-08-17 12:49] #3001 closed

[2020-08-17 16:31] wetneb commented on #3059
Another idea: using a dedicated style to refer to UI text (such as menu items). This could be done with inline `<span>` tags which would be styled appropriately.

[2020-08-17 17:50] allanaaa opened #3093 "Fix appearance of "sort by boolean" options"
As per https://github.com/OpenRefine/OpenRefine/pull/3035#issuecomment-674996783

### Current Results
![coreviews](https://user-images.githubusercontent.com/28012148/90427323-5e495c80-e090-11ea-8a04-fe3e6d958984.PNG)

### Expected Behavior
The instance of "core-views/true-false" should be "true then false" I believe - with translation.

(Personally, I would prefer commas too - "true, then false" a

[2020-08-17 18:45] allanaaa commented on #3059
It seems we're leaning towards the Vector-style of a coloured stripe instead of a full infobox fill. Their code will also teach us how to do light/dark mode boxes.

[2020-08-17 20:06] magdmartin commented on #2249
For reference, there is no plan for a release of Jython 3 in a foreseeable time (jython/jython/issues/24)

[2020-08-17 20:24] thadguidry commented on #2249
Tim Felgentreff (GraalVM Python contributor) put up [a great article](https://medium.com/graalvm/moving-from-jython-to-graalvm-cf52c4af6106) on the state of things currently and made a followup comment to my experiments in their issue graalvm/graalpython#96  I don't ever see a need for Jython to rise again, since virtualization is becoming that bridge that connects worlds and the technology is get

[2020-08-17 20:45] #3093 closed

[2020-08-17 21:08] tfmorris opened #3095 "Improve naming of snapshot releases"
Our current naming for the snapshot releases is a little misleading since they are based on the most recent tag due to the way `git describe` works, but that tag is typically on a different branch. As an example, a recent build was named `snapshot 3.4-beta-482-gf74e3e0` despite that fact that it is really a 3.5 snapshot built off the master branch.

### Proposed solution
Perhaps using the version

[2020-08-18 04:41] wetneb commented on #3095
Yes, it was appropriate when we did not do release branches but now it's not ideal. It's just a matter of finding the version string that works for us in the git-commit-id-plugin.

[2020-08-18 09:57] chetan-v commented on #3069
I did something for it. please check

[2020-08-18 15:34] ostephens commented on #1677
This isn't a preference setting. Selection of the menu item just toggles the styling of a span in the cell

[2020-08-18 15:37] thadguidry commented on #1677
@ostephens Thanks Owen, then in that case, I guess #3058 will be useful for Allana and others.

[2020-08-18 15:42] ostephens commented on #3058
Note that the current toggle isn't in the project metadata - it is just a change to a css style in the UI. It isn't persisted anywhere at the moment

[2020-08-18 15:57] allanaaa commented on #3058
Oh weird! I thought I tested this and saw it persist. Must've been something else.

[2020-08-19 08:45] olea opened #3101 "Are «Some qualifiers were ignored» Wikidata warnings always accurate?"
Not sure if this is a bug. Here using OR v3.4-beta2. I'm uploading a set of 50k items to Wikidata. I have my schema done and everything seems to work fine but after conciliating and saving the schema I got dozen of thousands of «Some qualifiers were ignored» warnings. What is more intriguing to me is as far I see all my changes are uploaded and correct.

So:

- Are this warnings actual problems?
-

[2020-08-19 08:51] wetneb commented on #3101
That warning is a bit confusing indeed. It should just be raised when the columns you use to generate your qualifiers have blank / null values in them, or if you have an incorrect value for a date for instance. Perhaps we should just not raise any warning in this case.

[2020-08-19 13:08] thadguidry opened #3102 "Inconsistent display of scientific notation between data grid and expression preview"
### To Reproduce
Steps to reproduce the behavior:

Using GREL in the Expression Editor with `value.toNumber()` to transform a String representation of scientific E notation 9.07185e-5 to a real number 0.0000907185, the preview only capitalizes the E (9.07185E-5) instead of showing the real number in the transform preview.  The transform however does happen correctly when applied.

### Current Resu

[2020-08-20 15:23] tfmorris commented on #3080
Wikidata should run their reconciliation service, not some third-party. The fact that they shirk the needs of their customers and refuse to do so isn't OpenRefine's problem. It's above and beyond the call of duty that you volunteer to do this for them on top of all your (many) other responsibilities.

Having said that, this feels like an area where an official policy on the criteria for inclusion

[2020-08-20 15:59] thadguidry commented on #3080
@tfmorris Yes please, let's discuss this on the dev mailing list for transparency.  I have many questions that I'd like Antonin to reply with, as he mentioned that he has had discussions with Wikidata and we probably need for him to mention some of the outcomes of those for the record (he mentioned one on recent CS&S call).

[2020-08-20 23:07] tfmorris commented on #1057
If this is useful functionality, which it would appear to be, it should be in the core product, not an extension (plus the VIB extension appears to be gone.

My reservation (https://github.com/OpenRefine/OpenRefine/issues/1057#issuecomment-148820539) still holds, but a better suggestion for a way to support comments, assuming we don't switch to an entirely new DSL, would be to support YAML and use

[2020-08-20 23:23] tfmorris commented on #863
Note that the default max form size is 1MB which is already considerably bigger than the Jetty default of 200KB. Increasing the limit moves, but doesn't eliminate the boundary and there are there are likely to be other issues with large operation histories, e.g. using browser based text input field is probably not the best way to have the user provide the history, as opposed to something like a fi

[2020-08-20 23:33] thadguidry commented on #1057
@tfmorris sounds reasonable.

[2020-08-21 05:15] #2803 closed

[2020-08-21 05:31] wetneb commented on #863
By looking around for maximum POST sizes, it seems that 1MB is still extremely low my most standards.
The limit imposed by web browsers seems to be of the order of the gigabyte.
I would argue that we should set the default to something much higher, such as 100MB.
I have not checked but I suspect the clipboard import is also capped by this limit.

[2020-08-22 07:22] wetneb opened #3106 "NPE during creation of new items referencing each other"
While testing #2810 I tried creating multiple items which reference each other :  [countries.openrefine.tar.gz](https://github.com/OpenRefine/OpenRefine/files/5112051/countries.openrefine.tar.gz)

I got this stack trace:
[code]

There are a few problems here:
* We try requesting documents in the beginning of the batch whereas all items are new, so there should not be any items to fetch. The API ac

[2020-08-22 11:42] pyrog opened #3107 "Support CORS for propose_properties"
OpenRefine use only JSONP to call [data extension property proposal service](https://reconciliation-api.github.io/specs/latest/#dfn-data-extension-property-proposal).
### To Reproduce
1. From a reconciled column select `Edit column` → `Add columns from reconciled values…`

### Current Results
After a timeout, the form is displayed but **Suggested Properties** list is empty.
The service log :
[code

[2020-08-22 15:10] tfmorris opened #3108 "Wikidata extension - discourage use of main password"
From https://github.com/OpenRefine/OpenRefine/pull/2810#discussion_r458339637

The Wikidata/wikibase extension supports the use of login by password which puts the user's password at risk, so we should encourage them to use a so-called "bot" account/password so that they can limit its privileges, revoke it easily, etc.

Since these accounts appear to always have an embedded at sign (@), that might

[2020-08-22 15:45] tfmorris opened #3109 "Validate Wikibase manifest on the server"
Currently the backend depends on the manifest validation which is done in the web client. We should also validate on the backend, so that we're not relying on well-behaved clients, as discussed here: https://github.com/OpenRefine/OpenRefine/pull/2810#discussion_r475101438

### Current Results
A manifest without a version field will currently likely cause the backend to get a NullPointerException w

[2020-08-22 17:34] tfmorris opened #3111 "Host our own copy of Freebase Suggest documentation"
OpenRefine relies on a modified version of the Freebase Suggest widget for looking up reconciliation candidate entities. The code includes no documentation, relying instead on an external web page for documentation, but that's at risk of going away since Google deprecated the code many years ago.

We should either include documentation inline of the options, css, and events or host the documentati

[2020-08-23 13:01] MavropaliasG opened #3114 "Change WIkidata reconciliation address"
Visiting this page it says https://wdreconcile.toolforge.org/

"This web service is unreliable and deprecated."

And it recommends to use this instead https://wikidata.reconci.link/

However when I click "Access Service API" in the OpenRefine dialog for Wikidata reconciliation, it navigates to the former page.

[2020-08-23 14:00] #3114 closed, assigned to nobody

[2020-08-23 18:58] #2997 closed

[2020-08-23 21:01] magdmartin commented on #3080
For reference the [discussion on the mailing list](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/openrefine-dev/KK4frsSGhA4/yaCLan0nCQAJ)

[2020-08-24 12:06] chetan-v commented on #3062
Hi @thadguidry
I use only `pow(,8)` and they give null.
I see the function that only return null not any exception.
main/src/com/google/refine/expr/functions/math/Pow.java
Which is in this file.
I add that line from function of call of quotient.java file that show this  `Error: quotient expects two numbers` .

[2020-08-24 21:18] bouzinac opened #3123 "Convert to date : bug"
Hello...
There is a horrible bug with the "convert to date" button : Dates are interpreted as MonthDayYear whilst they were DayMonthYear before the conversion.
is there a button to help define the conversion, to tell if the date to be converted shall be understood as MDY or DMY ?

[2020-08-24 21:23] thadguidry commented on #3123
A button for convert to date?  We don't have that exactly.
Perhaps you mean some menu item on Edit column... Transform?

You can find the documentation for GREL for the `toDate()` function here:
https://github.com/OpenRefine/OpenRefine/wiki/GREL-Date-Functions

We also have some community recipes for Dates found here:
https://github.com/OpenRefine/OpenRefine/wiki/Recipes#3-dates

[2020-08-24 21:27] isaomatsunami commented on #2710
As of the current nightly-built OR, the import side of this problem is solved. The export side is not still there.
When the project name has non-ascii chars, for example "result選挙2020",
exported csv/xls... file drops non-ascii characters.

[2020-08-24 22:21] kushthedude commented on #3056
Hey @tfmorris @thadguidry
I know I am late but I read the code & tried it out on my machine, I found several causes which are resulting in performance issues.
The main cause of the performance degradation & blank screen is the continuous API calls, the frontend code is not able to recognise how many rows it has already fetched, how many it should fetch & at what query per second? This is indeed on

[2020-08-24 23:07] tfmorris opened #3124 "Prune large files from git history"
The repo is currently about 300MB to clone, the vast majority of which is the multiple versions of various JARs that we bundle and which we used to version in the repo, the biggest offender being Jython.

Here's a list of the files bigger than 5MB which adds up to over 230MB:

[code]

`main/tests/data/ozone_8hr_dmax.csv` should be gzipped, subsetted, or deleted, and the rest of the files should be

[2020-08-25 01:22] thadguidry commented on #3124
@tfmorris yeap!  bfg works great!

[2020-08-25 05:11] bouzinac commented on #3123
Yes, to reproduce the pb, use this path:
"dataset"     :   "_dates
06/09/1962
16/09/1962_"
copy the dataset to openrefine
on the column menu, hit : edit cells // common transforms // To dates

the result will be "1962-06-09T00:00:00Z" while I was having **6 september 1962**
But!! and that's why I have been put in error : the second convert is correct "1962-09-16T00:00:00Z" because 16 cannot be a m

[2020-08-25 05:34] wetneb commented on #3124
I agree it would be nice in principle but this will change all the commit ids and render all releases before the Maven migration unusable. People might have trouble updating their forks and this is likely to disrupt PRs. This should best be done when the repository is very quiet.

[2020-08-25 07:42] wetneb commented on #3056
It is not clear to me what you are suggesting: do you mean that all rows should be loaded in the UI upfront?
For me, if the backend performance is the limitation here, then the project is a success, as we can (and will) optimize the backend independently.

[2020-08-25 09:32] kushthedude commented on #3056
- The frontend should be intelligent in calling the server, as attached in the screenshot request are sent within 1 second and request are taking more than 2000ms to answer.
- Having offset or rather efficient use of scroll anchoring as mentioned in the above blog post mentioned by @tfmorris https://developers.google.com/web/updates/2016/07/infinite-scroller.
- The backend doesn't serve any import

[2020-08-25 13:35] thadguidry commented on #3123
@bouzinac our toDate() function (which the Edit cells -> Common transforms -> To dates will use in the background) is assuming month first as the default.  Which is why I gave you the documentation links to learn more options and ways to control things, even to give a particular format that you think the dates column is formatted in.

You can experiment with **Add column based on this column...**

[2020-08-25 13:35] #3123 closed

[2020-08-25 13:40] thadguidry commented on #3124
@wetneb so maybe after GSoC and Outreachy this year?  What's a good date to plan for on that?  After Sept 30?

[2020-08-25 13:59] wetneb commented on #3124
To be honest it is not clear to me that the ant-based releases are old enough for us to afford breaking them in the versioning system.
Making sure the software runs at all tags (and ideally all commits) is generally a good idea, for instance to preserve the ability to bisect to locate a bug.

[2020-08-25 14:39] thadguidry commented on #3124
@wetneb You have the ability to bisect for the next 10,000 years in quartz glass platters. https://archiveprogram.github.com/
Just kinda joking here of course.

But more serious, in the Enterprise we typically **would** handle this case as an archive problem.
Even though we could archive our current repo to read-only for bisect use case, adn then create a new repo (with all the CI/CD, config, etc)

[2020-08-25 15:42] tfmorris commented on #3124
I should have mentioned the changed commit hashes (and meant to). 300 MB isn't completely unmanageable, so this isn't critical, but it's an extra burden for new contributors on slow internet connections.

However, as for

that's certainly not true. All previous releases will continue to run exactly as they have. What **will** take extra work is patching old releases. Building a 2.6.1, for example,

[2020-08-25 15:55] allanaaa commented on #3059
So, the to-do list as agreed:

- `<span>` or other styles to designate
  -  UI menu items and options
  -  GREL functions
- one infobox styled in the spirit of Vector's docusaurus install (or maybe two: a generic one and a caution / troubleshooting one)
- more negative space, especially above a new section header (margin-top of 60-80px would be great)
- more space between the sections in the TOC s

[2020-08-25 15:58] allanaaa opened #3127 "Change "Add column by fetching URLs" throttle delay to 1000ms"
**Is your feature request related to a problem or area of OpenRefine? Please describe.**
The default throttle delay in the program is 5000ms. It should be 1000ms.

![fetchingURLs](https://user-images.githubusercontent.com/28012148/91198049-10ed7080-e6ca-11ea-8157-14e351cbf748.PNG)

**Describe the solution you'd like**
I think the edit needs to be made to this page:

https://github.com/OpenRefine/O

[2020-08-25 17:00] tfmorris opened #3128 "NullPointerException WikitextImporterTests.readTableWithLinks"
I'm not sure what's going on here since the tests pass locally for me, but on LGTM.com this test fails with a NPE on both master and the merge commit.

An example build is [here](https://lgtm.com/projects/g/OpenRefine/OpenRefine/logs/rev/pr-5dfbf8f70eb220a8d42e6816b04981b1d24253dd/lang:java/stage:Build%20master_3fe2281d9449d11eaeb1104addc71f3628e239c0)

java.lang.NullPointerException
 	at com.goog

[2020-08-25 17:04] bouzinac commented on #3123
Ok
Then the  edit cells // common transforms // To dates
'To dates' button should be better labelled like 'From MDY to dates'...

Thanks for the interesting screenshots !

Alexis

Le mar. 25 août 2020 à 15:35, Thad Guidry <notifications@github.com> a
écrit :

[2020-08-25 17:48] tfmorris commented on #3127
I don't know if it "should" be any particular value. What is your recommendation based on?

One improvement that we might consider is making the value sticky, either for a given host or for the user/project in general.

[2020-08-25 17:52] thadguidry commented on #3123
@bouzinac Is your native language French?  Do you have suggestions for better French labels on some of the menu items?  Which ones and what do you suggest would be a good French phase?

[2020-08-25 17:54] allanaaa commented on #3127
We (@thadguidry @wetneb) looked at this pull request and there was consensus around your comment that 1 second seemed like a good default.
https://github.com/OpenRefine/OpenRefine/pull/3103#discussion_r475835761

[2020-08-25 17:55] thadguidry commented on #3127
Looking back at a chat history with David... he told me the reason why 5 secs instead of 1 sec was to error on the side of caution to prevent users from getting banned.  Hmm, I did forget about that.  Up to you guys.

[2020-08-25 18:22] tfmorris opened #3129 "Fix Fetch URL delay calculation"
As a side effect of the introduction of caching (782a2f5b48d54dd839398b14b72c878f7b526a10), the delay calculation got changed, reverting the fix (000c0a38a8965a20fbd3a44b6424526609bb64ea) for #721. Mixing multiple different functional changes in a single commit isn't ideal to start with, but I don't agree with this comment:

https://github.com/OpenRefine/OpenRefine/blob/5ca5f3cb7b6cc1be1813e9e196a

[2020-08-25 18:26] thadguidry commented on #3129
@tfmorris Kinda Agree.  Rates are even posted by various organizations sometimes... like Nasa's API's with 1,000 requests per hour.  Scroll down on https://api.nasa.gov/

[2020-08-25 18:28] sinairusinek commented on #1936
Hi @wetneb , I have the same problem described here. tried to use the mailing list but no luck yet.
I'll try to elaborate a little:
Last Thursday, by 13:00/1PM, I still had a column of VIAF_ID fully reconciled with Wikidata (a large part of it was matched, but not all) and many more thousands of values in 2 columns (split 1 and split 2) reconciled with data. Also, the recent history in the "undo"

[2020-08-25 18:38] tfmorris commented on #3127
#3129 relates to this.

Certainly we should err on the conservative side, but the interwebs have changed "somewhat" in the past decade. Even 5 years ago, my usual recommendation to students was that they lop a zero off for a 500 msec value, making for 2 requests/second.

In a quick informal survey, I didn't find any limits under 1 request / second. AWS is 20 rps for reads, 5 rps for writes. Micros

[2020-08-25 18:40] #2509 closed

[2020-08-25 18:45] sinairusinek opened #3130 "Retrieving Undo History for lost changes"
Hi, I seem to have the same problem described in this closed issue: https://github.com/OpenRefine/OpenRefine/issues/1936
On August 20, 2020,  around 10:00 UTC, I still had a column of VIAF_ID fully reconciled with Wikidata (a large part of it was matched, but not all) and many more thousands of values in 2 columns (split 1 and split 2) reconciled with data. Also, the recent history in the "undo" w

[2020-08-25 18:51] tfmorris commented on #3123
This is similar to #3020 and we've discussed changing the behavior, but it wouldn't preserve backward compatibility, which is a problem.

[2020-08-25 18:53] tfmorris commented on #3020
A better default might be to use the user's locale rather than doing data-dependent guessing. We should probably retire our custom date parser altogether and just use the built-in Java 8 date handling.

[2020-08-25 19:01] tfmorris commented on #3130
Thanks for opening a separate issue. Can you please provide a date for "last Thursday" and give times in UTC (or tell us what timezone you are in)? All of the internal timestamps are saved in UTC.

Also, if you haven't already done so, you should immediately backup your OpenRefine workspace directory before doing anything additional.

[2020-08-25 19:37] bouzinac commented on #3123
I wasn't aware of the 3020 ticket.
If the dev is painful, my goal is not to cancel the button but make the
label more concise and less confusing.
The english label of that button could be "Text MDY to date" or
"MonthDayYear to date"
And the French label "Convertir MoisJourAnnée vers date" : there would be
no questions about the behaviour of the shortcut button.
What about two different buttons, on

[2020-08-25 19:54] sinairusinek commented on #3130
thank you, Tom! I am backing the workspace directory now and edited the details above:August 20, 2020, around 10:00 UTC.

[2020-08-25 21:31] wetneb commented on #3128
This is probably a test with an HTTP call that is not properly mocked.

[2020-08-25 21:38] tfmorris commented on #3130
I had a look at the project and I don't think this is related to #1936, which was due to a malformed reconciliation service manifest.

There are two project data files:

[code]

The first is a partial truncated file which has no data in it. The timestamp on the other one indicates that it from from June 17 (which is consistent with the internal dates).

I'm not sure I understand the sequence of ev

[2020-08-25 21:43] wetneb commented on #3129
The previous approach only introduced a throttling when the sleeping delay was reduced down to zero by the server's response time, which is not as polite as sleeping for a fixed amount of time between two requests.

The new strategy means that the throttling is continuous, meaning that if you have a pool of clients following this strategy, their request rate will converge to an equilibrium that ma

[2020-08-26 05:59] sinairusinek commented on #3130
Thanks a lot, Tom, this does seem to be a full explanation to what happened. Unfortunately, there is not uncorrupted data file anywhere from August: all the changes I did were on other copies of the project folder and what I uploaded was a copy of the original project. I did not touch the data files anyway.
So the solution sounds good to prevent this from happening again. But how do I now make use

[2020-08-26 08:27] wetneb opened #3132 "Increase read timeout for reconciliation"
The old reconciliation endpoint, which remains the default one we ship unless we merge #3087, is pretty slow and can take a few seconds for a single query. Therefore the read timeout should be ample: I would propose 60 seconds.

### To Reproduce
Steps to reproduce the behavior:
1. Reconcile to Wikidata

### Current Results
For expensive queries (for instance many properties supplied in the query):

[2020-08-26 08:28] wetneb commented on #3132
Broader issue: #2229, we should make sure these queries are retried a few times for instance. Error reporting should also be improved.

[2020-08-26 13:55] thadguidry commented on #3132
60 seconds sounds reasonable.  (Anything lower than 300 seconds, since the default for Apache HTTP is already 300 seconds internally.)

[2020-08-26 15:28] tfmorris commented on #2229
As I mentioned in https://github.com/OpenRefine/OpenRefine/pull/2671#issuecomment-647831552, although retries are implemented, they don't work due to this code:

https://github.com/tfmorris/OpenRefine/blob/ded6ca07d1fb1f88f1b7f9bae7e1de6d3c22e311/main/src/com/google/refine/model/recon/StandardReconConfig.java#L525-L533

which is filling in empty recon entries for any which didn't get returned (e.g

[2020-08-26 19:00] thadguidry opened #3133 "Improve accuracy of returned error message for toString()"
`toString()` can also be used for Number formatting (not only Date formatting) as evidenced by @tfmorris on the mailing list today.

We should improve the `toString()` error message output here:
https://github.com/OpenRefine/OpenRefine/blob/ded6ca07d1fb1f88f1b7f9bae7e1de6d3c22e311/main/src/com/google/refine/expr/functions/ToString.java#L67

replacing the line with this would help more:

[code]

[2020-08-27 19:31] tfmorris commented on #3130
Unfortunately, using them would depend on starting with a data grid that matched their state, which you don't appear to have.

I wrote some code to recreate history entries from orphaned changes found in the history directory. It successfully created 1126 history entries which can be reapplied by clicking on them, but things go off the rails almost immediately with a reconciliation operation on a

[2020-08-27 19:59] tfmorris opened #3135 "Deadlock between AutoSave thread and History.undoRedo()"
I ran into this while debugging due to breakpoints slowing things down, but I'm pretty sure the deadlock potential is there during actual use.

### To Reproduce

1. Place a breakpoint in the synchronized block ProjectUtilities.save() and wait for the autosave thread to hit it
2. Execute an Undo/Redo operation using the web client
3. Pause all the threads and note that two are deadlocked

### Curre

[2020-08-27 21:16] tfmorris commented on #816
So, it looks like perhaps this didn't get documented because it wasn't a great solution. I guess the question now is whether we need to maintain backward compatibility for the (undocumented) format strings. We should also think about how we extend this to non-default locales.

The one-parameter version uses `Double.toString()`/`Long.toString()` while the two parameter version uses `String.format(p

[2020-08-27 21:30] tfmorris commented on #3128
This isn't restricted to LGTM builds. It's causing Travis CI failures as well: https://travis-ci.org/github/OpenRefine/OpenRefine/jobs/721243474

@wetneb Any chance you know what the fix is?

[2020-08-27 22:54] tfmorris commented on #2269
We've remapped classes in the past, so there's no need for this to break extensions:

https://github.com/OpenRefine/OpenRefine/blob/9ac54edbba2fd0876b3f2f99c8bc1588799ecb3b/main/src/com/google/refine/RefineServlet.java#L332-L335

The renaming wasn't deferred to provide compatibility, but rather because it didn't seem to be a priority or provide any user benefit.

[2020-08-27 23:01] tfmorris commented on #1494
Finished the incomplete edit from https://github.com/OpenRefine/OpenRefine/issues/1494#issuecomment-366249196 to get rid of all the confusing A/B verbiage.

[2020-08-27 23:07] tfmorris commented on #2257
30K rows * 10 KB is only 300MB which definitely shouldn't cause problems, even with the default JVM heap allocation, so this seems like a bug.

The appearance of the Gauva cache library in the stack trace is suspicious. I wonder if there are multiple copies of the data lying around. Turning off the cache (it seems to be on by default) would be something to try.

OutOfMemory errors are, unfortunate

[2020-08-28 06:00] wetneb commented on #2269
There is still a breakage in the sense that extensions will not compile anymore and need to be updated to the new namespace. The mapping you quoted is only there to deal with references to class names in user data (changes, preferences).

[2020-08-28 09:25] wetneb opened #3137 "Pressing "Enter" in the project name field at the preview stage should create the project"
**Is your feature request related to a problem or area of OpenRefine? Please describe.**

When previewing an importer's results, there is a text field to enter the project name. When pressing Enter in this field, I would expect the project to be created (without having to click the "Create Project" button).

![image](https://user-images.githubusercontent.com/309908/91545213-1a244a80-e921-11ea-938a

[2020-08-28 12:50] thadguidry commented on #3137
Agree.  The current Enter key binding to the Update Preview button is not needed... since all the options on importer are bound to the Update Preview already, I think?  Instead, hitting Enter key for the Create Project flow makes more sense.

[2020-08-28 13:45] thadguidry commented on #1469
Closing this now.  As @wetneb has stated before, we can take what we need from the discussion on this issue in later stages after we progress more on Apache Spark prototype.

[2020-08-28 13:45] #1469 closed

[2020-08-28 14:06] lozanaross opened #3138 "Custom Wikibase extension integration broken in Chrome on Mac"
Currently running OpenRefine directly from the master branch and reconciling with an independent Wikibase instance doesn't fully work on Chrome on MacOS Catalina.

### To Reproduce
Steps to reproduce the behavior:
1. First, run OR in terminal from cloned master branch
2. Then, add reconcilitation service and corresponding manifest
3. Finally, try adding some data and building a schema to prepare t

[2020-08-28 14:50] thadguidry commented on #3056
I still don't understand why we have to resort to hand-coded efforts on this.   While I appreciate @lisa761 's work I also feel very bad that we can't give @lisa761 more knowledge or support because the team is lacking in those skills as well, while @lisa761 ramps up hers.   This means that she's struggling while learning, and we actually don't have a senior frontend dev to help mentor her properl

[2020-08-28 16:40] tfmorris commented on #3056
@kushthedude That screen grab is completely unusable. If you are trying to convey textual information (ie a server log), please just cut & paste the text.

In my mind, server-side issues are much less of a factor, but since it doesn't look like any of my suggestions will get incorporated, I'm closing this.

[2020-08-28 16:40] #3056 closed

[2020-08-28 17:08] kushthedude commented on #3056
@tfmorris Screen grab shows you how illogically frontend calls the server within few microseconds which is causes the white screen and performance delay.

[2020-08-28 17:26] tfmorris commented on #2186
Most likely it was just extending the `forEach` to be able to iterate over dict items in addition to array items, but this wouldn't give you access to the key (although most data sources that use this braindead format duplicate the key in the payload of the item).

This ticket seems to have grown into something quite a bit bigger.

[2020-08-28 17:32] tfmorris commented on #2101
@jamessspanggg Are you still planning to work on this?

[2020-08-28 17:38] tfmorris commented on #109
A general menu description facility / language would both allow us to offer different layouts (e.g. "classic" & "new and improved") as well as allow the user to to customize/extend the structure. The current structure has become very cluttered with all the random stuff that's been added.

[2020-08-28 17:40] tfmorris commented on #1299
Another potential solution would be a menu of commonly used functions, either automatically curated or curated by the user. Basically the web UI equivalent to GREL history & starred expressions.

[2020-08-28 17:42] tfmorris commented on #2019
@Entruna Are you still working on this?

[2020-08-28 18:04] tfmorris commented on #2338
I think that unless there's a strong reason not to, which should stick with the conventions that were used to write the bulk of the code. Anything else adds a ton of noise.

The conventions were documented in the form of Eclipse project settings that defined things like 4 space indentation, import ordering, etc for Java.  For Javascript, I'm not sure we did much more than specify 2 space indents.

[2020-08-28 18:13] tfmorris commented on #1440
Does anyone know where/when this change was made?

From a practical point of view, thousands of characters displayed for a cell or transformation preview provide no benefit to the user. I'd be fine with truncating them by default, perhaps providing an ellipsis (...) or some other affordance that they could use to display all.

[2020-08-28 18:21] tfmorris commented on #3056
@kushthedude I hope you heard my (strong) preference for text over images in the future for any textual information (particularly performance data and stack traces).

[2020-08-28 18:27] tfmorris commented on #3138
Thanks for the report. Are there any error messages on the Javascript console or the terminal that the server is started from? Does the problem only occur with that single reconciliation service?

[2020-08-28 18:37] Entruna commented on #2019
No, I tried my best but I failed :(

[2020-08-28 18:48] tfmorris commented on #1853
Added to wiki here: https://github.com/OpenRefine/OpenRefine/wiki/GREL-Array-Functions#inarrayarray-a-string-s

[2020-08-28 18:48] #1853 closed

[2020-08-28 18:56] tfmorris commented on #1854
I've added documentation for this to the wiki. The naming doesn't really fit with the rest of the functions, so we may want to consider a `random()` or `rand()` alias.

[2020-08-28 19:14] thadguidry commented on #1854
@tfmorris you can add an alias to a GREL function and still works in Expression editor?  That would be cool.
I would vote for `rand()`

[2020-08-28 19:14] tfmorris commented on #2019
@Entruna Thank you for trying! We appreciate the interest.

[2020-08-28 19:25] tfmorris commented on #640
Removing the high priority tag until someone actually asks for it.

[2020-08-28 19:34] tfmorris commented on #1854
Yes, functions can be registered multiple times. For example, `strip()` is a synonym for `trim()`.

[2020-08-28 20:05] lozanaross commented on #3138
There are some messages around missing constraint configs, but they don't seem vital (attaching a file copy of the terminal session below). And yes, the problem is only with this service, Wikidata reconciliation and upload works fine within the same session in Chrome. Also I should say, the reconcilitation and upload to Rhizome's Wikibase works fine in Firefox on my machine, so it seems to be just

[2020-08-28 20:25] wetneb commented on #109
One way to save a bit of space is to only propose actions that make sense in the given context: for instance, it does not make sense to add column from reconciled values on a column that has not been reconciled yet. It is common in many tools to grey out the actions which cannot be used in a given context (that does not save space on its own but helps the user focus on the relevant actions).

[2020-08-29 07:04] afkbrb commented on #3138
The terminal log seems fine. Could you provide the error messages (if any) of the js console?

[2020-08-29 11:48] wetneb commented on #3071
Removing this label since this issue is not about a change in the API itself.

[2020-08-29 12:20] wetneb opened #3139 "Store and expose reconciliation candidate features"
**Is your feature request related to a problem or area of OpenRefine? Please describe.**

Reconciliation services can expose features in addition to the global score that they return for each candidate, in the upcoming version of the specifications:

https://reconciliation-api.github.io/specs/latest/#dfn-matching-feature

At the moment these are ignored by OpenRefine.

**Describe the solution you'

[2020-08-29 12:37] wetneb opened #3140 "Sandbox reconciliation candidate preview iframes"
We display the entity previews returned by reconciliation services using an `<iframe>`, which lets services return arbitrary HTML pages for their entities.

These pages could potentially contain scripts, which could do all sorts of things, including talking to the backend, which can be considered a security vulnerability.

Reconciliation services are already able to execute arbitrary javascript in

[2020-08-29 15:21] thadguidry commented on #3140
Is there a particular requirement for iframe?  If not, then I'd suggest Web Components instead (with Polyfills for Firefox/Edge).
https://webagility.com/posts/web-components-vs-iframes

[2020-08-29 18:35] thadguidry commented on #1212
See also mailing list discussion: https://groups.google.com/d/msgid/openrefine-dev/f65fb2fa-f992-4144-9e2c-9cfa6b6e177an%40googlegroups.com?utm_medium=email&utm_source=footer

[2020-08-29 20:28] wetneb opened #3141 "XSS vulnerability in suggest flyouts"
**Is your feature request related to a problem or area of OpenRefine? Please describe.**

The flyout services in reconciliation endpoints can return arbitrary HTML which is directly included in the DOM without sanitization:

https://reconciliation-api.github.io/specs/latest/#flyout-services

This means that reconciliation services can execute arbitrary Javascript in the user's browser when they ho

[2020-08-29 20:38] tfmorris opened #3143 "Enhance randomNumber() function"
The `randomNumber()` function currently takes two Number arguments, converts them to integers and returns a random number in the open interval.

### Proposed solution

I think the following changes would improve the function:
- shorten the name to just `random()`
- create a 0-arg version which returns a Double in the interval 0.0 - 1.0
- provide two alternatives for the 2-arg version which return

[2020-08-29 20:49] wetneb opened #3144 "Unhelpful placement of reconciliation previews"
Sometimes, previews of reconciliation candidates appear in locations which hide parts of the reconciliation candidate itself or its matching buttons:

### To Reproduce
Steps to reproduce the behavior:
1. First, reconcile some cells
2. Then, reduce the size of the window
3. Finally, hover the reconciliation candidate

### Current Results

![image](https://user-images.githubusercontent.com/309908/91

[2020-08-29 21:10] tfmorris opened #3145 "Failsafe exception handler doesn't provide enough info"
Currently if an unhandled error like `ArrayIndexOutofBounds` is caught the user sees a message like `index: 5, size: 4' in an alert which makes absolutely no sense without exception name.

The exception name is a techie Java thing and it's English-only, but it's better than nothing.

It would also be useful to make the full stacktrace available to users so that they could include it in their bug r

[2020-08-29 22:21] tfmorris commented on #2186
After reviewing the existing controls, `forEach` and `forEachIndex`, I think the solution which would fit best with our current structure is to introduce an `forEachItem` iterator which provided the key and value for each item in dict in the same way that `forEachIndex` provides the index and item for an array.

Optionally, also:
- extend `forEach` to iterate over dict items (but without providing

[2020-08-29 22:29] thadguidry commented on #2186
Yeah the old jayway package... https://github.com/json-path/JsonPath  ohh, I didn't add it to that linked issue.  Let me do that now.

[2020-08-29 22:43] tfmorris opened #3147 "Implement `forEachItem` for JSON object"
Users have ongoing complaints about the difficult in parsing  JSON which has arbitrary structure, most often in the form of JSON API responses which were designed to return objects keyed by arbitrary identifiers rather than just returning array as the vast more of APIs do.

Examples provided in #2186 include:
* Wikimedia Commons -> https://commons.wikimedia.org/w/api.php?action=query&titles=File:G

[2020-08-29 23:14] tfmorris opened #3148 "Unable to load starred expressions (and history) on Refine server reload"
I see this a lot in my development environment, but don't know if it represents a potential race / issue in customer systems:

    Could not resolve type id 'com.google.refine.preference.TopList' as a subtype of `com.google.refine.preference.PreferenceValue`: Not a subtype

### To Reproduce
Steps to reproduce the behavior:
1. Start Refine from Eclipse
2. Modify some code and save the new file
3. A

[2020-08-29 23:27] thadguidry commented on #3147
@tfmorris I'm trying to wrap my head around your solution and how the function would actually look or work with a sample GREL expression and some sample JSON?  Can you provide that also please? It's probably just me.  Hmm, this "feels" like something already capable with the Filter syntax (`in`, `subsetof`) in JSONPath or JSONPath-Plus?

JSONPath
To retrieve all books that have the isbn property

[2020-08-29 23:31] thadguidry commented on #3148
@tfmorris That same error has shown in other issues reported: https://github.com/OpenRefine/OpenRefine/search?q=%27com.google.refine.preference.TopList&type=Issues

[2020-08-30 00:39] tfmorris opened #3149 "Extend forEach() to support JSON objects as well as arrays"
Currently `forEach()` support native arrays, JSON arrays, and collections, but not JSON objects. Adding JSON objects would would allow parsing payloads like:

* Wikimedia Commons -> https://commons.wikimedia.org/w/api.php?action=query&titles=File:Google%202015%20logo.svg&prop=imageinfo&iiprop=url&format=json
* MySociety MapIt -> https://mapit.mysociety.org/point/4326/0.1293497,51.5464828

### Prop

[2020-08-30 01:25] thadguidry commented on #3149
@tfmorris Thanks Tom, but can you give an example expression of how it's used given that first Wikimedia Commons example?
[code]

[2020-08-30 06:40] #3149 closed

[2020-08-30 13:04] lozanaross commented on #3138
Ah, yes, sorry, forgot to check the console messages. Here are screenshot of what I'm getting:
![Screenshot 2020-08-30 at 15 02 24](https://user-images.githubusercontent.com/25489750/91659726-65ce2400-eada-11ea-9f75-64272942ee33.png)
![Screenshot 2020-08-30 at 15 02 42](https://user-images.githubusercontent.com/25489750/91659728-6797e780-eada-11ea-990f-3930ebb00929.png)
![Screenshot 2020-08-30 at

[2020-08-30 13:56] afkbrb commented on #3138
Thanks for the log. Could you click on "project-bundle.js:10439" to see the script executing and provide a screenshot of it?

[2020-08-30 14:11] lozanaross commented on #3138
Does this help:
![Screenshot 2020-08-30 at 16 07 43](https://user-images.githubusercontent.com/25489750/91661303-e04f7180-eae3-11ea-9952-a1fd81a04dd1.png)

[2020-08-30 14:14] thadguidry commented on #3149
@tfmorris OK,  I think I have figured it out and the 2nd MySociety link makes it easier to understand the usage after I looked at your test cases as well. And seems to work well.  Good Job!

With that MySociety link I was hoping that sort() would still work with the `null` values in the output array
![image](https://user-images.githubusercontent.com/986438/91660992-deaf8a80-ea9e-11ea-8ddc-03dec5ff

[2020-08-30 15:00] thadguidry commented on #2157
I have further thoughts after some repeated work on datasets that contained nulls and blanks as cell values.
I think since we deal with Blanks (empty string) and Nulls separately in other areas of OpenRefine now that we should enhance our Facets to separately display Null so that users can edit and replace those Null values with a String they desire, just like they can replace Blanks and Nulls tog

[2020-08-30 23:03] tfmorris commented on #2515
There is no JSONPath Plus library available for Java, as far as I can tell.

Is there any value in supporting JSONPath or should we wait for the extended implementation to be available?

[2020-08-30 23:15] tfmorris commented on #3147
Look at [forEachIndex](https://github.com/OpenRefine/OpenRefine/wiki/GREL-Controls#foreachindexexpression-a-variable-i-variable-v-expression-e) and replace "variable i" for the index value with "variable k" for the key value. Everything else stays the same.

`forEachItem('{"key1": "vala", "key2": "valb"}'.parseJson(), key, value, key[-1]+value[-1])` returns  `["1a", "2b"]`

In every example I've s

[2020-08-30 23:46] tfmorris commented on #3149
@thadguidry Please don't use images for things which can be explained using text. It just makes people have to retype a lot of text which could be cut & paste with last effort and fewer errors.

Have you ever known me to say to **not** open an issue? :) Except that I consider this a bug, not an enhancement request.

As a workaround, you can use `forEach(value.parseJson(), v, toString(v.codes.gss))

[2020-08-31 00:12] thadguidry commented on #2515
@tfmorris The Plus additions that would be convenient for OpenRefine users would be mainly the `^` , `~` , `@parent` selectors for parent and property names that match which are not in the original spec and maybe a few others.  Scroll down to see the Plus additions Examples with a table that has a column for Notes: https://github.com/JSONPath-Plus/JSONPath
But the regular JSONPath syntax from Goes

[2020-08-31 00:20] thadguidry commented on #3149
@tfmorris sorry.  My text usually confuses more. :-)  I'll open a new bug issue now.

[2020-08-31 00:32] thadguidry opened #3152 "GREL sort() throws NullPointerException when used on arrays that contain nulls"
`sort()` does not work on arrays that contain `null` values.

### To Reproduce
Steps to reproduce the behavior:
1.  Perform a Transform on the following GREL expression
[code]
### Current Results
In Expression preview the following is shown:
`Error: java.lang.NullPointerException`

### Expected Behavior
`sort()` should still work and perhaps default to nulls last as a convenience for users.
Option

[2020-08-31 00:42] wetneb commented on #2354
Closing as @darecoder implemented all constraint checks that can be executed quickly. Great job!

[2020-08-31 00:42] #2354 closed

[2020-08-31 00:45] afkbrb commented on #3138
I just realized that the project-bundle.js on my computer should be the same as yours. So providing the line numbers should be enough :)

Could you click on the last error message to see the stack just like you did with the one above it?

From the message you provided, some ajax calls were blocked by your browser (ERR_BLOCKED_BY_CLIENT). Do you use AdBlockers? Maybe this could help: https://stacko

[2020-08-31 10:28] lozanaross commented on #3138
Ah, yes, good call – blockers. So it's not the AdBlock extension I use, that one doesn't make any difference when it's turned on or off; it was Privacy Badger. Interestingly, I didn't think that could be the problem because Wikidata instance was working, it was only when I switched to the Rhizome custom Wikibase that the schema got broken. I'm attaching the other screenshot you requested just in c

[2020-08-31 12:20] afkbrb commented on #3138
So Privacy Badger is the problem in your case. But I still cannot reproduce it on Windows.

I've enabled both Privacy Badger and AdBlocker, but I could still edit the schema as usual.

![test](https://user-images.githubusercontent.com/29347603/91718442-ecabfb00-ebc5-11ea-95cc-cc759b88f1a0.gif)

The 404 error for "rhizome-artbase.reconci.link/search?filter=..." seems unrelated here though it's quit

[2020-08-31 15:12] tfmorris commented on #3149
Thanks for creating the bug report.

For text vs image, you can do both if you think it's helpful. The key thing, from my perspective, is that the developers have easy access to the information that they need, so, if you use images, please also back them up with textual versions of key elements that they need for reproduction and debug, ie URLs, GREL expressions, error messages, stack traces, etc.

[2020-08-31 15:37] thadguidry commented on #3149
@tfmorris yes understood your point well. sorry. I'll make sure to include textual versions so you can easily copy/paste to reproduce.

[2020-09-02 13:55] wetneb commented on #3138
According to Privacy Badger's documentation, this add-on learns websites to block gradually: it blocks a given domain if it has been reached from at least three sites. So, with a fresh install of the app, it is normal that it does not block anything, whereas for @lozanaross who has been using it for longer (and has interacted with the Wikibase instance more), the domain is blocked.

On our side, I

[2020-09-02 14:43] wetneb commented on #3128
I had a look and it is a bit unclear to me what is going on. I think the proper solution to this would be to avoid using PowerMockito for mocking. That requires architectural changes in the reconciliation code (which I am keen to do for other reasons - it is just a big mess at the moment). Perhaps we could also just get away with tweaking the importer so that the ReconConfig it uses can be set fro

[2020-09-02 17:16] #3132 closed

[2020-09-02 17:20] tfmorris commented on #3128
Anything that keeps every build from showing up with a red X works for me.

[2020-09-04 12:06] lozanaross commented on #3138
Thanks, yes this sounds like a good solution – just providing a bit more clues to users as to what might be the issue will be very helpful.

[2020-09-04 12:51] wolfv opened #3161 "conda build fails with dependencies not found"
I am trying to add OpenRefine to conda-forge. It would be very cool to be able to install openrefine through conda (which is a cross-platform package manager).

I am using Maven, and get the following error:

[code]

I am not a Java expert and thus don't know how to fix it. I think master works fine. Are you plannign to make a new release with these issues fixed soon?

https://github.com/conda-for

[2020-09-04 13:00] wetneb commented on #3161
Thanks for looking into this!

It is not clear to me where this could come from, I am not familiar with your build environment. You could perhaps look for other Java-based projects packaged with conda-forge and see if they had to invoke the build process differently?

[2020-09-04 13:55] wolfv commented on #3161
the error says:

Could not resolve dependencies for project org.openrefine:main:jar:3.3: The following artifacts could not be resolved: edu.mit.simile:butterfly:jar:1.0.2, marc4j:marc4j:jar:2.4, net.sf.opencsv:opencsv:jar:2.4-SNAPSHOT, edu.mit.simile:vicino:jar:1.1, com.wcohen:secondstring:jar:20100303, com.colloquial:arithcode:jar:1.1: Could not find artifact edu.mit.simile:butterfly:jar:1.0.2 in

[2020-09-04 14:08] wetneb commented on #3161
Well, if OpenRefine's master branch compiles fine in our CI, on your computer and on my computer, and not in conda's build system, then I would say that there must be something specific about conda's environment which causes this failure.

No.

[2020-09-04 14:14] wolfv commented on #3161
Sorry if I wasn't clear. This is about the latest release 3.3 that doesn't work anymore. I am looking for a minimal patch to get it to build again :)

[2020-09-04 14:14] wolfv commented on #3161
we wouldn't release a non-tagged version to conda-forge

[2020-09-04 14:20] wetneb commented on #3161
Let's take this to your PR on the other repository.

[2020-09-04 14:20] #3161 closed

[2020-09-04 20:11] tfmorris commented on #3129
I'm not sure how you are using the word "throttling" here. Do you mean additional throttling over and above the specified inter-request delay? Before if you asked for a delay of 500 msec between requests, that's what you'd get whether the server responded in 100 msec or 400 msec. If the server took 600 msec to respond, the delay requirement of 500 msec had already been satisfied.

The current beha

[2020-09-05 12:16] thadguidry opened #3163 "Add column containing entity identifiers does not allow ENTER key press"
Pressing ENTER key has no effect on dialog for adding a new column containing entity identifers (from the Reconcile menu)

### To Reproduce
Steps to reproduce the behavior:
1. Reconcile a few cells in a column  (already done, see attached OpenRefine project to import)
2. On Species column, choose Reconcile -> Add entity identifiers column
3. Type in a new column name into the input box and press E

[2020-09-05 12:38] thadguidry commented on #2114
I think @msaby need in this issue can be resolved by the use of the new Reconcile -> Add entity identifiers column that was requested in #1975

[2020-09-05 12:38] #2114 closed

[2020-09-05 13:03] thadguidry opened #3164 "UnsupportedOperationException when using "Add entity identifiers column""
Testing the new Reconcile -> Add entity identifiers column is causing a JS console error and internal server error 500

### To Reproduce
Steps to reproduce the behavior:
1. Import existing OpenRefine project attached (SCOR-Data)
2. On Species column, choose Reconcile -> Add entity identifiers column and type in a new column name and click OK.
3. Notice that yellow banner shows and mentions `cell.r

[2020-09-05 21:01] #3152 closed

[2020-09-06 06:58] wetneb opened #3165 "Expose judgment timestamp as a timeline facet"
We currently offer a "Judgment action timestamp" facet which gives the timestamp of the action which last set the judgment on each cell:
![image](https://user-images.githubusercontent.com/309908/92320014-6ad12d00-f01e-11ea-902f-de71edeb047c.png)

Because these are time values, as a user I would expect this to be a time range facet instead.

### Proposed solution

Change the GREL formula defining t

[2020-09-06 11:51] thadguidry commented on #3165
@wetneb are you sure about that link to issue 2684 ? seems like that's a PR that only changes CSS `padding`

[2020-09-06 13:38] wetneb commented on #3165
Thanks, it was probably introduced by GitHub's annoying auto-complete feature.

[2020-09-06 15:51] Gomaa commented on #2910
Hi there,
Can I get this issue assigned to me?

[2020-09-06 16:39] tfmorris commented on #2910
It's yours now. Good luck!

[2020-09-06 19:14] thadguidry opened #3167 "Make adding Clojure dependencies easier for OpenRefine users"
Currently it is difficult to get Clojure dependencies downloaded from Clojars or Maven and added to the classpath for OpenRefine to use whenever the Expression editor language as Clojure is used.
The current solution is manually adding these Clojure dependencies into OpenRefine's dependencies through Pom file editing as shown in PR #3166 , but this is not ideal and cumbersome compared to the exper

[2020-09-06 21:17] tfmorris commented on #3165
What are the units? ECMAScript [Time Values](https://www.ecma-international.org/ecma-262/6.0/#sec-time-values-and-time-range) (ie msec), seconds since the Unix epoch, or something else?

[2020-09-06 21:21] tfmorris commented on #608
The original request was for microseconds, but we probably want seconds (Unix), milliseconds (ECMAscript), and nanoseconds (Java 8 Instants) as well.

I'm of two minds regarding overloading `toDate()` with more cruft in the form of made-up format specifiers, but perhaps that's easiest for the user. We may, however want to defer this until we have a design for adding a Date-only data type and fixin

[2020-09-07 11:24] frederik-elwert opened #3170 "string.find() fails with regular expression"
### To Reproduce
Steps to reproduce the behavior:

1. Create a test project from clipboard with just "Test 123"
2. Choose "Add column based on this column"
3. Past the expression `value.find('[T]')`

### Current Results

With a regular expression like this, it returns an empty array. On the console, an exception is shown:

[code]
The function works with a simple string search such as `value.find('

[2020-09-07 12:03] wetneb commented on #3170
Thanks @frederik-elwert for getting in touch!

To search for matches of a regular expression, you need to use `/[T]/', not `'[T]'`, as the latter will search for `[T]` as a string. I do not think this has changed in 3.4 - you should have the same behaviour in earlier versions.

Your server logs seem to indicate that OpenRefine is running out of memory, so I suspect you are dealing with a large pro

[2020-09-07 12:39] wetneb opened #3171 "Upgrading to xstream 1.4.13-java7 breaks the packaging workflow"
This is not a bug per se, just a note that we should hold off from upgrading xstream to 1.4.13-java7 (as in #3169) since it breaks the packaging workflow:
https://github.com/OpenRefine/OpenRefine/runs/1081398250

I think we have had this issue before. We would need launch4j 3.13 to be formally released to solve this.

[2020-09-07 12:50] frederik-elwert commented on #3170
Thank you, @wetneb, for the hint! I think I missed the interface change, since the syntax I was using works with OpenRefine 3.1. (I was testing an old lesson I wrote with the new release and encountered the issue). I just checked, and indeed the behaviour is the same in 3.3, so it’s not a regression in 3.4 as I first assumed.

Still, looks like there’s a bug lurking somewhere. I re-started OpenRef

[2020-09-07 13:04] wetneb commented on #3170
To be honest I don't remember any change on this between 3.1 and 3.3 either.

Concerning the memory leak, do you think you could share your test project (as an OpenRefine project)?

[2020-09-07 13:30] frederik-elwert commented on #3170
Sure! [clipboard.openrefine.tar.gz](https://github.com/OpenRefine/OpenRefine/files/5183295/clipboard.openrefine.tar.gz)

I don’t know if it shows much. I also noticed that I don’t get the exception the first time I write the expression in the dialog, but only after trying out some expressions. But then it is reproducible. This might be a hint that the memory runs full only after a while.

[2020-09-07 14:11] sjathin commented on #3059
Hello, I would like to work on this issue.

[2020-09-07 16:26] allanaaa opened #3172 ""Reconcile > Use values as identifiers" does not reconcile"
### To Reproduce
Run "Reconcile" > "Use values as identifiers" on any column, whether it contains properly-formatted unique IDs for the given service or not. You will see that it seems not to reconcile at all - it only says, whatever your cell contents are, it's 100% matched and generates a real-looking URL, whether or not that URL will resolve.

### Expected Behavior
Reconciliation seems to be mi

[2020-09-07 16:57] tfmorris commented on #3171
#2644 #2752

[2020-09-07 19:15] tfmorris opened #3173 "Reconciliation Guess Types error causes web client to hang"
An error received in response to the "guess types" call at the beginning of reconciliation causes the web client to hang with the spinner up forever.

The response is of the form:

`{code: "error", message: "org.apache.http.conn.HttpHostConnectException: Con…] failed: Connection refused (Connection refused)", stack: "org.apache.http.conn.HttpHostConnectException: Con…pClientConnectionOperator.java

[2020-09-07 21:29] allanaaa commented on #3059
That would be great, thanks!

This could be a good page to demo things on - there are two infoboxes on there, some code, a few images, and I think some menu items or other buttons ("Browse workspace directory" and etc) that you could try to style to make them distinctive.
https://docs.openrefine.org/manual/installing/

[2020-09-08 06:49] wetneb commented on #3171
And #3174

[2020-09-08 07:13] wetneb commented on #3172
That is the intended behaviour - the goal is to be able to blindly trust a column of identifiers when you know they are valid, to avoid a costly reconciliation. We could:
* Add text to the dialog where we choose the reconciliation service to use, explaining that identifiers will not be validated;
* Improve the user experience after that, improving the way we handle invalid ids (for instance in the

[2020-09-08 12:37] ostephens commented on #608
Agree with the suggestions of the different units as listed by @tfmorris here.

I suggested the format string "epochms" originally which would given us the option of "epochs" and "epochns" for seconds/nanoseconds.

I also agree with his concerns about the 'toDate' parameters. `toDate` is already a bit of a monster in terms of the parameters you can pass, and I did suggest we could separate the epo

[2020-09-08 16:37] allanaaa commented on #3172
Hrm! It feels like it's misleading to have this under the "Reconcile" menu if there's no actual reconciliation or validation happening here.

[2020-09-08 18:21] allanaaa opened #3175 "Reconciliation > action > "Match all filtered cells to…" should have an error message"
Reconciliation action "Match all filtered cells to…" is service-dependent, but with no UI guidance about how it works. I have only seen it work with Wikidata.

### Current Results
The other services just say "searching" indefinitely. Frequently it will say "searching" until I switch tabs, and when I switch back, the "searching" bar will disappear.

### Expected Behavior
Preferably, an error messag

[2020-09-08 18:50] allanaaa opened #3176 "Reconcile > action > "Create one new item for similar cells" should be renamed"
This is a minor issue, but "Create one new item for similar cells" reads to me that it is doing some clustering or other similarity analysis.

Apparently it is only designed to group identical cells, so I'd like it to say "Create one new item for identical cells" or something more specific.

In practice, for me, it actually made a "new" entity for each cell regardless of which ones were actually i

[2020-09-08 20:54] sjathin commented on #3059
@allanaaa I have a few questions:

1. More negative space, especially above a new section header: Is it the space above each H2 header, for instance in https://docs.openrefine.org/manual/installing/ page, space above -- System requirements, Installing or upgrading, Increasing memory allocation, Installing extensions?

2. Slightly bigger header sizes - is it for all the headers H1, H2, H3 ? or any

[2020-09-08 21:18] allanaaa commented on #3059
1. I would increase the space above H2s and H3s. Maybe a small increase above H3s and a bigger space for H2s. But if you try it on the H3s and it looks bad, feel free to remove it.

2. I would do all headers in use, which I think is up to H4. I find H4s in particular quite hard to see, e.g. https://docs.openrefine.org/manual/installing/#compatible-operating-system

3. I think option A sounds like

[2020-09-09 13:04] sjathin commented on #3059
Yes, the blue background gives a distinct style, I have attached a screenshot, please let me know which would be better.

![MenuItemsStyle](https://user-images.githubusercontent.com/29340368/92601929-b5b4a400-f2ad-11ea-878c-dc4ecef8166c.png)

[2020-09-09 14:37] thadguidry commented on #2253
Ports are one way to show a flow. https://gojs.net/latest/samples/dataFlow.html
I like the basic node types of Join, Filter, Group, Sort, etc. that they show. Transform could be another basic node type. Perhaps our "node type set" is actually quite small and we just never generalized it like that.  Maybe that's where we should start?

Another way which is used in PLC programming is [Grafcet](https

[2020-09-09 18:37] allanaaa commented on #1658
This problem persists in Firefox with 3.4 - I've never seen it before today, when I added the GND service. I wonder if it's happening (at this state) because certain services don't go into "Working" and thus trigger a retraction.

![service-tab](https://user-images.githubusercontent.com/28012148/92639249-856b0680-f2a9-11ea-8ea2-42a3fdcf992f.gif)

It both stays shut when you want it open, and stays

[2020-09-09 20:13] sjathin commented on #3163
I would like to work on this issue.

[2020-09-09 20:30] sjathin commented on #352
I would like to work on this issue.

[2020-09-09 20:51] thadguidry commented on #3163
@sjathin Sure!

[2020-09-10 10:32] wetneb commented on #3175
The "supports searching" column already exists in the testbench, it is "Suggest entities".
I think the UI should simply offer a bare text field for the identifier when the service does not support suggesting entities.
The testbench is still a prototype so I would not link to that from the tool.

[2020-09-10 11:00] #2910 closed

[2020-09-10 11:10] wetneb commented on #1658
Yes we have not released this in 3.4, it will only be there in 3.5.

[2020-09-10 11:14] wetneb commented on #352
Thank you! Looking forward to your PR :)

[2020-09-10 12:46] sjathin commented on #352
I have a question, should the cell value contain both the warning message and also the truncated text ??

[2020-09-10 13:01] wetneb commented on #352
@sjathin I would not put the error message in the cell at export time. Instead, I think we need something along the lines of what @tfmorris is suggesting in #2836 (see his message above).

[2020-09-10 17:43] kushthedude commented on #3059
I suggest we should keep our documentation more formal and without many design tweaks. The blue background span or the border fill are really taking away the look of the page and diverting the complete attention to themselves. Seeing it as an Official Documentation of **OpenRefine**, it doesn't look nice to have span background fills.
If we want to highlight any UI related part we can use tooltips

[2020-09-10 20:14] thadguidry opened #3180 "Add new Jsoup wholeText() function to get unencoded, un-normalized text from element and children"
When parsing HTML text it is sometimes advantageous to get the unencoded, un-normalized text and keeping any newlines and whitespaces found.  This helps to keep a near exact copy of text within an element in certain situations, for example, multi-line chat/comment threads, etc.

### Proposed solution
Implement Joup's `wholeText()` function introduced last year.
- Ref: https://github.com/jhy/jsoup/

[2020-09-11 07:20] wetneb commented on #3059
Yes we have already removed the blue background in the corresponding PR #3178 - the discussion is happening there.

[2020-09-11 14:07] lozanaross opened #3182 "Language selection in schema-building tool when using custom Wikibase extension"
I am not able to select the language for label/ description/alias while setting up a schema for new items to be added to a custom Wikibase. It is working for one custom Wikibase I am using, but not for a second one.

### To Reproduce
Steps to reproduce the behavior:
1. First, connect to selected custom Wikibase via reconciliation service and manifest.
2. Then, add some data to a new project and at

[2020-09-11 15:29] afkbrb commented on #3182
@lozanaross Thanks again for using & testing the arbitrary Wikibase instances support. I'll look into this issue tomorrow.

[2020-09-11 15:41] wetneb commented on #3172
We could also have a checkbox to optionally validate the ids during this operation, but there is no provision for that in the reconciliation API. If people want validation, they should just use the standard reconciliation operation (although there is no requirement on the services that when queried with their own identifiers, they return the corresponding entity as a match).

I think the priority

[2020-09-11 18:13] #3163 closed

[2020-09-11 18:37] thadguidry commented on #2292
@magdmartin can you make the draft update by end of September?

[2020-09-12 09:03] afkbrb commented on #3182
OpenRefine uses `https://${wikibase url}/w/api.php?action=languagesearch&search=${the string to search}&format=json` to search language codes with the given string.

For Wikidata, the api can be found at https://www.wikidata.org/w/api.php?action=help&modules=languagesearch.

But for daap, by visiting https://daap.bannerrepeater.org/w/api.php?action=help&modules=languagesearch, we can see that the

[2020-09-12 09:24] kishore0709 commented on #2552
Hi @rileyhun  , I'm planning to implement openrefine on k8s cluster. Could you please help provide me helm chart repo(if it is deployed with helm). If it is not implemented with helm, can you provide some insights on implementation side.

Thanks!
Kishor.

[2020-09-12 14:14] #3180 closed

[2020-09-12 14:25] thadguidry commented on #3130
@tfmorris Do we close this issue now?  I think that issue #732 captures most of the solution you think might be needed long term?  Perhaps you could put those thoughts added in #732 given some of your research and new knowledge from this issue.

[2020-09-12 14:56] thadguidry opened #3184 "Add warnings for Undo/Redo history changes"
Currently OpenRefine does not warn the user about losing a portion of their workflow history.  It is non-obvious if a user attempts to rollback and undo some changes, and then apply some new changes, they will silently lose any forward changes without a warning.  We should warn users about destroying forward history and not let them be surprised or reading details in our docs.

### Proposed soluti

[2020-09-12 15:26] thadguidry commented on #3180
Wiki docs updated with new function `wholeText()`
https://github.com/OpenRefine/OpenRefine/wiki/GREL-Other-Functions#wholetextelement-e

[2020-09-12 15:56] sinairusinek commented on #3130
Fine with me - I redid everything now. Hope the fix to prevent this from happening will be implemented soon. Good luck!

[2020-09-12 20:10] sjathin commented on #3133
I would like to work on this issue, It would be helpful if I can get an example of the parameters that will be passed to the function.

[2020-09-12 20:44] thadguidry commented on #3133
@sjathin see updated comment above

[2020-09-13 09:28] rachitmanas commented on #3137
Hey. I would like to work on this issue. Can someone please give me an abstract idea of where I can find the code relating to this issue?

[2020-09-13 09:38] wetneb opened #3186 "Display the logo of each Wikibase instance in the login form and Wikibase selection dialog"
The Wikibase login form now shows the Wikibase logo on the left hand side:

![image](https://user-images.githubusercontent.com/309908/93014913-409ae480-f5b5-11ea-90e0-1536ceffb940.png)

It would be nice if we could have the logo of the selected Wikibase instance instead. This would be immediately recognizable to the user, who would therefore be less likely to enter credentials for another instance

[2020-09-13 09:53] wetneb commented on #3182
If I remember correctly this API action was introduced relatively recently, so it could be down to a difference between the versions of Wikibase deployed on these instances. That being said at a first glance I cannot find any difference between these two:

- https://artbase.rhizome.org/w/api.php?action=query&meta=siteinfo&siprop=extensions
- https://daap.bannerrepeater.org/w/api.php?action=query&m

[2020-09-13 10:04] wetneb commented on #3137
I can tell you my method to find it:
* Identify a bit of text in this part of the UI that should identify it across the entire codebase. There are not that many places where we can create projects, so the "Create Project" text on the button looks like a good candidate.
* Search for this string in the repository. I do this with `grep` but you can do it with all sorts of other tools (your IDE, for i

[2020-09-13 10:05] sjathin commented on #3186
Hello, I would like to work on this issue.

[2020-09-13 10:08] wetneb commented on #3186
@sjathin wonderful! I have invited you to the organization: that should let you assign issues to yourself, help with issue tagging and other things like that.

[2020-09-13 10:34] sjathin commented on #3186
@wetneb Thank you so much for the invitation !!!

[2020-09-13 12:51] thadguidry commented on #3186
@sjathin welcome aboard!

[2020-09-13 13:14] lozanaross commented on #3182
Thank you both for your thoughts.

I have to wait to get definite answer from the DAAP developer, but as far as I remember we did disable a global language setting because it was arbitrarily defaulting users to different versions of English which was causing issues with consistency and search. (To see what I mean by global – check screenshots below from DAAP vs Wikidata respectively).
![Screenshot

[2020-09-13 19:08] rachitmanas commented on #3137
Oh this is so helpful and smart trick. Thank You for explaining in such details.
I will be solving this issue now.

[2020-09-13 19:13] rachitmanas commented on #824
I am getting the same issue while running on windows10.

![image](https://user-images.githubusercontent.com/70743234/93026345-f8b2a680-f622-11ea-92d6-e8495a9616f8.png)
How can I proceed to solve it for windows?

I found a solution [here](https://groups.google.com/g/openrefine/c/StB__ItlIVk/m/ezP9zrYcAKkJ) but in my case its already on the hard drive.

Thanks for any help.

[2020-09-14 01:50] rileyhun commented on #2552
@kishore0709 -

You can use this article as a reference for building your docker container:

https://blog.ouseful.info/2019/02/07/how-to-create-a-simple-dockerfile-for-running-openrefine/

Then all you need to do is deploy that docker container on Kubernetes. You can use a simple load balancer.

[2020-09-14 05:32] kishore0709 commented on #2552
Thanks @rileyhun for the link... It really helps me.

[2020-09-14 06:04] rileyhun commented on #2552
No problem @kishore0709 - happy to help!

[2020-09-14 14:22] HeroicHitesh commented on #3089
@tfmorris Does this issue need further fixes or is it resolved? I see there's a merged PR, so if the issue is resolved by your PR kindly close this issue to avoid confusion.

[2020-09-14 14:24] HeroicHitesh commented on #2514
@LibrErli Does this issue need further fixes or is it resolved? I see there's a merged PR, so if the issue is resolved by @kovacskarolina PR kindly close this issue to avoid confusion.

[2020-09-14 14:25] wetneb commented on #3089
As far as I can tell, #3090 has not solved this, only prepared for it.

[2020-09-14 14:30] HeroicHitesh commented on #3089
Ahh ok @wetneb I saw the changes made in #3090 now. So, I think this issue is up-for-grab, if yes I would like to work on it.

[2020-09-14 14:34] wetneb commented on #3089
Wonderful, thank you!

[2020-09-14 14:35] wetneb commented on #2514
Thanks for catching this, this one should have been closed indeed.

[2020-09-14 14:35] #2514 closed

[2020-09-14 15:33] afkbrb commented on #3182
I cannot figure out what MediaWiki action API was called when rendering the select list above, maybe that API is what we need. @wetneb Do you know what that API is?

[2020-09-14 16:05] wetneb commented on #3182
It looks like this is not calling any API from the frontend directly, but instead doing the auto-complete locally (with the entire list of languages already loaded).

That could be an approach we fall back on. We could fetch all the languages available on the instance with:
https://www.mediawiki.org/w/api.php?action=query&format=json&meta=languageinfo&liprop=name&uselang=fr
(the `uselang=fr` lets

[2020-09-14 16:51] thadguidry commented on #3182
@wetneb I think it makes sense for Wikibase operators to be required to have language search (even if they are only serving 1 language that gets returned).

[2020-09-15 18:32] lozanaross commented on #3182
OK, we will try to see if it works if we switch on the language search again, although we'll have to see if possible to actually serve just one language. Hopefully that's possible and will fix this issue. Will send an update here as soon as tested and have some results to report.

[2020-09-15 19:58] tfmorris commented on #824
@rachitmanas please create a new issue which describes the problem that you are having rather than using an unrelated, closed issue.

[2020-09-15 20:02] tfmorris commented on #3130
I have some tooling which could help in future cases, but only if, as I mentioned above, the data grid matching the starting point of the recovered undo history is available.

[2020-09-15 20:02] #3130 closed

[2020-09-15 20:05] tfmorris commented on #3133
Let's try to keep related issues linked. I'm not sure this is worth documenting https://github.com/OpenRefine/OpenRefine/issues/816#issuecomment-682195356

[2020-09-15 20:09] tfmorris commented on #3175
There's no need for this. The information is available in the manifest published by the reconciliation service. The UI just needs to make use of the information.

[2020-09-15 20:23] tfmorris commented on #3139
These seem very underspecified. Are the IDs fixed for all W3C compliant reconciliation services or are they just arbitrary strings that a service can make up? If they are random strings, how does a client (specifically OpenRefine) understand what they mean and convey that to the user?

[2020-09-15 20:33] thadguidry commented on #3175
@tfmorris Hi Tom, I'm confused.  Can you provide more detailed information?  When you say "manifest" that is published.  Where can I see a few of those manifests for the services listed on the testbench?

[2020-09-15 20:44] tfmorris commented on #3141
This seems like it's identical to #3140. Removing flyouts is going to deprive users of valuable context that they need to resolve reconciliation ambiguities. We should fix the vulnerability, not rip out the functionality.

[2020-09-15 20:49] tfmorris commented on #3144
They also appear off the bottom of the screen with the buttons showing, but none of the information visible on the screen needed to know which button to push.

[2020-09-15 21:00] tfmorris commented on #3172
I don't understand why this is a separate operation at all.

Why isn't this just a standard Reconcile operation against a property of "id" or whatever the reconciliation service calls it? It'd be trivial, blindingly fast, and have the behavior the user expects.

[2020-09-16 12:19] wetneb commented on #3172
If you have 100k rows, it is still going to take a fairly long while, and that can be quite frustrating when you have just retrieved these ids from the service (for instance with a SPARQL query).

The Wikidata service recognizes Wikidata identifiers in reconciliation queries and processes them as fast as it can (without searching for them) but it still takes quite a bit of time to fetch the label

[2020-09-16 12:22] wetneb commented on #3139
The specs do not specify which features the services should return, each service can make up its own. The idea is that good features tend to be domain-specific so it would not be helpful to constrain features to a fixed range in the specs.

Clients can understand what features mean using the `feature_view` endpoint (see https://github.com/reconciliation-api/specs/pull/38).

[2020-09-16 13:19] wetneb commented on #3141
Those are different because one is about previews, and the other one is about flyouts. These are two different things:
* previews are what you get when you hover reconciliation candidates in the cell UI
* flyouts are what you get when you hover suggested items in auto-complete widgets.

[2020-09-17 14:16] hroest opened #3191 "Identical score if only one of two identifiers match"
When doing reconciliation with Wikidata for example, a match will often produce a score of 100% if only name matches to the lemma or any alternative identifiers. This is the case even if a second column is provided that can be used as an external identifier. The score will still be a 100 even if the second identifier does not match and there is one match where both columns match, basically making

[2020-09-17 14:42] wetneb commented on #3191
Hi @hroest,

Thank you very much for bringing this up. I am transferring it to the repository responsible for the scoring:
https://github.com/wetneb/openrefine-wikibase/issues/89

[2020-09-17 14:42] #3191 closed

[2020-09-17 15:28] wetneb opened #3192 "Add instructions to install new HTTPS certificates on Windows"
In #3103 we document how to install missing certificates (to solve some errors when fetching URLs), but we only have instructions for the Mac bundle.

### Proposed solution
Figure out how to install extra certificates on Windows (both with the embedded JRE and the JRE installed independently from OpenRefine).

### Alternatives considered
There might be ways to improve the way we handle this in the

[2020-09-17 16:03] wetneb opened #3193 "Expose the EditGroups link directly from OpenRefine"
Wikidata edits uploaded from OpenRefine can be undone in batch via [EditGroups](https://editgroups.toolforge.org/). This feature is not very visible at the moment: it is not advertised from OpenRefine's UI at all, meaning that people might be a bit reluctant to push their edits if they are not very confident.

At the moment, to undo a batch of edits pushed with OpenRefine, one must:
* inspect one'

[2020-09-17 16:30] thadguidry commented on #3193
+1 for harder

[2020-09-17 18:11] thadguidry opened #3194 "Allow reconciliation dialog to have option to store errors in cells"
Sometimes intermittent internet problems can occur during (long or short) reconciliation batches due to various reasons. (dogs, cats, chairs, etc.)
Sometimes these might be HTTP errors where connectivity is still established.
Other times these errors might be due to SocketExceptions or networking abnormalities that prevent TCP packets (and hence HTTP) from being sent or received.

### Proposed sol

[2020-09-17 19:50] allanaaa commented on #3192
For your reference, in the v3.4 documentation, this is the latest draft of the text:

Otherwise it links to instructions on updating an independent JRE installation.

Happy to elaborate more on either set of instructions.

[2020-09-17 19:51] tfmorris commented on #3193
Seems like a static link to something like https://editgroups.toolforge.org/?tool=OR&user=wetneb would be a pretty easy 90% solution.

[2020-09-17 20:03] tfmorris commented on #3194
Fixing the retry code (https://github.com/OpenRefine/OpenRefine/issues/2229#issuecomment-680952388) and making the operation restartable (#87/#580) would probably provide more user benefit.

[2020-09-17 20:19] thadguidry commented on #3194
@tfmorris oh yeah, if we can make it even smarter, and it already knows that "hey this batch had some errors, we'll toss them aside, flag them for the user in a nice way, and let the user restart them later".  but I think part of that flagging and attaching the specific errors would still be useful for troubleshooting systems and services in general.  Maybe it doesn't even have to be cell by cell,

[2020-09-17 20:26] tfmorris commented on #3192
Since I fixed the error reporting, this

should now be

`javax.net.ssl.SSLHandshakeException: sun.security.validator.ValidatorException: PKIX path building failed`

or perhaps

`javax.net.ssl.SSLHandshakeException: sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested ta

[2020-09-18 14:58] uofmsean opened #3196 "OpenRefine 3.4 stable release for Mac is showing Version 3.4-beta2 [6443506]"
### To Reproduce
1. Download from https://github.com/OpenRefine/OpenRefine/releases/download/3.4/openrefine-mac-3.4.dmg
2. Verify SHA as f0aa34025b3137c6ccd6b49ee243cbdf06195995
3. Install and replace older version 3.3 in Applications folder
4. Start OpenRefine and check Version listed on home page

### Current Results

Version on home page shows as 3.4-beta2 whereas the Mac About version shows as

[2020-09-18 15:15] wetneb commented on #3196
Thanks for reporting this!
It is curious because commit 6443506 does correspond to the 3.4 tag. I'll investigate.

[2020-09-18 17:06] allanaaa commented on #3192
So,

?

Or can I just put **“javax.net.ssl.SSLHandshakeException: sun.security.validator.ValidatorException: PKIX path building failed”** instead of both?

[2020-09-18 17:36] tfmorris commented on #3192
Yes, that's fine. It will only be one of the two, but I'm not sure which. The shorter version is close enough for people to be able to recognize/find it.

[2020-09-18 21:24] magdmartin commented on #2292
I started a draft on this commit: 73e8697eea0c488067284a81fb8266d2b7234210 - this is for discussion and review.

I incorporated suggestion for the Conflict of Interest PR #2294

## Need Feedback

Need feedback from the community and CS&S on the document in general but most specicly on
* Role of the release manager
* Selection of the Advisory Committee

## To Do:

* Polish Grammar / English
* Agree

[2020-09-19 00:48] thadguidry commented on #2292
@magdmartin Added my comments to into your draft commit: 73e8697

[2020-09-19 04:59] wetneb commented on #2292
Perhaps it's simpler to just do a pull request with these commits and comment on the PR itself? Feel free to mark it as draft if it is not quite ready yet.

[2020-09-20 17:38] lozanaross commented on #3182
Hello, an update here – once the global language search for the Wiki was re-enabled again, I don't get this issue anymore. Over the next few days, we'll try to see if it's possible to leave search enabled, yet limit the language we serve to just one (english). Not sure if this issue is worth keeping open for now, I can report back again once we have this sorted, just in case someone else might com

[2020-09-21 03:07] afkbrb commented on #3182
Glad to hear that and thanks for the testing!

[2020-09-21 19:35] ajtripper opened #3199 "Mac-3.4 no mountable file systems"
### To Reproduce
Steps to reproduce the behavior:
1. First, downloaded the dmg
2. Tried opening after giving MacOS permission to do so
3. Get error saying disk image could be open since there is no mountable file system

[2020-09-21 22:20] tfmorris commented on #331
This is 9 years old and the log that was attached on code.google.com is inaccessible, so I don't think there's any hope of ever reproducing this.

[2020-09-21 22:20] #331 closed

[2020-09-21 22:27] tfmorris commented on #1863
OutOfMemory errors aren't caught by default (and are somewhat dangerous to try to catch), but the run method only has exception handling for a very small portion of the code. It should be enhanced with a failsafe exception handler that reports back to the user rather than dying silently.

[2020-09-22 10:21] plopenrefine opened #3200 "enhance the key collision + fingerprint method (add the option for stop words)"
Hello,

for my specific needs, i need to make a small adjustment to the way the key collision + fingerprint algorithm works. In a step of creating the clusters, the algorithm removes all punctuation and control characters. (In this step, i need to also remove some stop words: "press", "and", "co", "the", "a" for example).

It would be great if the clustering algorithm be made modular so that it co

[2020-09-22 14:21] wetneb commented on #3200
Makes sense. I can see two approaches:
* make the fingerprinting function more configurable (more generally we need a better way for clusterers to expose parameters)
* make it possible to cluster not just a column, but the result of evaluating any expression on a column (just like facets can be customized with their own expressions). In this way, a lot of the preprocessing for fingerprinting could

[2020-09-22 17:54] allanaaa opened #3201 ""Export Wikidata schema" causes a pop-up problem in Firefox"
In Firefox, exporting Wikidata schema from the "Export" dropdown or from the "Extensions:" dropdown does not work the first time, seemingly because Firefox blocks pop-up windows by default. It works fine the second time, even if you haven't enabled pop-ups.

### To Reproduce
Open a project with a schema.
Try to export the schema using either menu option.

### Current Results
Firefox initially bloc

[2020-09-22 19:25] allanaaa opened #3202 ""Manage Wikidata account" > "Log out" button doesn't work"
Nothing happens when you try to log out of Wikidata in OpenRefine. Pressing the button has no visible effect in the interface, and if you refresh, you are still logged in.
Restarting OpenRefine does the trick, though.

Tried in Firefox (where I was logged in on Wikidata) and Chrome (where I was not logged in). I mention this because I wanted to see if it was related to #2873.

### Versions
 OpenRe

[2020-09-22 23:29] thadguidry opened #3204 "refine.ini file current states that if I am a user that it is recommended that I use my own credentials for Google Data"
In the refine.ini on L29 it mentions that Default OAuth credentials for Google Data have been embedded in the release version of OpenRefine.
`# Default OAuth credentials for Google Data have been embedded in the release version of OpenRefine`

And on L30 it mentions that if I am a user that I can skip the configuration, but its recommended to use my own credentials.
`# So if you are a user, you ca

[2020-09-22 23:41] thadguidry opened #3205 "Importer for Google Data login returns a Error 400: invalid_request"
### To Reproduce
Steps to reproduce the behavior:
1. Click on Google Data importer
2. Click on button **sign in and authorize**
3. Browser dialog box appears with the following:

### Current Results
- URL https://accounts.google.com/signin/oauth/error?authError=
- **Error 400: invalid_request**
- Missing required parameter: client_id
- [Learn more](http://code.google.com/apis/accounts/docs/OAuth2.

[2020-09-23 01:29] tfmorris commented on #3205
Relevant code is here:

https://github.com/OpenRefine/OpenRefine/blob/bc540a880eceb88e54f85ca43eb54769de3bfa4f/extensions/gdata/src/com/google/refine/extension/gdata/GoogleAPIExtension.java#L36-L39

but I don't see anything in the build scripts that inject the production client ID and secret.

[2020-09-23 01:34] tfmorris commented on #3205
As a workaround, I've confirmed that both OpenRefine 3.3 and 3.4-beta2 work correctly.

[2020-09-23 05:37] wetneb commented on #3205
There is indeed a problem with the 3.4 build: I did not add the production settings correctly, because it was not mentioned on the release instructions page. Sorry about this! I have added it to the release page now. I propose that we release a 3.4.1 with these credentials added, which should also solve #3196.

[2020-09-23 13:04] wetneb opened #3208 "Unstable Mac CI"
The Travis builds regularly fail because of the Mac sub-task:
https://travis-ci.org/github/OpenRefine/OpenRefine/builds/729523826

This task is currently marked as required, but it is less stable than the builds with "allowed failures" that we currently have. So I would mark the Mac build as "allowed failure" and bring the openjdk12 in the mandatory section.

[2020-09-23 13:22] wetneb opened #3210 "Support Wikibase editing for entity types other than Item"
Wikibase has a notion of entity types. These determine which sorts of fields entities can store. At the moment, I am aware of the following entity types:
- Items (such as https://www.wikidata.org/wiki/Q42), which OpenRefine currently supports;
- Properties (such as https://www.wikidata.org/wiki/Property:P3500)
- Lexemes (such as https://www.wikidata.org/wiki/Lexeme:L345)
- Forms (such as https://w

[2020-09-23 13:37] thadguidry commented on #3208
Perhaps we should just move the Mac build to GitHub Actions?  I'm not a Mac guy so not the best to help there, but I can certainly try.

[2020-09-23 13:57] wetneb commented on #3208
I would not move a single build to GitHub Actions. If we move to that, we should move all runs there.

[2020-09-23 14:03] wetneb opened #3211 "Support editing on federated Wikibase instances"
It is possible for a Wikibase instance to mirror the contents of another Wikibase instance for some entity type. This is for instance the case of Wikimedia Commons, whose Items and Properties are drawn from Wikidata, but whose MediaInfo entities are stored locally. At the moment we do not support uploading data to such instances (regardless of the fact that we do not support MediaInfo editing yet)

[2020-09-23 14:06] thadguidry commented on #3210
@wetneb Hi Antonin, if it helps in anyway on some decision for that question:

I sometimes deal with mixed types within a single column.  For example, Lexemes and Items.  The item whale, and the word "whale" in the same column.  Additional columns give me the hints I need to sometimes filter rows to recon to only items or words, but not always.  Sometimes I have enough hints to partition the data

[2020-09-23 16:02] tfmorris commented on #3208
This is the first time I'm hearing that it's been failing. I don't think any of my builds have failed.

Is the failure mode always the same as the example that you linked (looks like the machine failed to boot/initialize)?

The test setup is a sparse array with that build testing not only Mac, but also Oracle JDK 14.

[2020-09-23 16:18] wetneb commented on #3208
Here are more examples:
* https://travis-ci.org/github/OpenRefine/OpenRefine/builds/728450315
* https://travis-ci.org/github/OpenRefine/OpenRefine/builds/727971157
* https://travis-ci.org/github/OpenRefine/OpenRefine/builds/725888917
* https://travis-ci.org/github/OpenRefine/OpenRefine/builds/725889319

[2020-09-23 18:56] tfmorris commented on #3208
Thanks. It looks like the same failure mode for all 5 examples. This might have a simple solution (retries, increased timeouts) so it seems worth spending a minute or two investigating before just dropping testing on one of our three platforms. I'll volunteer to do this.

Although it looks like the `java` command is timing out, but I suspect that's a red herring and that it's actually Homebrew ins

[2020-09-24 12:46] msaby opened #3213 "on import page "Database" is not translated in french"
### Screenshots

![image](https://user-images.githubusercontent.com/932804/94146693-981e3780-fe74-11ea-9458-4247d5d2afc7.png)

### Versions
 - Operating System: Windows 10
 - Browser Version: Chrome
 - JRE or JDK Version:
 - OpenRefine: 3.4

And I could not find the string in weblate...

[2020-09-24 13:22] wetneb commented on #3199
This could be due to the code-signing process that we have introduced. Which version of MacOS are you using?

[2020-09-24 13:39] ajtripper commented on #3199
Hello Antonin,

I’m using MacOS Big Sur version 11.0 Beta (20A5374i). I had the permissions issue but was able to force the OS to open the dmg file before getting the message.

Thank you for your work on OpenRefine, it is one of my favorite data science utilities.

Kind regards,
Tony

[2020-09-24 13:43] tfmorris commented on #3199
We've had another report of the same issue on the Big Sur beta. It hasn't been tested on that platform. Since the beta has clearly changed/broken something I'd suggest opening a bug report against macOS.

[2020-09-24 13:49] wetneb commented on #3196
Closing by releasing 3.4.1.

[2020-09-24 13:49] #3196 closed

[2020-09-24 15:06] plopenrefine commented on #3200
i understand that adding this feature in the gui may take some time, which line should one alter in current version's code, so as to add the following stopwords along with the punctuation? "a", "and", "co", etc
Thank you in advance

[2020-09-24 15:39] wetneb commented on #3200
You could add that here: https://github.com/OpenRefine/OpenRefine/blob/c76e2b9a461ed5b353ebf5c80e0e0cad2163331c/main/src/com/google/refine/clustering/binning/FingerprintKeyer.java#L93

[2020-09-24 16:48] wetneb opened #3214 "Detect that users are not auto-confirmed and therefore cannot do Wikibase uploads yet"
### To Reproduce
Steps to reproduce the behavior:
1. First, create a fresh Wikidata account
2. Then, try to upload many edits to Wikidata through OpenRefine

### Current Results
Editing fails because the user is not auto-confirmed.

### Expected Behavior

Detect that the user does not have sufficient rights to make mass uploads and report it in the upload dialog.

### Versions
 - Operating System:

[2020-09-24 16:55] pyrog opened #3215 "Support multiples URLs in one cell"
### To Reproduce
Steps to reproduce the behavior:
1. Edit a cell and add 2 or more URLs separated by space, comma, newline…<br/>For example:<br/>https://www.openstreetmap.org<br/>https://commons.wikimedia.org
2. Click on one link

### Current Results
Open a new tab in the web browser and display an error.
The link is the concatenation of the 2 URLs : [https://www.openstreetmap.orghttps//commons.wi

[2020-09-24 17:17] thadguidry commented on #3215
@pyrog Can you fix the version info you reported? I think you meant 3.4.1

[2020-09-25 06:15] stragu opened #3218 "Add "remove duplicate rows" menu item"
After fixing inconsistencies with the clustering and merging functionality, I assume it is a common to want to remove potentially duplicate rows.

### Proposed solution

It would be great to add an item to the `All -> Edit rows` menu to be able to quickly remove duplicated rows, named for example "Remove duplicate rows".

This functionality could be either:

* Simple version: check the data in _al

[2020-09-25 15:30] #3204 closed

[2020-09-25 17:30] tfmorris commented on #3215
Per the discussion here https://github.com/OpenRefine/OpenRefine/pull/2540#pullrequestreview-391997062 our intent is to switch to just using Javascript's built-in `URL()` constructor which would presumably fail on this text and not link the cell.

[2020-09-25 17:31] #3205 closed

[2020-09-25 17:42] thadguidry commented on #3215
OK, I misread the need as described by @pyrog and I don't think I agree with their need.
Instead, I think the need to have clickable links is still attainable by storing URLs in Record rows, where 1 URL per cell is encountered.

But @pyrog wants to just hand edit cells?  That's not really what OpenRefine is designed for.  I don't think that kind of suggested handling is needed at all.  If there is

[2020-09-25 18:20] tfmorris commented on #3215
As a convenience, OpenRefine links cells who's contents consist of a well-formed URL. It shouldn't link cells where the text is not a well formed URL (e.g. multiple URLs concatenated together). If we fix the `looksLikeUrl` function, this problem will go away.

[2020-09-25 18:25] thadguidry commented on #1522
@Stolyassa Just confirming if you still need assistance or have resolved the issue or if you are now using a new Windows system and a later version of OpenRefine and no longer have this issue you reported?

Can we close this issue for you now?

[2020-09-25 19:35] thadguidry opened #3221 "Allow easier running, stopping, logging of OpenRefine"
We want to make running and stopping easier for OpenRefine on Windows and Linux (we assume MacOS is good enough for now).

### Proposed solution
#### Windows
On Windows, allow running OpenRefine as a native application, possibly with tray icon support (without displaying the console by default).
- JAVA - The current supported and recommended community practice in **Java** world is to code a small

[2020-09-25 19:55] thadguidry commented on #3215
@tfmorris Are you suggesting that there is a better way and that a "clickable" URL link could be exposed on the Javascript side?  This would work even with URLs that are within very long strings or sentence paragraphs in a cell?  If you think that is possible, then that sounds like agreeable.  I just didn't think it was possible, but I guess anything can be made "clickable" in Javascript if you pa

[2020-09-25 21:31] tfmorris commented on #3221
These sound like two different features. Is there a reason to couple them together?

[2020-09-25 21:37] tfmorris commented on #3215
No, I'm not proposing that we parse megabytes of XML looking for dozens of URLs to highlight. I'm proposing that only cells who's entire content consists of a single well-formed URL get linked. That would address this case of a malformed link being created (ie the cell would not be linked).

[2020-09-26 04:22] Stolyassa commented on #1522
Hello, actually I'm unable to solve the issue, instead I am using an older version which seems not producing fatal errors. Yet, I'm unable to use any newer version ever.

[2020-09-26 05:53] wetneb commented on #3221
I really agree we need both of these things, but they should be distinct issues indeed.
* the integration as tray icon could be platform-independent (it would make sense on Linux too - I guess the mac integration is already good enough in this respect)
* the innosetup package could be generated regardless

[2020-09-26 07:50] wetneb opened #3222 "Scatterplot facet configuration meaning depends on the aggregated data (making it not reproducible)"
The scatterplot facet lets users filter rows or records by drawing a rectangle on a two-dimensional scatter plot.
Under the hood, the position of the rectangle is stored as relative positions within the scatterplot image, not as bounds on the actual data. This means that if the minimal and maximal values on the x and y axis change (for instance in a new version of the dataset), the meaning of the

[2020-09-26 13:45] msaby opened #3223 "install extensions from GUI"
Extensions are not hard to install, but it would be a little easier for newcomers if they could be installed and uninstalled from GUI.

[2020-09-26 14:05] #3213 closed

[2020-09-26 14:18] thadguidry opened #3224 "Allow easier install and uninstall on Windows"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24500%20Rewarded-%237E24E3.svg" />](https://oss.issuehunt.io/r/OpenRefine/OpenRefine/issues/3224)

On Windows, OpenRefine currently has a manual process to extract, install, and create desktop shortcuts and configuration.

### Proposed solution
- Create a native installer for OpenRefine on Windows (one that produces an .exe

[2020-09-26 14:20] tfmorris commented on #1005
Jython was updated from 2.5.3 to 2.7.0 in f9323d29c621c719c1eab82fcda8032f0bcd51ab before 2.7-rc.2 (sic).

[2020-09-26 14:24] thadguidry commented on #3221
@wetneb @tfmorris I've relabeled and changed the scope on this issue. (Feel free to edit the the Linux and MacOS sections).  And I split the Windows Installer portion to issue #3224

[2020-09-26 14:26] tfmorris commented on #1522
@Stolyassa What is the most recent OpenRefine version that works for you?

As a guess, I'd check for Unicode values in either the path pointed to by the `python.path` environment variable or the path where OpenRefine is being run from.
----
A quick search indicates that this is probably related to Jython 2.7 and Unicode characters:
- https://stackoverflow.com/questions/30545083/jython-test-to-prev

[2020-09-26 14:32] Stolyassa commented on #1522
I'm stuck with 2.7 for now. I will check the solution you suggested, when I get to the working environment.

[2020-09-26 15:03] pyrog commented on #3215
Of course not. It was an example to reproduce the bug 😉
I work on a file of 55113 contacts.

Yes.

The issue is if OpenRefine build a link, it must be valid 😃

To solve this issue, I see two solutions:
* check  if the URL contain all the cell, or just a part in `URL.looksLikeUrl()`
* add the `<a href="…">…</a>` tags inside the `looksLikeUrl()` so it will work for one or more URLs inside a cell.<BR

[2020-09-27 17:54] tfmorris opened #3226 "Migrate to travis-ci.com"
As [announced in 2018](https://blog.travis-ci.com/2018-05-02-open-source-projects-on-travis-ci-com-with-github-apps) travis-ci.com is to be used for both open source and commercial projects. In December 2020, travis-ci.org will be [going away](https://mailchi.mp/3d439eeb1098/travis-ciorg-is-moving-to-travis-cicom), so we need to move before then.

Migration instructions are here: https://docs.trav

[2020-09-27 18:03] wetneb commented on #3226
Thanks for taking care of this! I can't think of anything that would be conflicting with it.

[2020-09-27 18:17] tfmorris commented on #3223
Presumably this should include the full life cycle similar to browser extensions with the ability to enable/disable, configure, and remove extensions as well.

[2020-09-28 15:39] wetneb opened #3228 "Scatterplot facet UI regression"
The UI of the scatterplot has got more ugly between 3.4 and the current development version.

### To Reproduce
Steps to reproduce the behavior: create any scatterplot facet.

### Current Results (master)

![image](https://user-images.githubusercontent.com/309908/94453804-66c5a480-01b1-11eb-83bc-b9026561f3db.png)

### Expected Behavior (3.4)

![image](https://user-images.githubusercontent.com/30990

[2020-09-28 17:20] thadguidry commented on #3228
@tfmorris Likely from the Jquery update I suspect?

[2020-09-28 19:31] tfmorris commented on #3228
It's worse on Chrome where the facet display is created in a giant modal dialog, rather than as a panel in the facets pane:

![Screen Shot 2020-09-28 at 3 19 07 PM](https://user-images.githubusercontent.com/82178/94476140-0f6a0900-019e-11eb-8aa6-802bf1c98188.png)

Also noted that the rotate 45 degree buttons don't seem to work, perhaps due to incomplete jQuery Migrate support for the deprecated `j

[2020-09-29 07:44] bkmgit opened #3229 "Interactive timeline facet"
It would be helpful if one could make the timeline facet interactive so that when there are many entries, one can query for exact values from the display

### Proposed solution
Make the timeline facet interactive, so that when mouse cursor is moved over an entry, the value of that entry appears.
### Alternatives considered
Have not considered alternatives.
### Additional context
![DeepinScreenshot

[2020-09-29 08:29] wetneb commented on #3229
It is not clear to me what you are proposing here. What is an "entry" here? For me, the timeline facet does not have entries like the text facet, but a list of histogram bars.

[2020-09-29 08:33] bkmgit commented on #3229
The value of the histogram bar should appear when mouse hovers over it.

[2020-09-29 08:35] wetneb commented on #3229
Fair enough, thanks for the clarification! I agree that would be useful.

[2020-09-29 11:06] plopenrefine commented on #3200
could someone show me an example of how the above line should be altered?

if i use say the following line, and alter it so as to replace the and with "" an empty string, shall i not achieve what i want?

https://github.com/OpenRefine/OpenRefine/blob/c76e2b9a461ed5b353ebf5c80e0e0cad2163331c/main/src/com/google/refine/clustering/binning/FingerprintKeyer.java#L57

[2020-09-29 11:22] bkmgit opened #3230 "Enable option of zip compression when exporting"
For some users, zip format is preferable way to export compared to tar.gz

### Proposed solution
When exporting an open refine project, it may be helpful to be able to export as zip in addition to tar.gz since for some users, this may be a prefereable compressed format.

### Alternatives considered
Other open, widely adopted and cross platform compression solutions can also be considered.

[2020-09-29 11:26] jinoytommanjaly opened #3231 "Wikimedia Two-Factor Authentication (2FA) in OpenRefine"
Wikimedia has implementation two-factor authentication (2FA) is a way to strengthen the security of your account. So users who has enabled two-factor authentication will be asked for a one-time six-digit authentication code every time in addition to the password. Currently those who has enabled 2FA can't login to Wikidata in OpenRefine.

Right now Two-factor authentication on Wikimedia is a experi

[2020-09-29 11:56] jinoytommanjaly commented on #3231
Duplicate of #1612

[2020-09-29 15:45] tfmorris commented on #3229
I think there are probably three values of interest:
- datetime for lower bound of histogram bucket
- datetime for upper bound of histogram bucket
- count of rows in the bucket

It might be useful to elide information of minimal value e.g. hh:mm of 00:00 or end date which is exactly 24 hours later ie buckets are a single day.

[2020-09-29 15:52] tfmorris commented on #3230
What is the target consumer for this zip format project export?

The current project export/import is designed to be used as two halves of a backup or transfer operation, so there are no options provided. The format just needs to be processable by the importer.

[2020-09-29 16:05] thadguidry commented on #3229
For what it's worth, long ago I asked David to provide a more granular timeline facet that I could control more flexibly such as in Informatica and Tableau's tooling.  Here's a D3.js example of that, where the user can control the granularity via a vertical zoom slider, while also still being able to pan left to right on the time series slider:

https://rawgit.com/patternfly/patternfly-timeline/ma

[2020-09-29 16:15] wetneb commented on #3231
At the moment we are considering adding wording to encourage people to use bot passwords: #3108. Do you know if bot passwords can still be used when 2FA is enabled?

For proper 2FA support we would need that to be supported by Wikidata-Toolkit: https://github.com/Wikidata/Wikidata-Toolkit/issues/412

[2020-09-29 20:03] tfmorris commented on #3224
`jpackage` may be something worth keeping an eye on as it matures. https://openjdk.java.net/jeps/343

Can you explain what the impact of this is for those not au fait with the latest Windows developments?

[2020-09-29 20:30] thadguidry commented on #3224
@tfmorris Notifications.  When a program is installed or uninstalled or has a problem installing, Inno like other modern installers for Windows 10 can notify the user through the action center. https://support.microsoft.com/en-us/help/17203/windows-10-find-notifications.  I think it also might be possible to have [Toast Notifications](https://docs.microsoft.com/en-us/windows/uwp/design/shell/tiles

[2020-09-30 02:42] loraxian opened #3232 "Wikidata reconciliation problem"
I can reconcile columns against Wikidata OK, but when I try to create a schema none of the columns will drag down. The columns are 100% reconciled, and I am still able to reconcile data from within the project OK. I have tried opening previous projects that generated edits successfully, and the reconciliation service fails to connect, and the schema has disappeared from them and is unable to be re

[2020-09-30 05:48] wetneb commented on #3232
Which reconciliation service have you used to reconcile your columns?

At the moment https://wdreconcile.toolforge.org/en/api returns an HTTP 504 error for me. This reconciliation service is known to be unreliable and is unmaintained. We would like to switch away from it: https://github.com/OpenRefine/OpenRefine/issues/3080

Perhaps one temporary workaround would be to reconfigure Wikidata to use

[2020-09-30 06:28] jinoytommanjaly commented on #3231
@wetneb Yes I have checked right now. Bot passwords can be used for login when 2FA is enabled.

[2020-09-30 06:33] wetneb commented on #3231
Thanks! So I will leave this open since the request is still legitimate, but hopefully #3108 should be a satisfactory short-term mitigation.

[2020-09-30 06:51] loraxian commented on #3232
Thank you. I had tried every reconciliation service I could find! (I remember it changed at the end of July). I had two services marked as old, which would not delete, and one to https://wikidata.reconci.link/en/api that shows as wikidata reconci.link (en). I have since managed to delete the services marked as "old" (with difficulty because the services tab keeps bouncing across the screen). It ha

[2020-09-30 12:26] pyrog opened #3234 "Store HTTP headers in history"
When reusing an expression in the history for **adding a column by fetching URLs**, one must re-enter `Authorization`, `User-Agent`and `Accept` parameters.

### Proposed solution
Store HTTP parameters in the History / Starred.

### Alternatives considered
Store them in the settings of OpenRefine and display a list drop down list to choose them

Related to #218

[2020-09-30 13:02] muturinjokah commented on #2912
I am yet to get past the export puzzle!!!

[2020-09-30 14:15] pyrog commented on #2379
👍
Simply display a friendly error message with the [link to the wiki](https://github.com/OpenRefine/OpenRefine/wiki/Troubleshooting-Fetching-data-from-URLs#sunsecurityvalidatorvalidatorexception-pkix-path-building-failed) 😃

[2020-09-30 14:26] thadguidry commented on #2912
I have just finished thoroughly testing this on Windows 10 with the following browsers:

Browser | Opens Tab | Test Result
---------|------------|-----------
Firefox | YES, empty tab stays | Downloads OK with Custom tabular, SQL, Excel
Edge | YES, however quickly closes tab | Downloads OK with Custom tabular, SQL, Excel
Chrome | NO, nicer experience | Downloads OK with Custom tabular, SQL, Excel

[2020-09-30 14:31] #3108 closed

[2020-09-30 14:58] tfmorris commented on #2379
A significant contributor to the problem here was poor error reporting. Now instead of the obscure "Received fatal alert: handshake_failure" or "sun.security.validator.ValidatorException: PKIX path building failed", we report the main exception "javax.net.ssl.SSLHandshakeException" first, which is much more recognizable as an SSL problem.

We also use the Apache HTTP client library consistently ev

[2020-09-30 15:13] tfmorris commented on #3234
`Authorization` headers should never be stored in the history (or logged anywhere else). That's a big security risk.

I actually thought I'd seen HTTP headers in the operations history recently, so I'll double check on the behavior.

[2020-09-30 15:49] pyrog commented on #3234
Not logged anywhere, yes. But could be encrypted somewhere in the project.

The project itself could be encrypted because it could contain sensible data 😉

[2020-09-30 15:54] thadguidry commented on #3234
@tfmorris Do you think maybe the proposed solution could be altered to allow storing them as encrypted variables?
Many CI/CD platforms and Automation frameworks use variables for this purpose for reuse.  They ensure that those variables that are credential related are stored encrypted and that those credential related variables are never output into the logging system or at least masked. (my exper

[2020-09-30 16:41] tfmorris commented on #3208
Travis has finally acknowledged my report, but no progress on fixing it. My current approach is to pursue the migration to travis-ci.com in the hope that it is better behaved.

[2020-09-30 19:11] tfmorris commented on #3226
Migration complete for the main OpenRefine repo and it doesn't look like any of the other repos have Travis CI builds enabled.

[2020-09-30 19:11] #3226 closed

[2020-09-30 19:15] tfmorris commented on #3208
After the migration, the problem exists on travis-ci.com as well, so I'll continue to pursue other solutions.

[2020-09-30 21:19] tfmorris opened #3235 "GREL uniques() function should preserve array order"
Currently the GREL `uniques()` function returns the array elements in, effectively, random order. It would be more useful and predictable if the ordering were stable.

### Proposed solution

Return the array in the same order as the original, but with the duplicates eliminated.

[2020-09-30 21:56] thadguidry commented on #3208
@tfmorris GitHub Actions, GitHub Actions, nudge nudge nudge... :-)  https://docs.github.com/en/free-pro-team@latest/actions/reference/specifications-for-github-hosted-runners

[2020-09-30 22:21] tfmorris commented on #3208
Use your words, please. Why do you think migrating to a completely different system like Github Actions is the easiest & cheapest solution to the problem of intermittent Mac build failures? From a brief glance, the configurations for the two systems are entirely different so we'd end up debugging a new CI system from scratch.

[2020-09-30 22:28] thadguidry commented on #3208
@tfmorris I thought the determination of the failures was due to resource constraints?  If not, and you are still narrowing the problem, then sure, understood and I will stand down and let you focus on narrowing the problem. Sorry.

[2020-10-01 08:52] ostephens commented on #3234
You are correct - that's my fault I'm afraid. Logging the headers was deliberate, but we need a way of handling the authorisation that doesn't expose credentials. Possibly the user needs prompting for Authorisation when the request requires it?

[2020-10-01 09:05] ostephens commented on #2379
On Mac the problem was exacerbated by the bundled Java in OR 2.7/2.8 not having the certs (documented in #1265) - I wasn't sure at the time (or now) what determined which version of Java was bundled in the distributed version but I'd hope that the current versions use up to date Java releases which include the missing certs that gave rise to a fair number of these issues.

Do the more detailed err

[2020-10-01 09:14] pyrog commented on #2379
The About Open Refine could display the Java version.

The main page too:
<img width="157" alt="Capture d’écran 2020-10-01 à 11 13 23" src="https://user-images.githubusercontent.com/2158081/94790888-365f4f80-03d7-11eb-94a7-8bdfef0d93bf.png">

[2020-10-01 09:31] #3069 closed

[2020-10-01 10:10] wetneb commented on #3234
@ostephens you did the right thing given the infrastructure we have in place at the moment - to get it right, we would need a better mechanism to supply secret data to operations.

[2020-10-01 10:12] wetneb commented on #2379
I have added a note to the wiki page about the release process to emphasize that it is important to download fresh JREs to ensure the latest certificates are there:
https://github.com/OpenRefine/OpenRefine/wiki/Releasing-Version

[2020-10-01 17:10] tfmorris opened #3240 "Add the Java runtime version to the About page"
Per https://github.com/OpenRefine/OpenRefine/issues/2379#issuecomment-702002694 add the Java run time version to the About page.

### Proposed solution

Simply display the string contained in the the system property `java.runtime.version` without any interpretation. When we drop Java 8 support, we can switch to `Runtime.version`

[2020-10-01 17:12] tfmorris commented on #2379
Yes, that's what the "first" was meant to imply. The full message would be something like `javax.net.ssl.SSLHandshakeException: sun.security.validator.ValidatorException: PKIX path building failed`

I gave @allanaaa the updates as comments on the new docs. Are we going to continue to have this information in two places?

@pyrog The best way to suggest/request a feature is to create an issue. I've

[2020-10-01 17:18] thadguidry commented on #2379
@tfmorris Hi Tom, the plan is to have all product reference (user manual) and technical reference material moved over to https://docs.openrefine.org and then remove that reference material from the various wiki pages and leave what remains to be the community maintained wiki. (Recipes, my Jython experiments, Tony's Jupyter stuff, etc.)

[2020-10-01 18:02] tfmorris opened #3241 "Create fully automated kit build"
Currently the kit build process is a mix of automated (`./refine dist 3.4`) and manual steps (tag, edit, upload, etc).

### Proposed solution

Integrate as many steps as possible into the automated procedure, including:
- checking prerequisites: Apple & Google credentials, other?
- setting release version string
- tagging release in git
- injecting Google credentials
- downloading/caching Windows

[2020-10-02 01:24] thadguidry opened #3243 "Allow option for comments in Json files to be ignored during import"
Json comments are not supported with the Json Importer and it would be nice if an option was added.

### Proposed solution
Add checkbox option to Json Importer to **Allow  comments in json files**
When selected, `/*...*/` blocks and the line comments `//`, and `#` are interpreted as comments and get ignored (instead of causing silent errors within Jackson importer, I think)

The following would be

[2020-10-02 03:26] #3235 closed

[2020-10-02 03:37] tfmorris commented on #820
Is there a summary someplace of all the changes that got made to the null handling?

[2020-10-02 03:59] tfmorris commented on #3208
I've allowed the Mac builds to fail for now, but that build also provides our Java 14 coverage, so we need to find a solution for both Java 14 and Mac. I also noticed that we are not testing against the Early Access previews, which we probably should be so that we catch problems before their release.

[2020-10-02 07:41] #3240 closed

[2020-10-02 08:15] ostephens commented on #820
Short answer is No. The issues and PRs linked back to here are probably the best we have

Not all the changes were directly related to null handling, but the changes included:

* changing the outcome of  `null`.toString() https://github.com/OpenRefine/OpenRefine/pull/1650
* Add a way of viewing null cells vs blank cells in the UI https://github.com/OpenRefine/OpenRefine/pull/1544
* Addition of the

[2020-10-02 14:09] thadguidry commented on #820
@ostephens And the Facet code caused you some grief as well I recall with the changes to strict null handling introduced. https://github.com/OpenRefine/OpenRefine/pull/1666
There are probably others.  Basically it's the PR's from Owen prior and directly after 3.0 , 3.1 , 3.2

[2020-10-02 14:37] ostephens commented on #820
Agreed there were changes in #1666 but that was later reverted so no longer applies

[2020-10-02 18:40] tfmorris commented on #1036
Sorry I didn't chime in before, but I presume the problem is that `cells['col name'] == null` (for space efficiency reasons), causing the issue when attempting to evaluate `cells['col name'].value` downstream.

Rather changing the behavior of `null.value`, which should be an error in my opinion, I think a better approach would be to consider introducing a static `NullCell` placeholder which could

[2020-10-02 18:56] tfmorris commented on #820
Thanks for the summary. It doesn't look like there was too much modification of core null handling functionality, so I suspect there are probably a number of internal inconsistencies still. A related issue that I'll just mention in passing is whether functions return `null` or `EvalError` in the case of an error.

The original approach of treating all empty cells equivalently, whether they contain

[2020-10-02 19:05] wetneb commented on #1036
Generally speaking this choice of null cells instead of cells with null values comes up in many areas of the tool. When migrating operations to the new architecture this is something that required special care. It's annoying.

That being said it is not clear to me that `NullCell` would be a better solution (in the current context), since there are a lot of places in the code where we assume that i

[2020-10-02 19:42] tfmorris commented on #1036
Just fyi, I taught OpenRefine to Harvard librarians for years in the DST4L classes, as well as teaching beginners in other contexts, so I'm not completely clueless as to users' needs. Professionally I'm a director of product management, so pretty familiar with integrating users needs from that point of view as well.

The problem that I have with the current implementation is that it is too big a h

[2020-10-02 20:23] tfmorris commented on #3208
The Mac build is still problematic, but I've substituted a different Java 14 build (and enabled Java 16).

The current build matrix is:
- Java 8 (only) for pushes to feature branches and pull request against master
For merges to master or pushes to release branches (of the form v3.5xxx) a full matrix of:
- Oracle JDK 8 on Trusty
- OpenJDK 11,12,13,14, 16 on a mix of Bionic & Xenial
- Oracle JDK 14

[2020-10-03 08:45] wetneb commented on #1036
Sorry it was clearly not my intention to imply that you were clueless as to users' needs! :)

That sounds interesting!
In my opinion the long term "proper" solution would be to switch conventions: make sure all cells in a grid are non-null, and they can null or non-null. In the new architecture, the Cell class is immutable, so that means you can safely use the same instance for all cells that have

[2020-10-04 23:48] tfmorris opened #3247 "Replace log4j 1.2"
Apache log4j 1.2 was EOL'd in 2015 http://logging.apache.org/log4j/1.2/index.html

It needs to be replaced with either log4j 2.x http://logging.apache.org/log4j/2.x/log4j-slf4j-impl/index.html
or another SLF4J compatible implementation. I suspect log4j 2.x is the way to go.

[2020-10-05 00:47] thadguidry commented on #3247
And in working on this issue,  I imagine it should also resolve my issue #1832

[2020-10-05 09:55] wetneb opened #3248 "Configurable bin size in histogram-based facets"
Facets which show histograms (numeric and timeline facets) determine the bin size automatically from the data.
Sometimes this bin size is inappropriate: the presence of outliers can increase the spread of the distribution and make the histogram too coarse for the data. This is especially problematic because users can only select bin boundaries as upper or lower bounds when filtering the grid.

My

[2020-10-05 19:35] tfmorris commented on #3248
More control would be good, but better defaults would probably be useful too. Excluding outliers by default when choosing scale range/bin sizes might be a start.

[2020-10-05 19:50] tfmorris commented on #3222
It's a well known fact that operation histories are unreliable when applied to different data, but I'm not sure I see the value of not fixing this in the name of "compatibility." If there's really value in the current behavior, we can easily finesse the compatibility issue by creating a "scatterplot2" facet with the new different behavior.

[2020-10-05 20:15] wetneb commented on #3222
That's a good point - since the scatterplot facet is not reproducible as such, I don't see much harm in changing that in 3.x already. It is not my priority to do that but it would not harm if someone did it (perhaps it would make my merging a bit harder, but oh well…)

[2020-10-05 21:42] magdmartin opened #3250 "404 on /en/en.json during Project Open"
Similar to #2835 we have a 404 for `/en/en.json` when we open a project.

Tested with OpenRefine 3.3 and 3.4.1
OS Linux with Chrome

GET http://127.0.0.1:3333/en/en.json 404 (Not Found)

![Screenshot from 2020-10-05 17-40-19](https://user-images.githubusercontent.com/2589584/95135188-0cd55980-0732-11eb-9750-d0418a6fa710.png)

[2020-10-08 13:36] grahamjevon opened #3254 "Add Facet/Filter Without Scrolling to Column"
I find it frustrating and cumbersome flitting back and forth between columns and facets. It would be good if the permanent facets bar enabled more actions. There are 2 sides to this problem:

**1. Adding new Facets/Filters**
I have many columns, I mostly know the column names, but I don't always know where the column is located in the dataset. To find a column so that I can add a facet or filter,

[2020-10-08 15:30] thadguidry commented on #3254
For # 1 , So clicking on the + plus icon then a quick search input box appears to begin to type in a column name that shows a drop down list, the user clicks on 1 column name in the drop down list, or does he simply hover the mouse on the column name for .5 secs and then it hovers a submenu box to show only the Facet submenu and Text Filter (not showing other submenus click Edit Cells, Edit Column

[2020-10-09 13:55] grahamjevon commented on #3254
For # 1 click versus .5 second hover I'm probably ok with either.

Regarding menu options for #1, I was initially thinking just facet/filter options. But on reflection, I would probably favour all menu options. This feature would then somewhat solve #2. And it would have the advantage of enabling quick access to edit cells on a column for which a facet/filter is not currently present. However, I m

[2020-10-09 14:14] thadguidry commented on #3254
@grahamjevon The data grid would only scroll horizontally once you clicked on the blue title of the facet, otherwise nothing moves on the data grid.

[2020-10-09 14:15] grahamjevon opened #3255 "Blank Down/Fill Down clarity"
The blank down and fill down features work differently depending on whether you are working in rows or records mode. This can be problematic in 2 scenarios:
1. Inexperienced users may not be aware of these differences (for a long time I thought they always worked the way they do when in records mode).
2. Even users aware of the different ways they are applied can get caught out by forgetting which

[2020-10-09 14:34] wetneb commented on #3255
We changed this in 3.0: https://github.com/OpenRefine/OpenRefine/issues/742

Overall, I agree it is easy to forget about the difference between the two modes (this is also true for facet statistics and other operations which behave differently depending on this switch).

I am hoping we will be able to document clearly how each operation behaves in the two modes (cc @allanaaa).

[2020-10-09 14:46] thadguidry commented on #3255
@grahamjevon I am more curious in the WHY.  Why did you need to blank down or fill down.  What was the real kinds of transformation you where trying to do with your data (the end end result), regardless of OpenRefine's quirks or ways of working?  Can you describe what you were trying to accomplish?  That will help us even more with our future plans for improved features.

[2020-10-09 15:52] tfmorris commented on #3254
These sound like two independent feature requests. Is there a reason that they need to be treated together?

[2020-10-09 15:54] tfmorris commented on #742
There is extensive discussion of what actually got implemented in #1573 and #1803, although I was unable to find a concise description.

[2020-10-09 16:12] tfmorris opened #3256 "Warn on Fill/Blank Down with pending Sort"
If the user has a pending sort, which hasn't been made permanent, the visual appearance on the screen doesn't match the data that the Fill Down and, particularly, Blank Down operations will operate on.

### Proposed solution

Warn the user when they attempt any operation that depends on row ordering when they have a Sort active which has not yet been made permanent.

[2020-10-12 08:21] grahamjevon commented on #3254
I did indeed question whether to add them separately at the outset. The commonality was that these are both means of accessing the column actions menu from the permanent facets bar to avoid the problem of flitting back and forth. I wonder if there are now 3 feature requests here:
1. Access column actions menu for any column via + sign (type column name to help identify column)
2. Access column act

[2020-10-13 20:30] tfmorris commented on #560
@abubelinha if you want to "vote" for this issue, you can click the smiley face at the top on the original post and then click the thumbs up sign.

@wetneb re backward compatibility

This is difficult to do because the old version a) doesn't know whether what it's ignoring is optional and b) can't write it back out again. I also don't see it as being very valuable. It's much more common to make su

[2020-10-14 08:32] grahamjevon commented on #3255
@thadguidry I most commonly use(d) it as a temporary workaround for the slowness of records mode. The workflow is something like this:
1. Start with dataset of 1 row per record
2. Split a column (e.g. place names identified via named entity extraction) by multi-valued cells (now I have multi-row records)
3. I facet the place names so that I can validate some of the terms by visually cross referenc

[2020-10-14 13:18] lozanaross opened #3263 "Support for custom data types in OpenRefine-Wikibase integration"
There is a problem when trying to work with custom data types in the OR-Wikibase integration extension.

### To Reproduce
Steps to reproduce the behavior:
1. First, reconcile data to Rhizome's custom Wikibase.
2. Then, build schema which includes property with custom data type (in this case – media file that is not Commons media file).
3. Finally, try to upload to Rhizome's Wikibase instance.

###

[2020-10-14 21:28] tfmorris commented on #3250
This looks like it's coming from /extension/database/scripts/project/database-exporters.js.

https://github.com/OpenRefine/OpenRefine/blob/1157cb047ca7192d7a3e5f5afe4a230482335606/extensions/database/module/scripts/project/database-exporters.js#L31-L44

With my language set to `fr`, I get two 404s, one for /fr/fr.json and one for /fr/enjson, presumably due to fallback processing.

[2020-10-16 08:34] wetneb commented on #3263
There are two subtasks to this:
* Improving the user experience with unsupported datatypes (making sure the schema cannot be built at all in this case). I would suggest making the property input invalid (red).
* In general we cannot add support for arbitrary datatypes as we just don't know what sort of data they expect. But many new datatypes use string datavalues and we can support these uniforml

[2020-10-16 10:23] wetneb opened #3269 "Document Wikibase schema format"
OpenRefine lets users import and export the Wikibase schemas that they use in the tool, in the JSON format we use internally.
It could be useful to document this format which could be adopted by other tabular data integration tools.

### Proposed solution

* [ ] Document the overall structure of the schema in the developer docs
* [ ] Offer a JSON schema

### Alternatives considered

Perhaps there

[2020-10-16 15:49] lozanaross commented on #3263
Thanks @wetneb – do you want me to split this into two issues: one being a bug about the UI not giving enough meaningful user feedback, the second being a feature request to support new data types. I will request at least support for the local media data type, I think that would be the most significant for now.

[2020-10-16 16:10] wetneb commented on #3263
Thanks, that would be useful! We could keep this one for the support for new datatypes and open another one for the UX for unsupported ones, perhaps?

[2020-10-16 16:11] lozanaross commented on #3263
Sure, I'll do that – writing two more UX-related issues right now :) Sorry for being such an annoying user!

[2020-10-16 16:14] lozanaross opened #3270 "Unclear UI messaging when reconciling against Wikibase identifiers (as URLs)"
Reconciling data to a custom Wikibase instance via the Option "Use values as identifiers" doesn't work with whole URL IDs only with Q numbers themselves. This is not made clear in the UI and creates a confusing user experience.
### To Reproduce
Steps to reproduce the behavior:
1. First, download data via wikibase query service to reconcile against – the IDs returned that way are whole URLs, not ju

[2020-10-16 16:27] lozanaross opened #3271 "Unable to get "Auto-match candidates with high confidence" working when reconciling to custom Wikibase"
This used to be possible and over the last week or so, it seems to be a problem, I can't get any "Auto-match candidates with high confidence" for text data. I can't identify that I'm doing anything else differently than usual, so not sure what's the issue other than a bug?

### To Reproduce
Steps to reproduce the behavior:
1. First, choose to reconcile text data (i.e. NOT ID numbers) against a cus

[2020-10-16 16:39] lozanaross opened #3272 "Better UI feedback when building a schema with an unsupported Wikibase data type"
I was trying to upload data to a custom Wikibase instance associated with a new property, which has a local media file data type (a new data type, non existing in Wikidata). Right now I get a message that indicates the desired data type is unsupported when adding the new property to the schema. The corresponding value field goes red initially, but then it still allows me to drag a column with valu

[2020-10-16 18:17] tfmorris commented on #3271
The reconciliation service isn't returning any candidates at all, let alone high scoring ones. You should contact the maintainer of the reconciliation service(s), if you think it should be returning matches for your queries.

[2020-10-16 18:27] wetneb commented on #3270
Which reconciliation service are you using?

[2020-10-16 18:49] #3031 closed

[2020-10-16 18:58] lozanaross commented on #3270
Tried with both available options for Rhizome right now:
https://reconciliation.artbase.rhizome.org/
http://rhizome-artbase.reconci.link/

[2020-10-16 19:13] wetneb commented on #3271
Indeed, migrating to https://github.com/wetneb/openrefine-wikibase/issues/92.

[2020-10-16 19:13] #3271 closed

[2020-10-16 19:35] olea opened #3274 "P304 as reference breaks the Wikidata schema"
Hi:

Here using OR v3.4 in Linux. Uploading data to Wikidata.

I found using the P304 brakes the schema: the UI doesn't provide any clear feedback and when looking at the logs I got this:

[code]

I'm not sure if this happens with any value for P304. In my case the precise value was _69-91_

An example of the reference I pretend is, exactly, the one for P31 at [Q100407249](https://www.wikidata.org

[2020-10-16 19:42] wetneb commented on #3274
Looking at the stack trace that's a clear bug: since these regular expressions are user-supplied, we should make sure that they are ignored if they are invalid. They should be ignored rather than reported to the user since the user is not responsible for maintaining Wikidata constraints.

The regular expression currently present on [P304](https://www.wikidata.org/wiki/Property:P304) is
[code]
whic

[2020-10-16 19:43] wetneb commented on #3274
Note that we should also evaluate whether there are security vulnerabilities here: there might be options in `Pattern.compile` to reject regular expressions whose compilation/evaluation would be too expensive (DoS-like attack).

[2020-10-19 09:17] fhc1958 opened #3277 "Can't see projects or open Workspace Directory with non-ASCII characters in workspace path"
Hi,
I have installed OpenRefine 3.3. in Windows10 and open with Chrome
Everything works ok, but I can't see Created Projects nor open the Browse directory
Also, I can't import projects.
![image](https://user-images.githubusercontent.com/73102849/96425213-14016a80-11fc-11eb-9dcd-d5cb55f734ad.png)
![image](https://user-images.githubusercontent.com/73102849/96425451-53c85200-11fc-11eb-8681-7a40088274

[2020-10-20 23:00] allanaaa commented on #2523
Thanks for posting this! I'm testing how some of these variables work for the documentation, and was tripped up on this for 5-10 minutes before I searched and found this issue. I definitely think `record` and `recon` should work on their own.
In the meantime the documentation will use cell.recon and row.record everywhere.

[2020-10-21 14:55] tfmorris commented on #2523
I'm not sure I follow the discussion.

@thadguidry do you object to the proposed change of making `record` and `recon` top level variables? If so, why?

[2020-10-21 15:26] thadguidry commented on #2523
@tfmorris not objecting.  My stance will always be that what simplifies things for our users (if we do the hard parts) will be best.  This issue proposed simplifies things in my opinion.  I was just giving @antoine2711 context of what we do about documenting the current deeper subfields and what we could do currently to make it easier for users from a doc perspective (which is now resolved on the

[2020-10-21 17:46] tfmorris opened #3282 "Fingerprint functions should support Unicode whitespace and punctuation"
Although the fingerprint keyers currently do diacritic folding for alphabetic characters, they don't correctly handle all Unicode whitespace and punctuation characters.

### Proposed solution

Both the FingeprintKeyer and NGramFingerprintKeyer should be extended to correctly handle all Unicode whitespace characters (e.g. em space, NBSP, ZWSP, etc) and punctuation.

Additionally, the (almost) dupli

[2020-10-21 19:10] tfmorris commented on #3208
I reported the problem here: https://travis-ci.community/t/macos-builds-stalling-w-10-min-timeout-before-installing-dependencies-after-cache-install/10013
and they reported that a fix would be deployed by EOD on Oct. 15, but we've had two failures in the last couple of days, so the problem is still occurring (although the build is allowed to fail now).

[2020-10-21 19:51] tfmorris commented on #2523
Due to our current setup/evaluation scheme there is some overhead to setting these up before every evaluation, but it doesn't affect any inner loops, so probably isn't a big deal.

Summary of the current state of play:

Row fields (* = visible at top level)
- index * (as rowIndex)
- record
- columnNames
- flagged
- starred

Cell fields (none visible at top level)
- recon
- error message

Other top

[2020-10-23 13:57] maheshjindal commented on #1095
Hi All, I've tried debugging this issue, I was able to reproduce the same issue while loading it from both 'file' and as well as from 'URL'. I'm able to fix it. If no one is working on this issue, I would like to take it up.

[2020-10-23 16:00] wetneb commented on #1095
Thank you for offering to help on this! Looking forward to your PR.

[2020-10-23 20:32] tfmorris commented on #1095
@maheshjindal please review the thread of conversation above. My impression from reading it is that the problem is mostly fixed by #2409, but that we need a) more/better test cases and b) perhaps better defaults for importer option settings.

[2020-10-24 10:54] maheshjindal commented on #1095
@tfmorris I found one issue with the #2409 and also with the existing changes in #3285. As the same method is being used while importing the JSON data(by both XmlParser and JsonParser), so by default after importing JSON having a valid fieldName and empty value, it will ignore that particular field in the preview, which will create an issue. The empty check on value should only be performed in the

[2020-10-24 15:59] thadguidry commented on #1095
No.  The default is and has always been that we preserve empty string values during import.  If a particular importer has some trouble creating or preserving empty strings, then we need to change and improve that.  Users are allowed to preserve and keep empty string values if they want, no matter if it was JSON, XML, CSV, etc.  Those empty values will automatically display as blank cells in previe

[2020-10-24 17:24] maheshjindal commented on #1095
@thadguidry Got your point. Thank you very much for this elucidation.

[2020-10-24 17:44] thadguidry commented on #2292
@magdmartin Regarding your last bullet point, Why did we want to make a reference to Funding.yml?  What would it even say, or need to say?

[2020-10-24 17:49] thadguidry commented on #1095
@maheshjindal Sure!  (and sorry it wasn't only 2 sentences, because no one would likely have gotten the point...it indeed took a few paragraphs at minimum...sorry for the length!)

[2020-10-25 19:32] #3282 closed

[2020-10-25 19:39] maheshjindal commented on #1095
@thadguidry With respect to this issue, will it be nicer to have a new importer option named “skipWhitespaces” while importing XML data? For enabling/disabling this option from the server-side, we can follow up with any of the below approaches.

1. It's a usual approach, similar to other importer options, **we can pass it as an additional new parameter to the method “XmlImportUtilities.importTreeD

[2020-10-25 20:15] thadguidry commented on #1095
@maheshjindal Those decisions will be best made by @wetneb and @tfmorris who will reply to you.

[2020-10-27 09:19] maheshjindal commented on #1095
@wetneb and @tfmorris Could you please let us know your thoughts on this?

[2020-10-27 11:15] dzsibi opened #3288 "HTTP server implementation is vulnerable to DNS rebinding attacks"
OpenRefine has endpoints with intentional remote code execution without authentication (like running Python or Clojure transformations). While the lack of authentication would not be an issue with normal desktop use when OpenRefine is bound to a loopback interface like 127.0.0.1, the current implementation still exposes users to Remote Code Execution via [DNS rebinding](https://en.wikipedia.org/wi

[2020-10-27 22:05] tfmorris commented on #3062
Yes, it's an error, but I think the point of the original bug report was that the error handling for the two cases should be equivalent. They should either both return error or both return null. I have a strong preference for the former.

This isn't limited to `pow()`. All of these functions are exempt from the test for too many arguments:

https://github.com/OpenRefine/OpenRefine/blob/c8a721a10bb

[2020-10-29 12:53] jquartel opened #3289 "Search/find for column headers"
I work with data sets that can have dozens (or hundreds) of columns and I won't know where in this set a particular column resides, or if it even exits in my current data. As it stands, I think the only thing I can do is scroll along until I spot the header I'm looking for. The browser's text search helps except:
  In Apple Safari (14.0) the text can be found but the interface is subsequently brok

[2020-10-29 13:32] iomicifikko opened #3290 "Strange behavior of the join() function with arrays containing empty strings"
### To Reproduce
1. First, click on a column menu
2. Then, select "Edit cells" > "Transform"
3. Finally, use this expression: `["",1,2].join("|")` and press OK button.

### Current Results

The string **1|2**

### Expected Behavior

The string **|1|2**

### Screenshots

![image](https://user-images.githubusercontent.com/61201406/97579979-05ccfe80-19f3-11eb-9cdf-d67c116c282f.png)

### Versions
 - O

[2020-10-29 14:56] thadguidry commented on #3289
@jquartel Can you be more descriptive on the Proposed solution?  What happens when you do the search and then a match is found (where and what does the search look like, where is it located in the UI, what options are there?) ... would you want to type into the search box and the data grid would scroll horizontally to the first matching column name into view as you type?  or something completely d

[2020-10-29 15:14] thadguidry commented on #3290
I strongly feel this should be another parameter option to join().  I like the current convenience of collapsing the empty elements, but I can see it might be inconvenient for rows of data where you want to say "no, don't collapse empty elements during my join's"?
Maybe it looks like `join(array a, string sep, optional boolean RemoveEmptyElements)`?

[2020-10-29 15:30] iomicifikko commented on #3290
@thadguidry
I think that your suggestion is an optimal solution because gives the choice to the user, who always knows what to expect.
For knowledge of all: the join function axctually remove any **blank**/**null** value inside the array.

[2020-10-29 16:32] wetneb opened #3291 "Dead code + inaccuracy in the Find function documentation"
In #2095 we updated the `find` function to support two types of arguments: regex (`/[a-z]/`) and simple string (`"[a-z]"`).

There are two things we need to clean up there:
* The embedded description of the function does not reflect that:
https://github.com/OpenRefine/OpenRefine/blob/ac7b5a0a19c1ecaefa1ac1d9d0d26ea9baceacee/main/src/com/google/refine/expr/functions/strings/Find.java#L75
* There is

[2020-10-29 16:56] wetneb opened #3292 "Unit tests for the "reinterpret" GREL function"
The `reinterpret` function is supposed to help fix encoding errors, by encoding and re-decoding strings to their correct encoding.

We want to unit tests for this function, demonstrating how it can be useful. Some of these examples should be included in the documentation.

@ostephens reports mixed success with using this function in practice.

The documentation of this function should mention than

[2020-10-29 18:59] thadguidry commented on #3292
I found 2 conversations from the past that might be looked at for use cases and tests.

https://groups.google.com/g/openrefine-dev/c/nRSRppateJw/m/HWUpjaxfIzEJ
https://groups.google.com/g/openrefine-dev/c/KtbsO6QmXqw/m/RHDAZu4QaA0J

And you can follow the early history of reinterpret by scrolling through here:
https://groups.google.com/g/openrefine-dev/search?q=reinterpret

[2020-10-29 20:40] wetneb commented on #3290
I agree this behaviour is curious. The problem now is, as always, how to fix this without breaking existing workflows which rely on this peculiar behaviour.

[2020-10-29 20:49] wetneb commented on #1095
Sorry for the delay, I'll get back to you by tomorrow.

[2020-10-30 09:09] wetneb opened #3293 "Reconciliation dialog: clicking on "Reconcile against no particular type" should select this option"
We are missing a `<label>` tag properly associated with radio buttons in the reconciliation dialog. We should check that all labels are correctly marked as such on this dialog.

### To Reproduce
Steps to reproduce the behavior:
1. First, click "Reconcile" -> "Start reconciling" and choose a service
2. Then, click on the text "Reconcile against no particular type" (not the radio button, the text it

[2020-10-31 00:30] rubyAnneB commented on #3291
I'll give this a try

[2020-10-31 19:38] wetneb commented on #1095
@maheshjindal I support your idea, it would make sense to have an option in tree-based importers (XML, MARC) to skip whitespace. It's not clear to me whether you would want that for JSON too (perhaps to skip `null` instead)? It could potentially also apply to the RDF importers (skip blank nodes).

[2020-11-01 07:52] #3291 closed

[2020-11-01 09:42] wetneb commented on #1095
I think this is less flexible: it would be more convenient to expose an option that other importers can use as well.

[2020-11-01 09:46] maheshjindal commented on #1095
@wetneb, yes I totally affirm you. It would be much more convenient and useful for an end-user.

[2020-11-01 09:47] maheshjindal commented on #1095
@wetneb, I was referring only to the case of XML importer. We can check the parser type and if 'XMLParser' is being used(i.e instance type for tree parser is XMLParser), we can proceed with skipping whitespaces.

[2020-11-01 10:14] wetneb commented on #1095
Even if you only want to change the behaviour of the XML importer, I think we should do it in a way that makes it easier to extend the feature to other importers.

Having to check at runtime if the importer is an XML importer using `instanceof` is a symptom of an architectural problem, so I would oppose fixing it this way.

[2020-11-01 10:41] maheshjindal commented on #1095
@wetneb , yes exactly. Earlier I was taking only XmlImporter into consideration, that's why I proposed the above two approaches. Now as this feature really seems to be a good add-on for all other importers, I will look into this so that it will be easier to extend and integrate for other importers as well.

[2020-11-02 21:30] allanaaa opened #3305 "Add a variable to refer to other rows"
I was wondering if there was a way to compare two rows' values to each other. For example, I wanted to create a column using diff() on a column of dates, outputting the distance between row1's date and row2's date (and subsequently between row2's date and row3's date, etc.).

|Dates|Diff between value and value in the next row (days)|
|-|-|
|2020-10-31|2|
|2020-10-29|5|
|2020-10-24|3|
|2020-10-21|

[2020-11-02 22:22] allanaaa opened #3306 "parseHtml() behaves unpredictably"
Given some HTML (in this case, from a Project Gutenberg ebook), parseHtml() does some strange editing.

1) It removes the `<!DOCTYPE...>` tag from the beginning.
2) It prematurely closes the `<head>` tag regardless of the original position of `</head>`, and opens up `<body>` immediately after. It thus pushes all sorts of CSS and meta tags directly into the `<body>`.

![diff1](https://user-images.g

[2020-11-02 23:23] thadguidry commented on #3306
That's XHTML - which stands for EXtensible HyperText Markup Language. XHTML is a stricter, more XML-based version of HTML.
Yes it's confusing as well with the `DOCTYPE html` but the full line means and should be read as sayiing... "HTML document with XHTML 1.0 strict extensions included as defined by this dtd....blah blah blah"

So you are using a flat-tipped screwdriver on some cross-point screws

[2020-11-02 23:28] thadguidry commented on #3306
If it helps...here's the actual Jsoup method docs for each one
https://jsoup.org/apidocs/org/jsoup/parser/Parser.html#xmlParser()

[2020-11-03 06:59] xsfang commented on #2824
I also have this exception. I am using 3.16.0. Can it be solved by using 3.9.0?

[2020-11-03 07:57] jinoytommanjaly opened #3307 "Not readable characters while fetching a URL"
### To Reproduce
I have tried to fetching a URL where the contents are in Malayalam language. But the html codes doesn't contains Malayalam characters.
For ex: I have tried to fetch URL- https://m3db.com/film/agnisakshi

### Current Results
The html code now contains these characters
<title>à´…à´—àµ�à´¨à´¿à´¸à´¾à´•àµ�à´·à´¿ - Agnisakshi | M3DB.COM</title>

### Expected Behavior
<title>അഗ്നിസാക്ഷി

[2020-11-03 08:51] wetneb commented on #3305
Similar to https://github.com/OpenRefine/OpenRefine/issues/1340

[2020-11-03 08:53] wetneb commented on #2824
@xsfang apparently it did solve the issue in our case, yes.

[2020-11-03 08:57] xsfang commented on #2824
@wetneb Thank you very much for your reply. I move back to use Jena 3.9.0 and it works! Adding commons.codec package possibly can also solve the problem. I have not tried.

[2020-11-03 11:34] jinoytommanjaly commented on #3307
Update: I have now checked with the previous version of OpenRefine Version 3.3 and there is no issues with that version while fetching Malayalam characters.

[2020-11-03 15:07] thadguidry commented on #3292
I've also found a documentation issue for `reinterpret()` and will submit a PR to fix that now.

[2020-11-03 15:46] thadguidry commented on #3292
Also, at the bottom of this old commit to the old wiki, you can see [Stefano's `=== Part 2 - Faceting for Encoding Analysis ===`](https://markmail.org/message/esrasibbkrbms743?q=stefano+mazzocchi+reinterpret+list:com%2Egooglegroups%2Egoogle-refine-dev&page=1) which explains some usage.

We later added an optional `source decoder` parameter to `reinterpret()` that never got documented correctly, so

[2020-11-03 16:41] tfmorris commented on #2824
@xsfang Can you clarify which version of OpenRefine you are seeing this error with?

[2020-11-03 16:45] lozanaross commented on #3263
@wetneb – do you have any ideas when you might consider integrating any new data types into OR. If you have no availability until end of the year or so, that's totally fine, but could you let me know, because we have several thousand images to move at Rhizome by the end of the year and if we can't use OR, we'll need to work on an alternative via a bot. Thanks!

[2020-11-03 16:53] tfmorris commented on #3288
Thanks for creating the issue so that we can track this.

[2020-11-03 17:03] tfmorris commented on #3289
I think #213 is more closely related than #2749. Perhaps we could include the option to restrict it to column headings.

As an aside, browser Find in the Edit Columns display works for me in Chrome.

[2020-11-03 17:15] tfmorris commented on #3290
This behavior is the reason I added these TODOs a few weeks ago:

https://github.com/OpenRefine/OpenRefine/blob/82b1cf0bfaf3c8ab57a12e0f2004bdeb71432383/main/tests/server/src/com/google/refine/expr/functions/arrays/JoinTests.java#L47-L54

This is just one instance of many "special" cases for nulls and empty strings which are very irregular.

[2020-11-03 17:36] tfmorris commented on #3277
Sorry to hear that you're having trouble. Were you able to figure out what this issue was?

I'd recommend using the latest release 3.4.1 since it has all the latest features and bug fixes, but we have many users successfully using OpenRefine 3.3 and 3.4.1 on Windows 10, so I suspect this is something specific to your local setup.

[2020-11-03 18:27] tfmorris commented on #1095
I'm lost in all this verbiage. In March https://github.com/OpenRefine/OpenRefine/issues/1095#issuecomment-599709098, it sounded like everything was good except we needed better test coverage and, when I try the OP's WorldBank example with "trim white space" = true and "keep empty strings" = false, I get, what looks to me, like a perfect import.

What are we missing? Why do we need a third option h

[2020-11-03 18:29] thadguidry opened #3309 "Weird scrolling behavior with Docusaurus Tab syncing"
### To Reproduce
Steps to reproduce the behavior:
1. Go here: https://docs.openrefine.org/manual/installing/#set-where-data-is-stored
2. Then click on Windows, Mac or Linux tab

### Current Results
On Firefox or Chrome, you are scrolled into a completely different section than the `#set-where-data-is-stored` !!!

### Expected Behavior
When clicking on a Tab, it should keep me at the start of the s

[2020-11-03 18:33] wetneb commented on #3263
I haven't planned to work on this soon.

[2020-11-03 18:36] thadguidry commented on #3277
@fhc1958 This might be because your workspace directory contains non-ASCII characters, but I'm not certain.  One thing you could do is make a new folder using ASCII characters only... such as just `openrefine_workspace` and then point OpenRefine to use that folder.

You can change this 2 ways:
* by adding this line to the file `openrefine.l4j.ini` and specifying your desired drive and folder path:

[2020-11-03 18:38] wetneb commented on #3309
I can reproduce this too. I think this should be reported to Docusaurus.

[2020-11-03 18:41] allanaaa commented on #3309
As far as I know it's just the page resizing all of the multi-tab sections whenever you switch to another. The Mac and Linux versions of the page are close to being the same size, and the Windows version is much longer (because of screenshots in this case). It's not great, but unless we manually insert extra dead space into the shorter pages I don't see how it can be resolved.
I thought we talked

[2020-11-03 18:41] tfmorris commented on #3306
@thadguidry when you triage bug reports, can you please try to remember to add the appropriate labels (and remove the `to be reviewed` label if no one else needs to review it)?

Are you saying that this is not a bug? (ie should be closed)

[2020-11-03 18:45] lozanaross commented on #3263
OK, I understand, we'll do some temp fix at Rhizome for now.

[2020-11-03 18:53] tfmorris commented on #3292
re: mixed success - Many types of character encoding (decoding) screwups are not reversible.

Also, the web (and data) landscape has changed dramatically in the last 10 years and UTF-8 is nearly ubiquitous, so there should be much less need for things like `reinterpret()`

[2020-11-03 19:07] maheshjindal commented on #1095
@tfmorris , with reference to the above discussion, the suggestion was to introduce a new option "skipWhitespaces" to ignore the cells **entirely containing only whitespace characters as a value** parsed by the XmlParser. Yes, its behaviour will be exactly the same as setting **'trim white space = true and keep empty strings = false'** from the importer. Presently, if it's fine to use these import

[2020-11-03 19:21] thadguidry commented on #3309
Thanks @allanaaa yes, can you pretty please bring this up with Docusaurus (they might even have a quick fix or suggestion for us)

[2020-11-03 19:30] thadguidry commented on #3306
@tfmorris (I'll try to remember)  Yes, it is not a bug, it's predictable handling from Jsoup's classes with the WHATWG specs.

(And where the parse settings can be tweaked by users, but we don't expose those [options](https://jsoup.org/apidocs/org/jsoup/parser/ParseSettings.html) currently for allow/disallow tag and attribute names to be lower-cased during parsing. That would be an enhancement req

[2020-11-03 19:33] thadguidry commented on #3292
Yes, totally agree with Tom on those points.  But we have `reinterpret` and we should at least clean up its docs and ensure we provide basic tests for it and then be done here.

[2020-11-03 20:53] tfmorris commented on #3282
One outstanding issue from this work is this:

https://github.com/OpenRefine/OpenRefine/blob/45a3622dcf39c9d42470fb51fea23f4b9e682acb/main/src/com/google/refine/clustering/binning/FingerprintKeyer.java#L111-L113

Currently we remove all punctuation which has the effect of potentially merging two words, e.g. "this&that" or "this,that" will become the single word "thisthat" This is what we've histor

[2020-11-03 22:36] thadguidry commented on #3282
@tfmorris I guess we should begin to answer what is our `fingerprint` and should it be customizable or very rigid and opinionated?
I think it should stay fairly rigid to the algorithm that Stefano wrote up https://github.com/OpenRefine/OpenRefine/wiki/Clustering-In-Depth#fingerprint and that if we want to offer users more Text Analysis functions we can offer those separately.

We can look to other

[2020-11-03 22:45] tfmorris opened #3312 "I18N Fix GData importer for better translatability"
This is an issue that was raised by translators on Weblate.

Currently the gdata-import module has sentences split up into multiple fragments, such as:

"Please", "sign in and and authorize", "to access your Google data." with the middle phrase being a button label. This mandates an ordering which doesn't work in all languages.

A better structure would be: "Please sign-in and authorize to access

[2020-11-03 23:45] tfmorris commented on #3307
What is your locale set to? I'm unable to reproduce the problem with OpenRefine 3.4.1 (or the development 3.5 version) using Chrome on Mac OS.

It's unclear to me whether the data is actually being decoded incorrectly on fetch or encoded/decoded incorrectly during transmission to and rendering by the browser.

Can you try extracting some representative string e.g. `value.parseHtml().select('title'

[2020-11-04 02:16] xsfang commented on #2824
Sure. I was using Jena 3.16.0. It is the latest version now.

[2020-11-04 05:46] jinoytommanjaly commented on #3307
Locale is set to English (India). I have checked with enabling beta too. But entered with this same error in Version 3.4.1
![image](https://user-images.githubusercontent.com/38123141/98073116-9d1bd100-1e8d-11eb-8206-f3cd68ca962e.png)
I have exported the file and opened in the text editor.. But the same characters appears.

I have attached the same exported file here.
[clipboard.openrefine.tar.gz](

[2020-11-04 11:31] jquartel commented on #3289
@thadguidry , yes in the simplest scenario, the browser's search functionality should work the way you describe. As it stands, Safari finds the text perfectly like this, but the data window is completely broken afterwards. Chrome finds the text without breaking the data view, but doesn't scroll to the found column. @tfmorris , this is also true in the Edit columns display (Chrome finds the text bu

[2020-11-04 16:58] thadguidry opened #3316 "Local build test fails with Wikibase testFallbackLangCodes()"
Code:  https://github.com/OpenRefine/OpenRefine/blob/692b533f683dfa961c8526a2b86f387b0596ac5c/extensions/wikidata/tests/src/org/openrefine/wikidata/schema/WbLanguageConstantTest.java#L59

Failing test for me when doing `refine build` `refine test` locally.

[code]

Should this test be skipped if not on CI or not having a Wikibase instance?

Hmm, or perhaps some env variable check needs to be added

[2020-11-04 18:44] tfmorris commented on #3316
Is this a hard failure (ie it happened more than once)? It works fine for me locally.

As an aside, the assert (and thus error message) is backwards - it's expecting "de" but got null.

[2020-11-04 22:40] thadguidry opened #3317 "Add recon and record variables to Clojure handling"
Shown in https://github.com/OpenRefine/OpenRefine/blob/5639f1b2f17303b03026629d763dcb6fef98550b/main/src/com/google/refine/expr/MetaParser.java#L89

We could additionally add `recon` and `record` to make it easier to access these GREL variables directly to evaluate with Clojure directly.

[2020-11-04 23:23] thadguidry commented on #3316
@tfmorris yes I can repeat it with a `refine test` on our master.

[2020-11-05 00:24] tfmorris commented on #3317
This sounds similar to #2523. We should probably be consistent about what variables we make available across languages.

The current list of variables for GREL is here: https://github.com/OpenRefine/OpenRefine/issues/2523#issuecomment-713835727

[2020-11-05 01:25] tfmorris commented on #3307
Thanks for the additional data. The corruption is definitely in the data on the server, not just the rendering in the web browser.

What version(s) of Java being used for each installation? Could you paste the java command line that gets echoed to the console in both cases?

The only thing I can think of is that it has something to do with the default character encoding on the system. One thing yo

[2020-11-05 06:57] #3292 closed

[2020-11-05 06:59] wetneb commented on #3316
Weird, that test should not need any network access.

[2020-11-05 17:15] VDK commented on #3274
I have the same issue though I was using page(s) as a qualifier. The preview tab states "Your schema is incomplete, fix it to see the preview."

[2020-11-05 17:22] wetneb commented on #3274
@VDK sorry about this! You should be able to temporarily fix this by fixing the regular expression in the property constraint of "page(s)".

[2020-11-05 17:24] #3173 closed

[2020-11-05 18:01] olea commented on #3274
Just for the record:

The bug is reported at Wikidata [P304 discussion page](https://www.wikidata.org/wiki/Property_talk:P304#Possibly_broken_regex).

[2020-11-05 22:14] marwahaha opened #3319 "adjust colors of filtered numeric facet"
I taught a workshop on OpenRefine today, and some learners could not see the dark-blue on light-blue histograms when filtering data in a numeric facet.

### Proposed solution
Add a color choosing menu that adjusts the "filtered histogram color" (and perhaps the initial histogram color).

### Alternatives considered
I don't know of another way in OpenRefine to access a histogram of filtered data, o

[2020-11-05 23:29] tfmorris commented on #3319
Thanks for the suggestion. While we could add color pickers or theming, I think we should start by making the defaults meet the accessibility guidelines with a minimum contrast ratio of 3:1 (4.5:1 recommended). Lighthouse (accessibility checker) says that the light blue text on lighter blue background (ie "change" & "reset") doesn't meet this minimum either.

The colors for the bottom histogram ar

[2020-11-06 03:39] thadguidry opened #3320 "Add Apache Groovy as an Expression language"
## Update
I've begun working on this issue and coding (and was/mostly working) the Groovy extension:
https://github.com/thadguidry/refine-groovy

## Original Issue
[Groovy ](https://groovy-lang.org/documentation.html)has a syntax that is concise and straightforward, almost GREL like in nature at times.  ([Gpath expressions](https://docs.groovy-lang.org/latest/html/documentation/core-semantics.html

[2020-11-06 13:45] verdy-p commented on #3274
Something was changed in the support of non-capturing groups (before the colon was non always needed after `(?`, but now it is).

This may have been caused by a more recent change in the regexp engine used by Wikidata (now PCRE 7.7 supporting PCREv2 syntax, where the `(?` can be followed by more flags, notably since it supports now named subroutines and other newer feratures of PCRE v2).

I commen

[2020-11-06 15:45] wetneb commented on #3274
Thanks! Let's leave this issue open since we can improve how such cases are handled in OpenRefine.

[2020-11-06 16:28] thadguidry opened #3322 "Are we giving users availability of all possible Locales for Date parsing and conversions?"
OS: Windows 10
OpenRefine Version:  3.4.1

Looking over things now... I'm a bit worried that we are not supporting all possible locales for our users?

https://docs.oracle.com/javase/8/docs/api/java/text/SimpleDateFormat.html#SimpleDateFormat-java.lang.String-java.util.Locale-

usage on
https://github.com/OpenRefine/OpenRefine/blob/0990531908187e2756cdc6c437e32579f8f54d6d/main/src/com/google/refin

[2020-11-06 16:36] thadguidry commented on #3322
Additionally, which might need a separate issue as well... I cannot seem to do inline conversions? It does seem our code has the close capability in order to do this, but we don't take advantage of DateFormat and SDF in completely the write way to pull this off?  Interestingly, this is not throwing an error.

Parse a Spanish date string, convert to date, convert to Chinese locale with pattern and

[2020-11-07 00:20] verdy-p commented on #3274
Note: the bot that updates the constraint report has still not run. So the statistics are still not updated. So yues we can leave it open for now, until we get fresher statistics. For now we can still check using the "live" SPARQL request.

when I was pinged, I supposed this was caause by `[-–]` with the en-dash in the character class (I was wrong: so this test did not change the error; I then rea

[2020-11-07 16:05] wetneb commented on #3274
@verdy-p thanks for the analysis! That might be worth reporting to the Wikidata team then.

[2020-11-09 10:54] addshore commented on #3269
Would it be possible to just get a JSON dump of an example of this for now? (Before the real documentation comes?)

[2020-11-09 10:57] addshore commented on #3269
Scratch that, I found the example from an email link @ https://www.wikidata.org/wiki/Wikidata:Tools/OpenRefine/Editing/Tutorials/Inverse_Listeria#Edit_history

[2020-11-09 15:52] wetneb commented on #3269
You can also use the tool directly, build the schema graphically and export it to JSON using the "Wikidata" menu in the top right corner.

[2020-11-09 17:33] thadguidry opened #3326 "Incompatible extensions cause HTML corruption on Open Project page"
Original bug reported on mailing list:  https://groups.google.com/g/openrefine/c/d_nVInGq_XM/m/Ges01S0EBgAJ

An incompatible extension should not require a deep level of debugging.  It should just give the user a simple error message explaining what the problem is.

### To Reproduce
Steps to reproduce the behavior:
1. First, do ...
2. Then, ...
3. Finally, ...

### Current Results
Open Project pag

[2020-11-09 20:52] wetneb commented on #3326
Unfortunately it is not really clear to me how to solve this. We let extensions hack their way into the UI in arbitrary ways at the moment, so I am not sure how to add error handling there.
On the backend side we could probably improve things quite a bit to check for compatibility, but that only solves one side of the problem.

One approach could be to require extensions to declare which versions

[2020-11-10 07:24] rachittiwari8562 commented on #3293
I want to work on this issue.

[2020-11-10 08:53] wetneb commented on #3293
Thanks for volunteering! Looking forward to your pull request. Let me know if you get stuck at any point.

[2020-11-10 09:40] rachittiwari8562 commented on #3293
I have created a pull request for this issue.Please review it.If you find anything wrong please let me know.

[2020-11-10 18:20] allanaaa opened #3328 "Math functions behave inconsistently with dot notation"
Separate but perhaps related to #3062.

Some of the math functions ([see here for a handy reference in draft](https://deploy-preview-3264--openrefine-docs.netlify.app/manual/expressions#math-functions)) behave strangely when using dot notation for supplying arguments.

Three I've found:
1. `value.mod(9)` will work, whereas `74.mod(value)` will not work - it just returns 74.
2. `value.pow(3)` will

[2020-11-10 18:52] allanaaa commented on #2523
I had no idea "project" was a variable! What is the syntax? I'd like to add it to the docs. I'm guessing it's project["project name"] just like cells["column name"]?

[2020-11-11 10:01] ostephens commented on #3328
From my own testing if you wrap the number you are applying the function to in brackets then the functions always work as expected. So `(5).cos()` is fine:

[code]

I haven't looked at the code, but I suspect the issue is you need to ensure that whatever is before the dot is evaluated as a number before you apply the function after the dot. It happens that a decimal point forces this evaluation, b

[2020-11-11 10:01] ostephens commented on #2523
I also didn't know "project" was a variable - and I'm not sure what it can actually be used for!

[2020-11-11 11:04] #3293 closed

[2020-11-11 11:11] harshitmalik03 commented on #3312
Hey, Can i work on this ??? I might need a bit of help as im new to this.

[2020-11-11 13:15] wetneb commented on #3312
Thanks for volunteering! Let us know where you need help.

[2020-11-11 13:20] harshitmalik03 commented on #3312
I need someone to assist me on how do i get going in such a contribution. Ive read all the details and i can do the work but as its my first task i need somebody to guide me on call (if possible).

[2020-11-11 13:22] wetneb commented on #3312
I am not available to get on a call at the moment, but I hope you can find the information you need here:
https://github.com/OpenRefine/OpenRefine/wiki/Your-first-pull-request
If there is anything missing there, I would be interested to know what, so I can improve this documentation directly.

[2020-11-11 13:26] harshitmalik03 commented on #3312
Actually i do know how to create a pull request. Im just having trouble
solving issues because im new to this.... I can talk to you whenever you
are free and available but it would be great if someone can help me out.

On Wed, 11 Nov, 2020, 6:52 pm Antonin Delpeuch, <notifications@github.com>
wrote:

[2020-11-11 15:02] thadguidry commented on #3147
@tfmorris With this proposal, could it then help to implement a new option on the Split multi-value cells?
* by Json objects in Json array

or perhaps we could make it just
* by objects in an array

![image](https://user-images.githubusercontent.com/986438/98827462-854bcc00-23fc-11eb-88b1-d7276edc1eff.png)

[code]

[2020-11-11 15:33] wetneb commented on #3312
If you are able to ask a precise question here, I would be happy to try to answer it.

[2020-11-11 18:32] jquartel commented on #560
I am ecstatic to find the tip about the 'choices' popup - that's very helpful, thank you!
I have to say that I would also like facets to persist for a project, not just because I often use many facets and need to revisit projects, but also because I am able to crash OpenRefine from time to time and it's tedious to start over. I'm not too bothered about saving the state of the facet (as in, which c

[2020-11-11 18:40] rachittiwari8562 commented on #3228
Can you please explain me the work of two <span> which are lying inside label in all the input fiels like lin log etc.I am also attaching a screenshot here.
![Screenshot from 2020-11-12 00-01-34](https://user-images.githubusercontent.com/54476275/98850843-617b9b00-247b-11eb-8dc6-f625bc4bffc8.png)

[2020-11-11 22:53] tfmorris commented on #560
Independent of savable facets, there is a GREL expression history which you can use retrieve recent expressions, including those that you used to create custom facets.

[2020-11-11 23:17] tfmorris commented on #3147
That sounds like a UI thing while this issue proposes a new GREL function (if #3149/#3150 don't satisfy the bulk of the need, which I suspect they might).

Split multi-valued cells could conceivably be extended to accept any GREL expression that generates an array, but it's not clear how many users would need that much power -- and you could compose that by doing `separator.join(array_generator())

[2020-11-11 23:21] thadguidry commented on #3147
@tfmorris Ah, I missed your PR, let me try the recent snapshot version that includes it.

[2020-11-11 23:57] tfmorris commented on #3328
This doesn't have anything to do with the functions. It's just broken number parsing. The changes in #3257 produce the following results:

3.1.1.pow(2) - error - missing function name at offset 4
3.1.pow(2) - 9.61
3.pow(2) - 9
-3.abs() - 3
5.cos() - 0.28366218546322625

[2020-11-12 00:06] tfmorris commented on #3228
Thanks for taking a look at this!

The second `span` contains the text label like "lin" for linear or "log" for logarithmic. The first span would, I'm guessing be the span which normally contains the icon, which we don't use (perhaps why it's get the class `ui-icon-blank`). If you look at the original problem report, it has a screenshot of how it is supposed to look. You can also run OpenRefine 3.

[2020-11-12 00:25] tfmorris commented on #3228
Update - that first icon `span` isn't in 3.4.1, it needs to be gotten rid of. You're definitely on the right track. The other thing that needs to be done is to resize the buttons so that they are back to their original smaller size. Good luck!

[2020-11-12 00:38] tfmorris commented on #2523
OK, I guess that was a little bit of a red herring. It *does* get passed in to the expression evaluation context, but it **doesn't** have any fields, making it not terribly useful.

Having said that, one thing that you **can** do is `project.jsonize()` to get its contents serialized as a string and you could presumably then parse the resulting JSON and play with it, but I'd recommend that we not d

[2020-11-12 06:58] jquartel commented on #560
Ah, so there is (GREL history) - that's fantastic, thank you for pointing it out!

[2020-11-12 11:07] harshitmalik03 commented on #3312
Okay Ill try! Im a student from India and I was aiming for GSoC 21 and
hence wanted to try some open source projects. Its been a month now and ive
learnt git and stuff but im not getting on what i actually need to do.
Sometimes the task is to update some examples or something like that but
i'm not able to execute these..... Is there anything that i need to learn
before I start doing this? I can co

[2020-11-12 11:38] wetneb commented on #3312
I would recommend that you follow the steps described here:
https://github.com/OpenRefine/OpenRefine/wiki/Your-first-pull-request
If you get stuck at one of these steps, tell me which one, what the concrete problem is, which bit of information you are missing and where you looked for it.

[2020-11-12 11:42] harshitmalik03 commented on #3312
Currently the gdata-import module has sentences split up into multiple fragments, such as:

"Please", "sign in and and authorize", "to access your Google data." with the middle phrase being a button label. This mandates an ordering which doesn't work in all languages.

Now where do i find this issue #3312 ??? Im not able to get this in the whole code to change it.

[2020-11-12 12:45] wetneb commented on #3312
I am not sure what you mean. Issue #3312 is this issue you are commenting on, you have already found it.
If you are trying to find which part of the code you should change to fix it, you can follow this method (which is already mentioned in the guide linked above):
https://github.com/OpenRefine/OpenRefine/issues/3137#issuecomment-691649962

[2020-11-12 14:51] iomicifikko commented on #3305
@allanaaa Hi there, I'm using the following workaround to compare values between a row and its following:
1. create a column **row** with the code `row.index()` (0,1,2...)
2. create a column **nextRow** with the code `row.index()` (1,2,3...)
3. use the _cross_ function within the same project to import values from row2 into row1.
4. compare the imported values

![image](https://user-images.githubu

[2020-11-12 16:21] wetneb opened #3329 "Style issue in Docusaurus docs"
We have too much padding on menu entries in the left-hand side bar of the docs:

![image](https://user-images.githubusercontent.com/309908/98966100-2628ad00-250b-11eb-9027-29f097ee8426.png)

This was probably introduced by mistake in #3178.

We should restore this padding to Docusaurus' defaults - the area that needed more padding is on the right-hand side (see PR discussion).

Mentioned by @allan

[2020-11-12 17:04] wetneb opened #3330 "Phonetic GREL function should raise an error"
The `phonetic` GREL function does not validate its second argument, the phonetic encoding, and silently falls back to metaphone.

For instance, `"open refine".phonetic("metaphone3")` evaluates to `"APNRFN"` and so does `"open refine".phonetic(undefined_value)` or `"open refine".phonetic(null)`.

In these last two cases, we should instead throw an error, similar to the one we get with `"open refine

[2020-11-12 18:20] iomicifikko commented on #3289
@jquartel Hi there, I cannot help you with the problem to visually identify a particular column but I'd like to share what I do to check a project consinstency about its columns using the **columnNames** field of the **row** object which gives as output an array containing all column names ordered as in the project, from left to right.

1. create a column that will contain all checks output (ex: _

[2020-11-12 20:15] allanaaa commented on #3329
Yep, this was my fault! I wasn't clear enough about which "table of contents" might benefit from some padding.

[2020-11-12 20:57] #3309 closed

[2020-11-12 21:00] allanaaa commented on #2523
That's really interesting. I could see using some project metadata to, say, determine whether you want to perform a cross() from another project into your current project or not (based on a modification date or something?). But I guess not, if we only have a current project variables and not a projects variables.  Yes, it's probably worth hiding for now.

[2020-11-13 20:11] rachittiwari8562 commented on #3228
In the jquery-ui.js which is located at main/webapp/modules/core/externals/jquery-ui
In line no. 6519 there is used an jquery api to convert normal radio buttons to  themeable buttons . There is a option named  icon which is True which generates the radio button via span and if it false then the radio button disappears.I am attaching photo of the document.
![Screenshot from 2020-11-14 01-25-53](ht

[2020-11-13 21:23] tfmorris commented on #3228
That sounds promising. You obviously don't want to modify the source of jquery-ui, since that's a standard library, but I suspect you should be able to turn off the icon, just for the buttons in these two dialogs, using an appropriately specific CSS selector.

[2020-11-15 21:11] tfmorris opened #3332 "project.getMetadata().getPreferenceStore() returns empty preference store"
These two lines return different things:

            PreferenceStore prefStore = ProjectManager.singleton.getPreferenceStore();
            PreferenceStore ps2 =  _project.getMetadata().getPreferenceStore();

The second one appears to return a preference stored which is initialized with the default entries, but none of the user's current preferences. We should either remove the method so that it'

[2020-11-16 07:14] fhc1958 commented on #3277
Hi Thad
Many thanks.
You're right the problem was in the path of my workspace. I have followed
your instructions and now is working

Muchísimas gracias

On Tue, Nov 3, 2020 at 7:36 PM Thad Guidry <notifications@github.com> wrote:

[2020-11-16 14:48] thadguidry commented on #3277
@fhc1958 You are welcome!  We'll close this issue now.

[2020-11-17 13:34] rachittiwari8562 commented on #3228
The bug is due to the jquery-ui widget function checkboxradio() which was adding icon to the input field.
Fix:
To override this a class "no-icon" is applied to individual input (radio) button on which we use checkbox("option","icon","false") to remove the icons.
Also added some CSS modification in the main/webapp/modules/core/styles/project/facets.less file .

Here are some sample photos:
![Screen

[2020-11-17 13:36] rachittiwari8562 commented on #3228
Should i open a pull request??

[2020-11-17 14:06] tfmorris commented on #3228
Looks great!

Yes, please. That will allow the team to review the changes and get them merged.

[2020-11-17 16:18] rachittiwari8562 commented on #3228
I am unable to resolve the rotate functionality of the facet and dialog .Actually i am having problem to understand the server side code .Is there any documentation available on it?.

[2020-11-17 18:36] squeezer44 opened #3339 "OpenRefine is starting after the installation, but a few errors extend the starting process drastic"
OpenRefine is starting after the installation, but a few errors extend the starting process drastic:
1. refine_server] Failed to use jdatapath to detect user data path: resorting to environment variables (983ms)
2. java.lang.IllegalStateException: Committed

- Local Environments
Open Refine Version 3.4.1 [437dc4d]
OS: Windows 10
JAVA:
	java version "1.8.0_171"
	Java(TM) SE Runtime Environment (bui

[2020-11-17 19:58] wetneb commented on #3228
@rachittiwari8562 this is the documentation we have so far: https://docs.openrefine.org/manual/facets#scatterplot-facet
That being said I would not be surprised if there were bugs in this facet (even server side) independently of this regression, so if you notice something that does not look right in 3.4.1 about this, I would assume you are right and it is a genuine bug (or something worth improvi

[2020-11-17 19:59] wetneb commented on #3339
Thanks for reporting! This is a duplicate of https://github.com/OpenRefine/OpenRefine/issues/416.

[2020-11-17 20:00] wetneb commented on #416
This is still happening: https://github.com/OpenRefine/OpenRefine/issues/3339.

[2020-11-17 20:32] squeezer44 commented on #3339
@wetneb
Why do you think it's a duplicate of https://github.com/OpenRefine/OpenRefine/issues/416?
My issue is not related to a favicon.

[2020-11-17 20:34] squeezer44 commented on #416
Is there a plan to fix it?
I don't want to annoying you, but am really interested to fix my error (mentioned in https://github.com/OpenRefine/OpenRefine/issues/3339).

[2020-11-18 06:19] rachittiwari8562 commented on #3330
I think the error should be "phonetic expects second argument to be a string" because if we make a call to "open refine".photenic(soundex) the soundex argument is translated to null object  so the error should be to that a string argument is expected.

[2020-11-18 06:26] rachittiwari8562 commented on #3330
I have looked into this issue and found that if second argument is a string or character without " " then the object corresponding is treated as null and in file OpenRefine/main/src/com/google/refine/expr/functions/strings/Phonetic.java there is no else case for handling this.

[2020-11-18 07:19] wetneb commented on #3330
That sounds like you identified the bug here!

[2020-11-18 07:19] wetneb commented on #416
Yes it would be great to fix this!

[2020-11-18 07:21] wetneb commented on #3339
If I understand correctly, your issue is the fact that the following lines are present in the logs:
[code]

This is the same issue as #416.

[2020-11-18 07:36] wetneb commented on #3332
I think it is intended that there are project-level preferences which are different from workspace-level preferences, but I agree this distinction is not well exposed in the UI (I am not sure there is a way to edit project-level preferences).

[2020-11-18 16:31] tfmorris commented on #416
@squeezer44 Does this happen consistently for you? What browser are you using?

A consistent way of reproducing this would be the first step in solving it. Adding some additional logging and/or exception handling to Butterfly (e.g. at edu.mit.simile.butterfly.Butterfly.error(Butterfly.java:1020)) might also help.

[2020-11-18 17:26] wetneb opened #3341 "GitHub CI uses set-env command which is a vulnerability"
Our GitHub CI workflow runs have started failing because they rely on the `set-env` command, which has been deprecated and is now disabled by default:
https://github.com/OpenRefine/OpenRefine/actions/runs/370648289

[code]
We need to figure out if we could use Environment Files instead for this purpose.

[2020-11-19 17:15] rachittiwari8562 opened #3344 "Rotate buttons are not working in scatterplot facet and dialog."
The rotate buttons in the scatterplot dialog and facet does not work.

### To Reproduce
Steps to reproduce the behavior:
1. First, create a create any scatterplot using scatterplotfacet.
![Screenshot from 2020-11-19 22-28-50](https://user-images.githubusercontent.com/54476275/99698485-dcb20200-2ab6-11eb-802a-3afa4e7e962d.png)

2. Then, click on the rotate buttons given below the plot.

### Current

[2020-11-19 23:01] tfmorris commented on #3282
My question was much simpler. It can be summarized as "should punctuation be a token separator or not. Lucene's [StandardTokenizer](https://lucene.apache.org/solr/guide/8_4/tokenizers.html#standard-tokenizer) splits on both punctuation and whitespace, with the exception of periods which are not followed by whitespace ie "example.com" is a single token.

My interpretation of that writeup was that i

[2020-11-19 23:38] thadguidry commented on #3282
@tfmorris I would say 2)

[2020-11-20 03:19] rachittiwari8562 commented on #3330
The first was accidentaly done so please ignore it.

[2020-11-20 18:26] felixlohmeier commented on #468
Maybe #1928 (remember templating options) is not a duplicate but a regression. OpenRefine <= 2.8 actually does remember templating options when clicking the export button and reopening the dialog. Seems like this feature https://github.com/OpenRefine/OpenRefine/commit/276fae8938a26365d035098a16529edcadf96874 is broken since OpenRefine 3.0.