[2020-11-20 19:10] wetneb commented on #1928
Reopening per https://github.com/OpenRefine/OpenRefine/issues/468#issuecomment-731336732.

[2020-11-20 21:59] squeezer44 commented on #3339
@wetneb
The problem, which prolonged the startup process massively starts before:
[code]

After startup Open Refine I can use it.
I just restarted Open Refine and the java.lang.IllegalStateException didn't occur.

[2020-11-20 22:52] thadguidry commented on #3339
@squeezer44  Please try to answer the following for us to understand better where the delay in starting OpenRefine is actually happening for you:
1. It looks like your starting OpenRefine via the `.exe` file and not `refine.bat` file?  Yes/No?
2. It looks like you are not changing the workspace directory folder, which is fine, so it is defaulting to `C:\Users\person\AppData\Roaming\OpenRefine` Yes

[2020-11-21 09:03] squeezer44 commented on #3339
@thadguidry

Thx for your answer :-)

Ad 1.) Yes - the path from where I start Open Refine is: E:\openrefine-3.4.1\openrefine.exe.

Ad 2.) Correct - I didn't change anything in openrefine.l4j.ini.

Ad 3.) Yes, that's the question I aim to be answered.

Ad 4.) I don't agree with
`19:23:14.567 [                   refine] POST /command/core/load-language (8436ms)`

And I want to understand why POST /

[2020-11-21 19:53] thadguidry commented on #3339
@squeezer44 The reason we currently call `load-language` 3 times at startup is because each extension does an ajax call to the url `command/core/load-language` to ensure localization files are loaded.  This probably could be slightly improved where localization is tapped into just once on startup so that extensions didn't have to independently call the master `scripts/load-language.js` again.

Her

[2020-11-22 08:23] #3330 closed

[2020-11-22 20:36] thadguidry opened #3348 "Wynn and Thorn in Old English text does not get fingerprinted correctly"
Using `fingerprint` and `ngramFingerprint` should correctly transliterate (fold) the Wynn `Ƿƿ` and thorn `þ` grapheme's for modern composition.

### Current Results

`ngramFingerprint('ƿiges ƿarne')`
[code]

`fingerprint('ƿiges ƿarne')`

[code]

`fingerprint('Ƿenne bruceþ, þe can ƿeana lyt')`
[code]

### Expected Behavior
`ngramFingerprint('ƿiges ƿarne')`
[code]

`fingerprint('ƿiges ƿarne')`

[cod

[2020-11-24 10:23] fgiroud opened #3352 "Add UI tests to the CI/CD"
The CI/CD must run cypress tests
With:
* Integration to the Cypress dashboard
* Multiple browser tests
* Proper matrix configuration, maybe there's no need to trigger tests on multiple browsers for each branch

### Proposed solution
Update the travis configuration.
Run tests on
* Linux / firefox
* Linux / chrome
* Osx / chrome
* Osx / firefox
* Linux / Edge

### Alternatives considered
CircleCI, d

[2020-11-24 11:13] robsims1973 opened #3353 "Applying preparations to datasets"
Hi,

Apologies if this is a basic question, I just can't seem to find the functionality.

Am I able to store a preparation and apply it to a new dataset? Alternatively, can I update a dataset within a preparation?

Thanks,

Rob.

[2020-11-24 11:21] wetneb commented on #3353
Hi Rob,

For questions like this one, could you use our mailing list:
https://groups.google.com/forum/#!forum/openrefine
It is read by much more people than the GitHub issues, which should only be used for bug reports or improvement requests.

Thank you!

[2020-11-24 11:21] #3353 closed

[2020-11-24 12:30] wetneb commented on #3352
We do not use Circle CI at all at the moment.

[2020-11-24 14:23] fgiroud commented on #3352
@wetneb Can you please add two variables in Travis ?
* CYPRESS_PROJECT_ID
* CYPRESS_RECORD_KEY

![Screen Shot 2020-11-24 at 15 21 44](https://user-images.githubusercontent.com/6267288/100106444-d7fb9e00-2e68-11eb-9097-bb5bd4814731.png)

You will find the [values in Cypress.io](https://dashboard.cypress.io/projects/s5du3k/settings)

Thx

[2020-11-24 15:44] wetneb commented on #3352
Sure, done.

[2020-11-24 17:23] Nikerabbit opened #3354 "Unable to make schema for own Wikibase: NullPointerException in EditInspector"
### To Reproduce
Steps to reproduce the behavior:
1. Setup a Wikibase instance with a query service and openrefine
2. Use the query service to download some data (https://tinyurl.com/y5xmdjtw)
3. Try to create a schema to save the (updated) data back

The manifest I am using for testing is:
[code]

### Current Results
"Issues" tab is completely empty.
"Preview tab" says:

Choosing "Upload edits to

[2020-11-24 17:39] wetneb commented on #3354
@Nikerabbit thanks a lot for reporting this. @afkbrb, would you be interested in checking this?

[2020-11-24 19:26] leoshrey commented on #3329
hi @wetneb , Can you please tell me which version is this so that I can try to resolve this issue ? as I am not able to find such screen
https://github.com/OpenRefine/OpenRefine/issues/3329#issue-741737101

[2020-11-24 19:39] wetneb commented on #3329
@leoshrey you should be able to observe this with the current master branch: https://docs.openrefine.org/

[2020-11-24 20:04] leoshrey commented on #3329
Thanks, got it

[2020-11-24 20:11] leoshrey commented on #3329
I am working on this issue. Can you please assign it to me?

[2020-11-25 02:20] afkbrb commented on #3354
Sure!

[2020-11-25 06:08] afkbrb commented on #3354
This NullPointerException bug is caused by changes to extensions/wikidata/src/org/openrefine/wikidata/qa/EditInspector.java in #3060.

[2020-11-25 06:16] afkbrb commented on #3354
#3355 should be able to fix this.

[2020-11-25 07:28] wetneb commented on #3354
Oops, sorry I should have pinged @darecoder instead then!

[2020-11-25 08:15] wetneb commented on #3354
@Nikerabbit the bug should now be fixed on our master branch.

[2020-11-25 08:21] Nikerabbit commented on #3354
Thanks! I will test it later this week.

[2020-11-25 12:32] Nikerabbit commented on #3202
The fix in https://github.com/OpenRefine/OpenRefine/commit/7c670344cac21b4d400c8905ed157f4c8c8d9ea8#diff-127cbaaa32a095e437a6df61a190f768a27b9819e18335c61c552b012529ebd0 is not working because it is trying to catch `MediaWikiApiErrorException` but it is getting `IOException` because the former is converted to the latter in https://github.com/Wikidata/Wikidata-Toolkit/blob/6cb761dfd355b1a4e4bc93722

[2020-11-25 12:42] Nikerabbit commented on #3354
Issues & previews are working now.

I am still not able to make a full batch of edits:
* Unable to get owner only consumer login to work
* bot password login works but it gets logged out without way to continue and there are errors in the logs:
`MediaWiki error while editing [badtags]: The tag "openrefine-3.5" is not allowed to be manually applied. (529ms)`
`MediaWiki error while fetching document

[2020-11-25 13:10] wetneb commented on #3354
Thanks a lot for your patience and valuable help for ironing out this integration. Yes it would be great to have issues for the first two bullet points - we can use #3202 for the last one.

[2020-11-25 15:58] maheshjindal commented on #1095
Extremely Sorry for the delay. I was completely occupied with some personal issues.

I have made the required changes and raised PR for the same. Please let me know if any furthur changes are required. The link of the PR is:
https://github.com/OpenRefine/OpenRefine/pull/3357

[2020-11-25 16:21] Nikerabbit opened #3358 "Owner only consumer login issue"
### To Reproduce
Steps to reproduce the behavior:
1. Use the Wikidata extension, select a Wikibase instance
2. Then click Manage Wikibase account
3. Then use the "login with owner-only consumer" method and follow instructions per https://github.com/OpenRefine/OpenRefine/wiki/Wikidata-owner-only-consumer

### Current Results
After filling tokens and credentials, "Invalid credentials" response is sh

[2020-11-25 16:30] Nikerabbit opened #3359 "Make Wikibase tag configurable in the manifest"
### To Reproduce
Same as in #3354 when actually trying to save edits.

### Current Results
No edits are being made.

This appears in the logs:
[code]

### Expected Behavior
Edits succeed or there is a clear error message in the user interface.

### Screenshots

### Versions
 - Operating System: Debian 10
 - Browser Version: Google Chrome 87.0.4280.66
 - JRE or JDK Version: openjdk version "1.8.0_2

[2020-11-25 18:34] Nikerabbit commented on #3358
Ok I think I found the cause: My setup was stripping the `Authorization` HTTP header so obviously it would fail.

[2020-11-25 18:34] #3358 closed

[2020-11-25 19:10] tfmorris commented on #3359
That's a strange error message since there's no OpenRefine 3.5 release https://github.com/OpenRefine/OpenRefine/releases

[2020-11-25 19:22] tfmorris commented on #3358
Glad you got it sorted out. When you say "setup" are you talking about in intermediate proxy server or something else?

[2020-11-25 19:53] Nikerabbit commented on #3358
Just ProxyPassMatch on Apache to forward php requests to php-fpm.

I added `SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1` found from StackOverflow. Dunno if there is a better way.

[2020-11-25 19:55] Nikerabbit commented on #3359
Sorry, I forgot to fill in the version information, but I'm using the master branch due to #3354.

[2020-11-25 20:01] Nikerabbit commented on #3359
The edit tag is defined in https://github.com/OpenRefine/OpenRefine/blob/7d4e182c7551ba828febe6b26d4aa0c0fd4fb578/extensions/wikidata/src/org/openrefine/wikidata/operations/PerformWikibaseEditsOperation.java#L171-L177 and it's just `openrefine-major.minor`.

[2020-11-25 20:13] wetneb commented on #3359
We should decide whether:
1. we require Wikibase instances to have a tag of the desired format (`openrefine-$VERSION`)
2. or whether we make this tag configurable in the manifest
3. or whether we can somehow apply the tag only if it exists in the target Wikibase instance

I am thinking 2. or 3. could work. For 3., I would try to make the first edit with the tag, and if that fails because the tag d

[2020-11-26 01:29] MatthiasWinkelmann opened #3360 "Moving a column to the beginning silently corrupts data"
### To Reproduce
While working with a project containing ca. 40,000 records, I noticed (a few hundred edits too late) the following behaviour:

1. Move a column to the beginning
2. Some records (several thousands) get arbitrarily merged

I've reduced the issue to the following before/after states:

Before, with three records and the "twitter column as the second column:

![Screenshot 2020-11-26 at

[2020-11-26 06:54] wetneb commented on #3360
Hi Matthias,

This is the intended behaviour of the records mode. The first column is the one that delimits the records, and therefore if you change the first column, you change record boundaries. You are totally right that this behaviour can be quite surprising (just like many aspects of the records mode). I would be interested to know which behaviour you would expect instead.

[2020-11-26 16:00] fgiroud commented on #416
Hello, not sure if it's related or not, but I've got this error on Firefox
[code]

[2020-11-26 16:00] wetneb opened #3361 "Speed up OpenRefine during UI tests"
During UI tests we run an OpenRefine instance in the CI and we would like to make sure that OpenRefine runs as fast as possible. We thought about the following options:
- disable saving projects to disk with auto-save
- disable fetching the latest version number from GitHub - this could also be worth exposing to users for privacy reasons (they do not want to show their IP address to GitHub every t

[2020-11-26 16:43] allanaaa opened #3362 ""Help" link on custom tabular exporter window doesn't work"
### To Reproduce
![custom-tab-exporter](https://user-images.githubusercontent.com/28012148/100375640-20879880-2fdc-11eb-9238-20c25cecdeec.png)

### Current Results
When you click on the "Help" link (in the section about date formatting) it opens up a new tab and reloads the same project.

### Expected Behavior
It should link to the new docs, I suppose? To
https://docs.openrefine.org/manual/explori

[2020-11-26 16:45] wetneb opened #3363 "Normalize casing in UI text in English"
We do not use a consistent casing throughout the UI.
For instance, in the "Export" menu:
* "Custom **t**abular **e**xporter" versus "SQL **E**xporter"

In the "SQL Exporter" dialog:
* "Output **e**mpty **row** (i.e. all cells null)" vs "Trim **C**olumn **N**ames"

### Expected Behavior

We should consistently use lowercase since that is what is used in most places so far.

### To solve this issue

[2020-11-26 16:52] allanaaa commented on #3363
![sql](https://user-images.githubusercontent.com/28012148/100376553-b839b680-2fdd-11eb-8ca5-8e8d0afe92e8.PNG)

Thanks for this. Just want to mention an example: "Drop Statement" should become "DROP statement"

[2020-11-26 16:52] wetneb opened #3364 "Clarify options on the SQL exporter dialog"
The options "Include Schema" and "Include Contents" in the SQL exporter dialog can be a bit mysterious for users.

### Proposed solution

Just like concrete SQL commands are included in the UI text elsewhere in the dialog ("DROP"), we could expand these phrases to mention the corresponding SQL commands ("CREATE TABLE", "INSERT").

### Alternatives considered

We could also drop the mentions of the

[2020-11-26 17:01] thadguidry commented on #3361
@wetneb Disable some of the extensions from auto-starting (Butterfly config) if not needed?  Don't know if that helps in some testing scenarios.  Then again, we could parallelize across a few CI nodes and run suites of tests that need whichever component parts...disabling for that particular suite any component parts that are not applicable via Butterfly?

[2020-11-26 22:40] MatthiasWinkelmann commented on #3360
Thank you for the explanation. My expectation was that the grouping of rows to records would remain unchanged. Tying the definition of records to the ordering of columns seems somewhat unfortunate. But, if I understand it correctly, I believe I can get rather close to that behaviour by adding something like an ID column as the first column, and not using the "move to beginning" function. Incidenta

[2020-11-26 22:53] thadguidry commented on #3360
@MatthiasWinkelmann Feel free to comment on some of our vision for better Records mode #2825  And yes, we have future plans to support better **presentation** and **modeling** of hierarchical data as you'll see in that issue.

[2020-11-27 00:17] tfmorris commented on #3360
That's actually one of the main ways that records get created, the other being import from JSON or XML files. You don't say, but I'm guessing one of those was your input file?

Depending on how you select the contents of your new ID column, that could have different, perhaps unwanted, side effects such as breaking up existing records.

There are many processing scenarios that use this behavior. Yo

[2020-11-27 14:14] fgiroud commented on #3361
Other ideas, specific to Cypress
* replace the API call to `core/create-project-from-upload` by `core/import-project` to speed-up project creation
* disable cleanup of project (Travis only, as tests runs on an ephemeral VM)
* use a single, immutable project for the tests that doesn't update anything (6 tests on 30 so far)

[2020-11-27 15:46] fgiroud opened #3367 "Having UX tests running on Firefox"
Tests are broken on Firefox
Basically the browser get stuck and the requests are not even hitting OpenRefine.

### Proposed solution

In case backend API calls are causing the bug : Move them to a Cypress plugin, so node will take care of the API calls, and not the browser itself

Try with Firefox developer edition

### Alternatives considered

Escalate to Cypress support

### Additional context

[2020-11-27 17:15] allanaaa opened #3368 "Export > Custom tabular exporter: date formatting doesn't work"
Using the custom tabular exporter to export dates into locale formats (short, medium, long, full) doesn't seem to have any effect in any of the available output formats.

![custom](https://user-images.githubusercontent.com/28012148/100471589-91948200-30a8-11eb-9bc9-e12f10a19b1b.PNG)

### To Reproduce
Export some columns of identical dates into the five available locale formats.

### Current Result

[2020-11-28 17:32] Jheald opened #3369 "Parts of reconciliation batches can fail silently; and parts of reconciled column lookup batches can fail silently"
This may be a duplicate of an existing bug or bugs, but I find it incredibly frustrating: when items are 'unmatched' it appears to be impossible to distinguish whether there is really no match for the item, or whether the reconciliation process simply failed to complete for some sub-batch of entries.

A couple of days ago, I was running a reconciliation of a set of authors with LoC authority IDs a

[2020-11-28 19:35] thadguidry commented on #3369
@Jheald You didn't provide any details from our bug template such as OpenRefine version, JDK version, OS, etc.  Please provide those.

[2020-11-28 22:26] Jheald commented on #3369
Can't find your bug template now (another bug?) but:

OS:  Windows 10 Home, version 1909  build 18363.1198  running on Intel 64-bit
Java version 1.8.0_231
Jave SE runtime environment build 1.8.0_231-b11
Java 64-bit server VM build 25.231-b11
OpenRefine version 3.4.1 [437dc4d]

but I think I have also encountered the same problem with earlier versions of OpenRefine

[2020-11-28 23:23] tfmorris commented on #3369
This is a long standing problem made worse by the fact that the originally designed retry mechanism is broken, so you only get one shot per item.

https://github.com/OpenRefine/OpenRefine/blob/96789f994c8f61af4c07e1b6bc79d369784f09df/main/src/com/google/refine/model/recon/StandardReconConfig.java#L526

It's not an excuse, but when the reconciliation code was designed, the primary reconciliation wa

[2020-11-29 01:14] tfmorris opened #3371 "Scatterplot facet rotate buttons don't work"
The rotate 45 degree buttons don't seem to work, perhaps due to incomplete jQuery Migrate support for the deprecated `jquery.fn.load()` call

[code]

The style changes are likely due to either jQuery UI class name changes (e.g. ui-checkboxradio) causing overrides to no longer work, or some direct hacking on the jQuery UI style files which got lost in the jQuery UI upgrade.

The two styling problem

[2020-11-29 01:16] #3228 closed

[2020-11-29 01:19] tfmorris commented on #3228
I've created #3371 for the remaining rotation button bug.

[2020-11-29 03:08] #3348 closed

[2020-11-29 03:08] tfmorris commented on #3348
Thorn was already supported (as was eth), so the fix just adds wynn.

[2020-11-29 03:26] rachittiwari8562 commented on #3228
Sorry to bother you but earlier I had created the same issue #3344 .Please look at that issue and also provide me directions regarding the same.

[2020-11-29 05:28] tfmorris commented on #3371
Duplicate of #3344

[2020-11-29 05:28] #3371 closed

[2020-11-29 10:22] felixlohmeier opened #3372 "Clarify label for separator in templating export dialog"
The templating export behaves slightly different when opened in records mode. The separator will be added after each record instead of being added after each row. Hence the label "Row Separator" is misleading.

### Proposed solution

Rename `Row Separator` to `Separator (after each row or record)`

[suggested via weblate](https://hosted.weblate.org/translate/openrefine/translations/en/?q=has:sugge

[2020-11-29 12:14] VojtechDostal commented on #2936
My workspace directory got lost during the change of memory allocation settings too. I cannot find any of my projects anymore :(

[2020-11-29 15:25] #3329 closed

[2020-11-29 19:47] psmukhopadhyay opened #3373 "Editing scope for added reconciliation services"
It would be really nice if there is an option/feature to edit (name /URL / label) of an already added reconciliation services either added by using RDF extension (add reconciliation service > based on RDF file) or through "Add standard  Service" in place of  the present option  to delete and add again.

### Proposed solution

A feature may be added in the panel of reconciliation.

### Alternatives

[2020-11-30 19:25] rachittiwari8562 commented on #3362
I would like to work on this issue.

[2020-11-30 19:40] rachittiwari8562 commented on #3362
one question though ..should i add the link directly into the html file or via javascript.

[2020-11-30 20:09] wetneb commented on #3362
I haven't checked how it is currently defined but you could just follow that, replace the existing link by the new one.

[2020-11-30 20:18] rachittiwari8562 commented on #3362
Thats the problem the link is no where defined its just left blank.

[2020-11-30 20:19] rachittiwari8562 commented on #3362
Also should i paste the samelink which @allanaaa has given above?

[2020-11-30 21:08] thadguidry commented on #3362
@rachittiwari8562 It's bound to `or_dialog_help`.  Doing a quick search in our repo shows these: https://github.com/OpenRefine/OpenRefine/search?q=or_dialog_help

Long story short...  It was added as part of Fabio's help 8 years ago with internationalization of our dialogs (see the Git blame).  The intent of that particular help link was to point to the Date formatting convention that OpenRefine r

[2020-12-01 04:33] thadguidry commented on #3362
@rachittiwari8562 Did you verify that it's using SimpleDateFormat for that field? or some Javascript date library?  I did say "I'm not 100% certain", so you will have to investigate yourself.  I was just pointing to some info that I had after quick analysis, and I am not an authority...our code is the authority :-)  So double check or better yet, debug in your IDE, to ensure the code path its taki

[2020-12-01 12:49] fgiroud commented on #3352
@wetneb Did you put the variable to "All branches" ?
looks like the build did not had access to them

https://travis-ci.com/github/OpenRefine/OpenRefine/jobs/449880589

[2020-12-01 13:02] wetneb opened #3377 "Travis build credits"
Travis currently says:

"Builds have been temporarily disabled for public repositories due to a negative credit balance. Please go to the Plan page to replenish your credit balance or alter your Consume paid credits for OSS setting."

https://travis-ci.com/github/OpenRefine/OpenRefine

I think we need to shrink our build matrix, especially if we want to add new jobs for the UX tests. I would start

[2020-12-01 13:03] wetneb commented on #3352
Yes:
![image](https://user-images.githubusercontent.com/309908/100744367-05eb6000-33de-11eb-9e74-a1b06d0852e0.png)

[2020-12-01 13:04] wetneb commented on #3352
Could also be related to #3377?

[2020-12-01 13:05] fgiroud commented on #3352
No, this build has been triggered before the Travis credits issue
Will investigate

[2020-12-01 15:51] tfmorris commented on #3377
I can't access either of the links in that warning. Do we know whether the
credits lasted most of November or expired on the first day of December or
something else?

I suspect that we're going to need to migrate away from Travis. That seems
to be what many other OSS organizations are doing, but I'm not sure what
are spend is relative to their budget or how free they are about increasing
their all

[2020-12-01 18:52] rachittiwari8562 commented on #3362
yes i have checked it.

[2020-12-01 19:02] rachittiwari8562 commented on #3368
I have looked into this issue,and there seems to have some problem in backened.
As far as i have researched the parameters are correcty passed in the backened upto the file main/src/com/google/refine/exporters/CustomizableTabularExporterUtilities.java
But in the function "void setup()" the "date" variable (which ideally should have user selected values for different options) has default values and

[2020-12-01 19:18] rachittiwari8562 commented on #3368
Also i am having a hunch that something is wrong the else case in the line from 117 to -136 .Specifically in the line 129.

[2020-12-01 19:27] wetneb commented on #3377
Both links in the warning also give errors for me.

[2020-12-01 20:05] tfmorris commented on #3377
I logged in again via Github and was able to get to https://travis-ci.com/organizations/OpenRefine/plan
which says "-2410 available credits (purchase date: December 01, 2020) You have used 12410 of 10000 credits"

Implying that we used 12k credits in a few hours (or perhaps that we used that amount since Nov. 2 when they announced the pricing change). Either way, the credit was a one-time thing, n

[2020-12-02 16:22] wetneb commented on #3360
We need to redesign the user experience around the records mode. The first time OpenRefine is switched to the records mode (for instance when importing an XML or JSON file), we should have a small information message somewhere (non-intrusive, easily discardable but well visible) which notifies the user that this mode is enabled and points to a brief description of its difference with the rows mode

[2020-12-02 17:13] #1095 closed

[2020-12-02 17:39] wetneb commented on #3377
Marking as high priority since this is impeding our reviewing of other pull requests.

[2020-12-03 16:14] wetneb opened #3381 "Broken escaping in templating export"
Curly braces are used in the templating exporter to delimit expressions from the rest of the template text. Therefore if we want to use curly braces in the expressions they need to be escaped. According to the code, we are supposed to do this with `\{`, but that does not actually work.

### To Reproduce
Steps to reproduce the behavior:
1. First, open any project
2. Then, open the templating export

[2020-12-03 16:14] allanaaa opened #3382 "Templating exporter should have clear error reporting"
Currently when your code in the Templating exporter has a problem, the Preview window will just show "Updating..." forever.
It would be good to have a timeout after a few seconds and report back the line/character causing the problem. If not that, then just a generic error message would be an improvement.

When your code (inside double curly braces) isn't resolving correctly (e.g. because of an ex

[2020-12-03 16:16] wetneb commented on #3382
At the moment the error is reported in the server logs.

[2020-12-03 16:33] wetneb commented on #1928
This is a very valid enhancement request and it would be a great improvement to the tool.

[2020-12-03 16:46] allanaaa commented on #3368
This issue is being noted in the 3.4.1 documentation here: https://deploy-preview-3336--openrefine-docs.netlify.app/manual/exporting/#custom-tabular-exporter
(soon to be at https://docs.openrefine.org/manual/exporting#custom-tabular-exporter )

In the future, when a PR to fix this has been completed, the documentation should be updated to reflect the functions.

[2020-12-03 16:51] wetneb commented on #3368
We also noted that at the moment the option to ignore the time is not honoured.

[2020-12-03 16:57] tfmorris commented on #3368
XLS, XLSX, & ODS probably won't support localized dates. The rest of the listed formats probably should, although we might want to make ISO 8601 the default for CSV/TSV to encourage people to not make life more difficult for themselves.

[2020-12-03 17:03] tfmorris commented on #3322
I can't tell if this is a question, a bug report, or a feature request. @thadguidry Can you please pick one and edit it to include the appropriate information (versions, expected vs actual behavior, reproducers, etc)

[2020-12-03 18:06] thadguidry commented on #3322
@tfmorris It's a set of questions, and actually asking how some of these features work in the current code of OpenRefine.  It might just need to be explained to me more, but I still have yet to understand some of your previous comments about Locale handling from our mailing list and on the replies to @allanaaa in docs...and figure out how to manipulate Locales interactively in real-time with OpenR

[2020-12-03 19:29] allanaaa commented on #3381
Just a note that when this is resolved we should update the text here: https://deploy-preview-3336--openrefine-docs.netlify.app/manual/exporting/#templating-exporter

(soon to be at https://docs.openrefine.org/manual/exporting#templating-exporter)

[2020-12-04 04:11] Armaxxx commented on #3364
Do you have an example on where can I add the UI text, and how UI text is added in the other commands?
Thanks in advance.

[2020-12-04 07:51] wetneb commented on #3364
@Armaxxx To locate where to do your code changes, you could try this method: https://github.com/OpenRefine/OpenRefine/issues/3137#issuecomment-691649962

[2020-12-04 08:10] wetneb commented on #3377
Closing as we migrated to GitHub actions. If we want to go back we can open a specific issue about it.

[2020-12-04 08:10] #3377 closed

[2020-12-04 11:37] Nikerabbit opened #3383 "Ability to update/replace statements"
I am looking for a tool to do mass edits to a Wikibase. It would be useful if the same tool could do both adding missing data and updating existing data. Based on my understand, currently OpenRefine is only able to add new items and new statements.

### Proposed solution

**Brute force solution**
In Wikibase schema editor, have a checkbox to replace existing statements for the given property. Inte

[2020-12-04 14:02] wetneb commented on #3383
Yes this is a very legitimate request. The tricky part is to make this feature work for a wide range of use cases. Therefore we need to make multiple things configurable:
* How do we match the generated statements with the existing ones? Only on the basis of the property? Property and value? Property, value and some qualifiers?
* What do we do when we find a matching statement? Replace it by the n

[2020-12-04 14:25] wetneb opened #3384 "Missing features in GitHub Actions build"
This is a quick note of the things I want to improve in the GitHub Actions build:

- [x] when building commits on the master branch we should also test the database extension (currently we do not) and submit coverage to coveralls
- [ ] therefore it could make sense to have a single workflow file and use conditions to disable steps (such as build and upload of snapshot releases when checking a PR)

[2020-12-04 19:17] Armaxxx commented on #3364
#3385

[2020-12-04 19:30] Armaxxx commented on #3364
Can someone help me, why was my PR rejected when all I did was change some text

[2020-12-04 19:47] thadguidry commented on #3364
@Armaxxx bear with us as we just migrated to GitHub Actions instead of Travis and so our CI (continuous integration) is not quite ideal yet.  There was an error when submitting to Coveralls.  But rest assured @wetneb will review your changes and then we'll merge this in.  Thanks for your patience and enjoy your weekend!

[2020-12-04 21:10] tfmorris commented on #3383
Asynchronous distributed updates are a difficult problem in general, but I think may be impossible to do reliably without at least some minimal machinery on the backend. Freebase had an entire framework that was put in place for bulk updates (which also included things like sampled quality reviews, etc). I think that, at a minimum, you'll need some type of "commit if conflict free" primitive that

[2020-12-04 21:14] wetneb commented on #3383
It is true that Wikibase-side support for this would be great. Pinging @addshore who has been thinking about this recently.

That being said, in the current context of Wikibase, I would not be too worried about atomicity: the edit rate on Wikidata is still really manageable and the chances that simultaneous editing ends up in data races is pretty low (compared to, for instance, the problems stale

[2020-12-04 21:22] wetneb commented on #3384
That's a long runing problem due to the use of Powermock, independent of this migration.

[2020-12-04 21:44] amaltese opened #3387 "Error on XML to CSV transformation"
Hello - trying to run a batch of XML files (like attached) through to transform and export in CSV format.

Regularly getting the following errors that make the process fail:
javax.xml.stream.XMLStreamException: ParseError at [row, col]:[59,25]
Message: The entity name must immediately follow the '&' in the entity reference.
....
....

Working on PC with Windows 10 installed and using Chrome browse

[2020-12-06 06:29] mayralgr commented on #2749
Hi @thadguidry if there is no one working on this issue, I would like to give it a try.
As I understand from the point 2 in https://github.com/OpenRefine/OpenRefine/issues/2749#issuecomment-645635905
it would be using the project metadata?

Thank you!

[2020-12-06 19:35] tfmorris commented on #2749
@mayralgr That would be great. Thanks for volunteering! I've assigned the issue to you. Let us know if you need any help.

Yes, searching the project metadata fields such as name, description, etc is what's needed. The original issue was updated with that clarification.

[2020-12-06 19:41] thadguidry commented on #2749
@mayralgr Yes, the current provided metadata for projects should be searchable.  The UI prototype is just 1 possible look and feel, but feel free to slightly diverge from that if it makes more sense.  It would be awesome if the listing could be updated dynamically while users began to type in matching terms, but that is not a hard requirement, and might be unfeasible given your skills or our curre

[2020-12-06 20:00] thadguidry commented on #2749
### Regarding user privacy and controls

@tfmorris @wetneb @ostephens @magdmartin On a separate issue, but that applies to this one about search... Do we have strong feelings around user privacy for us NOT keeping any record of the original filename?  I think we should not keep a record of the original file imported in the metadata, but if users what to keep some metadata of the original format, n

[2020-12-07 01:14] tfmorris commented on #2749
I **strongly disagree** that it's relevant to this issue. The feature request is to search the available metadata -- all available metadata. If you want a discussion about what should or should not be stored in the metadata, please have it somewhere where it won't distract from the focus here.

[2020-12-07 04:36] #3384 closed

[2020-12-07 05:38] #3129 closed

[2020-12-07 06:28] tfmorris commented on #3387
Did you get a template to fill in when you created this issue? It should have asked you what version of OpenRefine you are using.

I was able to successfully import your example file with both OpenRefine 3.4.1 and the current development version.

[2020-12-07 14:10] amaltese commented on #3387
It’s 3.4.1

No I didn’t see a template when posting.

From: Tom Morris <notifications@github.com>
Sent: Monday, December 7, 2020 1:29 AM
To: OpenRefine/OpenRefine <OpenRefine@noreply.github.com>
Cc: Maltese, Adam Vincent <amaltese@indiana.edu>; Author <author@noreply.github.com>
Subject: Re: [OpenRefine/OpenRefine] Error on XML to CSV transformation (#3387)

Did you get a template to fill in when

[2020-12-07 18:13] thadguidry opened #3390 "Privacy of original filename during Project creation"
OpenRefine currently always stores the `fileSource` in `metadata.json` no matter what, even if a user changed the project name at creation time.  It would be wise to tell users or provide a privacy option (checkbox?) that prevents storing the original filename in the Project metadata.

`"fileSource": "github-recovery-codes.txt"`

as seen in `metadata.json` below:

[code]
### Proposed solution
Add

[2020-12-07 18:54] dsalo commented on #3063
I would also appreciate the ability to input the URI for the desired type manually. Doing so would also save significant load on the endpoint, I think.

Use case: I teach my metadata students to reconcile in OpenRefine. When I design assignments, I always figure out in advance what I want them to reconcile against!

[2020-12-08 04:20] swkasica commented on #3363
This seems like a good issue to tackle as I get familiar with the UI code. I could probably resolve it sometime this week.

[2020-12-08 04:47] thadguidry commented on #3363
Great Steve! Go for it! Appreciate all the help we can get on our issues and roadmap!

[2020-12-08 13:25] plopenrefine opened #3392 "enhance the key collision + fingerprint method (add the option for more tokens)"
It would be great if one could add via the GUI some more characters that would be used as token separators in the key collision + fingerprint.

For example, Wiley sons and Wiley-sons, now are not put in the same cluster.
Till the feature is added in the GUI,
where in the code, and how should I make the hack?

thank you in advance

[2020-12-08 13:46] thadguidry commented on #3392
@plopenrefine Similar in scope (add more options) as your previous request #3200 and we do have plans to give you more options, but it might take us a year or less. :-) Thanks for your patience.
@wetneb Which have a nice collection of "clustering" options needed, as well as "more preferences" within many of them.  Perhaps we need an EPIC issue to collect them.  I'll let you handle that however, bu

[2020-12-08 20:03] wetneb commented on #3282
I am not opposed to improving the existing tokenization algorithm. But we need to keep in mind that this is a change that will be tricky to review, since it is very hard to predict the impact of the change on the wide variety of things that users will throw at the algorithm.

For me, I would rather like to make this more user-configurable. This could take the form of:
* letting users choose betwee

[2020-12-08 22:37] tfmorris commented on #3282
Even fancy user configurable things need defaults. Should the default tokenizer include punctuation as a token delimiter or not?

We certainly can (over)engineer a super fancy solution, but if we can improve our current implementation with a single character change, that has a much higher cost/benefit ratio.

[2020-12-09 06:37] wetneb commented on #3282
Intuitively, including more characters as delimiters should only break up the source string into more tokens so it should have a stronger normalizing power (clustering together inputs that formed separate clusters before), right? So the risk would be that this brings up more spurious clusters that users would need to ignore. We should make a reasonable attempt at imagining what those spurious clus

[2020-12-09 12:10] thadguidry commented on #3282
@tfmorris For the default, I think it makes sense that we stick to the standard as defined by the [Unicode Text Segmentation](https://unicode.org/reports/tr29/) as other tools do.  No surprises.

[2020-12-09 12:42] plopenrefine opened #3397 "possible bug in the levenstein clustering algorithm?"
I am using the nearest neighbor method, levenstein, with radius 3.0 and block chars 6.

What i do not understand is why for example Unipress and Seepresse are in the same group, since they seem to differ in four edits

remove Uni, replace with See, and add an e in the and of the string.

What am I missing?

Unipress
Seepresse
UNIPRESS.
Edipresse
Légipresse
Mediapresse
Mediapresse.
Socpresse
UNIPRE

[2020-12-09 13:48] thadguidry commented on #3397
Hi @plopenrefine You can reduce your block chars to increase the granularity of substring search.

You probably didn't realize this, but we already have some very useful information for you regarding Clustering already.
See https://github.com/OpenRefine/OpenRefine/wiki/Clustering-In-Depth#nearest-neighbor-methods

Yes, you will always be able to reproduce, because it's an algorithm that doesn't ch

[2020-12-09 13:48] #3397 closed

[2020-12-09 18:46] tfmorris commented on #3397
Sorry I led you astray. This is working as designed. As @ostephens mentioned on the mailing list, the edit distance is measured from a single candidate, "Edipresse" in this case, and all other candidates are within an edit distance of 3 from it. This means that it's possible, as in this case, that any pair of candidates could have an edit distance greater than the limit.

[2020-12-10 18:04] leoshrey commented on #3363
I would like to tackle it, if @swkasica not proceeding...

[2020-12-10 18:56] swkasica commented on #3363
@leoshrey I am proceeding.

[2020-12-10 19:05] leoshrey commented on #3363
Sure thing, please go ahead.

[2020-12-10 21:06] leoshrey commented on #3137
hi @wetneb , I am working on this issue, can you please assign me?

[2020-12-11 07:31] fgiroud opened #3401 "Having UX tests running on Edge"
Cypress tests should also runs on Edge

### Proposed solution
Add edge to the build matrix

### Additional context
Edge requires additional packages, if we can find a solution to install them only for the edge build we can save some build time

[2020-12-11 10:45] jquartel commented on #3289
Thanks for this tip @iomicifikko! I found I could do this a little more succinctly (though with less descriptive message) with something like: `if(cells["NameOfColumn"]==null,"Doesn't exist","Is ok")`
But I would still like to be able to find the the column as well.

[2020-12-11 10:59] jquartel opened #3402 "Choose Files no longer popping up file browser dialog in Safari"
I'm using OpenRefine 3.4.1 and I found that after an update of Safari (version indicated below) the 'Choose Files' button in the 'Create Project' startup window has no effect - that is, it does not pop up the browser dialog. It is working fine in Chrome (under the same MacOS).

### To Reproduce
Steps to reproduce the behavior:
1. First, do ...
2. Then, ...
3. Finally, ...

### Current Results

###

[2020-12-12 16:45] baronmax commented on #3402
Same issue - Mojave 10.14.6, Safari 14.0.1

[2020-12-12 16:47] leoshrey commented on #3137
Hi @wetneb , can you please review the PR linked ?

[2020-12-13 00:05] thadguidry commented on #2221
@pjfanning Hi, So with the new PR merged at https://github.com/pjfanning/excel-streaming-reader/pull/21 to support Strict OOXML do you think we are unblocked here? What happens at the POI level now with this work done?
@tfmorris I guess @pjfanning implementation is sorta compatible for us if we used only for streaming import of large XLSX files? https://github.com/pjfanning/excel-streaming-reader#

[2020-12-13 00:27] pjfanning commented on #2221
I am on the PMC for Apache POI and there is no plan to support Strict mode. Just too much work and noone has the time or the urgent need to implement it. Code Contributions would be considered.

https://github.com/pjfanning/excel-streaming-reader/pull/21 is just experimental code and I have little interest in doing further work on it. There is very little test coverage. I will look at PRs if they

[2020-12-13 16:11] #3339 closed

[2020-12-13 22:03] thadguidry commented on #416
@fgiroud That is not related.

However, I investigated a bit more on Firefox issues and found more detail now on this issue today with Firefox using it's Browser Console utility it provides:

[code]
![image](https://user-images.githubusercontent.com/986438/102025232-35925480-3d5c-11eb-8989-2417c6981b4c.png)

[2020-12-13 22:04] franparras commented on #3170
@frederik-elwert  I can't reproduce your issue, what is your mem configuration? to see if I can reproduce this issue. My mem configuration is 8GB.

[2020-12-13 23:51] swkasica commented on #3363
**Quick update**: I'm about halfway through. End of term stuff took longer than I anticipated. Grammar is kind of tricky in UI because in addition to the normal rules of grammar and usage, there's UX specific conventions. I'm adapting [these guidelines from Firefox UX](https://design.firefox.com/photon/copy/capitalization.html) on when to use different capitalization styles: title case, sentence,

[2020-12-14 01:57] tfmorris opened #3407 "Make errror user visible for unsupported Open XML Strict XSLX files"
Currently, as documented in #2221, the most meaningful error message gets buried in the server log when attempting to import an (unsupported) Open XML Strict Excel file. We should display this error in the error dialog so that they immediately know what the problem is, along with a hint on how to fix it.

We currently display "Error generating parser UI initialization data for Excel file - invalid

[2020-12-14 02:00] tfmorris commented on #2221
I've created #3407 to improve the error handling and message and we already have #3085 to improve the documentation.

I'm closing this as Won't Fix since there's no prospect that it'll happen in the foreseeable future.

[2020-12-14 02:52] tfmorris commented on #3402
It work fine for me using Safari Version 14.0.1 (15610.2.11.51.10, 15610) on OS X  10.15.7 with OpenRefine 3.4.1.

Do you see any errors on the Javascript Console (Develop menu)? For the file pickers in other web apps work? This is pretty basic functionality which is implemented entirely by the browser/operating system. Our only involvement is putting the <input> field on the web page, so it's str

[2020-12-14 06:58] frederik-elwert commented on #3170
Weird, no, now I also cannot reproduce the issue anymore. I don’t think I changed anything. But maybe it was a glitch somewhere. Thanks for investigating!

[2020-12-14 12:51] jquartel commented on #3402
Can you tell me how to get to the develop menu? I don't know of many other sites that open the the browser for file upload but after dong a bit of digging I do think that this functionality is indeed broken on other sites as well. And it looks like this is only with OS X 10.14.6 (Mojave). So probably we can chalk this up to a Safari+Mojave bug, rather than OpenRefine.

[2020-12-14 15:05] thadguidry commented on #3170
@frederik-elwert Great!  Then we'll close this issue, we can always reopen later if you eventually figure out how to reproduce.

[2020-12-14 15:05] #3170 closed

[2020-12-14 16:04] wetneb opened #3408 "Generate Windows installer via NSIS"
We currently ship OpenRefine for Windows as a .zip archive, which is not very elegant:
- users need to decompress it and figure out what to run (the `.exe` file)
- OpenRefine does not get registered as a program (both in the applications list to uninstall it)
- No desktop shortcut is created
- Java install must be made separately (if not using the embedded JRE build)

### Proposed solution

Window

[2020-12-14 16:06] wetneb commented on #3408
Duplicate of #3224, of course…

[2020-12-14 16:06] #3408 closed

[2020-12-14 16:08] wetneb commented on #3224
We should also consider NSIS, a popular alternative to Inno Setup, which seems to be able to run cross-platform.

There is a Maven plugin: https://github.com/DigitalMediaServer/nsis-maven-plugin (which seems to be cross-platform itself too)

Note that installing programs can require administrator rights that users might not have. So it might still be useful to offer a `.zip` archive for those use

[2020-12-14 17:45] thadguidry commented on #3224
@wetneb Yeah the old Nullsoft Scriptable Install System (NSIS) is a great alternative to Inno.
It is good enough for now perhaps.
I don't think it can produce the MODIFY arguments for Windows 10 installations, but that's fine, if folks want to modify the installation location of OpenRefine, they can just UNINSTALL/REINSTALL.
I also don't think it supports the Windows 10 Notifications?, but again,

[2020-12-15 13:02] AnnVanCamp commented on #1369
I can't open the projects I've made either (not with Edge nor with Chrome) although they are still stored on my local disk.
![image](https://user-images.githubusercontent.com/75479572/102218027-b0cf4400-3edd-11eb-9bee-16923f735d08.png)
When I click on "Browse workspace directory" I get this. Which file in the project do I have to select to open the project in the webbrowser?
![image](https://user-

[2020-12-15 19:29] wetneb commented on #1369
@AnnVanCamp could you please ask your question on our mailing list instead? https://groups.google.com/forum/#!forum/openrefine

[2020-12-15 19:34] #3352 closed

[2020-12-16 09:05] fgiroud commented on #3401
Closed with pr #3411

[2020-12-16 09:05] #3401 closed

[2020-12-16 12:06] fgiroud opened #3412 "Add UX Test for project header elements"
Header elements should be tested.

![Screen Shot 2020-12-16 at 13 04 28](https://user-images.githubusercontent.com/6267288/102346541-4e3e7c80-3f9f-11eb-8fd2-c541664c964e.png)

### Proposed solution

#### Test for header left components

* Test project renaming
* Ensure that the permalink is working

Move export_project.spec.js into this folder

#### Tests for export formats

* Add a test for each

[2020-12-16 12:10] fgiroud opened #3413 "Add UX Test for the projects list"
Improve the tests we have on the projects list page (project management)

![Screen Shot 2020-12-16 at 13 08 48](https://user-images.githubusercontent.com/6267288/102346960-ff451700-3f9f-11eb-80ba-bf1e18df9b41.png)

### Proposed solution

#### Test the "About" panel

* Editing of metadata
* test the panel

#### Test the Delete behavior

Test project deletion and ensure it's been really deleted, not

[2020-12-16 12:14] fgiroud opened #3414 "Add UX Test for controls at the row level"
This tests intent to ensure the behaviors of the features at the row-level

![Screen Shot 2020-12-16 at 13 12 56](https://user-images.githubusercontent.com/6267288/102347280-7b3f5f00-3fa0-11eb-99c7-2349cc157159.png)

### Proposed solution

Add test for controls that sit at the very left of each row in the grid.

### Flag

Flag, unflag one and several rows. Ensure that the flag icon is colored in y

[2020-12-16 12:20] fgiroud opened #3415 "Add UX tests for the special column "All""
Add tests for the special column "All", and all the dropdowns

![Screen Shot 2020-12-16 at 13 15 52](https://user-images.githubusercontent.com/6267288/102347700-0e789480-3fa1-11eb-95a2-6d79a4c58c31.png)

### Proposed solution

#### Transform

* Add "test" to one column, ensure the modification is applied
* Add "test" to all columns, ensure the modification is applied

#### Facet by star, by flag

[2020-12-16 12:23] fgiroud opened #3416 "Add UX Test for the grid header / show as records-rows"
Add test for the feature that shows records as rows, as records

![Screen Shot 2020-12-16 at 13 21 58](https://user-images.githubusercontent.com/6267288/102348151-bd1cd500-3fa1-11eb-9f64-0a666e00923c.png)

### Proposed solution

Add a test to show as rows, records and
* load a project of CSV data, show as row/records, ensure nothing changes
* load JSON data, and test the rendering as rows, as reco

[2020-12-16 12:26] fgiroud opened #3417 "Add UX Test for the grid header / pagination"
Add tests for the header block that sits on top of the grid (pagination)

![Screen Shot 2020-12-16 at 13 21 58](https://user-images.githubusercontent.com/6267288/102348454-39171d00-3fa2-11eb-8f98-bfa2749244b1.png)

### Proposed solution

Add a pagination test to

* Ensure 5,10,25 rows to be shown when changing pagination
* Test the first, previous, next, last buttons
* Test entering an arbitrary p

[2020-12-16 12:30] fgiroud opened #3418 "Add UX tests for the sorting"
Enrich and improve the tests we have on the sorting
Test all sorting capabilities of OpenRefine, with a given project

![Screen Shot 2020-12-16 at 13 27 47](https://user-images.githubusercontent.com/6267288/102348775-a75bdf80-3fa2-11eb-84d2-a77dc062a565.png)

### Proposed solution

#### Test for sorting from the column dropdown

Test sorting behaviors from the column dropdown

* test the sorting o

[2020-12-16 12:34] fgiroud opened #3419 "Add a generic UX test for the facets"
Enrich test we have about Facets.
This test is not intended to try the different possibilities, but rather the general behavior of any facet.
This is an enrichment of the facets.spec.js test that we already have

![Screen Shot 2020-12-16 at 13 32 55](https://user-images.githubusercontent.com/6267288/102349243-55678980-3fa3-11eb-87f2-4c27b61a197a.png)

### Proposed solution

Enrich the test with
*

[2020-12-16 12:46] fgiroud opened #3420 "Add a complete test suite about all the facetting capabilities"
Following ticket #3419 , tests should be added for the most important facets

![Screen Shot 2020-12-16 at 13 39 32](https://user-images.githubusercontent.com/6267288/102349897-5cdb6280-3fa4-11eb-9164-29de16af1792.png)

This can be split into separate issues if the scope is too big to be implemented in a single PR.

### Proposed solution

#### Text
/project/column/facets/text.spec.js
Test a simple

[2020-12-16 12:49] fgiroud opened #3421 "Add UX Test for column / Text filter"
Test the Column / Text filter

![Screen Shot 2020-12-16 at 13 48 08](https://user-images.githubusercontent.com/6267288/102350636-79c46580-3fa5-11eb-837f-f93cfb2d14db.png)

### Proposed solution

Add a test for the behavior with
* an exact string, check the number of occurrences
* a partial string, also check the number of occurrences
* Test case sensitive
* Test a regular expression

[2020-12-16 12:54] fgiroud opened #3422 "Add UX Test for clustering"
In-depth testing is probably good for clustering
This is a placeholder ticket for far, where the community can discuss what to test for the clustering

![Screen Shot 2020-12-16 at 13 54 11](https://user-images.githubusercontent.com/6267288/102351104-328aa480-3fa6-11eb-933f-dc1cb816e71b.png)

[2020-12-16 12:55] fgiroud opened #3423 "Add UX Test for column / Edit cells"
To test every behavior under Column / Edit Cells

![Screen Shot 2020-12-16 at 13 50 24](https://user-images.githubusercontent.com/6267288/102350838-cf990d80-3fa5-11eb-9f45-16bf1e739766.png)

### Proposed solution

Add multiple tests

#### Transform

Add a simple test to append a string to a value `value+"test"`
Ensure the modification is in the grid

#### Common Transforms

Those transforms are ve

[2020-12-16 13:01] fgiroud opened #3424 "Add UX Test for reconciliation"
Placeholder ticket so far.
The reconciliations capabilities of OpenRefine are a complex matter, community input is required to determine:

* what is the MVP of Reconciliation testing
* what are the extended reconciliation features that we want to test

 ![Screen Shot 2020-12-16 at 13 59 25](https://user-images.githubusercontent.com/6267288/102351633-0facc000-3fa7-11eb-8ea5-afff164bbc01.png)

[2020-12-16 13:02] fgiroud opened #3425 "Add UX Test for column / Edit column"
Add UX Test for column / Edit column

![Screen Shot 2020-12-16 at 13 57 12](https://user-images.githubusercontent.com/6267288/102351395-ac229280-3fa6-11eb-9481-9af6cf36451b.png)

### Proposed solution

Multiple tests are required

#### Split into several columns

Ensure several columns are created when using "Split multi-valued cells" on "Shrt_Desc"
Ensure no new columns are created when using "Sp

[2020-12-16 13:10] fgiroud opened #3426 "Add UX Test for column / Transpose"
Testing all the possibilities for "Transpose" is complex because there are many combinations and options possible.
Community feedback is welcome to specify some tests to explore all possible combinations of options.

It's also possible that such intensive testing is a backend concern only and should not be implemented

This issue only specifies an MVP test for transpose.

![Screen Shot 2020-12-16

[2020-12-16 13:15] fgiroud opened #3427 "Add UX tests for column / View"
Test the Column / View dropdowns

![Screen Shot 2020-12-16 at 14 13 59](https://user-images.githubusercontent.com/6267288/102353191-06245780-3fa9-11eb-8bcd-1eafb884a7fb.png)

### Proposed solution

Add four tests,
* collapse.spec.js
* collapse_all.spec.js
* collapse_left.spec.js
* collapse_right.spec.js

The test should basically collapse one or more columns, and ensure that the columns labels are

[2020-12-16 13:33] fgiroud opened #3428 "Add UX tests for all methods to create a project"
Creating a project is a major feature of OpenRefine, and should be extensively tested

![Screen Shot 2020-12-16 at 14 26 17](https://user-images.githubusercontent.com/6267288/102354981-88158000-3fab-11eb-99ff-3769dc1e2ba8.png)

### Proposed solution

One single test file per creation method is probably the best way to organize things.

#### Create from a local file

Add a test to ensure an alert i

[2020-12-16 13:45] fgiroud opened #3429 "Add UX tests for the create project preview"
![Screen Shot 2020-12-16 at 14 36 13](https://user-images.githubusercontent.com/6267288/102356130-1c341700-3fad-11eb-9cc7-3b2e3b576e78.png)

### Proposed solution

#### Start over behavior

Add a test to start over a project creation.
Just ensure the user is redirected to the previous page.

#### Rename the project add tags

Rename the project and add tags.
Ensure those modifications are persisted

[2020-12-16 13:48] fgiroud opened #3430 "Add UX tests about the Wikidata extension"
This is a placeholder ticket so far.
Community feedback is welcome to understand if, what and how to test this extension properly.

![Screen Shot 2020-12-16 at 14 46 39](https://user-images.githubusercontent.com/6267288/102356498-92387e00-3fad-11eb-96f9-d872e7bf4271.png)

### Proposed solution

To be determined

[2020-12-16 13:50] thadguidry commented on #3415
For the All -> Facet Starred Rows and Flagged Rows ... we should ideally verify that ONLY the Starred and Flagged rows are shown in grid **and no other rows**.

[2020-12-16 13:54] thadguidry commented on #3416
Let's make sure the JSON has at least 3 levels of hierarchy to ensure a good Records handling basic test.

[2020-12-16 14:01] thadguidry commented on #3421
Also:
1. click the blue colored **reset** and **invert** links on the Text Filter facet.  (What the heck do they do?!?!?  lololol)

[2020-12-16 17:07] thadguidry commented on #3429
For Prevew, to start with, I'd like to see 2 tests minimally:
* CSV
* JSON

Then @kushthedude or community can add in the 4 others often used like:
* EXCEL
* LINE
* XML files
* Open Document Format spreadsheets (.ods)

[2020-12-17 02:45] tfmorris commented on #3429
Any particular reasoning behind the choice of those two formats? I'd have thought JSON would be waaay down the popularity list (but perhaps representative of tree formats).

[2020-12-17 02:53] thadguidry commented on #3429
@tfmorris Yes, so that we have testing previews in place to support Records testing with hierarchical data.  That way other community members can help and see how its done since @fgiroud would provide those minimal examples.  The idea was that @fgiroud would only do a few and the community could then look at how things are done and work on the others.  Well, that was the thought we had on our meet

[2020-12-18 02:41] OmarMorales71 commented on #3254
@thadguidry Can I work on this issue?

[2020-12-18 03:40] thadguidry commented on #3254
@OmarMorales71 YES!  However, a warning on this particular issue.  This will require some dedication... There will be several feedback rounds as you make a draft PR request as we review your work while you progress and we test and you make changes and updates...back and forth...until everyone is happy.  This specific issue might take weeks and likely over a month with many hours of your volunteer

[2020-12-18 10:36] jquartel commented on #3402
Looks like Safari 14.0.2 (with Mojave) still has the issue, and it's with all web applications, not just OpenRefine.

[2020-12-18 20:05] thadguidry opened #3431 "Out of memory errors from large metadata.json files being parsed during OpenRefine Project Open"
Sometimes large strings are being stored in the metadata.json that can reach into the Megabyte and Gigabytes of size.

Issue was found at the following JSON paths (could not provide JSON snippets since it exceeded the memory needed to show in full hierarchy form):

1. metadata.json > [ ] importOptionMetadata > { } 0 > projectName
2. metadata.json > [ ] importOptionMetadata > [{ "sheets": [{"name":

[2020-12-19 14:04] VojtechDostal commented on #3431
@thadguidry This is the XLSX you asked for:
https://drive.google.com/file/d/1cVMO5X7hdVMG9J6-sjTzq4t3jjmxmTfm/view?usp=sharing

[2020-12-19 17:34] thadguidry opened #3432 "workspace.old.json is created twice when OpenRefine starts and recovers workspace.json"
### To Reproduce
Steps to reproduce the behavior:
1. First, delete all old and regular `workspace.json` files from OpenRefine workspace folder so that there are only Project folder and no `workspace.json` or `workspace.old.json` files.
2. Then, start OpenRefine and let it scan and parse the Project folders and metadata.json files within them.
3. Notice that it properly rebuilds the `workspace.json

[2020-12-19 17:52] thadguidry opened #3433 "Project Create button should call ProjectManager save project immediately and not wait"
Confusing handling for Project Create which does not immediately create a Project, even though the user is expecting that behind the scenes, it doesn't immediately happen until the default timer kicks in after 5 mins and ProjectManager save is called.

### To Reproduce
Steps to reproduce the behavior:
1. First, import a csv file and click Project Create.
2. Then, notice that while watching the wor

[2020-12-19 18:07] thadguidry commented on #3431
@VojtechDostal
I was able to download the the XLSX file correctly.
Thanks for the info... I wanted to be sure and reproduce the steps exactly on my Windows 10 machine.

**Is it possible that some of the older projects, perhaps like that XLSX file... was initially created with an older OpenRefine version?  Quite likely or no?**

Reason I ask is because we did have a few bugs that might be closely a

[2020-12-19 18:36] thadguidry commented on #3431
@VojtechDostal Can you tell us when you downloaded and actually began using OpenRefine 3.4.1?  That will help eliminate my concerns around the Importers refactoring that our kind @tfmorris did beginning in #2963 where a bunch of bugs were indeed found, fixed, and then landed in 3.4.1 release on 2020-09-24

[2020-12-19 21:41] VojtechDostal commented on #3431
regarding this screenshot:
https://user-images.githubusercontent.com/986438/102655165-74972000-4137-11eb-8701-86e2596f9718.png
It's interesting that the metadata is still kept from the time when I included non-ASCII characters in descriptions. I then deleted those descriptions with ASCII characters, but it seems you can still retrieve them from the project.

Yes, that is quite possible. I only dow

[2020-12-19 23:50] thadguidry commented on #3431
Then that might explain it "I think".
Now the question is HOW to fix all your `metadata.json` files.  That could probably be done with a cleanup script that would iterate over all of them and then automatically substring cut down to only the first 255 chars of each ones `sheets [{ "name"="..."` field.
Do you have bash or python skills to handle that script yourself?

[2020-12-20 03:04] tfmorris commented on #3431
This doesn't sound familiar to me. What is the content of the multihundreds of MB (ie where did it come from)? Is it the data content of the original file or ...? Is it always the sheet names that are the offenders? Are they all from XLSX imports?

@thadguidry were you able to reproduce the problem when importing into the current version or is this purely a historical issue? (not to say that that'

[2020-12-20 03:08] tfmorris commented on #3432
Your operating system allows two different files with the same name in a directory? That's very odd. Are you sure your GUI isn't just confused and showing you the same file twice?

[2020-12-20 03:12] tfmorris commented on #3433
The project **is** created immediately.

Yes, this is true of all updates in OpenRefine, whether they be metadata or data. It's always been that way and it has a set of tradeoffs associated with it. We can certainly consider adding a "save now" button or some such feature, but the current situation is totally as designed and expected.

[2020-12-20 03:30] thadguidry commented on #3431
@tfmorris It is always the sheet names from XLSX files.  I tried for 4 hours this afternoon to try to reproduce with 3.4.1 and could not using as weird of XLSX files and sheet names with Unicode as I could find.  So likely this is a POI issue now fixed with update, or your refactoring that has now fixed something.  I did try 3.3 to see if I could get really long sheet name in metadata, but again,

[2020-12-20 04:21] thadguidry commented on #3432
@tfmorris Positive Tom.  I watched it happen in realtime.

[2020-12-20 04:28] thadguidry commented on #3433
@tfmorris I think what makes more sense is this:
* Upon project creation we should persist to disk quickly.
* Not just wait for the timer to do the first persist to disk.  The timer can be used for subsequent saving however.

[2020-12-20 07:46] VojtechDostal commented on #3431
Unfortunately I don't have programming skills. I tried to open one of the larger metadata.json files (about 500 MB) and edit it manually, but I cannot even open it. Running a script might be not only the simplest, but possibly the only option... I am able to run simple commands from the command line, but iterating over a directory tree and replacing some text in these large files is above my level

[2020-12-20 22:57] tfmorris commented on #3431
Potentially relevant issues / PRs:
#2647 - Jun 2020 - fix character encoding for JSON workspace files
#2597 - Apr 2020 - switch to streaming XLSX import
#2258 - Dec 2019 - Apache POI 4.1.0 -> 4.1.1
#2011 - Apr 2019 - Apache POI 4.0.1 -> 4.1.0  and fixed mismatched POI component versions
#1398 - Dec 2017 - project metadata added
#1029 - Sep 2015 - Apache POI 3.8 -> 3.12

There are 10 projects with

[2020-12-20 22:58] tfmorris commented on #3431
Since it's not believed to be a bug in the current version and we have a way to fix up the metadata, I've removed the Critical priority from this.

[2020-12-20 23:11] thadguidry commented on #3431
@VojtechDostal If you have trouble with `jq` on Windows (like I did this afternoon) I can help you get it setup correctly with Windows Terminal and a Profile that includes (`commandline "cmd /K doskey jq=E:\Downloads\jq-win64.exe"`)

or ideally through Git for Windows installed and then just use Git Bash:
[code]
then Tom's one-liner should work.

[2020-12-21 05:26] CameronBedard commented on #1870
Hello, can I work on this?

I am a bit unsure of the exact UI given that (via #468 ) there might be additional features added to the exporter. But I included some SS below of what I imagine this would look like, and what I think the target functionality is.

![ignoreEmptyDemo1](https://user-images.githubusercontent.com/25983556/102742395-cd76dc00-4322-11eb-86f2-ce7f9ea37aa6.jpg)
![ignoreEmptyDemo2

[2020-12-21 08:27] wetneb commented on #1870
Hi @CameronBedard, thanks for the interest in this!

I think the behaviour you are proposing in this particular example is sensible, but I am curious how you would implement it. It seems to rely on the specific structure of JSON. This JSON structure is only the default one proposed by the exporter: in general, the exporter can produce all sorts of other structures, for which the desired behaviour

[2020-12-21 09:47] VojtechDostal commented on #3431
Thanks so much @tfmorris and @thadguidry . I wasn't able to install jq from Git (not sure why) but I set it up in my Cygwin. The commands worked perfectly using Cygwin and I am now able to open the whole original project directory without problems!  I recommend the solution above to anyone having the same sort of issues.

[2020-12-21 10:27] thadguidry commented on #3431
@VojtechDostal Great!  We'll close this issue out now.
@tfmorris Thanks so much for providing great support on this!

[2020-12-21 10:27] #3431 closed

[2020-12-21 12:53] wetneb commented on #3433
I am following this approach for the new architecture: the project is serialized to disk immediately.

[2020-12-21 14:11] kushthedude opened #3434 "Move to cypress github action"
We are right now using cypress as a bare-metal yarn dependency, moreover, for a multi-browser test like on edge, we first grep the edge and then run cypress.

### Proposed solution

Cypress-io provides a Github-action to run cypress on multiple browsers, with headless mode, with option to records results too. I suggest we should utilize official cypress action instead of grabbing cypress with yarn

[2020-12-21 19:50] CameronBedard commented on #1870
Ah, I should have taken more time to properly understand the depth of the templating tool. I do not see a way to eliminate individual cell values that doesn't make too big of an assumption about the user's 'Row Template' input.

So looking back at the initial post, I see it could mean eliminate empty rows with respect to the specific cell data being pulled into the row template. So, if every varia

[2020-12-21 20:10] wetneb commented on #1870
Sorry, that's my fault - I tagged this issue as a "good first issue" too hastily, clearly!

What you are proposing m could be useful but I think it is significantly different from what @cascafico is requesting. Relying on the fact that all expressions in the row template evaluate to something blank might also be a bit weird: typically, for the default template which exports to JSON, a null cell va

[2020-12-22 13:40] Hossein-Gholami commented on #1391
Hi everyone,
faced the same issue. sure there is no problem when using workspace. this happens when using OpenRefine API.

[2020-12-22 14:29] wetneb commented on #3434
It is not clear to me why we would want to do this move. I think there is value in having the CI call the `./refine` script with the same arguments as what developers would use to run the tests locally, no? Concretely, what is the benefit of using the dedicated GitHub Action?

[2020-12-22 14:53] kushthedude commented on #3434
Having standard cypress action will:
- save us from the complex ci logic of testing on different browsers, https://github.com/cypress-io/github-action#browser.
- give us the ability to wait for the server without any script in the YAML config itself, https://github.com/cypress-io/github-action#start-server.
- give us the ability for parallel jobs, https://github.com/cypress-io/github-action#parall

[2020-12-22 15:05] wetneb commented on #3434
I am still not convinced - we already have parallel jobs at the moment. I would say developers should find it easier to reproduce failures locally if they can see directly from the build logs how to run the tests (with `./refine ui_test`). But if @fgiroud agrees that it is better to use the GitHub Action, just go ahead!

[2020-12-22 15:32] tfmorris commented on #3434
I think configuring an Action, for the things that it is good at, is OK, **as long as**, as @wetneb mentions it stays aligned with or uses the same commands that the developers use locally. They may be composed in a slightly different manner by `./refine test`and the CI action, but they shouldn't diverge and we don't want to maintain parallel setups.

[2020-12-22 15:35] tfmorris commented on #1391
@Hossein-Gholami A few things:
* Please don't piggy back on unrelated (and closed) bug reports
* If you've got an issue with a current release of OpenRefine, please[ create an issue ](https://github.com/OpenRefine/OpenRefine/issues/new/choose) with all the appropriate details requested in the template
* OpenRefine doesn't have any APIs documented for external use (except for the extension APIs). T

[2020-12-22 20:53] CameronBedard commented on #501
Hello, there doesn't seem to be any submissions on this, can I work on it?

I have a functional change already, here's what it looks like.
![ConfirmDialogSS](https://user-images.githubusercontent.com/25983556/102932148-bd1f4800-446d-11eb-82d7-ee9b3d295a23.jpg)

[2020-12-23 08:26] wetneb commented on #501
@CameronBedard sure, thank you!

[2020-12-29 11:22] kushthedude opened #3437 "Change cypress test suite name to npm standard"
NPM conventions state the package-name to in lowercase rather than being in title-case.

### Expected Behavior

Rename the yarn package.json project name

[2021-01-01 15:21] jquartel opened #3441 "Hang when re-opening an edited file"
### To Reproduce
Steps to reproduce the behavior:
1. Create a new project by choosing a file and continue to the parsing options page by clicking "Next >>"
2. Modify and save the originally loaded file (using some other editor) and click "<< Start Over" in the OenRefine parsing options page
4. Choose the same file file and click "Next >>"

### Current Results

OpenRefine hangs on a page saying "Up

[2021-01-02 08:46] #501 closed

[2021-01-04 11:33] kushthedude commented on #3437
Fixed in #3439

[2021-01-04 11:33] #3437 closed

[2021-01-04 11:53] kushthedude opened #3444 "Setup dependabot updates for cypress-test-suite"
We have not set up an automated dependencies update for cypress-test-suite residing in main/tests/cypress.
### Proposed solution

Setup dependabot for the following yarn package manager.

[2021-01-04 21:28] allanaaa opened #3445 "Rename "Suggested properties" to distinguish from "Suggest properties""
In reconciliation, the Start reconciling window pops up and you can supply extra columns "As Property." When you type in these fields, some reconciliation services will suggest properties to use here. This is, I believe, what the "Suggest properties" column on the [testbench](https://reconciliation-api.github.io/testbench/) refers to.

![reconcile-with-property](https://user-images.githubuserconte

[2021-01-04 22:52] thadguidry commented on #3445
@allanaaa The idea is indeed that a "suggested properties" listing is based on some behind the scenes heuristics that the user is not necessarily concerned with. ( in the case of Wikidata, it's some SPARQL queries that @wetneb has put together in the service which uses the hints from `property_for_this_type`, i.e, P1963 to propose some properties that the user might want to extend their data with

[2021-01-05 09:53] wetneb commented on #3445
Hi Allana (and happy new year!!)

You are correct that the terminology is a bit confusing. There are a few areas involved:
* OpenRefine's UI
* OpenRefine's documentation
* The reconciliation API specs (https://reconciliation-api.github.io/specs/latest/)
* The reconciliation API testbench (https://reconciliation-api.github.io/testbench/)

I think we need to ensure that:
* OpenRefine's UI and docs u

[2021-01-05 11:56] ektasinghai commented on #2519
I would like to work on this issue. Please help me in getting started

[2021-01-05 14:18] wetneb commented on #2519
@ektasinghai have a look at @kushthedude's earlier attempt: #2540 and https://github.com/OpenRefine/OpenRefine/wiki/Your-first-pull-request.

If you have any specific questions let us know!

[2021-01-05 16:54] allanaaa commented on #3445
At this point, the docs refer to the UI ("Suggested properties"), define that UI (entities that are related to the type of the reconciled values in the column you started with), and point to the testbench ("Extend data[, not Suggest properties]") to show which service will do it. So I think we have

    OpenRefine's UI and docs use the same terminology
    The reconciliation API specs and testbenc

[2021-01-05 17:05] allanaaa commented on #3445
FYI the docs section looks like this at the moment: https://deploy-preview-3380--openrefine-docs.netlify.app/manual/reconciling/#add-columns-from-reconciled-values

I think "suggested" is pretty accurate based on what you've said above, so I'm pretty happy with the wording in the docs. As you say, the user isn't necessarily concerned with this bit. "Suggested" is probably fine in the UI too - mayb

[2021-01-06 18:56] thadguidry commented on #1433
@wetneb Hmm,  looks like we still need to contend with Hadoop's binaries needed as I described before above [comment](https://github.com/OpenRefine/OpenRefine/issues/1433#issuecomment-586301478)

[code]

A large CSV file imported on my Windows 10 machine but notice the Hadoop exception after it completed all the stages and final job.
We can see that we'll need to also deal with task reduction late

[2021-01-07 07:37] #3444 closed

[2021-01-07 14:43] kushthedude opened #3452 "Styling issues in sidebar sub-hyperlinks"
Subheading for side-bar has weird styling issues.

### To Reproduce
Steps to reproduce the behavior:
1. First, build a documentation website
2. Then, click on a sub-menu hyperlink with a dropdown
3. Finally, see the issue

### Expected Behavior

The style should be proper
### Screenshots

<img width="1253" alt="Screenshot 2021-01-07 at 8 10 38 PM" src="https://user-images.githubusercontent.com/440

[2021-01-07 15:54] fgiroud opened #3453 "Reorganize the test suite"
Reorganize the test suite to match previous discussions about the folders hierarchy.
It would be good to think about the wikidata extension tests at the same time.

### Proposed solution

- rename some tests folder with proper names
- rename some tests

See also : https://groups.google.com/g/openrefine-dev/c/cUytDLYSq3w

[2021-01-07 21:44] wetneb commented on #3452
It's not exactly clear to me what the issue is, but if you want to propose an improvement I think it will make things clearer :)

[2021-01-08 20:36] CameronBedard commented on #1750
It doesn't look like this has been worked on. Can I work on it?

[2021-01-09 12:57] wetneb opened #3460 "Broken counts in file selection dialog"
The counts of files by extension in the file selection dialog (when importing an archive) are broken, we have "$1" in the UI instead of the actual number.

### To Reproduce
Steps to reproduce the behavior:
1. First, import the file `https://ndownloader.figshare.com/files/25791104` in OpenRefine
2. Then, see the selection dialog

### Current Results

![image](https://user-images.githubusercontent.c

[2021-01-09 13:12] wetneb commented on #724
It would be useful to have an example dataset which should trigger such a warning. In my experience, this happens when the dataset contains unescaped quote symbols, forcing the parser to parse multiple actual lines into a single cell.
Here is a synthetic example:
[code]
(it would still be better to have a real-world one to confirm)

[2021-01-09 17:40] kushthedude commented on #3413
Hi @fgiroud, I just had a doubt, are we scraping the projects which we are creating while testing? I see a few random projects which were created during tests not being deleted.
<img width="1075" alt="Screenshot 2021-01-09 at 11 09 08 PM" src="https://user-images.githubusercontent.com/44091822/104104706-bac34780-52cf-11eb-8c7b-d734aeccedc5.png">

[2021-01-09 17:41] kushthedude opened #3461 "Add test coverage for cypress"
We are not tracking coverage for ui_tests.
### Proposed solution

It would be great if we can capture the coverage outputs while testing UI too.

[2021-01-09 18:38] tfmorris commented on #724
I've updated the description with a link to the email thread that prompted this. The original problem was triggered by a bug in OpenRefine's quote processing, but, as @wetneb says, it also could be triggered by a bugging CSV writer (of which there are more than a few). Probably the most common way would be home grown variants where people just do `",".join(fields)` or `'"'+'","'.join(fields)+'"'`

[2021-01-09 19:23] wetneb commented on #3461
Are you thinking about frontend code coverage? @fgiroud mentioned that we could potentially also track the backend coverage of these tests, since they really are integration tests (as we are not mocking the backend).

[2021-01-09 19:31] kushthedude commented on #3461
Yes, I was initially thinking about frontend code coverage only.
I am unsure about how would we track backend coverage, any resources highlighting the same can be helpful and would help in further investigation.

[2021-01-09 20:28] thadguidry commented on #724
@wetneb Yes, there's an example in the RFC 4180 (where it mentions "should" and is not strict...it's a misnomer, and I've never seen this supposedly "strict" memo that people sometimes mention, ever.)

[code]

+1 agree that we warn users.  Give them options to deal with it later after import...as part of a cleaning task.  I've always that we should be giving users more hints by having Rules...and

[2021-01-09 20:54] tfmorris commented on #724
That example is valid (quoted) CSV and should parse fine. As an aside, there are a couple of [errata](https://www.rfc-editor.org/errata_search.php?rfc=4180) against that example, including one that points out that if you don't make quoting embedded commas mandatory, it makes the file pretty hard (ie impossible) to parse.

[2021-01-09 20:59] thadguidry commented on #724
@tfmorris Ah thanks, yes, you seem to have found that mystical "strict" **memo**...which is actually **errata** against the original RFC4 1080 memo.  Thanks so much for finding that for us!

[2021-01-10 04:15] thadguidry opened #3462 "XML and JSON importers and using "Store file source" doesn't make a column"
### To Reproduce
Steps to reproduce the behavior:
1. Create new project from a file or URL  (either JSON or XML)
2. Choose JSON or XML as appropriate for file.
3. Then make any record row selection from an element in the JSON or XML with a mouse selection
4. Click on **Store file source** check box
5. Notice the preview refresh

### Current Results
Preview refreshes but doesn't add the extra colum

[2021-01-10 15:23] tfmorris commented on #3367
Should we even bother testing Firefox? The last figures I saw its popularity at well under 5% -- and declining. That's for the general internet though. Do we have different numbers for OpenRefine users?

[2021-01-10 17:49] thadguidry opened #3463 "NoClassDefFoundError while shutting down OpenRefine on Spark"
### To Reproduce
Steps to reproduce the behavior:
1. Start an import with a very large CSV file (500mb) with Create Project (after previewing successfully)
2. Then hit Ctrl-C in terminal while lots of Spark Tasks have started running as shown on Spark UI http://127.0.0.1:4040

### Current Results
[code]

### Expected Behavior
Don't know if this is a valid bug yet or not as I have been testing some

[2021-01-10 18:14] thadguidry commented on #3367
I use Firefox. Exclusively because of Servo and [Quantum](https://wiki.mozilla.org/Quantum) initiatives that continually get rolled into improving Firefox.  But a lot of that development has slowed down because of [those big layoffs last year from Mozilla](https://arstechnica.com/information-technology/2020/08/firefox-maker-mozilla-lays-off-250-workers-says-covid-19-lowered-revenue/)

[2021-01-10 19:12] wetneb commented on #3463
@thadguidry thanks! Yes feel free to create a label, it seems appropriate. Thanks a lot for your testing effort!

[2021-01-11 10:12] fgiroud commented on #3461
Frontend code coverage is theoretically possible, and it would require to instrument all the frontend javascript code used.
[This article is a good start](https://docs.cypress.io/guides/tooling/code-coverage.html#Introduction)

[2021-01-11 10:16] fgiroud commented on #3413
Yes, supposedly, see `support/index.js`, this file contains a hook that is executed after each test. And it's supposedly cleaning the projects.
Is that possible that failed scenarios do not execute the hook?

[2021-01-12 21:02] magdmartin opened #3466 "Reconciliation hang when endpoint not available"
When I try to **add, remove or call** a reconciliation endpoint that is not available (either due to 308 or time out), OpenRefine hangs without returning any error.  I need to refresh OpenRefine to gain access to the interface again.

### To Reproduce
Steps to reproduce the behaviour:

- From a column select `Reconcile` > `Start Reconciling`
- Select a non-working reconciliation endpoint for examp

[2021-01-13 09:36] wetneb commented on #3466
That's a known bug in 3.3 but I thought we had fixed that in 3.4.1, curious!

[2021-01-13 18:46] #3364 closed

[2021-01-13 18:48] #3362 closed

[2021-01-13 21:26] magdmartin commented on #3466
I confirm that I just face the issue with 3.4.1 and CSV Reconciliation service. In that case I forgot to start the service locally before calling the service in OpenRefine. The UI hangs on `Working...` while the consol indicate
[code]

In that case OpenRefine should show the error message with an `OK` button to close it.

[2021-01-14 16:51] kushthedude opened #3469 "Snapshot release workflow is failing"
Snapshot release workflow is failing

[2021-01-14 18:06] #3469 closed

[2021-01-15 16:23] runnwerth commented on #2243
Same problem here! Any updates on this particular problem?

[2021-01-15 18:48] kushthedude commented on #3413
Yes, failed scenario doesn't execute the hook, as well a few projects still remain even after a successful test.

[2021-01-15 19:32] kushthedude opened #3475 "Row count is returned as 0 occasionally from the server while fetching metadata"
While writing tests for project_metadata #3474 , I encountered an occasional bug. Table row metadata is being returned as zero sometimes from the openrefine server and hence Rows is being shown as 0.
### To Reproduce
Steps to reproduce the behavior:
1. Visit the `Open Project` page
2. See table columns, row is sometimes returned as 0 from the server

### Response returned by the server

[code]
<im

[2021-01-15 19:36] kushthedude opened #3476 "Move away from px to em in docs styling"
We are using pixels for styling in docs which is absolute and can't vary according to screen size.
### Proposed solution

Support use of em which is relative to the screen resolution you are viewing on.

[2021-01-16 07:04] wetneb commented on #2243
We might be able to improve user experience here by catching relevant exceptions in the right places. If this only happens when computing the value of some cell, it would be nice if we could be able to import the rest of the table. Perhaps some of these exceptions can be meaningfully converted to our own `EvalError`.

[2021-01-16 15:17] kushthedude opened #3479 "Not all test projects created during ui_testing are getting scraped"
We already have an afterEach hook that deletes all the projects created during the test but due to some bug, not all projects are being deleted.
### To Reproduce
Steps to reproduce the behavior:
1. Open Cypress application
2. Run a Spec
3. See a few outstanding projects remaining

### Current Results

Few projects remains after successful afterEach hook.
### Expected Behavior

All projects should

[2021-01-16 15:28] tfmorris commented on #2243
It would be useful to have a link to the upstream bug, so that we can track it.

[2021-01-16 17:33] kushthedude opened #3481 "Unwanted symbol in project version metadata dialogue"
Project about dialogue has a weird symbol ahead of its info in the metadata.
### To Reproduce
Steps to reproduce the behavior:
1. Create a project
2. Then, click on it's about tab
3. Finally, see the bug

### Current Results

The weird symbol `$1` appears ahead of it
### Expected Behavior

No unwanted characters should be present
### Screenshots

<img width="1388" alt="Screenshot 2021-01-16 at 11

[2021-01-16 19:19] thadguidry opened #3483 "Broken importing from files in ZIP archive using new-architecture branch"
Cannot import a file from a ZIP archive using `new-architecture` branch

### To Reproduce
Steps to reproduce the behavior:
1. Import the IRE training materials ZIP file (often used for OpenRefine training)
2. Click button on left **Unselect All**
3. Select the 1st file `Donavan Tip Sheet.odt` to import
4. Click button in top right **Configure Parsing Options**

### Current Results
**Console:**
[co

[2021-01-17 09:36] wetneb commented on #3481
Closed by #3482.

[2021-01-17 17:16] kushthedude commented on #3479
This is the error being generated when cypress tries to delete some of those projects
[code]

[2021-01-17 18:09] tfmorris commented on #3413
Remember that the OpenRefine server only saves to disk every few minutes, so if it's killed before the project deletion has been persisted, they may still remain.

[2021-01-17 18:31] kushthedude commented on #3413
Will this error occur if I use openrefine UI to perform each deletion?

[2021-01-17 18:37] tfmorris commented on #3481
We need a different fix for this.

[2021-01-17 19:18] tfmorris commented on #3479
https://github.com/OpenRefine/OpenRefine/blob/82b1cf0bfaf3c8ab57a12e0f2004bdeb71432383/main/src/com/google/refine/commands/project/DeleteProjectCommand.java#L63-L64

Looks like either the metadata or the metadata tags are `null`.

[2021-01-17 19:22] wetneb commented on #3481
Ah thanks! My mistake for merging that too quickly.

[2021-01-18 08:16] wetneb opened #3491 "Improve snapshot workflow to avoid passing tokens via GET"
Our snapshot release process currently passes access tokens by GET parameters, which generates the following warning from GitHub:

Therefore we should migrate to using a header instead. In addition, I have created a new GitHub account which has only access to the snapshot repository, so that the secret token does not come with more permissions in other repos.

[2021-01-18 16:10] #3491 closed

[2021-01-18 16:34] #3453 closed

[2021-01-18 20:55] wetneb opened #3496 "Remove GREL function serialization tests"
The GREL function classes define some documentation strings which are displayed in the UI.

As part of the migration of the JSON serialization from org.json to Jackson I added tests for each class ensuring the preservation of their serialization. However for GREL functions this is not very useful since the serialization itself is defined by the base class, so it does not make sense to test this lo

[2021-01-19 08:11] #3460 closed

[2021-01-19 08:28] #3476 closed

[2021-01-19 10:30] fgiroud opened #3498 "Add a generic test about expressions (Python, Grel, ...)"
Many UX components are related to expressions.
Expressions can be written in
* GREL
* Python
* Clojure

The same panel is used for
* facets expressions
* transforms
* potentially others

![Screen Shot 2021-01-19 at 11 26 32](https://user-images.githubusercontent.com/6267288/105022082-9c84e680-5a49-11eb-9bb2-08f3a54e560a.png)

### Proposed solution

The goal is to have a generic test to cover those

[2021-01-19 10:38] fgiroud commented on #3498
@thadguidry, do you have any idea about the expected behavior of "starred" and "history" ?
Thx

[2021-01-19 12:36] thadguidry commented on #3498
**History** - expressions will show here after the user clicks OK on to perform the expression.  It continually grows.

**Starred** - Users click on the History and can then click on the Star next to an item to mark it as a favorite, which then shows in the Starred tab.  Those favorites are permanently stored within the `metadata.json` file inside each of the Project subfolders in the OpenRefine w

[2021-01-19 13:15] fgiroud opened #3499 "Expression history show expressions from other projects"
When loading a new project, the expression history is loaded with expression from other projects

### To Reproduce
Steps to reproduce the behavior:
1. First, create a project A
2. Then, add a custom text facet with `value.toLowercase()`
3. Then, create a project B
4. Then, add a custom text facet
5. Click 'history'
6. See that the history already contains `value.toLowercase()` from project A

###

[2021-01-19 13:36] thadguidry commented on #3499
@fgiroud I don't think this is a bug, it's universal history, as I explained before in #3498  "history" is basically last 100 expressions used (no matter the project) and if users want to favorite some, then they click the star next to one.

[2021-01-19 14:07] fgiroud commented on #3499
Thx for the clarification @thadguidry, let's reject this

[2021-01-19 14:07] #3499 closed

[2021-01-19 14:24] fgiroud commented on #3421
@thadguidry , invert/reset are to be added in #3419, because those behaviors are common to all facets

[2021-01-19 14:29] thadguidry commented on #3421
I'm saying, we need to document first...and then do the test setup for the text filter because I'm not sure of the answers for:
1.  what a **reset** does when you have a regex filter applied?
2. what a **invert** does when you have a regex filter applied?

I'd have to go back and spin up OpenRefine 2.7 and verify how that works.  But maybe others can confirm.

[2021-01-19 15:13] ostephens commented on #3421
`Invert` finds all the rows/records that don't match the filter. It doesn't matter if the filter is a regex or plain text filter

[2021-01-19 15:18] ostephens commented on #3421
`Reset` clears all the options (invert, text in the filter box, case-sensitive, regular expression) of the filter

[2021-01-19 15:20] ostephens commented on #3421
Behaviour was documented in the PR https://github.com/OpenRefine/OpenRefine/pull/1327

[2021-01-20 07:07] wetneb opened #3502 "Add search bar to documentation"
We want our new Docusaurus-based docs (https://docs.openrefine.org/) to be searchable.
Docusaurus has built-in support for Algolia:
https://v2.docusaurus.io/docs/search

I propose we first try Algolia, to see if we are happy with the results and consider alternatives if not.

[2021-01-20 17:45] EgorBEremeev commented on #3307
@tfmorris , it seems you are right that while fetching URLs the text in utf8 is interpreting using default system encoding (in my case it is cp1251 and accented symbols from a web page in german were broken).
I tried this:

 but this command has finished with error message:

However adding `JAVA_OPTIONS=-Dfile.encoding=UTF-8` into `refine.ini` helps - after fetching URLs I see normal accented symb

[2021-01-20 19:22] wetneb commented on #3059
Closed by #3178.

[2021-01-20 19:22] #3059 closed

[2021-01-20 19:51] S-Harshit commented on #3421
Can I work on it?

[2021-01-20 21:42] S-Harshit commented on #3312
@wetneb  I have question regarding this issue - Are the strings "Please", "sign in and authorize", "to access your Google data."  part of the login box that is supposed to show up after clicking on google data cause I am experiencing Issue #3054 after clicking on Google Data

[2021-01-20 21:48] fgiroud commented on #3421
@S-Harshit can you wait a bit (few days max)? We need to finalize a few things, add the linter, then you can work on it

[2021-01-21 14:10] fgiroud opened #3505 "Refactor the way we handle fixtures in Cypress tests"
Cypress tests are using fixtures and disk files to load projects.
Refactor this to load json directly within test scenarios

### Proposed solution
Refactor the method to load a project, data to load will be a parameter for the method `loadAndVisitProject`.

### Alternatives considered

We could also create project using import instead of creation, based on tar.gz files, but the proposed solution i

[2021-01-21 17:06] wetneb commented on #3502
Closed by #3507.

[2021-01-21 17:06] #3502 closed

[2021-01-21 21:35] fgiroud opened #3509 "Cypress tests are randomly failing"
The CI Cypress test suite is overall flaky, sometimes it passes, sometimes not

Example PRs
* [3508](https://github.com/OpenRefine/OpenRefine/pull/3508/checks?check_run_id=1744850062)
* [3507]()

Most of the time with this weird error message

[code]
Coming from Cypress itself ? Introduced in Cypress 6.3 ? To be investigated.
Looks like there are several different issues.
The Cypress dashboard wil

[2021-01-22 09:25] wetneb commented on #2144
Summary of what the integration could look like, by @fokky: https://docs.google.com/document/d/1S8htxqbrbayeijo2XUgY8vxGwHJZurAJ2HPsf7xznZ4/edit#heading=h.cg4kmtfxy424

[2021-01-22 11:11] wetneb commented on #3312
The login box is provided by Google itself (as part of the OAuth process) so these strings are not used there.
To enable Google login on your development version, you need to follow these steps:
https://github.com/OpenRefine/OpenRefine/wiki/Google-Extension

[2021-01-22 14:45] RicardoOrtizG opened #3511 "Encoding error in dataset names and tags after migrating from version 3.0 to 3.4"
The names of dataset in Open Refine version 3.4 is showing encoding issues.

### To Reproduce
Steps to reproduce the behavior:
1. Migrate from 3.0 version to 3.4 version run in Windows 10 (64 bits)
2. Display OpenRefine using Chrome browser.
3. Look for files previously created.

The files tags shows like this.

![image](https://user-images.githubusercontent.com/15789737/105503931-2b397380-5c95-11

[2021-01-22 15:29] RicardoOrtizG opened #3512 "Backup the history and starred commands"
After any migration of version the history and starred commands get deleted, if come back to the older version it still deleted, so get lost apparently.

### Proposed solution
Documentation to save the history and commands saved in OpenRefine or a way to import automatically the command history when migrating from a newer version.

[2021-01-22 15:45] RicardoOrtizG opened #3513 "A option to delete or change tags"
If there are previously created tags or tags that are no longer needed, there is no way to remove or change them. Also, the tags accumulate at the top of the home page of open projects.

### Proposed solution
Include options to remove or modify tags.

[2021-01-22 15:49] RicardoOrtizG commented on #3513
Sorry,  I find the way to change them

[2021-01-22 16:36] #3513 closed

[2021-01-22 16:42] RicardoOrtizG opened #3514 "Total fail when delete files with codification issues"
Trying to delete files with codification issue in Open Refine 3.4.1. # 3511, the Open Refine collapse and is showing no more files.

### To Play
Steps to reproduce the behavior:
1. Delete files using the GUI of OpenRefine
2. OpenRefine still showing the files, like the files weren't deleted
3. I reload the openRefine and it showed collapsed.

![image](https://user-images.githubusercontent.com/1578

[2021-01-22 19:04] RicardoOrtizG opened #3515 "Notify user about disk space availability"
When a certain volume of data is loaded in OpenRefine is reached, it stops loading the files. This is solved by deleting some files from the history.

### Proposed solution
Generate an available space notification or indicator

[2021-01-22 21:49] tfmorris commented on #3511
Before doing anything else, you should restore the backup that you made of your OpenRefine workspace before the attempted upgrade. OpenRefine 3.4 will have written out the project list using UTF-8 encoding, while 3.0 is trying to read it using your local encoding.

Version 3.4.1 (and 3.4, but you shouldn't be using it) include a bug fix for the `workspace.json` file not being correctly saved in UT

[2021-01-22 22:45] skauffmann commented on #3509
Link to the following cypress issue : https://github.com/cypress-io/cypress/issues/14701

[2021-01-23 04:58] CameronBedard commented on #2019
Hello, can I work on this?

Proposal number 2 and 3 have no ambiguity to them for me. With the first proposal I am wondering where to implement this? Should it be right on top like "536 records (550 total rows)". There is already a yellow notification after a transform that shows how many cells were affected.
![recordsMenu](https://user-images.githubusercontent.com/25983556/105569060-73e04380-5d0c

[2021-01-25 16:01] iomicifikko opened #3517 "XLSX importer using "Store file source" option replace any "File" column inside the source files"
### To Reproduce
Steps to reproduce the behavior:
1. First, **Create project** and select two or more XLSX files with the same structure including a column named **File**
2. Then, in the preview interface select the **Store file source (file names, URLs) in each row_ option**
3. Finally, create the new project.

### Current Results

The content of the original **File** column has been replaced wit

[2021-01-25 16:09] thadguidry commented on #3517
"File" could be anything, even something from an original source system, like a government file system, etc.  Not just your local file system.

So I think a better option is not to deal with the extra column during preview, but simply handle this later on after creating the project (don't overwrite a similar named column, but check if column name already exists, and then simply add a prefix such a

[2021-01-25 18:38] kushthedude opened #3518 "Common transforms for columns should contain `to boolean`"
There are a variety of options to cast a column into text, number or date. But there is no common cast option to change a column to a boolean type.
### Proposed solution

Common transforms for columns should contain `to boolean`
### Alternatives considered

None
### Additional context

Why wasn't this implemented, or are there concerns on this option?

<img width="808" alt="Screenshot 2021-01-26 a

[2021-01-25 18:38] kushthedude commented on #3518
/cc @wetneb @thadguidry

[2021-01-25 19:09] magdmartin opened #3520 "Cannot edit project metadata"
### To Reproduce

- Create a project that generates a lot of `Import option metadata (JSON)` . In the example below I created a project from 100 txt files.
- Once the project created, go back in `Open Project` and select `About` to edit the project metadata
- The `Import option metadata (JSON)` take the full screen.
- You cannot scroll up or down. You have to use the browser zoom to see other opti

[2021-01-26 06:55] wetneb commented on #3518
I think it could make sense to have this, for consistency. Of course it is likely to be language-specific, but so are the date parsing functions.

[2021-01-26 08:48] wetneb commented on #2144
Here are some proposals for the implementation of such an integration, with rough effort estimates:
https://hackmd.io/dqq4TBogSxK95ezsTmOiFg?view

[2021-01-27 08:05] wetneb commented on #2768
Sorry for the time it took to review this: I can reproduce the issue.

[2021-01-27 08:07] #2768 closed

[2021-01-27 08:57] #3481 closed

[2021-01-27 11:03] fgiroud commented on #3509
See Also this issue [Error: Could not process 'take:screenshot'](https://github.com/cypress-io/cypress/issues/14663)
We will revert to Cypress 6.2 if we don't see any progress there

[2021-01-27 22:50] tfmorris commented on #3509
I would suggest falling back to Cypress 6.2.1 now, unless there's a critical 6.3 feature that we need. No sense in letting another project's bug cause us extra work.

[2021-01-27 23:49] tfmorris opened #3529 "Add link checker to documentation CI"
The dead links from #3524 are something that we should be able to catch by checking the links when running CI on the docs build.

W3C has an online checker here: http://validator.w3.org/checklink?uri=https%3A%2F%2Fdocs.openrefine.org%2F&hide_type=all&depth=&check=Check
but there are local utilities which can be used as well.

[2021-01-28 01:44] thadguidry commented on #3529
@tfmorris should we add you as a team member on the Netlify site management you think, just in case, so you can see and help us manage things?
However, I did find the Checklinks plugin along with others that we can easily enable.
https://app.netlify.com/teams/openrefine-team/plugins
![image](https://user-images.githubusercontent.com/986438/106077889-05b6ca80-60d8-11eb-9263-8e53e9dbe077.png)

We'll

[2021-01-28 03:09] rybesh commented on #3003
This would be a big help for students on locked-down school laptops.

[2021-01-28 07:44] wetneb commented on #3509
Or temporarily running only tests on Edge (and possibly Firefox), since most tests should not exhibit browser-dependent behaviour.

[2021-01-28 07:46] wetneb commented on #3529
I thought that was supposed to be already supported by https://github.com/OpenRefine/OpenRefine/issues/3031, but clearly it's not working so far. Perhaps it would be worth checking if we need to enable anything in our Docusaurus config for this feature to be enabled.

[2021-01-28 10:45] #3413 closed

[2021-01-28 10:46] kushthedude commented on #3509
I would also suggest to fallback to 6.2.1 and let dependabot ping us on the next minor release. Not sure if edge would give different results as it is based on chromium.

[2021-01-28 11:13] kushthedude opened #3532 "Add lint and styling workflow for cypress suite"
### Proposed solution

### Alternatives considered

### Additional context

[2021-01-28 11:22] #3509 closed

[2021-01-28 12:00] #3505 closed

[2021-01-28 18:21] kushthedude commented on #3529
Hi @thadguidry , you will most probably find the `Pretty URLs` setting here *`Site settings > Build & deploy > Post processing > Asset optimization`*

[2021-01-28 18:25] kushthedude opened #3536 "Enforce ES-Lint rules for cypress-test-suite"
Hi, I think as we are progressing with tests we need some kind of rules and standard notations to prevent us from writing bad code.
### Proposed solution

ES-Lint is pluggable and configurable linter tool for identifying and reporting on standard coding patterns in JavaScript. Cypress team has also created an ESLint extension for standard cypress rules https://github.com/cypress-io/eslint-plugin-c

[2021-01-28 18:26] kushthedude commented on #3536
@wetneb @fgiroud How does this sound?

[2021-01-28 18:56] thadguidry commented on #3529
Ah yes...hmm, but looks like it's already checked to skip the Asset processing altogether, so all of these are already effectively disabled?

![image](https://user-images.githubusercontent.com/986438/106185109-039c4c80-6168-11eb-9e85-34b7768348b1.png)

[2021-01-28 18:58] kushthedude commented on #3529
Yes then

On Fri, 29 Jan, 2021, 00:27 Thad Guidry, <notifications@github.com> wrote:

[2021-01-28 20:31] thadguidry commented on #3529
@wetneb that Docusaurus setting `onBrokenLinks` only seems to work if you actually do a production build [according to their docs](https://v2.docusaurus.io/docs/docusaurus.config.js/#onbrokenlinks):

So we probably do want to enable that Netlify plugin [Checklinks](https://github.com/munter/netlify-plugin-checklinks#readme) to easily help us with keeping things unbroken.

[2021-01-28 22:08] tfmorris commented on #3536
There's JSHint too, but I think ESLint is the best choice.

I know @wetneb said he was happy to use different setups for testing and application code, but I have a strong preference for a single set of tools and standards for all of the project's Javascript code, so I'd like to see adopt ESLint project wide.

[2021-01-28 22:33] tfmorris commented on #3529
Why don't we want to be doing a production build?

[2021-01-28 23:03] thadguidry commented on #3529
@tfmorris I have no idea.  I'm not the Netlify deploy expert.  But Netlify is configured it seems with the `yarn build` currently.

@kushthedude do you know why it's done as such (I forgot), since we don't have a `netlify.toml` file it seems the build/deploy for docs is tied up with the Netlify config you helped us with somewhere?  Looking around...
We should have some of our CI/CD setups like for

[2021-01-29 02:26] ritika4554244 commented on #3421
plzz.. help how I can contribute in this repo

[2021-01-29 09:00] fgiroud commented on #3536
I am good with ESLint
@tfmorris the thing is that OpenRefine code and Cypress tests does not use the same Javascript version.
OpenRefine is coded using plain old javascript, whereas tests are using ECMA script 2015, so it might create issues if we try to have  ESLint project wide.
Basically OpenRefine code will triggers millions of warning and errors, because it's pretty outdated syntax, we would

[2021-01-29 11:17] fgiroud commented on #3498
@thadguidry I've implemented many tests in PR
Do you think the behavior of the panel is inconsistent (and is that a bug ?)
You can review either by running the tests, or give a try to [the Cypress dashboard](https://dashboard.cypress.io/projects/s5du3k/runs/257/overview)

See the following

- Grel syntax error: Parsing error in red on the right side of the input
- Python syntax error: Internal err

[2021-01-29 12:17] ritika4554244 commented on #3421
can I work on it??

[2021-01-29 12:46] singhakshita commented on #3137
Hey is this issue still open  (since its mentioned  that will close this issue on 13 Dec 2020) I m not very sure
can you please assign me this .

[2021-01-29 13:44] singhakshita commented on #2519
I want to work on this issue ,can i ?

[2021-01-29 14:40] thadguidry commented on #3498
@fgiroud Yes, also watched the video and it all looks expected.

[2021-01-29 14:49] thadguidry commented on #3498
Oops, I see somethings unexpected with these...

Test the history behavior, ensure expressions are stored.
Test the reuse of expressions from history

That one should open the expression editor, type a valid expression such as `value + "testPassed"`, click OK, create custom facet again on same column, click the History tab, and verify that 1st row in history indeed has the `value + "testPassed"` v

[2021-01-29 18:07] wetneb commented on #3137
No, @leoshrey seems to be still working on this issue.

[2021-01-29 18:09] wetneb commented on #3529
I think we should definitely enable production builds for Docusaurus.

[2021-01-29 20:31] fgiroud commented on #3421
@S-Harshit @ritika4554244 thanks for your patience, we are about to merge several PRs that will contain the foundations for the tests and lots of examples, from there we will create more issues like this one, and you will be able to dig-in.
To start I suggest that you read the [OpenRefine testing documentation](https://docs.openrefine.org/technical-reference/functional-tests) and the [contributing

[2021-01-30 09:51] singhakshita commented on #2519
hey ,if i m not wrong ,proper check of the text in the cell ,should fix this  right?

since i m new to this open source contribution ,it might take a bit more of a time ,but i m working on it ,
thanks

[2021-01-30 11:19] singhakshita commented on #2519
singhakshita:fixes#2519-hyperlink-issue #3542

the following issue has been fixed
please let me know if any change is required

[2021-01-30 15:31] singhakshita commented on #2519
for some Reason the functions in the comments is not showing any url as valid ,can u please guide me a bit

[2021-01-30 19:29] SmritiSharmaBG commented on #3363
Hello, I am new to Open Source. I want to know if this bug is fixed? If it is fixed and merged then why is it still showing up in Issues section? If not, then can I start to work on it? Any help/feedback will be appreciated. Thankyou :)

[2021-01-30 20:13] wetneb commented on #3363
We should ask @swkasica first, to see if he is still working on this.

[2021-01-31 14:36] swkasica commented on #3363
Hi all,

Sorry I haven't had time to work on this issue this month. Academic stuff has consumed all my time. To boot, my computer died a week ago and I don't have a way of running OpenRefine 😢. But I will have more free time by February 4th (and hopefully a real computer too 🤞).

@SmritiSharmaBG, please feel free to work on this issue but keep me in the loop because I have done a bit of work addre

[2021-01-31 17:14] singhakshita commented on #3312
hey if nobody is working on this issue can i please work ?

[2021-01-31 18:17] wetneb commented on #3312
Sure, go ahead, thanks for volunteering!

[2021-02-01 06:42] singhakshita commented on #3312
@wetneb for some reason its never giving me this sign in option ,even after are removed all logged in account ,it is still showing me this .
<img width="1440" alt="Screenshot 2021-02-01 at 12 08 47 PM" src="https://user-images.githubusercontent.com/52077474/106423502-94d03380-6486-11eb-9144-d0f3492c2b7c.png">

can you tell me how to reproduce the issue if i m doing anything wrong

[2021-02-01 10:04] wetneb commented on #3312
Have you looked for errors in the OpenRefine server logs or in your browser's Javascript console?

[2021-02-01 16:40] singhakshita commented on #3312
yeah its not showing any error or any warning .
its just showing that spinner of loading
that never loads
please guide me a bit

[2021-02-01 18:03] wetneb commented on #3208
Now that we have migrated out of Travis, this is no longer relevant.

[2021-02-01 18:03] #3208 closed

[2021-02-01 18:26] kushthedude commented on #3208
Can we add Mac-CI in GitHub actions too? As we are already checking ubuntu and windows 🤔

[2021-02-01 19:48] thadguidry commented on #3208
@kushthedude yes, and the macOS images use passwordless `sudo`.  See specs and images: https://docs.github.com/en/actions/reference/specifications-for-github-hosted-runners

[2021-02-02 08:04] fgiroud opened #3552 "Cleanup previous UX test suite"
Since the migration to Cypress, some leftover folders are still in the codebase.

I assume we can delete `main/tests/client`, but can we also delete `main/tests/data` and `main/tests/server` or are those files used by some backend tests in Java?

Thx

[2021-02-02 08:07] #3419 closed

[2021-02-02 08:09] #3498 closed

[2021-02-02 08:21] fgiroud opened #3553 "Add UX Test for column / Edit cells / Common transforms"
This issue is following the work implemented for issue #3423 in [PR 3541](https://github.com/OpenRefine/OpenRefine/pull/3541)

The goal is to cover all functionalities under column / edit cells / common transforms

![Screen Shot 2021-02-02 at 09 17 51](https://user-images.githubusercontent.com/6267288/106571627-acb3c000-6537-11eb-9dae-ff7185a459b1.png)

### Proposed solution

Write the remaining t

[2021-02-02 08:31] fgiroud opened #3554 "Add UX Test for column / Edit cells / Transform & Replace"
This issue is following the work implemented for issue #3423 in PR 3541

Two tests are still left to implement

- Transform
- Replace

![Screen Shot 2021-02-02 at 09 27 00](https://user-images.githubusercontent.com/6267288/106572718-154f6c80-6539-11eb-9e8b-84d7eda344b2.png)

[2021-02-02 08:49] fgiroud commented on #3420
Note for contributors: All remaining tests does not necessarily needs to be implemented in one single PR for this issue, a good start would be to cover
- text facet
- numeric facet
- custom text facet
- custom numeric facet

[2021-02-02 08:50] fgiroud commented on #3421
@S-Harshit still intereted ? PRs have been merged and you can tackle this one if you wish
@ritika4554244 there are other issues tagged with `good first issue`, feel free to show your interest there and I will assign
Thx

[2021-02-02 09:34] S-Harshit commented on #3421
@fgiroud Thank You, Yes I will work on it.

[2021-02-02 16:46] wetneb commented on #3552
Yes `main/tests/client` can be deleted, but the other ones are needed by the backend tests.

[2021-02-02 16:49] wetneb commented on #3515
I think this would make sense, if it is not too expensive / too involved to do cross-platform (I don't think it should be).

[2021-02-02 16:51] wetneb commented on #3514
Hi @RicardoOrtizG, thanks for this report! It is not clear to me what files you deleted, can you be more precise?

[2021-02-02 16:51] wetneb commented on #3512
Which versions did you migrate from and to?

[2021-02-02 17:02] wetneb commented on #3452
@kushthedude I'll just close this as I really cannot see any issue with the style here (both with Chromium and Firefox). Safari should be the same as Chromium, I would expect. Feel free to reopen if I missed anything here.

[2021-02-02 17:02] #3452 closed

[2021-02-02 17:09] tfmorris commented on #3552
Why wouldn't we use `main/tests/client` for our client tests? They currently seem to be rooted at `main/tests/cypress/cypress` which seems both tool specific and somewhat obscure (as well as redundant).

[2021-02-02 17:15] wetneb commented on #3552
On the longer term I would like to adopt Maven's conventions for folder structures. The goal of using something standard is to reduce the friction in discovering the project, packaging it and making the build files simpler. But I haven't investigated how frontend files (and their tests) are generally stored in this layout.

[2021-02-02 17:27] ritika4554244 commented on #3421
@fgiroud , @S-Harshit
after running all the instruction . facing this error .
what to do now??how to proceed further.
<img width="1440" alt="Screenshot 2021-02-02 at 10 43 06 PM" src="https://user-images.githubusercontent.com/77883250/106638138-8e86a800-65a9-11eb-8e46-e3f3768983e8.png">

[2021-02-02 17:31] fgiroud commented on #3421
@ritika4554244, for getting help about the installation process of Cypress tests, please reach the dev mailing list
This ticket is only to discuss what's specific about the Text Filter test

[2021-02-02 18:07] wetneb opened #3558 "Migrate from Coveralls to Codecov"
We currently use Coveralls to keep track of our server-side test coverage.

Migrating to Codecov would let us upload code coverage results from GitHub Actions without specifying a secret key. We did this in Wikidata-Toolkit: https://github.com/Wikidata/Wikidata-Toolkit/pull/525.

Eliminating this secret key could help us use the `pull_request` GitHub event instead of `pull_request_target` one as w

[2021-02-02 19:06] thadguidry commented on #3558
@wetneb yes I saw you folks did that on Wikidata-Toolkit. Nice! I think anything that helps simplify our lives with the CI/CD and still offers similar functionality is a "good idea".

So you would directly use their GitHub Action https://github.com/codecov/codecov-action ?  And if so, does it support everything you need currently or do we need to ask their team for any feature in their action that

[2021-02-02 21:20] rooby commented on #3509
Release 6.4 has an item relating to this:

https://github.com/cypress-io/cypress/releases/tag/v6.4.0
https://github.com/cypress-io/cypress/pull/14819

[2021-02-03 02:10] sardug10 commented on #3554
Hey, I am new to open source contributions. I want to work on this issue. Can you guide me?

[2021-02-03 05:59] majjikishore007 commented on #3553
I would like to work on this issue

[2021-02-03 07:36] wetneb commented on #3553
I think it should not be necessary to test *all* of them, since they are just using different GREL expressions under the hood. If it is cheap to test them all, fine, but if we want to spare a bit of running time, this menu is a good candidate for skipping items.

[2021-02-03 07:47] singhakshita commented on #3312
@wetneb  i tried to reproduce this issue but for some reason  i never get this option,it just shows me that spinner
so i m not able to fix this issue

[2021-02-03 08:31] wetneb commented on #1433
This issue has gathered discussion about a lot of different points, so now that the migration is done I will create separate issues about the remaining problems. To continue the high-level discussion, please use the openrefine-dev mailing list instead.

[2021-02-03 08:31] #1433 closed

[2021-02-03 08:33] wetneb commented on #2313
Actually we need hadoop binaries not just for Windows but also for other platforms. @thadguidry also reported that even on Windows this does not seem to be set up properly yet.

[2021-02-03 08:38] wetneb commented on #3312
@singhakshita have you looked for errors in the OpenRefine server logs or in your browser's Javascript console?

[2021-02-03 08:39] wetneb opened #3559 "Migrate extensions to new architecture"
So far the extensions have been left out of the migration out of the in-memory data model.
We should update them accordingly.

While we do this process, it would be good to write down a migration guide, similarly to the breaking changes we have done before:
https://github.com/OpenRefine/OpenRefine/wiki/Migration-guide-for-extension-and-fork-maintainers

This is a very big breaking change so there

[2021-02-03 09:20] wetneb opened #3560 "Isolate expensive expression evaluations in ChangeData"
In the new architecture, by default, expressions are evaluated lazily. For instance, when using the "Add column based on this column" operation with some expression, the expression will only be evaluated for the rows that are actually shown on the screen, or are scanned by facets.

For operations which fetch data from external sources or have side-effects, there is another mechanism (ChangeData) t

[2021-02-03 09:22] wetneb opened #3561 "Document new architecture in technical reference"
The new architecture based on lazy evaluation should be documented in the technical reference.

[2021-02-03 10:01] wetneb opened #3562 "Restore pagination behaviour"
In the new architecture, the API offered by the backend for grid pagination has changed slightly.

Before, a page was defined by:
* a page size
* the number of rows/records before the page

In the new architecture, the backend expects instead (as long as there is no sorting in place):
* a page size
* the minimum row id to start the page from

If there are facets applied, this is different from the

[2021-02-03 10:10] wetneb opened #3563 "Make datamodel implementation configurable"
At the moment, it is not possible to choose which implementation of the datamodel to use when running OpenRefine.
There are currently three implementations available:
* the testing implementation, which should _a priori_ only be used to run the tests, since it is inefficient on large datasets and includes checks that are only meant to be run in a testing scenario
* the local implementation, which

[2021-02-03 10:52] singhakshita commented on #3312
yeah i saw it , initially it was showing some problems related to java version ,so i recloned the folder ,now it isn't showing any error ,but still its just showing spinner .
i have tried all possible ways to get rid of the  problem ,but now its not even showing any error

[2021-02-03 10:59] AhwiniMirajkar commented on #3554
I want to work on this

[2021-02-03 11:00] AhwiniMirajkar commented on #3553
I want to work on this

[2021-02-03 11:00] AhwiniMirajkar commented on #3427
I want to work on 3

[2021-02-03 11:02] AhwiniMirajkar commented on #3412
I want to work on this

[2021-02-03 11:12] wetneb commented on #3312
Then I would try debugging this, either with your web browser's debugger or with the Java debugger via your IDE, depending on what the HTTP traffic between the frontend and the backend looks like.

[2021-02-03 12:24] singhakshita commented on #3312
<img width="1440" alt="Screenshot 2021-02-03 at 5 52 01 PM" src="https://user-images.githubusercontent.com/52077474/106746417-87fb3d80-6648-11eb-9bb8-19964a0de99b.png">

this is how my browser console looks like and also one more thing it also asks "there are some java files in the workspace do you want to import it " ,if i import it it starts showing 325 problems in my IDE console and no error in

[2021-02-03 12:44] singhakshita commented on #3312
<img width="1440" alt="Screenshot 2021-02-03 at 6 12 15 PM" src="https://user-images.githubusercontent.com/52077474/106748574-70718400-664b-11eb-838f-d701a8bf0349.png">

these are the problems .that shows on only on importing these optional java files
expect for google data rest everything works well

[2021-02-03 14:50] thadguidry commented on #3562
Yeah, the sorting context is a really good question.  Even I don't know.  I think we'll have to try it out on large datasets with Records and test sorting and compare to previous OpenRefine versions.

Do you know how efficient the page lookup is?  Say if I have 2 million records viewing 50 at a time and want to get to page 39990 (40000 pages), how long does it take to return it? Any idea yet?

[2021-02-03 19:05] allanaaa opened #3565 "Expression window resize issues"
When changing the browser window size, parts of the expression editor window do not resize.

### Current Results
![window-resize-problem](https://user-images.githubusercontent.com/28012148/106795918-b10bd600-6628-11eb-914d-004fdd96ea67.PNG)

Not a big issue but perhaps it's an easy fix.

### Versions
 - Operating System: Windows
 - Browser Version: Firefox
 - OpenRefine: 3.4.1

[2021-02-03 19:25] harshitmalik03 commented on #3312
Hey
Im Harshit Malik , a freshman , wanting to learn open source contributions ... Im having trouble resolving issues on github... Could you please guide me upon this ?
Thank you.

[2021-02-03 20:14] S-Harshit commented on #3312
@singhakshita If you want to enable login box u should try the steps given in the above link .

[2021-02-03 20:43] wetneb commented on #3565
Yes, it's really annoying!

[2021-02-03 20:46] wetneb commented on #3312
I am removing the "good first issue" tag from this issue because of the slight difficulty involved in setting up the Google extension for development. Given the struggles of various contributors above I don't think this is working out and we should not attract more inexperienced users to this issue.

[2021-02-04 00:57] Mo-hamdy2000 commented on #3565
Could I work on this issue ?

[2021-02-04 01:47] magdmartin commented on #2292
The pull request for the contributing document is ready to be merged - see #3198
I move in this issue description the list of todo's

[2021-02-04 03:55] singhakshita commented on #3312
@S-Harshit  thanks for the guidance ,i have set that up except for
"Add Java property definitions for your client id and secret key by adding -Dext.gdata.clientid=<yourid> and -Dext.gdata.clientsecret=... to your JVM arguments"
this is not very clear ,can you please tell me if something has to imported or exported from this file and also how to write this file

[2021-02-04 06:34] wetneb commented on #3565
It's all yours!

[2021-02-04 06:41] wetneb commented on #2292
Closed by #3198.

[2021-02-04 09:30] fgiroud commented on #3418
Looks like some sorting tests are failing, see the failed runs in the Cypress dashboard
https://dashboard.cypress.io/projects/s5du3k/runs/302/overview

Detached element from the dom, again ;-)

[2021-02-04 09:35] kushthedude commented on #3418
Yes I have got the bug, will push fix asap

On Thu, 4 Feb, 2021, 15:00 Florian Giroud, <notifications@github.com> wrote:

[2021-02-04 13:52] wetneb opened #3571 "Pull request workflow should test the merged pull request, not the branch"
It seems that our GitHub Actions workflow to test pull requests is checking out the branch that the PR intends to merge, without generating the merge commit (which includes further changes on master).

We should fix this, using one of these options:
* fix the `checkout` action to use the correct commit id
* go back to the `pull_request` event and the default checkout options for it (requires not r

[2021-02-04 14:23] thadguidry opened #3572 "Links on docs are sometimes getting changed with extra doc id"
### To Reproduce
Steps to reproduce the behavior:
1. Visit https://docs.openrefine.org/technical-reference/build-test-run/
2. Scroll down and find the section **Testing**
3. Hover over the link for [you must go through the installation process](https://docs.openrefine.org/technical-reference/build-test-run/functional-tests)
4. Click on link and another page comes up with **Page not found**

### Cu

[2021-02-04 14:37] #3532 closed

[2021-02-04 14:42] #3417 closed

[2021-02-04 15:15] fgiroud opened #3573 "Improve our UX tests documentation"
Doc is enough if you've got a certain understanding of both OpenRefine and Cypress
The goal is to improve the documentation for newcomers or non-javascript programmers

### Proposed solution

- improve existing documentation
- add a reference to a typical test, well documented
- add a getting started guide for testing

[2021-02-04 15:52] magdmartin commented on #2292
@wetneb  I suggest we keep this issue open as a master or epic ticket to track changes we need to do regarding the governance and guideline to contribute.

[2021-02-04 17:20] ostephens opened #3575 "Migrate content from MediWiki bot page on wiki to user manual"
New user manual has details about creating a bot for Wikidata https://docs.openrefine.org/manual/wikidata#manage-wikidata-account

There is a page on the wiki that gives more general information about creating a bot account for any Wikibase instance https://github.com/OpenRefine/OpenRefine/wiki/MediaWiki-Bot-Passwords

The more general information should be migrated across to the new user manual a

[2021-02-04 17:27] ostephens commented on #3572
I think this might just be some bad links in the technical reference section - I'll take this and check through it all

[2021-02-04 17:28] AhwiniMirajkar commented on #3565
Can I work on this

[2021-02-04 17:30] ostephens commented on #3572
Ah - no if its intermittent obviously it's not just bad links. I'll investigate

[2021-02-04 17:45] wetneb commented on #3565
@AhwiniMirajkar no, as you can see it is already assigned.

[2021-02-04 18:02] AhwiniMirajkar commented on #3575
I want to work on this

[2021-02-04 18:03] AhwiniMirajkar commented on #3573
I want to work on this

[2021-02-04 18:54] felixlohmeier opened #3577 "Enable iteration over rows of a record (row.record)"
I am having trouble exporting hierarchically structured data when there are relationships between columns and they are not always populated.

Example use case:
1. import METS/MODS xml file
2. transform part of the data
3. export to METS/MODS xml file again.

Sample data: [muenster_sample.zip](https://github.com/OpenRefine/OpenRefine/files/5927743/muenster_sample.zip)
* sample OpenRefine project
*

[2021-02-04 19:46] tfmorris commented on #3577
That sounds like a bug -- or at least a highly unexpected behavior. OpenRefine optimizes memory usage by not storing null cells, but that shouldn't leak through as something that the user needs to worry about. I think users would expect `.cells` to return an array with null values where null cells are encountered in the rows of the record.

[2021-02-04 19:52] tfmorris opened #3578 "Fix help and documentation for record variables"
The current help for the `record` variable in the web client points to https://github.com/OpenRefine/OpenRefine/wiki/Variables#record, but that's just a stub that includes a generic link to the top level of the user manual.

It could be updated to point to https://docs.openrefine.org/manual/expressions#record, but it would be better to just include the documentation in the help, like everything el

[2021-02-04 19:56] allanaaa commented on #3578
I'm working on the in-tool help text right now, so that part is assigned to me.

I will take a look at the manual text after that, unless someone else gets to it first.

[2021-02-04 20:01] tfmorris commented on #3578
OK, thanks, but in the meantime, I don't think it's very friendly to just be pointing folks at what is effectively a dead end. Any fix to the help is only going to affect future versions, not all the versions that are out in the field.

[2021-02-04 20:02] allanaaa opened #3579 "Enable hyperlinks in in-tool Help field"
The expressions editor window includes a Help tab that has some plain-text information about each variable and function.

![display3](https://user-images.githubusercontent.com/28012148/106948555-d6b4e000-66f9-11eb-8b06-bf4c5b181b0f.PNG)

I am editing this text right now to match the user manual. I'd like the fields to render with links (they currently just have full URLS that users can copy-paste)

[2021-02-04 20:08] allanaaa commented on #3578
That part is up to @ostephens. Owen is taking care of manually redirecting the newly-blanked wiki pages to specific parts of the manual, so I will leave it to him whether he wants to do so for the URLs included in the Help text.

(In our spreadsheet I did mark a handful of wiki pages that are still in the codebase, but I didn't include the URLs that appear in the Help text.)

[2021-02-04 20:13] tfmorris commented on #3578
@ostephens Please do not replace _specific_ content with _generic_ links. I've fixed this page, but if there are any others, please fix them.

[2021-02-04 20:16] allanaaa opened #3580 "Add a link to the GREL reference in the expressions editor window"
Currently the expressions editor window supplies an in-tool Help tab, but it would also be nice to refer people to the GREL functions reference: https://docs.openrefine.org/manual/grelfunctions

![helpdisplay](https://user-images.githubusercontent.com/28012148/106949620-2fd14380-66fb-11eb-8617-a3d94380f589.PNG)

It seems likely that the manual will usually be more up-to-date than the help text ins

[2021-02-04 20:36] sarahelshabrawy commented on #3579
I would like to help with this issue

[2021-02-04 20:44] wetneb commented on #3579
Thanks! Note that there will be a few design decisions to do on this issue, so perhaps it's worth discussing your approach here before opening a pull request, to make sure we agree on the direction.

[2021-02-04 21:12] felixlohmeier commented on #3577
For me this would be very helpful. Thanks for the quick reply!

I just tested with Google Refine 2.0: `row.record.cells` skips all null and empty cells there too. It doesn`t seem to have changed since then. So maybe better a new variable for backward compatibility?

[2021-02-05 01:45] tfmorris commented on #3552
Switching to Maven sounds fine if it'll produce a tangible benefit, but why wouldn't we stick with the existing convention while deciding what the new convention is going to be?

[2021-02-05 02:21] tfmorris commented on #3559
Perhaps we should put some thought into an extension API which can be stable and maintainable and migrate extensions to that. Most extensions have pretty simple needs, so it should be possible to define an API that can be kept stable for them.

[2021-02-05 02:48] tfmorris commented on #3558
As you say, none of our secrets really need a lot of protecting.

I really like the trend graphs that Coveralls provides. Does the proposed service offer anything similar?

When I try to click through to the example that you linked, I get "Unauthorized." Do they provide a way to make reports publicly available without login?

Not really a fan of the tree map. I don't think it adds any value over o

[2021-02-05 02:58] tfmorris commented on #3562
I'm not following this. The current pagination **is** dependent on the sort order, isn't it? And, actually, I would have thought that all pagination schemes would have to be to be useful to the user.

[2021-02-05 05:48] singhakshita commented on #3312
@wetneb  i guess this problem is not because of the extension , i have set that up and put the credentials in the refine.ini
but still i am not getting sign in option also not getting any error
please help me out with this .
also after reference to the issue  [https://github.com/OpenRefine/OpenRefine/issues/2383] i think [https://github.com/OpenRefine/OpenRefine/wiki/Google-Extension](url) needs s

[2021-02-05 06:19] Taruun commented on #3017
Can i work on that?

[2021-02-05 06:52] MavropaliasG commented on #3017
That would be amazing. I found that https://darkreader.org/ creates a nice dark mode, can we access the CSS that it produces and just create a dark mode from that? Is it going to be easier?

[2021-02-05 07:15] wetneb commented on #3558
Good point that Codecov is login-protected, I did not realize that. It's a bit annoying.
Let's close this for now. I'll evaluate codecov on WDTK for a while and I'll reopen this if I feel like it is really better than Coveralls despite that issue.

[2021-02-05 07:15] #3558 closed

[2021-02-05 07:18] wetneb commented on #3559
The new architecture is one step in that direction, since it abstracts away the concrete storage mechanism for project data (extensions can no longer rely on the fact that the project grid is stored in memory, or in another particular backend). So the migration consists mostly in replacing direct accesses such as `project.rows.get(0)` by accesses which go through the API (`project.getCurrentGridSt

[2021-02-05 07:20] wetneb commented on #3017
@Taruun thanks for volunteering, please go ahead!

[2021-02-05 07:33] wetneb commented on #3562
What I mean is that currently, in the new architecture, the meaning of the `start` parameter in `GetRowsCommand` is dependent on whether a sorting configuration is applied or not:
* if there is no sorting configuration, `start` is interpreted as a lower bound on the row ids to return
* if there is a sorting configuration, `start` is interpreted as the number of rows to skip before generating the p

[2021-02-05 07:40] wetneb opened #3584 "Build broken after the introduction of the UX test suite style checker"
Since the introduction of the Cypress test suite style checker, our build fails on unrelated pull requests:
https://github.com/OpenRefine/OpenRefine/runs/1836757675

It would be good to fix the linting of the existing code or disable this check.

[2021-02-05 07:54] wetneb commented on #3312
If you want to make changes to the wiki, you should be able to do so yourself directly:
https://github.com/OpenRefine/OpenRefine/wiki/Google-Extension/_edit

I do not know how to help you given the description of the problem you have. If I had the same problem myself I would just use the debugger to find out why you do not have the option to sign in. If you are not comfortable with using the debug

[2021-02-05 09:58] ostephens commented on #3578
@tfmorris sorry I was in the process of putting in the specific links last night but didn't get them all done before I had to stop. Those are all done.

[2021-02-05 11:28] #3571 closed

[2021-02-05 12:15] felixlohmeier commented on #3577
Following this approach there is another related issue:
Strange behavior of the join() function with arrays containing empty strings #3290

[2021-02-06 10:55] singhakshita commented on #3089
can i work on this issue ?

[2021-02-06 17:41] thadguidry opened #3590 "EPIC - Cleanup and consolidate the root folder as possible"
On a previous call while discussing documentation and governance, we thought it might be nice to begin to try to consolidate the root folder.  One of the reasons was to push up the README.md file view for folks visiting our repo as well as making it easier for new contributors.  Many other projects throughout GitHub are successful in doing this, and GitHub provides a few mechanisms that help.

###

[2021-02-06 17:43] S-Harshit commented on #3414
I would like to work on this.

[2021-02-06 17:47] wetneb commented on #3089
Yes, thank you!

[2021-02-07 17:53] #3536 closed

[2021-02-07 20:05] #3421 closed

[2021-02-07 20:14] #3573 closed

[2021-02-07 20:16] fgiroud commented on #3412
Hi @AhwiniMirajkar, thanks for you interest
To get started, you can start by reading those two articles in OpenRefine documentation
* [Contributing to OpenRefine](https://docs.openrefine.org/technical-reference/contributing/)
* [Tests technical reference](https://docs.openrefine.org/technical-reference/functional-tests)

[2021-02-07 20:19] #3418 closed

[2021-02-07 20:21] fgiroud commented on #3554
Hi @sardug10 , thanks for your interest
To get started, you can start by reading those two articles in OpenRefine documentation
* [Contributing to OpenRefine](https://docs.openrefine.org/technical-reference/contributing/)
* [Tests technical reference](https://docs.openrefine.org/technical-reference/functional-tests)

Issue assigned to you !

[2021-02-07 20:27] #3584 closed

[2021-02-07 20:44] fgiroud opened #3594 "Flaky UX tests"
3 tests in Cypress are flaky

[See the Cypress dashboard](https://dashboard.cypress.io/projects/s5du3k/analytics/top-failures)

- expressions.spec.js
- undo_redo.spec.js
- apply.spec.js

### To Reproduce
It's difficult to reproduce, as those tests occasionnaly fail

[2021-02-08 05:32] AhwiniMirajkar commented on #3412
Ok
Thanks sir

[2021-02-08 06:39] KaranSingh1301 commented on #3565
@Mo-hamdy2000  hey, Are still working on this?

[2021-02-08 10:35] Mo-hamdy2000 commented on #3565
@KaranSingh1301 Yes, I opened a pull request to be reviewed.

[2021-02-08 13:47] #3594 closed

[2021-02-08 15:35] thadguidry commented on #2605
We now have the official GREL Reference completely documented at https://docs.openrefine.org/manual/grelfunctions
Along with using Expressions in general at https://docs.openrefine.org/manual/expressions

@rileygr Our user community is free to add useful links (like Rod Whiteley's GREL reference) however on this page: https://github.com/OpenRefine/OpenRefine/wiki/External-Resources

Closing this a

[2021-02-08 15:35] #2605 closed

[2021-02-08 16:44] wetneb opened #3599 "OpenRefine does not send an "Origin" header in reconciliation"
Mentioned by @gitonthescene in https://github.com/reconciliation-api/specs/issues/64#issuecomment-774872779:

I assume this must apply to requests made by the backend (such as reconciliation queries) rather than those made by the browser (such as accessing the service manifest) since I would expect web browsers to add all the necessary headers themselves.

@gitonthescene do you have more details t

[2021-02-08 17:01] S-Harshit commented on #3414
@fgiroud How can I check that flag and star are colored yellow, do I have to do a visual test?.

[2021-02-08 17:39] thadguidry commented on #3414
They are png/svg.  We don't need to check color for tests.
We need to only test:
1. Star and Flag appear on a row.
2. Star and Flag can be toggled and verify this perhaps visually or with some attrib or selector

[2021-02-08 17:47] S-Harshit commented on #3414
@fgiroud Thank You, Can you also tell what should be the name of the test file and where it should  be placed

[2021-02-08 18:13] fgiroud commented on #3414
@S-Harshit the files should be
* grid/all-column/star.spec.js
* grid/all-column/flag.spec.js

You do not need to do visual testing, you can just check that the links have `have data-table-star-off/on`, same for flags
Another way of doing it would be tocheck with cypress assertions `expect($el).to.have.css('background-image'`, but I think testing a class is agnostic, and therefore a better way to d

[2021-02-08 19:37] #3089 closed

[2021-02-09 06:21] gitonthescene commented on #3599
Hi, I'm not 100% sure what you're asking so please let me know if I've over/under explained.  The technical part is that with this diff to [the demo server](https://github.com/mikejs/reconcile-demo)

[code]
I get this output when I connect with OpenRefine and try to reconcile some colummn:

[code]

You can see that there is no `Origin` header [1].  Usually for [CORS](https://developer.mozilla.org/

[2021-02-10 11:57] singhakshita commented on #3518
can i work on this ?

[2021-02-10 11:58] kushthedude commented on #3518
Sure, please go ahead

On Wed, 10 Feb, 2021, 17:27 Akshita Singh, <notifications@github.com> wrote:

[2021-02-10 14:02] kushthedude opened #3604 "Can't import public Google Sheet without logging in"
Openrefine should import any publicly available google sheet without the need of g-API credentials
### To Reproduce
Steps to reproduce the behavior:
1. First, visit https://docs.google.com/spreadsheets/d/1_BY7R4cGZh1kPnwe89tFlMGdJSgEeemSHhyodNQGSBk
2. Then, import the above URL in openrefine through `Google Data` option
3. See an error

### Current Results

[code]
### Expected Behavior

Openrefine

[2021-02-10 15:19] sarahelshabrawy commented on #3579
So my approach is to delete the String URL reference from all translation .json files and add an anchor tag in expression-preview-dialog class to stand for all languages, Another change is to replace .text() with .html() in order to render the html content of the String of the table cell
Below is a screenshot of the link rendered
![image](https://user-images.githubusercontent.com/58959185/10752607

[2021-02-10 16:26] singhakshita commented on #3518
we  also get an option to change data type  to boolean through "edit" option in each cell  which shows false for every other data except for only "true"  ,according to me it should also consider 0,1,null as some deciding factor .just wanted to know your opinion on this .
should 'to boolean " convert any string to false as it doing now ?

[2021-02-10 16:53] wetneb commented on #3579
I think allowing HTML in translations is a sensible way to go. Since we review the translation updates as pull requests we can consider these strings as trusted. Allowing HTML markup could be an opportunity to style code samples more nicely (such as `row.index` instead of 'row.index').

[2021-02-10 17:02] wetneb commented on #3518
I would probably keep things simple: keep the current behaviour of the "edit" dialog for a single cell, and use the same behaviour for the common transform you will introduce.

We can of course add support for other values but as soon as we start doing this, we run into the problem that the list is never going to be exhaustive. @thadguidry @ostephens do you have opinions about this?

That being sa

[2021-02-10 17:06] kushthedude opened #3605 "Openrefine unable to query sqlite3 database"
While importing data from sqlite3 database, openrefine always errors out on `Invalid or missing Query Info`
### To Reproduce
Steps to reproduce the behavior:
1. Connect the sqlite3 DB
2. Then, write this query `select NDB_NO from FOOD;`
3. Finally, try previewing and see the error

### Current Results

<img width="997" alt="Screenshot 2021-02-10 at 10 33 07 PM" src="https://user-images.githubuserc

[2021-02-10 17:07] kushthedude commented on #3605
@wetneb Is this a valid issue or I am doing something wrong, as I have not used the DB import much in openrefine?

[2021-02-10 17:16] thadguidry commented on #3518
@wetneb are you talking about the String value `null` or [null terminator](https://en.wikipedia.org/wiki/Null_character) (C0 \u0000)?

No matter, String value `null` or null terminator should be allowed to be transformed by a user with GREL, I would say.  The problem we will have is sometimes around the null terminator codes or byte representations (but 2 pass data type transforms are usually how

[2021-02-10 17:19] sarahelshabrawy commented on #3579
I agree, I will go with that approach then and create a pull request.

[2021-02-10 17:30] kushthedude commented on #3434
Looks like we don't need this as of now. Closing the issue as we are already using the homemade script for `./refine ui_tests`

[2021-02-10 17:30] #3434 closed

[2021-02-10 19:04] tfmorris commented on #2519
OK, based on that (which contradicts the current "Expected Behavior" text), I will update the ticket to match the behavior that is implemented by the PR.

[2021-02-10 19:36] psmukhopadhyay opened #3607 "Support custom HTTP headers"
**Description of feature request**
Some API services that support GET request expect custom or extended HTTP header keys like this (a name-to-gender inference service):

Call

curl -X GET "https://v2.namsor.com/NamSorAPIv2/api2/json/genderFullGeo/Dilip+Mukhopadhyay/IN" -H  "accept:application/json" -H  "X-API-KEY:**********************************************"

Response

{"script":"LATIN","id":nul

[2021-02-10 19:49] tfmorris commented on #3604
I'm pretty sure this used to work, so this is a regression.

[2021-02-10 19:52] johanricher commented on #3354
I am trying out reconciliation and upload with my Wikibase instance and reconciliation service and encountering the same issue as originaly posted above: Issues tab blank, same message in the Preview tab and same Java exception log.

I don't understand why I have this issue since I'm using OpenRefine on the master branch and it's been fixed months ago. Did I miss something?

[2021-02-10 19:56] thadguidry commented on #3607
I think for the proposal it should support **many** custom fields (not only an "Authorization (eXtended)" field where the interface could be improved with a small table to hold the KEY : VALUE input boxes (and perhaps scroll-able, if the user has many custom fields to input), similar to how Postman, or RESTful test services in the browser allow a user to input multiple custom HTTP headers to test

[2021-02-10 20:25] tfmorris commented on #3605
It's a bug. It got broken by this commit ded6ca07d1fb1f88f1b7f9bae7e1de6d3c22e311 - because we didn't have test coverage :)

[2021-02-10 20:58] thadguidry opened #3608 "remove /javamail folder and files no longer needed"
On the [mailing list discussion](https://groups.google.com/d/msgid/openrefine-dev/CAChbWaNWKPuec59kdQjwsNObn7_WTzCmBzEojGTOBkb5zgbyGg%40mail.gmail.com?utm_medium=email&utm_source=footer) @thadguidry stated:

@tfmorris replied:

[2021-02-10 21:15] #3608 closed

[2021-02-10 22:37] tfmorris commented on #3054
Sorry this got ignored. There are actually two bugs here:

- can't access public Google Sheets (which is duplicated by #3604)
- can't log in to Google (because it shows the spinner by default instead of the "sign-in and authorize" button)

I'm going to repurpose this to focus on the second problem since we have another ticket for the first. The second problem is also mentioned in #3312.

[2021-02-10 22:45] tfmorris commented on #3312
This is blocked by #3054.

[2021-02-11 18:02] tfmorris commented on #1595
I find it hard to believe that the majority of users think that the described behavior is "most preferred."

The most logical results, to my mind, are:

1. `"string" + null == "string"`
2. `"string" + null` => error

What advantage do "The Majority of Our Users" find to `"string" + null == null`?

[2021-02-11 18:49] tfmorris opened #3616 "Support Unicode in kNN nearest neighbor clusterers"
The current tokenizer which is used to normalize & tokenize text isn't Unicode aware. We can either enhance it or switch to a different tokenizer. The SecondString tokenizer provides functionality, with associated overhead, that we don't use, so we may want to switch to something simpler that returns Java `String`s as opposed to `Token` objects.

This should include updating the regexes used for p

[2021-02-11 18:50] #3054 closed

[2021-02-11 18:50] #3604 closed

[2021-02-11 18:54] #2519 closed

[2021-02-11 18:56] #3312 closed

[2021-02-11 19:07] tfmorris opened #3618 "Performance optimization of kNN (nearest neighbor) clusterer(s)"
A cursory analysis of the current clustering indicates that there are a variety of performance improvements possible. This issue is to capture the results of that brief analysis for future expansion / triage.

- higher performance N-gram tokenization is possible
- we might want to check for and warn about large blocks that are over a certain threshold since they're going to cause the n^2 distance

[2021-02-11 19:36] thadguidry commented on #1595
@tfmorris Tom, sorry, I should have been more clear.
Context is king, so let's agree there are 2 contexts here being discussed previously that we didn't perhaps make more clear:
- `+` as an arithmetic Addition operator
- `+` as a unary operator (allowed currently in our code for concatenation of a few Types)

I am restating the following to be more clear, in regards to using the unary operator for

[2021-02-11 19:46] thadguidry commented on #3618
@tfmorris Thanks for this issue, Tom.  Looking forward to any improvements.

[2021-02-12 10:24] ostephens commented on #1595
My reasoning when I raised this issue initially is that this "smart default" should be that
"string" + `null`
and
"string" + `null`.toString()

would give the same result. I still believe this would be the best outcome, and still believe that the best "smart default" behaviour is to convert `null` to an empty string in both scenarios. I haven't gathered a body of evidence for this so it's based on

[2021-02-12 10:58] fgiroud opened #3623 "Change eslint default printWidth"
JS test code is formatted by prettier

Default print width of 80 makes the tests extremely difficult to read
Example in create_project.spec.js

Can we switch to 120 at least?

[2021-02-12 13:16] #3414 closed

[2021-02-12 14:13] kushthedude commented on #3623
Hi @fgiroud I am not sure I understood the issue, can you please point me to the line which is difficult to read in the create_project?

[2021-02-12 14:20] thadguidry commented on #1595
@ostephens The "smart default" should be:
"string" + `null` == "string"
David and I had this conversation years ago.
I just always felt we also needed extra `null` handling controls separate from "" empty string, but it didn't get added into GREL at the time.  Which we offer more granular control now, thanks to all of you.

[2021-02-12 14:21] tfmorris commented on #3623
Prettier is an "opinionated" formatter. If we're changing the options, perhaps we want a different tool.
https://prettier.io/docs/en/options.html

[2021-02-12 14:30] kushthedude commented on #3623
I won't suggest changing the tools, the same set of rules doesn't apply for all projects, that's why prettier has a config file where we can override any rules. Not to mention prettier is just a code beautifier for better readability, so it actually depends upon the community which way they would want to bend the rules.

[2021-02-12 14:33] fgiroud commented on #3623
@kushthedude example
[code]
This should be on one single line, instead, we have 3

@tfmorris prettier is opinionated, and everything stated in the link you provided is actually very true. The thing is that this really make sense in the context of application/software development.
But when writing tests, we often end-up with very long lines because either CSS selectors or the texts we verify are lo

[2021-02-12 14:50] kushthedude commented on #3623
Isn't breaking each cypress command on its own line providing better readability? All of our test files have been broken this way from each cypress command to get better readability of list of operations being performed by the cypress. Increasing it to 120 will make other changes like

[code]
#### to
`cy.getCell(1, 'Water').trigger('mouseover').find('a.data-table-cell-edit').click();`

I dont' hav

[2021-02-12 14:53] fgiroud commented on #3623
Good point! So I guess we need to test the two configs 80/120 and see what brings the best readability

[2021-02-13 04:36] matiasgarciaisaia opened #3628 "Google Data doesn't work with Google Workplace (ex GSuite)"
### To Reproduce
Steps to reproduce the behavior:
1. Download OpenRefine 3.4.1 for macOS (dev versions will also do, but running the official discards any OAuth credentials issue)
2. Execute the OpenRefine app. The default browser navigates to http://127.0.0.1:3333/
3. On `Create Project`, navigate to `Google Data`, and click the `sign in and authorize` button.
4. Log in **with a Google Workplace

[2021-02-13 10:58] gitonthescene opened #3629 "Processing of reconciliation is slow?"
As discussed on [Gitter](https://gitter.im/OpenRefine/OpenRefine), I'm developing a [reconciliation service](https://github.com/gitonthescene/csv-reconcile) and I noticed that the time it takes to do the fuzzy search is dominated by the time it takes to process the results.

I'm not sure if you have access to Python, but I've tried to make the [instructions](https://github.com/gitonthescene/csv-re

[2021-02-13 13:19] S-Harshit commented on #3553
If no one is working on this, I would like to work on it.

[2021-02-13 15:50] HichemDax commented on #1908
Is this bug fixed? I ran into the same issue with 3.4.1

[2021-02-13 16:11] wetneb commented on #1908
This fix will go in 3.5, it has not been released in 3.4 sadly.

[2021-02-13 17:01] HichemDax commented on #1908
No worries, any workaround?

[2021-02-13 17:17] wetneb commented on #1908
You could use a snapshot release from https://github.com/OpenRefine/OpenRefine-snapshot-releases/releases

[2021-02-13 18:08] singhakshita commented on #3290
can i work on this issue ?
also as @thadguidry suggested should we extend the function to  have one more boolean parameter of knowing  whether to  join the empty the string or not ,into all array.join methods ?
what's the final decision  of expected behaviour taken on this issue?

[2021-02-13 19:08] HichemDax opened #3630 "Adopt Excel workbook and worksheet in project."
Our most case scenario is that we receive data from our customers to import in a new system, the sheets are mostly very related to each other like items master and items transactions etc. uploading each sheet in a separate project is time consuming and makes it less handy when it comes to cross checks and foreign keys and vlookups.

### Proposed solution
I'd suggest to have the facility to import

[2021-02-13 19:16] franparras commented on #3630
This functionality works really well in Openrefine. Not sure if I am missing something.

[2021-02-13 19:16] HichemDax opened #3631 "The ability to send a subset of data to data owner for correction."
This feature is critical in our job, we receive data that need cleansing but most of the times we cannot update ourselves so we need to send the marked lines to the data owner for correction with a column stating the remarks.
We are currently doing it via Excel only but facing many issues in the versioning and get lost in the emails.

### Proposed solution
To have the ability to send marked for re

[2021-02-13 19:21] HichemDax commented on #3630
@franparras are you sure you can import multiple sheets within same project? I will be very happy to show me how.

[2021-02-13 19:54] franparras commented on #3630
Yes I am.. :) tomorrow I will paste here an screenshot with the evidence :) it is by default so you don´t need to do anything special.

[2021-02-13 20:20] tfmorris commented on #3628
It would be worth retesting with a build from the latest sources (you'll need your own client id & secret, as well as API key), because we just recently added the API key, which could possibly affect this (although I think it's somewhat unlikely).

Other than that, it's just going to require standard debugging by someone with access to the type of account that fails (ie probably no one on the core

[2021-02-13 20:27] matiasgarciaisaia commented on #3628
I've first experienced this on top of 389fa6257d560924157b1ba5e22b3222e2367706 (last night's `master`) while implementing #3627, but then went back to the latest official release in order to rule out any mistake of my own while creating the OAuth credentials on Google (I've followed [the wiki article](https://github.com/OpenRefine/OpenRefine/wiki/Google-Extension), but the fact that it also happen

[2021-02-13 20:28] franparras commented on #3630
[](url)
[Excel Workbook Openrefine.pptx](https://github.com/OpenRefine/OpenRefine/files/5976486/Excel.Workbook.Openrefine.pptx)

[2021-02-13 20:29] franparras commented on #3630
Document attached

[2021-02-13 20:39] tfmorris commented on #3628
Apologies - those directions hadn't been updated yet to include the API key (it was just added a few days ago). It's added now, although I'm not 100% sure that the described method of editing `refine.ini` works. I think it didn't the last time I tried, but I didn't have time to track down whether I'd made an error or there was a problem with the code.

[2021-02-13 20:42] HichemDax commented on #3630
Unfortunately, that's not what am looking for.

[2021-02-13 20:42] tfmorris commented on #3630
OpenRefine will import as many sheets as you want from a workbook into a single project, but it doesn't have the concept of a multisheet project. That would be a major change to the data model and unlikely to happen in the near future.

I'd suggest thinking about ways that you can either work with everything in the same project (you have the option of tagging each row with its source sheet name) o

[2021-02-13 20:44] HichemDax commented on #3630
Thank you @tfmorris.

[2021-02-13 20:46] franparras commented on #3630
I guess we need to bear in mind that my recipe here is the wow factor and not really create a project with multiple sheets, in my mind, handling the dataset and the rules is the key value, and not really a static dataset. Personally I don´t see value to change what we have today, OpenRefine is not excel.

[2021-02-13 21:03] matiasgarciaisaia commented on #3628
Thanks @tfmorris. I've just tried adding the API Key, but with the same results.

Looking at the source code, the line that's raising the exception is this one:

[code]

And I'm not sure how to debug that `GoogleAuthorizationCodeTokenRequest` since it comes from a dependency. I don't see any issue or release note regarding GSuite accounts on [the dependency's repo](https://github.com/googleapis/go

[2021-02-14 06:46] gitonthescene opened #3632 "Deleting a reconciliation service fires of a reconciliation attempt against it."
### To Reproduce
Steps to reproduce the behavior:
1. First, select Start Reconciling to bring up the Reconciliation dialog
2. Then, click the [x] to remove a reconciliation service
3. Finally, notice that instead of simply removing the service it tries to reconcile against it and you have to quit that operation.

This is a minor nit since canceling the run is easy enough.  I just thought it worth

[2021-02-14 12:04] pvcodes commented on #3363
Hi @wetneb, Is anyone working on this issue right now?

[2021-02-14 13:48] wetneb commented on #3363
@pvcodes what is your guess, based on the discussion above and the assignee of this issue?

[2021-02-14 13:53] wetneb commented on #3631
Hi @HichemDax, thanks for this feature request!

It would be good if you could elaborate a bit on this use case. At the moment it is not clear to me what exactly you need to change in OpenRefine to make this workflow possible. It is currently possible to export a selection of lines and send it to someone (although the sending itself is not handled by OpenRefine). In your alternative workflow you m

[2021-02-14 14:01] wetneb commented on #3632
I think I remember seeing a fix for this, so it probably has been resolved on master but the fix has not been released yet.

[2021-02-14 14:09] wetneb commented on #3630
I wouldn't mind keeping an open issue about this - as @tfmorris explained, making it possible for projects to contain multiple tables is a major change that is unlikely to happen soon, but I think it is still a legitimate ask. Even if we don't have immediate plans to work on this it would be nice to gather use cases around it.

Pinging @swkasica who has been thinking about better multi-table suppo

[2021-02-14 14:29] pvcodes commented on #3363
Yeah! I think @SmritiSharmaBG on it.

[2021-02-14 14:30] pcmourya commented on #3427
I am interested to work on this, may I proceed with this.

[2021-02-14 14:46] wetneb commented on #3427
Let's first ask @AhwiniMirajkar if they are still working on this.

[2021-02-14 14:49] pcmourya commented on #3427
Sure sir.

[2021-02-14 14:58] wetneb opened #3633 "Database extension tests are not run"
The backend tests for the database extension (support for SQL import/export) are not currently run, when running tests locally. In the CI, they are run (because we use a specific configuration file in that context).

It is good that tests requiring a database engine are not run by default (we do not want OpenRefine developers to have to run multiple database engines just to run the tests, especial

[2021-02-14 16:34] thadguidry commented on #3633
@wetneb Thanks for addressing this.  Curious, then should the file or maybe folder itself be renamed then to match the usage; that of CI tests?
FROM:  extensions/database/tests/conf/tests.xml
TO:  extensions/database/tests/ci_conf/ci_tests.xml

[2021-02-14 16:37] wetneb commented on #3633
It's precisely the file that is *not* for the CI. The ones that are for the CI are `appveyor_tests.xml` and `github_actions_tests.xml`.

[2021-02-14 16:46] thadguidry commented on #3633
@wetneb Ah, understood.

[2021-02-14 18:20] kushthedude opened #3636 "Require branched to be sync in master before merging"
https://github.com/OpenRefine/OpenRefine/pull/3626#issuecomment-778817086

- As we can see accidentally unlisted code was committed into the repo due to the pull_request_target event. It is utmost necessary that we should prevent such mishaps till the that we don't shift into pull_request event.

- To assure that merged branches from a PR are up-to-date with the master, GitHub provides us with a g

[2021-02-14 18:29] wetneb commented on #3636
I would be happy with trying this out, perhaps as a temporary measure until we properly fix our GitHub Actions setup. But I could not find this option in the settings, do you know where to find them @kushthedude?

[2021-02-14 18:38] kushthedude commented on #3636
This would be available under `branch protection rule`,
- Go to Settings>Branches
- Under the heading `Branch Protection Rules` if there is any rule present for master branch then click on edit and enable the above radio button.
- If no rule is present then click on add rule, add `master` as branch name pattern and enforce the rules as required.

[2021-02-14 18:57] wetneb commented on #3636
Ok thanks, I found it. @tfmorris would you be open to trying this?

[2021-02-14 19:23] wetneb opened #3638 "XML importer silently fails if file is slightly invalid, it should be more accepting"
The XML importer rejects HTML files which are accepted by browsers. For instance, consider the example file supplied below, which starts with these lines:
[code]

Our importer chokes on the `Content-Type` which is not enclosed in quotes. The following error is thrown in the console, without reporting anything in the UI:
[code]

### Proposed solution

* Such an error should rather be reported to th

[2021-02-14 21:06] tfmorris commented on #3636
I've enabled it and made the Java 14 status check mandatory (we can add other checks as mandatory too, but we need at least one for this to work).

The one thing I'm not super keen on is that the "Sync" button encourages developers to merge `master` to the PR branch, rather than rebasing the PR branch on `master` which seems like it'll pollute the commit history with lots of extra merge commits.

[2021-02-14 21:36] tfmorris commented on #3638
We are unlikely to be able to handle arbitrary HTML (which can be pretty messy) with our XML parser. If it's not valid XHTML, we'd need to switch to something like [JSoup](https://jsoup.org/)

[2021-02-14 21:51] thadguidry commented on #3638
For this use case, it might be possible to just tweak Xerces2 and maybe use XInclude or other optional features to disregard those non-conforming elements when found and continue parsing as `parse=xml`?  I sorta remember some of the Xerces options from back in the day, but I'm sure either one of you can dive into what is possible:
https://xerces.apache.org/xerces2-j/faq-xinclude.html
https://xerce

[2021-02-14 22:38] gitonthescene commented on #3632
FWIW, I did try to search through the issues first before posting.  I didn't see it mentioned.

[2021-02-15 05:02] gitonthescene commented on #3629
Hmm..  Strangely it looks like I need to use JSONP for this service only to add the service.  Once the service is registered that seems not to be required.  Note that this is a service running on local host so that [CORS shouldn't be required](https://github.com/reconciliation-api/specs/issues/64).  I can set up CORS, but that means setting up an ssh certificate, etc., which is a bit of a pain as

[2021-02-15 05:11] gitonthescene commented on #3629
Actually, let alone development, simply running a local service shouldn't require setting up local ssh certificates, etc.  This app for instance is meant to be run locally to be able to reconcile against a CSV file.

[2021-02-15 06:09] singhakshita commented on #3215
@wetneb @thadguidry @tfmorris  after the PR #2519  ,i guess this issue must have been automatically resolved?

[2021-02-15 06:11] singhakshita commented on #3215
i guess after the PR for the issue #2519 this issue must have automatically been resolved?

[2021-02-15 06:19] singhakshita commented on #3580
can i work on this?

[2021-02-15 06:21] gitonthescene commented on #3629
Sorry.  I still think it strange that JSONP is required only for adding the service when not using CORS, but I was wrong about CORS requiring ssh.  With [flask-cors](https://flask-cors.readthedocs.io/en/3.0.10/) it was easy enough to implement, so I've removed JSONP and added CORS.

[2021-02-15 07:12] wetneb commented on #3636
As long as we remember to always use the "Squash" option rather than the "Merge" one (except for Weblate PRs), then merging master into PR branches should be fine.

[2021-02-15 07:14] wetneb commented on #3215
Thank you, indeed!

[2021-02-15 07:14] #3215 closed

[2021-02-15 07:17] wetneb commented on #3580
Sure!

[2021-02-15 08:44] fgiroud commented on #3623
@kushthedude thinking about my last comment, actually breaking the lines is not linked to the print width.
Even with 80, you would still have `cy.getCell(1, 'Water').trigger('mouseover').trigger('somethingelse');` on one single line
So keeping 80 doesn't really enforce breaking cypress commands, this is just a side effect that works in many cases

Voting for 120, for a better tests readability :-)

[2021-02-15 10:18] fgiroud commented on #3423
I am curious about the expected behavior of split & join
See the PR

### Split

#### Splitting by length

When splitting a cell by field length, given one single number as input, the function doesn't do anything
Bug or expected behavior ?

#### Splitting by transition

Split by transition from lowercase to uppercase
Given a grid with one single cell `BuTtEr`
I am expecting to have one row per lett

[2021-02-15 12:10] sardug10 commented on #3554
Hey, I have read these articles and have learnt about Cypress through their documentation and some of the videos.  What should be my next steps?

[2021-02-15 13:31] fgiroud commented on #3554
Hello, you can follow the [getting started guide](https://docs.openrefine.org/technical-reference/functional-tests/), that will guide you to write your first test
You next step would be to add test scenarios for what is described in this issue

[2021-02-15 15:37] tfmorris commented on #3629
Yes, I got blocked on the JSONP issue when I tried to profile the code and gave up. I'll try to circle back some time to take another look.

[2021-02-15 17:29] singhakshita commented on #3580
@wetneb just wanted to confirm that whatever language is chosen ,GREL,python,.. the help dialog content remains the same ,
so is the excepted behaviour is to show to GREL link always or should it disappear when a language other than GREL is chosen?

[2021-02-15 18:01] #3633 closed

[2021-02-15 21:10] NikitaEmberi commented on #3579
Hey, I am new to open source contribution. I see even though @sarahelshabrawy  has issued a pull request, there were merge conflicts. This issue seems like something I could work on. I am not sure if @sarahelshabrawy is already working on it, can I also try for the same issue?

[2021-02-16 01:23] tfmorris commented on #3579
@NikitaEmberi The issue is still assigned to them and the last activity was only a few days ago. Please choose an issue which isn't assigned to anyone.

[2021-02-16 06:51] NikitaEmberi commented on #1122
Hey I am new to open source contribution. Can I work on this issue?

[2021-02-16 08:03] gitonthescene opened #3645 "Double check the reconciliation manifest each time reconciliation is fired."
This is not a high priority issue, but while developing a reconciliation service, I stopped and start the service several times while making modifications.  It looks like the service manifest is only checked when the service is added.  So that if it changes between restarts changes to the manifest are not picked up unless the service is deleted and restarted.

### Proposed solution

Perhaps we cou

[2021-02-16 08:03] wetneb commented on #1122
Sure!

[2021-02-16 08:58] singhakshita commented on #3580
@wetneb  this issue has some connection with issue #1122  as well , so will the entire GREL reference link added on the top would do ?
<img width="571" alt="Screenshot 2021-02-16 at 1 54 54 PM" src="https://user-images.githubusercontent.com/52077474/108040206-0a312c00-7063-11eb-81e3-21303915bced.png">
will this be sufficient?

[2021-02-16 13:38] sardug10 commented on #3554
Hello, a quick question. The test scenarios that I have to add are of client-side and I have to write them in JavaScript and to do this I need to install OpenRefine on my local machine which requires JDK? I am asking this because I am just confused about where should I start?

[2021-02-16 16:45] fgiroud commented on #3554
Yes, on the step2 of the getting started guide, notice the step to start OpenRefine `./refine`, this will start the software
From there, you can run existing tests, and add new ones, in the src/tests/cypress directory

[2021-02-16 17:05] lozanaross commented on #1713
@wetneb  just checking in to see if there's been any development on this or if there are any plans to implement this soon. It would actually be really valuable for custom Wikibase integrations, because apparently unknown values are not supported by wikidata integrator either, so not many options to work with that without resorting to manual editing.

[2021-02-16 17:08] wetneb commented on #1713
We can try to attract a bit more attention to this issue, since it is not that hard.

[2021-02-16 18:54] kushthedude commented on #3636
Looks like this has been already enabled!

[2021-02-16 18:54] #3636 closed

[2021-02-16 20:26] NikitaEmberi commented on #2716
Hey Can I work on this issue?

[2021-02-17 12:00] sarahelshabrawy commented on #3579
I solved the conflicts I had.
I opened a new PR and I'm waiting for a review.

[2021-02-17 12:21] Mo-hamdy2000 commented on #3565
@wetneb I have made the required changes in the pull request, kindly could you review it ?

[2021-02-17 14:14] singhakshita commented on #3577
can i work on this issue ?

[2021-02-17 17:24] NikitaEmberi commented on #1940
I started working on this issue by adding back quotes to each column name before exporting to sql to allow name flexibility. Please can you assign this issue to me. Thanks.

[2021-02-17 21:38] wetneb commented on #3580
I think it would be good to make it clearer that the variables are actually language-independent. The functions are indeed only documented for GREL. We could consider only showing them (and the associated documentation link) when GREL is selected, but perhaps that's out of the scope of this issue.

[2021-02-18 10:00] gitonthescene commented on #3028
FWIW, I'm seeing this as well with OpenRefine 3.4.1, Firefox 84.0.1.  These are the reconciliation preview pop-ups.

[2021-02-18 13:40] jneubert opened #3651 "Inactive links to Wikidata items in linux installations"
v3.4.1, installed on Kubuntu 20.04 and on Redhat EL 7.9, checked with current Firefox and Chromium browsers

### To Reproduce

Import a Wikidata [project](https://zbw.eu/beta/tmp/P0x_en-csv.openrefine.tar.gz)  created and exported in OR 3.4.1 on Windows, with some existing Wikidata mappings

### Current Results

Links to Wikidata items are visible, but not clickable (do not take you to the item pa

[2021-02-18 14:10] fgiroud commented on #3423
Looks like all of those are expected behaviors of OpenRefine
Splitting by transition works when a part of the strings is in lowercase, followed by uppercase

[2021-02-18 14:14] fgiroud commented on #3623
@kushthedude @tfmorris
Looks like I am the only one requesting a change at this level, so I suggest to close this.
Another reason is that if we change the linting rules now, all Opened PR will failed, time for the community to resynch all their forks
Let's close this for now, we can revisit this option later if necessary

[2021-02-18 14:15] #3426 closed

[2021-02-18 14:44] fgiroud commented on #3423
Actually @wetneb I still have one question
How does the join works ?
I have tried the following

[code]
[code]

But nothing seems to work

[2021-02-18 16:37] lydiapintscher commented on #3274
Does one of you have a regular expression and a test case that shows what doesn't work? Sorry it's a bit hard for me to piece together what the problem is now.

adding @lucaswerkmeister and @addshore

[2021-02-18 16:55] lucaswerkmeister commented on #3274
There is no regexp validator in Wikidata. [format as a regular expression](https://www.wikidata.org/wiki/Property:P1793) is a string property – for all Wikidata cares, you can put [Malbolge](https://en.wikipedia.org/wiki/Malbolge) code in there and it’ll still be saved. Different users can interpret the values differently – for example, according to the [format constraints documentation](https://w

[2021-02-18 17:18] wetneb commented on #3274
Yes, there is clearly a bug to fix on our side. I am not sure which validation @verdy-p was referring to in this part:

If that validation itself is not in Wikibase itself then we need to figure out where this is coming from! (In that case very sorry for the false alarm, @lydiapintscher and @lucaswerkmeister ).

[2021-02-18 17:24] ostephens commented on #3274
@lucaswerkmeister I updated the P304 "format as a regular expression" property over a week ago to fix the problem so it's now
`(?'r'(?'p'(?'d'\d+)(?'w'[A-Za-z]+)?|\g'w'(?:\g'd'\g'w'?)?)(?:[-–]\g'p')?)(?:,\s?\g'r')*`

Is there any reason WikibaseQualityConstraints is still reporting on the older expression?

[2021-02-18 17:42] jneubert commented on #3651
The issue seems to occur only with the imported project. When I run the reconsiliation in a newly created project, Wikidata links work as expected.

[2021-02-18 17:45] jneubert commented on #3651
The issue does not occur with a project exported and re-imported on RHEL

[2021-02-18 17:52] wetneb opened #3652 "LGTM build is broken"
The LGTM service seems to be running tests when it attempts to check our pull requests, but the database extension tests fail because the corresponding databases are unavailable.
We should fix this: it is not clear to me why we would need to run any tests on LGTM.

Example build:
https://lgtm.com/projects/g/OpenRefine/OpenRefine/logs/rev/pr-bbec6ee044d3fb9c1abb9fd4b5b3d13d306cb2be/lang:java/stage:

[2021-02-18 18:17] tfmorris commented on #3423
Split by case transition is directional with separate cases for lower->Upper and Upper->lower, so the behavior that you're seeing is expected.

`join` takes an array, so you'd want `[1,2,3,4].join(',')` to get your second case (unless I've got the parameters backwards).

If you're talking about "Join multi-valued cells", it's designed to work with records and join the values for the rows in the re

[2021-02-18 18:40] lucaswerkmeister commented on #3274
I don’t follow – I still see a bunch of `(?…)` in that regex, presumably WBQC is complaining about those. Or is `(?'…)` special syntax? (I didn’t find anything like it in the [Pattern javadoc](https://docs.oracle.com/javase/8/docs/api/java/util/regex/Pattern.html).)

[2021-02-18 19:47] ostephens commented on #3274
Those are subroutine call groups which are supported in PCRE. You can see it validates on [regex101](https://regex101.com/?regex=(?%27r%27(?%27p%27(?%27d%27\d+)(?%27w%27[A-Za-z]+)?|\g%27w%27(?:\g%27d%27\g%27w%27?)?)(?:[-–]\g%27p%27)?)(?:,\s?\g%27r%27)*&)

The correction I made was a typo in the expression (\g'n' instead of \g'd') which made it invalid whether subroutine call groups are supported o

[2021-02-18 21:17] NikitaEmberi commented on #1940
will the back quotes added to column names like this would do?
![image](https://user-images.githubusercontent.com/59737567/108422538-b1c57e80-725c-11eb-9f90-334df38874f3.png)

[2021-02-19 03:07] gitonthescene commented on #3028
I think the menu is created [here](https://github.com/OpenRefine/OpenRefine/blob/7bccdd1bcffb7c3e1f8a95d28010ee5cc3ef6028/main/webapp/modules/core/scripts/views/data-table/cell-ui.js#L477) and the positioning is calculated [here](https://github.com/OpenRefine/OpenRefine/blob/82b1cf0bfaf3c8ab57a12e0f2004bdeb71432383/main/webapp/modules/core/scripts/util/menu.js#L108).  I’ll see if I can debug the c

[2021-02-19 06:13] verdy-p commented on #3274
Have you read the talk page in P304: it is explained there, and yes it is a PCRE feature (named subroutines). The Pattern javadoc is about more limited patterns in Java, not PCRE patterns used in Wikidata (or in a PCRE extender library for Java).

Also care was taken to flag non-capturing groups, instead of using simple parentheses for alternates (they would create captures by default without the

[2021-02-19 10:29] lucaswerkmeister commented on #3274
Well, if you want the regex to be understood by WikibaseQualityConstraints and OpenRefine, you’ll need to stick to the common subset of PCRE and java.util.regex.

[2021-02-19 11:24] wetneb opened #3656 "Wikibase schema serialization issues"
In the migration to arbitrary Wikibase support, some changes to the Wikibase schema serialization were introduced.
The following fields were added:
* `mediaWikiApiEndpoint`
* `editGroupsURLSchema`

I can see two problems with this:

### Lack of serialization of `editGroupsURLSchema`

This field is currently marked as `@JsonIgnore` so it is not serialized to the schema. This means that when re-open

[2021-02-19 11:35] wetneb commented on #3274
Which suggests that we should consider using a different regex engine whose features match Wikibase's better.

[2021-02-19 14:15] verdy-p commented on #3274
But Wikibase uses PCRE (in fact it is the SPARQL which uses PCRE according
to the definition of SPARQL by the W3C, which indicates which version of
PCRE it matches). Wikibase should use the same choice as SPARQL. But
Wikibase and SPARQL both support "named capture groups" the way it was used
and described in Wikidata's P304.
So the website regexp101 shows that this syntax is valid, and it works. I

[2021-02-19 14:26] tfmorris commented on #3656
I'm surprised the backward compatibility is considered a "nice to have."  OpenRefine has traditionally tried to always migrate smoothly from one version to the next.

If we're going to address this, it needs to be done for OpenRefine 3.5.

[2021-02-19 14:30] verdy-p commented on #3274
Also note that Wikidata really HAS a validtor for regexps, technically the
reference to \g'n' was not syntaxically incorrect, it was just not working
because the name 'n' of the subroutine was not defined in the regexp itself
before its use by " \g'n' ".
Wikidata validates the syntax, but does not check that named subroutines
are defined. An in regexp101 a subroutine call to an undefined subroutin

[2021-02-19 14:39] wetneb commented on #3656
Yes, my wording was imperfect, I agree with you on the severity of this. I did not to phrase it too harshly because I haven't actually checked that we currently have a backwards-incompatibility here. Perhaps @afkbrb has thoughts about this?

[2021-02-19 15:14] lucaswerkmeister commented on #3274
to the definition of SPARQL by the W3C, which indicates which version of
PCRE it matches).

Where do you get that from? The [SPARQL 1.1 REGEX function](https://www.w3.org/TR/sparql11-query/#func-regex) is defined in terms of XPath `fn:matches`, using [XPath and XQuery regular expression syntax](https://www.w3.org/TR/xpath-functions/#regex-syntax), which in turn is based on [XML Schema regular expr

[2021-02-19 18:22] verdy-p commented on #3274
May be it has been disabled, for you but I have a validation running that
blocks such insertion when submitting. At least it checks that enclosing
delimiters are correctly paired May be it does not run for everyone or
there's a setting.

As well using unanchored regexps gives more false positives with partial
matches (and slower execution of the parser, giving more timeout errors).
So anchors are

[2021-02-19 20:43] swkasica commented on #3630
I agree that OpenRefine is not Excel, and that a tool that is really good at a few things is ultimately more useful than a tool that is only OK at many things. But my perspective on this is that a lot of the tasks that OpenRefine does really well, entity resolution via clustering for example, are closely tied to this issue of merging multiple datasets together, and I would bet some users would app

[2021-02-19 21:31] pjfanning commented on #2221
@tfmorris this format is now partially supported in https://github.com/pjfanning/excel-streaming-reader - there is at least one issue to fix but that is in progress

[2021-02-20 03:47] MohamedMetwalli5 commented on #3575
Could I work on this issue?

[2021-02-20 07:58] gitonthescene opened #3657 "Use async http for reconciliation"
Reconciliation can take a long time and that’s not helped by the fact that batches are [run synchronously](https://github.com/OpenRefine/OpenRefine/blob/82b1cf0bfaf3c8ab57a12e0f2004bdeb71432383/main/src/com/google/refine/operations/recon/ReconOperation.java#L282).

### Proposed solution

If we used some [async http library](https://github.com/AsyncHttpClient/async-http-client) we could issue all t

[2021-02-20 08:24] wetneb commented on #3575
@MohamedMetwalli5 sure! @AhwiniMirajkar sorry for the lck of reaction on this…

[2021-02-20 08:34] wetneb commented on #3657
I agree the batch size should be configurable: #2549.

I don't think it would be a good default behaviour to "issue all requests in parallel" in general: this is not nice to the reconciliation server even for mid-sized datasets. Say you send batches of 100 queries, on a dataset with 10,000 rows this means 100 HTTP requests: you definitely don't want to fire those in parallel (especially because th

[2021-02-20 08:46] wetneb commented on #3645
Marking as a good first issue, with this scenario in mind: when the user selects a reconciliation service in the reconciliation dialog, we re-fetch the service manifest before doing the type-guessing. This could be done purely client-side, in Javascript, so adding the UI tag.

[2021-02-20 08:49] wetneb commented on #3631
I am closing this issue in the absence of more details on the desired workflow, I can reopen it if these details become available.

[2021-02-20 08:49] #3631 closed

[2021-02-20 08:51] wetneb commented on #3632
Already fixed on master.

[2021-02-20 08:51] #3632 closed

[2021-02-20 08:53] wetneb commented on #3402
If this happens with all web applications, let's close this as there is nothing to fix on our side.

[2021-02-20 08:53] #3402 closed

[2021-02-20 08:53] #3623 closed

[2021-02-20 08:55] wetneb commented on #3590
I would also remove the `start.sh` and `stop.sh` scripts which are not actually shipped in releases anyway.

[2021-02-20 08:57] wetneb commented on #3577
Sure! I am also inviting you to the organization so that you can assign issues yourself.

[2021-02-20 09:04] wetneb commented on #3572
It does not seem intermittent to me, the link is just always broken.

[2021-02-20 09:08] #3529 closed

[2021-02-20 09:11] wetneb commented on #3232
Closing this as this is due to the instability of an external service.

[2021-02-20 09:11] #3232 closed

[2021-02-20 09:14] wetneb commented on #3172
Marking this as a good first issue: the dialog opened by this operation (to pick the reconciliation service) should warn the user that reconciliation identifiers will not be validated.

[2021-02-20 09:19] wetneb commented on #2635
This has been done in the past few releases.

[2021-02-20 09:19] #2635 closed

[2021-02-20 09:50] jquartel commented on #3402
Agreed.

[2021-02-20 09:57] gitonthescene commented on #3657
I can understand that.  That's why I suggested it be part of the service manifest to specify how much parallelism they're able to absorb.  If you're doing 100 queries with 10,000 rows that could take a very long time.  If it's your own service, you might want to simply scale up your back end to speed things up.

[2021-02-20 10:03] wetneb commented on #3657
Yes services could announce which concurrency they recommend, so adding the "reconciliation API design" tag for that.

[2021-02-20 10:08] wetneb commented on #3657
@gitonthescene if you feel like improving the specs on this, it would be fantastic! https://github.com/reconciliation-api/specs/issues/66

[2021-02-20 10:36] wetneb commented on #3565
Closed by #3587.

[2021-02-20 10:36] #3565 closed

[2021-02-20 10:56] wetneb commented on #3652
I have suspended LGTM in our GitHub project settings while this is broken. This is just to make sure we don't get used to ignoring red marks in PR checks. If anyone wants to work on this I can re-enable it there.
https://github.com/organizations/OpenRefine/settings/installations/9833642

[2021-02-20 11:56] #3579 closed

[2021-02-20 14:38] NikitaEmberi commented on #2716
I added back quotes to the column names like this:
![image](https://user-images.githubusercontent.com/59737567/108599452-3debb900-73b7-11eb-9147-015248402865.png)
would this do?

[2021-02-20 15:11] wetneb commented on #2716
I personally don't know - what are the requirements on column names in SQL actually? Is it vendor-specific?

[2021-02-20 15:44] NikitaEmberi commented on #2716
Actually I found that back quotes would work and give flexibility for naming columns for mariadb, mysql and sqlite but for postgreSQL we need to enclose names in double quotes for flexibility of column names. So in order to work for all database types I was thinking of adding option of "export as: " in SQl Exporter dialog and let the users choose in what format would they like to export sql. Would

[2021-02-20 16:02] wetneb commented on #2716
It seems sensible to me.

[2021-02-20 21:08] AniketShahane commented on #3645
Hey, I've been wanting to get into open source for a while. I've worked with javascript quite a bit (React.js and vanilla javascript in general). Can you guide me so that I can make my first contribution to an open source project?

[2021-02-21 05:57] afkbrb commented on #3656
That's exactly what the following code is doing:

https://github.com/OpenRefine/OpenRefine/blob/1e47c612d9bd7dc3fddf9897604ffec20ebc183f/extensions/wikidata/module/scripts/schema-alignment.js#L259-L265

https://github.com/OpenRefine/OpenRefine/blob/1e47c612d9bd7dc3fddf9897604ffec20ebc183f/extensions/wikidata/module/scripts/dialogs/import-schema-dialog.js#L41-L47

[2021-02-21 06:23] afkbrb commented on #3656
As for `mediaWikiApiEndpoint` and `editGroupsURLSchema`, now I think **both could be marked as `@JsonIgnore`**. They are kept in the `WikibaseSchema` class because they are needed in the following code:

https://github.com/OpenRefine/OpenRefine/blob/1e47c612d9bd7dc3fddf9897604ffec20ebc183f/extensions/wikidata/src/org/openrefine/wikidata/schema/WbLanguageVariable.java#L59-L62

https://github.com/Op

[2021-02-21 08:18] sardug10 commented on #3554
Hey, I need some help solving this error.
![Screenshot 2021-02-21 134442](https://user-images.githubusercontent.com/52778617/108619451-f4e54480-744a-11eb-82e6-8cd40c4b89d5.jpeg)
`
error could not find or load main class com.google.refine.refine
Caused by: java.lang.ClassNotFoundException: com.google.refine.Refine
`

[2021-02-21 14:34] singhakshita commented on #3577
@felixlohmeier
1. uniquely identifying each record  and then generating a new column record id .
2. or going through the column of Identifier ( eg. valueURL column of above data)   and if  it is  null for any record ,inject a placeholder .
any of these two  approach would solve the problem  , need your opinion to get started
if i misunderstood anything please let me know .

[2021-02-21 16:28] wetneb commented on #3645
Hi @AniketShahane, sure, thanks for volunteering! The broad steps are listed here: https://github.com/OpenRefine/OpenRefine/wiki/Your-first-pull-request

[2021-02-21 18:00] wetneb commented on #3554
I would try `refine.bat clean`

[2021-02-21 21:58] tfmorris commented on #2716
I don't have a lot of experience in this area, but It seems like double quotes should work for most/all databases, depending on their configuration, however, it also has the side effect of making the identifiers case sensitive and *always* requiring the use of quotes, so definitely seems like something that should be optional.

https://stackoverflow.com/questions/2901453/sql-standard-to-escape-col

[2021-02-22 02:25] gitonthescene commented on #3629
I'm on a mac and don't know a better way to monitor activity than using top.  It looks like you can see where the Python service is doing the fuzzy calculation, but other than that it looks like not a lot is going on.  Ideally I'd like to get my results back sooner.  Any help understanding what's taking so long to get subsequent requests would be appreciated.

FWIW, if this is trying to be nice to

[2021-02-22 03:23] stevevance commented on #1940
@NikitaEmberi PostgreSQL also allows double quotes `"` to escape field/column names that have spaces.

[2021-02-22 11:06] NikitaEmberi commented on #2716
I tried using double quotes for mysql, it still gives errors while importing on the local server but it works fine when I use back quotes. In the same way postgres don't allow back quotes but use double quotes to allow spaces. So I was thinking to write export sql query based on the type of database chosen by user. I have done some work on this. I should be done soon.

[2021-02-22 11:19] NikitaEmberi commented on #1940
Yes sir double quotes works fine with PostgreSQL but when I tried to import it on MySQL or MariaDB it still gave me same errors as mentioned above and then I found that databases like MySQL require back quotes. I was thinking of writing SQL export query based on the database type chosen by user.
I am following the link provided by @tfmorris sir on issue #2716:
https://stackoverflow.com/questions/2

[2021-02-22 12:21] felixlohmeier commented on #3577
Hi @singhakshita, Thank you very much for addressing this issue! @tfmorris commented above that the current behavior of the variable `row.record.cells` could be considered as a bug:

That would be the preferred solution for me as well. My original proposal would thus be obsolete.

Because row.record.cells has always worked this way (at least since Google Refine 2.0), I'm not sure if we should just

[2021-02-22 12:42] singhakshita commented on #3577
Thanks @felixlohmeier  for this elaborated example ,now i completely understand the problem .

[2021-02-22 18:15] VojtechDostal opened #3663 "Support Wikidata reconciliation by distance"
Reconciliation by string matching is useful in many cases, but it is currently (to my knowledge) impossible to find closest items to the matched object.

### Proposed solution
Use case: I have a list of buildings with coordinates (lat,lon). I'd like to find what the closest item(s) to those coordinates are. Additionally I'd like to be able to filter out results by class (subclass of: building) and

[2021-02-22 18:46] NikitaEmberi commented on #2716
If the user connects to PostgreSQL then queries will be exported as:
![image](https://user-images.githubusercontent.com/59737567/108750137-af1d9e80-7566-11eb-861f-65bd51fbb979.png)

If the user connects to MySQL, MariaDB or SQLite then queries will be exported as:
![image](https://user-images.githubusercontent.com/59737567/108750440-03c11980-7567-11eb-921b-59bb32d7ba6a.png)

Would this do?

[2021-02-22 18:49] NikitaEmberi commented on #1940
If the user connects to PostgreSQL then queries will be exported as:
![image](https://user-images.githubusercontent.com/59737567/108754984-ac25ac80-756c-11eb-8f36-1fed00e1f459.png)

If the user connects to MySQL, MariaDB or SQLite then queries will be exported as:
![image](https://user-images.githubusercontent.com/59737567/108754939-9d3efa00-756c-11eb-9e10-b839538eb470.png)

Would this do?

[2021-02-22 19:13] tfmorris commented on #3663
That's a good suggestion, but it needs to be implemented in a reconciliation service, not OpenRefine. It could be an enhancement to https://github.com/wetneb/openrefine-wikibase or it could be a specialized reconciliation service.

OpenRefine would send columns like `Name`,  `SubclassOf`, `Latitude`, and `Longitude` (perhaps `Altitude`?) and the service could use those in its scoring algorithm. Th

[2021-02-22 19:19] VojtechDostal commented on #3663
Sorry, I did not realize that the reconciliation service is developed separately. I guess we can close it here and I'll post the issue there?

[2021-02-22 19:37] tfmorris commented on #3663
@wetneb May be able to transfer the issue (not sure if that works between organizations). Why don't we wait for him before you go to the effort of recreating it.

[2021-02-22 20:56] RicardoOrtizG commented on #3512
It happened always, from 2.8 to 3.0 and from 3.0 to 3.4. I hope this helps

[2021-02-22 21:01] RicardoOrtizG commented on #3514
Sorry, I put a wrong URL. I was trying to delete the files I mentioned in the issue [#3511 ](https://github.com/OpenRefine/OpenRefine/issues/3511)

[2021-02-22 21:23] RicardoOrtizG commented on #3511
Thanks for the answer,
I tried to use the 3.4.1. version but I have the same encoding problem until it completely collapsed when I tried to delete the "bad" files.([#3514](https://github.com/OpenRefine/OpenRefine/issues/3514) ). Now I come back to the 3.0 version.

I hope it helps, but checking the workspace I think the problem might be the procedure when migrating from versions, I didn't make the

[2021-02-23 02:52] tfmorris opened #3664 "Every other reconciliation batch fails in 3.5"
With the current development version, every other reconciliation call fails with a `NoHttpResponseException`, apparently because it's attempting to reuse a closed connection.

### To Reproduce

Reconcile a project with more than 20-30 rows and observe that the console logs failures on every other call.

### Current Results
Every other batch fails with an HTTP error.

### Expected Behavior
All batc

[2021-02-23 02:54] tfmorris commented on #3629
I'm able to reproduce this with 3.4.1, but the HTTP code has been completely rewritten for 3.5, so I'm not sure it's worth spending a lot of time debugging the problem. The problem doesn't exist in 3.5, although there's another problem (https://github.com/OpenRefine/OpenRefine/issues/3664) with reusing HTTP connections that causes every other reconciliation batch to fail.

I profiled this and the

[2021-02-23 03:10] gitonthescene commented on #3629
That’s fair enough.  That range sounds much more workable.  If I see the problem in 3.5 I’ll open a new issue.  Feel free to close this one.

[2021-02-23 13:54] georgiawebgurl commented on #3003
My new PC laptop / Windows 10 installed both Microsoft Defender and Mcafee. I've had an extremely hard time getting OpenRefine 3.4.1 to run. I've tried adding it as safe, running it as admin, etc. It kept throwing the error that it can't create the workspace. I eventually figured out how to work around the issue by going through Windows at the system level to change the program settings. However,

[2021-02-23 21:48] tfmorris commented on #2143
This was also reported by a user on Gitter:

who said in a followup that the stack trace matched the one in this bug report.

Note that  `com.google.refine.commands.Command` is an abstract class with a default implementation for the `doGet()` method of:

[code]

This may be some kind of classpath / class loader weirdness

[2021-02-24 04:09] kingf1sher opened #3666 "OpenRefine stuck on “Working” when trying to reconcile with GBIF"
Hello everyone. I am a new user of OpenRefine and I am having problems  (I think) with data reconciliation. I am using the ver. 3.4.1 and I am trying to fix my biodiversity data taxonomically using the GBIF service posted in this link:

(https://iphylo.blogspot.com/2012/02/using-google-refine-and-taxonomic.html).

However, it's been almost 10 hours and the display has not changed from "Working". M

[2021-02-24 10:40] wetneb commented on #1940
It looks sensible to me!

[2021-02-24 12:30] wetneb commented on #3656
Thanks a lot for the explanations @afkbrb!

It feels to me like this fallback logic should be in the backend, not the frontend, otherwise it is likely to be missed in some workflows.
Example:
* I create a project and save a Wikibase schema there
* I shut down OpenRefine and start it again the next day
* I make edits on the target Wikibase without editing the schema again.

In this scenario I think

[2021-02-24 13:37] #3580 closed

[2021-02-24 13:58] wetneb commented on #3577
I am not sure about this, since you can make a case for ignoring the null cells at the end of the record.

For instance, consider the following JSON blob:

[code]

It will be imported to
| key | foo | bar |
|------|------|------|
| 123 | 4 | 6 |
|        | 5 | 7 |
|        |    | 8 |

Then if you evaluate ```row.record.cells["foo"]``` you do want to get `[ 4, 5 ]` (which corresponds to the origina

[2021-02-24 14:25] singhakshita commented on #3577
the problem with the current approach is that ,it is considering the first column  as an identifier column and showing data accordingly. so if we change this dependency to( star or flag or key) column ,it would uniquely identify the records .

is this approach okay ?

if we think of implementing a new variable that would keep a count of number of records based on suppose:  URI column  ,but it can

[2021-02-24 14:30] wetneb commented on #3514
Let's close this and handle this in #3511 since it should be the same root cause.

[2021-02-24 14:30] #3514 closed

[2021-02-24 14:32] wetneb commented on #3511
In #3514 it is also mentioned that deleting projects with encoding errors somehow crashes OpenRefine (see #3514 for details). I closed that issue so that we handle it here too.