[2021-02-24 14:44] wetneb commented on #3629
Closing then, but I keep in mind your suggestion of lazy computation for recon features, which makes a lot of sense I think (not just for time savings, but also for memory and disk space).

[2021-02-24 14:48] wetneb commented on #3003
@georgiawebgurl thank you *so much* for this feedback and your offer to help with testing. This is really helpful. I am acutely aware of the importance of improving OpenRefine's packaging, but not being personally exposed to the problem much on a day to day basis I really need reminders like yours that this is really critical.

I hope to follow up soon on your offer.

[2021-02-24 14:50] wetneb commented on #3666
The reconciliation service might be unreachable because of some proxy / firewall issues on your computer. Have you tried accessing the reconciliation service manually, for instance by pasting the endpoint URL in your browser?

[2021-02-24 14:53] wetneb commented on #3577
I do not understand what you are proposing very well. I think the approach I would prefer is introducing the `row.record.rows` variable suggested by @felixlohmeier.

[2021-02-24 15:05] kingf1sher commented on #3666
Hello wetneb. Thanks for responding. However, I decided to ditch the reconciliation feature and settled for a convenient alternative in Species Match (https://www.gbif.org/es/tools/species-lookup) that generates similar taxonomic data available in GBIF itself.

Again, thank you very much!

[2021-02-24 15:25] ostephens commented on #3666
It looks like there are errors when you try to add those reconciliation service definitions them into OpenRefine. In the console I see:

[code]

[2021-02-24 15:33] ostephens commented on #3666
These reconciliation services were initially built in 2012 by Roderic Page and they are provided by having a reconciliation service independently written based on the APIs of the underlying services - and so rely on both the reconciliation service and the underlying APIs continuing to work. Looking at the comments on the blog post at https://iphylo.blogspot.com/2012/02/using-google-refine-and-taxo

[2021-02-24 15:38] tfmorris commented on #3666
This sounds the same as #1828.

[2021-02-24 16:29] kingf1sher commented on #3666
Yes, I have read Roderic's comment and it's safe to assume that it is dead. Even global name resolver's API posted in this website (https://resolver.globalnames.org/api) as I have tried them.

[2021-02-24 16:37] akellerhals commented on #556
Hi, I‘m fairly late in these thead but I tried that „Split multivalued cells to create an empty row“. Result: I have a additional row which, however, is depending from the ‚parent row‘ and has no own row number. Can I clearly separate this splitting based row from the original row?

[2021-02-24 17:26] ostephens commented on #556
@akellerhals it sounds like you are working in "records" mode. You need to switch to "row" mode to see the individual row number - see https://docs.openrefine.org/manual/exploring/#rows-vs-records for more information

[2021-02-24 18:48] ostephens commented on #3666
Closing as it seems clear this isn’t an OpenRefine issue but that the reconciliation service isn’t being maintained

[2021-02-24 18:48] #3666 closed

[2021-02-24 21:16] gitonthescene commented on #3629
FWIW, the other idea I had is to move Levenshtein distance from being a feature to being a “data extension”.  With that viewpoint, you could imagine it being a “plugin”, meaning a data extension without requiring a service.  That notion could be extended to allow people to write their own plugins for functionality which suits their domain.  Also as a data extension it’s more explicitly “on demand”

[2021-02-25 06:33] akellerhals commented on #556
@ostephens Thanks, problem solved, looks like a detail but has escaped my attention, will read the links,

[2021-02-26 00:16] gitonthescene opened #3672 "Data extension service not using CORS"
### To Reproduce
Steps to reproduce the behavior:
1. Implement a data reconciliation service with the data extension service specified in the service manifest.
2. Open the browser web console.
3. Finally, try to "Add columns from reconciled values"

### Current Results
Currently you get back a blank form with no properties for selection.  I think given the bug from this issue it probably should ha

[2021-02-26 00:28] gitonthescene commented on #3672
Also it looks like the data property proposal request is coming through the data extension service end point, but the extend request is coming through the reconciliation end point.  Is that [right](https://reconciliation-api.github.io/specs/latest/#data-extension-property-proposals)?

[code]

[2021-02-26 02:02] gitonthescene commented on #3672
I think [this line](https://github.com/OpenRefine/OpenRefine/blob/6c47c81e5913d64ea58952454a1d67750fff2ff0/main/webapp/modules/core/scripts/dialogs/extend-data-preview-dialog.js#L55) shows that the data extension `extend` request is going to the reconciliation service.

My reading of [the spec](https://reconciliation-api.github.io/specs/latest/#data-extension-query-requests) is that these requests

[2021-02-26 09:06] emu-at commented on #3274
So if I understand correctly, due to limitations in OpenRefine this problem can’t be fixed unless the project switches to a different regex engine? That’s really sobering … Is there any possibility to add an option in OpenRefine that circumvents the regex check altogether? I mean, it’s not really a problem for Wikidata per se because you can add all sorts of unchecked data through QuickStatements

[2021-02-26 09:41] ostephens commented on #3274
No I don't think that's the case. As @wetneb mentions right at the top of this thread:

While it might also be appropriate for OpenRefine to look at alternative approaches for regular expression parsing,  I think the key thing in this case is for there to be a graceful failure when encountering regular expressions that can't be parsed for some reason. This should (in my opinion) include telling th

[2021-02-26 10:09] wetneb commented on #3274
This issue is *really* easy to solve as far as OpenRefine is concerned: just by ignoring regexes which our regex engine cannot parse.

[2021-02-26 16:45] S-Harshit commented on #3553
@fgiroud How should I test 'Convert Smart quotes with ascii' and to text' should I use fixtures for it?

[2021-02-26 20:12] #3428 closed

[2021-02-26 22:23] verdy-p commented on #3274
As far as I can tell, the only thing your engine does not support is the
PCR subroutines syntax, which is used here only as a "macro"-like facility
(i.e. without recursion), so an equivalent is easy to produce (and in fact
the transform from an expanded form to the compressed form using
soubroutines is straightforward and fully described in the talk page. It
was used to "compress" the regexp in a

[2021-02-26 22:32] verdy-p commented on #3274
Note: is there a possibility for Wikidata to indicate which regexp syntax
(possibly with a version for PCRE) it requires, and allow providing
alternate regexp syntaxes demanding less features or using alternate
syntax, even if they don't validate the value as strictly as the prefered
one used in Wikidata's own builtin tools, or are more memory-intensive when
compiling or less performant while scan

[2021-02-27 09:45] gitonthescene opened #3673 "Only show candidates in range for best candidate facet"
After reconciling you're presented with a numerical facet called "best candidate's score" which you can use to adjust the range of which rows to show.  But currently it only limits which _rows_ to show and not which _candidates_ to show.

### Proposed solution

It would be nice if this facet limited _both_ which rows and which candidates to show so that only rows which have some candidates within

[2021-02-27 10:05] gitonthescene commented on #3673
If I'm reading the code right, this should be accessible from anywhere with [`ui.browsingEngine.getJSON()`](https://github.com/OpenRefine/OpenRefine/blob/82b1cf0bfaf3c8ab57a12e0f2004bdeb71432383/main/webapp/modules/core/scripts/project/browsing-engine.js#L157).

From the browser web console, it looks like it should have enough info in it as well.

[code]

[2021-02-27 12:14] lucaswerkmeister commented on #3274
Which tools, specifically, are you talking about? Because, again, neither WikibaseQualityConstraints nor the Wikidata Query Service support PCRE.

[2021-02-27 13:49] verdy-p commented on #3274
Well all validation tools and bots running and serving quality reports on
Wikidata support these named subroutines (I've made multiple runs to show
that they are effective and don't generate any additional errors when
processing, or false positives, or false negatives if these subroutines
were not working, and they DO have the same syntax as PCRE, even if PCRE is
not the engine effectively used).

[2021-02-27 19:14] tfmorris commented on #3274
Please move the Wikidata discussion someplace more appropriate. Let's keep this issue focused on the solution to handling illegal regular expressions in OpenRefine, which, as @wetneb said, is as simple as adding a try/catch block, thus the `good first issue` label  All this extraneous discussion is just going to confuse/discourage newcomers () who are trying to figure out what they need to code fo

[2021-02-27 21:04] strarsis opened #3674 "[Documentation] Link broken"
### To Reproduce
Steps to reproduce the behavior:
1. Visit [GREL-supported regex](https://docs.openrefine.org/manual/expressions/#grel-supported-regex) section of the OpenRefine documentation.
2. Select any link from the list (`The GREL functions that support regex are:`).
Notice the HTTP 404 Page not found errors for all of these links.

### Current Results
HTTP 404 Page not found when following

[2021-02-27 21:15] thadguidry commented on #3674
I just tried to reproduce this with Firefox and all those links seems to work just fine for me.
Such as the first one:
* [contains](https://docs.openrefine.org/manual/grelfunctions#containss-sub-or-p)

[2021-02-27 21:28] strarsis commented on #3674
@thadguidry: Strange. It surely doesn't work with Chrome (Windows 10). So this could be a browser-specific issue?

[2021-02-27 23:36] verdy-p commented on #3274
But this discussion started really with a bug request on Wikidata (even if
this causes a break on OpenRefine). So it was in topic. And I still don't
see why and what is broken in Wikidata itself when we can conclude that
this is a problem of an external tool using a different regexp engine than
those working on Wikidata and its local supported tools for data validation.

As OpenData is independant

[2021-02-28 00:22] #3652 closed

[2021-02-28 00:31] tfmorris commented on #3652
The wikidata extension fails to build on a clean checkout (e.g. the CI environment) with the command `mvn clean compile`. I was able to work around this by using `mvn clean test-compile`. This is arguably better because LGTM identifies source files to analyze by watching what gets touched during compilation, so our test classes will get analyzed too, but it indicates something weird with the depen

[2021-02-28 00:59] tfmorris commented on #3618
As an aside, we use two different Levenshtein implementations - our reconciliation Levenshtein distance calculation is done using the Apache Commons `org.apache.commons.lang.StringUtils.getLevenshteinDistance()`, while the kNN clusterer uses the SecondString class `com.wcohen.ss.Levenstein` (via Vicino)

[2021-02-28 03:00] tfmorris commented on #3518
I actually think we've got too many of this special transformations already -- at least for system without customizable menus.

If we add this, we'll need better specification of how it should work. I'm not sure if we need to take into account natural language (ie not English), but we probably DO want to handle various other language (Python, Javascript, SQL) versions of "truthiness" so decide whe

[2021-02-28 04:00] joanneong commented on #3674
I can verify that the links are broken.

Example of a correct link: https://docs.openrefine.org/manual/grelfunctions/#containss-sub-or-p
Example of the link by clicking from the documentation: https://docs.openrefine.org/manual/expressions/grelfunctions#containss-sub-or-p

This is because the base url becomes `https://docs.openrefine.org/manual/expressions/` thanks to Docusaurus magic, so the link

[2021-02-28 07:14] wetneb commented on #3652
Yes, that is something I have fixed in the new architecture (by having one maven modules for test utilities reused across the project).

[2021-02-28 19:59] tfmorris opened #3677 "Cypress builds fail in forked repo"
I'm getting the following errors from the "Test with Cypress on Chrome" step when Github Actions attempts to run in my fork of OpenRefine:

[code]

@fgiroud @kushthedude Do you know what's going on here and how I can fix it?

[2021-02-28 20:04] kushthedude commented on #3677
It won't work on forked repo as the secrets are not available from the original upstream repository

[2021-02-28 20:05] fgiroud commented on #3677
The issue is that you need a secret in order to run the tests and push the results into the Cypress dashboard.
You could
- add the secret of Cypress into your own fork (since you're admin, that should not be an issue), but your tests records would be pushed into the main Cypress account
- temporarily disable the cypress integration, replace line 142 in github/pull_request.yml by `./refine ui_test

[2021-02-28 20:10] tfmorris opened #3678 "Create Project from CSV test failing with "finallyCallBack is not a function""
The PR where this test failed is a minor backend dependency update, so I don't think it introduced the test failure.

https://github.com/OpenRefine/OpenRefine/runs/1995643484?check_suite_focus=true

[code]

[2021-02-28 20:20] tfmorris commented on #3677
Thanks for the quick responses. The build needs to run in forked repos. We have many, MANY forks.

Please fix the build so that it doesn't fail if it doesn't have the secret key. You can do this by checking whether the build is running in the OpenRefine org or by checking for the presence of the secret key itself or any other mechanism that allows are many contributors to run the tests in their fo

[2021-02-28 20:26] tfmorris commented on #3652
Obviously it goes without saying that it's a waste of resources to be debugging problems which are known and fixed already.

[2021-02-28 21:13] gitonthescene commented on #3663
@VojtechDostal - I’m assuming you have a list of buildings and you want to find out which are closet to which.  One workaround is to round (to whatever precision) the latitude/longitude coordinates and do a self cell.cross() to find which are in the same quadrant and then calculate the distance between matching rows.  This has worked well for me in the past.  Could do the same cell.cross() against

[2021-02-28 21:26] gitonthescene commented on #3599
I think this can probably be closed.  Using [flask-cors](https://flask-cors.readthedocs.io/en/latest/) just works(TM) so perhaps I was checking the headers from the wrong request.  This just surprised me from the last time I had to manually implement CORS support.  I’ll try to have a closer look to understand how it’s working and post back.

[2021-02-28 21:39] thadguidry commented on #3663
@VojtechDostal I've had good luck with Bing Maps API which is pretty generous with [a free developer key](https://www.microsoft.com/en-us/maps/licensing#developerLicense) (< 125,000 transactions) and just constructing the URL that I need in a new OpenRefine column and using Fetch URLs.
https://docs.microsoft.com/en-us/bingmaps/rest-services/locations/find-a-location-by-point

But if you already do

[2021-02-28 21:58] tfmorris commented on #3599
OK. Feel free to reopen or create a new issue if you find a problem with it.

[2021-02-28 21:58] #3599 closed

[2021-02-28 22:03] tfmorris commented on #3663
We're getting a little off track here. The ask was to look things up in a reconciliation service (e.g. Wikidata), not a mapping service or another OpenRefine project.

@VojtechDostal It doesn't look like it's possible to transfer this issue to a repo in another org/user. Sorry for getting your hopes up! I'm going to close this one and you can recreate it in https://github.com/wetneb/openrefine-wik

[2021-02-28 22:03] #3663 closed

[2021-02-28 22:58] gitonthescene commented on #3663
As you said, this is more of a question of implementing such a feature in a reconciliation service.  In practical terms you’re going to want to limit the items you’re doing the distance calculation for.  My suggestion above was focused on how to do such limiting.  It could be used to build such a reconciliation service or as presented as a _workaround_ given that no such service has been identifie

[2021-03-01 06:35] fgiroud commented on #3553
@S-Harshit, you should be able to use fixtures directly in your test, without using the common food.mini or food.small

See
[code]

[2021-03-01 14:30] ostephens commented on #3518
At the moment I'm unclear on the purpose of the transformation. Is it to make it easy to interpret string values as meaning "true" or "false" in a boolean sense (e.g. wherever there is a string "true" convert this to boolean `true` and wherever there is a string "false" convert to boolean `false`), or is it to treat values as true or false in a more programmatic sense. I think we have to be clear

[2021-03-01 14:38] sjathin commented on #1713
I would like to work on this. As I am new to OpenRefine and Wikidata. I went through the following tutorial to get an idea - https://www.wikidata.org/wiki/Wikidata:Tools/OpenRefine/Editing/Tutorials/Basic_editing

I followed the above tutorial, during the edit wikibase scheme, I added an item, and a statement(see the following image) should "no value" or "unknown value" be present here?

![Screens

[2021-03-01 15:28] singhakshita commented on #3518
Instead if giving options of language(javascript ,sql , python etc ) should we  give user an option of choosing amongst the list of( null , 0,1 " " , none ,[] etc)  what values do they want to be treated  as false and true ?

[2021-03-01 15:58] thadguidry commented on #3518
@ostephens @tfmorris I agree there would need to be decisions on the options presented to the user on if `null` would be handled as `true` or `false` as Apache BooleanUtils and others treat "truthiness".  `toBooleanDefaultIfNull` comes to mind for perhaps handling that and presenting to the user a choice to make on what to do if the `valueIfNull`.  Beyond that, we would need to take a stand on Int

[2021-03-02 03:03] gitonthescene commented on #3599
FWIW, I checked again and it looks like the Origin header is being sent, but only when requesting the service manifest.  I'm functional at the moment, but it does seem curious to me.  I'm clearly not an expert, but this might need a review.  See #3672 for some inconsistency in how CORS/JSONP is being used currently.

[2021-03-02 12:45] ostephens commented on #3518
@thadguidry if we are going in this direction I'd be inclined to be a bit more flexible (as per the BooleanUtils). I'd suggest a GREL function which supports the following from the BooleanUtils:

toBoolean(int)
toBoolean(int, int trueValue, int falseValue)
toBoolean(string)
toBoolean(string, string trueValue, string falseValue)

This would mean that `value.toBoolean()` would behave pretty much as

[2021-03-02 14:29] thadguidry commented on #3518
@ostephens Agree on all points.  No one has upvoted on this issue including me, as I don't think this is a priority need for our users.  They get by with Facets and `replace()` for getting consistency with boolean strings, and then go from there.  I was simply laying out some advice on where I thought usefulness could be had and indeed a function before a UX dialog.

I'd advise to mark this issue

[2021-03-02 16:46] strarsis opened #3688 "Spell check feature"
### Proposed solution
An integrated spell-checker (OpenSource/free if possible) for cells.

### Alternatives considered
Exporting all the data and then using a different, external program.

### Additional context
This is similar to Clustering but rather for full text fields.

[2021-03-02 18:57] haarsh01 commented on #3554
Hey, I am new and a beginner in open source contributions.I want to work on this issue. Can you guide me the steps ?

[2021-03-02 20:00] fgiroud commented on #3554
Hi @haarsh01, looks like this issue is already attributed, you can ping in another one maybe
@sardug10 are you actively working on it ?

To get started, you can start by reading those two articles in OpenRefine documentation
* [Contributing to OpenRefine](https://docs.openrefine.org/technical-reference/contributing/)
* [Tests technical reference](https://docs.openrefine.org/technical-reference/fun

[2021-03-02 20:23] haarsh01 commented on #3554
okay no problem

[2021-03-02 22:21] tfmorris commented on #3518
I think it's low priority too and don't find implementing things for "completeness" to be particularly compelling if there's not an actual need/use for them. Having said that @wetneb _**was**_ persuaded by the completeness argument when he triaged the issue, although he seemed to envision support for multiple (human) languages.

@singhakshita We apologize for wasting your time on this. It may take

[2021-03-03 02:33] haarsh01 commented on #3420
Hey, I am a beginner and want to contribute in Open Source. As I know Java Script language.I want to work on this. So can I do it ?

[2021-03-03 04:13] georgiawebgurl commented on #3003
Sounds great! Thank you! :-)

[2021-03-03 06:56] nitin-orolabs opened #3690 "is Orient Db solution currently working for Open Refine?"
is Orient Db solution currently working for Open Refine?
I want to do  transformations on  a 20gb file.  Is there any way to solve this problem using open refine using some disk based solution?

[2021-03-03 07:17] fgiroud commented on #3420
Hi @haarsh01
Thanks for your interest

To get started, you can start by reading those two articles in OpenRefine documentation
* [Contributing to OpenRefine](https://docs.openrefine.org/technical-reference/contributing/)
* [Tests technical reference](https://docs.openrefine.org/technical-reference/functional-tests)

Once you're okay with the setup, just let us know, and we will attribute this issu

[2021-03-03 10:13] haarsh01 commented on #3420
Ok, I will let you know after reading the articles.

[2021-03-03 10:26] wetneb commented on #3663
I have opened an issue on the reconciliation service: https://github.com/wetneb/openrefine-wikibase/issues/101

[2021-03-03 10:27] wetneb commented on #3599
Fetching the manifest is done in the frontend (so, by your web browser), sending reconciliation queries is done by the backend (so, in Java).

It is not clear to me what `Origin:` header requests made by the backend should have.

[2021-03-03 10:56] wetneb commented on #3674
Thanks for the analysis! I would go for the second option.

[2021-03-03 11:33] wetneb commented on #1713
Yes this is the area where we would add support for this. Here are a few ideas.

The simplest approach would be to replicate Wikibase's UI in OpenRefine (see the screenshot above). The advantage of this is that users will find it very easy to use, since they are probably already used to Wikibase's UI (and that would make it consistent with the rest of our schema editing UI, which closely mimics Wi

[2021-03-03 12:48] strarsis opened #3691 "Unicode characters inserted incorrectly"
### To Reproduce
Steps to reproduce the behavior:
1. Edit a text field or use the cell replace transformation, insert an Unicode character, like this smiley `😀`.
Notice that this Unicode character is displayed as an invalid/placeholder character instead (``). As the manually inserted Unicode character still looked fine (when replacing or before saving), the font, browser or OS is not the reason f

[2021-03-03 12:52] wetneb commented on #3518
My interest in this is lukewarm too, I agree with @ostephens and @tfmorris. The fact that these menus are already pretty cluttered is a good point. I propose we close this as "won't fix".

[2021-03-03 12:54] wetneb commented on #3688
Hi @starsis, thanks for opening this issue!

I am wondering if you could expand a bit on the use case. OpenRefine is primarily designed for batch transformations, not manual editing of cells, so it is not clear what sorts of workflows you are thinking here. If this is about adding spell-checking to the cell editing dialog, that could be done with the browser's native spell-checker, without us need

[2021-03-03 13:07] gitonthescene commented on #3599
As I said, I’m not an expert here, but after doing [some reading](https://mobilejazz.com/blog/which-security-risks-do-cors-imply/) my understanding is that CORS exists to prevent people from running scripts inadvertently loaded with a given page
and manipulating how other scripts on that page work, potentially to transfer sensitive information elsewhere.

That is to say, scripts run in a browser d

[2021-03-03 13:45] lozanaross commented on #1713
Thanks for the ideas, Antonin. As a user, I can confirm that this solution would be quite helpful, and I don't think the downside of not being able to add "#WB_NO_VALUE" as a string-valued statement in Wikibase is a going to be a big detriment down the line.

If it's helpful, I could try testing with the Wikibases I have access to, once there is a version of the extension I can pull and test with.

[2021-03-03 15:19] thadguidry commented on #3674
Where is there an extra `s` in `contains` ?  `#containss-sub-or-p`

[2021-03-03 15:32] wetneb commented on #3690
Hi @nitin-orolabs,

Could you please ask this question on our mailing list instead? Perhaps by giving a bit more background on what Orient Db is - that might make it easier for the community to help you.

Thank you!

[2021-03-03 15:35] thadguidry commented on #1713
@wetneb An alternative (and more complex but also more powerful and unlimited) would be introducing the Cell Variable approach that Ettore had asked for in that other issue.  Essentially Cell Flags or Stars or whatever dreamed up...instead of only have Row level Flags or Stars.  Then you could use that special signal of the Cell Flag, etc. to determine what to do regarding the statements sent to W

[2021-03-03 15:37] ostephens commented on #3674
Because the anchors contain the expression and the parameters with spaces converted to hyphens and brackets ignored. So `contains(s, sub or p)` becomes #containss-sub-or-p

[2021-03-03 15:38] strarsis commented on #3688
@wetneb: So when there is a large list of data, e.g. products which all got lengthy description texts, automatic spell check would be great. This is also somehow related to clustering: As words should be spelled consistently, the means to merge similar words with their proper spelling, very similar to clustering of facets, would be very useful.

[2021-03-03 15:40] strarsis commented on #3674
Is this is an issue with the documentation generator or with the documentation options?

[2021-03-03 15:41] wetneb commented on #3688
This is still very vague to me. Can you describe in more detail how you would use this feature?

[2021-03-03 15:42] wetneb commented on #3674
This is an issue with the documentation itself: the markdown files from which the documentation is generated should be fixed as suggested by Joanne above.

[2021-03-03 15:43] #3690 closed

[2021-03-03 15:51] strarsis commented on #3688
For example: The production description may domain-specific words, e.g. "Jacquard" (fabric/cloth type). And there are different variations of misspellings, like "Jaquard" and "jaquard", "jacquard" or even "jquard". The similarity-feature of the clustering feature would be very helpful. It can find all these occurences in full text itself (using the words as facets, but this may not be enough as th

[2021-03-03 19:40] wetneb commented on #3688
Ok I think I can roughly see your request, I would rephrase it like this: implement a variant of the clustering feature, which works at the word (or phrase) level instead of whole cell-level value. If we go for word-level that would roughly amount to splitting cell values by whitespace, clustering them, and then joining them back again. Would that workaround work for you?

[2021-03-03 20:01] strarsis commented on #3688
@wetneb: Hm, this could be a makeshift solution. Though grammar and syntax (comma, point) and sentence parts wouldn't be taken into account.

[2021-03-03 22:56] EstebanMH-SiB opened #3692 "Process of fetching URLs is considerable slower in macOS"
I have been using my MacBookPro (Processor i9, 12 GB RAM alocated to OpenRefine, 150 MG of internet) to fetch URLs, but it is taking an extraordinary ammount of time compared to windows. For example, a dataset of 9.000 records takes almost 15 minutes in macOS but only 2 minutes in a similar computer running Windows.
We run another test with a different script that fetchs information from another A

[2021-03-04 04:06] tfmorris commented on #3690
Most likely this:
- https://groups.google.com/g/openrefine/c/TOgkfvI4ZV4/m/JIHtnZGKMzkJ
- https://github.com/lvca/OpenRefine

but I agree that the mailing list is the correct place for the discussion.

[2021-03-04 07:06] haarsh01 commented on #3420
Hey, I read the two documents and cloned the code on my machine and then downloaded Java JDK but got confused after this point in downloading Apache Maven. And I want to contribute to Javascript language so why I downloaded java JDK. Please guide me in further steps.

[2021-03-04 09:25] kushthedude commented on #3518
I was just concerned for equal coverage as while writing tests for boolean transform either I had to edit each cell or had to use a GREL function whereas for other types we had a common transform. However, seeing the above discussion I think it's better we close the issue.

[2021-03-04 10:29] #3518 closed

[2021-03-04 10:42] wetneb commented on #3420
Hi @haarsh01, this thread is not suitable for asking for general help on setting up your development environment. Please use the Gitter channel or the openrefine-dev mailing list for that: https://groups.google.com/g/openrefine-dev

[2021-03-04 11:28] emu-at opened #3694 "timestamp for Wikidata export: +2021-00-00 versus +2021-01-01"
When exporting dates with a precision smaller than days, OpenRefine (Version 3.4.1) seems to export the year 1883 (as a random example) as +1883-01-01T00:00:00Z both with the export tool and QuickStatements.

However, if I understand those links correctly, it should be +1883-00-00T00:00:00Z (even though this isn’t ISO style):

https://www.wikidata.org/wiki/Help:Dates#Time_datatype
https://www.wiki

[2021-03-04 12:51] #3553 closed

[2021-03-04 13:45] strarsis opened #3695 "Translation string keys incorrect (facet-flag/facet-error/facet-star)"
### To Reproduce
Steps to reproduce the behavior:
1. Switch the language to another language than the default language of OpenRefine (English), e.g. German.
2. Note that the captions for facet selection (most-left column drop-down menu) are swapped/incorrect:
Translation string key [core-views/facet-error](https://github.com/OpenRefine/OpenRefine/blob/3.4.1/main/webapp/modules/core/langs/translati

[2021-03-04 14:07] ostephens commented on #3692
I've just tried recreating this.

Using OpenRefine 3.4.1 Linux distribution on my Mac (macOS High Sierra) the operation history completes in around 30 seconds
Using OpenRefine 3.4.1 Mac distribution on the same machine the operation history completes in around 180 seconds

Obviously the absolute speed is going to be affected by the speed of the internet connection available, but this makes the Mac

[2021-03-04 14:53] wetneb commented on #3692
That's really puzzling! Perhaps due to an old JRE being embedded in the Mac distribution. It's really worth fixing this before 3.5 I would say.

[2021-03-05 07:57] gitonthescene opened #3700 "Reconciling one project against another??"
This actually less of a real feature request than it is a brainstorming exercise.  Feel free to close if there’s likely to be no time for it.

The [reconcile-csv](http://okfnlabs.org/reconcile-csv/) reconciliation service could be used to reconcile one project against another by simply exporting the latter as a csv and then supplying the desired id and name columns to pick what to resolve to and w

[2021-03-05 08:54] wetneb commented on #3700
Very legitimate request! In fact it is a duplicate of #2003 #941 #176, so closing this.

[2021-03-05 08:54] #3700 closed

[2021-03-05 09:20] gitonthescene commented on #3700
It might be worth suggesting using reconcile-csv in the short term or my python version [csv-reconcile](https://github.com/gitonthescene/csv-reconcile) which is more configurable.  I plan on adding more documentation shortly.

[2021-03-05 11:48] ostephens commented on #3688
For me "spellcheck" and "word clustering" seem distinct tasks.

Spellcheck suggests checking words against some existing dictionary, identifying words that do not exist in the dictionary and then either correcting the word, ignoring the word or adding the word to the dictionary so future occurrences of the word are accepted as correct. Spell checking is obviously language dependent - you need dict

[2021-03-05 12:48] wetneb commented on #3700
PRs to update our docs / website in this regard would be most welcome :)

[2021-03-05 18:43] tfmorris commented on #3688
I think an extension, similar to the Named Entity Recognition extension, is the right place for this. It's definitely natural language specific.

The functionality still needs more specification though. Some possible modes of operation for a GREL function:
- return a list of words that are (potentially) misspelled in the input text
- return the input text with all misspellings corrected (above a c

[2021-03-05 22:40] tfmorris commented on #3688
"That feature" being what? We've discussed a number of different things and none of them are very well specified.

There is a Named Entity Recognition extension for OpenRefine, which I'm pretty sure is listed on our website, although I don't know if it's currently being maintained. You can also do this using the "Fetch URL" operation to ping a RESTful API.

[2021-03-05 22:42] sjathin commented on #3186
I am facing the following issue:

I am trying to get the URL of the logo(```https://www.wikidata.org/w/api.php?action=query&meta=siteinfo&format=json```) using the following :

`$.ajax({url: <url-shown-above>, async: false, dataType: 'json', success:.....});`
But this gives a CORS issue. if I try the same request using an API Client such as postman I get a response,

Not exactly sure as to why I a

[2021-03-05 23:28] gitonthescene commented on #3700
I’m happy to.  Can you suggest where?  Is there a Tips and Tricks section?

[2021-03-06 07:39] wetneb commented on #3700
Perhaps it could be mentioned somewhere in https://docs.openrefine.org/manual/reconciling?

[2021-03-06 07:42] wetneb commented on #3186
Curious, I would expect CORS headers to be set correctly for this API. Have you inspected the headers of the response you get in postman? Have you tried JSONP too?

[2021-03-06 14:07] strarsis commented on #3688
@tfmorris: Apparently it isn't maintained anymore (archived). But it could still work. And now I also know how this feature is called.

[2021-03-06 14:09] strarsis commented on #556
Then there is the case where a cell is split in record mode, but the newly created riws end up in a new, separate record. Which shouldn't happen.

[2021-03-06 16:48] tfmorris commented on #3688
Github is a distributed ecosystem, so even if the original project is no longer being maintained, one can often find another fork which has activity. You can visualize the network of forks here: https://github.com/RubenVerborgh/Refine-NER-Extension/network It looks like this fork received updates as recently as January: https://github.com/stkenny/Refine-NER-Extension

[2021-03-06 18:51] ostephens commented on #556
@strarsis the way records work is very specific - it groups together rows based on the first column(s) being populated (or not) - it's explained more at https://docs.openrefine.org/manual/exploring/#rows-vs-records

This means that a Record isn't a static grouping of roads and the arrangement of rows into records can change as you change the content of cells

[2021-03-06 19:15] strarsis commented on #3688
@tfmorris: Thanks! Does the detection require a language-specific dictionary/model?

[2021-03-06 19:49] tfmorris commented on #3688
Named Entity Recognition is both natural language specific and, to some extent, domain specific. That OpenRefine NER extension uses the Stanford CoreNLP software which has models for these languages: https://stanfordnlp.github.io/CoreNLP/human-languages.html

[2021-03-06 19:58] strarsis commented on #3688
@tfmorris: This is awesome! Thanks!

[2021-03-06 20:49] strarsis commented on #556
@ostephens: Sometimes, when splitting cells a row is introduced that is wholly empty. This is interpreted by OpenRefine as a new, independent record. How can I get rid of the empty row? When the records are exported, interestingly, the resulting set doesn't contain these empty-row records, those rows belong then to their original records again.

[2021-03-07 08:55] wetneb commented on #3688
If that addresses the problem perhaps we could close this issue?

[2021-03-07 10:27] ostephens commented on #556
@strarsis I think the issue you are describing deserves it's own issue as this issue is a request for a feature but it sounds like you are describing a possible bug. Would you be willing to open a new issue with a description of the scenario that leads to the problem you are describing?

[2021-03-07 15:08] strarsis commented on #3688
@wetneb: Yes!

[2021-03-07 16:14] sjathin commented on #3186
Yes I did try with JSONP, it works fine, but the problem that I faced is that I cannot do JSONP as async:false

[2021-03-08 01:57] tfmorris commented on #3692
The bundled JRE is Oracle 1.8.0_181. That would be the only difference between Owen's two test cases, but 3 minutes (180 sec) is a far cry from the reported 15 minutes.

In my testing on a mid-2014 MacBook Pro Retina running Mac OS X Catalina, the script completed in under a minute (~55sec), if I set the delay to 0, so that's what I would recommend doing.

With the provided delay of 5 (msec), Open

[2021-03-08 07:43] gitonthescene commented on #2003
I've added a mention to the documentation of a workaround for having this natively available in Open Refine in #3703.  I think this is similar to @psychemedia's suggestion above.  One could similarly use [datasette-reconcile](https://github.com/drkane/datasette-reconcile) with supplied data, but I'm not familiar with datasette.  I mentioned the CSV versions because I think they'd be the easiest fo

[2021-03-08 18:02] wetneb opened #3705 "Documentation pull requests cannot be merged without admin privileges"
For documentation pull requests we do not run the Java CI jobs, which is good because they are irrelevant. However, since one of them is marked as required to merge the pull request, GitHub does not recognize that the pull request can be merged after having been approved:

![image](https://user-images.githubusercontent.com/309908/110358573-dbdcb600-803c-11eb-8605-c6044272d840.png)

(from #3703 )

[2021-03-09 14:59] loulankxh commented on #3694
Sir, I'd like to work on this issue and I wonder if I can get this assignment. Thanks

[2021-03-09 15:17] loulankxh commented on #3694
For better understanding, it's deeply appreciated if the further information on how I can reproduce this problem(specifically where I can choose to export dates) could be given. Thanks again.

[2021-03-09 22:55] gitonthescene commented on #3028
Setting up a build was easy enough.   I've posted a pull request to fix this.

[2021-03-10 09:01] gitonthescene commented on #3664
I think there is a related bug with using Data Extension.  It might be exactly the same bug, but I thought it worth pointing out.  Getting `127.0.0.1:5000 failed to respond` messages for every other batch.

[2021-03-10 09:43] fgiroud opened #3709 "End to End testing for OpenRefine"
Since the introduction of Cypress, more and more features of OpenRefine are tested.
The approach was to test individual functionalities of OpenRefine such facetting, reconciliation and so on ...
Now it would be good to have tests that reproduce a real user behavior, with a project tested from end to end.

It will allows us to test combos of functionalities, for example facetting + filtering + reco

[2021-03-10 09:58] #3425 closed

[2021-03-10 11:08] gitonthescene commented on #3664
Oho!!  This looks like it might be a issue with the server.  I found [this post](https://stackoverflow.com/questions/10523879/how-to-make-flask-keep-ajax-http-connection-alive) which enables [Keep-Alive](https://www.imperva.com/learn/performance/http-keep-alive/) on my flask server and I'm not seeing issues with every other batch failing.

This raises the question about whether to consider this a

[2021-03-10 11:10] gitonthescene commented on #3664
On the positive side, this was probably exposed because reconciliation is so fast on OpenRefine 3.5!!  :D

[2021-03-10 12:59] johanricher commented on #3354
If that helps, I retried yesterday [with the latest version](https://github.com/OpenRefine/OpenRefine/tree/c574ed867f94a8c06208c1d881d923f5a435e4b4), same thing:
[code]

[My setup is documented here](https://gitlab.huma-num.fr/eurhisfirm/eurhisfirm-wikibase-openrefine/).

[2021-03-10 14:46] #3423 closed

[2021-03-10 17:35] tfmorris commented on #3664
Yes, we need to handle this. Persistent connections are a performance optimization, but the system should still be functional without it.

Our HTTP implementation has changed completely since last release, so some of the behavior changes may be associated with the switch to Apache HTTP Client 5.

I should have noted what reconciliation service I was using on the original ticket, but I suspect it w

[2021-03-10 21:22] gitonthescene commented on #3664
I think some defensiveness is a good idea, but it's worth noting that [HTTP/1.1](https://www.w3.org/Protocols/rfc2616/rfc2616.html) has been available for 20 years.  TBH, I'm surprised that flask doesn't have some protocol check.  In any event, I think it's probably fair to classify this as a non-critical bug.

[2021-03-10 21:27] strarsis opened #3711 "Split results in empty rows; empty rows are interpreted as separate records"
### To Reproduce
Steps to reproduce the behavior:
1. Ensure a dataset that contains at least two records, each with multiple rows.
2. Switch to record mode.
3. Insert some delimited text into the cell of a row just before another record.
Use something that splits to empty cells (e.g. `test1;test2;;;;`)
4. Use the split cell feature with the right delimiter character.
Notice that at last one new ro

[2021-03-11 02:18] afkbrb commented on #3354
Hi @johanricher, it seems that you didn't rebuild OpenRefine after pulling the lastest version.

In the log you provided, it says the NPE was caused by `inspect(EditInspector.java:127)`, but the source code has been changed to

https://github.com/OpenRefine/OpenRefine/blob/efca0bee2c42311b5a28b094992aaaa14ee3c793/extensions/wikidata/src/org/openrefine/wikidata/qa/EditInspector.java#L127-L130

So l

[2021-03-11 11:33] johanricher commented on #3354
Thank you so much @afkbrb! I ran `./refine build` then ran OR again and the issue was gone.

I'm really sorry about this, I didn't know a rebuild was necessary. I'm not familiar with Java and it's not specified in the README, even though it's probably obvious for people more experienced than me!

This issue can be closed again as far as I'm concerned.

[2021-03-11 12:05] #3354 closed

[2021-03-11 12:23] wetneb commented on #3711
That's one of the many weaknesses of the records mode. I am not sure what motivated the choice of treating empty rows as new records. This is something we could change quite easily in the new architecture (4.x) but I would refrain from changing this in 3.x since it could be seen as a sneaky breaking change.

[2021-03-11 15:11] ianengelbrecht opened #3714 "Regex match on string with newlines not working"
Trying to do .match on a string with newlines does not return a result.  See example dataset

### To Reproduce
Steps to reproduce the behavior:
1. First, copy/paste the data below into a .csv file and import into OpenRefine.
2. Then, add column based on 'verbatimLocality', with expression: value.match(/.*(karkloof).*/i)
3. This does not return ['Karkloof'] for the first row as expected.
4. However

[2021-03-11 15:12] strarsis commented on #3711
@wetneb: Any quick workaround for getting rid of all the empty rows?

[2021-03-11 18:01] ostephens commented on #3711
@strarsis you can do a custom facet to find completely empty rows. E.g. custom text facet with GREL:

filter(row.columnNames,cn,isNonBlank(cells[cn].value)).length()==0

Will give "true" where all cells in the row are empty

[2021-03-11 18:08] strarsis commented on #3711
@ostephens: That's great! Is there also the possibility to remove all these matching, blank records?

[2021-03-11 18:25] ostephens commented on #3711
Do you mean just removing the blank rows? Once you have filtered to the blank rows in the "All" column header there is the option "Edit Rows" -> "Remove matching rows"

[2021-03-11 18:29] thadguidry commented on #3711
You might also eliminate the creation of the blank rows during the import
process itself by unchecking the default "Store blank rows".

Thad
https://www.linkedin.com/in/thadguidry/
https://calendly.com/thadguidry/

On Thu, Mar 11, 2021 at 12:25 PM Owen Stephens ***@***.***>
wrote:

[2021-03-11 18:31] strarsis commented on #3711
@thadguidry: Thanks, though these extra, blank rows were created after the import by OpenRefine (cell split issue).
But this option could still be useful if the blank rows should be cleaned up using re-import.

[2021-03-11 19:15] ostephens commented on #3714
The `match` function requires that the expression fully matches the content of the cell - not just a partial match. I also don't think the `match` function accepts switches on the regular expression - so the `i` at the end of the expression is not doing anything in this case.

Use `find` instead to do a more traditional regular expression, with switches

value.find(/.(karkloof)./i)

[2021-03-12 02:06] gitonthescene commented on #3186
Did the CORS issue resolve itself?  I’m happy to take a look if it’s still an issue.

[2021-03-12 07:17] sjathin commented on #3186
Yes, it did resolve, making the ```dataType``` as ```jsonp``` fixed it.

[2021-03-12 09:35] wetneb commented on #3714
Thanks @ostephens! It looks like there is no bug here, so we can probably close this?

[2021-03-12 09:37] #3714 closed

[2021-03-12 09:40] #3429 closed

[2021-03-12 09:44] ostephens commented on #3711
@strarsis going back to the original behaviour that you raised, in the issue you say the expected behaviour is:

I'm trying to understand this better. Are you able to give an example where treating these blank lines as part of the original record gives a better outcome in some way than treating them as new records?

From your comments, I'm wondering if the underlying requirement is simply to never

[2021-03-12 10:16] sjathin commented on #2104
@ostephens - I see that in ```HttpHeadersDialog```, the headers are fetched using ```httpHeaders``` of ```theProject```.  But ```theProject``` isn't available at this stage(project isn't created yet). Any suggestions as to how I can reuse this?

[2021-03-12 10:39] ostephens commented on #2104
@sjathin I'm not entirely sure of the best approach, but my first thought is to add a `get-httpheaders` command following the pattern of `get-languages`.  I think this would be:

* Add a `GetHttpHeadersCommand` class (similar to GetLanguagesCommand) which returns the list of headers & default values as JSON
* Register the command in controller.js
* Add Ajax call to this new command to index.js

@w

[2021-03-12 10:47] #3672 closed

[2021-03-12 14:58] Warpeas commented on #3695
@wetneb Our study group would like to solve this issue and would like to get some advice. Thank you!

SE_SUSTech

[2021-03-12 15:12] wetneb commented on #3695
Hi @Warpeas, welcome on board!

We have a broad overview of the contribution process here: https://github.com/OpenRefine/OpenRefine/wiki/Your-first-pull-request

If you have any specific questions please do ask!

[2021-03-12 20:40] strarsis commented on #3711
@ostephens: Yes, not even new empty rows are inserted, but they also become new records.

[2021-03-12 20:47] ostephens commented on #3711
@strarsis yes I understand - but I don't understand what difference that makes? Why would it be better, from your perspective, for them to appear as empty rows in the existing record?

[2021-03-12 21:00] wetneb commented on #3711
For me, it would be better for the sake of being able to represent the original data more faithfully. Perhaps these empty values are meaningful!
In general, I would expect that splitting multi-valued cells and then joining them back should give the original table. If the splitting operation automatically ignores the empty values, then the two operations are no longer inverses of each other.

[2021-03-12 21:38] strarsis commented on #3711
Well, the moment where the ordering is permanently changed the connection of those empty-rowed records is lost irreversibly and the empty rows can't be restored anymore.

[2021-03-14 03:48] antoine2711 commented on #2891
A bug has been found and a fix is proposed.

[2021-03-14 09:34] antoine2711 commented on #1011
@esiegerman : you can try it, it should work well.

Regards,
   Antoine

[2021-03-14 21:43] jkjkjkjkjk opened #3719 "Can't see projects (but can open them)"
No project is showing in open project dialog box, only overlapping All a and Browse workspace directory buttons (same like https://github.com/OpenRefine/OpenRefine/issues/3277).  I am able to open workspace directory and I am able to open the projects using direct link (http://127.0.0.1:3333/project?project=xxx).

### To Reproduce
I have deleted one project directory from workspace directory.

###

[2021-03-15 05:16] gitonthescene commented on #3719
Did you see [this comment](https://github.com/OpenRefine/OpenRefine/issues/3277#issuecomment-721305890) in the issue you referenced?

Can you try starting with the `-d` pointing to a directory with only ASCII characters to see if that helps?

[2021-03-15 08:00] #2891 closed

[2021-03-15 20:57] wetneb commented on #3496
This was done already as part of #3649.

[2021-03-15 20:57] #3496 closed

[2021-03-15 20:58] wetneb commented on #3559
This is now done!

[2021-03-15 20:58] #3559 closed

[2021-03-15 22:55] isaomatsunami opened #3724 "Output filename with exotic characters is corrupted"
East Asian Characters in Project name are corrupted in exported files.

### To Reproduce
1. First, import the attached xls file, which has a filename of German-Japanese-French-Chinese characters.(and contains such characters inside cells too). Project names are not corrupted.
[äöüßいろはにàçéùè§繁體字.xls.zip](https://github.com/OpenRefine/OpenRefine/files/6144916/aouss.aceue.xls.zip)
2. Then, Export dat

[2021-03-15 23:51] antoine2711 opened #3725 "Adjust preference key naming for 3 keys : cell-ui.previewMatchedCells, googleReadTimeOut & googleConnectTimeOut"
For consistency, some preferences keys could be adjusted, IMOO.

- cell-ui.previewMatchedCells
- googleReadTimeOut
- googleConnectTimeOut

They do not respect the general convention, that is not very defined, I must admit.

### Proposed solution
Rename them, while still reading the old key if the new is not present, i.e. being backward compatible.

|Now|Correction suggested|
|---|---|
|cell-ui.pre

[2021-03-16 04:46] gitonthescene commented on #3724
Possibly related to https://github.com/OpenRefine/OpenRefine/issues/3277?

[2021-03-16 08:26] wetneb commented on #3705
Since [there is no simple workaround at the moment](https://github.community/t/feature-request-conditional-required-checks/16761/21), I am removing the "Required" marker from this check now. We can trust people who merge PRs to look at those checks.

[2021-03-16 09:38] gitonthescene commented on #3724
Actually, it looks like the filename is set [here](https://github.com/OpenRefine/OpenRefine/blob/82b1cf0bfaf3c8ab57a12e0f2004bdeb71432383/main/src/com/google/refine/commands/project/ExportRowsCommand.java#L107) and passed to the browser in the `Content-Disposition` header.

[This doc](https://greenbytes.de/tech/webdav/rfc6266.html) seems to suggest the unicode needs to be url encoded with a byte-e

[2021-03-16 10:14] matthieuj opened #3730 "Preview & View services amputate ids with a hash character "#""
### To Reproduce
Configure a reconciliation service that returns URIs as IDs.

Hovering over reconciliation suggestions,  automatically matched values and manually mapped values will fail to retrieve the preview information as ID contained in the callback is truncated.

[2021-03-16 10:17] matthieuj commented on #3730
This same same issue was affecting the Flyout service #1381 and was only fixed for that service

[2021-03-16 10:21] wetneb commented on #3673
Interesting! I am reluctant to this change, for various reasons.
* first, as a user it's not really clear to me that I would want this most of the time: when I review high-scoring candidates it is useful to also see low-scoring ones for the same row. The correct match might have a low score, and it might be more obvious visually that the low-scoring one is correct than that the high-scoring one is

[2021-03-16 10:25] wetneb commented on #3730
This should just be a matter of properly escaping the URL of the preview.

[2021-03-16 10:44] ostephens commented on #3673
I think this is key - making this change completely changes the behaviour of the facet/filter functionality in this one case. This seems like a bad idea.

Linking this view to the facet also means that it will *only* be available in this context. Given the issue as described, it would make more sense to me to consider a View option which displays only the best candidate - or possibly even (or addi

[2021-03-16 10:55] wetneb commented on #3730
Note that this is something that should also be clarified in the specs themselves, because at the moment we basically let services insert the id anywhere in the URL. Some services could potentially use patterns such as `https://{{id}}` or even `{{ id }}` if their ids are full URIs, in which case the escaping we are adding will break things… It's a bit annoying. This was already brought up here: ht

[2021-03-16 11:03] gitonthescene commented on #3673
I'm more than willing to discuss alternatives.  As a user though, it struck me as odd that the facet would limit the rows but still show me candidates outside of the restricted range.  As a programmer I can appreciate the trying to keep the functionality orthogonal but I don't think this is something users are thinking about.

Also I don't think the average user really thinks about whether the mat

[2021-03-16 11:12] gitonthescene commented on #3673
It's probably worth being explicit that this is only a view issue, the candidates are not being changed at all.  Further the problem in @wetneb's third point above is pretty obviously addressable by using a `filter()` in your GREL expression and I don't have a strong feeling about this being a surprise for users.

[2021-03-16 11:14] wetneb commented on #3673
I totally agree that it feels natural to somehow couple the filtering done on rows and the one done inside the candidates. I think it's really exciting to start thinking about this actually! I think we should be able to find something that fits your bill and can also accommodate more general filtering needs.

[2021-03-16 11:16] gitonthescene commented on #3673
I'm happy to let this sit if we want to mull this over.  It's definitely a nice-to-have for me more than a killer feature.

[2021-03-16 11:41] matthieuj commented on #3730
All the public endpoints we have used so far are using alphanumerical IDs. When using linked data IDs end up being URIs and therefore contain additional characters like :/? or #. The existing escaping using encodeURI is therefore insufficient - see https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/encodeURI#encodeuri_vs_encodeuricomponent

Since the intent those serv

[2021-03-16 13:47] iomicifikko commented on #3520
Same behavior on Windows 10 64bit and Openrefine 3.3 / 3.4.1

[2021-03-16 14:11] iomicifikko opened #3732 "Option to split output to multiple files in the Custom Tabular Exporter"
I'd like to export data to multiple files  in a zip archive.

### Proposed solution
I'd like to set a maximum _row limit_ or _weight size_ per file in the **Download** tab inside the **Custom Tabular Exporter** windows.

[2021-03-16 14:27] iomicifikko opened #3733 "Option to define patterns for output files in the Custom Tabular Exporter"
I'm frustrated when I use the **Option Code** tab of the **Custom Tabular Exporter** to past my export json configuration , because I have to manually type the output filename in the download window of the browser (I want the filename to be different from the ProjectName).

### Proposed solution

I'd like to define the desidered pattern of the output file in the **Download** tab of the **Custom Ta

[2021-03-16 21:05] gitonthescene commented on #3732
Can you imagine explain the motivation a bit more?  How does this help your workflow? Exported how?  As csv?

*nix platforms have the [split commamd](https://man7.org/linux/man-pages/man1/split.1.html) which has a few options.

[2021-03-16 21:36] fgiroud opened #3734 "Testing method to create a project fails for large datasets"
For testing purpose (Cypress), there is a method to create a project based on a dataset passed as parameter.
This method fails is the provided dataset is too large

### To Reproduce
Create a test that starts with the following

[code]

### Current Results
the project is created but empty

### Expected Behavior
The project created with all rows

[2021-03-16 21:50] fgiroud commented on #3416
Looks like this test is failing from time to time, detached element from the dom

- https://dashboard.cypress.io/projects/s5du3k/runs/713/overview
- https://dashboard.cypress.io/projects/s5du3k/runs/702/overview

[2021-03-16 22:16] gitonthescene commented on #3719
@thadguidry - Do you know where the requirement for ASCII directory names comes from?

[2021-03-16 22:35] thadguidry commented on #3719
@gitonthescene not sure in the code.  It's a core Java lib.  @tfmorris would know.

[2021-03-17 07:11] wetneb opened #3740 "Timezone-dependent test fails in CET"
One of our tests fails when it is run in Central European Time:

[code]

### To Reproduce
Steps to reproduce the behavior:
1. First, change your timezone to CET
2. Then, `./refine test`

### Versions
 - Operating System: Debian
 - JRE or JDK Version: 11
 - OpenRefine: master

[2021-03-17 07:28] #3724 closed

[2021-03-17 09:31] gitonthescene commented on #2003
Connecting to issue discussing potential changes for clustering.  https://github.com/OpenRefine/OpenRefine/issues/241

[2021-03-17 10:21] wetneb commented on #3705
Actually, this move is not ideal either, because GitHub needs at least one required check to enforce that PRs are up to date with master before merging.

[2021-03-17 10:26] #3734 closed

[2021-03-17 13:13] fokky commented on #2144
We're applying for a Wikimedia project grant in order to develop this functionality. You can see, comment upon, and endorse the grant proposal here: https://meta.wikimedia.org/wiki/Grants:Project/Structured_Data_on_Wikimedia_Commons_functionalities_in_OpenRefine

[2021-03-17 13:16] iomicifikko commented on #3732
Hi there,

I need to export CSV files in Windows to be loaded in another software that cannot import large files.
Same problem if large data sets must be read by human with spreadsheet software.

Regarding the suggestion to use an external software, "problems" could be the following:
- need to use a different app :)
- put the header row on all the files
- correct cut at the end of the row if you n

[2021-03-17 13:47] wetneb commented on #3369
I will try to have a go at this soon, it would be good to have this fixed for 3.5.

[2021-03-17 15:02] wetneb opened #3745 "Invalid characters in cookies set by the Wikibase extension"
As part of the update of Jetty I am also upgrade the javax.servlet-api, from
[code]
to
[code]
And that introduces new checks on cookie keys (in the `Cookie` constructor). We seem to use cookies such as "https://www.wikidata.org/w/api.php-wb-consumer-token"

This raises exceptions: `java.lang.IllegalArgumentException: Cookie name "https://www.wikidata.org/w/api.php-wb-consumer-token" is a reserved

[2021-03-17 17:50] matthieuj commented on #3730
@wetneb we have been testing using open linked data for the last couple of days. All the locations where the {{id}} parameter is used are in callbacks, and the encodeURIComponent approach is the right one in that case. The only place where https://{{id}} or even {{id}} would make sense is to view the actual source, but in that case you simply need to omit the view service definition in the manifes

[2021-03-17 19:22] gitonthescene commented on #3732
I see.  I’m still not sure that this is general purpose enough to merit adding this feature but I’ll let other people weigh in.

Another workaround is for you to apply a facet and export the the file in pieces.  You could first add a row with the GREL expression `floor(row.index / numrows)` where `numrows` is the number of rows you want in each chunk and then filter on each value on that column us

[2021-03-17 20:12] tfmorris commented on #3705
My thought was to have the documentation PRs still run a mandatory step, but have that step know how to be a no-op for the necessary cases and just succeed without doing anything, but I haven't had a chance to investigate whether there are problems with doing it this way.

[2021-03-17 20:50] iomicifikko commented on #3732
Thank you for the link! I'll give it a look for use.

[2021-03-17 23:57] gitonthescene commented on #3732
FWIW, the first link in the doc referred to is broken.  It should point [here](https://docs.openrefine.org/manual/running/#reusing-operations).  I'm submitting a fix shortly.

[2021-03-18 00:03] gitonthescene opened #3747 "Typo in docs on automating OpenRefine"
### To Reproduce
Steps to reproduce the behavior:
1. Go to [link](https://docs.openrefine.org/manual/running/#automating-openrefine)
2. Notice that the first link referenced there is [broken](https://docs.openrefine.org/manual/running/running#reusing-operations)

### Current Results

Page not found

### Expected Behavior

Page found

### Screenshots

### Versions
 - Operating System:   All
 - Brow

[2021-03-18 06:47] #3745 closed

[2021-03-18 06:55] #3747 closed

[2021-03-18 07:05] wetneb commented on #3730
Yes I agree this is the right solution, thanks for checking!

[2021-03-18 09:06] afkbrb opened #3750 "Replace deprecated "for each...in" syntax in controller.js of the main module"
There are several pieces of code in [controller.js of the main module](https://github.com/OpenRefine/OpenRefine/blob/master/main/webapp/modules/core/MOD-INF/controller.js) that use the deprecated "for each...in" syntax, and Intellij IDEA cannot recognize that syntax.

According to https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Errors/For-each-in_loops_are_deprecated, we should r

[2021-03-18 09:30] fgiroud opened #3754 "Add integration tests for scatterplot facetting"
There has been some regressions and fixes on scatterplot facets
Let's cover those fixes with a good integration test

### Proposed solution
Add integration tests to scatterplot facetting

[2021-03-18 09:31] fgiroud commented on #3420
Scatterplots are now out of scope of this issue, and have a dedicated one, see #3754

[2021-03-18 11:32] iomicifikko commented on #3732
Got it, thank u.

[2021-03-18 12:47] #3750 closed

[2021-03-18 12:51] kushthedude opened #3756 "Unable to start OpenRefine after updating it with master on MacOS"
### To Reproduce
Steps to reproduce the behavior:
1. First, do update your branch with current master
2. Then, do `./refine build`
3. Finally, try running openrefine by `./refine`

### Current Results

OpenRefine fails to start with error
[code]
### Expected Behavior

OpenRefine should start

[2021-03-18 12:51] kushthedude commented on #3756
cc : @wetneb

[2021-03-18 12:56] wetneb commented on #3756
@kushthedude thanks for reporting! Have you tried `./refine clean` before `./refine`?

[2021-03-18 13:08] kushthedude commented on #3756
Thanks it worked!

[2021-03-18 13:08] #3756 closed

[2021-03-18 13:10] iomicifikko commented on #860
The problem is often related with the empty cells formatting: the user that wants, for instance, makes labels of a table **bold**, usually selects the whole row instead of just selecting the cells containing labels name. As result, all cells inside the row become bold formatted, empty cells also.

If you try to create two different projects with the 2 files inside the [examples.zip](https://github

[2021-03-18 14:15] #3678 closed

[2021-03-18 22:47] tfmorris commented on #860
@iomicifikko I don't think the Excel importer should treat empty cells differently based on their formatting. If you'd like to open a separate issue suggesting that change, with your files attached as test cases, we'd be happy to take a look at it.

I think we still might also want an easier multi-column delete, so they're really two separate issues.

[2021-03-20 02:11] gitonthescene commented on #3673
Thinking about this a bit more, I see that the filter is for "___best___ candidates score".  I.e. it only claims to be looking at the _best_ score among the candidates and says nothing about the other candidates.  My reading was more like "candidates score" and using the fact that if the "best candidate" was in range then there is at least one candidate in range.  Though this does mean that if you

[2021-03-20 05:51] wetneb commented on #3673
That sounds much easier, as it should be doable to have a candidates score facet without changing anything to the architecture. A GREL expression that returns a list of numeric values should be treated by the facet accordingly.

[2021-03-21 07:45] wetneb opened #3760 "Scrutinizers skipped because of missing configuration parameters"
When using OpenRefine on Wikidata, I get the following log messages:
[code]

This also happens when running tests, meaning that the tests of those scrutinizers are skipped entirely!
### To Reproduce
Steps to reproduce the behavior:
1. Run the server tests with `./refine test`

### Current Results

[code]
### Expected Behavior
Those tests should be run.

### Versions
 - Operating System:  Debian
 -

[2021-03-21 08:01] wetneb commented on #3202
Opened an issue in WDTK about that: https://github.com/Wikidata/Wikidata-Toolkit/issues/561.
That being said I cannot reproduce the issue as is - I suspect we must wait for the cookies to expire by themselves while keeping OpenRefine open? Based on @Nikerabbit's comment above we could still ensure we catch IOExceptions there, until the bug is fixed upstream.

[2021-03-22 02:17] afkbrb commented on #3760
Tests of scrutinizer do run when testing.

The related test class is https://github.com/OpenRefine/OpenRefine/blob/master/extensions/wikidata/tests/src/org/openrefine/wikidata/qa/EditInspectorTest.java.

In that class, `testNoScrutinizerSkipped()` reads a full Wikidata manifest, and no scrutinizer is skipped. Other test methods read manifests that without some necessary properties for scrutinizers

[2021-03-22 07:19] wetneb commented on #3760
Ah ok, thanks! But that should still not happen in runtime, no?

[2021-03-22 07:24] afkbrb commented on #3760
For wikidata, since the manifest we provided contains all information necessary for all scrutinizers, that won't happen.

For other wikibase instances, a scrutinizer will be skipped if any information necessary is missing in the manifest.

[2021-03-22 09:08] ostephens commented on #3673
The most obvious possibility would be only showing the rows within a record that match the facet value/filter - although this is slightly different because in that case each value is in it's own cell (and so in this scenario you would be hiding/showing rows rather than values within cells). Equally I guess that any cell that contains (from the users perspective) multiple values could be something

[2021-03-22 09:48] gitonthescene commented on #3673
I must admit it still sounds strange to me to not want to see rows where _all_ the candidates score low but to want to see low scoring candidates for rows which have _some_ candidate which scores well.  If you're conceding that low scoring candidates might be the right match, wouldn't that apply to all rows?  And if that's not your immediate concern, shouldn't seeing candidates in range suffice?

[2021-03-22 10:02] wetneb commented on #3673
I often feel like I do not have enough time to review all rows - I am lazy and only want to spend time on rows for which there is a good chance of finding a match. But when I do decide to match a cell to a candidate I want to do it in confidence that I am not overseeing candidates for that row.

This is an attitude I have when I want high precision but do not care much about recall.

[2021-03-22 10:25] gitonthescene commented on #3673
@wetneb I guess that makes sense but I'm still confused by the mix of being lazy and disciplined.  It feels like if you find a match outside of the range you've restricted it to, it's basically luck.  I would trust my eyes for spot checks but if they're the only things assuring accuracy I don't hold out a lot of hope.

So are the rows which don't have some candidate high enough left for dead thoug

[2021-03-22 10:44] fgiroud opened #3764 "Fix flaky test 'create_project'"
Create_project.spec.js is overall flaky and creates a lots of noise in builds and cypress dashbaord

Example of failed builds

- [782](https://dashboard.cypress.io/projects/s5du3k/runs/782/overview)
- [780](https://dashboard.cypress.io/projects/s5du3k/runs/782/overview)
- [777](https://dashboard.cypress.io/projects/s5du3k/runs/782/overview)
- [773](https://dashboard.cypress.io/projects/s5du3k/runs

[2021-03-22 10:44] fgiroud commented on #3764
@kushthedude do you want to fix this one ?
I don't mind to have a look if you want

[2021-03-22 11:53] #3288 closed

[2021-03-22 11:55] ostephens commented on #3673
I think if we can find a way of offering this as an option which can be used if the user wants to (even happy for it to be the default behaviour as long as it can be overridden) then I think it's a good idea.

I guess ultimately people have different preferences for working through options and dividing up their work. For me, dealing with lines with high scoring candidates is a way of isolating the

[2021-03-22 12:00] wetneb commented on #3673
That's a much better way to phrase my comment above, thanks!

[2021-03-22 12:04] gitonthescene commented on #3673
@ostephens - I agree this should be a different facet and don’t mean to suggest that this replace the current one.  I was just trying to understand the suggest workflow for the current facet.

[2021-03-22 12:36] thadguidry commented on #3760
@afkbrb That info feels good to document...maybe in the code?

[2021-03-22 12:52] afkbrb commented on #3760
Every scrutinizer implements the `prepareDependencies` method, which checks if any information necessary for that scrutinizer is missing in the manifest. I think the code in the method itself should be enough to tell us what information the scrutinizer needs.

[2021-03-22 16:50] wetneb commented on #3760
I'll double-check why I saw these messages - it's likely that they came from a different instance indeed.

[2021-03-22 20:44] kushthedude commented on #3764
I made sure the tests have no error from my previous PR of limiting the timeouts, looks like the error is in the support cypress function which checks for the 404 HTTP page, I will try to see a workaround for this asap.

[2021-03-22 20:53] AndriiPiatakha commented on #2239
Unfortunately - that is not worked for me. Issue in master still exists for me when I create project. Can we reopen this issue?

[2021-03-24 13:43] wetneb commented on #3760
That was indeed with a different service, sorry for the false alarm.

[2021-03-24 13:43] #3760 closed

[2021-03-24 15:58] wetneb commented on #1658
This was closed by #2915, it is a duplicate of #2913.

[2021-03-24 15:58] #1658 closed

[2021-03-24 16:47] wetneb commented on #2667
This was solved by the migration to the Apache HTTP client.

[2021-03-24 16:47] #2667 closed

[2021-03-24 16:53] wetneb commented on #3656
@afkbrb have you got thoughts about the workflow above? If you can confirm that the fallback will not work in such a case, I will try to fix this by moving this fallback to the backend.

[2021-03-25 01:19] gitonthescene commented on #2667
Mind if I ask how?  I know it’s solved but I’d like to understand.  Is the idea that there is a fixed proxy fronting the service so that redirects are not needed?  Is the overhead lower because you’re not posting redirects back to the clients but rather routing with the Apache server?  Not related but does the Apache server also take care of flow control?

[2021-03-25 04:50] wetneb commented on #2667
It was done by https://github.com/OpenRefine/OpenRefine/pull/3237: now that our HTTP calls are done through this library, HTTP redirects are handled by the library directly. We certainly don't introduce any proxy :)

[2021-03-25 08:03] afkbrb commented on #3656
I did forget to consider these scenarios. The fallback does need to appear in the backend. We should still keep `mediaWikiApiEndpoint` and `editGroupsURLSchema` serialized then.

[2021-03-26 16:06] thadguidry opened #3773 "Improve Wikidata login experience by showing Logged in dialog box after login"
When a user first logs into Wikidata, or logs out through the **Manage Wikidata account** option of the Wikidata extension and then logs in, the UX leaves the user wondering what happened since the login dialog disappears, leaving the user to assume they logged in successfully.

### Proposed solution
Ideally, the current "logged in" dialog (`bind="explainLogin"`) could actually be shown immediatel

[2021-03-27 11:13] audealexandre commented on #1057
Hi,

Is there something new about this issue?

Thanks in advance,
Best,

Aude

[2021-03-29 04:46] gitonthescene commented on #1057
Couldn’t you also support transformations in a dummy `comment` language and just ignore those transformations?  They should end up in the recipe looking like `comment:here are my comments`.  Also, I’m not sure how the suggestion to use YAML improves things.  Don’t the same concerns exist there too?

[2021-03-29 06:41] gitonthescene commented on #1057
Another option is to add a checksum to the serialized format to ensure integrity.  So that if people edit the serialization without updating the checksum you get an error.  This would probably catch the more naive programmers.  You could even encrypt with a secret key if you want better assurances.  This could all be done after stripping comments to make editing comments safe.

[2021-03-29 15:01] tfmorris commented on #1057
@audealexandre This issue contains the complete history and status. It will be updated when there is a change.

@gitonthescene Thanks for the implementation suggestions. The advantage of YAML is that it has a native comment syntax, whereas JSON doesn't.

[2021-03-29 20:53] gitonthescene commented on #1057
Ah, JSON, not Javascript.  Now I get it.  Thanks.

[2021-03-30 08:02] #3764 closed

[2021-03-30 09:53] #3416 closed

[2021-03-30 15:15] wetneb commented on #3773
I think that makes sense when the user spontaneously accesses the dialog by themselves.
But there are also cases where the login dialog is shown as a prerequisite to accessing another dialog, such as the upload edits dialog. In that case, the current behaviour might be better, since it's better to take the user to the dialog they requested in as little clicks as possible.

[2021-03-30 15:31] thadguidry commented on #3773
@wetneb But you agree that at a minimum there should be **some confirmation to the user that they have successfully logged in** ?

[2021-03-30 16:38] wetneb commented on #3773
Yes, but I think in the specific case where the log in dialog was brought up because the user tried to access the upload dialog, the upload dialog serves as a sufficient confirmation (since it is written there "You are logged in as MyUsername").

[2021-03-30 18:34] thadguidry commented on #3773
Ah!  I finally see it... not very prominent, I missed it... here's the steps...

1. Clicked **Upload edits to Wikidata**
![image](https://user-images.githubusercontent.com/986438/113038715-6e640700-915c-11eb-8f26-4ffc5490f4ce.png)

2. Then have the **Upload edits to Wikidata** dialog, which indeed has a small logged in confirmation.
![image](https://user-images.githubusercontent.com/986438/1130388

[2021-03-30 18:34] #3773 closed

[2021-04-01 11:58] #3656 closed

[2021-04-01 15:16] grahamjevon commented on #3688
I've had a similar request on my mind.

**Problem**

The problem I have is that I have columns that contain long strings of text (e.g. verbose catalogue descriptions in the form of multiple sentences). This data is created in Excel (often by people for whom English is a second language) and often contains spelling errors because Excel does not have a spell check function like Word.

**Solution**

[2021-04-01 15:20] strarsis commented on #3688
@grahamjevon: I found a quite primitive but efficient approach:
Export to Excel-compatible format, open in Excel (or OpenOffice Calc), run the spell-checker.
It also allows adding to dictionary and changing all occurrences. It works quite well.
After correction the excel can be imported back into OpenRefine for further clustering.

[2021-04-01 15:55] tfmorris commented on #3369
Do retries fully resolve this? The scenario that I'm thinking of is reconciliation candidate that a service has hard failure with for whatever reason (reconciliation service bug, most likely). I don't think the user can detect this case and, I'm not sure, but I think it might kill the entire batch that the bad candidate is in.

Certainly for unreliable reconciliation services, the retries will pro

[2021-04-01 18:00] wetneb commented on #3369
Yes it's a good point: the PR does not address the issue fully, we should have a way to signal to the user that some batches failed. It's not clear to me how we should do this. Perhaps simply replace the corresponding cell values by an `EvalError`? Currently, reconciliation doesn't touch the cell values at all, so that might be something we want to preserve, but I cannot really think of other opti

[2021-04-03 03:25] strarsis opened #3781 "Columnize: Missing rows"
### To Reproduce
Steps to reproduce the behavior:
1. Have a dataset of records where each record contains multiple rows, each with a field for the column-name and for the column-value.
2. Fill down the column for the column-names.
3. Use the columnize feature, select the column for the column-name and the column for the column-value.
Although the first record is correctly columnized, subsequent re

[2021-04-03 03:30] wetneb commented on #3781
@strarsis thanks for this report! I think it would really help if you could give an example of the table on which the workflow fails, with the current result and expected behaviour also demonstrated as tables… That would make the bug even clearer and encourage people to tackle it :)

[2021-04-03 03:39] strarsis commented on #3781
OK, an example here:
| ID 	|   Title   	| Column-Name 	|  Column-Value 	|
|:--:	|:---------:	|:-----------:	|:-------------:	|
| 1  	| Lamp      	| Color       	| Red           	|
|    	|           	|             	| Blue          	|
|    	|           	|             	| Yellow        	|
|    	|           	| Category    	| Utilities     	|
|    	|           	| Feature     	| Rechargable   	|
|    	|

[2021-04-03 18:15] wetneb opened #3782 "Generous logging since the Jetty upgrade"
Since the Jetty upgrade we have more logging lines showing up by default:
[code]

All the ones that start with `[                butterfly]` are new. It's not clear to me if we want to have them or not. It should be possible to remove if we do not.

[2021-04-03 20:11] thadguidry commented on #3782
I think all those successful GET's for resources should be ignored at an INFO level, yes?
I would imagine for any failed GET's then an ERROR would be logged and that would be useful to see.
Maybe we tweak Butterfly's logging instead?

[2021-04-04 00:42] tfmorris commented on #3782
Smells like the classnames in log4j.properties might not have gotten updated to track the change from the `org.mortbay...` package names.

I don't think we want the extra logging by default.

[2021-04-04 17:25] #3274 closed

[2021-04-04 19:49] dpriskorn commented on #2240
To anyone interested in lexemes. You are welcome to [contact me](https://meta.wikimedia.org/wiki/User:So9q) with tool-ideas. Today I wrote an new one because OpenRefine could not do what I wanted :)

[2021-04-04 20:27] dpriskorn opened #3784 "Rewrite in Python using WikibaseIntegrator"
WDYT?
We would get lexeme support, probably commons structured data support also.

[2021-04-05 02:23] singhakshita commented on #3577
as mentioned in exploring.md "OpenRefine understands records based on the content of the first column, what we call the “key column.” Splitting a row into a multi-row record will base all association on the first column in your dataset. "

this implies that in record mode , the "1" is associated with  first three rows in "github" column  ,hence the example shown by @felixlohmeier  should be desira

[2021-04-05 04:39] tfmorris commented on #3784
Thanks for the suggestion/request, but could you provide more context please? What are you proposing be rewritten in Python? What would the benefit be to OpenRefine users?

Answering the above will probably answer the rest of the questions, but what is "lexeme support" in the context of OpenRefine? I know what lexemes are, but I can't resolve the extreme shorthand to an OpenRefine feature.

"Commo

[2021-04-05 07:48] wetneb commented on #3784
If I understand correctly they suggest to rewrite OpenRefine in Python.

@dpriskorn the fact that OpenRefine is written in Java is not at all an obstacle to adding support for the things you mention. And it is a lot more effort to rewrite OpenRefine in another language compared to simply adding support for those features. It would be like buying a new house because you want to change the colour of

[2021-04-05 07:48] #3784 closed

[2021-04-05 19:06] VojtechDostal opened #3785 ""Use values as identifiers" via Wikidata QIDs adds erroneous items"
I have a list of Wikidata QIDs and I want to use them in an import. Thus, I proceed to simple reconciliation via identifier values ("Use values as identifiers"). However, As many as 1 % of QIDs get erroneously paired to a completely different ID. This is hard to spot and leads to nonsense getting imported into Wikidata.

### To Reproduce
Steps to reproduce the behavior:
1. Download a list of QIDs,

[2021-04-05 20:37] dpriskorn commented on #3784
Interesting, I'm not very familiar with Java or openrefine. I recommend changing to wikibaseintegrator for uploading.
it support most things and the Dev is very responsive.
https://github.com/LeMyst/WikibaseIntegrator

[2021-04-05 21:13] strarsis commented on #3781
@wetnet: By chance I Found an OpenRefine extension that implements exactly this feature:
OpenRefine [VIB-BITS plugin](https://www.bits.vib.be/software-overview/openrefine) "Unpaired pivot"
https://data.bits.vib.be/hidden/g7dt6RjuUTU421dY2CwrGePGX/OpenRefine%20VIB-BITS%20plugin.pdf
But in the meantime I already solved this by exporting from OpenRefine to a CSV, running a nodejs script over it (whic

[2021-04-05 21:21] strarsis commented on #1214
There is a free plugin that offers exactly this functionality:
[VIB-Bits plugin][1], "Unpaired Pivot" feature:
https://stackoverflow.com/a/66959859/4150808

[2021-04-06 00:06] gitonthescene commented on #3785
I’m not sure what’s causing this result but it’s worth noting that the unresolved example above points to a [non-existent](https://m.wikidata.org/wiki/Special:EntityData/95084491) entity and no longer is in the results of the query you posted.  Do you have an example where this is not the case?  Perhaps the fact that it didn’t auto-reconcile is alerting you to this fact.

[2021-04-06 00:12] gitonthescene commented on #3784
@dpriskorn - I agree with @tfmorris’s post above that a more explicit description of how you think this might work is necessary to even consider if this is worth taking on.  Is there something you tried to do with OpenRefine as it is and couldn’t do?

Please provide an example, ideally with screenshots and/or sample input and output.

[2021-04-06 00:59] gitonthescene commented on #3785
FWIW, I just downloaded the items from the query you posted and then applied "Use values as identifiers" and then Reconcile -> Facets -> by judgement and all the entries come up as `matched` using OpenRefine 3.4.1 on a Mac 11.1 with Firefox 87.0.

There are ~65,000 QID's returned by that query.  If you do have an example, it would be great if you could make it small enough to be more easily eyebal

[2021-04-06 03:56] wetneb commented on #3785
I tried to reproduce this but all the reconciled cells were associated to the correct id:
![image](https://user-images.githubusercontent.com/309908/113656740-c9d24f80-969c-11eb-9cf4-4300c7cace01.png)

[2021-04-06 05:36] VojtechDostal commented on #3785
The item exists, it's available at: https://www.wikidata.org/wiki/Q95084491 (your link just had bad formatting)

I have plenty of examples from today's (different) id-based reconciliation which also produced this mistake (176 mistake, 33695 correct):

<img width="156" alt="Bez názvu" src="https://user-images.githubusercontent.com/21329813/113663661-b75f1280-96aa-11eb-859d-c72560a26030.png">

[2021-04-06 05:38] wetneb commented on #3785
I think it would be easier to reproduce this bug if you could point to a static CSV file - the results of the SPARQL query are likely to change often (especially if the bug is coming from redirected/deleted entities which will quickly get cleaned up from the SPARQL endpoint).

[2021-04-06 05:40] VojtechDostal commented on #3785
Yes, I also see 100% of lines matched (it's just that some of them are matched incorrectly).
The query is long because the error only occurs in about 1% of the cases... Maybe it only occurs when the job is this big and somehow the tool is overloaded.

[2021-04-06 05:43] wetneb commented on #3785
Well, next time you see it happen, please keep a copy of the SPARQL results (not query) and upload them to this issue. The "Use values as identifiers" operation does not communicate with the outside world at all, that should normally be enough to reproduce the issue.

[2021-04-06 12:11] gitonthescene commented on #3785
@VojtechDostal - You’re right.  I left off the initial Q.  Sorry for the confusion.  Still, I couldn’t reproduce from the output of the query as I mentioned above.

[2021-04-06 12:16] gitonthescene commented on #3785
I’m confused.  The screenshot shows them unmatched.  Is the screenshot from immediately after reconciling or did you take some other action?

[2021-04-06 13:10] VojtechDostal commented on #3785
Sorry for confusion, I manually unmatched some of them to uncover the wrong reconciliation.

@wetneb Will do once I find out something that's reproducible. Currently I suspect that the mistake happenes randomly and it doesn't matter what the specific input data are. If something like that is even possible :)

[2021-04-06 16:03] LibrErli opened #3790 "Problems with Property Page(s) (P304) in Wikidata Schema"
i want to add some bibliographic data to Wikidata, but unfortunately openRefine said, my "schema is incomplete"

### To Reproduce
Steps to reproduce the behavior:
1. create a new schema
2. add Property page(s) (P304)
3. drop any column values containing some page like values.

### Current Results
* In the preview tab i receive "Your schema is incomplete, fix it to see the preview."
* In the CLI i

[2021-04-06 17:53] dpriskorn commented on #3784
oh, I thought you knew that we in wikidata would love to add identifiers to lexemes and be able to reconcile based on lemmas.
I have a list of 128000 words from saob that I would like to find the corresponding Swedish lemmas of and add the identifier to.
I ending up writing a custom script because openrefine could not do any reconciliation on lemma and language.

[2021-04-06 21:15] gitonthescene commented on #3784
Ah, so this is about reconciliation.  Reconciliation is actually handled by services to which OpenRefine connects.  Is your script a reconciliation service?  Could you share it?  Maybe it can be turned into a service.

There are a examples at the [reconciliation census](https://reconciliation-api.github.io/census/libraries/) for how to build a service.  In particular, `reconcile-demo` is written i

[2021-04-07 04:03] gitonthescene commented on #3790
Would you be able to add some screenshots?  I for one am not following your description of the problem.  Being as specific as possible always helps.

[2021-04-07 06:02] gitonthescene commented on #3790
I think this goes back to the format constraint defined [here](https://www.wikidata.org/wiki/Property:P304).  That regex seems not to be parseable.  Perhaps it's best to address the people who made the change on the Talk page for that property.  It looks like it was changed in November of last year by Verdy p.  I can't parse this regular expression in python, but I could parse the previous express

[2021-04-07 07:33] wetneb commented on #3784
We already have #2240 for this :)

[2021-04-07 07:35] wetneb commented on #3790
Duplicate of #3274: the problem is solved in the development version of OpenRefine, that you can install from here:
https://github.com/OpenRefine/OpenRefine-snapshot-releases/releases

[2021-04-07 07:35] #3790 closed

[2021-04-07 07:37] gitonthescene commented on #3790
FWIW, it looks like the syntax of the regular expression [can be specified](https://www.wikidata.org/wiki/Property:P4240)

[2021-04-07 16:25] dpriskorn commented on #3784
big thanks @gitonthescene ! As I understood it the interface of openrefine might also need to change.
Your links seem very valuable to get started 😃
I am gonna work on a grant application or something to get this done.

[2021-04-08 11:36] ostephens commented on #3785
@VojtechDostal - a couple of questions:

* What is the original content of the QID column in your example? (is it just a Q number or a URL - which is what I get when I use the query you link to)
* When you choose to use the cell content as identifiers - what reconciliation service are you using? (what is the underlying service URL)

Thanks

[2021-04-08 17:47] kushthedude opened #3797 "CI: all tests are failing due to the incorrect syntax of setup-java GitHub action"

[2021-04-08 20:30] wetneb commented on #3797
Whoops, thanks for catching that!

[2021-04-08 20:31] #3797 closed

[2021-04-09 05:46] matiasgarciaisaia opened #3800 "Can't import Google Sheet while logged in"
If I log into OpenRefine with a Google account, trying to import a Google Spreadsheet results in an unhandled exception that leaves the UI with a endless `Preparing...` message.

The issue is the same one described in #3604, but back then it was misinterpreted that the issue was not being signed in - while it was a coding bug issue all along.

### To Reproduce
Steps to reproduce the behavior:
1. N

[2021-04-09 05:49] wetneb commented on #3800
This is just because you haven't provided Google API credentials - we should fail in a cleaner way in this case.

[2021-04-09 05:58] matiasgarciaisaia commented on #3800
I'm pretty sure I've provided the Google API credentials - on development, I've hardcoded the `CLIENT_ID` and `CLIENT_SECRET` constants in `GoogleAPIExtension.java`.

I've just sent a PR with the fix.

[2021-04-09 06:03] wetneb commented on #3800
Ah ok, thanks a lot!

[2021-04-10 19:49] franparras opened #3804 "Improve API Response JSON profiles / output to follow best practices"
Hi team
I am working with the Open Refine APIs from a while, overall we know that we have limitations and challenges becuase we don´t have documentation or in certain cases we don´t have what we need, but what I found painful in certain cases is that we have JSON Objects based in the IDs, example in the JSON below to handling projects we are using the Project ID for the name of the object instead

[2021-04-10 20:39] tfmorris commented on #3804
The only public API used by OpenRefine is the reconciliation API and we're a consumer of that, not a producer.

From the looks of the image (text is a lot easier to deal with BTW), it appears you may be looking at the internal client/server protocol used between two of the OpenRefine components. That's not documented for external use -- thus not versioned, stable, or many other things that one wou

[2021-04-11 00:32] tfmorris opened #3805 "Workspace files being written unnecessarily"
### Current Results

It looks like all of the individual projects' `metadata.json` files are getting written every 5 minutes, even if the project hasn't been modified in any way - or even opened. This is both wasteful and error prone because it provides many more windows for project corruption when no file write is needed.

### Expected Behavior
File updates should be minimized and restricted to t

[2021-04-11 07:12] wetneb commented on #3804
Even then, thank you @franparras for the suggestion! I think it still makes sense to follow best practices for an internal API.

[2021-04-11 08:37] fgiroud opened #3806 "Clear reconciliation data should also clear facets"
When clearing reconciliation data with a click on Reconcile/Actions/Clear reconciliation data, the grid ends-up empty if they were some facets on reconciliation.

Clearing reconciliation data should also clear reconciliation facets

### To Reproduce
Steps to reproduce the behavior:
1. Create a project
2. Reconcile a column
3. Facet by reconciliation judment
4. From the facet, filter by "Matched"
5

[2021-04-11 19:05] #3754 closed

[2021-04-11 19:44] fgiroud commented on #3415
Reopening this issue, automatically closed by the PR
Remaining tests to be implemented
- transform
- facet by star, by flag
- remove matching rows
- show/hide null values as cells

[2021-04-12 07:09] wetneb commented on #3806
Your request makes sense but it is not so clear to me how we could implement this in a really satisfactory way, to be honest. We could have the UI remove
1. the facets that are added by default by the reconciliation operation
2. any of the predefined reconciliation facets
3. any of the facets which rely on reconciliation data in this column?

The first options can be a tiny bit confusing because t

[2021-04-12 09:56] matthieuj opened #3809 "Type-ahead property selection fails with CORS exception in data-extension panel"
### To Reproduce
Configure OpenRefine with a reconciliation service that provides a property suggestion service.

The manifest for such service includes:

	"suggest": {
		...
		"property": {
			"service_path": "/suggest/property",
			"service_url": "http://dock05:8080",
			"flyout_service_path": "/flyout/property?id=${id}"
		},
		...

Reconcile against that reconciliation server, then on the recon

[2021-04-13 12:59] fgiroud commented on #3806
Another way of doing it would to not remove facet, but simply disable them. For that we would need a new control on each facet container to enable/disable the filter

[2021-04-14 20:04] #3809 closed

[2021-04-14 20:04] wetneb commented on #3809
@matthieuj thank you very much for the report and the fix!

[2021-04-15 01:03] gitonthescene commented on #3663
Linking related issue: https://github.com/OpenRefine/OpenRefine/issues/1966

[2021-04-15 09:44] wetneb opened #3816 "Support BCE dates in Wikibase upload"
The Wikibase extension does not currently let the user upload "negative" dates (in the Julian/Gregorian calendars).

The currently supported formats are documented here: https://www.wikidata.org/wiki/Wikidata:Tools/OpenRefine/Editing/Schema_alignment#Dates

### Proposed solution
Introduce a new syntax for those dates. For instance `-YYYY` or `YYYY BCE` could be used. Both are supported by Wikibase

[2021-04-15 09:51] wetneb commented on #3816
Marking as a good first issue since this is fairly self-contained: changes should be contained to this class and its corresponding test class:
https://github.com/OpenRefine/OpenRefine/blob/master/extensions/wikidata/src/org/openrefine/wikidata/schema/WbDateConstant.java

[2021-04-15 11:15] VojtechDostal commented on #3431
This happened again and I was able to fix it again with this approach. Kudos indeed :)

[2021-04-15 11:40] fgiroud opened #3817 "Implement parallelization for Frontend tests"
Cypress tests are now taking an hour to run
Implement parallelization to speed up the cycle.

We are trying to tackle two issues here
* running time
* dependency to Cypress dashboard (because running cypress tests in parallel requires the dashboard)

### Investigation

I've tried
* Running Cypress tests on several machines, it's working, but requires the cypress dashboard
* Using a [non-official p

[2021-04-15 11:56] thadguidry commented on #3817
As Cypress tests are being run...is OpenRefine client always a single instance that is started/stopped?
Maybe instead for CI/CD, we could have 1 VM image that runs 4 OpenRefine clients on different ports?  But also keep a config for developers that defaults to 1 OpenRefine client?
My worry is that of hardware resource restrictions for VM's by GitHub...even for open source projects...somewhere they

[2021-04-15 12:50] wetneb opened #3818 "Command line options documentation are inconsistent"
In https://docs.openrefine.org/manual/running we indicate `-Drefine.headless=true` as the option to add to run OpenRefine in headless mode. But trying it with `./refine -Drefine.headless=true` does not work. Instead `./refine -x refine.headless=true` does.

There seems to be a discrepancy between the syntax on the command line (`-x`) and in `refine.ini` (`-D`). The documentation should make that c

[2021-04-15 13:36] thadguidry commented on #3817
As promised on our UI Tests meeting today, I've taken a further look into this and asked around...
In short, we just need to improve our `.yml` files to take advantage of parallel jobs within them using GitHub Actions own syntax.

According to the docs...

Furthermore...

the [Workflow Actions Reference](https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idstra

[2021-04-15 14:12] fgiroud commented on #3817
Interesting doc about jobs, as you said, there might be an interesting combination

Here is my PoC with cypress GitHub actions
https://github.com/fgiroud/OpenRefine/blob/cypress-parralel/.github/workflows/pull_request.yml

(Note that I disabled the server tests temporarily)

[2021-04-15 19:23] kushthedude commented on #3817
why to move to cypress action? We can pass in `--parallel flag` from the CLI command as is.

[2021-04-15 23:10] gitonthescene commented on #3629
Just had another simpler idea.  Both Levenshtein distance and Word distance can be exposed as functions so that users can call them as they see fit.  For instance, you could split out all the candidates returned from reconciliation and then apply Levenshtein distance with a GREL expression.  Are these functions already available?  The links to GREL controls, Clojure and Jython seem broken [here](h

[2021-04-16 06:17] wetneb opened #3819 "Broken links in documentation"
As pointed out by @gitonthescene in https://github.com/OpenRefine/OpenRefine/issues/3629#issuecomment-820787026, some links in https://docs.openrefine.org/manual/expressions/#grel-supported-regex are broken, for instance the "contains" GREL function which links to https://docs.openrefine.org/manual/expressions/grelfunctions#containss-sub-or-p.

We should:
- [x] make sure the CI detects this
- [x]

[2021-04-16 09:01] wetneb commented on #3819
So after some investigation in #3820 it turns out those broken links are actually generated by Netlify, which "prettified" URLs by adding trailing slashes to them, which broke relative links in those pages. I have disabled this feature, however pages will still load when they have a trailing slash. We need to remove this trailing slash with a redirect to keep the internal links functional.

[2021-04-16 09:15] gitonthescene commented on #3819
FWIW, when I click on [this link](https://docs.openrefine.org/manual/expressions/#grel-controls) I'm taken to https://docs.openrefine.org/manual/expressions/grel and not https://docs.openrefine.org/manual/expressions#grel nor https://docs.openrefine.org/manual/expressions/#grel.  These last two links work.  That is to say it looks like it's the missing `#` to me and not a trailing `/`.

[2021-04-16 11:55] wetneb commented on #3819
Ah good point. Docusaurus does not validate the anchors yet (https://github.com/facebook/docusaurus/issues/3321), so that can still be broken. But still I am surprised that when you go to https://docs.openrefine.org/manual/expressions/#grel-controls you are taken to https://docs.openrefine.org/manual/expressions/grel, for me I simply land at https://docs.openrefine.org/manual/expressions/#grel-con

[2021-04-16 12:04] gitonthescene commented on #3819
Is this client side routing?  I'm using FF 87.0, but I just checked and I get the same result with Chrome 90.0.4430.72.

Checking the links, it looks like clojure goes to https://docs.openrefine.org/manual/expressions/jythonclojure#clojure instead of https://docs.openrefine.org/manual/jythonclojure#clojure which works.  Similarly for jython, so it seems to be a different issue than GREL.

[2021-04-16 12:19] wetneb commented on #3819
I am not quite sure what is going on here - can you just check whether those links work for you in the deploy preview of the associated PR? For instance if you go to https://deploy-preview-3821--openrefine-docs.netlify.app/manual/expressions/, the links should work as expected.

[2021-04-16 12:44] gitonthescene commented on #3629
I'm no Clojure wiz, but I got the following to work.  It might be nice to expose it as a function, though.  Also, it might be nice if the documentation had some more examples of Clojure.  I found [this](https://kirank.in/posts-output/2016-08-20-openrefine-clojure/) useful.

[code]

[2021-04-16 12:47] wetneb commented on #3629
Makes sense! If you feel like it, I am sure PRs to the docs in this direction will be welcome :)

[2021-04-16 12:50] gitonthescene commented on #3819
The GREL link worked here, but it's still pointing to https://deploy-preview-3821--openrefine-docs.netlify.app/manual/grel.  The clojure and Jython links worked as well with names that look similar to the above.  If it works, I'm happy, but it is odd that you see different links than I do.  Is it possible something is cached on my client?  Do we need to force some cache to expire when it's updated

[2021-04-16 12:52] wetneb commented on #3819
Ok, I think this is just a communication issue then - I think we see the same links, and they work, so that's great.

[2021-04-16 15:41] wetneb commented on #3730
I have second thoughts about this, because @metaschell did mention that they were using full URIs as ids (or at least considering to) in https://github.com/reconciliation-api/specs/issues/39#issuecomment-587487259. I would like to avoid OpenRefine dictating the specs so perhaps it would be good to solve the issue in the W3C group first and then implement the solution here… I'll try to bring this t

[2021-04-16 16:06] #2771 closed

[2021-04-17 00:34] gitonthescene commented on #3629
For posterity, this is even easier with Jython.  (I have no prior experience with either...)

[code]

[2021-04-17 00:56] gitonthescene commented on #3629
@wetneb Added doc about basic Clojure access [here](https://github.com/OpenRefine/OpenRefine/wiki/Recipes#11-clojure).

[2021-04-18 09:23] wetneb opened #3824 "UI tweaks in Wikibase selection dialog"
I would like to propose some minor tweaks to the dialog to select the Wikibase instance:
* The currently selected Wikibase instance is not displayed prominently enough. I would expect the item in the list to be somehow highlighted (different background color, border…)
* Since the logos take a bit of vertical space I think we could have space to also display the URL of the Wikibase instance underne

[2021-04-18 13:58] wetneb commented on #3740
The problem is not the test, it's the importer that is genuinely buggy here. In LibreOffice Calc, those values are displayed as simple dates:
![image](https://user-images.githubusercontent.com/309908/115148189-c22c8680-a05e-11eb-9790-2764dc4a343e.png)

But once imported in OpenRefine those dates become shifted by a day backwards, because the original date is parsed as being in CE(S)T and then repr

[2021-04-18 14:28] wetneb commented on #3694
Hi @loulankxh, how is it going? If you get stuck at any point feel free to reach out.

[2021-04-18 14:32] wetneb commented on #3563
This is now implemented with an option on the CLI to specify the class name of the datamodel runner, `-r`.

[2021-04-18 14:32] #3563 closed

[2021-04-18 14:38] wetneb commented on #3561
Documentation was done, in this commit (and some follow-up ones):
https://github.com/OpenRefine/OpenRefine/commit/1aa5dd2b0d5fd6b76d653901258e918662f0e1b0
There are surely more things that can be documented, I'll try to do it as I make further improvements.

[2021-04-18 14:38] #3561 closed

[2021-04-18 17:24] wetneb opened #3826 "Restore progress reporting support in new architecture"
In the new architecture, the reporting of the progress of importers or long-running operations was temporarily disabled. For instance, when running a reconciliation operation, progress will jump from 0% to 100% without any intermediate steps. We need to restore this functionality.

### Architecture

Some progress reporting callbacks can be passed through the datamodel interface, when running some

[2021-04-18 18:08] samaritanhu opened #3828 "Windows10 cannot find or load com.google.refine.Refine"
Using refine.ini for configuration
Getting Java Version...
java version "13.0.1" 2019-10-15
Java(TM) SE Runtime Environment (build 13.0.1+9)
Java HotSpot(TM) 64-Bit Server VM (build 13.0.1+9, mixed mode, sharing)
=====================================================
Getting Free Ram...
Error: Cannot find or load com.google.refine.Refine
Reason: java.lang.ClassNotFoundException: com.google.refine.R

[2021-04-18 18:43] wetneb commented on #3828
Did you try doing `refine.bat clean` before?

[2021-04-18 18:49] samaritanhu commented on #3828
Hi @wetneb. Yes I tried this, and it appears that
`Using refine.ini for configuration`
`Windows cannot find the specified file directory.`

[2021-04-18 18:50] wetneb commented on #3828
Maybe @thadguidry can help debug this?

[2021-04-18 20:48] thadguidry commented on #3828
Hi @samaritanhu
You likely might be having a system environment issue.
Your JDK looks OK enough so we just need to ensure that the Maven Build is working correctly, so try:
1. `refine clean`
2. `refine build`
3. `refine.bat`

Ensure that the build completes successfully and you have no Maven build errors.
By default, it should have downloaded Maven for you, but you can also use an existing Maven i

[2021-04-18 21:02] thadguidry commented on #3826
For Spark, I'm less worried about that? After all, anyone with some Spark experience can actually debug the Tasks themselves and see what's happening and get a feel for the progress from the Spark web interface.

For the Local runner, I think we can just do lots more benchmarking and testing various large datasets and then circle back to this issue and make some tuning or adjustments to the approa

[2021-04-19 06:43] fgiroud opened #3829 "Bug found when applying reconciliation operations"
I am not sure if that's a bug or not, but the behavior is very weird.
This is happening only when reconciling a dataset
* from a blank OpenRefine instance
* using undo/redo, apply

### To Reproduce

You can try on branch `pull/3777/head:issue-3424-recon`

You need reconcile-csv up and running
[code]

* delete your OpenRefine working directory
* start open refine
* create a project by copy pasting

[2021-04-19 11:50] afkbrb commented on #3824
The first and third points are very reasonable, but I'm kind of confused by the second point.

Do you mean we should include both the logo and the URL for each item? I think adding the URL of the Wikibase instance is enough to distinguish between various instances with similar names/logos, and adding the logo is not necessary and it will require the URL of the logo to be included in the manifest.

[2021-04-19 11:54] wetneb commented on #3824
Ah, maybe you didn't see that we'll already be displaying the logos once https://github.com/OpenRefine/OpenRefine/pull/3702 is merged (sorry, I anticipated that a bit!).

[2021-04-19 11:58] afkbrb commented on #3824
The second point is definitely reasonable then :)

[2021-04-19 13:17] thadguidry commented on #3829
@fgiroud The option to `"autoMatch": true` doesn't seem like it was set in the Json operations for replay?
Some code about it:
https://github.com/OpenRefine/OpenRefine/search?q=auto+match

[2021-04-20 06:25] #3367 closed

[2021-04-20 06:50] fgiroud opened #3837 "Tests failing on Firefox"
Following the merge of Firefox tests into master, 4 tests are failing

Please review the run on the Cypress dashboard : https://dashboard.cypress.io/projects/s5du3k/runs/999/overview

[2021-04-20 07:13] fgiroud commented on #3829
@thadguidry if I set automatch to true, this is what I got

, here is what I got
![Screen Shot 2021-04-20 at 09 11 32](https://user-images.githubusercontent.com/6267288/115353120-70980f00-a1b8-11eb-9a41-2bc9253d45cd.png)

When doing it from the user interface, this is what I got

![Screen Shot 2021-04-20 at 09 12 23](https://user-images.githubusercontent.com/6267288/115353228-902f3780-a1b8-11eb-93

[2021-04-20 12:39] thadguidry commented on #3829
I think that's a bug then￼

[2021-04-20 13:31] thadguidry commented on #3837
To my eyes, it looks like some selection problem with the DialogPanel for the fields?
For example, in the `it('Ensures two columns are joined', function () {` ...

`Shrt_Desc` and `NDB_No` are switched around, because if you look at the assert, it's expecting the `NDB_No` to come before the `Shrt_Desc`, not afterwards, but the reverse of that seemed to be selected in the Join DialogPanel for some

[2021-04-20 14:06] thadguidry commented on #3837
OK, for some reason `value` is not the right value... I debugged the /support/commands.js and that's where it seems the problem begins...
https://github.com/OpenRefine/OpenRefine/blob/master/main/tests/cypress/cypress/support/commands.js#L154

It's as if `value` didn't get overwritten from the previous test's assertion value.
The test `Ensures two columns are joined respecting the column ordering`

[2021-04-20 19:05] #3186 closed

[2021-04-22 03:48] sujay2306 commented on #3004
i would like to handle this issue!
can i please take it

[2021-04-22 04:04] wetneb commented on #3004
Thanks for volunteering, it's all yours!

[2021-04-22 05:15] #3677 closed

[2021-04-22 06:48] samaritanhu commented on #3828
I successfully built!
My main problem is using `maven clean` and `maven build`. In openrefine project, we need to use `refine clean` instead.

Thanks for helping!

[2021-04-22 06:48] #3828 closed

[2021-04-22 17:02] matthieuj commented on #3730
@wetneb @metaschell  - we raised this issue and proposed the #3731 pull request exactly for the linked data use case described in issue #39

We use the reconciliation mechanism for linked data mapping. The IDs returned by the different API requests are full URIs. They have to because not all the URIs in a given response may fall under the same namespace.

The proposed patch does not in our view af

[2021-04-23 07:45] fgiroud commented on #3837
@thadguidry @kushthedude do you think we should revert the FF PR ? It brings a lot of instability in the builds

[2021-04-23 10:25] fgiroud commented on #3817
@kushthedude correct, will see if we're using it or not

[2021-04-23 10:33] fgiroud commented on #3817
I've rewritten the ticket, what do you guys think ?

[2021-04-23 13:04] thadguidry commented on #3817
I can understand the proposal.  I just don't know the right course of action because of the Cypress dashboard needs unfortunately.  Both of you will have to figure that out for us.  Maybe it might be wise to have Cypress support help us?

[2021-04-23 13:51] loulankxh commented on #3816
Hi, sir. I want to have a try at this issue but I encountered a problem when I try to build, compile the wikidata extension before running the tests. The error message is "Failed to execute goal on project wikidata: Could not resolve dependencies for project org.openrefine:wikidata:jar:3.5-SNAPSHOT: org.openrefine:main:jar:tests:3.5-SNAPSHOT was not found in https://oss.sonatype.org/content/reposi

[2021-04-23 15:44] wetneb commented on #3816
Hi @loulankxh, thanks for giving this a try! Yes this is a known issue about our build setup. Have you tried `mvn compile test-compile`?

Is this a problem you have through some IDE? On the command-line I would recommend to use the `refine` wrapper with `refine build`.

[2021-04-23 15:55] wetneb commented on #3837
Perhaps that would make sense, yes.

[2021-04-23 15:59] kushthedude commented on #3837
I am working on their fixes, I will let you know by EOD if I find no fix
then we can revert the PR.

On Fri, 23 Apr, 2021, 21:25 Antonin Delpeuch, ***@***.***>
wrote:

[2021-04-23 18:02] loulankxh commented on #3816
Thanks really! The problem has been solved and now I can run tests for the wikidata module successfully. I will continue to fix this issue.

[2021-04-24 07:28] SustechcsKing commented on #3143
Hi, sir, I just add a function. First, it generates a random number by random(). Second, it can generate a random Long or random double by argument, but it still needs the typecasting when getting the number, because its return type is Object. I think this may meet your standard. Thank you.

[2021-04-24 08:40] Warpeas commented on #3695
Hi, I think this problem is caused by some mistakes in translation. And it's fixed by commit [3465](https://github.com/OpenRefine/OpenRefine/commit/823097fb2e2aff5bb68cba00b225026e6f8b041a). I tried to switch to another language that I can understand (Chinese) and there's no such problem. I think the language load process is correct now in the new version and this issue could be closed. If there a

[2021-04-24 12:09] wetneb commented on #3695
I agree, this was specific to German and seems to have been fixed by updates to the translations. Thanks for your investigation!

[2021-04-24 12:09] #3695 closed

[2021-04-24 13:38] wetneb opened #3846 "Documentation versioning"
Since we are planning to release 3.5 soon it would be good to have proper versioning for the documentation.

- [x] Use Docusaurus' versioning support to separate the docs into two versions, one for 3.4 and one for the current development version
- [x] Set up redirects such that the current URLs redirect to the latest stable version (3.4 currently), if that is possible?
- [x] Go through the changel

[2021-04-24 13:47] #3816 closed

[2021-04-24 19:29] antoine2711 commented on #3829
I can't say it's the same scenario, but I saw the missing search button a few times.
This does, IMOO pinpoint a bug.

Very nice work.

Regards, Antoine

[2021-04-25 13:44] sjathin commented on #2104
@wetneb - should "Accept" header be set to "text/csv"(form data) for the request in which the sub command is ```load-raw-data``` ? But I see in the network that the data is downloaded for the request with sub command - ```default-importing-controller``` ?

[2021-04-25 14:01] Warpeas commented on #3691
@wetneb Hi, I tried to reproduce this issue in OpenRefine 3.5-beta [4aef758] and it seems correct. Maybe someone has fixed it.

SE_SUSTech

[2021-04-25 14:27] wetneb commented on #3691
Hi @Warpeas, thanks very much for investigating this! Did you try with Chrome on Windows specifically?

[2021-04-25 15:09] Warpeas commented on #3691
Hi, @wetneb Yes, I'm using Chrome version 90.0.4430.85 and Windows 10.

[2021-04-25 15:14] wetneb commented on #3691
Thanks, let's close this as not reproducible then.

[2021-04-25 15:14] #3691 closed

[2021-04-25 15:39] strarsis commented on #3691
Well, I will download the latest release and retry again then...

[2021-04-25 15:45] wetneb commented on #3691
@strarsis happy to reopen if you find out that this persists of course!

[2021-04-25 17:07] Warpeas commented on #3691
Hi, @wetneb This issue can be reproduced in the latest release v3.4.1. And seems to be fixed before the 3.5-beta [4aef758]. So @strarsis maybe you can try to use the beta version or wait until the v3.5 release?

[2021-04-25 17:11] Warpeas commented on #3462
@wetneb Our study group would like to solve this issue and would like to get some advice. Thank you!

SE_SUSTech

[2021-04-25 18:13] wetneb commented on #3462
Hi @Warpeas, great! Can you tell me more precisely what you need advice about?

[2021-04-26 06:59] Warpeas commented on #3462
We are investigating how this bug happens, but we have trouble understanding how the import task process. As the (documentation)[https://github.com/OpenRefine/OpenRefine/wiki/Importing-Architecture#server-side-components] for the server-side components are not available. It will be great if you have time to give us a brief introduction to this part.

[2021-04-26 07:16] wetneb commented on #3462
Sure! The importers in question here are:
* `com.google.refine.importers.JsonImporter`
* `com.google.refine.importers.XmlImporter`
Both of them extend `com.google.refine.importers.tree.TreeImportingParserBase` and that is probably the class where this feature needs to be implemented / fixed. This is a fairly complicated part of the backend because this is where the conversion from hierarchical dat

[2021-04-26 09:33] #1843 closed

[2021-04-26 14:23] Auregann commented on #2240
Hello there,
I just wanted to let you know that we fixed the issue that was preventing to edit Senses and statements from wbeditentity ([T199896](https://phabricator.wikimedia.org/T199896)) which we hope will help tool maintainers to support Lexemes. We would of course love to see OpenRefine supporting Lexemes as it would be helpful for many Wikidata editors :)

If you have questions, issues or re

[2021-04-27 07:50] Warpeas commented on #3462
Great thanks! We will dive into them and try to fix the bug.

[2021-04-27 10:18] VDK opened #3852 "Add columns from reconciled column with SPARQL property not possible with NL API end point"
### To Reproduce
Steps to reproduce the behavior:
1. Reconcile against the Dutch api (https://tools.wmflabs.org/openrefine-wikidata/nl/api )
2. Add column from reconciled values...
3. Add property "Scommonswiki"

### Current Results
Error.
[code]

### Expected Behavior
the Scommons link of the Q-item is added as a column

### Versions
 - Operating System:  Windows 10
 - Browser Version: Chrome 90

[2021-04-27 15:57] EricBuck opened #3853 "Default "Use quote as separator" to False for TSV imports"
I got a TSV file and uploaded it to OpenRefine, but OpenRefine parsed it incorrectly, shifting values over several columns.

### To Reproduce
Steps to reproduce the behavior:
1. Upload the file to OpenRefine.

2. Facet the categories column and select one of the values with "mm" in it. Look at the information in the size columns of the selected row.

### Current Results
You should see that the act

[2021-04-27 16:57] thadguidry commented on #3853
Hi @EricBuck does the Importer Preview also show this shifting happening?  Your screenshot shows after the TSV/XLSX was imported and I'd like to know what the Importer Preview shows and what all the options you choose during the importer.  Can you give us a screenshot of that?

[2021-04-28 04:20] wetneb commented on #3853
You should be able to upload the original TSV if you compress it as a ZIP file first. I think it would be very interesting to have the original file to understand the issue better :)

[2021-04-28 06:42] fgiroud commented on #3837
@kushthedude what's the status on FF ?
It's probably not a bad idea to revert the PR, as we are also preparing an update on CI that will let anyone runs the tests on their fork, and we can troubleshoot from there

[2021-04-28 14:09] haklaekim opened #3857 "UI errors"
### To Reproduce
Steps to reproduce the behavior:
1. Start OpenRefine
2. Then, UI does not display properly. I created 30~40 projects so far. There are some errors when facet is selected (the project has 300,000 rows).
3. Although I uninstall previous version and install different versions such as 3.3 and 3.4.1, same problem occurrs.

### Current Results

### Expected Behavior

### Screenshots

![

[2021-04-28 14:20] thadguidry commented on #3857
Thanks for this issue!
It seems we have had another Mac user who had a similar problem here: https://groups.google.com/g/openrefine/c/yVofDRgDKi0
You might look through that group conversation from our mailing list and then update this issue with anything you might have done differently or tried.
The more info that we can collect about the workspace, it's path location, etc.  the more useful this

[2021-04-28 20:06] kushthedude commented on #3837
I was able to solve the column joining test, but I have zero lead on the scatterplot tests. Its best we revert the PR then.

[2021-04-28 20:21] kushthedude commented on #3857
Hi, the following issues is due to presence of corrupt projects or either issue in workspace directory. As @thadguidry mentioned there can be variety of cause to this issue. But a quick fix as mac user would be to delete your workspace directory and then restart openrefine(if you have any important projects already setup in the refine, then I would suggest you to copy that project from workspace d

[2021-04-28 23:14] gitonthescene commented on #3139
FWIW, I just discovered that these features are ignored when trying to add this functionality to my reconciliation server framework.  I'd be happy to have them exposed to GREL for starters and leave the graphic representation for later.

As for how they might be used, one case I imagined would help with was [discussed here](https://www.wikidata.org/wiki/User_talk:Gettinwikiwidit#OpenRefine_and_spa

[2021-04-29 00:39] gitonthescene commented on #3139
Linking issue which discusses deprecating static features.  https://github.com/OpenRefine/OpenRefine/issues/3629

[2021-04-29 00:47] gitonthescene commented on #3139
Also, the `description` field in the reconciliation results is also ignored.  My feeling is that this can be dropped because either a preview or following the view link is likely to provide all the context for a given candidate that you might need.

[2021-04-29 06:10] AtharvaParkale commented on #3818
I would like to work on this issue.

[2021-04-29 06:30] wetneb commented on #3818
Thank you!

[2021-04-29 06:50] wetneb commented on #3139
Thanks for these very thorough thoughts!

Concerning `feature_view` our motivation to introduce it was to let services document their features (associate an URL to each feature so that users could visit that to discover how the feature is computed). Perhaps clients want to embed that in an iframe like we do for entity previews, but intuitively I would assume that this sort of UI is less suited for

[2021-04-29 07:47] gitonthescene commented on #3139
These thoughts sound very different from my intuition outlined above.  I don’t think that puts me in the best position to expand upon them in the specs.  I’m not sure I even understand how the description field is to be used and can’t picture how it would be more useful than the preview screen.  Is the idea that it’s rendered into the cell and more easily browsed?  I would think it would just feel

[2021-04-29 08:03] wetneb commented on #3139
Yes that was my understanding (https://github.com/reconciliation-api/specs/issues/47)! But I am also slightly concerned about clutter - perhaps it could just be opt-in? I personally would definitely have found that very useful for many recon projects, but I understand it wouldn't be to everyone's taste…

That already exists: `Len`. Documented at https://wikidata.reconci.link/.

[2021-04-29 08:56] gitonthescene commented on #3139
Awesome!  Thanks.

[2021-04-29 11:01] wetneb commented on #3139
The descriptions are also exposed in data extension: `Den`.

If we want people to be able to display descriptions directly in reconciled cells, without any extra fetching operation, it is much easier if those descriptions are directly returned by services as part of the recon candidates.

[2021-04-29 14:18] AtharvaParkale commented on #3818
Hey, you just want changes in documentation right?
Can you tell me something more about your issue?

[2021-04-29 15:05] wetneb commented on #3818
The simplest way to fix this would indeed be to update the documentation :)

[2021-04-29 17:27] gitonthescene commented on #3139
To me this doesn’t feel like a huge win especially considering the potential for clutter.  At the very least it seems like this is a workaround for that [issue you linked](https://github.com/reconciliation-api/specs/issues/47).

But mostly this discussion is a distraction from the missing `features` which would save quite a bit more work.

[2021-04-29 18:30] wetneb commented on #3852
@VDK is this problem solved if you use the new API URL, https://wikidata.reconci.link/nl/api ?

[2021-04-29 21:29] VDK commented on #3852
Haven't had time to test yet

[2021-04-29 23:09] gitonthescene commented on #3139
I've added a [description](https://github.com/OpenRefine/OpenRefine/wiki/Recipes#13-reconciliation) of how to split out candidates.  It's lengthy but pretty explicit.  I think this gives you maximal power to treat candidates like any other cell.  There's also a description of how to get back to the original table with augmented info.

[2021-04-30 04:41] AtharvaParkale commented on #3818
OKay, I got it.

[2021-04-30 12:39] iomicifikko opened #3862 "Add 'Windows-1252" to the Common Encodings List"
It might sound a bit pretentious but I would suggest adding **windows-1252** to the list of common character encodings as well.
In my experience most of the documents I deal with are **UTF8** or **windows-1252**.

Also according to wikipedia "[It is the most-used single-byte character encoding in the world](https://en.wikipedia.org/wiki/Windows-1252)" :)

![image](https://user-images.githubusercon

[2021-04-30 13:35] VDK commented on #3852
Didn't make a difference

[2021-04-30 21:34] gitonthescene commented on #3862
FWIW, the list appears to come from [here](https://github.com/OpenRefine/OpenRefine/blob/577caabec1cce968df56156d7561a1ffde4b01c4/main/webapp/modules/core/scripts/util/encoding.js).  It might be nice if it was a resource file that end users could modify.

[2021-05-01 02:32] gitonthescene commented on #3862
@iomicifikko I'm happy to try to make this change.  Any suggestions for how best to test this?  Did you have any particular text you were interested in?  Mind posting it if you have?

[2021-05-01 08:51] iomicifikko commented on #3862
Thank you!
Here it is: [test01.zip](https://github.com/OpenRefine/OpenRefine/files/6409197/test01.zip)

_**utf-8 encoding selected**_

![image](https://user-images.githubusercontent.com/61201406/116776810-d911a680-aa6a-11eb-9e83-03933d1de91b.png)

_**windows-1252 encoding selected**_

![image](https://user-images.githubusercontent.com/61201406/116776826-f181c100-aa6a-11eb-9390-ad1786bd29a4.png)

[2021-05-01 08:58] wetneb opened #3864 "Write up maintainer guidelines"
We want to involve more people in reviewing issues and pull requests. To make this easier, we should agree on common practices which should be written up in the technical documentation.

I will propose a draft as a PR addressing this issue.

[2021-05-01 09:10] gitonthescene commented on #3862
Hmm..  I'm a little confused here.  First off, here's what I get when opening your sample with OpenRefine 3.4:

<img width="1091" alt="Screen Shot 2021-05-01 at 6 05 42 PM" src="https://user-images.githubusercontent.com/45531702/116777174-0b8dc480-aaa8-11eb-988f-4eaaa30664d5.png">

i.e.  it's auto-detecting `windows-1252`.  Does it do the same for you?

Also, I don't understand where that second s

[2021-05-02 07:59] wetneb commented on #3202
I have requested a release of WDTK that we could upgrade to before releasing 3.5-beta: https://github.com/Wikidata/Wikidata-Toolkit/issues/576.

[2021-05-02 08:00] wetneb commented on #3692
I will pay attention to upgrading the embedded JRE when doing the 3.5-beta release, hopefully in the coming weeks.

[2021-05-02 08:03] wetneb commented on #3664
I will try to reproduce this. Do I understand correctly that this happens with [csv-reconcile](https://github.com/gitonthescene/csv-reconcile)?

[2021-05-02 08:07] wetneb commented on #3369
I think using `EvalError` could work for this, I'll try to get a PR in, hopefully that could make it into 3.5.

[2021-05-02 08:57] gitonthescene commented on #3664
It does if you remove [this line](https://github.com/gitonthescene/csv-reconcile/blob/master/csv_reconcile/__init__.py#L214).  Honestly I don’t believe any real production services still close connections after each request any more.  The server that comes with Flask is not meant to be production ready.  Instead it should be wrapped with gunicorn or uwsgi.  The line pointed to above is a cheap hac

[2021-05-02 09:36] wetneb commented on #2523
Unless this is addressed soon I would say it is fine to leave this out of the upcoming 3.5 release. Feel free to add the milestone again if someone finds the time to submit a PR for it.

[2021-05-02 09:36] adityakumar1990 opened #3869 "Not able to see open/create project , even I am using openrefine-win-with-java-3.4.1"
### To Reproduce
Steps to reproduce the behavior:
1. First, download openrefine-win-with-java-3.4.1
2. Then, extract and run refine.cmd
3. Finally, On Browser only able to see the logo
4.
![image](https://user-images.githubusercontent.com/72451094/116808679-ce810b00-ab57-11eb-8d8d-e7de0670ec29.png)

![image](https://user-images.githubusercontent.com/72451094/116808696-e8225280-ab57-11eb-9587-b5261

[2021-05-02 09:37] adityakumar1990 commented on #3869
Finding the same issue with 3.3 version too

[2021-05-02 09:39] wetneb commented on #3307
It feels like we should add `file.encoding=UTF-8` by default then. But I suspect that if we do this in a new release this could cause backwards-compatibility problems: if your previous workspace was saved in a different encoding and re-read in UTF-8, that could potentially corrupt your project data. That being said I am not sure I fully understand the impact of this option or the real cause of the

[2021-05-02 17:02] thadguidry commented on #3869
1.  This might be due to a path naming issue.  See #3277

2. Did you have any extensions installed previously for OpenRefine? See #3326
If so, this might be because an OpenRefine extension that you have installed in the AppData folder for OpenRefine, which is also where the workspace is defaulted under and holds your projects folders and files.
So... we don't want to risk losing your projects when

[2021-05-02 22:55] gitonthescene commented on #3307
A cheap alternative might be to display the default encoding somewhere to at least help with diagnosis.  You could also show a warning that future versions will not respect the default encoding as a means of transition.  Maybe even have a dialog which asks if you want to accept the new default now.

[2021-05-03 05:43] wetneb commented on #3869
You could also right-click somewhere in the OpenRefine page, open your inspector and check if there are any error messages in the console, that could help us debug this issue.

[2021-05-03 05:53] adityakumar1990 commented on #3869
C:\Users\kumarad>echo %USERPROFILE%
C:\Users\kumarad

C:\Users\kumarad>
There is no special char .
![image](https://user-images.githubusercontent.com/72451094/116844882-00e74280-ac02-11eb-82d7-4452f49cac56.png)

For me it is only showing the logo

[2021-05-03 06:00] wetneb commented on #3869
Thanks for the screenshot - it looks like you have opened the inspector, but not clicked on the "Console" tab where I expect there could be some errors.

[2021-05-03 06:04] adityakumar1990 commented on #3869
![image](https://user-images.githubusercontent.com/72451094/116845429-730c5700-ac03-11eb-8996-b8f2dce68e3d.png)
Is this you looking for ?

[2021-05-03 06:09] wetneb commented on #3869
Yes thank you!

[2021-05-03 06:31] adityakumar1990 commented on #3869
An

Any resolution ?

[2021-05-03 08:33] fgiroud commented on #3817
Following up on last thursday meeting: We've decided to split tests manually into 4 machines.
This way the tests can be runned in parallel, also in private forks without the cypress dashboard.
This may not guarantee an optimal usage of github VM, but at least everyone can run tests on their repositories without the dashboard

[2021-05-04 09:03] wetneb commented on #3363
I am clearing assignees to signal that this issue could be worked on.

[2021-05-05 05:01] ToVie opened #3877 "Documentation for ui.browsing.pageSize is not correct"
The Documentation (https://docs.openrefine.org/manual/running#preferences) states that "ui.browsing.pageSize" is available in version 3.4.1 - the issue (#2624) on the topic is listed for the upcoming version 3.5.

Please correct the version information value in the preference table  from 3.4.1 to 3.5.

[2021-05-05 06:49] wetneb commented on #3877
This will be resolved that #3847.

[2021-05-05 10:38] ToVie commented on #3877
thanks!

[2021-05-05 10:40] ToVie commented on #3877
Shall I close?

[2021-05-05 12:33] wetneb commented on #3877
It will be automatically closed when we merge the pull request.

[2021-05-06 10:40] pvcodes commented on #3363
@weblate Now it think it is open?

[2021-05-06 10:47] wetneb commented on #3363
@pvcodes it's all yours!

[2021-05-06 10:48] #3864 closed

[2021-05-06 19:55] georgiawebgurl commented on #3003
I just want to report that with the most recent Windows Upgrade to
Windows MS 10 Home Build 10.0.19041 build 19041, 'Run as Administrator' and then accepting the security prompt, does allow OpenRefine to work without issue.

[2021-05-07 03:16] pvcodes commented on #3363
@wetneb So basically, I have to change the all casing to lower case for example: in SQL Exported there is  a checkbox of `Include 'IF EXISTS' in DROP statement` I have to change it to `Include 'if exists' in drop statement`
Also could you please tell me where these statements are present, i.e., in which file or folder

[2021-05-07 07:13] ostephens commented on #3363
@pvcodes I think you've picked an example there that should not be changed. "IF EXISTS" and  "DROP" are deliberately capitalised in that case because this is the usual way of writing these statements in SQL.

This is a case of checking each individual situation and making a decision - there is no single rule that can be applied across the board. The initial examples given by @wetneb are good and c

[2021-05-07 11:27] loulankxh commented on #3694
Sorry sir. I got a little busy several days ago and I'm currently considering this issue.

[2021-05-07 12:32] pvcodes commented on #3363
Have a look [file](https://github.com/pvcodes/OpenRefine/blob/pvcodes/main/webapp/modules/core/langs/translation-en.json)

[2021-05-07 12:35] wetneb commented on #3363
it's much easier to discuss your changes if you open a pull request for them, actually :)

[2021-05-07 12:37] pvcodes commented on #3363
Fair enough

[2021-05-08 06:55] #3846 closed

[2021-05-08 07:06] #3862 closed

[2021-05-08 17:56] wetneb opened #3888 "Use explicit anchor ids in documentation"
When translating the docs, the section titles will change, meaning that the auto-generated anchor ids for them will also change.

Docusaurus recommends setting explicit ids in the markdown files for the headings:
https://docusaurus.io/docs/next/i18n/tutorial#use-explicit-heading-ids

### Proposed solution

We could potentially auto-add all of them with a script as a one-off solution. Ideally, we s

[2021-05-08 17:59] thadguidry commented on #3888
Why annoying, can you explain further?

[2021-05-09 06:22] wetneb commented on #3888
Because they will need to add all these ids manually :)

[2021-05-09 06:27] wetneb commented on #3572
This should have been fixed by #3821. @thadguidry can you confirm?

[2021-05-09 06:28] wetneb commented on #1215
This was resolved by @allanaaa: https://docs.openrefine.org/manual/transposing

[2021-05-09 06:28] #1215 closed

[2021-05-09 06:29] wetneb commented on #1677
This is now documented here: https://docs.openrefine.org/manual/running

[2021-05-09 06:29] #1677 closed

[2021-05-09 06:35] wetneb commented on #3674
It looks like this is mostly a duplicate of #3819, all the links mentioned in the issue now work for me. Should we close it?

[2021-05-09 06:53] wetneb opened #3890 "Make the user manual translatable"
We want to make it possible for translators to translate our English documentation into other languages.

### Proposed solution

Docusaurus has a i18n feature which can be used for that. It can be used with various providers. We could try it out with Crowdin, as they are often used together.

### Alternatives considered

* Re-using Weblate (which we already use to translate the interface), but tha

[2021-05-09 06:59] wetneb commented on #3888
Actually, Docusaurus has a CLI command for this! So it should not be hard at all.

https://docusaurus.io/docs/cli#docusaurus-write-heading-ids-sitedir

[2021-05-09 18:30] VojtechDostal opened #3893 "One of my projects is now corrupt and cannot be started"
Sorry to be a trouble again.
All my projects are OK but one - I cannot open a project with the following notice: "Failed to find project id #2540007166492 - may be corrupt". It appears normal in the project directory but maybe you can spot some problem... you can download the project at https://drive.google.com/file/d/1UmaA02NK75HrCAgvxk9JV2lr5ZqauYPu

I get the following server logs:

20:28:50.08

[2021-05-10 07:08] #3694 closed

[2021-05-11 08:04] Garry711 commented on #3869
@adityakumar1990 I got exactly the same problem.
Couldn´t find an answer yet. But I keep searching. Please tell me if you got an solution.

[2021-05-11 16:34] ostephens commented on #3363
No problem

[2021-05-11 17:43] cnzakimuena commented on #1717
I encountered this error following 'Windows kit' OpenRefine 3.4.1 installation (with Java installed on my computer).  Using the 'Windows kit with embedded Java' OpenRefine 3.4.1 installation resolved the issue.

[2021-05-12 13:21] MohitKumar1991 commented on #901
Is there a way to do this now ? Looks like it didn't happen.

[2021-05-12 15:24] wetneb commented on #901
Indeed, we still don't have a way to do that. It is not really clear to me how it would look like actually! A GREL transform that would work on column names, perhaps? Feel free to add details about your own use case for it, to motivate contributors to pick up this issue.

[2021-05-15 06:50] #3782 closed

[2021-05-15 06:51] #3740 closed

[2021-05-15 06:51] #2880 closed

[2021-05-15 06:52] #3664 closed

[2021-05-15 07:46] gitonthescene commented on #3664
Great!  I take it you were able to make use of the service as described above?

[2021-05-15 13:03] incansvl opened #3913 "Blank UI (only the logo is visible)"
UI is blank except for the logo

### To Reproduce
Steps to reproduce the behavior:
1. Install OpenJDK 16.0.1 (Windows)
2. Install OpenRefine 3.4.1
3. Browser UI opens, but is visibly blank other than the OpenRefine logo (I can supply screenshots, but can't see the option to add them?)
4. The first installtion of OpenRefine in `C:\Program Files\OpenRefine\openrefine-3.4.1` creeated an empty folder

[2021-05-15 18:08] VojtechDostal commented on #3893
It seems that the data.zip file got corrupted (the data.txt file ends abruptly).

[2021-05-15 18:36] VojtechDostal commented on #3785
The original content is just a QID (Q qith a number). I remove the "https://..." part after I import the CSV)
I use this service: https://wdreconcile.toolforge.org/en/api

thanks :)

[2021-05-15 21:33] gitonthescene commented on #3785
@ostephens - Are there logs we can check?

[2021-05-16 06:27] wetneb commented on #3785
When you observe this, if you could simply export your project as an OpenRefine archive, it would really help.

[2021-05-16 07:05] alihabib-in commented on #1717
@cnzakimuena I am trying the same with Embedded java, but doesnt work for me. Same error !

Could you share me your config files

[2021-05-16 07:11] cnzakimuena commented on #1717
![screenshot](https://user-images.githubusercontent.com/35876258/118388760-5523f680-b5f4-11eb-9b7f-fe35b766ff04.png)
@alihabib-in do you mean one of these

[2021-05-16 07:18] alihabib-in commented on #1717
No I meant, this file "refine.ini"

Also, what is the Java Version on your system now ?

[2021-05-16 07:23] alihabib-in commented on #1717
![image](https://user-images.githubusercontent.com/5759454/118389044-03518f80-b639-11eb-9e44-d4034e185df9.png)

When I run refine, it shows me this.

[2021-05-17 13:23] cnzakimuena commented on #1717
I have Java version 16 on my system.
The error you show is what I was seeing as well.
[refine.txt](https://github.com/OpenRefine/OpenRefine/files/6494043/refine.txt)

[2021-05-17 15:48] thadguidry opened #3915 "README.md for database extension is out of date"
We need to update the database extension README.md to our more current architecture and documentation moves.

[2021-05-17 22:34] #3915 closed

[2021-05-18 17:02] EricBuck commented on #3853
Apologies for taking so long to respond.

Here is the zipped TSV file:
[phm-collection.zip](https://github.com/OpenRefine/OpenRefine/files/6503006/phm-collection.zip)

Here is a screenshot of the upload menu. In the previewed 100 rows, there were no instances of the bug I mentioned above, but I highlighted a new problem I found. It seems that sometimes huge amounts of information that should be se

[2021-05-18 17:36] thadguidry commented on #3853
@EricBuck You are using TSV format (tab separated values) and it is also automatically keeping the checkbox for **Use character " to enclose cells containing column separators**.
But the tabs themselves will suffice here to separate the columns nicely.
So in your data's case, there is no need to use that extra default checkbox option, so just uncheck it, and then things should work fine for your r

[2021-05-19 09:16] Garry711 commented on #3869
Got it!
Installed jdk 15.0.1 instead of 16.0.1 and reinstalled OpenRefine 3.4.1.

Now its running!

[2021-05-19 12:30] wetneb commented on #3869
Thanks a lot @Garry711 for reporting this, then that seems to indicate that we do not support Java 16 yet. We should investigate this.

[2021-05-19 13:29] thadguidry commented on #3869
@wetneb this doesn't make sense, if they are using our `win-with-java` release that has embedded Java (which uses Java 8) why would the release or something within it even care or try to use a locally installed Java version 16?

[2021-05-19 13:30] incansvl commented on #3913
Looking through other issues this may be a duplicate of BugID #3869 (Java 16 compatibility).

Other issues mention similar symptoms (corrupted UI) but some of those are related to corrupted workspace folders, whreas this issue relates to a fresh install, and I have tried deleting the workspace folder and then re-running OpenRefine with no change in the behaviour.

[2021-05-19 13:34] wetneb commented on #3869
@thadguidry it's a good point and I don't know what the answer is! I suspect the local java runtime environment might have priority over the embedded one in some cases?

@Garry711 did you download the version with embedded Java or without?

[2021-05-19 13:46] thadguidry commented on #3869
I took the liberty to test just now by changing my `JAVA_HOME` and my Path pointing to OpenJDK 16 and started OpenRefine win-with-java 3.4.1 and it's working fine.
![image](https://user-images.githubusercontent.com/986438/118823129-5b2d0800-b87e-11eb-86d9-fbb60b9ceae2.png)

When `JAVA_HOME` is set or not, my understanding was that `win-with-java` would always use embedded Java from package.
If fol

[2021-05-19 15:32] ToVie opened #3919 "OpenRefine 3.4.1: Reconciliation Service does not use proxy defined in openrefine.l4j.ini"
OpenRefine 3.4.1 on Windows (with or without integrated JRE) does not use the proxy set in openrefine.l4j.ini to connect to reconciliation service (https://lobid.org/gnd/reconcile)

### To Reproduce
Steps to reproduce the behavior:
1. First, set proxy in openrefine.l4j.ini using the following parameters:
  `-Dhttps.proxyHost=proxy-name.domain.ch`
  `-Dhttps.proxyPort=8080`
  `-Dhttp.proxyHost=prox

[2021-05-19 15:41] thadguidry commented on #3869
Yes.  With `JAVA_HOME` set back to point to my OpenJDK 16.0.1 and confirming `java -version` on command line showed OpenJDK 16.0.1 and then downloading the OpenRefine 3.4.1 Windows kit (without Java) then I was still able to get OpenRefine to run as normal.

[2021-05-19 16:20] thadguidry commented on #3919
@ToVie Hmm, curious, instead of through the object method (which there might indeed be a bug that we need to look into further where Apache HTTP client isn't picking them up for some reason)...
Can you try setting with a Windows environment variable at the system level (not user)?
`http_proxy` and `https_proxy`  (lowercase should be fine for Apache HTTP Client library we use and should recognize t

[2021-05-20 11:57] ToVie commented on #3919
@thadguidry Thank you for your quick reply. Unfortunately I am not allowed to add or change environment variables on my office machine.
However I did as you suggested on a free test machine:

1. I added `http_proxy` and `https_proxy` as system variables
2. I tested `(System/getenv "http_proxy")` on a column => it works, I see the value of the variable

But I don't  know how to set these as proxies

[2021-05-20 12:16] wetneb commented on #3919
This is likely to have changed in the development version as we have switched to a different underlying HTTP library. Is it an option for you to try with a development snapshot? https://github.com/OpenRefine/OpenRefine-snapshot-releases/releases
Otherwise we will soon release 3.5-beta1.

[2021-05-20 12:17] ToVie commented on #3919
@thadguidry Your comment got me thinking and I did some further tests on OpenRefine reconciliation.

**1. Windows proxy and  `-Djava.net.useSystemProxies=true` with valid proxy**
I tested with a working openly available test proxy (`85.214.250.48:3128`) set in windows system settings (manual/custom proxy configuration) and `openrefine.l4j.ini` with `-Djava.net.useSystemProxies=` set to `true`.
=>

[2021-05-20 12:18] ToVie commented on #3919
@wetneb I try the development snapshot.

[2021-05-20 13:02] ToVie commented on #3919
@wetneb I tested the latest development snapshot as described above. The result is the same:
1. `-Djava.net.useSystemProxies=true` and define invalid proxy => reconciliation does not work - as it is expected
2. Commented out `-Djava.net.useSystemProxies=true` and instead define invalid proxy in` -Dhttp.proxyHost` / `-Dhttp.proxyPort` and `-Dhttps.proxyHost` / `-Dhttps.proxyPort` => reconciliation

[2021-05-20 14:27] thadguidry commented on #3919
@wetneb Looks like we might need to add the `getProxy()` to our `RequestConfig.custom` on
https://github.com/OpenRefine/OpenRefine/blob/master/main/src/com/google/refine/util/HttpClient.java#L69 ?

What's interesting also is the note on the [`DefaultRoutePlanner`](http://hc.apache.org/httpcomponents-client-5.1.x/current/httpclient5/apidocs/org/apache/hc/client5/http/impl/routing/DefaultRoutePlanne

[2021-05-21 06:48] ChristianeKlaes commented on #1009
Hi,

I've been having the same issue while clustering and merging names. I can fully support what @answerquest proposed - dropping outliers from a cluster would be a very welcome feature! While the choice of clustering algorithms proved really effective on the whole, outliers in larger clusters tend to spoil the fun of catching real matches with liberal algorithms...

Maybe it's even possible to g

[2021-05-21 07:04] ToVie commented on #3919
@thadguidry I see your point. In our case, that is working in a restricted environment, it would be helpful to define a proxy that differs from the general setting on OS level. The general setting enforces a proxy with kerberos authentication based on user and token, which breaks a lot of java applications. Therefore an alternate proxy was defined that allows or disallows access based on  the mach

[2021-05-21 16:27] thadguidry commented on #3618
Another consideration is using the [Java Vector API](https://openjdk.java.net/jeps/414) were we can to handle more parallelization during binning, distance computes, etc.  I have several ideas on this if any developer wants to engage with me on an approach.

[2021-05-21 16:30] #1133 closed

[2021-05-22 19:43] thadguidry opened #3929 "splitByLengths does not return the array of substrings split but only first substring"
The description of the function `splitByLengths` states clearly that:

but it never returns split substrings in an array, but instead always a single element array of the first split substring.

### To Reproduce
Steps to reproduce the behavior:
1. Use custom text transform on a column of text
2. Paste in the GREL test:  `"University of Washington".splitByLengths(4)`
3. Notice that only the first s

[2021-05-22 23:16] nfazlay commented on #3929
If you look at the definition [here](https://github.com/OpenRefine/OpenRefine/blob/master/docs/docs/manual/grelfunctions.md#splitbylengthss-n1-n2-), and the example that follows, my understanding is that the number of items in the array would be equal to the number of parameters you pass. Hence, to get your desired output, your function call should look like this:

[code]

Calling `"University of

[2021-05-22 23:30] thadguidry commented on #3929
@nfazlay Thanks, then let's improve the documentation descriptions in our code which will automatically show in the HELP tab in the Expression editor dialog.  We'll also need to update our docs section for the function.

[2021-05-22 23:49] thadguidry commented on #3929
I think a more useful enhancement then to meet my expectations would be to:
- Introduce a new boolean flag for `repeating (true/false)` which if indicated `true` would take the single first argument (ignoring additional ones) and use it to create substrings by that argument where the remainder of any substring that could not fit into that length would be the last element in the array.

- `"1234567

[2021-05-23 05:23] Maezzzzz commented on #3929
Is this issue up for grabs?

[2021-05-23 11:31] sjathin commented on #2836
Hey! I would like to take up this enhancement. Although, I am unable to understand completely what is meant by new versions. Bit more details on this would be helpful for me. Thanks.

[2021-05-23 11:36] sjathin commented on #3382
Hey, I would like to work on this, I tried to reproduce this, I don't see the error reported in the server logs (always) for instance when I add an extra closing curly brace there was no error on the server logs. Please correct me if I am wrong, I think this is an issue with the parser, as it does not throw an exception when the string pattern is incorrect.

[2021-05-23 12:55] wetneb commented on #2836
By "new versions" I think @tfmorris meant variants of the methods such as `CustomizableTabularExporterUtilities.exportRows()` so that they allow for error reporting.

[2021-05-23 12:56] wetneb commented on #3382
Ah, then perhaps I was wrong in my comment above. Your observation seems to indicate that the template is parsed incorrectly, without throwing an error?

[2021-05-23 12:57] wetneb commented on #3929
Yes it is, thanks for volunteering!

[2021-05-23 14:09] sjathin commented on #3382
Yes, that's correct, in the screenshot below - the highlighted region shows that I have added a few extra curly braces, but there is no exception thrown.

![Screenshot 2021-05-23 at 16 06 26](https://user-images.githubusercontent.com/29340368/119263857-10deba80-bbe1-11eb-880f-52db1dc4ca8d.png)

[2021-05-23 16:11] wetneb commented on #3382
Ok, thanks for the investigation! Feel free to assign yourself this issue if you want to work on it :)

[2021-05-24 04:06] pvcodes commented on #3363
Sorry for the delay! I was an unwanted and unexpected one, I was tested positive and yesterday I'm fully recovered. Now things are coming back on track.

[2021-05-24 05:04] Maezzzzz commented on #3929
will begin this tomorrow.

[2021-05-24 08:23] ostephens commented on #3929
I think that the documentation on the current functionality is the first thing to fix. I'd suggest @Maezzzzz that you start with that as it's own PR so we can get the documentation up to scratch first.

I feel like the suggestion for extending the function might benefit from a bit more work on the desired functionality before it's developed. @Maezzzzz perhaps you could think through the suggestion

[2021-05-24 19:10] Maezzzzz commented on #3929
@ostephens  thank you for the insight ill work on the documentation first, then move onto this.

Before moving onto the functionality would I feel as though both approaches are very good ideas ((3,4,5, true) and (3, true))

if anyone has suggestions in the meantime as I fix documentation please feel free to let me know!

[2021-05-24 19:46] thadguidry commented on #3929
@ostephens I definitely can see usefulness for multiple repeating lengths (I.E. `substring(3).substring(4).substring(5)` doesn't let you output an array of elements like `splitByLengths()` can)

As for the question about last part not fitting a length argument... I think including in the array output would be wise, that way the user has ultimate control on if they want to later output or not
[code

[2021-05-24 21:46] Maezzzzz commented on #3929
@thadguidry just to clarify, the program currently supports inputting
`value.splitByLengths(3,4,5)[0,2]`
and return the split string within the indices? if so how would you denote [0,2] in technical documents?
This is my first time contributing to open source as well as writing documentation.

[2021-05-24 21:59] Maezzzzz commented on #3929
@thadguidry my understanding is the program can currently take
`value.splitByLengths(3,4,5)[0,2]`
and return the first and second indices so I have written up documentation for such.
Are there any other cases that may not be currently documented?

[2021-05-24 22:05] thadguidry commented on #3929
@Maezzzzz With [zero-based indexing](https://en.wikipedia.org/wiki/Array_data_structure), which OpenRefine GREL uses, the `[0]` denotes the 1st element in an array, `[1]` denotes the 2nd element, etc.
Beyond that, we get into what is known as [Array slicing](https://en.wikipedia.org/wiki/Array_slicing), where there are various syntax used in various programming languages as shown in all the variou

[2021-05-24 22:13] Maezzzzz commented on #3929
@thadguidry thanks for the clarification.
Seems to be a few little bugs with this one which I can hopefully get cleaned up.

[2021-05-24 22:24] thadguidry commented on #3929
@Maezzzzz Hmm, maybe this is a general documentation issue all around!
`["123", "4567", "890"][0,3]`
outputs
`[ "123", "4567", "890" ]`

`["123", "4567", "890"][1,3]`
outputs
`[ "4567", "890" ]`

So maybe our GREL for array slicing is more like D language, the first index of the slice is inclusive, the second is exclusive?
Do our slice bounds saturate like D does or like Python?
My brain hurts now

[2021-05-24 22:27] Maezzzzz commented on #3929
@thadguidry oh man. Glad to take a deeper look at that but not sure how good of a solution I can come up with. From your description it seems to pull from the first index and then the 2nd index - 1 as it was iterating through the indices such that i < last index with no regard for the indices between the range.

[2021-05-24 22:30] Maezzzzz commented on #3929
Does the problem seem to get worse if we add more indices than the range given?

[2021-05-24 22:31] thadguidry commented on #3929
What's more... if we actually use our GREL `slice()` [following our docs](https://docs.openrefine.org/manual/grelfunctions#array-functions)...we seem to get semi-consistent behavior...until

`["123", "4567", "890"].slice(0,1)`
outputs only
`[ "123" ]`
Where the hell did the 2nd element go?!?!?

[2021-05-24 22:33] Maezzzzz commented on #3929
Haha, it seems to disregard the 2nd element as if the program is doing iterations up until that number specified but not for the number itself.

[2021-05-24 22:35] thadguidry commented on #3929
Yeah, I don't know if this is the whole "our array slicing is like D language, the first index of the slice is inclusive, the second is exclusive...until it isn't...then it's Python like".  What a mess.

[2021-05-24 22:36] Maezzzzz commented on #3929
Seems to pick and choose when it wants to work correctly which is always a fun debug nightmare.

[2021-05-24 22:42] thadguidry commented on #3929
I think we are dealing with [lazy evaluation versus eager evaluation](https://en.wikipedia.org/wiki/Lazy_evaluation) in our GREL parsing.  We've had this issue mentioned before by me.  We do have an issue # somewhere to make this consistent where @tfmorris goes into some detail. Which would fix silent errors like this:
`["123", "4567", "890"].slice(0,0,0,0)`
outputs
No syntax error `null`
and shou

[2021-05-24 22:46] Maezzzzz commented on #3929
@thadguidry little bit of digging brought me to this open issue: https://github.com/OpenRefine/OpenRefine/issues/2507

seems as though it stems from here in a way and is far past my scope of understanding but may help you with the issue.

[2021-05-24 23:50] mgutierrez98 opened #3934 "Update user manual and in-app documentation for splitByLength()"
The documentation, specifically for splitByLength() does not inform the user that they have the possibility to only return values within a given range of indices, Iv since updated the document but wanted to make a bug report on it for submitting the PR.

ex:
`"123456789012345678901234567890".splitByLengths(3,4,5)[0,2]`
`returns [ "123",  "4567" ]`

More about this issue can be seen in this thread:

[2021-05-25 18:53] Maezzzzz commented on #3934
@wetneb if you want to assign me to this I should be able to get a PR today.

[2021-05-26 04:48] #3888 closed

[2021-05-26 12:08] #3344 closed

[2021-05-26 13:06] Shatakshi0805 commented on #3818
I have created a PR that might fix this issue. @wetneb

[2021-05-26 17:05] pvcodes commented on #3363
Hi, @wetneb

[2021-05-26 18:28] wetneb commented on #3363
Hello @pvcodes, how are you doing today? Nice weather, isn't it?

[2021-05-26 20:32] Maezzzzz commented on #3934
having not worked with docusaurus or node before, if anyone knows, how do I get my local changes to show on localhost?  they seem to not want to show up and instead uses the weblink to grab the grelfunctions doc from the repository.

[2021-05-26 23:29] Maezzzzz commented on #3934
welp, first time committing with git, went pretty bad. If you need me to fix the discrepancies between the grelfunction files let me know, the versioned doc is the proposed change the other grel file was what I used to attempt to build the new doc site before realizing I had to edit the versioned documents.

[2021-05-27 01:29] pvcodes commented on #3363
NVM, 😁 I was asking about the commit should I do PR

[2021-05-27 05:34] wetneb commented on #3363
Please do!

[2021-05-27 09:39] wetneb commented on #3919
Thanks for the thorough analysis!

Then this issue is pretty clear to me: one needs to make sure that our HttpClient class respects the custom proxy settings that we advertise (such as `http.proxyPort` and `http.proxyHost`).

I am marking this as a good first issue because @ToVie's diagnosis in https://github.com/OpenRefine/OpenRefine/issues/3919#issuecomment-845049535 should be easy to follow, to

[2021-05-27 12:08] ostephens commented on #3929
Feels like this issue has got a bit off track. If we can try to keep issues cleanly focussed then it will really help those getting involved. If there are additional related issues they can always be raised in separate issues. Unfortunately here we've lost the text of the original report - which is making addressing the documentation issue harder, and we've now got a huge discussion about how arra

[2021-05-27 15:15] wetneb opened #3944 "New structure for GitHub Actions"
We currently build pull requests using the `pull_request_target` event for the sake of being able to embed secrets (to post coverage statistics and ui test results), but this is not great for various reasons:
- this exposes a vulnerability, meaning that our secrets can actually be read by a malicious GitHub user
- if we make changes to the testing infrastructure which affect both the code base and

[2021-05-28 09:11] ostephens opened #3948 "Support splitting a string to an array based on a set of repeated string lengths"
Originated in #3929.
**Minor Update 2021-05-28:** Make sure to see comments below about preference to create new operation rather than amending splitByLengths() as in proposal

Currently there is no easy way to split a string into an array based on a set of repeated string lengths. For example if a cell contains a string that concatenates several fixed length strings together with no separators th

[2021-05-28 09:15] ostephens commented on #3929
@thadguidry @mgutierrez98 apologies for closing this on you, but it just felt we were getting into some weeds.

I've done a new write up the enhancement proposal as #3948 based on Thad's original text taking into account my questions and Thad's responses about repeated sets and dealing with strings whose length didn't fit the repeated pattern. I hope this is a clear write up of the proposal which

[2021-05-28 09:38] wetneb commented on #3948
I think it is really worth considering adding this as a new GREL function as you mention. It would feel cleaner not to have to add a boolean argument after a variable list of numerical ones.

[2021-05-28 10:31] thadguidry commented on #3948
I also think creating a new GREL function might make things cleaner and less risky.  Maybe shorten the function name to `splitRepeatLengths` but I'm not strongly opposed to any name as long as it works as well documented.

[2021-05-28 13:59] lwinfree commented on #778
Hi all! I'm wondering if there is any interest in reinstating this datapackage support? If yes, are there ways that the frictionless team could help? I was just communicating with @andrejjh who would still find this really useful, so that's our primary use case right now. Happy to chat more and thanks!

[2021-05-28 15:04] wetneb commented on #778
Hi @lwinfree,
I think it would be a nice thing to have indeed! I am not aware of anyone working on this at the moment, so the issue is up for grabs :) I would not mark it as a "good first issue" because it is a bit too involved for that, but it is definitely doable.
I would be happy to review pull requests going in that direction.

[2021-05-28 15:38] thadguidry commented on #778
@wetneb But  I thought we needed to 1st add support in OpenRefine for Column metadata [per your comments from last year above](https://github.com/OpenRefine/OpenRefine/issues/778#issuecomment-647759136)?

to then align with Table Schema specs builtin support for Name, Type, Format
https://specs.frictionlessdata.io/table-schema/#types-and-formats

Then having lots of discussion to arrive at decisio

[2021-05-28 16:36] wetneb commented on #778
Yes absolutely! I would really like to see this foundational work and design discussions about column metadata / constraints happening and I do think they are necessary to provide a satisfying support for data packages. If we are aiming for that, this issue is indeed an "epic" which should be broken down into many subtasks.

But if people only want to restore the limited support we had in the past

[2021-05-28 20:02] thadguidry commented on #195
Supports BibTex and RIS for Endnote importing https://michel-kraemer.github.io/citeproc-java/

[2021-05-29 17:10] thadguidry commented on #2452
So testing on my clean Windows installation with OpenRefine 3.5 beta1 to see where this issue is at now with Firefox specifically...
1. I create a small clipboard project
2. Export to Google Drive
3. I am prompted with a popup browser window for Oauth login showing standard Google authorization for accounts, where I choose my account.
4. A send browser window appears where I much review 2 checkbox

[2021-05-30 20:24] #3462 closed

[2021-05-31 11:44] thadguidry commented on #455
Reopening since it looks like a few folks did ask for `.accdb` file format importing on the recent survey on importers.

[2021-05-31 12:58] #3674 closed

[2021-05-31 12:59] Gomaa commented on #3605
Would you please assign me to this issue?

[2021-05-31 13:01] wetneb commented on #3605
Sure, thank you! I have sent you an invite to the organization so that you can assign issues yourself in the future.

[2021-05-31 14:46] ahmadaldhalaan commented on #1717
I am having the same issue. I have tried 3.1, 3.2, 3.3, 3.4 and 3.5 and no luck in running it. I get the same blank page with the OR logo.

[2021-05-31 15:00] alihabib-in commented on #1717
@

@ahmadaldhalaan Uninstall Java and install the embedded version of Open Refine.. it will work

[2021-05-31 15:13] thadguidry commented on #1717
@ahmadaldhalaan Can you tell us which version of Java you have installed?

[2021-05-31 16:26] ahmadaldhalaan commented on #1717
@alihabib-in That definitely worked. But what if I need Java for other applications?

@thadguidry I have Java 16.0.1. I tried OR 2.8 and it works fine with it.

[2021-05-31 16:54] thadguidry commented on #1717
@ahmadaldhalaan Thanks so much for that info!
@wetneb This should help us look to improve things for OR 3.x knowing that Java 16.0.1 worked fine with OR 2.8

[2021-05-31 20:52] ToVie commented on #3719
@thadguidry You can reproduce the behavior described by @jkjkjkjkjk like this:

### Steps to reproduce the problem
1. Fresh install of openrefine
2. Create first project in standard workspace directory and change some data
3. Create second project in standard workspace directory and change some data
4. Quit OpenRefine
5. Check the  "projectIDs"-array of workspace.json => it contains two valid proj

[2021-06-01 12:08] jquartel commented on #3289
3.5-beta appears to have fixed the issue with text Find operations on MacOS Safari (i.e. the interface is no longer broken after doing a find) so this is great, thank you! I still think it would be good to enhance the functionality of the "Re-order / remove columns" window, especially with the ability to select and move multiple items rather than only one at a time. If you have a few hundred colum

[2021-06-02 19:36] Jmuccigr opened #3955 "Missing Row Separators in Templating Export"
### To Reproduce
Steps to reproduce the behavior:
1. First, select the "Templating..." option under Export menu.
2. Use the default values for the json output.
3. Finally, observe that a number of "rows" (really records) at the start, are missing the "Row separator".

### Current Results
The first two exported items are missing a row separator:

[code]

Also this data set also gets displayed with

[2021-06-02 19:57] thadguidry commented on #3955
Hi @Jmuccigr - the Templating exporter is a Row's based exporter, not Records based (until a future enhancement changes some of that, which is somewhere on our backlog for the last 10 years or so).  We do give hints about this in the dialog itself such as:

![image](https://user-images.githubusercontent.com/986438/120543702-3a060480-c3b2-11eb-8937-dba5a8188e84.png)

Where would could probably rela

[2021-06-02 20:07] thadguidry commented on #3955
Ah, I just double-checked something... looks like if you remove the `,` character in the Row Separator input box and then put it back again, the preview updates and shows the row separator.  But again as I stated, this doesn't quite represent a good tree view in JSON of the Records hierarchy itself, but only pure Rows. So let us know your thoughts on a Records based Templating exporter and your ne

[2021-06-03 07:32] wetneb opened #3957 "jquery.lavalamp.min.js is non-free"
[Posted by Markus Koschany on the openrefine-dev mailing list](https://groups.google.com/g/openrefine-dev/c/eJbPPYnqJiw):

This is a blocker for OpenRefine's packaging for Debian. Therefore we should investigate as soon as possible how to get rid of this dependency.

[2021-06-03 07:45] wetneb opened #3958 "Minified Javascript files in the repository"
[Posted by Markus Koschany on the openrefine-dev mailing list](https://groups.google.com/g/openrefine-dev/c/eJbPPYnqJiw):

We should therefore reevaluate whether we can use non-minified files instead.
The real problem here is our lack of a proper dependency management system for our frontend, #2423.

[2021-06-03 08:14] ostephens commented on #3957
Seems like this is used only to add an animation to the tags panel at the top of the Open Project screen. It could removed without losing any functionality. While the animation emphasises which tag you currently have your mouse over, it feels like a very minor aspect of the UX

[2021-06-03 13:00] jinoytommanjaly commented on #3307
Q? Does the issue has been cleared in the OpenRefine v3.5-beta1 update? I updated to the v3.5-beta1 version and find the issue got solved. @wetneb

[2021-06-03 15:12] wetneb commented on #3307
@EgorBEremeev did the 3.5-beta1 solve the problem on your side too?

[2021-06-03 16:17] thadguidry commented on #3958
We should be able to use non-minified files since we support local use and don't run an OpenRefine service for the world.
Historical context:  They were minified long ago with the idea that Metaweb/Google "might" provide an online data cleaning service based on OpenRefine, but after 1 year of headbanging they gave up. Instead they began to partner with Trifacta.

[2021-06-03 19:44] ljvillanueva opened #3960 "Adding reconciliation service hangs when there is a redirect in 3.4 and 3.4.1"
### To Reproduce
Steps to reproduce the behavior:
1. First, do Try to add reconciliation service http://services.getty.edu/vocab/reconcile/
2. Then, It hangs on "Working..."

My guess is that OpenRefine is expecting something else when it encounters a redirect to the https version of the API. Seems like a similar error as #3466. See log below that shows the same complaint when dealing with a 308 r

[2021-06-03 19:56] Jmuccigr commented on #3955
Ah, I didn't even see the row vs record mode. Thanks. (I see now that a missing first-column value will bump it into records mode.) That solves my problem.

Regarding terminology, I think what's confusing is the the "Row separator" appears between the converted **input** rows, not between the **output** rows, though I guess if I had been aware of the row/record dichotomy, it might have made more s

[2021-06-03 20:30] wetneb commented on #3960
Thanks for reporting! This was indeed a known issue which has been solved in 3.5. We hope to release a stable version of 3.5 soon. If there is anything preventing you from using 3.5, do let us know :)

[2021-06-03 20:35] ljvillanueva commented on #3960
Ah, good to know it is a known issue, wasn't sure. I should be able to use the beta of 3.5 until the stable version.

Feel free to close if this is not needed.

[2021-06-03 20:36] #3960 closed

[2021-06-03 20:40] wetneb commented on #3955
Yeah I cannot really think of a reason why rows inside of a record should not be separated like others. I think a sensible solution to this issue would be to simply add row separators there as well.

If we want to think bigger, we could also try to think how we could make it possible to genuinely exploit the records structure there? It is really not clear to me what it should look like ideally, bu

[2021-06-03 21:27] thadguidry commented on #3955
@wetneb I think looking to the database world for records processing is wise.  Where databases have gotten quite well over the last 10 years supporting records .  I have to databases for advanced records processing since they provide the support that currently OpenRefine does not well. (Tony and I had lots of ideas one afternoon, but requires lots of work of course)  Anyways, PostgreSQL is quite e

[2021-06-03 22:08] Jmuccigr commented on #3955
Being a relative newcomer to OR, I would love it if it popped up an alert that said "Hey, your dataset is missing some values in the first column, so we're putting you in Records mode. If you want us to treat this dataset by the row, click here." (vel sim.).

I suspect that most people wouldn't create datasets with empty first column values, but you never know!

[2021-06-04 16:01] Jmuccigr commented on #468
Just chiming in here to note that I think the current title is not quite right. The issue isn't that you can't use multiple templates. You can use as many as you like. You just have to re-enter the one you want every time you do an export. So, as the OP said: "to save and load different templates" is what's wanted.

[2021-06-06 09:29] TorstenVeit commented on #416
I got the same error:

11:21:46.114 [          org.mortbay.log] /images/favicon.png (10970ms)
java.lang.IllegalStateException: Committed
        at org.mortbay.jetty.Response.resetBuffer(Response.java:1024)
        at javax.servlet.ServletResponseWrapper.resetBuffer(ServletResponseWrapper.java:202)
        at org.mortbay.servlet.GzipFilter$GZIPResponseWrapper.resetBuffer(GzipFilter.java:310)

[2021-06-07 07:22] #3605 closed

[2021-06-09 20:27] ShivamBaishkhiyar commented on #3412
Can i take this issue **#3412** if no one is currently working on it.

[2021-06-09 20:28] fgiroud commented on #3412
absolutely @ShivamBaishkhiyar

[2021-06-10 06:09] #2961 closed

[2021-06-11 16:57] thadguidry opened #3979 "Edit project tags does not work"
When hovering on tags on projects in the Project table there is a hover tip, "Edit project tags".
Clicking on a tag does nothing.

### To Reproduce
Steps to reproduce the behavior:
1. Click Open Project
2. Then hover on some tags in the Tags column on list of projects
3. Try to click on some tags to edit

### Current Results
Clicking is not allowed.  Not actually editable, but the hover text says

[2021-06-11 17:07] thadguidry commented on #3979
@wetneb It is originally a localization problem I think?  See the linked PR above.

[2021-06-11 17:18] #3957 closed

[2021-06-11 17:26] thadguidry opened #3980 "For Windows default workspace, change APPDATA to LOCALAPPDATA"
One thing that we do which is advertised incorrectly is that we say "OpenRefine always stores data locally".
That's not entirely true , since `APPDATA` (and what jdatapath point to) never had the LOCAL context, so a user in a corporate setting might be unaware that their data was being stored on the company network against their user profile (Roaming) and not on the local machine.

### Proposed so

[2021-06-14 11:23] kushthedude opened #3986 "Modernisation of OpenRefine"
### Proposed solution

OpenRefine runs on baremetal server, seeing the current trends having a dockerised deployment is no longer considered a feature yet a basic requirement from any well-used project. Proposal to have a Dockerfile & containerised way to run openrefine on user local system. As well as setup a dockerhub repo to push latest images for openrefine.

### Additional context

- This thr

[2021-06-14 12:05] wetneb commented on #3986
I think it could be nice to officially support running with Docker. I suspect it should not be too much work maintaining the Dockerfile. It would probably add a step in the release process though (build the image and push it to the Docker repository).

[2021-06-15 07:26] wetneb opened #3987 "Socket timeout too low for reconciliation operations"
Reconciliation can still fail silently for some batches even with reliable reconciliation services like OpenCorporate's.

## To reproduce

Try to reconcile the file provided in https://groups.google.com/g/openrefine/c/WHuCcfPPJbo

## Current results
https://groups.google.com/g/openrefine/c/WHuCcfPPJbo
You get some errors in the server logs like this:

[code]

### Expected behavior

The column shou

[2021-06-15 11:44] thadguidry commented on #3987
Back in the day with older Apache HTTP Components it was 3 minute timeout default, I know because I read the source of it back then.  Then after 4.x they switched to a OS system default for socket connections (ex. on Mac it's 60 seconds) https://stackoverflow.com/questions/9734384/default-timeout-for-httpcomponent-client

[2021-06-16 08:52] jquartel opened #3988 "Export file from Safari has corrupted file name"
When using Safari with an OpenRefine project that has spaces in its name, exporting creates a file with unwanted characters and also a bad extension. For instance I have a project called "Eleos ALEs Pt2 5" (quotes added for clarity here) and when I export as a tab-separated file from Safari Version 14.1.1, the file created is

Eleos%2DALEs%2DPt2%2D5%2Etsv.txt

If I do the same export from Chrome V

[2021-06-16 13:21] thadguidry commented on #3988
Hi @jquartel we don't support or test on Safari.  OpenRefine is an application (not a webpage) and we test that it works fine on Chrome, Firefox, and Edge.  We could add support for Safari, but that might be some work.  However on this particular issue with the Export, there still might be something we can do for Safari specifically to make it work correctly.  I guess we can leave this issue open

[2021-06-16 13:33] jquartel commented on #3988
Sure yes, not a big issue. I mostly work in Safari since that's my default browser and it pops up when I start OpenRefine. I can switch to Chrome if that's better supported.

[2021-06-16 14:38] jquartel commented on #3289
I can confirm that the search issue with Chrome (where it wouldn't scroll the window to the located match) is also rectified in the 3.5-beta . I would say this issue is fully resolved. I might open a feature request for the extra functionality I described for the "Re-order / remove columns" window.

[2021-06-16 15:19] wetneb commented on #3289
Thank you @jquartel for the good news :)

[2021-06-16 15:19] #3289 closed

[2021-06-16 15:22] wetneb commented on #3988
I think the question here is: îs OpenRefine exposing this export filename appropriately, according to the standards? It is very well possible that Chrome does some additional effort to fix encoding problems there, but our non-compliance with standards hurts user experience in other browsers too.

[2021-06-17 12:31] jinoytommanjaly opened #3991 "Export to Google Drive / Sheets end up with HTTP ERROR 500 - Butterfly Error"
### To Reproduce
Steps to reproduce the behavior:

I have tried to export the project to Google Drive as well as export to Google Sheets. But facing an issue after granting the authorization. Getting ends up with a HTTP ERROR 500 - Butterfly Error.

### Screenshots
![image](https://user-images.githubusercontent.com/38123141/122396248-70887580-cf95-11eb-8521-8c2e198be553.png)

### Versions
 - Opera

[2021-06-18 13:30] wetneb opened #3992 "Linked Data Fragments importer"
Some RDF triple stores offer a [Linked Data Fragments](https://linkeddatafragments.org/) endpoint. This is a query interface which is much simpler than SPARQL and is therefore often faster and more reliable (since it is cheaper for the service). Importantly, it supports paging, which lets a client download large sets of results without running into timeouts.

### Proposed solution

It would be nic

[2021-06-18 15:23] wetneb opened #3993 "Optimization for the RDF N-Triples in 4.x"
The N-Triples format for RDF serialization is lines-based: each line in a N-Triples file can be parsed independently of the context.

In the new architecture (4.x) branch, importers can avoid loading the entire file contents in memory if their format is line-based. Files are parsed using the `loadTextFile(String path)` method, which uses Hadoop partitioning and streaming under the hood.

The RDF N

[2021-06-21 02:21] Shatakshi0805 commented on #3575
Can I work on this?

[2021-06-21 03:21] Shatakshi0805 commented on #3575
I would like to work on this issue.

[2021-06-21 06:22] wetneb commented on #3575
@Shatakshi0805 sure, thank you!

[2021-06-22 11:47] wetneb opened #4004 "Clustering dialog does not show duplicate whitespace clearly"
When clustering values which contain duplicate whitespace characters, these characters are not clearly shown in the clustering dialog, giving the impression that we are clustering identical values.

### To Reproduce
Steps to reproduce the behavior:
1. First, import the following file (as a lines-based or CSV file for instance):
[code]
2. Then, open the clustering dialog on that column.

### Curren

[2021-06-22 13:07] wetneb opened #4006 "Localization of number formatting"
At the moment we display our numbers without formatting them according to the locale.

### Proposed solution

It would be great if the locale could be taken into account when formatting numbers in most places in the UI.

For instance, instead of showing `4126530 rows`, show `4,126,530 rows` in English and `4 126 530 lignes` in French.

### Alternatives considered
None.

### Additional context

It

[2021-06-22 13:59] Shatakshi0805 commented on #3575
Thank you for assigning. I needed a little help as I cloned the wiki repo on my machine I'm not able to find the Mediawiki Bot passwords page in the OpenRefine.wiki folder that I Cloned and I need it to edit and use its content. I am able to see other files But I am not able to locate the file which I need to edit and copy the content from. Could you please help me with the same?

[2021-06-22 15:02] thadguidry commented on #3575
@Shatakshi0805 you should see it now.  Try to clone again.  Looks like we had an error on an older FAQ page title that was causing a checkout issue.  Let me know if it is now resolved and that you can see the file needed when checked out the `master` branch as I just did to verify it works now.

![image](https://user-images.githubusercontent.com/986438/122949008-f2372500-d340-11eb-9522-372b8b352a5

[2021-06-22 15:16] thadguidry commented on #4006
Isn't this related to one of your bullet points specifically in the older issue #2443 ?

[2021-06-22 15:19] thadguidry commented on #4006
Also, I think it would be wise that we probably clarify the proposed solution with `system locale` and not just saying `locale`.
I would expect as a user that if I change my system locale, that OpenRefine's UI understands and respects that change after a refresh on browser? Do-able?

[2021-06-22 15:30] wetneb commented on #4006
Since we only have frontend localization at the moment, this issue is about the frontend (but the same could be applied to the backend if we localize it eventually).

[2021-06-22 15:31] wetneb commented on #3575
Otherwise you could simply copy the source of the page at https://github.com/OpenRefine/OpenRefine/wiki/MediaWiki-Bot-Passwords/_edit

[2021-06-22 17:40] Shatakshi0805 commented on #3575
Yes, It works. I am now able to see the files by checking on the master branch and then cloning. Thank you so much @thadguidry and @wetneb for helping. Really appreciate it! :)

[2021-06-23 01:25] thadguidry commented on #3221
Added note in **Alternatives considering** from @timClicks about using Rust with Druid to possibly make things easier for all 3 platforms support.

[2021-06-23 03:30] Shatakshi0805 commented on #3575
![image](https://user-images.githubusercontent.com/78600829/123029997-ac8d6180-d3ff-11eb-8821-38a6d6367dc6.png)

Apologies for sharing image like this and not the actual website image with the applied changes. I was not able to see the changes on the website that I made after `yarn start` so had to share this image. Just want to know if the changes made are correct in the overview.md file. I am cu

[2021-06-23 12:15] braiam commented on #3055
Exporter seems to face the same issue. Should I open a new issue @tfmorris ?

[2021-06-23 12:27] braiam opened #4007 "SQL importer web UI should return the DatabaseServiceException message instead of generic error"
I use openrefine to import projects directly from a database to process it and exporting as a file to share with others. I created a custom user for this to reduce the possibility of a bug or attack vector that would modify/damage the database. That means that I have to explicitly grant permissions on tables/schemas. Sometimes I forget this step, and the logs accurately reflect this issue:

[code]

[2021-06-23 14:14] thadguidry commented on #4007
Agreed, we should probably propagate the real error message so that it's more useful.
@braiam Do we also need to make any changes to the message box UI itself? centering, text size, anything else?

[2021-06-23 14:52] braiam commented on #4007
Not really, just more information about the error.

[2021-06-23 16:05] Shatakshi0805 commented on #3575
I had one last question. Apologies for asking questions so many times as I am a beginner and facing these issues. [Q]  After making changes in docs and saving them and running successfully
on local host through `yarn start` I am not able to see the changes that I made on the local host server. Is it like this or I have missed some step in this process?

[2021-06-23 16:28] thadguidry commented on #3575
yarn should have opened your local browser and reflected the changes very quickly in seconds on the browser window that it popped up... without having to restart the server.  See https://github.com/OpenRefine/OpenRefine/tree/master/docs#local-development

Why don't you hop onto our Gitter chat and we can troubleshoot live.  You can use the Element client to reach it easily here: https://app.elemen

[2021-06-23 16:43] wetneb commented on #3055
Please do, thank you!

[2021-06-23 18:32] thadguidry commented on #3221
I personally, really like what I see (and wonderful docusaurus docs) with Tauri...which is similar to Electron in some ways.  His video is also pretty cool here: https://tauri.studio/en/docs/about/intro

[2021-06-24 08:25] alexladerman-nav commented on #2191
Open Anyway only gives me the option to _Move to Bin_ or _Cancel_ (MacOS Big Sur 11.4)

[2021-06-24 10:33] wetneb commented on #2191
So now we have the required account to sign our releases, but the pipeline which creates the DMG file needs to be adapted accordingly. A good inspiration could be the Gephi project:
https://github.com/gephi/gephi

[2021-06-24 13:50] jquartel opened #4009 "Preview update with no effect is initiated after changing unused parameters"
After loading a new file and coming to the Configure Parsing Options page, you have the ability to modify the parsing rules, which I do pretty frequently with the kinds of (mostly tsv-like) files that I get. Most frequently I need to change the "Ignore first" and "Discard initial" parameters and since I usually need both of these and since my files are large and complex enough for the preview upda

[2021-06-24 15:37] thadguidry commented on #458
This has now been verified as fixed tested and using latest `Version 3.5-beta1 [1b9907e]`
Closing.

[2021-06-24 15:37] #458 closed

[2021-06-24 19:59] thadguidry commented on #3221
Add note in original comment about Tauri's capability to bundle the app as a `.deb` (Debian package) file. https://tauri.studio/en/docs/usage/guides/bundler/debian

[2021-06-24 22:10] thadguidry commented on #3221
@wetneb I'm looking to fund this and have Tauri folks help me with it.  I talked with them at length today.

From @nothingismagick (Denjell)

They've reviewed our architecture lightly and these requirements and are willing to put in the time where I'll make a large 1 time donation to them with my own funds.  It will be cross platform for Windows, Linux, Mac.

I'd love to host the 1st review sessio

[2021-06-25 01:42] nothingismagick commented on #3221
Just a heads up, gnome engineers are probably removing rhe system tray entirely, and app menus too.

https://gitlab.gnome.org/GNOME/Initiatives/-/wikis/App-Menu-Retirement

[2021-06-25 03:22] wetneb commented on #3221
Thanks for the notification @nothingismagick! The link you posted is about app menus, which does not seem to affect those plans much, but I would be interested about more pointers about the system tray.

@thadguidry I had a quick look at Tauri and it seems to be an alternative to Electron. I think this is not what this issue is about: having a more convenient launcher (without having to use the te

[2021-06-25 03:32] thadguidry commented on #3221
@wetneb I pinged @lucasfernog who's actually hacking on some of it at this moment, to step into this issue and reply to you on those points to get clarity.

[2021-06-25 03:39] lucasfernog commented on #3221
Tauri does not "bundles up everything without packaging dependencies", the Deb can specify Linux dependencies and only includes the Tauri binary and frontend assets (including the server, webapp and `refine` binary).

OpenRefine would still be accessed on the browser, the Tauri launcher is just a helper. Of course you can get the same functionality using another tools, but with Tauri you don't nee

[2021-06-25 03:44] wetneb commented on #3221
That sounds perfect then! Looking forward to it :)

[2021-06-25 03:51] thadguidry commented on #3221
@wetneb Do we need to worry about Freexian at this point, whose helping us on other matters with the Debian packaging?  I guess I'll let you sort those things out (head's spinning). Good Night.

[2021-06-25 03:58] wetneb commented on #3221
Again I don't know Tauri at all but even if it can be configured to rely on pre-packaged dependencies I suspect it would be still quite hard to use it to produce a package for Debian's official repository. For instance because Tauri itself would need to be packaged for Debian first, since it would become a build dependency of OpenRefine (but maybe I am also wrong on this and @lucasfernog knows of

[2021-06-25 04:01] lucasfernog commented on #3221
Tauri does not have a Debian package since it's just a Rust library that depends on WebKitGTK (and Tauri automatically adds that and GTK as a Debian dependency).

[2021-06-25 07:36] nothingismagick commented on #3221
Sorry I thought I posted both links, here you go:

https://blogs.gnome.org/aday/2017/08/31/status-icons-and-gnome/

[2021-06-25 08:08] fgiroud opened #4015 "Test for creating project from web URLs are not working anymore"
Those two tests doesn't work anymore and have been disabled to keep the test suite stable

- Test the create project from Web URL based on CSV
- Test the create project from Multiple Web URLs based on CSV

it looks likes it's from the latest version of Cypress 7.5

[2021-06-25 08:20] Shatakshi0805 commented on #3575
Yes, I saved the file and then ran on local server. And the only issue I am facing is not able to see the changes that I made on the website. Do let me know if there is something that I can help with.

[2021-06-25 10:01] thadguidry commented on #3575
@Shatakshi0805 You can help by finding out why it's doing that?  Ask the docusaurus or yarn community?  Because I also have the same problem now and have no idea and tried a few things for over an hour at that time.

[2021-06-26 00:16] thadguidry commented on #3221
@wetneb Hi Antonin, @lucasfernog and @nothingismagick have sent you and I (email from GitHub) the access to his private repo to review the preliminary "startup app" (we need a better name eventually for our docs, lolol).  I chatted briefly with them today on Discord direct message, but this probably needs a call just to ensure you are comfortable and can ask questions.  Can you set something up fo

[2021-06-26 01:08] lucasfernog commented on #3221
The app only supports Linux and Windows so far because I saw on the website only a DMG installer for Mac - does it also have a bash script like Linux? That would be easier to manage.

[2021-06-26 08:19] wetneb commented on #3575
@Shatakshi0805 beware that we have versioning in place: perhaps you are editing the dev version of a page, but you are looking at the released version (3.4) of the page on the website?

You could also try making some random changes to `docs/versioned_docs/version-3.4/index.md` and check if you can see them at `http://localhost:3000`.

[2021-06-26 08:21] wetneb commented on #3221
The bash script that we recommend for Linux can actually also be used on Mac. The DMG gives a better UX because people don't have to use the terminal to start the app.
I've sent an invite for a call, happy to reschedule if it doesn't work for you.

[2021-06-26 15:22] thadguidry commented on #3575
@wetneb Yeap, that works correctly now!

So it seems that the version "current" really means whats in the /docs/docs folder from [what I read ](https://docusaurus.io/docs/versioning#figure-out-the-behavior-for-the-current-version)
and not the versioned docs under `versioned_docs\version-3.4`

`versions.json` :
[code]

For us that is current docs I.E. for 3.5 version...not older 3.4 version?

So to

[2021-06-27 14:14] #4004 closed

[2021-06-28 03:48] gitonthescene commented on #2504
This is terrific!  It’s probably worth updating some of the [recipes](https://github.com/OpenRefine/OpenRefine/wiki/Recipes#finding-previous-row) when this is available.

[2021-06-28 07:35] #3800 closed

[2021-06-28 14:21] thadguidry opened #4019 "LGTM and Appveyor should not run when only /doc path is touched on PR"
On a recent Draft Pull Request, I noticed that LGTM and Appveyor both ran, even though only files under `/docs` where touched.
We need to tweak our CI/CD workflows to exclude the `/doc` path as documented here: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#example-ignoring-paths

It also might make sense or be easier if we split up the CI/CD into multiple workflow

[2021-06-28 14:33] thadguidry opened #4020 "Update cross() documentation for version 3.5"
As described in comment https://github.com/OpenRefine/OpenRefine/issues/2504#issuecomment-869328758 we should update our user manual for version 3.5 about the `cross()` function showing the project name is optional now, and can use an empty project, and also work with `rowIndex` quite nicely.  Since this is new in 3.5 version, this probably depends on our better supporting our doc versioning itsel

[2021-06-29 00:05] aileenpalafox commented on #4007
Hi, first time working on this project. Can I give it a try? @braiam

[2021-06-29 00:25] braiam commented on #4007
@aileenpalafox this is a open source project, so break a leg!

[2021-06-29 02:26] thadguidry commented on #4007
@aileenpalafox Thanks! Let us know in this issue if you have questions or you can ask on our dev mailing list

[2021-06-29 05:31] wetneb commented on #4019
I don't think we should tag CI-related issues as "good first issue" or "help wanted" since it's not so easy to fix them when you are new to the project (people could need some privileges to access the corresponding services and configure them).

[2021-06-29 05:36] wetneb commented on #4020
The versioning architecture for this and the changes specific to the cross function were done in https://github.com/OpenRefine/OpenRefine/pull/3847.

See the difference between those two:
- https://docs.openrefine.org/manual/grelfunctions#crosscell-s-projectname-s-columnname
- https://docs.openrefine.org/next/manual/grelfunctions#crosscell-s-projectname-optional-s-columnname-optional

So if you wa

[2021-06-29 19:42] thadguidry commented on #3890
@wetneb From the Crowdin.com FAQ at the bottom of their [Pricing page](https://crowdin.com/pricing#annual), it seems you as the Admin (or maybe even @joehand ) first need to do this, Open Source Request

In the meantime, I'm working on my forked branch in PR #4018 against my Trial license for CrowdIn over next 14 days.  Just to get comfortable with their platform, the `crowdin.yml` file, and ensur

[2021-06-29 23:25] thadguidry commented on #3575
@Shatakshi0805 Checkout our `master` branch again and notice the updated `README.md` file under `/docs/docs` which should help you on this issue now.

[2021-06-30 14:28] Shatakshi0805 commented on #3575
Thank you Thad for guidance. I will try this now and will update.

[2021-06-30 14:30] thadguidry commented on #3575
@Shatakshi0805 No problem, and if I didn't explain it well enough in that `README.md` then feel free to submit a PR to improve that also!

[2021-06-30 15:44] thadguidry commented on #2240
@wetneb Are we still blocked upstream on this?  or can we remove that label?  Would be nice to have a paragraph on what the current status is on this.. or better yet... Update the original comment with current state of things as we know so far.

[2021-06-30 16:54] wetneb commented on #2240
Yes, we still need https://github.com/Wikidata/Wikidata-Toolkit/issues/437 first. And also we need some progress on #3210, which should happen as part of the Wikimedia Commons project (#2144).

[2021-07-01 14:37] Shatakshi0805 commented on #3575
yes, it seems clear to me.

[2021-07-02 18:47] wetneb opened #4031 "Docusaurus broken link detection does not mark builds as failed"
We use a feature in Docusaurus to detect broken links in the docs but it only prints errors into the logs without failing the builds at the moment, so we are introducing broken links without noticing!

See for instance this build:
https://app.netlify.com/sites/openrefine-docs/deploys/60df5ce94f1a5f00077e1a61

We should probably change the `onBrokenLinks` option from `error` to `throw`?

[2021-07-02 20:05] thadguidry commented on #4031
Yes throw

[2021-07-04 16:43] #4031 closed

[2021-07-07 07:34] fgiroud commented on #3817
Implemented in PR 3922

[2021-07-07 07:34] #3817 closed

[2021-07-07 07:36] fgiroud commented on #3424
Implemented in PR 3777

[2021-07-07 07:57] fgiroud commented on #3424
Reconciliation tests have a high flakiness rate.
Reopening this to see if we can fix it

[2021-07-07 09:11] fgiroud commented on #3422
@wetneb by any chance, do you have the dataset referenced[ in the doc for clustering](https://docs.openrefine.org/manual/cellediting#cluster-and-edit) ?, (The one with the districts, SWABBYS HOME, BALLARDS)

[2021-07-07 09:31] fgiroud commented on #3422
Also @wetneb , I am trying to play with clustering, but I am probably missing something
I have this very simple dataset, but when hitting edit cells/clustering, no clusters are detected
I was expecting to have at least "BALLARDS RIVER", with a cluster of size 2

![Screen Shot 2021-07-07 at 11 30 03](https://user-images.githubusercontent.com/6267288/124735844-b55d5780-df16-11eb-9e84-e6ec36a817e4.pn

[2021-07-07 13:45] trnstlntk commented on #2144
I notice that we haven't yet shared the exciting update that we have been awarded the grant that was mentioned above. 🙌

See https://meta.wikimedia.org/wiki/Grants:Project/Structured_Data_on_Wikimedia_Commons_functionalities_in_OpenRefine

So development on this ticket will start soon.