[2022-05-19 21:01] thadguidry opened #4871 "Possible lingering bug that we have for refreshing the Scatterplot and other dialog-container"
_Originally posted by @thadguidry in https://github.com/OpenRefine/OpenRefine/issues/2117#issuecomment-1132202044_

1. The user had strings in her columns when attempting to perform a Scatterplot and the display within its dialog was blank entirely.
2. She was instructed to transform the columns to Datatype: Number and try the Scatterplot again, but was blank again.
3. She then restarted OpenRefin

[2022-05-19 21:42] antoine2711 opened #4873 "Can not build the Windows version of OpenRefine from the batch script"
When I try to build from the command line on Windows, I get an error and it doesn't compile.

### To Reproduce
Steps to reproduce the behavior:
1. First, do `refine build`

### Current Results
[code]

### Expected Behavior
That the project gets buid.

As a work around, `mvn install` seams to work. Not sure what I'm doing.

### Screenshots

### Versions
 - Operating System: Windows 10
 - JRE or JDK

[2022-05-19 21:43] antoine2711 commented on #4873
@thadguidry: you are on Windows. Are you familiar with this problem?

Regards, Antoine

[2022-05-19 22:25] thadguidry commented on #4873
@antoine2711 Yeah, I think we need to update our docs for building with Windows now?  Could you do that please/thanks!?  If you use `nvm` then you should be able to get current Node installed properly on Windows and then be able to run the cypress tests as well.

### Ensure NVM and Yarn (which gives Node) are properly installed on Windows
[code]

### And then REFINE BUILD should work OK for you...

[2022-05-19 22:49] thadguidry commented on #2825
An interesting idea for Records visualization of nested structure might use Bracket guides such as in VSCode's usage of faint thin lines that outer wrap the sub-records (substructures):

![image](https://user-images.githubusercontent.com/986438/169416650-2b67876e-e1af-4913-8dc3-3a84fa31d7ab.png)

[2022-05-20 12:54] nickynicolson opened #4875 "Make app URIs (zotero:// etc) appear as clickable links"
I'm using OpenRefine to manipulate data which also has a presence in a desktop app which supports an app uri scheme.
Example: bibliographic data stored in [zotero](https://www.zotero.org) which supports an app uri scheme to trigger actions in the app with links of the form `zotero://`

There's currently no way to make OpenRefine display app URIs as clickable links.

Cell values which start with `h

[2022-05-21 07:40] trnstlntk opened #4876 "Release OpenRefine's documentation under a Creative Commons license"
I looked up some documentation yesterday, and it struck me that the footer at every https://docs.openrefine.org/ page says _"Copyright © 2022 OpenRefine contributors"_. I would find it fitting for an open source project to release our documentation under a [Creative Commons license](https://www.creativecommons.org).

At first sight, Attribution-ShareAlike 4.0 (or a more liberal 4.0 license) sounds

[2022-05-21 09:55] wetneb commented on #4876
I think we have had that discussion before: in my understanding, the documentation is released under the same license as OpenRefine (since it is hosted in the same repository). It would be good to update the docs template to reflect that indeed. The license is mostly equivalent to CC-BY so we could also go for that.

[2022-05-21 10:03] wetneb commented on #4727
@trnstlntk could you check if this is still current? If so I would be tempted to accept that the Linux snapshot does not work on a MacOS machine - after all it is not designed for that! And now you have a way to run OpenRefine directly from `git` so this is perhaps not so needed anymore?

[2022-05-21 11:57] wetneb opened #4877 "Waiting screen while guessing reconciliation types should be internal to the reconciliation dialog"
Currently, when opening the reconciliation dialog, we have the following user experience:
1. user selects the reconciliation service
2. a "Working…" screen appears while OpenRefine guesses reconciliation types. The user cannot do anything while this is shown.
3. the reconciliation configuration dialog appears and the user can start configuring the reconciliation

Sometimes the guessing of reconcil

[2022-05-21 15:09] thadguidry commented on #4876
@trnstlntk  yeah, as Antonin said, it should be CC-BY equivalent.  That "copyright" tag is just from the template and we simply overlooked it, or not squinted our eyes hard enough ;-) So thanks for catching that!

[2022-05-21 22:47] antoine2711 commented on #4727
@trnstlntk: I think you are making a mistake by starting OR that way. You should `cd` in the folder first. OR's script are not build to be run from another folder. So in your case, do this:

[code]

or Right-Click the enclosing folder, not the refine app file, and do this:
[code]

Regards,
   Antoine

[2022-05-22 00:30] thadguidry commented on #3512
Cannot reproduce with newer versions of OpenRefine.
I just did a small test with no previous workspace and created 2 small projects to test what things look like when going from 3.3 to 3.5.2 and I had no issue seeing the starred or history in the Expression dialog.   My `workspace.json` and `workspace.old` indeed still had the scripting.expressions and scripting.starred-expressions :

[code]

[2022-05-22 01:10] thadguidry commented on #3512
TL:DR Any version of OpenRefine that is **pre 3.5.1** is subject to having corrupted workspaces at times depending on preference values not using UTF-8, and hence losing starred or history expressions.

OK, I think I see the issue, we did have some serialization issues where most of them all were fixed around year 2019 and one of the last ones concerning logging of expressions was addressed by @we

[2022-05-22 02:11] antoine2711 opened #4878 "Changing the working directory to the folder of the batch file on Windows"
If I start the script from another folder, it will not work.

### To Reproduce
Steps to reproduce the behavior:
1. First, from a different folder then the base folder of OpenRefine, call the batch file:

### Current Results
[code]

### Expected Behavior
A normal launch
[code]

### Versions
 - Operating System: Windows 10
 - OpenRefine: v3.3, maybe less.

[2022-05-22 02:32] antoine2711 commented on #4727
After investivating more, I see that this is less relevant on Mac or Linux, but would be fatal on Windows. I'm creating an issue for Windows: #4879

Regards, Antoine

[2022-05-22 02:50] antoine2711 commented on #4878
@thadguidry: as a Window user, what do you think?

Regards, Antoine

[2022-05-22 03:21] thadguidry commented on #4878
@antoine2711 I'd consider the problem,

to be "user error" myself.  Thus, this seems unnecessary, a convenience factor, and possibly more confusing for the inexperienced>experienced.

Calling an executable from any location in the Windows file system is well documented to just simply add its path to the %PATH% environment variable.  This is also what Linux and Mac users do as well.

So for me, thi

[2022-05-22 04:39] antoine2711 commented on #2191
I have a Catalina system virtual machine, on VirtualBox, and this is what I can do:

1. Copy the file to the Application folder;
2. Open the Application folder, Rigth-Click on OpenRefine. <kbd>![image](https://user-images.githubusercontent.com/12217525/169678886-dcfdcc22-c81e-46b3-a43b-b1ed8f84dac1.png)</kbd>
3. You will have to open twice the application OpenRefine. The first time, it just says y

[2022-05-22 05:18] antoine2711 commented on #4878
@thadguidry: you understand that on Linux or Mac, this works? So my effort here is much an alignment with the behavior among our platforms.

Me not being a Windows user, I don't really care. But this prevents nicely something a user might naively do.

Regards, Antoine

[2022-05-22 07:56] wetneb commented on #4878
It also feels like something that would not hurt intuitively - so I would rather agree with @antoine2711 or this, no?

[2022-05-22 09:57] antoine2711 commented on #4877
I was saying that exactely 2 days ago. 👍

[2022-05-22 10:00] trnstlntk commented on #4727
I just tested it, and it works on both my Macs! Not sure where/how things got fixed, but hey 👯

[2022-05-22 10:04] trnstlntk commented on #4727
When I read this, I went 'oh duhhh' and felt very stupid 🤦‍♀️

BUT: I tested both ways (right-clicking the `refine` file and letting it open in Terminal, regardless of where I was in my file structure / and cd-ing in my Terminal to the right folder and then running `./refine` via command line) and both worked. So I have the impression that both methods are really fine.

In any case, seems like my

[2022-05-22 10:08] trnstlntk commented on #2191
Just an idea: could we additionally also ship the MacOS download with a background image that the user sees when the .dmg is opened/loaded, and which contains some instructions?

[2022-05-22 10:19] wetneb commented on #2191
yes that should also be possible

[2022-05-22 10:20] #4727 closed

[2022-05-22 15:12] thadguidry commented on #4878
Well, I don't know how this would work for Windows symbolic links additionally.  There's a multitude of issues, but perhaps I just need to pull this and use it and see... give me a few hours.

[2022-05-22 15:21] thadguidry commented on #4878
@antoine2711 Ah ok, I see now... you just wanted "path expansion" and that's all it does... so yeah I just tried it and works fine.

So 👍

[2022-05-22 17:37] glagou commented on #4839
Hey @wetneb.

I saw that you left a comment on the Pull Request created by shihlei. If you do not manage to reach her, could you please assign this issue to me?

 I will provide a fix similar to the one I did before at https://github.com/OpenRefine/OpenRefine/commit/bbd7c955975557c2c5b00db44e0fdb2da82f98bf

Thanks in advance! :)

[2022-05-22 18:11] wetneb commented on #4839
sure!

[2022-05-23 00:12] hughlilly commented on #4539
Hello; apologies for my very late reply. That would be great — but as others have mentioned it would also be good to have an "x" in the corner to close the dialog, either for that session or permanently. Would it be going to far to have `ui.browsing.facetsHideSplash` set to `true` by pressing the 'x'?

Hugh

[2022-05-23 00:21] antoine2711 commented on #4539
@hughlilly:
« Would it be going to far to have `ui.browsing.facetsHideSplash` set to `true` by pressing the 'x'? »

What is being coded is 2 things: a close button, for the session, and a checkbox that sets the preference. So if you check the box, and then close the splash, you will not see it again, for any projects, unless you revert the preference.

Regards, Antoine

[2022-05-23 17:33] #2770 closed

[2022-05-23 18:51] #4839 closed

[2022-05-24 03:37] #387 closed

[2022-05-24 13:14] wetneb opened #4883 ""Collapse consecutive whitespace" operation does not collapse all possible unicode whitespace"
The "Collapse consecutive whitespace" operation does not work when applied to certain whitespace unicode characters.

### To Reproduce
Steps to reproduce the behavior:
1. First, import this openrefine project: [Clipboard.openrefine.tar.gz](https://github.com/OpenRefine/OpenRefine/files/8762921/Clipboard.openrefine.tar.gz)
2. Then, run the "Collapse consecutive whitespace" operation on the only col

[2022-05-24 20:25] carlos-montano-hub commented on #4883
Hi, I write to let you know that I am interested in this issue and I would like to work on it

[2022-05-25 10:34] nickynicolson commented on #4875
I'd happily have a go at implementing this, if you can provide some pointers / examples of where a hard-coded approved list would be defined, or where user configurable preferences are managed

[2022-05-25 15:46] wetneb commented on #4875
We have a preference store that is generally used for such things (see `./main/webapp/modules/core/scripts/preferences.js`).

[2022-05-25 19:13] AtesComp opened #4889 "Invalid "distclean" option in scripts"
The refine scripts:
* refine
* refine.bat

contain the invalid "distclean" option.

For maven, "distclean" is not a processable goal or directive for any plugin.  It is not included in the clean plugin.

### To Reproduce
Steps to reproduce the behavior:
1. ./refine distclean

### Current Results

An error.

### Expected Behavior

The"distclean" option should likely perform a process including the

[2022-05-25 20:16] thadguidry commented on #4883
[fileformat.info](fileformat.info) is not where you want to look at for Unicode specifications.

You should concern yourself with only those Unicode chars that fall into the `Zs` space separator category of the Unicode standards. Code Point Types https://www.unicode.org/versions/Unicode14.0.0/ch02.pdf#G286941 and Chapter 4.5 covers General categories https://www.unicode.org/versions/Unicode14.0.0/

[2022-05-25 20:27] thadguidry commented on #4883
I tried to find within Unicode.org an HTML page that shows the Zs category, but gave up after a bit.  I think it's in the data downloads for sure.  Anyways, here's a quick primer on a listing from another site, which I have no idea how complete it is:  https://www.compart.com/en/unicode/category/Zs

[2022-05-25 21:30] AtesComp commented on #4883
For sure file format.io is NOT the place for a proper look at the specification.  I was just noting the awful presentation others do on the subject.  The fact that the Java regex failed in this issue was surprising.

The standard for the latest "Unicode" is documented at https://www.unicode.org/Public/UCD/latest/
But that is not a clear representation of UTF-8 which is by far the most used transla

[2022-05-25 22:23] elebitzero opened #4890 "Scatterplot facet should show error on non-numeric column"
Column->Facet->Scatterplot facet requires the selected column to be numeric and at least one other numeric column.

### To Reproduce
1. Create Project. Choose sample file foods.csv
2. Next then Create Project
3. Calcium Column -> Facet -> Scatterplot Facet

### Current Results
Scatterplot shows a blank dialog when invoked on a non-numeric column.

### Expected Behavior
An error message should be d

[2022-05-25 22:28] elebitzero commented on #4871
I'm not able to reproduce this with the sample data set food.csv

Steps

1. Create Project. Choose file foods.csv
2. Next then Create Project
3. Select Calcium Column Menu-> Facet -> Scatterplot Facet
[Comes up blank]
4. Calcium Column Menu-> Edit Cells->Common Transforms-> to Number
5. Calcium Column Menu-> Facet -> Scatterplot Facet
[Comes up blank]
6. Water Column Menu-> Edit Cells-> Common Tra

[2022-05-25 22:38] elebitzero commented on #4873
@antoine2711,  did you get it to work? I am also on Windows 10, node 18.0.0, but I am working on OpenRefine 3.6, and building on Windows using latest source from the master branch is working.

[2022-05-25 23:16] thadguidry commented on #4871
Thanks, then let's close this one.  I think it was just a browser cache issue they had which is hard to pin down right now.

[2022-05-25 23:16] #4871 closed

[2022-05-26 04:04] AtesComp commented on #4883
I knew I had these references somewhere...

You can use the following site to do some Unicode look ups:
https://util.unicode.org/UnicodeJsps/list-unicodeset.jsp

For the interested `Zs` category, use in the input box:
`[\p{Zs}]`
Then, press the `Show Set` button.  It lists the 17 characters referenced above.

However, there are no transform references.

The following link discusses the various tra

[2022-05-26 04:20] wetneb commented on #4889
I think `mvn clean` already includes deleting the packaged versions of the software (the `.jar` files and `packaging/target/`) so I would be in favour of just removing the `distclean` option.

[2022-05-26 15:28] AtesComp commented on #4883
This has convinced me of the bigger mess and security issues around JavaScript:
https://encoding.spec.whatwg.org/

**I'm re-examining my UTF-8 / UTF-16 encoding issue.**

1. Microsoft OS encodings are supposedly UTF-16 based, but experience shows OpenRefine ingested Excel spreadsheets often have what looks like a UTF-8 NBSP at the end of some text cells
2. JavaScript is UTF-16 for all strings
3. T

[2022-05-26 18:25] AtesComp commented on #4883
I don't want to pop off again before I have some definite info. I will do some comprehensive tests with a data set and recreate it to see if it is related.  I'll create a new issue if not.  I'll look at the various font setting to see if I can get it to display any different.  It appears the same as in the spreadsheet.  I'm suspicious about MS playing games with a regular space and nbsp to manage

[2022-05-27 01:35] carlos-montano-hub commented on #4883
Hi, thanks for all the inputs. I will send my pr to the issue tomorrow

[2022-05-27 10:31] ostephens commented on #4883
So I'm not at all expert in encoding or Unicode / UTF8 / UTF16 so I can't comment on any of the underlying issues being raised here, but I want to draw focus on how this issue is framed and how it works:

The title of this issue is:

The "Collapse consecutive whitespace" function actually just applies the GREL:
`value.replace(/\s+/,' ')`

which, in code is doing:
[code]
Where str is the cell `valu

[2022-05-27 11:03] ComgLq24 commented on #3805
Hi @tfmorris , I am interested in this issue, can you assign it to me to have a try?

[2022-05-27 16:46] matriim commented on #2074
This feature would be very useful and save time. If I have a tables where several columns look the same. I also have data with columns that looks something like  author1 author2 author3 etc and now I'm running cluster operations on one column at the time when it would have made more sense to do it once for several columns

[2022-05-27 19:39] matriim commented on #2074
@thadguidry Thank you for suggesting transposing, I felt like thta made most sense with my data. But the problem I have now is to split the transposed column back into my original 12 columns. When I try "transpose cells in rows into columns" it asks me  how many rows to transpose. Naturally I chose 12, but the issue here is that when I created the transposed column I chose "ignore blanks" so now I

[2022-05-27 20:49] thadguidry commented on #2074
@matriim Please create a new email thread on our mailing list for this support, since we try to keep our GitHub issues focused on development tasks and not support per se.  And then if we notice a bug or opportunity to enhance this issue, we can come back to it. Thanks!

[2022-05-27 21:25] wetneb commented on #4883
Let's remove the "good first issue" tag simply by virtue of the amount of text to read in this issue :)

[2022-05-28 00:17] elebitzero opened #4899 "Create Project as CSV with single quotes is detected as TSV"
Create Project as CSV with single quotes is detected as TSV

### To Reproduce
Steps to reproduce the behavior:
1. Create Project. Choose file. Use CSV data from the three samples below
2. Click Next

### Current Results
- CSV with single quotes: detects columns separated by tabs (TSV)

- CSV with single quotes: detects columns separated by commas (CSV)

- CSV with no quotes: detects columns separa

[2022-05-28 02:13] xbdeng commented on #2265
I think this issue has been solved @wetneb

[2022-05-28 08:40] xbdeng commented on #1626
I think this issue can be closed

[2022-05-28 08:55] xiao2k commented on #4864
I think we can use `getTableByName("Sheet1")` and `defTable.remove();` to solve this issue.

[2022-05-28 09:16] xbdeng commented on #4899
It is interesting, I want to fix it. Please assign it to me, thank you!

[2022-05-28 12:27] wetneb commented on #4864
@xiao2k since @vdimopoulos was assigned to this issue, it is nice if you can check with them first if they are still working on this issue before working on it yourself. No worries for this time though, I think 10 days is indeed enough to tackle something like this :)

[2022-05-28 13:56] thadguidry opened #4902 "Parse next X line(s) as column headers should be renamed "Parse first""
It is a bit confusing when someone imports a file or pastes from clipboard and wants to enable column headers.
The wording that we chose "Parse next" isn't quite what we meant as "Parse first".
We have several translation files that likely need to be updated.
For example, the EN translation:
 https://github.com/OpenRefine/OpenRefine/blob/3cbb5b143df3caa6e50d5493a34cee3f12cbcf77/extensions/database

[2022-05-28 14:04] thadguidry commented on #1626
Yes this was an initial relapse of my memory with Line-based importer in actuality and not the CSV/TSV/separator-based importer.  The Line-based importer does allow users to import as lines and keep all forms of quotes within the long string of each row importer since it imports lines and does no parsing other than line endings.  Then how the user wants to parse into individual cells in columns ba

[2022-05-28 14:04] #1626 closed

[2022-05-28 17:36] Sync271 commented on #4902
I'd like to work on this!

[2022-05-28 18:23] thadguidry commented on #4902
@Sync271 Thanks!

[2022-05-28 20:49] wetneb commented on #4902
Hmm, I think I disagree - this is to make it clear that the lines ignored are ignored *first*, and then the header lines are parsed *next*.

[2022-05-28 21:31] thadguidry commented on #4902
@wetneb "and then" ... hmm, the UI doesn't present itself as a set of ordered steps there.  But I see your point, hmm.
Maybe the UI could be improved then, something like this quick hack graphic I threw together:

![image](https://user-images.githubusercontent.com/986438/170843462-f51cb934-f8a5-4220-ae31-10ee948b2912.png)

[2022-05-30 06:36] #2265 closed

[2022-05-30 07:12] #4876 closed

[2022-05-30 08:21] ostephens commented on #4902
I'd be in favour of improving the UI to make the relationship between the first option ("Ignore first X lines") and the second option ("Parse next X lines as headers") more obvious. Happy if this includes some changing to the language, but making the flow clear to the user seems like the most important improvement to make here to me

[2022-05-30 08:23] wetneb commented on #4902
If we are reworking this part of the UI, it might make sense to move away from the current pattern of including the input field in the middle of the text, which is a bad practice I think (it complicates translation, and is probably not ideal for accessibility).

[2022-05-30 12:01] #1418 closed

[2022-05-30 12:01] #3277 closed

[2022-05-30 12:01] #3719 closed

[2022-05-31 01:33] antoine2711 opened #4905 "Can't logout of a Wikibase"
When trying to logout of a wikibase instance, nothing happens.

This is what you see in the logs:
[code]

### To Reproduce
Steps to reproduce the behavior:
1. First, go to the Menu Extensions: Wikidata -> « Mange Wikibase account… »
2. Then, click on the button « Logout »
3. Finally, nothing happens.

### Current Results
Nothing.

### Expected Behavior
Being logout, seeing on the UI that I'm logge

[2022-05-31 03:29] thadguidry commented on #4905
@antoine2711 Wasn't this a previously fixed issue? Could have sworn we saw this before and fixed it?

[2022-05-31 05:19] antoine2711 commented on #4905
@thadguidry: I went to check in our closed issues, and 6 months and 18 months ago, we had a similar problem, but the error message of the log was very different. I doubt it's the same.

Regards, Antoine

[2022-05-31 06:08] wetneb commented on #4905
Removing `good first issue` because perhaps this requires changes in Wikidata-Toolkit itself

[2022-05-31 16:55] matriim opened #4907 "While having done transpose changes to the first column breaks the record vs rows mechanism"
I dont know if you can reproduce this on your own data but here are my steps:

1. I started with switching to records-mode and then transposed cells across several columns into rows (used key and value feature).
2. After having done a bunch of changes, such as clustering, deleting some of the rows inside the records that had duplicates (made sure that OpenRefine still had the same number of record

[2022-05-31 17:18] thadguidry commented on #4907
Hi @matriim That would be expected since that is how Records works ([see our docs](https://docs.openrefine.org/manual/exploring#rows-vs-records)).  So, you can make a copy of your first column using the "Add column based on..." with GREL `value` and name the column something appropriate like "key_column".  Then you can perform your transpose on the column without breaking your "key_column" left in

[2022-06-01 09:03] wetneb opened #4908 "Over-enthusiastic progress bar when creating a project from a URL"
The progress bar shown when creating a project can sometimes go beyond its expected maximal value.

### To Reproduce
Steps to reproduce the behavior:
1. First, create a project from [this url](https://opendata.paris.fr/explore/dataset/lieux-de-tournage-a-paris/download/?format=csv&timezone=Europe/Berlin&lang=fr&use_labels_for_header=true&csv_separator=%3B)

### Current Results

![image](https://us

[2022-06-01 13:46] thadguidry commented on #911
I guess that would be OK for now.  Although wonder about Java 16 and later https://github.com/mozilla/rhino#java-16-and-later

[2022-06-01 13:54] thadguidry commented on #911
Also, Apache Hop uses `org.mozilla.javascript` it seems.
https://hop.apache.org/manual/latest/pipeline/transforms/javascript.html
https://github.com/apache/hop/blob/master/plugins/transforms/javascript/src/main/java/org/apache/hop/pipeline/transforms/javascript/ScriptValuesDialog.java#L63

[2022-06-01 14:00] wetneb commented on #911
`org.mozilla.javascript` and Rhino are the same thing, I think (or I would be really surprised if Mozilla maintained two different Javascript interpreters in Java)

[2022-06-01 14:20] thadguidry commented on #911
Now I am scratching my head...
https://mvnrepository.com/search?q=org.mozilla.javascript
https://mvnrepository.com/artifact/org.mozilla/rhino

[2022-06-02 01:51] elebitzero commented on #4908
I looked at this and found that the /api call to http://localhost:3333/command/core/get-importing-job-status?jobID=3  was returning huge values (e.g. 888444) for job.config.progress.percent.  See the captured JSON below.

The UI can cap the percent at 100, but it looks like the backend is incorrectly calculating the progress.

[code]

[2022-06-02 22:47] v1scal commented on #4889
Hi, could I work on this one? I've already looked at the code and think it's pretty straightforward.

[2022-06-03 09:22] wetneb opened #4918 "Restrict protocols that can be used when creating a project from a URL"
We use Java's `URLConnection` to download the content of a file when creating a project from a URL.
This class supports various protocols, some of which can cause the software to execute user-supplied code when fetching the resource. This is potentially a vulnerability in situations where OpenRefine is hosted (which we do not officially support).

We should therefore restrict the set of protocols

[2022-06-03 10:02] wetneb commented on #4847
So, this error was encountered when trying to use a manifest with a version of OpenRefine that does not support such a new version of the manifest syntax.

It is good that we are preventing the user to add the manifest in this case, but we could have a better error message, indicating that the user needs a more recent version of OpenRefine to work with this manifest.

[2022-06-03 15:03] antoine2711 commented on #4716
@the-star-sea: in regards to @wetneb last comment, I suggest this user interface.
![image](https://user-images.githubusercontent.com/12217525/171880614-d2226fe3-cb3a-4c02-8a1f-f04c4b295682.png)

What do you think?

Regards, Antoine

[2022-06-03 15:40] antoine2711 opened #4922 "The first contact of the recon service should be in the background"
When opening a document with v3.6 SNAPSHOT, the Recon Service gets checked. But, it blocks the user interface, and I think it should be done in the backgroud.

<kbd>![image](https://user-images.githubusercontent.com/12217525/171894677-b6267c01-68ee-4687-8644-a78e08b9b4d1.png)</kbd>

(There seams to be a bug also, but that's for another issue…)

### Proposed solution
Contact the Recon Service in th

[2022-06-03 15:47] thadguidry commented on #4922
How long is the wait? Is it especially burdensome?

[2022-06-03 15:57] #4889 closed

[2022-06-03 16:03] antoine2711 opened #4923 "Call the filter() function from a method of an array"
The `filter()` function cannot be called from an Array. I would like to have it as it make the code more readable.

### Proposed solution
![image](https://user-images.githubusercontent.com/12217525/171902489-13d09bf4-f0f3-449c-83e6-e00e2e4e9ea1.png)

### Alternatives considered

![image](https://user-images.githubusercontent.com/12217525/171902587-67d063b9-f8b3-40ec-bdd2-0e4760d37c8a.png)

[2022-06-03 16:56] trnstlntk opened #4924 "SDC: do null edit to trigger page update while adding structured data"
[Category:INaturalist images missing SDC depicts](https://commons.wikimedia.org/wiki/Category:INaturalist_images_missing_SDC_depicts) is an example of a so-called 'maintenance category' for Structured Data on Wikimedia Commons; it indicates that certain files still lack a certain statement. I have recently added [depicts (P180)](https://www.wikidata.org/wiki/Special:EntityPage/P180) statements to

[2022-06-03 17:19] wetneb commented on #4924
It would be relatively straightforward to do a null edit on the MediaInfo entity, but I assume we actually need to do a null edit on the wikitext instead. That is also doable, but more involved because Wikidata-Toolkit does not have any method for that.

[2022-06-03 17:24] wetneb commented on #4716
I am struggling to understand why we need three options here.
If we keep column names intact, then we need to surround them by quotes in general, so the first and last option seem to be identical to me.

Also, some grammar/style suggestions:
* `Keep Column Names intacts` should be `Keep column names intact` (no `s` on adjectives that apply to plural nouns unlike in French, plus standard capitaliza

[2022-06-03 17:32] the-star-sea commented on #4716
Is there any other senior engineer to do the judge?It seems hard to do decisions efficiently here.

[2022-06-03 17:38] the-star-sea commented on #4716
Actually,the hardest thing is not how to do but what to do.I don't know what I should do and it is the second month now since I publish the pull request.

[2022-06-03 17:53] antoine2711 commented on #4716
Well @wetneb, it's to keep the possibility of having just the names, with no quotes or renaming. It's something we have now, so I didn't want to remove that possibility.

Thanks for the grammaticals corrections. I guess my french roots are still strong! ;-)

Regards, Antoine

[2022-06-03 17:56] trnstlntk commented on #4924
Yes, I also assume it's a null edit on the wikitext.

[2022-06-03 17:58] wetneb commented on #4716
Hmm, unless I am mistaken I think what we have now is the second option (normalization introduced by a recent PR). Having just the names with no quotes or renaming can generate invalid SQL statements, so it is probably not an option we should offer to the user, should we?

[2022-06-03 18:05] antoine2711 commented on #4716
@the-star-sea: I understand this is frustrating sometimes. The discussions with the community is a rather lengthy and uncertain process. But it's really what can make the tool better, as they use the product and as such, might come with perspective that a new developper migth not have think of.

I think Antonin recommandation to « Ideally, you should feel invited to take part to those design decis

[2022-06-03 18:10] antoine2711 commented on #4716
I think doing nothing (first option) is good for backward compatibility. I could also imagine a SQL engin that would allow UTF-8 field names, but not the double quote. I do agree that the 2 other options will probably satisfy 99% of the user base or popular SQL DB. So, definitely not a hill I would die for.

Well @wetneb, I think that I made this mistake from the start, even in the title of this i

[2022-06-03 18:14] antoine2711 commented on #4923
That might make the coding of the parsing very hard. But, would could have an implicit variable, like `this` or `item`…
`cell.recon.candidates.filter(item.score > 70)`

But I wouln'd ask for that, I think the other syntax is already well accepted and easier to remember.

Regards, Antoine

[2022-06-03 18:42] thadguidry commented on #4923
It's something we discussed during the early days of GREL design... just thought I would mention it. :-)

[2022-06-03 18:50] antoine2711 commented on #4923
I undestand @thadguidry. I'm not against it. I just think it's hard to code, but I might be wrong. I think this issue is not receivable anyway, because filter() is actually a CONTROL function, and those can't be called from an object…

Regards, Antoine

[2022-06-03 18:52] the-star-sea commented on #4716
I think a good tool does not serve for all the people but for most of people.The more freedom,the less convenience.

[2022-06-03 18:54] thadguidry commented on #4923
Well for filter() that might have to change to be just a regular function, if my hunch is right after 4.0 :-)  We'll have to discuss this while toying with 4.0 in more depth later on.

[2022-06-03 19:34] wetneb commented on #4716
Hmm, I really do not understand! Backwards compatibility is not about preserving existing bugs, right? The previous behaviour (before normalization of column names) was just incorrect. SQL engines have to support double quotes to quote column names, because that is specified by the standard. I cannot imagine a setting in which the user would enforce the generation of invalid SQL statements.

[2022-06-04 06:40] elebitzero opened #4926 "Scatterplot facet doesn't honor facet configuration for selection"
Scatterplot facet appears to be using the linear values even when selecting an area while doing the facet with log. The 45 degree rotation selectors also appear to have no affect.

### Current Results
![scatterplot_log_selection](https://user-images.githubusercontent.com/42903164/171987731-29d84aab-5fde-4711-87aa-831e1012409e.gif)

### Expected Behavior
Scatterplot should use the correct values wh

[2022-06-04 16:23] wetneb commented on #911
I have created an extension which adds support for Javascript as expression language:
https://github.com/wetneb/refine-js
So I am tentatively closing this.

[2022-06-04 16:23] #911 closed

[2022-06-05 09:21] wetneb opened #4927 "Unhelpful column order when importing XML files"
When importing an XML file, the order of columns in the project does not respect the order in which the elements were encountered in the file.

### To Reproduce
Steps to reproduce the behavior:
Import the following file:
[code]

### Current Results

The id column is in second position, meaning that the records mode does not create records that are consistent with the original data.

![image](https

[2022-06-05 09:23] wetneb commented on #4927
Oops, duplicate of #2863

[2022-06-05 09:23] #4927 closed

[2022-06-05 09:36] wetneb opened #4928 "XML import fails if the file contains invalid XML characters"
When trying to parse a file which contains invalid characters in XML, we get an error. Instead it would be nice if those characters could be ignored, perhaps via an importer option.

### To Reproduce

Import the following file:
[expert_groups.zip](https://github.com/OpenRefine/OpenRefine/files/8839692/expert_groups.zip)

### Current Results

Error message: `javax.xml.stream.XMLStreamException: Par

[2022-06-06 10:39] ostephens commented on #4923
As I understand it this is essentially a duplicate of #2618, although with a focus on a specific control rather than controls in general?

[2022-06-06 12:15] #4918 closed

[2022-06-06 12:16] #4645 closed

[2022-06-06 12:21] nickynicolson commented on #4875
I've just found a list of "schemes" in `./main/webapp/modules/core/scripts/util/url.js` which seems to have been used for this purpose (for example there are "skype" / "lastfm" / "chrome" app URI indicators included there). So I guess I can just add the proposed ones from the original issue as a stopgap PR, and leave user-specified values via `preferences.js` for a later implementation?

[2022-06-06 12:55] thadguidry opened #4930 "Java version messaging to users is inconsistent between Windows and Linux 'refine' scripts"
If a user has set their `%JAVA_HOME%` env variable on Windows but the `%PATH%` variable has a different Java version for the runtime and is lower than the compiled class file version 55.0 (Java 11) then users will notice an error and failure during startup even though the Java version check was successful.

### To Reproduce
Steps to reproduce the behavior:
1. First, set `%JAVA_HOME%` to a path hav

[2022-06-06 14:42] antoine2711 commented on #4716
@the-star-sea: we now have a strong consensus about how to implement this features. Is it clear to you?

Regards, Antoine

[2022-06-06 15:34] D063520 opened #4931 "Log in / close buttons not visible when logging in in third party wikibase"
### To Reproduce
Steps to reproduce the behavior:
1. Take the current snapshot release (I took for mac)
2. Make a project to upload data to a third party wikibase
3. Upload edits when not logged in

### Current Results
<img width="1728" alt="Screenshot 2022-06-06 at 17 29 52" src="https://user-images.githubusercontent.com/10883585/172193769-9b5be487-9814-4a1b-b546-eaf448db99f0.png">

### Expected

[2022-06-06 15:47] the-star-sea commented on #4716
Yes, I am clear now.But these days I have 5 final exams coming soon to prepare.I will do it later.

[2022-06-06 19:27] wetneb commented on #4931
I think the intention was only to hide a message inviting users to log in with OAuth. In the meantime the buttons have changed location and have ended up in this area, so they are unintentionally hidden. Thank you for reporting it, we should be able to fix it before the next 3.6 release! In the meantime I suspect 3.5 should not have this bug.

[2022-06-06 20:10] D063520 commented on #4931
I had another problem somehow with 3.5. but I have a local fix for this, so it is fine : )

[2022-06-06 22:35] antoine2711 commented on #4716
No rush @the-star-sea. I just wanted to make sure you were confortable with the discussions and that you had what you needed to go forward. Good examens to you!

Regards, Antoine

[2022-06-07 06:05] wetneb commented on #3241
I have made quite some progress in this direction, by scripting the release process in a Github action and in the Maven configuration. What is currently left is:
* setting release version string
* tagging release in git
* creating Github release
* uploading artifacts from Maven Central to the Github release

It is already much better than before in my opinion, but still not perfect!

[2022-06-07 06:07] wetneb commented on #4516
Duplicate of  #4865

[2022-06-07 06:07] #4516 closed

[2022-06-07 06:08] wetneb commented on #3095
This has been solved now that we are not using Github Releases to publish our snapshot releases, but Maven Central instead.

[2022-06-07 06:08] #3095 closed

[2022-06-07 06:09] wetneb commented on #2462
All the tasks in this issue are solved now that we migrated to using the Maven Central Snapshot Repository instead of automatically generated Github releases to publish our snapshots.

[2022-06-07 06:09] #2462 closed

[2022-06-07 06:11] wetneb commented on #2311
I have introduced Javadoc generation step as it was required to get our packages published on Maven Central.
We currently have quite a lot of errors when generating Javadocs, which I have temporarily ignored. So one important task would be to go through these errors and fix them, so that the generation of Javadocs completes without error.

[2022-06-07 06:16] wetneb commented on #1445
This issue is a mixture of multiple feature requests, so I would like to close it and encourage people to open one issue per package repository they want OpenRefine to appear in.

Also, we now have an `openrefine` Debian package, which landed in Debian testing a few months ago:
https://packages.debian.org/bookworm/openrefine

Packaging OpenRefine for other repositories is still very welcome!

[2022-06-07 06:16] #1445 closed

[2022-06-07 06:18] wetneb commented on #2254
The first upload in Maven Central of our core Maven artifacts succeeded:
https://search.maven.org/search?q=openrefine

[2022-06-07 13:24] jquartel opened #4935 "Extend type conversion functions to work with arrays"
I often need to turn an array of number strings into an array of numbers in order to do further math functions, and for this I need to use a forEach expression to convert each one. It would be really convenient (and logical, I think) if the functions `toNumber()` and `toString()` could be extended/overloaded such that they may operate elementwise on arrays.

For example, we might currently have

[2022-06-07 14:02] thadguidry commented on #4935
What error messages would you expect if any of the elements fail to convert? Would the index be useful to mention in the case of long arrays?  What else would be useful?

[2022-06-07 14:10] ostephens commented on #4935
I definitely see the convenience, but not entirely sure I see the logic - it's asking for an implied "forEach" which seems slightly counter-intuitive (or at least, making the transformation less explicit) to me.

If we were to do this for these two functions it could be argued that any function that takes a non-array object as it's first argument could be applied to an array in the same way - alwa

[2022-06-07 14:19] ostephens commented on #4935
I think I'd be more relaxed about an additional control that took an array and then a list of arguments:
`eachToString(array, format)`
`eachToNumber(array)`
`eachToDate(array, boolean monthFirst, string format1, string format2, ...)`

or possibly

`eachToType(array, type, <list of zero to many arguments for type conversion>)`

although I could see validating a more generic control like this gettin

[2022-06-07 14:24] thadguidry commented on #4935
- Agree with @ostephens but the reason I asked some questions is that I see the use case and wanted to understand more of the expectations.  In doing so we can probably come up with a dedicated new GREL function if we eventually have consensus.  For instance, 'eachToString' and 'eachToNumber' as convenience functions. Or type driven, 'arrayToString' and 'arrayToNumber' which might lend itself bett

[2022-06-07 14:34] jquartel commented on #4935
I see join() does an implicit toString to the array elements, but in order to format each one, you still need to use toString with the optional format string. Perhaps it's worth proposing that join can have an optional third argument which is a format string. e.g. join(a, ":", "%02d"). For my use case, this would obviate the need for an eachToString function.

[2022-06-07 14:38] ostephens commented on #4935
That's not ideal! I'm trying to work out where the behaviour of `toString()` on an array comes from.

[2022-06-07 14:43] jquartel commented on #4935
Similarly, if split() could be told to convert the tokens to numbers, then this would also suit my common use cases. Maybe a splitToNumbers() function?

[2022-06-07 14:43] ostephens commented on #4935
The behaviour of arrays with `toString()` was as a result of #2040 which was added in OR 3.4 - unfortunately the documentation wasn't updated as part of that work

[2022-06-08 15:01] #4931 closed

[2022-06-08 15:51] wetneb opened #4943 "Advertise Debian / Ubuntu package in our docs"
Our documentation does not mention yet that users of Debian derivatives (such as Ubuntu) can install OpenRefine with APT (`apt install openrefine`). This is much more convenient than downloading the archive, so it ought to be documented!

https://packages.debian.org/bookworm/openrefine
https://launchpad.net/ubuntu/+source/openrefine/3.5.2-1

[2022-06-09 07:07] wetneb opened #4946 "CSV/TSV parses mentions non-configurable escape character in parsing options UI"
Asked [on the mailing list](https://groups.google.com/g/openrefine/c/Ahqki81waeg/m/LeHiC3BbAwAJ):

### To Reproduce
Steps to reproduce the behavior:
1. First, open a TSV/CSV file with OpenRefine
2. Observe the parsing options UI

### Current Results

The advertised escape character does not seem to work, for instance when parsing:
[code]
I get
| a | b | Column 1 |
|---|---|---- |
|c | d\ | e |

##

[2022-06-09 09:13] #4847 closed

[2022-06-09 11:34] thadguidry commented on #4946
Curious!  The original label for it was `or-import-escape` and it does indeed look like that in OpenRefine 2.7

[2022-06-09 23:35] elebitzero commented on #4946
The parsing of escape characters in CSV data is disabled. It looks like there was a plan to add a setting to turn it on/off, but it was never implemented.

If I change (char) 0 to (char) 92 (Backslash \) ,  then your example works and the double quote " is escaped.

![image](https://user-images.githubusercontent.com/42903164/172962071-10fe59bf-31f1-410b-8cc3-5bd4b5117a67.png)

[2022-06-10 00:30] thadguidry commented on #4946
@wetneb Ah, @tfmorris did that it seems 9 years ago with the changes from OpenCSV in https://github.com/OpenRefine/OpenRefine/commit/579d71b7eb0162859034601da5a81dfab23aba9a

[2022-06-10 02:23] antoine2711 commented on #1212
@WaltonG : you asked me in a email how to incoporate <iframe> tags. Here's an example:
![image](https://user-images.githubusercontent.com/12217525/172977483-539fdb3d-2f59-42cf-b1f4-dcdc9e0ba9cd.png)

This is the HTML code, that only works if the WD Query GUI is running…

`<iframe src="http://127.0.0.1:8080/examples/editor.html" height="308px" width="1292px"></iframe>`

Regards, Antoine

[2022-06-10 21:09] v1scal commented on #3373
Hi, Could I work on this?

[2022-06-11 03:02] wetneb commented on #3373
Sure! Because this is quite open ended i would recommend to first discuss how you want to implementiert this. I am not so sure about making the name editable since it is automatically derived from the service. Perhaps displaying the URL would be enough?

[2022-06-11 06:08] JanC opened #4952 "Project not saved after creation"
Hi,
I noticed a behaviour where a freshly created project is not saved.

### To Reproduce
Steps to reproduce the behavior:
- Start OpenRefine
- Create a new project usign e.g. a [sample csv file addresses.csv](https://people.sc.fsu.edu/~jburkardt/data/csv/addresses.csv)
- Optionally modify the first entry of the data
- Stop OpenRefine by closing the terminal window
- Start OpenRefine again
- Selec

[2022-06-11 07:18] JanC commented on #4952
After debugging a bit, I noticed that the project's metadata are correctly created in memory of the `ProjectManager` class but they are not saved to file.

I wonder if a fix could be to simply save the project just after importing it here

https://github.com/OpenRefine/OpenRefine/blob/e3efd4ec270bfa07a2575efa6ece11b6e269d105/main/src/com/google/refine/importing/ImportingUtilities.java#L1047-L1051

[2022-06-11 14:02] v1scal commented on #3373
My idea was to add another icon before the delete icon where we could edit the URL like when we add a new service. With this approach and because I also implemented the re-fetching of the manifest when we start, I'm thinking if after the change we should also fetch the manifest or not, because it's gonna be done when we select it anyways.

[2022-06-11 14:41] wetneb commented on #3373
It is not clear to me why one would want to edit the URL without also updating the manifest at the same time.

[2022-06-12 12:10] v1scal commented on #3373
Hi, I managed to add an edit option on a reconciliation service, update the manifest, service menu and select the service after a successful change. Could you give me some feedback?

[2022-06-12 13:47] #4546 closed

[2022-06-15 09:13] #4930 closed

[2022-06-15 09:34] #4198 closed

[2022-06-15 09:47] #4890 closed

[2022-06-15 12:39] #4883 closed

[2022-06-16 08:43] jquartel commented on #4935
Given that #2040 only calls for an 'intuitive' alternative to a memory address, I should think that the elementwise operation on arrays is just as intuitive an option as making a joined string (and if you wanted to make a joined string, you'd more likely use join() ). At least, this is intuitive for me since I frequently work with heavily vector-based languages like Matlab (you may notice I have p

[2022-06-16 09:07] jquartel opened #4962 "Allow string format specification in join()"
As mentioned on #4935, I frequently need to split and rejoin numerical tuples, and it occurred to me that the join() function could easily do with a simple enhancement. I propose that it may be defined as

  join(a, sep, string format (optional))

where the optional third argument behaves, on each array element, exactly as the second argument to the toString() function. I think this is logical sin

[2022-06-16 09:37] jquartel commented on #4935
I quite like the eachTo.. idea of @ostephens , but perhaps we could make the semantics even more intuitive using plurals, i.e.

toStrings(), toNumbers(), toDates()

since it's implicit that an array is intented for multiple elements. So, for instance,

["1", "2"].toNumbers()

produces [1, 2] .

[2022-06-16 09:40] ostephens commented on #4935
I have to admit I disagree - the intuitive result of a 'toString()' operation for me is to return a string!

That seems like a reasonable suggestion and compromise to me!

[2022-06-16 18:28] ncarboni opened #4965 "Delete multiple projects at once"
My project list is quite large and deleting each project one by one is quite cumbersome (it requires confirmation for each project)

### Proposed solution

Implement the possibility to select multiple projects, click a button and delete them all.

Possible implementation could consider an edit button present in the project list than when clicked would:
1) allow the user the select using checkboxes

[2022-06-16 19:21] thadguidry commented on #4965
I guess we could additionally/alternatively make the folder names longer with a new naming strategy such as:
_projectName_projectId_

[2022-06-17 07:00] galleron opened #4967 "OpenRefine not opening any more"
I have installed the latest stable version of Open Refine on  my Mac (OS BigSur), and it is not working any more. I receive the error message I copy underneath. I have checked my Java, it is OK (8).
Same error with 3.4 and previous versions.
I have been using Open Refine since 2018, and on this same machine, I don't understand the problem.
Anybody can help?
Best regards,
Ioana Galleron
___________

[2022-06-17 07:02] ncarboni commented on #4965
@antoine2711 That was indeed my first attempt, but I am unable to run it on my local instance for some reasons: https://github.com/opencultureconsulting/openrefine-client/issues/22 (no problem on other server instances).

[2022-06-17 07:40] wetneb commented on #4967
It looks like you might have installed extensions which are not compatible with this version of OpenRefine.
Looking at the logs, one of the extensions uses the "org.json" library which has been removed since OpenRefine 3.2.
I would try removing those extensions and starting OpenRefine again.

[2022-06-17 09:23] CollectieDIVA opened #4968 "Wikidata reconciliation service unavailable"
Hi all,

I am currently reconciling data for a cultural institution using the Wikidata reconciliation service, but as of this morning there seems to be an issue. When I try to reconcile data, I get the following message in the pop-up window that normally fetches and displays the data:

_Service Unavailable

The server is temporarily unable to service your request due to maintenance downtime or cap

[2022-06-17 09:40] wetneb commented on #4968
Thanks for the notice! I have restarted the service and this seems to be solved.

[2022-06-17 09:40] #4968 closed

[2022-06-18 19:56] fabiolinus opened #4972 "Import Project and Language buttons are not visible"
Hi. I have this type of errors when I open chrome devloper tools. I use Win 10 but I can't see Import Project and Language buttons on the left. Is sounds very strange. Thanks for any help.

Uncaught TypeError: Cannot set properties of null (setting 'id')
    at Refine.OpenProjectUI._renderProjects (index-bundle.js:64956:18)
    at Object.success (index-bundle.js:64942:26)
    at fire (index-bundle

[2022-06-18 20:02] wetneb commented on #4972
Thanks for reporting this! It could be useful to have:
* a screenshot
* details of which extensions you have installed
* which operating system and browser you use

Thank you!

[2022-06-18 20:09] fabiolinus commented on #4972
Thanks a lot, Antonin.
1) screenshot in this mail2) No extensions installed3) Windows 10 and Chrome Versione 102.0.5005.115 (Build ufficiale) (a 64 bit). Both of them are updated.
    Il sabato 18 giugno 2022, 22:03:12 CEST, Antonin Delpeuch ***@***.***> ha scritto:

Thanks for reporting this! It could be useful to have:

   - a screenshot
   - details of which extensions you have installed
   - w

[2022-06-18 20:13] wetneb commented on #4972
We cannot see your screenshot, I think you need to post it directly on GitHub. Also, it would be useful to know which version of OpenRefine you are using.

[2022-06-18 20:17] fabiolinus commented on #4972
Hi and thanks a lot. Here is waht you wanted.
![Untitled](https://user-images.githubusercontent.com/33990409/174455841-8f9af73d-d1e6-4b92-a7c1-3fbbf3c0b135.png)

[2022-06-18 20:18] fabiolinus commented on #4972
Some buttons on the left are missing. I think that import project and Language are missing. Under the openrefine logo i see nothing.

[2022-06-18 20:19] wetneb commented on #4972
Thanks! Do you know which version of OpenRefine you installed?

[2022-06-18 20:20] fabiolinus commented on #4972
I use last version of openrefine OpenRefine 3.6-beta2 but It was the same with the last stable version (3.5.2?)

[2022-06-18 20:21] fabiolinus commented on #4972
Thanks a lot, Operefine is art!!!!!!!!

[2022-06-18 21:21] thadguidry commented on #4972
From the screen shot it appears that the Italian language has already been chosen, but it seems it might be causing a display issue for that particular language?
Puzzling, I cannot find that translated phrase `Nessun file selezionato` in our Italian translation file https://github.com/OpenRefine/OpenRefine/blob/master/main/webapp/modules/core/langs/translation-it.json

[2022-06-18 21:31] fabiolinus commented on #4972
Hi and thanks for your help. Really I can't help you. I downloaded this version and the last stable version but it is the same. I clicked on .exe file and I see that screeshot. It sounds really strange. I have no estenstions installed in openrefine and in google chrome. I reported chrome to the original settings too.
    Il sabato 18 giugno 2022, 23:21:38 CEST, Thad Guidry ***@***.***> ha scritto:

[2022-06-18 21:32] fabiolinus commented on #4972
I remember that (very) old version of openrefine showed me these buttons.
Fabio
    Il sabato 18 giugno 2022, 23:21:38 CEST, Thad Guidry ***@***.***> ha scritto:

From the screen shot it appears that the Italian language has already been chosen, but it seems it might be causing a display issue for that particular language?
Puzzling, I cannot find that translated phrase Nessun file selezionato in o

[2022-06-18 21:33] fabiolinus commented on #4972
Is that a problem with the italian keyboard? 
Fabio
    Il sabato 18 giugno 2022, 23:21:38 CEST, Thad Guidry ***@***.***> ha scritto:

From the screen shot it appears that the Italian language has already been chosen, but it seems it might be causing a display issue for that particular language?
Puzzling, I cannot find that translated phrase Nessun file selezionato in our Italian translation file

[2022-06-18 22:15] thadguidry commented on #4972
@fabiolinus Do the buttons appear if you use Firefox or Edge browser on your Windows 10 ?

[2022-06-19 05:03] wetneb commented on #4972
From what I can see it is a problem with a corrupted workspace: it looks like your projects have not been correctly saved. I would back up the workspace somewhere safe, delete the workspace and start OpenRefine again.

[2022-06-19 10:16] fabiolinus commented on #4972
[support.log](https://github.com/OpenRefine/OpenRefine/files/8935141/support.log)

Also did you download and are using our OpenRefine 3.6-beta2-**win-with-java** ? or just the **win** version?

I downloaded 'openrefine-3.6-beta2-win.zip' from GitHub (Java SE Development kit 15.0.1)

Thanks and sorry for delay

[2022-06-20 12:31] moamer-dev opened #4974 "RDFRefine - can't access imported ontology?"
I'm using OpenRefine v.3.5.2  and its extension "rdf-extension v.1.3.1". I'm trying to import ontologies like dbpedia and schema. When I add prefix and insert the URI, it gives me no problem. However, when i try to access its properties it says: 'Not in the imported vocabulary definition.' I tried ti upload the ontology.owl as a local file and the same issue still exist. Could you help with that?

[2022-06-21 23:16] elebitzero commented on #4972
I created a PR(#4976) that will skip null projects so the UI will load.  The null project IDs are printed on the console.

[2022-06-22 06:32] wetneb commented on #4972
@fabiolinus can you try to download [our snapshot release](https://github.com/OpenRefine/OpenRefine#snapshot-releases) and see if the problem persists on your side? (Please do not download it before 09:00 UTC today as @elebitzero's fix might not have made it there before that)

[2022-06-22 09:09] ostephens commented on #816
I can see that @elroykanye has done a PR for this, but I have to admit that I'm completely confused as to what we are trying to achieve here at this point.

The `toString()` GREL function already works with numbers (see https://docs.openrefine.org/manual/grelfunctions#tostringo-string-format-optional) using formatting syntax as per https://docs.oracle.com/javase/8/docs/api/java/util/Formatter.html

[2022-06-22 10:20] CollectieDIVA opened #4980 "Check that created Wikibase items have distinct (name,description) pairs"
Hi all,

I am creating new Wikidata entries for a museum via OR (version 3.5) using the Wikidata extension. However, I have had several instances where the edits do not perform from a certain point onwards. Strange but perhaps important detail: OR shows the edits as 78% complete, while in Wikidata I can see in my contributions that only about 30 of the 293 items of _Part 4 of the public domain upl

[2022-06-22 11:36] VojtechDostal commented on #3032
I confirm this is still the case.
Moreover, does it ever make sense to "override alliases"?

[2022-06-23 07:39] trnstlntk commented on #4980
@CollectieDIVA On Wikidata, the combination of label and description needs to be unique. I think that's why your upload stalls: you are trying to create many items with the exact same label and description.

You can address this by making sure each label is unique; I would advise you to add `(DIVA Pxxxx/x/xx)`at the end of each label for that, e.g. for your item on line 77 I would make sure it has

[2022-06-23 07:46] wetneb commented on #4980
I do not think we have such a check implemented yet - I think it would be a good idea to add one indeed!

[2022-06-23 08:49] trnstlntk commented on #4980
It would be very useful. Even I, as a very experienced OpenRefine user, creating new items in Wikidata regularly, still come across this issue all the time!

[2022-06-23 08:50] trnstlntk commented on #4980
Ideally, one should be able to create Wikidata items (and Wikibase items) with identical labels, as long as the description is then unique.

[2022-06-23 09:35] CollectieDIVA commented on #4980
Hi, thanks for your reply! As confirmed above, I did not get that warning message. I'll try again using your advice, but ideally, as you've mentioned, we would be able to upload identical labels, as long as the description or inventory number would be unique. But for now, I'll give your suggestion a try and give you a quick  heads up if it helps.

[2022-06-23 13:13] wetneb commented on #4962
That makes intuitive sense to me.

[2022-06-23 13:51] ostephens commented on #4962
Agree this seems intuitive in terms of writing the expression - but some questions and concerns:

- Is this changing 'join' to a control vs a function in the underlying code?  (I've not looked at how this works under the hood currently, and I'm not sure what would need to happen to get the conversion to string to follow a formatter.
- Do we support both date and number 'toString' formatting argume

[2022-06-23 17:33] trnstlntk opened #4985 "Feature request: "shortcut" menu item for new item creation against a chosen reconciliation service"
Idea from @lozanaross, endorsed by me, which we discussed in the context of Wikimedia Commons user testing sessions.

Creating new items via reconciliation services is a confusing process, as we regularly see in demos or user tests. People first have to reconcile non-existent entities (eg not yet existing Wikidata items or Wikimedia Commons filenames) against a reconciliation service, and then mar

[2022-06-23 19:59] wetneb commented on #1608
Closing in favour of #4985, a duplicate but more explicit issue.

[2022-06-23 21:14] fabiolinus commented on #4972
Ys, it works!!!!!!! Thanks a lot, Fabio

[2022-06-23 22:38] elroykanye commented on #297
I checked this out with files served using `python3 -m http.server 8000`.

The URLs worked well without any issues. I was able to upload both .zip and .tar.gz archives of the same file yielding these results:
1.
![Screenshot from 2022-06-23 23-33-33](https://user-images.githubusercontent.com/68631069/175426351-0e1f6d26-4f64-4ba0-961f-9f0a4f87ee71.png)

2.
![Screenshot from 2022-06-23 23-33-54](htt

[2022-06-24 06:48] fabiolinus commented on #4972
Thanks a lot and sorry for delay, I was at the hospital for a quick check. Snapshot will be beta version of openrefine? See you soon,
Fabio

    Il mercoledì 22 giugno 2022, 08:34:42 CEST, Antonin Delpeuch ***@***.***> ha scritto:

@fabiolinus can you try to download our snapshot release and see if the problem persists on your side? (Please do not download it before 09:00 UTC today as @elebitzero'

[2022-06-24 07:22] fabiolinus commented on #4972
I downloaded exe file without JAVA. Thanks a lot for your effort.

Fabio

[2022-06-24 10:05] fabiolinus commented on #4972
![Untitled](https://user-images.githubusercontent.com/33990409/175513420-bb6d7cb2-1aac-4b0f-87f1-fee762853097.png)

[2022-06-24 10:33] #4972 closed

[2022-06-25 10:46] trnstlntk opened #4988 "Longer property description not fully appearing in schema builder"
When searching for properties to build statements in the Wikibase extension's schema builder, longer property descriptions don't fully appear. Sometimes such descriptions are quite informative, and users can thus miss helpful info.

Example:
![image](https://user-images.githubusercontent.com/9881645/175770083-8483843f-b2ac-4c37-b389-3445f6d361f4.png)
I am quite curious what is said at the end of t

[2022-06-26 02:48] antoine2711 commented on #4962
It's currently an array function, so, on that part, I don't think we have to do something.

That is a very good question, since I beleive the format for numbers and dates is different. I could we control the result? Should we send an array of format, the first for numbers, the second for dates? I think this is important do be delt with before going forward.

I think if standardization is possible,

[2022-06-26 06:14] trnstlntk commented on #4829
This now works, so I will take the freedom to close this issue (or is there anything that still needs fixing or improving?).

[2022-06-26 06:14] #4829 closed

[2022-06-26 06:17] trnstlntk opened #4989 "Wikimedia Commons: make Wikitext editable/overwritable"
Relevant for OpenRefine 3.6+ in which Wikimedia Commons editing is possible.

In a previous meeting for the [Wikimedia Commons integration project](https://github.com/orgs/OpenRefine/projects/2/views/1), we discussed that it would be possible to make Wikitext of a file editable / overwritable. I then recommended to not enable this, mainly with the argument that I find it a bit scary (Wikitext is f

[2022-06-26 10:21] wetneb commented on #4829
The category name should ideally be configurable in the wikibase manifest, so my intention was to keep this open until then, but after all maybe this is not needed.

[2022-06-27 01:28] AtesComp opened #4990 "UTF Import Issues"
Importing a file for a project needs to identify the file's UTF type to correctly ingest contents.  JavaScript and Java process strings natively as UTF-16.  An ASCII file read will convert to UTF-16.  But, an otherwise ASCII file can also be interpreted as UTF-8.  If sprinkled UTF-8 characters exist (such as NBSP), the UTF-8 characters are apparently imported as raw binary characters.  When import

[2022-06-27 06:34] wetneb commented on #4990
Thanks! I think it would be useful to provide an example file for which this happens. I suspect this issue is specific to the Excel importer.

[2022-06-27 10:37] paulgirard opened #4993 "Wikidata reconciliation query/scores when multiple variable on same property and date precision"
I am not sure that is a bug or a question.
Above all because scores are computed on wikidata side but sill I am sure someone like @wetneb might have insights.

I'd like to understand how to precisely tune a reconciliation against wikidata using a rich data-set.
There are in this example two different reconciliation issue/questions:
- reconciling against property using multiple values (I am using f

[2022-06-27 12:09] wetneb commented on #4993
Thanks for your question! Moving it to https://github.com/wetneb/openrefine-wikibase/issues/141.

[2022-06-27 12:09] #4993 closed

[2022-06-27 12:11] paulgirard commented on #4993
Oh yes much better place for this.
Thanks

[2022-06-27 17:12] paulgirard commented on #3139
Here are a few usage I have on top of my head of such a system.

## candidates review/acceptance by iterative precision decrease
When you align your data to items you often have to deal with data discrepancy: data properties are not always known.
Moreover the data-set you align with also suffer from discrepancies but not on the same row/properties for more pleasure.
Having access to features scori

[2022-06-28 12:51] jquartel commented on #4962
Admittedly I wasn't thinking of dates when I proposed this feature, but with a bit of experimenting it does look like the behavior of join is exactly what you'd get if you joined an array of strings made by
`forEach(a, n, toString(n))`
where a is the array. So I think it would be logical for the behavior of the proposed join(a, sep, fmt) to be identical to (including errors)
`forEach(a, n, toStrin

[2022-06-28 13:38] ostephens commented on #4962
I don't want to overcomplicate this (honestly!) but just wanting to check we understand the proposed behaviour fully.

An array in OpenRefine can potentially contain a mixture of:
* Strings
* Numbers
* Dates
* Booleans
* Arrays

To take a completely artificial, but allowed in OpenRefine, example:
`[ "one", 1, [date 2001-01-01T00:00:00Z], true, [ "two", 2 ] ]`

You can generate this array and then

[2022-06-28 14:20] jquartel commented on #4962
All good points, and once again I've overlooked some types (sorry). But here is my opinion on those two questions:
1. Yes I think it behoves join() to treat elements that are arrays (which I can't imagine is common) in the same way that toString() does.
2. I did think about the implications of arrays of mixed types when I was composing this proposal, but while trying to imagine a use-case for usin

[2022-06-28 15:02] thadguidry commented on #4962
I think it's a common enough use case that a user wants to:
1. iterate over some elements in an Array
2. apply some formatting to each one of those elements
3. and finally join the elements with optional separator char(s)

While somewhat verbose with:
`forEach([1,2,3], n, toString(n, "%02d")).join(":")`

I do not think this is as descriptive, but it is much less verbose:
`[1,2,3].join(":", "%02d")

[2022-06-28 15:25] wetneb commented on #3192
I just checked the docs about this for Windows and they seem clear to me, so closing.

[2022-06-28 15:25] #3192 closed

[2022-06-28 17:51] wetneb opened #4994 "Extensions defining new importing controllers need to import theme.less from OpenRefine"
Some extensions define new "importing controllers" (for instance the gdata and database extension). This is the expected extension point when implementing an importing mechanism which loads data from other sources.

As part of this, extensions need to define parsing pages which look like the importer preview we have in OpenRefine.
For the styling of those parsing pages, both the gdata and database

[2022-06-29 01:18] WaltonG commented on #4994
@wetneb I copied the theme.less file which contains the below line and it works fine https://github.com/OpenRefine/OpenRefine/blob/5746951ec069549345eb368ea74a77c3fec9a912/extensions/database/module/styles/theme.less#L30

[2022-06-29 06:07] wetneb commented on #4994
It might work in your development settings but I suspect this is going to break as soon as users install it in their workspace, as documented here: https://docs.openrefine.org/manual/installing#find-the-right-place-to-install

[2022-06-29 07:03] WaltonG commented on #4994
Will definitely have to try that out

[2022-06-29 09:27] mark6969 opened #4998 "Open Refine opens with logo only when running on openjdk 11 on mac"
### To Reproduce
Steps to reproduce the behavior:
1. First, do ...
I executed the command
[code]
Without any errors.
<img width="1280" alt="圖片" src="https://user-images.githubusercontent.com/36353259/176400564-dd19399f-b712-4ef7-8a1e-fe7556d3e78b.png">

2. Then, ...
the browser only shows logo while accessing the service
<img width="1280" alt="圖片" src="https://user-images.githubusercontent.com/363

[2022-06-29 20:23] srappel opened #5001 "Timeline Facet too imprecise to capture exact date range"
### To Reproduce
Steps to reproduce the behavior:
1. First, create a timeline facet based on a date-formatted field
2. Then, slide the lower or upper bounds to the desired date/time to set the facet

### Current Results
It is unclear how the stop points of the sliders for the timeline facet are generated. Here's a sample of the dates and times I'm attempting to facet

I would like to facet my resu

[2022-06-29 22:24] thadguidry commented on #5001
I cannot reproduce this.  Are you sure that you used the menu over your date column and chose "Edit cells" -> "Common transforms" -> "to date" before attempting the timeline facet?

My timeline facet (Facet -> timeline facet) seems to work just fine and also appears differently than your screenshots.

![image](https://user-images.githubusercontent.com/986438/176555923-3335c363-589d-4b43-9194-49b56

[2022-06-30 03:51] #2435 closed

[2022-06-30 10:13] anchardo commented on #3359
Hi,

I was not able to edit/add data to my Wikibase instance with OpenRefine 3.5.2 & Manifest 1.0 and got this error message:
09:54:05.293 [..ting.EditBatchProcessor] MediaWiki error while editing [badtags]: The tag "openrefine-3.5" is not allowed to be manually applied. (324ms)

So, reading this issue, I've installed OR 3.6.2 and adapted my manifest to use the 2.0 template, but I still face the s

[2022-06-30 10:20] ostephens commented on #3359
As far as I know on Wikidata you would have to use a bot account (see https://docs.openrefine.org/manual/wikibase/overview#manage-wikidata-account) but I don't know if that would apply to all Wikibases or if it's just a Wikidata requirement

[2022-06-30 19:11] srappel commented on #5001
### Sample Data:
[sample_data.csv](https://github.com/OpenRefine/OpenRefine/files/9022661/sample_data.csv)

Here's a copy of all 3000+ records of dates. Notice that all of them have only dates and the time is T00:00:00Z.

![image](https://user-images.githubusercontent.com/12561339/176758636-7fa59acf-d8a4-424f-a417-295adf50edd1.png)

I'm still getting seemingly random upper and lower bounds on the

[2022-06-30 19:58] thadguidry commented on #5001
Ah, now I understand!  You want control over the binning size, and probably other controls also.
Yeah, there is only a default binning size (a cluster bar) which changes based on the data in the column and you cannot control that yet.
Sorry about that, but yes, this is a known issue already in https://github.com/OpenRefine/OpenRefine/issues/3248

In the meantime, you can create a custom Text facet

[2022-06-30 20:05] thadguidry commented on #5001
Another alternative... use `value.datePart()`  3 times with Add column based on... so you have a separate year, month, and day column to make custom text facets with boolean values and apply a single `if()` condition for only the part of each column as you need. (saving you from a large single custom grel over your 1 date column, you can have 3 smaller grel expressions.  up to you)

[2022-06-30 20:07] thadguidry commented on #5001
duplicate of #3248

[2022-06-30 20:08] thadguidry commented on #5001
duplicate of #3248

[2022-06-30 20:08] #5001 closed

[2022-06-30 20:47] srappel commented on #5001
I apologize. I searched around in the issues but didn't find this one.

Your example of a GREL facet to do what I need to do will be very helpful. Thank you! I tinkered around with it but struggled to get the syntax right for what I wanted to do. Your code will do exactly what I need.

[2022-07-01 04:22] #4998 closed

[2022-07-01 06:59] wetneb commented on #3359
I would say:
* either you have not created an `openrefine-3.6` tag on your Wikibase instance
* or when creating it you did not specify that it could be applied manually when making edits

[2022-07-01 11:13] j-norwood-young opened #5004 "SQL Exporter cannot export Boolean rows"
There is no BOOLEAN type in the SQL exporter. I understand it isn't part of the SQL standard, but it is common enough to support. Barring that, attempting to export a boolean value ("true" or "false" in OpenRefine) as a NUMERIC or  INT also fails with the message: `MESSAGE: | false is not compatible with column type :NUMERIC`. So you have to either transform all your boolean logic to 0 and 1, or e

[2022-07-01 12:50] fabiolinus commented on #4972
Hi. I'd like to ask to you. Consider to open two text facets in openrefine. Visible rows are the those which satisfied both facets (AND). Second facet depends from the first facet (order is important). For example male and females showed in the second facet are those selected from the first choice (first facet). OK, It is easy to understand. Suppose you choose a text facet, then a numeric facet. N

[2022-07-01 18:30] canastillo commented on #5004
Hi, I'm new to this project and would like to take this one

[2022-07-02 00:42] thadguidry commented on #5004
@j-norwood-young Hi, just a few questions:
1. so rather than transform the column in the data grid, you want to skip any faceting and data inspection for quality errors and go straight to exporting and there have a quick checkbox option in the SQL export that says "convert true/false to 1/0" ?
2. I am curious what your thoughts are for those users that might need "convert 1/0 to true/false" ?

I t

[2022-07-02 06:40] wetneb commented on #5004
hi Thad,

I understand your point but I think that given the architecture we have now, we should make sure we do not fail with an HTTP 400 error at export time, and the values should be coerced consistently to the declared datatype of the column.
This appears to have been an oversight that should be simple to solve.
Devising a new way to specify a SQL schema at export time is beyond the scope of t

[2022-07-02 13:16] thadguidry commented on #5004
I am Ok with the export failing...I think it's a good thing not to automatically change the value representations at export. But agree when it fails we should tell the user that some of their columns values need to be transformed before we can export as SQL.

[2022-07-02 18:24] trnstlntk opened #5007 ""Discover Wikibase manifests..." button"
OpenRefine 3.6 comes with a very handy new `Discover services...` button in the reconciliation dialog that helps people discover reconciliation services (clicking the button will bring folks to https://reconciliation-api.github.io/testbench/#/ which lists many of these services).
![image](https://user-images.githubusercontent.com/9881645/177012120-272ae874-416c-438d-ab2c-a406434477e6.png)

Similar

[2022-07-02 18:26] trnstlntk commented on #5007
I actually think this was an idea from @lozanaross - credit where credit is due 😇🥇

[2022-07-03 06:36] fabiolinus opened #5008 "Numeric facet"
Hi. Consider to open two text facets in openrefine. Second facet depends from the first facet (order is important). For example male and females showed in the second facet are those selected from the first choice (first facet). Suppose you choose a text facet, then a numeric facet. Numeric facet doesn't depend from the first facet. I think the numeric facet must change with the first facet. Thanks

[2022-07-03 11:37] trnstlntk commented on #3193
Going through old issues, I have stumbled upon this one and I think it would be really relevant for [Wikimedia Commons edits and uploads in OpenRefine](https://github.com/orgs/OpenRefine/projects/2) too, so adding it to the radar of [that project](https://github.com/orgs/OpenRefine/projects/2) as well.

[2022-07-03 11:40] trnstlntk commented on #3193
Just making folks aware of the existence of EditGroups would already be awesome. So I really like this.

[2022-07-03 12:00] trnstlntk opened #5009 "More UI improvements for Wikibase selection dialog"
In the (resolved) issue #3824, the Wikibase selection dialog window has been improved.

![image](https://user-images.githubusercontent.com/9881645/177038685-bbddaed1-35ec-4777-88cc-a7810bee2678.png)

@lozanaross and I have tested the "new style" window in v3.7 while observing people during Wikimedia Commons upload user tests, and we notice that its behavior is still confusing to folks, especially

[2022-07-03 12:41] thadguidry commented on #5008
There is no dependency.  What you are witnessing is simply 2 facets that show values from filtered rows.  Each facet can have a different filtering effect.  However, there is a precedence order, in that if you move a facet into the top location of the facets panel, then that first facet will apply a filter to rows, then with those remaining filtered rows, the 2nd facet further filters, then the 3r

[2022-07-03 12:50] thadguidry commented on #5009
@trnstlntk do you envision users wanting to have a favorites listing?  Would folks even use a feature like that?, i.e. do some often have a need to switch back and forth between instances?

[2022-07-03 13:46] antoine2711 commented on #5009
@thadguidry: I think it will be mandatory to use 2 services if someone wants to create Mxx items and Qxx items, as one require Wikidata and the other WikiCommons.

Regards, Antoine

[2022-07-03 16:50] trnstlntk commented on #5009
Wikimedia Commons editors and uploaders will switch back and forth between the Wikidata and Wikimedia Commons instances a lot. We also have some users who maintain multiple Wikibases and also interact with Wikidata, who switch back and forth a lot.

There will not be a need for favorites, I think - in most cases people will have 2-3 active Wikibases, and to me favorites make most sense if there wo

[2022-07-03 16:52] fabiolinus commented on #5008
Hi. Thanks for your effort, today is sunday! I made a GIF to clear my point of view. First I filter with a text facet, then I use a numeric facet. Data distributions changes with the first facet (see different levels of blue color). My dubt is that the scale remains the same (range 1-61). Why?

[data_numeric_facet.csv](https://github.com/OpenRefine/OpenRefine/files/9035173/data_numeric_facet.csv)

[2022-07-03 18:52] wetneb commented on #5007
Just a note about the text on the button: I would find it more appealing to have something like "Discover Wikibase instances…" or "Discover Wikibases…" because the manifest is just a rather technical thing.

[2022-07-03 18:54] wetneb commented on #5004
Then removing the "good first issue" label since there is disagreement about the way to solve this. Although I would welcome better validation of datatypes in this export, I think this requires much more design and the solution proposed above is a sensible fix.

[2022-07-03 18:56] wetneb commented on #5008
yes this is a valid point: the histogram is computed globally, on the entire dataset, whereas for a text facet the possible choices are computed only within the rows selected by the other facets. This is indeed a sort of inconsistency.
I did not design this, but I suspect that this was done to keep the bucketing of the numeric values independent from the facet options.

[2022-07-03 21:02] lozanaross commented on #5007
I vote for "Discover Wikibase instances..." for consistency with the title of the dialog, which is "Select Wikibase instance"

[2022-07-03 21:15] trnstlntk opened #5010 "Switching between Wikidata and Wikimedia Commons does not clear schema from Wikidata"
When working with a dataset that combines Wikidata and Wikimedia Commons editing, and when a schema has been created in Wikidata, a switch to Wikimedia Commons will not clear the Wikidata schema, but will keep the 'wrong' schema in place.

I noticed this with the Wikidata-Commons switch but have not tried this with other Wikibases. This issue may also occur there.

Screenshot, showing that there h

[2022-07-03 21:37] lozanaross commented on #5009
Thanks for highlighting this @trnstlntk. Two key elements lack in the current version - 1) a clear indication that you have selected something (instead of merely highlighting it via color) - hence the need for something like a radio button; and 2) a clear way to confirm your selection (currently "close" is confusing to users as they expect an "ok" type button). The new design proposal addresses th

[2022-07-04 05:08] wetneb opened #5011 "Dialog buttons in the Wikibase extension are misaligned"
We previously tried to ensure that all dialog buttons were consistently aligned to the right in dialogs. This is currently not the case for dialogs created by the Wikibase extension:
![image](https://user-images.githubusercontent.com/309908/177085118-008bb52f-443a-4cfc-86ce-3bfff6719607.png)
![image](https://user-images.githubusercontent.com/309908/177085080-7cf51a30-cc68-488e-9b9b-f5c0a72156f2.pn

[2022-07-04 08:06] j-norwood-young commented on #5004
@[thadguidry](https://github.com/thadguidry) Thanks for the questions.

In my use case, I had about 50 columns that had been converted into True/False. Export is the last step, so after a couple of hours of work spent transforming and inspecting the data, it feels like a huge let-down to get to the last step and discover that I can't export it in a useable format.

I'm not sure I understand this q

[2022-07-04 08:18] ostephens commented on #5004
Apologies for posting what is really tangential to the issue at hand - my comment here should not be taken as in favour or against doing the transformation at time of export. I just wanted to clarify, in case it saved you any time while we discuss and resolve the issue, that such a transformation could be done by using the "All" column dropdown menu "Transform" and using the GREL:
`if(value.type()

[2022-07-04 08:39] trnstlntk opened #5012 "(3.6) Add basic Wikimedia Commons editing documentation to OpenRefine's docs"
Write some basic info about the new Wikimedia Commons features (introduced in OpenRefine 3.6) in our [documentation](https://docs.openrefine.org/manual/wikibase/overview).

[2022-07-04 08:53] ostephens commented on #5004
I'm not sure it's fair to suggest that "we try to avoid transformations at export time".

Exports to tabular formats convert to strings - automatically if you choose the straight export and with some ability to control some conversions if you export with the 'custom tabular' options. Template exports allow you to include any transformations in the export template. The SQL Exporter already does con

[2022-07-04 08:56] ostephens commented on #5004
As an aside I feel sure that we've discussed the behaviour of general conversions on booleans previously (I seem to remember a suggestion that 'toString()' should result in a 1/0 instead of true/false but I can't find the discussion at the moment). I think I'd be in favour of toNumber() converting booleans to 1/0

[2022-07-04 09:23] Abbe98 commented on #4303
This likely requires upstream work as the reason why UploadWizard, Pattypan, etc does not handle this very well is that Wikimedia Commons does not report the progress of chunked uploads(T309094) and that it can take several hours for Commons to publish large files.

The option I have considered for Pattypan is to display a warning suggesting that one request server-side uploads or snail-mails a di

[2022-07-04 10:19] wetneb opened #5013 "Re-enable Coveralls in the CI"
Our submission of coverage info to Coveralls is broken, so I have disabled it.
It would be great to fix the underlying issue or migrate to another coverage info submission mechanism.
https://github.com/trautonen/coveralls-maven-plugin/issues/147

[2022-07-04 10:23] wetneb commented on #5013
Commits which disable coveralls:
* https://github.com/OpenRefine/OpenRefine/commit/bfa8c9af756c5efe570b653067811eadd57bd12d
* https://github.com/OpenRefine/OpenRefine/commit/7ec03039db028d52adeac7e8d6b650a919e26005

[2022-07-04 10:33] #816 closed

[2022-07-04 10:45] Abbe98 opened #5014 "Expose available import formats in the API"
OpenRefine support for various import formats depends on both the OR version used and the extensions in use. Extensions register the supported formats with the `registerFormat` method, however, there is no way for API clients to retrieve these formats, and clients are left to either hardcode formats or guessing.

### Proposed solution

Expose the available formats through the API.

Possibly `GET /

[2022-07-04 10:53] wetneb commented on #5014
Hey @Abbe98, thanks for this request!

So far, our backend API has been built just for the frontend, without any intention that it used by other clients. While we are of course not trying to prevent people from using it in other ways, there are no stability guarantees about this API and it is quite poorly documented. The fact that this API is private is something @tfmorris has been quite adamant a

[2022-07-04 11:45] #4864 closed

[2022-07-04 13:15] Abbe98 commented on #5014
@wetneb I have a custom OpenRefine frontend (built on top of these APIs) that I want to open source. This is the one thing that is hardcoded for my set of extensions and it would be neat if it could be API-driven.

[2022-07-04 20:13] wetneb commented on #4943
@priyanshupardhi how is it going?

[2022-07-05 05:03] priyanshupardhi commented on #4943
Hey @wetneb I was just setting up developer environment,
reading contribution guide.

[2022-07-05 11:22] villanueval opened #5022 "Apply Operation History from JSON file"
Related to #4498, I would like to see a button to Apply Operation History by opening a JSON file instead of having to open the file separately. This would remove any need to copy-paste the contents of these files, and make it easier for users.

[2022-07-05 11:41] ostephens commented on #5022
What about this as an approach?

- "Import" button added to the Apply Operation History dialogue
- On clicking import, user prompted to upload file
- Once file is uploaded the content (assuming can be read correctly) is populated into the operation history window
- User can then click "Perform operations" as usual

[2022-07-05 11:49] villanueval commented on #5022
Yeah, I like this approach.

[2022-07-05 21:41] trnstlntk opened #5024 "Revamp / cleanup of OpenRefine's Wikibase documentation"
OpenRefine started off with Wikidata support, and is now also increasingly supporting arbitrary Wikibases and now also Wikimedia Commons (yay!)

This is great, but our [Wikibase documentation](https://docs.openrefine.org/manual/wikibase/overview) is still structured as a remnant of the old Wikidata-centric situation. Wikibase documentation has been added over time in various places, and in #5023 I

[2022-07-06 06:13] elebitzero commented on #5011
@wetneb , which version are you seeing this on?  I tried the local development server using the master branch, and I downloaded and installed OpenRefine-3.6-rc1-win-with-java.zip, and the buttons are right-aligned for me:

![image](https://user-images.githubusercontent.com/42903164/177481351-1bc03e65-ea76-42e4-8a5c-2ca885b6e82f.png)

[2022-07-06 06:48] elebitzero commented on #5009
I agree with the major points in the mockup: adding the radio button, not changing the order when changing selection, and not making the change until the user confirms.

@loazanaross, I can work on this if you are not picking it up now.

[2022-07-06 06:57] wetneb commented on #5011
Hmm, indeed! I did notice that on a fairly recent branch but now I cannot reproduce it on master. Sorry about the noise!

[2022-07-06 08:01] elebitzero commented on #5007
I can work on this tomorrow.

[2022-07-06 09:28] Abbe98 commented on #5014
Closing as #5025 would make this available with a `GET` request (turns out it was already available but only through `POST` requests).

[2022-07-06 09:28] #5014 closed

[2022-07-06 10:08] Abbe98 opened #5027 "Make it possible to Import IIIF collections"
IIIF and the IIIF Presentation API are used by many GLAM institutions and the ability to import records IIIF Collections would greatly reusers who wish to clean GLAM data or users of the Commons extension.

### Proposed solution
Given the collection root URL, an importer would traverse its content and fetch data from the various IIIF manifests in it.

### Additional context
 - https://iiif.io/api/

[2022-07-06 10:22] Abbe98 commented on #4276
@thadguidry Wikimedia Commons only supports an (undocumented) subset TIFF files.

[2022-07-06 10:26] ostephens commented on #5027
Thanks @Abbe98 this sounds like a really interesting use case. I can definitely see how we might have some specific tools/functions to support IIIF but I'm less sure what these might look like in reality.

Working from the start, could you say a bit more about how you'd see this working? For example the example collection you have posted, contains a set of further collections, which contain a mixt

[2022-07-06 16:53] wetneb commented on #2144
Let's close this because this because we already have support both for editing existing files and uploading new ones. We can open other issues for improvements over this existing integration.

[2022-07-06 16:53] #2144 closed

[2022-07-06 18:12] trnstlntk commented on #2144
OMG what a milestone!!!! 💃

[2022-07-06 21:09] lozanaross commented on #5009
@elebitzero - that would be great, if you have capacity to implement these changes please go ahead!

[2022-07-07 07:18] wetneb opened #5032 "New interface to display Wikibase editing results"
We need an additional interface to display the outcome of uploading edits to a Wikibase instance. This is necessary for:
* Displaying a link to the editgroups page (or user contributions): https://github.com/OpenRefine/OpenRefine/issues/4751
* Displaying editing errors which could not be forecast earlier: https://github.com/OpenRefine/OpenRefine/issues/1782. Those errors are currently reported in

[2022-07-07 08:01] wetneb opened #5033 "Provide facets to locate rows which generate certain quality assurance issues in the Wikibase extension"
In the "Issues" tab, we report issues about Wikibase edits generated by the project grid and the schema. We give some examples of the values which generate the issues, but it would be much more convenient if users could simply get a facet which selects which rows generate each issue.

Not every issue can be tracked to a single row: for instance, the addition of two different identifier values on a

[2022-07-07 08:10] wetneb commented on #4472
@multichill do you know if it is possible to ask MediaWiki to do this check server-side, at upload time? By this I mean refuse the upload if its hash duplicates another file. It seems to me that by setting `ignorewarnings=0` (which we currently do) we should be safe, no? See https://www.mediawiki.org/wiki/API:Upload#Upload_warnings where duplicate files are mentioned as a possible warning.

Otherw

[2022-07-07 09:23] Ambrosiani commented on #4989
looking forward to trying this – also want to add +1 for editing categories separately from the other wikitext.

[2022-07-07 10:23] ostephens opened #5034 "Excel Worksheet name not included with filename when "Store file source" option checked"
When importing Excel worksheets previously (pre 3.5.0) if the "Store file source" option was checked both the filename and worksheet name were used to populate the "File" column. From 3.5.0 onwards only the filename is used.

The previous behaviour was the correct behaviour and should be restored.

### To Reproduce

Steps to reproduce the behavior:

1. Choose "Create Project"
2. Select "This compu

[2022-07-07 10:31] ostephens commented on #5033
This feels like it could be a useful pattern in other circumstances where it makes sense to validate a row to a schema or otherwise do quality checks on a row.

Do you think there is any way in which this could be implemented in an extensible way that could potentially then be used by multiple extensions, rather than simply a set of custom GREL/Facets in the Wikibase extension?

[2022-07-07 11:56] wetneb opened #5035 "Wikibase manifest format does not allow for local reconciliation endpoint"
For testing purposes I have created a Wikibase manifest for [EDTF Wikibase](https://edtf.wikibase.wiki/wiki/), a test Wikibase instance which demonstrates the EDTF datatype.

As part of this I have written the following Wikibase manifest:
[code]

### Current Results

This manifest is currently not accepted by the UI, seemingly because the reconciliation endpoint is not recognized as a valid URL.
I

[2022-07-07 12:17] wetneb commented on #5033
Yes, I think we could go in that direction, but that would probably require first having a generic notion of quality assurance issues. This is something that would totally make sense and I thought we already had an issue about it, but I cannot find it at the moment.

[2022-07-07 13:16] wetneb commented on #3241
I am satisfied with the current process for now, so unassigning myself.

[2022-07-07 14:54] wetneb opened #5037 "Implement expensive Wikibase QA checks only triggered before upload"
The Wikibase extension comes with some quality assurance checks, which validate the candidate edits against some constraints, to warn the user of potential issues in the edits.

The checks implemented so far are designed to run quickly, so that we can update the issues tab in real time, as the user transforms their dataset and filters it to display a specific subset of rows.

Sometimes it would be

[2022-07-07 14:54] wetneb opened #5038 "Drop the requirement for reconciliation when uploading new files to Commons"
@trnstlntk asked if it would possible to drop the requirement to mark a column as reconciled to "new" before uploading new files to Wikimedia Commons.

### Proposed solution

Remove the "subject" field of MediaInfo schema objects, and only use the filename field in place.
That means the user will not check that the filenames they provide do not exist yet on the instance. We need to decide what hap

[2022-07-07 15:09] wetneb opened #5039 "Add support for uploading local media files on third-party Wikibases without structured data"
OpenRefine should be able to upload files to Wikibase instances which are their own media repository. By this, I mean that the media files which can be referenced in Wikibase statements are stored in the same MediaWiki instance as the Wikibase itself.

In such instances, the media files typically do not have structured data associated with them, as that data can already be represented in the item

[2022-07-07 16:41] lozanaross commented on #4989
The latest version of the wireframes actually already proposes a UI for that, but indeed best to discuss in a separate issue as that design also needs some more updating.

[2022-07-07 16:49] lozanaross commented on #5039
This all makes sense to me.

Yes, I don't see the need to reconcile these files, since no structured data will be attached to them. We may just have to think about dealing with file names that may be repeating existing file names in the Wiki (i.e. what happens if we attempt to upload a file with a name that already exists in the wiki - an issue notification is generated & upload cannot proceed? fi

[2022-07-08 05:33] elroykanye commented on #2443
I am Elroy Kanye from Cameroon, an intern for OpenRefine at Outreachy Internships in May 2022. For this course of Outreachy, I will be working on this issue.

https://groups.google.com/g/openrefine/c/b0p827Ee-0M/m/h0wu5qBBBAAJ

One of my tasks with Antonin was to identify those parts of OpenRefine which need a translation. This needed me to work with OpenRefine from a user's perspective. However,

[2022-07-08 06:17] #4988 closed

[2022-07-08 06:19] #5007 closed

[2022-07-08 07:27] b2m commented on #4402
As I am now receiving more reports from colleagues regarding this issue I am adding some context to enhance the visibility in the search and add some mitigation strategies. Colleagues are reporting that they suddenly receive an `HTTP ERROR 500 java.lang.OutOfMemoryError: Java heap space` immediately after starting OpenRefine.

The natural reaction is to enhance the `max memory heap size` in `openr

[2022-07-08 09:12] Ambrosiani opened #5041 "Check for duplicate files on Wikimedia Commons"
It might be interesting to check for duplicate files somewhere in the upload process or at least offering the possibility somewhere in OpenRefine.

Duplicate info for existing Commons files is available through the API: https://www.mediawiki.org/wiki/API:Duplicatefiles.

### Proposed solution

One possibility: check hash for duplicates in the "Issues" tab before uploading.

### Alternatives consid

[2022-07-08 14:02] wetneb commented on #5027
I would intuitively keep this issue in the CommonsExtension repository unless there are things OpenRefine's side that need to be changed for such an importer to be implemented there.

[2022-07-08 14:24] wetneb opened #5043 "Ability to save "schema templates": schemas where some values are left empty"
Wikibase communities generally establish some data modelling conventions, which users are asked to follow when importing data.
For instance, a book on Wikidata will generally have a certain set of statements on it (title, author, date of publication…).

When importing data in a Wikibase instance, users need to have the knowledge of those modelling conventions. If they do not have this knowledge, a

[2022-07-08 17:54] fabiolinus opened #5046 "core/key-value-columnize operation. Is this a bug?"
Hi. I added a screenshot. It is an example of key-value-columnize operation. First row of the result show some empty cells. Is this a small bug? Thanks a lot for your effort in OpenRefine!

![gif1](https://user-images.githubusercontent.com/33990409/178044487-ed77a1b1-d14d-41a4-ab3f-e4c0a8921da2.gif)
[Data2.csv](https://github.com/OpenRefine/OpenRefine/files/9074164/Data2.csv)
.

[2022-07-08 18:42] Ainali opened #5048 "Start a Wikimedia Commons upload project with just a folder of files"
As an uploader of files to Wikimedia Commons, it would save me time if I could just provide a folder that contains all the files that I would like to work on that could be used to create a new project.

### Proposed solution
Add another option on the `Create project` menu (possibly as a second option under `This computer`) that asks the user to specify a directory on their computer. This should cr

[2022-07-08 18:59] wetneb commented on #5046
This looks normal to me. Have you had a look at the documentation for this operation? In particular here is a section which explains the behaviour you are observing: https://docs.openrefine.org/manual/transposing#row-order

[2022-07-08 21:14] antoine2711 commented on #5046
@fabiolinus: general information about OpenRefine: the first column is also the « record » column. For OpenRefine to understand that many rows are in the same record, those rows must have the cell of the first column empty. That tells OR that it's with the previous row in the same record.

It not directly relevent to your current case here, but keep in mind that if you change it to record-mode, th

[2022-07-09 04:55] fabiolinus commented on #5046
Hi. This is an example in the documentation online:

Name     | Galanthus nivalis
Color      | White
IUCN ID  | 162168
Name     | Narcissus cyclamineus
Color      | Yellow
IUCN ID  | 161899

First columns contains the same sequence (Name,Color,IUCN ID). This sequence will be transformed into a row by openrefine. How can I obtain the same starting point with my 'Data2.csv'? In other words data in t

[2022-07-09 04:59] wetneb commented on #5046
This is now really a question and not a bug report, so I would propose to close this issue and have this conversation on the mailing list instead.

[2022-07-09 04:59] #5046 closed

[2022-07-09 05:19] fabiolinus commented on #5046
You are right. Sorry again and thanks for your help.

[2022-07-09 09:19] trnstlntk commented on #5048
We indeed hope to develop this! Thank you so much for creating an issue for it 🙏

As I understood from @wetneb (feel free to correct/improve my interpretation) it's less straightforward than it seems: OpenRefine runs in the user's browser, and browsers have security-related limitations re: allowing users to load files from their local machine, especially when it involves going into subfolders (whi

[2022-07-09 20:17] trnstlntk commented on #5041
Thanks for reporting this; uploading duplicate files indeed needs to be avoided. We already had issue #4472, not sure if they are exactly the same and can be merged?

[2022-07-09 20:18] trnstlntk commented on #4472
Also reported in #5041

[2022-07-09 20:20] trnstlntk commented on #5041
I'm not sure if I understand this suggestion correctly? Looking for duplicates, to me, seems like a very different action than retrieving statement values via reconciled values, but it's quite possible that I'm just not seeing the light here :D

[2022-07-09 21:11] wetneb commented on #5041
We indeed already have #4472 for checking for duplicates at upload time.
For fetching the existing duplicates of an already uploaded file we could indeed add a property to the reconciliation service (as suggested by the screenshot). That would be implemented in the Commons reconciliation service, so I opened a ticket about that there: https://phabricator.wikimedia.org/T312703
I suggest we continue

[2022-07-09 21:11] #5041 closed

[2022-07-10 06:27] wetneb opened #5050 "Remove the need to click "add item"/"add media" when creating a new Wikibase schema"
When starting a new Wikibase schema on a project, the user first needs to click on "+ add item" (or "+ add media" for Wikimedia Commons) to model the edits they want to do:

![image](https://user-images.githubusercontent.com/309908/178133934-1c700aaa-2b7a-476f-9ee6-0f5040006698.png)

This is basically an action that is forced on them, so it feels like a useless click we should remove. They should

[2022-07-10 07:56] Ambrosiani commented on #4472
just to clarify: in the batch upload I did, OpenRefine 3.7 did upload a few duplicate files where the exact hash already existed on Commons. I.e. the `ignorewarnings=0` flag seems to not be enough to avoid duplicate uploads.

example file:

https://commons.wikimedia.org/wiki/File:Aspudden_Flygfoto._ArkDes_ARKM.1962-101-2192.jpg (batch uploaded)
https://commons.wikimedia.org/wiki/File:Aspuddens_sko

[2022-07-10 08:39] wetneb commented on #4472
Ah, it's my fault, because `ignorewarnings=0` is actually interpreted as `ignorewarnings=1` by the MediaWiki API.

So we should remove this parameter entirely and see if it does prevent the upload of exact duplicates.

[2022-07-10 08:51] wetneb opened #5051 "Unstable Cypress test for the sorting functionality"
We regularly have CI failures due some Cypress tests which test our sorting functionalities:
* https://github.com/OpenRefine/OpenRefine/runs/7269100211?check_suite_focus=true
* https://github.com/OpenRefine/OpenRefine/runs/7246541652?check_suite_focus=true

We should fix those tests or OpenRefine itself so that this does not happen.

[2022-07-10 10:49] lozanaross commented on #5050
Can we put a pause on this until I rework the wireframes? I believe the issue is a bit more complex than what's described above - that is if we want to keep behaviour across all kinds of Wikibases as consistent as possible..

[2022-07-10 19:09] lozanaross commented on #5038
I am not sure about this - it goes against the logic of how things work in Wikidata schema building. Arguably, Commons users don't care about Wikidata workflows, but if they want to create more sophisticated SDC, then they'll need to inevitable learn about Wikidata schema editing, too. I think solving #4985 should be the priority - after that some simple documentation, some "helptext" and a nice o

[2022-07-11 21:56] lozanaross commented on #4819
Picking up this thread with an updated version of the design that disregards the schema templates (for now - we can address this in a dedicated issue) and focuses just on Wikibase selection + introducing a tooltip text. The mockups are below:
![Changing WB instance](https://user-images.githubusercontent.com/25489750/178364547-a484d32e-2d50-4b5f-9265-664464e7d6ca.png)
![Changing WB instance w- tool

[2022-07-11 22:22] thadguidry commented on #4819
@lozanaross Just a quick side comment ... throughout that viz I notice something:
* interactive elements have border shading (3D) applied to them

Should the Tooltip icon also have slight shading since it is interactive? or not really "interactive" in that sense but merely "hover-able"?

[2022-07-12 03:02] wetneb commented on #4819
This is #4525

[2022-07-12 10:46] lozanaross commented on #4819
Good question - since it's only "hover-able" it's a bit in between a fully interactive element and a static graphic. I think it's a bit too small also to make it visibly shaded. My preference is to keep it flat for visual simplicity & since we are slowly moving towards different styles in line with more modern frameworks (e.g. #4957).

[2022-07-13 10:07] ostephens commented on #5027
Checking my understanding, if the user were to specify the root URL "https://lbiiif.riksarkivet.se/collection/kartor-och-ritningar" the importer would be required to retrieve the content of the "items" array found at that URL and then:
* If the Item has "type"=="Manifest" store the information in a row in a project
* If the Item has "type"=="Collection", use the URL in the Collection ID property a

[2022-07-13 10:49] Abbe98 commented on #5027
@ostephens yes. I guess one might want to implement some optional limits(max x number of levels, max u number of records, etc).

[2022-07-13 10:51] ostephens commented on #5027
Thanks @Abbe98. I'm not a IIIF expert, but I think it's allowed for collections to include items that are from anywhere online? So we could be ending up doing some extremely large-scale crawling here?

[2022-07-13 11:20] ostephens commented on #5027
@Abbe98 in the case of finding a manifest, how would you want the information in the manifest stored in an OpenRefine row? To take an example from your root we have the collection ID `https://lbiiif.riksarkivet.se/collection/arkiv/pZdxhTy01Y7BRBFEIaUwL4` which contains the manifest:
[code]
What would the row/record stored in OpenRefine look like in this case?

[2022-07-14 04:24] priyanshupardhi commented on #4943
![openrefine](https://user-images.githubusercontent.com/53074974/178897958-905ea7be-1ff3-4852-93d2-3b680420e8c6.png)

not able to install openrefine through "apt install openrefine" command
Error: unable to locate package openrefine.

[2022-07-14 07:25] wetneb commented on #4943
This is only available on some recent versions of Debian and Ubuntu: by following the links above, you should be able to find out which versions to support it.

[2022-07-15 12:41] lozanaross commented on #5048
@Ainali You might want to check out the workflows we sketched out a few months ago here (see last comment for Miro link and images): https://github.com/OpenRefine/CommonsExtension/issues/13

The proposal there is to have the option at an even higher level (before "create project") - what do you think about that vs the option to have it under 'create project'?

[2022-07-15 13:07] Ainali commented on #5048
@lozanaross  That's okay, but I wouldn't want to have to need to download a file just to have to upload it again. I created an image in that issue of my ideal workflow.

[2022-07-15 15:05] Ainali commented on #5048
That's correct, the spreadsheet that I don't want to use won't be of much use :smile:

OpenRefine has much better interface and possibilities to manipulate the data than any spreadsheet software I've encountered so far. That's why I'm suggesting that for people that wants to only use OpenRefine the downloading of the spreadsheet should be bypassed, but for those that wants it, it should be downloa

[2022-07-15 21:12] wetneb commented on #5048
I feel like this is indeed going towards a generic "file listing" importer, which just lists files in a directory (possibly recursively in subdirectories) without loading their content in the project (as specified in the issue). I can imagine it being useful to other user communities, so it could be in OpenRefine itself, I would say.
In the importing options I guess we could let the user select ad

[2022-07-15 22:27] antoine2711 commented on #5048
I'm not sure if it's been mentionned somewhere else, but I don't see it here.

For me, the file listing should be from either the **local client desktop**, or could be **from the server**. Even if most user have both, not having to copy the data thru the API most have an important incidence on the speed of the process.

Also, I think this importer should also enable columns with the **file size**,

[2022-07-16 07:09] wetneb commented on #5048
I do not see how we could offer a file listing on the client: I do not think the browser would let you do that. It probably requires uploading the files to the server in the first place.

[2022-07-16 16:12] fabiolinus commented on #5046
Hi. I have a simple dataset:
A B1 a2 b3 c
I'd like to obtain a csv file with tow columns: A (numeric) and B (string):
A, "B"1, "a"2, "b"3, "c"
I use Custom Tabular Exporter but it puts quote evertwhere or ad a lot of quotes to the elements of column B:
""a""
or
"""a"""
How can I obtain a simple schema like before? Thanks a lot,
Fabio

    Il sabato 9 luglio 2022 06:59:14 CEST, Antonin Delpeuch ***

[2022-07-16 16:12] fabiolinus commented on #5008
Hi. I have a simple dataset:
A B1 a2 b3 c
I'd like to obtain a csv file with tow columns: A (numeric) and B (string):
A, "B"1, "a"2, "b"3, "c"
I use Custom Tabular Exporter but it puts quote evertwhere or ad a lot of quotes to the elements of column B:
""a""
or
"""a"""
How can I obtain a simple schema like before? Thanks a lot,
Fabio

    Il domenica 3 luglio 2022 14:41:55 CEST, Thad Guidry ***@**

[2022-07-16 16:13] fabiolinus commented on #4972
Hi. I have a simple dataset:
A B1 a2 b3 c
I'd like to obtain a csv file with tow columns: A (numeric) and B (string):
A, "B"1, "a"2, "b"3, "c"
I use Custom Tabular Exporter but it puts quote evertwhere or ad a lot of quotes to the elements of column B:
""a""
or
"""a"""
How can I obtain a simple schema like before? Thanks a lot,
Fabio

    Il mercoledì 22 giugno 2022 01:17:15 CEST, elebitzero ***@*

[2022-07-16 16:13] fabiolinus commented on #5046
Hi. I have a simple dataset:
A B1 a2 b3 c
I'd like to obtain a csv file with tow columns: A (numeric) and B (string):
A, "B"1, "a"2, "b"3, "c"
I use Custom Tabular Exporter but it puts quote evertwhere or ad a lot of quotes to the elements of column B:
""a""
or
"""a"""
How can I obtain a simple schema like before? Thanks a lot,
Fabio

    Il venerdì 8 luglio 2022 23:14:33 CEST, Antoine Beaubien **

[2022-07-16 16:24] wetneb commented on #5046
Hi! Please ask the question on the mailing list, StackOverflow, or other help forums.

[2022-07-16 16:24] wetneb commented on #4972
Hi! Please ask the question on the mailing list, StackOverflow, or other help forums.

[2022-07-16 16:30] fabiolinus commented on #4972
Done. Thanks a lot,
Fabio
    Il sabato 16 luglio 2022 18:25:05 CEST, Antonin Delpeuch ***@***.***> ha scritto:

Hi! Please ask the question on the mailing list, StackOverflow, or other help forums.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-07-18 01:41] tfmorris commented on #2813
Folks seem to have settled on UAX29 as the preferred tokenization algorithm for both NLP & search, which makes sense since the Unicode Consortium should know what they're doing in this space.

It's implemented by this Lucene tokenizer https://lucene.apache.org/core/3_5_0/api/core/org/apache/lucene/analysis/standard/StandardTokenizerImpl.html

[2022-07-18 01:42] tfmorris commented on #557
All whitespace was a good idea in 2012, but in 2022 it would be insufficient. Closing this in favor of #2813.

[2022-07-18 01:58] tfmorris opened #5087 "Sample extension home page returns 500 TypeError, not a function"
When you visit http://127.0.0.1:3333/extension/sample/ as described at https://github.com/OpenRefine/OpenRefine/wiki/Sample-Extension, you get the following stack trace instead of the contents of `index.vt` as expected:

### Current Results

[code]

### Expected Behavior
Return a formatted template from `index.vt`

### Versions
 - Operating System: MacOS 11.6.2
 - Browser Version: Chrome Version 1

[2022-07-18 03:10] thadguidry commented on #2813
@tfmorris Agree Tom, and UAX29 can help considerably, but depending on the work a user is doing (If working with Latin based languages or not) then I think additionally, it would be good for OpenRefine users to have control over some of the boundary rules within it, for instance `Grapheme_Extend = Yes` and others like:

 Basically, the boundary rules will differ a bit depending on OpenRefine users

[2022-07-18 13:52] #4989 closed

[2022-07-18 20:09] trnstlntk opened #5089 "Wikitext overlaps file path (Wikimedia Commons schema preview)"
![image](https://user-images.githubusercontent.com/9881645/179607717-8ab3585f-0d77-47dc-9947-5d11b18f9e04.png)
See screenshot above - Wikitext is pushed to the far right and overlaps the file path when uploading files to Wikimedia Commons. Probably introduced since the new 'override Wikitext' feature; I haven't noticed this earlier.

### To Reproduce
Steps to reproduce the behavior:
1. Work on a W

[2022-07-19 07:35] #5087 closed

[2022-07-19 08:03] #3263 closed

[2022-07-19 08:21] #4924 closed

[2022-07-19 23:12] #5009 closed

[2022-07-20 06:48] #5089 closed

[2022-07-20 14:08] wetneb opened #5097 "Java linting not enforced on source files"
The linting of our Java source files seem to work only for our test files, not our main source files.
For instance, a lot of our source files have mixed tabs and spaces.

This seems to be due to the non-standard source directories we are using.

We should add those source directories in the POM files to make sure they are linted. This will require fixing the corresponding linting issues, and rebas

[2022-07-20 15:53] wetneb commented on #2874
I tried to reproduce this: on my side it takes 30ms. I am using an SSD so perhaps that makes a big difference for accessing multiple files? @elroykanye just tried with an HDD and got 50 ms. So I am not sure what makes it so slow on your side @tfmorris. If you could check if you can still reproduce this two years after, it would be awesome.

[2022-07-20 17:02] tfmorris commented on #2874
For a cold start (OpenRefine 3.5.2 standard release server running, but not used since yesterday), I see several load-language requests with latencies as follows:

4120 msec
1440 msec
 944 msec
1200 msec

Overall the page took almost a minute to load:
59 requests 2.2 MB transferred 2.2 MB resources Finish: 1.0 min DOMContentLoaded: 50.78 s Load: 58.19 s

A warm refresh of the screen produced `load

[2022-07-20 17:12] tfmorris commented on #2874
There are a couple of independent issues:
* All the calls are synchronous and many are serialized unnecessarily (I think there's a separate issue for this)
* There are multiple `load-language` calls (although it's probably one per extension, which makes sense from a modularity point of view and wouldn't be an issue if they were asynchronous)
* The individual calls are slow, which was the original

[2022-07-20 17:15] wetneb commented on #2874
Thanks a lot! I am surprised by the timings, they are indeed very long on your side although your machine is much better than mine in all respects. That's very curious!

Note that this issue is originally about the `get-languages` command (fired only once and only from the index page), not the `load-language` command (fired once per module, on the index and project pages).

[2022-07-20 17:19] thadguidry commented on #2874
Are the Java environments the same from both of you?

[2022-07-20 17:33] tfmorris commented on #2874
Oops! `get-languages?&name=module&value=core` latency was 4560 msec on cold start and 294 msec on refresh.

My JRE is whatever's bundled with the binary Mac distribution for OpenRefine.

It's possible that an anti-virus program or something else is adding latency, but making things lazy loaded and async would make that irrelevant.

[2022-07-22 04:40] abitrolly commented on #3224
Does https://community.chocolatey.org/packages/openrefine work?

[2022-07-22 09:02] abitrolly opened #5102 "FAQ: How much data can OpenRefine deal with?"
I'm always frustrated when OpenRefine can not deal with my data.

### Proposed solution

Based on thread called "Measuring scale/limits of OpenRefine" with 1853 views in https://groups.google.com/g/openrefine/c/-loChQe4CNg/m/eroRAq9_BwAJ?pli=1 add a FAQ item that answers where OpenRefine limits come from, what sacrifices are required to lift them, what efforts are being made in this direction, and

[2022-07-22 10:43] wetneb commented on #5102
Thanks for voicing this frustration!
Your suggestion of a blog post is a good one. Working on releasing 4.0, documenting and optimizing its performance is something I have been wanting to do for a long time. I have been unfortunately held back by other tasks. I hope to free myself from some of those to make space for that important work this autumn and winter.

[2022-07-22 17:03] regisrob commented on #3359
I tried to add new items from OpenRefine and faced exactly the same issue as @Nikerabbit (`MediaWiki error while editing [badtags]: The tag "openrefine-3.6" is not allowed to be manually applied`).
I am using OpenRefine 3.6-rc1.
I was not able to populate the Wikibase schema using OpenRefine 3.5 due to several errors (@wetneb I could file a separate issue for that).

I agree with the remark about

[2022-07-22 19:47] wetneb commented on #3359
Hi @regisrob, thanks a lot for this precious feedback!
Because this issue is already closed, your comment is unlikely to be acted on: it would be great if you could create an issue explaining why the current documentation is problematic (basically your last three paragraphs).

Of course if you feel like it you could even propose a pull request which edits the docs: at the bottom of each documentat

[2022-07-22 21:45] regisrob commented on #3359
Thx @wetneb, I could create an issue to report the problem I faced with OpenRefine 3.5 (if still relevant) and will do my best to propose a PR to edit the docs, at least a first draft 😉

[2022-07-23 13:56] thadguidry commented on #4414
@wetneb do we know yet how well our new 3.6 version works on MacOS for launching?

[2022-07-23 14:27] wetneb commented on #4414
I haven't tested it! But given quite a few MacOS users have already tested our snapshot releases for 3.7, and given that 3.6 is packaged in the same way, I would expect it to work well. So we can probably close this soon.

[2022-07-23 20:54] lozanaross commented on #5050
The reworked wireframes offer a solution that moves the "add item" / "add media" button to the left and makes it more prominent. Then the button(s) appear context-specific to Wikibase chosen. See screenshots below:

![Screenshot 2022-07-23 at 22 37 41](https://user-images.githubusercontent.com/25489750/180622077-a46f77e1-8584-4f7c-be2b-55591a9a2203.png)

![Screenshot 2022-07-23 at 20 36 44](https:

[2022-07-23 20:55] antoine2711 commented on #4414
Hum. I DO have a problem with the login to Google Sheets data…

![image](https://user-images.githubusercontent.com/12217525/180622346-6350b647-d768-484c-bc3e-58b51a2a1486.png)

But I don't believe it's a KEY issue from packaging. I was able to login a first time. I experience the same problem with v3.6rc1 and v3.6.

@thadguidry & @wetneb: to make things worth, henceforth v3.6, I think we have this

[2022-07-23 21:06] lozanaross commented on #4985
Two wireframe mockups are relevant to add here:
1) How to select the action to directly create new items (or media uploads) (without going through reconciliation process first, which is a pain point even when using Wikidata/Wikibase). To do this a slight reorganization in the order of action menu items is proposed, see below (the items are re-ordered because items below the line require reconcilia

[2022-07-23 21:39] lozanaross opened #5103 "UI for schema template selection and saving new templates"
This is a dedicated issue to discuss development of the UI around schema templates (see also #5043)

### Proposed solution
The proposed solution is to offer a schema template picker from a dropdown menu directly below a similar dropdown menu for selecting a Wikibase instance (see #4819)

The basic interface can look like this:
![Screenshot 2022-07-23 at 22 37 41](https://user-images.githubusercont

[2022-07-23 21:42] lozanaross commented on #5103
After a schema template is selected, it will populate the schema building interface like so:
![SDCWireframes_SchemaTab_InfoTemplateSelected](https://user-images.githubusercontent.com/25489750/180623721-ef272907-2344-4a2e-a5e7-ce1280649f03.png)

For complete wireframes (with development specs) check: https://xd.adobe.com/view/bb4e7d0a-39e6-4bcb-aeed-f6215cf509c6-ee1d/

[2022-07-23 21:56] lozanaross commented on #5103
One other point worth mentioning is the proposal to move the buttons that currently say "Save schema" and "Discard changes" to below the line of column headings, and to update the first button to say "Save schema progress". This proposal aims to make it easier for users to understand the difference between a schema template & the schema they are currently building at the moment, the latter is more

[2022-07-23 22:05] thadguidry commented on #5103
@lozanaross So the term "progress" is also interchangeable with "template"?  I.E. alternatively that button could say "Save schema template"?

We have two entity types if I understand the internal model correctly:
1. A schema (all values populated)
2. A schema template (where there could be no values)

So does "Save schema progress" refer to the entity of 1. or the entity of 2. ?  How would users

[2022-07-23 22:13] lozanaross commented on #5103
@thadguidry - it is tricky indeed:

"Save new..." button that is right next to schema template selector is the one that refers to entity 2. as per your description.

"Save schema progress" is the same button that in the current interface says "save schema" and is above the line of column headers - I am proposing to move that below further below on the page and to add word 'progress' to indicate th

[2022-07-23 22:23] lozanaross opened #5104 "Add small logo icons next to green reconciliation status bar to indicate data reconciliation source"
Currently users who work with both Wikidata and another Wikibase instance (e.g. a private Wikibase, or Wikimedia Commons) struggle to remember which columns in their OpenRefine project are reconciled to which service - especially if they work with large datasets. This becomes particularly problematic during schema building.

### Proposed solution
Introduce small logo icons next to the green bar th

[2022-07-23 22:34] wetneb commented on #5050
I think that is a nice idea, but it feels independent from this issue: does it not make sense to still, by default, add a new entity to the schema if there is a single entity type to chose from?

[2022-07-23 22:37] wetneb commented on #5103
For me it is counter-intuitive to use "progress" to mean "complete schema", since progress refers more to an intermediate state for me. I would just keep this button as "Save schema".

[2022-07-23 22:39] wetneb commented on #5104
Duplicate of #4824, no? If so, let's keep only one of them open (no preference which)

[2022-07-23 22:57] lozanaross commented on #5104
Oh yes, indeed, forgot that one was already made, let's keep the first one then. I'll close this one.

[2022-07-23 22:57] #5104 closed

[2022-07-23 23:26] thadguidry commented on #5103
Agree with @wetneb , so we would have 2 buttons that describe saving for the 2 entities.  "Save schema" and "Save schema template" somewhere

[2022-07-24 08:19] wetneb opened #5105 "Migrate calls to String::trim() to Guava's whitespace trimming"
<s>Java 11 introduced the `String::strip()` method, which strips whitespace around a string, including newer Unicode whitespace characters.
We currently use the `String::trim()` method in a number of places. In many of those places, the string being trimmed can legitimately contain any Unicode character, so `String::strip()` should be used instead.

Since OpenRefine now requires Java 11+, we can m

[2022-07-24 08:30] wetneb commented on #4414
@antoine2711 thanks for reporting, but it seems unrelated to this issue

[2022-07-24 14:42] antoine2711 opened #5107 "The login for the Google Data importer seems to be broken"
When using the Google Data importer, the login process works, but at the stage of displaying the documents, it keeps stalling.

### To Reproduce
Steps to reproduce the behavior:
1. Login into Google
2. Then, wait indefinitely.

### Current Results
It stalles.

But I don't believe it's a KEY issue from packaging. I was able to login a first time. I experience the same problem with v3.6rc1 and v3.6.

[2022-07-25 01:25] elebitzero commented on #5107
The Google login is fine. The problem is if there is document that has been updated 3-7 days ago or last month, the code in formatRelativeDate throws an error due to the undefined function Date.getDayOfYear.

This does not appear to be a regression since the code was there since 2011.

[2022-07-25 04:47] #5107 closed

[2022-07-25 05:46] #547 closed

[2022-07-25 08:52] RhydianLLGC opened #5111 "OpenRefine not showing projects in Open projects tab"
Hi, I tried to change the max memory of Openrefine so I could use a certain file (which wouldn't load before because it was too big).  I changed the openrefine.l4j.ini and changed it in there so it went to 4GB rather than 1GB which is the default.  After reloading OpenRefine all of the projects that were in there before are now gone and as you can see in the screenshot below nothing is showing up.

[2022-07-25 10:12] johnsamuelwrites commented on #5043
The proposal of “schema templates”, especially for the [Wikimedia Commons Integration project](https://meta.wikimedia.org/wiki/Grants:Project/CS%26S/Structured_Data_on_Wikimedia_Commons_functionalities_in_OpenRefine) is interesting. I understand the requirement where the users would propose “incomplete” schemas or “schemas with holes” suiting their particular or temporary requirements. We have a n

[2022-07-25 11:12] wetneb commented on #5043
Hi @johnsamuelwrites, thanks a lot for chiming in!

How would you overcome the hurdles I mentioned [on Wikidata](https://www.wikidata.org/wiki/Wikidata_talk:Schemas#Feedback_from_the_%22Entity_Schema_build-out_and_integration%22_task_of_WMDE's_development_plan,_and_OpenRefine)?

Of course, if the schemas simply consist of a list of properties that should be on a given entity, that is not very hard

[2022-07-25 13:18] johnsamuelwrites commented on #5043
Translation to RDF and simplification are two possible approaches (also covered in the above link). For the second, we tried to handle the problem of creating Shape Expressions by proposing some of the tools/language subsets posted above. However, I haven't tried the former. I have used this [tool for validation](https://shex-simple.toolforge.org/wikidata/packages/shex-webapp/doc/shex-simple.html?

[2022-07-25 13:35] wetneb commented on #5043
I think this highlights a misunderstanding. The set of formats that OpenRefine supports to create a new project has nothing to do with the format chosen to represent schema templates (just like currently, the format used to represent Wikibase schemas in OpenRefine has no relationship to the data import formats supported by OpenRefine).

Yes - I am not saying that ShEx does not support qualifiers o

[2022-07-25 20:33] lozanaross commented on #5103
OK, thanks for feedback @wetneb and @thadguidry - happy to keep it as it was - I was just trying to suggest somehow a bigger difference between the schema templates and schemas (the latter being also saved in the background as far as I understand whether the user presses the button or not). But agree that 'progress' is not the right word. If we come up with a better solution, we can always change

[2022-07-25 23:08] elebitzero commented on #5111
Hey @RhydianLLGC,

There was an issue (#4972) that was fixed in 3.6.0 where the project list would not load if there was a malformed project.  You could try version 3.6.0 and see if that resolves your issue.  Please report back if you try that.

Also, you may check the JavaScript developer console and see if there any exceptions. If you do, please post them on this issue.

[2022-07-25 23:47] AtesComp opened #5118 "Japanese Translation File Naming"
Japanese translation files erroneously use "jp" in the file name.  The "jp" designation is a country code.  They should use "ja" instead as this designation is the language code.

### To Reproduce
Steps to reproduce the behavior:
1. See the translation files for the main program and extensions.  For Japanese, they are "translation-**jp**.json".
2. Consult the Internet on language versus country co

[2022-07-25 23:54] AtesComp commented on #5111
Is **openrefine.l4j.ini** the Log4J config file?

Instead, edit the **refine.ini** file for Java memory management.

However, it is odd that changing the **openrefine.l4j.ini** would result in such behavior.

[2022-07-26 06:19] wetneb commented on #5103
This is probably worth documenting somewhere because I had not realized it was unclear before our discussion. Let me try to clarify this here. Currently, the schema is only saved when:
* the user presses the Save schema button
* the user exports its dataset to QuickStatements
* the user uploads its edits to Wikibase from OpenRefine
* (new in 3.7) the user creates a facet to select rows generating

[2022-07-26 09:12] wetneb commented on #5118
Agreed. This language code was introduced in bedb8c03bf7d1a80a6e978ff8dc10c5ff8a98384, before we used Weblate, and seems to be wrong indeed. We could rename this. Weblate would probably handle this just fine, but on OpenRefine's side I think it would be good to introduce a fallback mechanism to make sure that people using OpenRefine in japanese currently do not get an error when they upgrade. Mayb

[2022-07-26 10:15] isaomatsunami commented on #5118
Wow. The very first translator got off on the wrong foot! (I just wanted to use this phrase. Thanks AtesComp / Antonin!)

[2022-07-26 13:44] RhydianLLGC commented on #5111
Hi @elebitzero,
I have just updated to version 3.6.0 and changed the memory to 4GB again and the open projects bug is still there?

[2022-07-26 16:40] VladimirAlexiev commented on #5102
Important issue with useful links to existing info and current efforts.
I'd also add the Refine [on Spark](https://github.com/OpenRefine/OpenRefine/issues?q=is%3Aopen+is%3Aissue+label%3A%22on+Spark%22) issues.

[2022-07-26 17:25] AtesComp commented on #5118
Right! I noticed this when I had a translation submission to the RDF Transform extension using a "-ja.json" file.  I couldn't understand why it wasn't loading until I saw the "jp" files.

Could the load-language code report a warning that the current language wasn't found and show the expected 2 char language code and defaulting? Server side? It's a small corner case but could help in the debug pr

[2022-07-26 17:31] AtesComp commented on #5111
@RhydianLLGC,
Does it work when you update the refine.ini file?  Reset the openrefine.l4j.ini to the original settings.

[2022-07-26 17:42] VladimirAlexiev opened #5120 "[doc] docusaurus installation instructions missing"
https://docs.openrefine.org/technical-reference/contributing says

and then the commands are missing.

Maybe cite something from https://docusaurus.io/docs/installation and make a link to that page?

[2022-07-26 18:03] VladimirAlexiev opened #5122 "[doc] merge "column-groups" right after "rows-vs-records""
1. I didn't know about https://docs.openrefine.org/technical-reference/architecture#column-groups
1. It's an important complement (and actually more powerful than) https://docs.openrefine.org/manual/exploring#rows-vs-records
1. So IMHO "column-groups" should be moved from the "technical-reference" section (which normal users won't read) to the user "manual" section, right after "rows-vs-records"
1

[2022-07-26 18:22] VladimirAlexiev opened #5123 "Allow specifying project_id (but not replacing input files in project)"
https://docs.openrefine.org/technical-reference/openrefine-api has limited operations on projects: create (and upload inputs), apply operations, export data, delete.

We use OntoRefine to automate knowledge graph building pipelines (through https://github.com/Ontotext-AD/ontorefine-cli).
OntoRefine is based on OpenRefine, but adds an RDF mapping UI and a virtual SPARQL endpoint over OR data.
We ge

[2022-07-26 18:53] tfmorris commented on #5122
Column groups is a partially implemented, buggy, feature, so I'm not sure it makes sense to include in end user documentation.

[2022-07-26 19:26] wetneb commented on #5122
Thanks for opening this topic Vladimir!
I agree with Tom that this feature is not ready at all for prime time. In fact, in the 4.0 architecture, I have dropped it altogether, after discussion on the mailing list:
https://groups.google.com/g/openrefine/c/A8RhOwlulRs/m/NFR8LDBmBwAJ

That being said, representing hierarchical data is still an important topic, so coming up with a replacement would def

[2022-07-26 19:28] wetneb commented on #5120
I think the instructions are all there, it is just that they start after "You will need to install [Yarn](https://yarnpkg.com/getting-started/install) before you can build the site." Worth reformulating indeed!

[2022-07-26 19:31] wetneb commented on #5118
I think it is much simpler than that: you do not need any IP geolocation or mapping countries to languages. Most browsers simply expose the locale they prefer using the `Accept-Language` header, such as `Accept-Language: en-GB,en;q=0.5`.
I do not think we currently rely on this header to set the locale, but it would indeed be a sensible thing to do: it would be worth opening an issue for it, if we

[2022-07-26 22:48] antoine2711 commented on #5123
@VladimirAlexiev : have you tried the or-cli functionalities?
https://github.com/opencultureconsulting/openrefine-client

I think you could do you workflow with that. Create a project from an import, extract the Project_ID, adjust your query and executing it (this last part maybe not from OR, but still scripted).

Regards, Antoine

[2022-07-27 03:56] wetneb commented on #5103
Users do get a notification when it is triggered, using the usual yellow pill at the top of the screen. How could we improve that?

As far as I know this is unfortunately something we indeed have no control over. This message is defined by the browser and cannot be customized:
https://stackoverflow.com/a/40570214/985087

[2022-07-27 04:24] wetneb commented on #5123
Here, the usual caveat (mentioned at https://docs.openrefine.org/technical-reference/openrefine-api) applies: that this web API is considered internal, and may change independently of our semantic versioning. Because of that, I would be reluctant to introduce a feature in the API that is not used by our frontend.

Adding a command to upload more data in a project can be done (either in OpenRefine,

[2022-07-27 04:57] VladimirAlexiev commented on #5120
@wetneb I made a mistake in making a PR in my repo instead of this one. Can you take the PR from there, or should I "move" it here? (I'm not sure how to do that)

[2022-07-27 05:08] elebitzero commented on #5111
I am on Windows 10 as well, I downloaded OpenRefine 3.6.0, and changed the max memory from 1400M to 4096M in the refine.ini file:

# Maximum JVM heap (memory) and max form size allocations
#REFINE_MAX_FORM_CONTENT_SIZE=1048576
REFINE_MEMORY=4096M

It is running fine from the command line, and I see the project list in the UI:

[code]

Please note if there are any errors on the command line or the

[2022-07-27 05:11] VladimirAlexiev commented on #5123
@antoine2711 Thanks! We already do that with https://github.com/Ontotext-AD/ontorefine-cli (written in Java), see `we have to use this workflow for each data file` above.

@wetneb

Makes sense. Should I post a separate issue for it?
And what would be the savings compared to recreating a project from scratch?

Two concerns:
- permanence: Projects cannot be renamed, right? So the name is just as per

[2022-07-27 05:20] wetneb commented on #5123
It depends if you can frame it in a way that makes sense from the point of view of an OpenRefine user (in which case it makes sense to have a feature request here), or if it something really taylored to OntoRefine's use cases (in which case you could implement your own operation in OntoRefine).

Projects can be renamed (in the project page, click on the project name and it will prompt you for a ne

[2022-07-27 05:25] wetneb commented on #5120
I think you could just create a new one. This should be a good place to start:
https://github.com/OpenRefine/OpenRefine/compare/master...VladimirAlexiev:OpenRefine:VladimirAlexiev-issue-5120
although it shows more changes than this PR, perhaps because of the structure of your branches in your fork. If you create one branch per PR, branching off from master, this should avoid such issues.

[2022-07-27 05:41] AtesComp commented on #5118
Yes, it is simpler as you say.  I've looked at the code and adjusted as follows:

1. Readded the locale language on the client side via navigator.language || navigator.language[0].
2. Use the locale language on the server side as a "suggested" language that is replaced with the user preference if available.
3. Added a CORRECTOR for user preference "jp" to put a replacement "ja" user preference.
4.

[2022-07-27 06:01] VladimirAlexiev commented on #5123
I think the main purpose of having all these CLIs is that people use OR as part of automated ETL pipelines,
using two similar scenarios:
- develop the ETL script on one file, then run on 100
- develop the ETL script on 10% of a large file, then run it on all 100%

Either scenario needs the ability to replace the data within a project.
But before I post such feature request: what would be the savin

[2022-07-27 06:17] VladimirAlexiev commented on #5120
I know, that's the mistake I made: branched off from patch-4. will redo

[2022-07-27 06:20] wetneb commented on #5123
I am also interested by those scenarios but I do not think they require replacing the data within a project.

I cannot think of any performance benefits honestly! What would worry me the most with such an approach would be the loss of the architectural guarantees which come with the existing immutability of versions of a given project. But of course I might be misjudging what you are proposing.

O

[2022-07-27 06:40] elebitzero commented on #5118
@AtesComp,  I was looking at this too, and while I'm not making any of the changes you mentioned, I noticed that there are multiple copies of the i18n initialization code in project.js, index.js, and preference.js.  This is because the webapp controller.js has separate templates index.vt, preferences.vt, and project.vt for different pages.

I am issuing a PR to put this common code into a single s

[2022-07-27 08:12] AtesComp commented on #5118
Thanks @elebitzero,  I'll wait.  I had just reviewed that common i18n initialization code as well.  Searching on "command/core/load-language" hits 10 files.  I was setting them all to do at least:
[code]
Sometimes the initial `lang` variable was missing.  I believe @wetneb was suggesting adding it back to all the `data : {`.

[2022-07-27 08:23] eonm-abes commented on #5035
Hi all,

I'm facing the same bug.

I prefixed localhost with `www` as a workaround : ` "http://www.localhost:8000/${lang}/api"`.  But this workaround doesn't work with URL containing IP addresses like `http://192.168.1.31:8000/${lang}/api`.

__Environment__

OpenRefine 3.5, Linux and Windows, Firefox

[2022-07-27 13:43] thadguidry commented on #5123
Allowing an id to be chosen to create and identify a project by might be useful by a small group of users.  In OpenRefine we would have to add support for detecting an already used id and fail with warning. In the UI the workflow would have an intermediate step where Create Project also shows the id and allow change before Project is initiated.

Other APIs and services have to be rigid in unique i

[2022-07-27 19:32] mbch331 opened #5126 "NoSuchMethodError during Wikidata edits through upload"
While trying to add directors to movies, OpenRefine gets stuck on 45%. In my console I see an error:
[code]

[2022-07-27 19:36] wetneb commented on #5126
That's embarassing! May I ask you which version of OpenRefine you are running?

[2022-07-27 19:41] mbch331 commented on #5126
OpenRefine 3.6.0 [ff7de4d]
Platform: Windows (Downloaded the version including java)

[2022-07-28 09:12] VladimirAlexiev opened #5127 "[doc] algolia search doesn't find"
Try search (control-K) for "jython" while at https://docs.openrefine.org/manual/jythonclojure#jython:

![image](https://user-images.githubusercontent.com/536250/181468020-23f3b028-870d-4d4f-8df5-ab17ad3128d2.png)

The search config needs to be adjusted somehow, so eg "jython" can be found.

- There's a link "let us know" that goes to https://github.com/algolia/docsearch-configs/issues/new?template

[2022-07-28 09:25] ostephens commented on #5127
I think there is a more general issue with search not working currently - I'm not finding search results at all on https://docs.openrefine.org/ right now

[2022-07-28 13:50] ericprud commented on #5043
Suppose Alice and Bob both want to upload CSVs about [book editions](https://www.wikidata.org/wiki/EntitySchema:E36). To cover more use cases, let's say that there's a constraint on ps:P629 that requires a P407 edition name and constrains a P1365 replaces to be another work.

replaces	[P1365](https://www.wikidata.org/wiki/Property:P1365)

[code]
Bob.csv has a title and a publication date so he has

[2022-07-28 14:37] wetneb commented on #5127
Algolia hahd an outage thish morning, according to https://status.algolia.com/
![image](https://user-images.githubusercontent.com/309908/181557382-f6943628-b3ee-45e7-bc31-ee2e4ea6db62.png)

Perhaps they haven't fully recovered yet?

[2022-07-28 15:08] wetneb commented on #5043
Hi Eric, thanks for joining the discussion :)
Yes, this issue is solely about creating a data input UI (although we can definitely create more issues if you have other ideas).

We can absolutely grep through ShEx files. That is probably a cheap way to implement an import from ShEx files to our schema templates. But if we are just grepping through stuff, that means it can not be the native format w

[2022-07-29 08:04] VladimirAlexiev commented on #5127
Here's what Algolia returns:
[code]

[2022-07-29 08:34] #4472 closed

[2022-07-29 08:48] VladimirAlexiev commented on #5123
@wetneb

Producing the column model and other project metadata?
If that is done on 1k rows, and then a file of 10M rows is put in its stead, will that save any time?

It seems that "replace project data" is not a profitable idea: one more negative answer and I'll drop it.

--

Not documented at https://docs.openrefine.org/technical-reference/openrefine-api.
I traced what happens in "Open Project>A

[2022-07-29 09:12] #5097 closed

[2022-07-29 09:50] VladimirAlexiev commented on #5122
* If I shuffle columns, the column groups disappear.
* Discussion for a better hierarchical model: https://groups.google.com/g/openrefine/c/X9O8NBC1UKQ.

@ostephens

I thought the new OR 3.6 GREL function `parent` to "obtain the parent element of an XML element" may be related to this.
However, it works only for `jsoup`, see #4181.
So if I understand correctly it works on a XML string in a cell, n

[2022-07-29 10:51] wetneb commented on #5122
Sounds good to me, thanks for your doc edits :)

[2022-07-29 11:15] #5120 closed

[2022-07-29 11:46] ostephens commented on #5127
It looks like there were some changes to the Docusaurus/Algolia integration that came in earlier this year. Does anyone know if this migration was done? See https://docusaurus.io/blog/2021/11/21/algolia-docsearch-migration

[2022-07-29 13:02] thadguidry commented on #5122
Correct.  That new function is fir helping parse and filter in cell data, not for project modeling or column modeling.  I really needed it for web scraping data improvements and was the first immediate use case.

[2022-07-29 14:54] wetneb commented on #5127
Indeed we seem to have missed this. I have reached out to @allanaaa who signed us up for this as it looks like this is still under her account. I have also applied for another account using the advisory committee's email address to avoid this issue in the future.

[2022-07-29 19:11] wetneb commented on #5127
Looks like [bd2a819](https://github.com/OpenRefine/OpenRefine/commit/bd2a819606e36fe951960c2f5488e88dd11c8600) fixed it, but I will try to also gain access to the account.

[2022-07-29 19:11] #5127 closed

[2022-07-30 09:22] lozanaross commented on #5103
Ok, but it is very subtle - had to really look for it. For example in these scenarios:

- the user exports the dataset to QuickStatements >> Here at least on my mac chrome browser, I am forwarded to a new empty browser tab that starts the file download, so there is no chance for me to see the yellow notification pill.
- the user uploads edits to Wikibase from OpenRefine >> Here the notification is

[2022-07-30 09:45] lozanaross commented on #5050
Hm, maybe - but then it won't be consistent with current behaviour and with what will be needed for Wikibase. Also while it will save a click, it might then make it less obvious that you can also add more items and bundle a bunch of different changes to different items in one schema - i.e. having to click the button once is a 'learning experience' for users, too. I know it sounds basic, but there

[2022-07-30 10:07] lozanaross opened #5130 "Improve how to indicate the data source following data extension"
Currently a default OpenRefine-to-Wikibase workflow works well if users only reconcile data against a single service, e.g. Wikidata, and then proceed towards schema building and data upload with this single service. However, in reality - with the introduction of the possibility to reconcile against and upload data edits to any arbitrary Wikibase (and Wikimedia Commons, too) - users may wish to wor

[2022-07-30 13:00] wetneb commented on #5130
I can totally relate to the need as a user, I have found myself in that situation many times.

The main question is: how do we generate that prefix? Reconciliation services are not currently associated to any such prefix.
* Do we prompt the user for it, for instance in the data extension dialog? They will probably not bother giving a prefix there, because they probably do not realize that they nee

[2022-07-30 15:52] thadguidry commented on #5050
@wetneb you stated in original comment that

You mention we don't know what the user wants to do.  That is often the case in OpenRefine and its general mantra to present to the user what they can do...and then let them make the choices they need.  I think presenting all options based on context would work well; If there is a way to know when a Wikibase instance offers support of multiple types, th

[2022-07-30 15:56] thadguidry commented on #5130
In other tools, they typically have a 2nd or 3rd header (with a toggle to show or not) for context/metadata, instead of having a very long string shoved into 1 header row.

[2022-07-30 17:22] antoine2711 commented on #5130
@lozanaross : why not put just the icon of the service?

I would find it much better visually and conceptually. The name of the column is used in script. I don't want it to be constraint.

And if it's just for display, it will confuse users.

I feel this very strongly.

Regards, Antoine

[2022-07-30 22:32] lozanaross commented on #5130
@antoine2711 check issue #4824 - these are two separate problems. I also want to show logos but only when something is reconciled against a particular service - this may or may not overlap with the service where the data came from.

For example, I may pull data from Wikidata, then reconcile that same column that was generated via data extension against my private Wikibase in order to upload to my

[2022-07-30 22:35] lozanaross commented on #5130
@thadguidry I think this makes a lot of sense, but unfortunately doesn't help in the schema building interface, which is where these prefixes will really make a positive impact in terms of UX. The columns view (aka row / records view) is actually less of an issue because if you hover over the data you can get a sense where it came from (at least until further reconciliation takes place). We need a

[2022-07-30 22:46] lozanaross commented on #5130
I'd rather avoid putting the burden on the user here, although it may in the end prove to be the most feasible solution. If we go this route, we'll have to emphasize this step in tutorials / documentation, etc. There is one benefit here in the sense that the user will immediately uderstand what is going on. If a prefix appears automatically it might not be actually that meaningful to new users / u

[2022-07-30 23:26] antoine2711 commented on #5130
@lozanaross : this raises interesting questions. From my part, if I query data from a source, I will probably want to reload data from that source. And I will most probably push data to that source also, even if like you said, I could also push the same data to another Wikibase. So, from my point of view, I'd rather have 2 icons, than a prefix and an icon.

This question also raise the notion of l

[2022-07-31 09:52] lozanaross commented on #5130
I'm not sure I understand what you mean by "if I query data from a source, I will probably want to reload data from that source. And I will most probably push data to that source also" - what I've observed users doing during data extension is generally moving data across different services, so not keeping it in the same service. I think using 2 icons would be potentially confusing and difficult to

[2022-07-31 10:57] lozanaross opened #5287 "Update the UI for adding media in the schema builder"

[2022-07-31 11:05] lozanaross opened #5267 "Wikitext Builder UI"
This is a speculative design for a Wikitext Builder UI, which will support users in making it easier to compose Wikitext during media upload to Wikimedia Commons (as opposed to having it all ready in advance). The design was developed following the UX testing sessions carried out in June (see OpenRefine/CommonsExtension#28).

Note: This mockup relies on the utilising of minimal structured-data-dri

[2022-07-31 14:11] thadguidry commented on #5130
Does the source of data (__provenance__) need to be readily viewable?  As you suggested with a prefix always showing in column header.
Or can it be viewable upon a hover or click?  What's you feeling @lozanaross of users needing to always see the data source or do we not know yet until more user feedback?  My hunch is that we might want to have a way that it is always viewable for quick disambigua

[2022-07-31 14:49] wetneb commented on #5130
For now OpenRefine does not rely at all on this list of services (beyond linking to it in the UI) and I would rather avoid tying a feature to a centralized repository.

Indeed the Wikibase manifests mention the reconciliation service(s) they rely on. It is not clear to me why we would need more than that.

[2022-07-31 20:50] lozanaross commented on #5130
@thadguidry - actually this is a really great suggestion because it solves my UI struggles :)
Prefix is actually not ideal because: 1) it requires us to come up with some conventional way of generating the prefix (and as explained above by @wetneb there is no straightforward way to do that); 2) because although some users will figure it out immediately, others who are less of an LOD expert might n

[2022-08-01 08:23] wetneb commented on #5130
A tooltip would be fairly easy to implement. I guess it less discoverable, perhaps? In the schema editor, we do have some freedom in how we render the columns, so we could potentially also add a visual clue for all the columns that have been fetched from the reconciliation service associated with the currently selected Wikibase instance.

[2022-08-01 12:17] VladimirAlexiev commented on #5122
Closing as obsolete (dead end)

[2022-08-01 12:17] #5122 closed

[2022-08-01 18:29] mbch331 commented on #5126
Solved it by removing my webapp folder and copying it from the zipfile.
When upgrading I only copied the files from the zip to the OpenRefine folder, overwriting existing files, but not deleting existing files.

[2022-08-01 19:02] wetneb commented on #5126
Ah, thanks! Closing it then.

[2022-08-01 19:02] #5126 closed

[2022-08-01 19:45] #3082 closed

[2022-08-02 15:03] seb-29 opened #5137 "Java setup unclear in user docs for Windows"
Hi everyone!

I downloaded the newest version of OpenRefine (3.6) and tried opening the application. However, instead of the platform, I got redirected to the manual section on Java requirements. As the program requires Java 11-17, I uninstalled my version (8) and installed the latest one (17). **In spite of this, when trying to open OpenRefine, I still get redirected to the manual section on Java

[2022-08-02 15:05] thadguidry commented on #5137
Take a look at our http://docs.openrefine.org for the Windows installation which explains how to ensure that not only Java is available on the PATH but also your JAVA_HOME is set properly.

[2022-08-02 15:18] RolfBly opened #5138 "Cluster & Edit doesn't work anymore in OR 3.6.0"
### To Reproduce
Select any appropriate column, Edit cells, Cluster and edit; tick some boxes, select Merge and recluster.

### Current Results
The first time, the same clusters re-appear, it hasn't processed any. A subsequent time, a message "You must check some Edit? checkboxes for your edits to be applied." appears, but some boxes are ticked.
The problem appears on a data set of just over 5000

[2022-08-02 15:21] thadguidry commented on #5137
@wetneb What is up with our docs?  I don't see the section for JAVA_HOME any longer?

This is showing when I look at the versioned docs https://github.com/OpenRefine/OpenRefine/blob/608e2f8fccb161ca03ab224e5c57a6c594cfd46a/docs/versioned_docs/version-3.6/manual/running.md

----

:::caution Did you get a JAVA_HOME error? “Error: Could not find the ‘java’ executable at ‘’, are you sure your JAVA_HOM

[2022-08-02 15:50] seb-29 commented on #5137
Thank you @thadguidry! No, I did not get a JAVA_HOME error. I think my OpenRefine has not realized I have Java installed :-/ When I try to access your link "install and configure a JDK package" I get a 404 error (Didn't find anything here!).

[2022-08-02 15:58] thadguidry commented on #5137
@seb-29 Sorry, but that message reply was to our maintainer Antonin @wetneb and he or someone else needs to figure out what is happening with our docs not showing the same content as in our GitHub /docs/version_docs folder when I browse to the doc page:
![image](https://user-images.githubusercontent.com/986438/182419253-f0af07b6-129e-4a79-b5a4-d26fbf517f19.png)

[2022-08-02 23:53] elebitzero commented on #5138
I tried to reproduce this on Windows 10, Java17, OpenRefine 3.6 with a dataset with 88k rows and 40 columns, but it worked fine for me. I thought maybe it is a timing issue, so I used developer tools to introduce a 10 second lag time in network requests, but it still worked fine.

Do you see any errors in the JavaScript console, or on the command line where OpenRefine server is running? If you can

[2022-08-03 06:21] wetneb commented on #5137
@thadguidry this fragment of the docs is rendered correctly, as far as I can tell:
![image](https://user-images.githubusercontent.com/309908/182538216-3b6e8d8a-8c23-4f5e-b2f9-6ec143507f59.png)

[2022-08-03 09:26] seb-29 commented on #5137
Hi @thadguidry & @wetneb,

I´ve checked how to configure Java SDK 17 - below my update!

After installation, the following system environment variable was automatically created under "Path":
_C:\Program Files\Common Files\Oracle\Java\javapath_

I deleted it and created a new separate (i.e. not under "Path") system environment variable "JAVA_HOME":
_C:\Program Files\java\jdk-17.0.4_

Then, I added

[2022-08-03 11:04] RolfBly commented on #5138
Meanwhile,
- I've asked in the Google group how to share the data set privacy-proof - there's no formal way for it. I can zip it with password but how to get the password safely to you?
- I've tried the same dataset on a different machine with the same setup, problem appears there too
- I made a recording showing the problem
- I've asked my customer if they have any objection with me sharing the d

[2022-08-03 12:33] ostephens commented on #5138
@RolfBly can you share the recording?
Also I notice that @elebitzero asked:

Are you able to check either of these?

[2022-08-03 13:10] RolfBly commented on #5138
There are no errors in the console, it just stops as soon as the error message appears. The last line in the console is
`14:58:11.688 [ compute-clusters_command] computed clusters [binning] in 196ms (29ms)`
which is after a partially succesful merge & recluster.
Then you get a new list in the cluster & edit window.
Partially because a number of names that you did in the previous step, reappears, i

[2022-08-03 13:26] wetneb opened #5143 "In the "Add column based on this column" dialog, validating a form by pressing Enter should run the operation"
When adding a column based on a column, I often first type the expression I want, and then set a column name in the field at the top, and then press Enter, expecting it to have the same effect as clicking the "OK" button. It currently does not do anything.

### Proposed solution
This field should be part of a form, and when that form is submitted, that should be equivalent to pressing the OK butto

[2022-08-03 13:59] wetneb opened #5144 ""Locate offending rows" does not work"
Clicking on the "Locate offending rows" button in any Wikibase issue does not have any effect.

Also, the warning below should not have a "Locate offending rows" button because the issue is not always generated by a single row in the project:
![image](https://user-images.githubusercontent.com/309908/182626717-4775da8b-357c-4856-bc48-8f74d4ec0c7b.png)

Not writing more here because I intend to fix

[2022-08-03 14:09] thadguidry commented on #5137
@seb-29 yes, that is correct.

@wetneb I think it makes sense to have the same caution we have under the Linux tab, to also be under the Windows tab, since this is often the first common error that folks have, as evidenced by @seb-29 .  Could we do that small edit to the docs for the Windows tab as done for Linux tab?

[2022-08-03 14:55] wetneb commented on #5137
I think so, we just need a PR for that :)

[2022-08-03 16:59] ericprud commented on #5043
I'm not convinced that we can not,  would not want to (if you don't mind sorting through my double-negatives). Improvising a bit from [#5103]'s [Artwork wireframe](https://github.com/OpenRefine/OpenRefine/issues/5103#issuecomment-1193192506) to add an example qualifier, we can invent a minimal template expression to capture the anticipated shared structure (and ignoring the Wikitext and Captions '

[2022-08-04 04:08] emayakeerthi commented on #4902
Is that issue resolved?

[2022-08-04 06:06] wetneb commented on #4902
No, this issue is still open.

[2022-08-04 07:27] wetneb commented on #5043
Hi @ericprud, thanks for digging in this more.

As a developer, when I chose a serialization format for some class in OpenRefine, I have the following requirements:
* Using a well defined serialization format, which means having a simple and short definition of what is allowed (for instance formulated in XSD or JSON Schema)
* Reliable serialization and deserialization code, which generally means a

[2022-08-04 10:40] ostephens commented on #5138
@RolfBly thanks.

So far I've failed to recreate this locally - but that doesn't really mean anything beyond knowing that the problem doesn't occur in all circumstances.

I know this is asking more effort from you but just to try to see if we can recreate this on other datasets are you able to share step by step what you did (for example is the Cluster option done from a facet or from the Edit Cel

[2022-08-04 12:51] RolfBly commented on #5138
Meanwhile, I've found an open source data set that I can hopefully reproduce the problem with. I'll have to do this in my spare time, so it may take a while.

There is one additional thing: my workspace is a Dropbox folder that gets auto-synced to the cloud, plus I've set the auto-save interval to 5 in openrefine.l4j.ini. This is because in the recent past, I've had a few important projects disapp

[2022-08-04 12:56] ostephens commented on #5138
What's the dataset @RolfBly - I can have a look as well

[2022-08-04 13:09] RolfBly commented on #5138
[UFO_sightings.csv.zip](https://github.com/OpenRefine/OpenRefine/files/9259868/UFO_sightings.csv.zip)
Here you go. The offending columns in my case has `[name]|[iso-date]` or just [name] where name to cluster and edit may be something like

Doe, john, simon
Doe, John Simon
DOE, John

It probably should work with location names too.

[2022-08-04 13:15] ostephens commented on #5138
Thanks @RolfBly Do you have a Text Facet displaying for the column (in the project Facet / Filter pane) while you are doing the clustering?

[2022-08-04 13:37] RolfBly commented on #5138
No.

[2022-08-04 19:33] RolfBly commented on #5138
I can reproduce the problem with this data set. Just create project from the csv, on the city colum go to edit, cluster & edit, select a few things, hit Merge & re-cluster. Error. See screen recording.
https://user-images.githubusercontent.com/198277/182936737-3e4f9759-ecc1-4de8-a5c6-b150b39f7aac.mp4

Again, nothing happens in the console. Is there any way to turn on verbose reporting? I've done t

[2022-08-05 00:10] elebitzero commented on #5138
I cannot reproduce this part of your issue.

Once I saw your screen recording, I could easily reproduce this part.  I had been directly clicking the 'Merge' checkbox, but I saw you were clicking on the links that select the value to use and check the 'Merge?' checkbox.

I found a bug that was introduced in 3.6.0 due to a mistake in the jQuery 3.6.0 migration. I am submitting a PR to fix it.

[2022-08-05 06:28] RolfBly commented on #5138
On the data set provided, I didn't see this either. I'll wait & see if the fix resolves it for the set I can't share.

[2022-08-05 06:58] #5138 closed

[2022-08-05 10:39] #5118 closed

[2022-08-05 12:41] wetneb opened #5154 "Extension point for cell rendering"
As part of the Wikimedia Commons integration project, there is an interest (@trnstlntk @lozanaross ) in customizing the cell rendering to include thumbnails of the media files being uploaded (or edited): https://github.com/OpenRefine/CommonsExtension/issues/34.

There is currently no official way for an extension to customize how the cells of a particular column are rendered. Therefore, implementi

[2022-08-05 14:31] thadguidry commented on #5154
We could also allow alternative data grid views.  Being that the entire data grid is treated as a component and can be switched out by another component.  This is typical of modern frameworks.  In the case of Commons file previewing,  you register the current data view as 'default' key and the alternative as some other key such as 'wikicommons'.  This key could be stored as a display preference.

[2022-08-05 18:08] antoine2711 commented on #5154
I think this would be great. I'm all for it, and I think it's something that could improve OR's GUI.

Regards, Antoine

[2022-08-05 18:20] wetneb commented on #5154
@thadguidry thanks! Deciding at what level the extension point should be is exactly the sort of discussion I expect us to have here.

Making it possible for extensions to swap out the entire grid seems less attractive to me, because that would require re-implementing most of the existing functionality even if you just want to change something marginal. What sorts of uses of such an extension point

[2022-08-05 18:55] antoine2711 commented on #5154
@thadguidry: I understand that would give a lot of flexibility to extension coders.
I would actually like that proposition to show, not a table, but rather a tree representation of the data. Your proposition would enable that.

But I think that it should be an addition to @wetneb proposition, because, as Antonin said, redoing a complete table would be a lot of work.

Regards, Antoine

[2022-08-05 20:23] thadguidry commented on #5154
Recon, Graph and Records views (the Epic issue I created) will need many more common components that need to be shared between them, and I've put together a few prototypes that still need work but hopefully I can have more design time on this beginning of next year (in the middle of moving residences).

That's not true. jQuery indeed has components.  A component in modern web development terms mea

[2022-08-05 20:28] thadguidry commented on #5154
To @antoine2711
We don't have to redo things completely.  jQuery's structure actually already allows componentization.  It was a big reason that David chose it at the time.  It has its particular way to do componentization, but still it's there and we essentially have 3-4 large jQuery components currently in OpenRefine's javascript files.  Components can have sub components... a beautiful thing.

[2022-08-06 12:10] ericprud commented on #5043
I'd be glad to pair with you. Though I'd still like to know the objective, e.g. "the mapping target but not the mapping rules".

[2022-08-06 12:53] wetneb commented on #5043
I do not understand what you mean by that. I was hoping that the issue statement is clear enough if you are familiar with OpenRefine, but I am not sure you have used the tool already (in particular doing uploads to a Wikibase instance from OpenRefine)?

[2022-08-07 09:28] wetneb opened #5155 "Improve error message for invalid entity ids in Wikibase extension"
This warning is not very user-friendly:
![image](https://user-images.githubusercontent.com/309908/183284371-0eee68c1-b18f-4286-bd1d-46a2b58f0e0e.png)

Not describing this issue more because I want to work on it directly.

[2022-08-07 14:21] ericprud commented on #5043
As I understand it, the [wireframe](https://github.com/OpenRefine/OpenRefine/issues/5103#issuecomment-1193192506) in [#5103] has CSV column names across the top:
`["File path name", "File name", "Creator", "Date", "License", "Other data", "Other data 2"]`
and controls for the output specification arranged vertically underneath:
| Statements | | |
| -- | -- | -- |
| inception | YYYY(-MM(-DD))<br />

[2022-08-07 19:15] wetneb commented on #5043
So, if I understand you correctly, what you call "output schema" corresponds to what this issue calls "schema templates" (which does not exist yet in OpenRefine and which this issue proposes to introduce), and what you call "mapping rules" is what OpenRefine currently calls "(Wikibase) schema", which OpenRefine users are already able to share, using a in-house JSON format.

[2022-08-07 20:39] lozanaross opened #5157 "Records disappearing after reconciliation"
On some occasions during the user testing sessions in June (see https://github.com/OpenRefine/CommonsExtension/issues/28), when users reconciled files against Wikimedia Commons, the records would all disappear from the main screen area, and users would have to delete several of the facets generated during the reconciliation process in order to bring back the row view of records.

### To Reproduce

[2022-08-07 20:40] wetneb commented on #5050
Let's just close this per lack of consensus (one less thing to code, yay!)

[2022-08-07 20:40] #5050 closed

[2022-08-07 20:43] wetneb commented on #5010
I can also reproduce this.

[2022-08-07 20:49] wetneb commented on #5039
Actually this is indeed pretty critical: at the moment, this reconciliation step is the only opportunity the user has to be notified of naming conflicts. So until we have the possibility to report conflicts later on (such as with #5037), I would keep this.

Given that the assumption that entities correspond to reconciled columns is weaved through the tool pretty tightly, it is also tempting from a

[2022-08-07 22:15] lozanaross opened #5159 "UI improvements to the data extension dialog window based on user feedback"
During the user testing sessions in June, users indicated 2 issues with the current data extension dialog window:
1) it is not obvious that more than one properties can be selected at the same time.
2) the ‘Add properties’ field is not obviously a search box for discovering more properties that can be linked to the reconciled item.

### Proposed solution
To address the issues above in a relatively

[2022-08-08 06:15] wetneb commented on #5159
I am not clear on what happens if the user adds a property using the search input. Does it get added to the list of suggested properties then? I guess so because we need to have a "configure" option for it too, no?

That's a good idea - but we need to keep in mind that currently, the dialog to set the options for properties must be the same for all properties of the service (annoying I know) and c

[2022-08-08 15:13] tfmorris commented on #5123
100% agree with @wetneb. Pretty much every API I've ever used returns a system created ID as the result of a Create operation rather than allowing the caller to specify it.

A better approach, I think, would be to make the Create operation more lightweight and not include any of the current implicit data import. A separate "Import Data" command could be split out to operate on the newly created em

[2022-08-08 15:43] tfmorris commented on #5154
Returning to @wetneb 's original question/proposal, I don't have a strong opinion, but would probably lean towards something limited in scope unless there's a strong understanding of the types of cell renderers that people would like to build. As a matter of principle, I think that the existing renderer would need to be modified to use the new extension point, if one were introduced.

Perhaps bett

[2022-08-08 17:05] stevemaser opened #5160 "OpenRefine 3.6 will not launch on Mac when installed for all the users of the machine (root:wheel)"
In chatting with the devs on Gitter, it seems like this needs to be baked into the build process:

sudo chmod +r /Applications/OpenRefine.app/Contents/Resources/webapp/WEB-INF/*

otherwise, if the application is owned by "root:wheel" -- which is how Munki would deploy it for those orgs that use that -- the application will not launch.

[2022-08-08 21:01] elroykanye commented on #4006
https://github.com/wikimedia/jquery.i18n/issues/229

Does this mean we have to migrate to https://github.com/wikimedia/banana-i18n ?

[2022-08-08 21:34] wetneb commented on #4006
If they support that in banana-i18n, then I would definitely support that :)

[2022-08-09 01:20] antoine2711 commented on #5160
More specifically, these 2 files must have o+r permissions:
- Contents/Resources/webapp/WEB-INF/butterfly.properties
- Contents/Resources/webapp/WEB-INF/web.xml

[2022-08-09 05:34] thadguidry commented on #5160
But shouldn't it be up to a user to config under what privileges an app has at runtime? Rather than us baking assumed privileges for a particular deployment method on iOS?  It seems like just documentation guidance would be a better choice for users and admins of users in a controlled setting?

[2022-08-09 09:57] nikolatulechki commented on #5123
Given that the main use case for this request is have a means for consistently referring to a project, we will probably develop a mechanism to set a project alias (or even simpler, just sanitize and use the name) and have the possibility to use that in the URI of the virtual SPARQL endpoint.

This seems simpler and keeps the work on the Ontotext Refine side and will not need extensive modification

[2022-08-09 11:52] wetneb opened #5162 "OpenRefine hangs when editing a redirected Wikibase item"
Editing redirected items hangs the editing process.

### To Reproduce
Steps to reproduce the behavior:
1. First, create a project with Wikidata item `Q112112347`
2. Create a schema to make an edit on that item
3. Upload the edits

### Current Results

[code]

### Expected Behavior

The edit happens directly on the target of the redirection without any action needed from the user.
### Versions
 - O

[2022-08-09 12:21] #5143 closed

[2022-08-09 12:30] nikolatulechki opened #5164 "Add import options to operational history"
We are currently working on [ontorefine-cli](https://github.com/Ontotext-AD/ontorefine-cli), a command-line interface to [ontotext-refine](https://platform.ontotext.com/ontorefine/index.html), itself a fork of OpenRefine with added functionalities to produce RDF.

The main use-case of the CLI is to be able to repeat and automate a end-to-end workflow. The story we want to tell is that of a  user

[2022-08-09 13:00] wetneb commented on #5164
Definitely keen to work on this (although I want to take the time to think more about the pros and cons of various designs - it's worth getting this right).

This is a duplicate of #460, where there is quite some discussion already.

[2022-08-09 15:23] stevemaser commented on #5160
This is on MacOS -- not iOS.    The application on the Mac will not launch if the application has "root:wheel" permissions without making this change to those two files (this is a regression from 3.5)

[2022-08-10 05:59] mbch331 opened #5166 "Make error messages more useful"
When an error occurs it's not clear which edit gives a problem, I'm trying to correct 73 records and everytime at 40% it gets stuck. In the console I get an error, but no idea which edit exactly gives the problem.

### Proposed solution
Add the statement that is being sent to Wikidata in the error message, so it's easier to debug where the error could be.

### Alternatives considered
Add the Qid o

[2022-08-10 07:20] VladimirAlexiev commented on #460
https://github.com/OpenRefine/OpenRefine/issues/5164 was posted by @nikolatulechki of Ontotext. In the context of OntoRefine, we have discussed several **reproducibility scenarios**:
1. **Run project with settings**: take import options JSON, input file(s), cleaning ops (operation history JSON), SPARQL transformation (applies to OntoRefine only). Create new project, apply cleaning, apply transform

[2022-08-10 07:22] wetneb commented on #5166
This particular bug should normally be closed by #5163 but I totally agree with you that we really need to up our error-handling game, in a ton of places.

[2022-08-10 10:24] Abbe98 opened #5168 "Allow users to set precise values for numeric facets"
The numeric facet UI has a slider for defining a range, however, it's not possible to set a precise range without editing the facet expression.

### Proposed solution
The values displayed under the slider could be editable to allow selecting precise ranges.

![Screenshot 2022-08-09 at 14-52-46 shm_nm_identifiers - OpenRefine](https://user-images.githubusercontent.com/2631719/183878317-9f11ef40-0ef

[2022-08-10 10:47] wetneb commented on #5168
Discussed on Twitter: https://twitter.com/belett/status/1554766092798656512

[2022-08-10 18:03] wetneb commented on #5043
Yes, and in particular, let me emphasize the following points:

We are not against a ShEx integration: if someone has an idea of what it should look like and how to implement it, they can totally come and implement it here.

On my side, I am planning to stop working on Wikibase integration, because I want to focus my energy on the core of OpenRefine (which will also benefit the Wikibase use cases

[2022-08-10 23:25] elebitzero commented on #5168
If the same solution can be applied to timeline facets that would be great. Related issues:

Timeline Facet too imprecise to capture exact date range
https://github.com/OpenRefine/OpenRefine/issues/5001

Configurable bin size in histogram-based facets
https://github.com/OpenRefine/OpenRefine/issues/3248

[2022-08-11 09:23] wetneb commented on #3107
I am wondering if this is still current - we now have quite a few services which only support CORS and I think propose_properties works for them too. I am thinking about the Wikimedia Commons service for instance (https://commonsreconcile.toolforge.org/en/api).

[2022-08-11 15:30] trnstlntk commented on #4303
@Vesihiisi has done some uploads of TIFF files some time ago with OpenRefine and was unsuccessful, although they could upload them with UploadWizard. Soon (August-September 2022?) they will have more files to test with, if we want to work on this. It may involve doing something with [Chunked Uploads](https://commons.wikimedia.org/wiki/Commons:Chunked_uploads), as I understand it correctly, but I e

[2022-08-11 15:34] trnstlntk commented on #4303
For discoverability purposes, this is the Wikimedia Phabricator issue related to bad reporting of chunked uploads, that @Abbe98 is referring to above - not sure if this is a blocker. [Add status / progress information in publishing stage of chunked uploads (api, json)](https://phabricator.wikimedia.org/T309094)

[2022-08-11 16:28] trnstlntk opened #5170 "Deal with rate limits for Wikimedia Commons uploads inside OpenRefine"
Copying from https://commons.wikimedia.org/wiki/Commons:Guide_to_batch_uploading#Rate_limits:

One user testing Wikimedia Commons uploads in OpenRefine has encountered these rate limits, resulting in a batch upload stalling after 380 uploads.

I am not sure what solution or approach I can suggest here, other than flagging this problem. What do folks think?

At least, I think that it would be good

[2022-08-11 19:31] #5144 closed

[2022-08-11 19:32] #5162 closed

[2022-08-12 12:18] raymondde opened #5183 "Add a "Pause" button for long-running processes"
Add a "Pause" button while uploading files is in progress. With the next finished file the upload process should stop and a "Continue" button should re-start the uploa with the next file.

Reason: When uploading a really large batch of file (> 500) it could be usefiil to pause the upload for some time.

[2022-08-12 15:28] ericprud commented on #5043
I think that answers my question. I was trying to figure out the scope "schema templates". Your text suggests that it's a description of the structure to be emitted by OpenRefine. What I meant by "rules" is the pairings of some column in the CSV to an output field description in the schema template,  I think the Wikibase shema is more a meta-schema describing how the notional data structure descri

[2022-08-12 15:44] wetneb commented on #5159
Other suggestions:
- properties should not just be displayed by name, but also with a description (which should be available from the service - although [this is not specified in the specs](https://github.com/reconciliation-api/specs/issues/96), what?!)
- we should include a link to the documentation of the service (newly introduced field in the manifest), if one is available

[2022-08-12 16:07] wetneb opened #5173 "Is the 5000ms default delay for the fetch URL operation too high?"
I had feedback from a user who initially did not notice the <s>1000 ms</s> 5000 ms delay in the "Add column by fetching URLs" operation, and had to wait a long time for the operation to complete.

### Proposed solution

There is a case for saying that <s>1000 ms</s>5000 ms is perhaps a bit too high for a default value. It makes sense to have a relatively generous wait by default, so that users who

[2022-08-12 16:16] wetneb opened #5174 "In-tool documentation for the records mode"
The records mode is a weird thing in OpenRefine. What is even weirder is that the tool itself gives very little clues about how it works.
For facets, for instance, we have a little help text that is displayed in the absence of facets, with a link to the documentation. There is nothing similar for the records mode.

### Proposed solution
In the area where the user can choose between rows and record

[2022-08-12 16:39] wetneb opened #5175 "Highlight the first column when the records mode is on"
The records mode gives a special meaning to the first column in the table, as it is used to determine record boundaries. The UI does not give any clue about this, apart from showing the record boundaries themselves, by changing the rows' background color.

### Proposed solution

When in records mode, highlight the first column with a distinctive (but not disruptive) colour. I would add a shade to

[2022-08-12 18:17] thadguidry commented on #5174
👍 on the tour feature.  It's something that we always wanted to add and the jQuery UI had limited to no support for that with the modal dialog we used, something that offered forward/back navigation, and could customize position of the modal as well as unshadow areas that needed to be focused on.  I just checked the jQuery UI community widgets and there's nothing appealing there to me at all.
I'd

[2022-08-12 21:18] #5155 closed

[2022-08-13 02:20] thadguidry opened #5176 "document the new parent() Jsoup function in our docs"
We forgot to update our docs to add the new parent() Jsoup function from #4184 into the `/manual/grelfunctions#jsoup-xml-and-html-parsing`

[2022-08-13 11:10] wetneb opened #5177 "Requests to Googleapis.com made in the Wikibase schema tab"
Whenever we add properties in a schema, some calls to `googleapis.com` are made, and they result in a 404 error. Those calls are not necessary and should therefore not be made.
Furthermore, when adding a property, we make an HTTP call to fetch its datatype, and that call is made using JSONP, which is insecure. We should rather use CORS instead.

![image](https://user-images.githubusercontent.com/3

[2022-08-13 13:34] #4724 closed

[2022-08-13 14:00] wetneb commented on #5170
This sounds like something we could potentially flag in the upload dialog. When this dialog is shown, the user is logged in and we know how many uploads we intend to do.

This should ideally be implemented in a way which applies to other Wikibases (there is also a limit on the number of edits which could be relevant in other cases, without any file upload). This should for instance cater for #3214

[2022-08-13 14:23] #5039 closed

[2022-08-13 14:57] raymondde commented on #5166
Same issue with uploading to Wikimedia Commons now.  During the upload runs I have seen different errors in the console:

1. http-bad-status: There was a problem during the HTTP request: 415 Unsupported Media Type
2. verification error: File extension ".jpg" does not match the detected MIME type of the file (inode/x-empty)
3. abusefilter-warning: abusefilter-warning-overwriting-artwork

Screenshot

[2022-08-13 15:43] raymondde opened #5181 "Check for invalid characters in filename"
Per https://www.mediawiki.org/wiki/Manual:$wgIllegalFileChars the colon (:) is a forbidden character in the filename.

Current behaviour: The colon (:) is silently replaced by a dash (-) during the upload process.

Problem with this behaviour: In case of a break of uploading a batch is is necessary to reconsile the filename again Wikimedia Commons to exclude already uploaded files. Due to the sile

[2022-08-15 06:55] elebitzero commented on #5173
@wetneb, the default in the UI is actually 5000ms.

In the backend in HttpClient.java, the minimum delay is enforced to be 200ms.

If the URLs each point to a different domain, I can see requests could be made as fast the websites are responding. Ideally, the backend should manage the requests by domain;   Requests only need to be spaced out to the same domain.

If the URLs all point to the same d

[2022-08-15 07:03] wetneb commented on #5173
Ah thanks for the correction! Then 5000ms is definitely too high indeed.

I think the most common case is when URLs all point to the same domain.

Although I do think 200ms should be fine in a lot of cases, I would perhaps suggest to be a bit more generous for the default value OpenRefine proposes, just to be on the more generous side, so perhaps 500ms?

Also I was not aware we had a minimum wait

[2022-08-15 14:47] trnstlntk commented on #5183
I have transferred this issue from the CommonsExtension repository to the general OpenRefine one, as I think this fits better there (pausing other kinds of data uploads may also be a request).

[2022-08-16 06:42] wetneb opened #5187 "Migrate documentation to the repository for the website"
We should migrate the documentation to the repository of the website (currently https://github.com/OpenRefine/openrefine.github.com).

### Why I originally pushed for having the docs in this repository

* The ability to add a feature and its documentation in the same pull request was interesting to me
* The ability to use the same versioning mechanism for the code and docs felt like a good idea

#

[2022-08-16 06:43] wetneb commented on #5187
I intend to work on this with the aim to also rewrite our website with Docusaurus in the same process.

[2022-08-16 08:57] elroykanye commented on #4723
Hello @sherrif10 , still working on this?

[2022-08-16 13:14] thadguidry commented on #5187
Don't forget to add /docs to the .gitignore

Also, after the migration, I wonder if it makes sense to carefully remove the doc files from the git history (there are automation tools that make this labor easier, or just script it.)

[2022-08-16 13:17] wetneb commented on #5187
Removing things from the git history is very disruptive because it implies changing the identity of all commits after the introduction of the docs, it would not play well with the open pull requests. We do not have so many images in the docs so I think it should be fine to leave the history as it is.

[2022-08-16 13:29] thadguidry commented on #5187
Agree, and I thought about that also.

[2022-08-16 17:37] trnstlntk opened #5190 "Suggestion of properties and items in the Wikibase schema builder sometimes totally refuses to load any suggestions (or only wrong ones)"
Sometimes, item and property suggestion in the Wikibase extension's schema builder simply refuses to work (refusing to provide any suggestions at all, or only wrong suggestions), making schema building quite painful.

This issue is difficult to reproduce - I have seen the behavior quite often but haven't discovered a pattern in it. I was recently creating a screen recording while it happened badly

[2022-08-17 06:16] #5173 closed

[2022-08-17 11:02] Ainali commented on #5048
If the browser can't do this, perhaps it should be a small standalone tool that one runs locally. If combined with an EXIF extraction functionality, it could provide a lot of extra value to the user for the trouble of an extra tool.

[2022-08-17 11:04] wetneb commented on #5048
it might be possible to do it with some of the newer APIs, I need to check again.

[2022-08-17 11:54] Abbe98 commented on #5048
The File System Access API would be the way to do it. It's partly experimental and only supported in Chromium browsers and Safari(slight differences in API interfaces I think). In my experience, it's somewhat buggy.

[2022-08-17 12:15] wetneb commented on #5043
Great! Again, if you are interested in thinking about a ShEx integration in OpenRefine, I think it is worth getting familiar with the tool itself first, as a user. There are plenty of tutorials (textual, video) for that. Once you have this familiarity, it is much easier to relate to the actual needs of the users and come up with a meaningful integration.

[2022-08-17 14:15] thadguidry commented on #5048
@Abbe98 it's [supported](https://caniuse.com/native-filesystem-api) on Chrome, Edge, Safari, Opera ... but not Firefox yet because of, [ya know](https://developer.mozilla.org/en-US/docs/Web/API/File_and_Directory_Entries_API/Firefox_support) and [ya know](https://mozilla.github.io/standards-positions/#native-file-system).

[2022-08-17 15:09] #2443 closed

[2022-08-17 15:48] wetneb commented on #471
I am pretty sure we can define the location of the workspace directory in `refine.ini`, so I am wondering if this can be closed?
Currently we only document command-line options for that: https://docs.openrefine.org/manual/installing#set-where-data-is-stored
But we could improve the documentation to mention the `refine.ini` solution (see https://docs.openrefine.org/manual/running#modifications-set-

[2022-08-17 16:01] thadguidry commented on #471
### For Windows
Prior to Windows 8 this would have been a small issue, but is no longer with newer versions of Windows where you can get and map a consistent drive letter for USB drives inserted.  Hence, a relative path isn't needed on Windows.  I have tested with a setting in refine.ini of `E:\openrefine_workspace` where OpenRefine is completely installed on `E:\`

[2022-08-17 16:24] wetneb commented on #471
But is that `E:` letter going to persist if you plug your USB drive in another machine?

[2022-08-17 16:28] thadguidry commented on #471
NOPE !  and definitely not when I plug into a Linux or Mac. :-)
So the relative path would be useful, which essentially could make OpenRefine a true portable USB app, which I'm thinking was the OP's original intention.

[2022-08-17 17:32] Abbe98 commented on #5048
@thadguidry so exactly what I stated.

[2022-08-17 18:42] tfmorris commented on #5173
This would be a great place to include a link to make it easy for folks to check the code in question:
https://github.com/OpenRefine/OpenRefine/blob/cb55cdfdf6f9ca916839778dc847cce803688998/main/src/com/google/refine/util/HttpClient.java#L92-L96

My interpretation is that 200ms is the minimum *retry interval* (ie on failed requests), but there is no minimum on the inter-request delay. This restric

[2022-08-18 05:56] wetneb commented on #5187
I feel like when reviewing PRs, it is equally easy to ask the PR author to open another PR on the repository where the docs are stored, and only merge the code PR if there is an accompanying docs PR.

[2022-08-18 06:27] #5177 closed

[2022-08-18 06:33] wetneb commented on #5190
I have also experienced this and it seems related to caching. Refreshing the page flushes that cache and then the auto-completion should work again after that.
I would like to understand the problem fully but disabling this caching should be a workaround.

[2022-08-18 11:58] trnstlntk opened #5192 "Commons/Wikibase file upload: provide error report / warning when user tries to upload file names without extension"
In my own cluelessness, I have already attempted to upload files with file names that didn't yet have a file extension (.jpg / .png etc). I have just noticed that other people also fall into this trap - it's an obvious omission to make, if you are focused on just getting the file name right. OpenRefine then refuses to do the upload and will throw a vague error.

### Proposed solution
Maybe provide

[2022-08-18 12:55] trnstlntk opened #5193 "Commons reconciliation: Guess Types query failed error : java.io.IOException: HTTP error 400 : BAD REQUEST for URL /en/api"
**Context:** This error message appears in [one specific project](https://drive.google.com/file/d/177HfAeQjxOSz8AiANeSqE7IJtarZ8RPU/view) provided to me by a user who tried uploading files to Commons [using the Google doc instructions](https://docs.google.com/document/d/19eiMeq3XssiPrT9b04E-8XyE-desBEzYNgygLDYKP4o/edit) I wrote; I have tried to reproduce it in another project of my own and the err

[2022-08-18 12:58] VladimirAlexiev opened #5194 "Algolia search results are returned twice"
Now that #5127 is fixed, I can search eg for "jython".
But every hit is returned twice:
![image](https://user-images.githubusercontent.com/536250/185400268-0daef0e3-b501-4881-bf7d-2be9a76dc8f7.png)

and the second match goes to an invalid URL: `https://technical-reference/writing-extensions#server-side-scripting-languages`

[2022-08-18 13:50] wetneb commented on #5193
That should ideally be a Phabricator ticket filed against the commons-recon-service project.

[2022-08-18 15:16] trnstlntk commented on #5193
Moved it there now, so closing the issue here. 👉 https://phabricator.wikimedia.org/T315569

[2022-08-18 15:16] #5193 closed

[2022-08-19 04:17] elebitzero commented on #5173
@tfmorris, thanks for pointing that out. I misread the code.

I'll relax the UI check so that the throttle delay just needs to be >= 0ms.

I think it makes sense to have some kind of minimum delay, because otherwise someone could bombard a website with requests. One possibility is to have a UI preference minThrottleDelay which defaults to 200ms, and someone would have to change it if they wanted t

[2022-08-19 13:55] StaniKub opened #5200 "Cluster & edit - not possible to select value from the list and merge"
In Cluster & edit, when I click on one of the values in cluster it automatically checks the Merge? checkbox. BUT - when at this point I want to Merge selected & re-cluster I get an alert message - You must check some Edit? checkboxes for your edits to be applied.

So now I have to uncheck and re-check the checkbox for the merge to work. Or, I firstly need to check the Merge? checkbox before I choo

[2022-08-19 22:41] antoine2711 commented on #2443
Good work @elroykanye! This is a long and thourough project that touched a lot of code.
Well done.

Regards, Antoine

[2022-08-19 22:45] elebitzero commented on #5200
This is a duplicate of #5138 which was already fixed in next release, and will be included in next 3.6.0 patch release.

To my knowledge, the current snapshot release is stable, so you could download it and see if that fixes your problem. https://github.com/OpenRefine/OpenRefine#snapshot-releases

@wetneb, should we release a 3.6.0 patch with the current fixes?

[2022-08-20 09:19] wetneb commented on #5200
Yes a release is due. I just opened #5201 that I would like to ship with it as it seems low risk.

[2022-08-20 11:20] Jheald opened #5202 ""Add columns from reconciled values" sometimes returning lagged or cached values for some rows"
I was working through some reconciliations suggested by OpenRefine, manually adding a P10873 (Mapping Museums ID) on Wikidata if the reconciliation was correct, or creating a new item there & updating the reconciliation on my OR sheet if it wasn't.

To confirm that I had indeed updated everything correctly, I then used "add columns from reconciled values" to generate an updated column of the MM id

[2022-08-20 11:22] Jheald commented on #5202
Dataset:

[c6649e3c.txt](https://github.com/OpenRefine/OpenRefine/files/9386969/c6649e3c.txt)

[2022-08-20 11:48] Jheald commented on #5202
(Note: slight difference between the screenshots above, because the first one had used "use values as identifiers" in the Qid reconciliations, whereas I had just done "reconcile" -- but outcome is the same for me either way: just the first two MM ids then retrieved, not the remaining four).

[2022-08-20 18:34] Jheald commented on #5202
Update: just tried again (a further 7 hours later), and now it is picking up the values expected.
Looks like a cache may finally have cleared -- but 24 hours is rather a long time for it to have hung around.  (On the telegram channel Antonin says the cache is supposed to only live for an hour).

[2022-08-22 04:26] elebitzero commented on #5194
I checked Docusaurus Algolia issues, and there have been some reports of duplicate entries.
I looked at the API payload returned by Algolia, and it looks like for each help URL, there is a duplicate with a double slash (//).

For example:

https://docs.openrefine.org/manual/jythonclojure
https://docs.openrefine.org//manual/jythonclojure
https://docs.openrefine.org/manual/jythonclojure#jython
https

[2022-08-22 07:37] StaniKub commented on #5200
Thank you. I tried the new snapshot and it does fix the problem.

[2022-08-22 14:11] thadguidry commented on #5194
Could it be a Netlify issue? Where a Netlify setting (I seem to recall there were a few we enabled/disabled in their web ui) is adding a trailing slash, but isn't required because there already is one generated by Docusaurus/Algolia?

[2022-08-22 14:39] trnstlntk opened #5204 "Embed donation box (or prompt) in new release pages"
I'd like to embed donation forms in various places in OpenRefine's web presence - mainly near the places where our users usually download the software.
Donations will always be optional - but the project can really use them to pay for day-to-day maintenance work (e.g. packaging) which is not easily funded through grants. Quite a lot of open source projects show donation boxes / forms right next to

[2022-08-22 14:54] trnstlntk commented on #5204
The page you get right after downloading LibreOffice - I think it's nice, friendly, not too obtrusive, but still encouraging.
![image](https://user-images.githubusercontent.com/9881645/185951979-a3398776-d0d8-464f-93a2-0bd2ea02d5c3.png)

[2022-08-22 14:58] trnstlntk opened #5205 "Provide Applications shortcut in MacOS dmg + potentially add a nice background [$250 bounty]"
Our MacOS download provides a .dmg that, upon opening, only contains the OpenRefine application, without any other frills. It works, but it's barebones :-)

I have just downloaded quite a bit of software, and I notice that many applications make their .dmg a bit fancier these days. They usually include a shortcut to the user's Applications folder, sometimes with a background image with some contex

[2022-08-22 15:16] #5160 closed

[2022-08-22 15:53] thadguidry commented on #5204
👍 agree on donation page shown when users have clicked on one of the 3 links (Win, Mac, Linux) to download OpenRefine.  Mimicking something like LibreOffice has would be great.  Ideally that donation page should be very simple and clear and not messy with lots of text; make it simple for the user to click and send a donation.  I think the prototype donorbox page that Jess showed one time was that

[2022-08-22 15:58] thadguidry commented on #5205
@trnstlntk Not a Mac user (yet).  So on Mac, when you click on those .dmg files... they open those small windows as you show above?  But they are non-interactive windows, right?