[2018-01-31 14:25] ostephens commented on #1447
See #1354 for the display of consecutive spaces (separate to the display of non-printing characters). I think it is just an easy css fix tbh but I need to try it and test

[2018-01-31 15:38] ostephens opened #1448 "Error on Wikitable import using "Extract references in additional columns" option"
Trying to import the following Wikitable:
[code]

The in the UI it just hangs with the message "Updating Preview"
In the console the following error:

[code]

[2018-01-31 16:24] wetneb commented on #1448
@ostephens Oh I see. Oops. Apologies and thanks for the report! I will look into that.

[2018-02-02 00:21] adamhadani opened #1449 "Use column name as default property name for including other column data in reconciliation"
Hey,

currently it looks like when doing reconciliation, if I choose `Also use relevant details from other columns` I can check various boxes for columns I wish to inculde, but if I leave the textbox near them empty (for `As Property`) it doesn't look like they actually get sent.

I'd expect a more sensible default to be - whenever I check a box, that column name is used by default as the property

[2018-02-02 02:51] jackyq2015 commented on #1305
Push this task. it should be done with part of the build system migration(gradle or maven)

[2018-02-02 02:52] #182 closed

[2018-02-02 03:44] wetneb commented on #1449
@adamhadani I agree that the UI could be improved there.

The problem is that the most reconciliation services will only accept a limited, closed-list of strings as properties, which is why we recommend to provide auto-completion there. We cannot expect that the column names will be recognized by the reconciliation service as valid properties: the point of this dialog is to let the user perform th

[2018-02-02 13:01] wetneb commented on #1379
Closing as a duplicate of #133.

[2018-02-02 13:01] #1379 closed

[2018-02-02 13:01] wetneb commented on #133
This would require inspecting the GREL/Python/... expressions that define each facet, identify the columns it depends on, and produce a new expression with the updated columns. It's a significant amount of work but I can see it being useful down the line for some of our long term projects.

[2018-02-02 13:13] wetneb commented on #518
Similarly we could provide the option to un-delete projects which were erroneously deleted.

[2018-02-02 13:21] wetneb commented on #1277
Closing as the feature was implemented.

[2018-02-02 13:21] #1277 closed

[2018-02-02 13:32] wetneb commented on #778
@rufuspollock We have a first working version of this, just merged. @jackyq2015 has implemented import and export for data packages distributed as Zip files, and also data packages hosted on the web as a JSON file.

The various properties of columns (types, constraints, descriptions, …) are not currently exposed in the UI - this will require more work and coordination.
I also plan to work on impor

[2018-02-02 15:06] thadguidry commented on #269
Closing. We won't support IE8 (or its tricks)

[2018-02-02 15:06] #269 closed

[2018-02-02 15:29] thadguidry commented on #486
@OpenRefine/core I'd like to see us finish off what David started on this old issue and connect the encoding guessing code and ensure it populates the Character encoding field in the UI during import preview.  We might want to increase our max rows read to 1000, instead of the default 100 for the guessing. ( I recall David and I talking about that because of a few real-world files I ran across, bu

[2018-02-02 16:54] jackyq2015 commented on #1393
implemented by PR #1398

[2018-02-02 16:54] #1393 closed

[2018-02-02 16:54] jackyq2015 commented on #1345
implemented by PR #1398

[2018-02-02 16:54] #1345 closed

[2018-02-03 11:09] wetneb opened #1453 "Update OpenRefine logo"
- [ ] We should add the new logo to the UI
- [ ] And also to our README.md
- [ ] And finally our Website

[2018-02-03 12:42] thadguidry commented on #1453
And we need to work on the website refresh, well, at least attempt to "freshen it up" :)  This would be an awesome portfolio opportunity for some teenager somewhere in the world :)

[2018-02-03 21:17] #1086 closed

[2018-02-05 18:02] joanneong commented on #1453
Although I am technically no longer a teen, I am interested in giving this issue a shot :P However, just to clarify, what do you mean by "the new logo"? I can only see this:

![image](https://user-images.githubusercontent.com/24493463/35820346-4c466402-0ae0-11e8-9833-d071930f6510.png)

which does not say "Google Refine" so I thought that it has already been updated. Has another logo been created f

[2018-02-06 01:36] thadguidry commented on #1453
@joanneong Yes we have new logos designed for us by Google.  I'll email the package to you Joanne, check your email.

[2018-02-06 02:30] magdmartin commented on #1453
@thadguidry @joanneong I [created a new issue](https://github.com/OpenRefine/openrefine.github.com/issues/24) to refresh the website styling

[2018-02-06 13:00] joanneong opened #1455 "Index page: `next` button does not appear as expected for Deutsch"
I was trying out different languages offered by OpenRefine when I noticed something weird about the index page after I switched the language to Deutsch:

![index_page_error](https://user-images.githubusercontent.com/24493463/35860823-6a1d21dc-0b80-11e8-9462-09e0bc2c5f81.png)

It is supposed to be a "Next" button, but it is not showing up for Deutsch.

P/S I am using MacOS, and running OpenRefine o

[2018-02-06 18:33] wetneb commented on #1455
@joanneong good catch! That's because the German translation is still very far from complete, so many strings don't even show up. I thought that we had a proper language fallback in place (so that the English strings are used instead) but if we have one it clearly does not work. #1285 could address that so if you want to work on this it might be useful to coordinate there.

[2018-02-07 01:45] rufuspollock commented on #778
@wetneb awesome 👍 👏 /cc @pwalsh @vitorbaptista

[2018-02-07 06:04] pwalsh commented on #778
Amazing @wetneb . Happy to support with reviews and discussion on the [Data Package Java Library](https://github.com/frictionlessdata/datapackage-java).

[2018-02-07 09:32] ostephens commented on #1455
The current i8n solution in use doesn't support a fallback option in the way we need (I did look at this previously but can't remember the details) - so agreed that #1285 is the way forward

[2018-02-07 11:06] ostephens opened #1457 "Extract view/link URL for reconciled cells"
In a reconciled cell, the content of the cell is enhanced with a link to the reconciled item in the relevant service/site which has been used for the reconciliation.

From what I can see, the URL for the link is built on the fly by using the cell.recon.service to identify the service being used, to look up the 'view' URL from the service definition, and then building the link by combining the view

[2018-02-07 12:51] wetneb commented on #1457
That would make a lot of sense! I am not sure whether this should be stored directly in the recon objects, or if it should be recomputed on the fly with the id and the URL template. (So, in the unlikely case where the template would change later on, the URLs would be transparently updated.)

[2018-02-07 14:00] ostephens commented on #1457
At the moment there is some information stored in the recon object that feels like it would cause problems if there is a change to the service:

- cell.recon.service
- cell.recon.identifierSpace
- cell.recon.schemaSpace

Given these are already there, and because my instinct is it will be simpler option, I'm inclined to store the link directly in the recon object

[2018-02-07 17:41] #1448 closed

[2018-02-08 01:12] jcpuzs1 opened #1464 "localization/Filipino translation"
I want to contribute Filipino translation.

[2018-02-08 02:02] magdmartin commented on #1464
@jcpuzs1 thanks for offering your help. We use Weblate to manage translation. You can start a Filipino project [from here](https://hosted.weblate.org/projects/openrefine/translations/ ) - see `start new translation` at the bottom.

You can register to Weblate using your Github account

[2018-02-08 02:05] magdmartin commented on #1455
Should #946 have taken care of this?

[2018-02-08 08:05] wetneb commented on #1455
@magdmartin no this was already merged and the problem is still here

[2018-02-08 16:53] joanneong commented on #1453
Can I get some directions on how to update the website? I can't seem to find the relevant files in the Git repository so I am not too sure how to proceed...

[2018-02-08 16:57] magdmartin commented on #1453
@joanneong this is a separate repo, see https://github.com/OpenRefine/openrefine.github.com

[2018-02-09 09:19] agentzero1 opened #1466 "Translation into Cebuano language"
I want to contribute in translation

[2018-02-09 09:40] wetneb commented on #1466
@agentzero1 just go here and follow the instructions:
https://hosted.weblate.org/projects/openrefine/

[2018-02-09 09:40] #1466 closed

[2018-02-09 15:29] #1453 closed

[2018-02-09 21:27] adamhadani commented on #1449
@wetneb I think what I'm saying is simpler. Something like this:

1. When I check a box to signify column should be included, It should be *required* to provide a non-empty value in the textbox next to it for it to be passed to API in the textbox (since otherwise it just silently doesn't get sent which is not great UX)
2. On top of this, I suggest further that a sensible **default value** for that

[2018-02-10 09:33] wetneb commented on #1449
@adamhadani Okay for 1. (so you would just refuse to start the reconciliation process without a property name there).

But I'm still not convinced by 2. By providing a default value there, you would indicate that there could be cases where the user would not have to edit this field and leave the default value as it is. The problem is that for all reconciliation services which provide a suggest ser

[2018-02-10 12:38] jcpuzs1 commented on #1464
Sir thank you. What I wanted to do is that I want to translate and request a pull request from you sir and present it to utopian.io

[2018-02-10 12:43] wetneb commented on #1464
@jcpuzs1 sure, you can do that! and we would be very grateful.
You can either do the pull request yourself, or you can use Weblate as pointed out above by Martin. I recommend the latter, as it is much easier. If you use your github account to sign up for weblate, you will get exactly the same result (a commit attributed to your account in a PR on this repo).

Let us know if anything is unclear.

[2018-02-10 13:22] jcpuzs1 commented on #1464
@wetneb thank you sir now I get it. Great help.

[2018-02-10 13:33] joanneong commented on #1319
I will try to work on this in the next few days :)

[2018-02-10 16:32] thadguidry opened #1468 "Research Apache Beam and Google Dataflow."
To support working with Bigger Data in OpenRefine we can collect ideas, questions, concerns on implementing batch processing in the cloud, we can can collect our research into a design document shared with the world here:

https://docs.google.com/document/d/1WT8nCYdNUU14y39IJJlB9fqnxhO0XZnjgHZljEdw-60/edit?usp=sharing

We can then add Tasks with issues against each here:
- [ ] Some task with some

[2018-02-10 16:58] thadguidry opened #1469 "Research technologies to improve in-memory data model"
**Goal**:  Increase the capacity of OpenRefine’s data processing by moving to an alternative, higher performance in-memory / on-disk data storage technology. See document [Planned in Phase 2 enhancements](https://docs.google.com/document/d/1lK3LT9Llwxqv4NFSQO33UX-P3vD1MzYefv6YCtf6HHk/edit?usp=sharing)

We can probably lower our memory overhead with Apache Arrow: https://arrow.apache.org/docs/memor

[2018-02-10 17:44] thadguidry commented on #816
The best code I have seen for dealing with number formatting is in Pentaho and its usage of [java.text.NumberFormat](https://docs.oracle.com/javase/9/docs/api/java/text/NumberFormat.html) to handle this with Format Masking and NumberFormat can uses different Locale's

`NumberFormat nf = NumberFormat.getInstance(Locale.FRENCH);`

https://github.com/pentaho/pentaho-kettle/blob/master/core/src/main/j

[2018-02-10 17:49] thadguidry commented on #816
Yet another possible way would be to use [java.text.MessageFormat](https://docs.oracle.com/javase/9/docs/api/java/text/MessageFormat.html) ?

[2018-02-11 14:49] Cyyy1998 opened #1470 "Requesting for translation to Filipino"
Good day sir,

I want to transtate it to my native language which is tagalog/Filipino

[2018-02-11 17:28] michaelizer opened #1471 "Translation into Spanish language"
Greetings, I would like to contribute to the project by translating it into Spanish. Spanish is my native language so don't panic, but a lot of Spanish speakers are still limited by the language so this is primarily to help them. At Utopian we love contributing to open source projects.

Thanks in advance and for your time. Keep up the great work.

[2018-02-11 17:44] thadguidry commented on #1471
@michaelizer We already have OpenRefine translated in Spanish, but you can review and possibly provide better translations or missing ones by visiting our [Translate OpenRefine wiki page](https://github.com/OpenRefine/OpenRefine/wiki/Translate-OpenRefine)

[2018-02-11 17:44] #1471 closed

[2018-02-11 20:13] magdmartin commented on #1470
@Cyyy1998 please see the discussion with @jcpuzs1 in #1464  for the Filipino translation.
Happy to see you participate.

[2018-02-11 20:13] #1470 closed

[2018-02-11 20:59] magdmartin opened #1472 "Add function Delete the rows with empty cell in drop down menu"
Add function `Delete the rows with empty cell` in each column drop-down menu.

Request from [mailing list](https://groups.google.com/d/msg/openrefine-dev/2vBmQNEBHW8/GIyVef6JAQAJ)

[2018-02-11 21:01] magdmartin opened #1473 "Add function Concatenate with..."
Add function `Concatenate with...` in each column drop-down menu. The new menu will display a modal windows listing all available column to concatenate with

Request from [mailing list](https://groups.google.com/d/msg/openrefine-dev/2vBmQNEBHW8/GIyVef6JAQAJ)

[2018-02-12 00:06] Cyyy1998 commented on #1470
Or can I translate it to Cebuano dialect ?

[2018-02-12 01:17] vacilagodzila opened #1474 "Translation to Spanish (question)"
Hi there, I was surfing through Github and ended up on your repo. Just wondering if I could contribute with spanish translations, if they're needed I'd be glad to help. Thank you!

[2018-02-12 02:35] magdmartin commented on #1474
We already have a Spanish translation in progress via Weblate. You can check it [on Weblate](https://hosted.weblate.org/languages/es/openrefine/) or in [OpenRefine repo](https://github.com/OpenRefine/OpenRefine/blob/master/main/webapp/modules/core/langs/translation-es.json).
Looking forward your pull request.

[2018-02-12 02:35] #1474 closed

[2018-02-12 09:47] joanneong opened #1475 "Fix OpenRefine functions that break upon returning array"
When reporting a bug please provide the following information to help reproduce the bug:

**Version of OpenRefine used:** OpenRefine 2.8
**Operating Systems and version**: MacOS High Sierra V10.13.3
**Browser + version used**: Google Chrome Version 64.0.3282.140 (Official Build) (64-bit)
**Steps followed to create the issue**
1. Using any project, go to a column and try to transform the column
2.

[2018-02-12 10:11] ettorerizza commented on #1475
Hi @joanneong .  The documentation is right to say that `slice()` returns an array. The problem is that the arrays do not display in the columns. Open Refine columns only display strings, numbers, booleans, or dates. To display all the elements of an array in the column, you have to concatenate them with `join()`:

`value = [1,2,3,4]
value.join (',')`

I'm sure all of this is hidden somewhere in t

[2018-02-12 10:31] ettorerizza commented on #1473
Related to #1439 and #239

[2018-02-12 12:13] ettorerizza commented on #1472
I wonder if we should not instead put this feature in the "All" menu with a check list of columns, as with "transform all". If two columns are checked, only the blank rows in both will be deleted.

[2018-02-12 14:49] jcpuzs1 commented on #1464
Sir good eve, sorry to bother you but I don't know how to pull request again. I want to pull request the 100% of my English to Filipino translation. I promised to finished it and here it goes. But my problem is I cant do pull request. Do u have guides of which I can follow ? Thank you sir

[2018-02-12 14:53] magdmartin commented on #1464
@jcpuzs1 Weblate submits automatically the Pull Request. Your work is available in #1479

[2018-02-12 15:24] joanneong commented on #1475
Thanks for the response @ettorerizza ! This is because I am working on a new `range` function (which should return an array) so I was looking more into this issue. Hmm seems like I have to return a string for now then, thanks!

[2018-02-12 22:54] jcpuzs1 commented on #1464
Wow, thank you sir God bless.

[2018-02-13 14:44] thadguidry opened #1483 "Document backend commands/operations to help separate frontend/backend"
@thadguidry is currently using Structure101 to begin documenting what will be the backend API.

However mostly this is already documented from a high-level in /main/webapp/modules/core/MOD-INF/controller.js

[2018-02-14 04:25] magdmartin commented on #109
See [discussion list thread](https://groups.google.com/forum/#!topic/openrefine-dev/2vBmQNEBHW8)

We should make it easy for a superuser to create those shortcuts based on GREL function or series of operation (with or without a combination of functions and facet).

We won't be able to accommodate each and everyone needs in the core application, your common operations are different than mine ;)

[2018-02-14 05:05] thadguidry commented on #1297
@ostephens Are we good on closing this issue out and triaging it into Milestone 2.9 as done ?  or does the team think there is more to do ??

[2018-02-14 07:39] #1464 closed

[2018-02-14 09:19] ostephens commented on #1297
@thadguidry  I think this is done, at least to the extent needed for now, I think it can be closed

[2018-02-14 10:26] ostephens commented on #1475
I was sure we had an issue (or maybe a discussion on the Google group?) about doing an enhancement so that if there was an attempt to store an array in a cell, it would get serialised to a string (probably a JSON representation of the array) before it was stored - to prevent this odd behaviour of the preview looking fine but the outcome of the operation being unexpected.

Can anyone (@thadguidry @

[2018-02-14 11:10] ostephens commented on #1115
@ettorerizza any views on making the column headings more generally clickable? I'm against for the reasons I state above, but if you disagree then it would be good to have a discussion. Otherwise I'll close this

[2018-02-14 11:20] ettorerizza commented on #1115
Oops, sorry, I did not see the previous mention. No, it's clearly not something that I think is useful, personally. I very often select the name of a column to copy it. A completely clickable column name seems to have many disadvantages for very little advantages.

[2018-02-14 11:46] ostephens commented on #1115
Agreed

* Make case sensitive and regular expression text in Text filter **DONE**
* Make all headers of columns or all cell in layout table clickable **WON'T DO**
  * This would cause problems in the UI where people want to simply copy text rather than interact with controls.
  * If an alternative approach to making clicking on column/cell controls easier can be suggested it will definitely be con

[2018-02-14 11:46] #1115 closed

[2018-02-14 14:27] thadguidry commented on #823
Closing this issue as no longer needed.  We are going to plan for separating the frontend / backend and leverage a modern frontend framework that the community is comfortable in.

[2018-02-14 14:27] #823 closed

[2018-02-14 14:31] thadguidry commented on #1475
@ostephens #443 Improve Expression Preview dialog to show type of results

[2018-02-14 14:33] ostephens commented on #1475
Thanks @thadguidry - that's definitely related and would be helpful, but wasn't the one I was thinking of, which was explicitly about what to store in the cell when the output of the expression was an array

[2018-02-14 14:38] thadguidry commented on #1115
@ostephens well, with current human-computer interaction via mouse, there are 3+ buttons now, and some folks COULD use the middle mouse in various ways, but that that's like 1000 support issues waiting to be written for us to triage :)  We'll keep our plans to simple 1 button processing for now and the future UI work.

[2018-02-14 14:47] thadguidry commented on #1475
@ostephens Ah, that was yours and mine your thinking of from our mailing list and now an enhancement issue #1088 Give the user an Error when they try to populate a cell with an array

[2018-02-14 14:48] thadguidry commented on #1088
#443

[2018-02-14 14:54] thadguidry commented on #443
Errors for Array storing in cells is troublesome and should notify the user as well #1088

[2018-02-14 14:56] ostephens commented on #1088
There is more extensive discussion of this concept in a thread on the Google Group https://groups.google.com/d/msg/openrefine/aDxquAI4MqY/P-KD7mghFAAJ

[2018-02-14 14:59] ostephens commented on #1088
In that discussion it was proposed that rather than giving an error, then the array could be stored as a string which is a JSON array, that could then be parsed in future transforms with parseJson().

@thadguidry did a proof of concept implementation at the time saying

[2018-02-14 15:05] ostephens commented on #1088
@thadguidry I'm inclined to change this issue to implement the solution you prototyped given here, and leave the 'warning' to #443 as a display hint rather than an explicit warning.

What do you think? That would also make this another 'easy' issue for implementation I think as it really just needs checking over and tests written/modified appropriately. It shouldn't break any existing functionalit

[2018-02-14 15:24] vinzruzell opened #1485 "Localization/Translation"
REQUESTING to contribute FILIPINO/TAGALOG translation and CEBUANO translation.

[2018-02-14 15:33] ostephens commented on #1485
Hi @vinzruzell - you can contribute to existing translations and create new translations through a service called Weblate. Got to https://hosted.weblate.org/engage/openrefine/ and follow the instructions.

There is already a Filipino translation which you could review, or you can start a new translation for Cebuano etc

Thanks very much

[2018-02-14 15:33] #1485 closed

[2018-02-14 16:20] ostephens opened #1486 "Implement "Facet by null" Command and add to Customised Facets menu"
From #820

A "Facet by null" function would create a facet with the values 'true' (the cell value is null) and 'false' (the cell value is not null). It would work similarly to the existing 'Facet by Blank' option, but would only include cells containing a value of 'null', not those containing empty strings

[2018-02-14 16:22] ostephens opened #1487 "Implement "Facet by empty strings" Command and add to Customised Facets menu"
From #820

A "Facet by empty string" function would create a facet with the values 'true' (the cell value contains an empty string) and 'false' (the cell value does not contain an empty string). It would work similarly to the existing 'Facet by Blank' option, but would only include cells containing a value consisting of an empty string, not those containing null

[2018-02-14 16:36] ostephens opened #1488 "Implement 'Set cells to empty string' command and add to Common Transformations menu"
From #820

A "Set cells to empty string" function would replace the content of the cells in all current rows to an empty string "". This would work in a similar way to the "Blank out cells" command in the Common Transformations menu but would set the value of the cells to an empty string, rather than null

[2018-02-14 16:39] ostephens opened #1489 "Relabel 'Blank out cells' in Common Transformations menu to 'Blank out cells (null)'"
From #820

In OpenRefine when term 'Blank' is used in relation to cells it is generally used to mean "either null or containing an empty string". This makes sense in the context of 'Facet by Blank' or 'isBlank'. However, it does not make sense when referring to setting the value of a cell - as you are either setting it to null or to an empty string - we should be explicit about what is happening h

[2018-02-14 16:50] ostephens commented on #820
I'm trying to create individual issues for each of the enhancements identified under this issue. I've done all except one I believe. I wanted to have a further discussion before I went ahead and created the last enhancement to be clear on what we wanted.

@thadguidry has suggested the implementation of the 'safe navigation' and 'elvis' operators. This is in place (I believe) of the 'coalesce' oper

[2018-02-14 18:25] thadguidry commented on #820
@ostephens
The safe navigation operator ?. is simply an inline sugary syntax to do "if null, please proceed", but does not replace null with anything, its just a check.

`assert value != null`

The Elvis operator ?: is simply a sugary syntax to perform a ternary operator, which is a shortcut for if/else branch assigning some value to a variable.  The downside is that the user has to tell the value

[2018-02-14 23:34] eximius313 commented on #820
@thadguidry
1) Please also have in mind my conclusion 1) from my initial message
2) `isBlank(" ")` should be `true` ([ref](https://commons.apache.org/proper/commons-lang/apidocs/org/apache/commons/lang3/StringUtils.html#isBlank-java.lang.CharSequence-))
3) What would `replace(null,null,"")` do? I have no idea how is it related to concatenating two columns that can have null values

[2018-02-15 00:43] isaomatsunami opened #1490 "Does anyone need findAll() at all?"
As discussed at #1296, does anyone want findAll(regx)?
I can do it with Python. I do. But Isn't findAll a missing piece in GREL?

ex1) value.findAll(\[\d]+\)[3]
ex2) value.findAll(\[\d]+\).join("/")   // after this, apply "split multi-valued cell"

Isn't this a natural, usual way that beginners would expect.

[2018-02-15 01:23] thadguidry commented on #820
@eximius313
It would look like this

`cells["Column 3"].value + cells["Column 1"].value.replace(null,"")`
`cells["Column 3"].value + cells["Column 1"].value.replace(null,"ThisIsNull")`

allowing you to replace null values with whatever you want,
instead of throwing our current error of **Error: Cannot retrieve field from null** even when doing the proper syntax in the above 2 examples.

Would that

[2018-02-15 08:20] ettorerizza commented on #1490
What's wrong with the brand new [`find() `function](https://github.com/OpenRefine/OpenRefine/wiki/GREL-String-Functions#new--findstring-s-regexp-p) implemented in the development version ?

[2018-02-15 08:27] fpompermaier commented on #820
I agree with @thadguidry...null should be replaced with whatever you want and should not throw any errors when concatenating to other strings. In the end, also when you export a dataset to CSV null and "" are equivalent

[2018-02-15 09:15] #1490 closed

[2018-02-15 09:50] ostephens opened #1491 "Ensure consistent behaviour on populating a cell with an empty string"
From #820

If you try to populate a cell in OpenRefine with an empty string, there is different behaviour in different circumstances. Specifically if the cell already contains null, then doing either of:

* Edit cells -> Transform and put ""
* Edit cells -> Transform and " ".trim()

Results in the cell still containing null.

However, if the cell contains a non-null value, then the two operations

[2018-02-15 09:50] ettorerizza commented on #1340
I've before my eyes a user case which illustrates the potential utility of this variable "column". Let's take a txt file containing lines (for example those of an ocerized PDF) with no other structure than this one: the lines we are interested in are always followed by a line starting with the word "total".

Example:
[code]

In the real file, interesting lines are not in capital letters. In fact,

[2018-02-15 09:52] ostephens commented on #820
@eximius313 I've added a new issues #1491 to deal with your Conclusion (1) in the original report

[2018-02-15 16:39] eximius313 commented on #820
Ok, and what's wrong with:
`coalesce(cells["Column 3"].value, "") + coalesce(cells["Column 1"].value, "ThisIsNull")` which seems more intuitive to me?

[2018-02-15 18:52] thadguidry commented on #402
Closing this issue as it is pretty much resolved now after move to OpenCSV 4.0 and the new Importer UI options now in place ... and so will open new issue for the Templating Export enhancement I mentioned to support conditional Quotes or not and excluding blank or null rows.

[2018-02-15 18:52] #402 closed

[2018-02-15 19:01] thadguidry opened #1494 "More options needed for Custom Tabular Exporter and Templating Export"
This is a 2 part A/B enhancement request copied from a comment I made in an older issue #402 (now closed)

# A. Enhancement request for Export -> Custom Tabular Exporter
- [ ] DONE and Implemented ?

**1. The issue is that we did not give the user an additional checkmark option to output With Quotes or Not.**
We need to give the user this option.
I ran across it today with a pure line input format

[2018-02-15 19:32] thadguidry commented on #820
@eximius313 Sure we can introduce a new coalesce() for you to use instead of replace().  And yes, its easier with coalesce() since null check is a builtin and it removes 1 layer that does not have to be specified by the user as it would be with replace().

`coalesce(null,"")`
`replace(null,null,"")`

I was just pointing out a minor flaw in our current replace() that we ALSO need to fix up to suppo

[2018-02-15 21:32] eximius313 commented on #820
that sounds great!

[2018-02-15 22:26] magdmartin commented on #71
See PR  #1493

[2018-02-16 09:15] ostephens commented on #1494
A looks sensible to me. I'd go further and suggest that in addition it would be good to have the option to decide whether inverted commas are commented (e.g. with a \ character) or doubled (as currently) or left alone.

B I'm not clear on - what does it mean to omit blank or null rows? Wouldn't it make more sense for the user to filter to the non-null rows in the  given example?

In the example gi

[2018-02-16 14:25] thadguidry commented on #1494
B.  Good point.  I did filter and somehow this 'null' came through, not sure what was going on. This unfortunately might have to be reproducible in order to fix it I think.  I'll try today.

[2018-02-16 15:13] #1319 closed

[2018-02-16 16:38] thadguidry commented on #1319
@joanneong Thanks for working so diligently on this ! Great job !

[2018-02-16 22:55] ostephens opened #1496 "Add new "Coalesce" function to GREL"
From #820

Add a new GREL function of 'coalesce'. The function should operate as the COALESCE operator in the ANSI SQL-92 standard (https://docs.faircom.com/doc/sqlref/33405.htm). It should take as input one or more expressions or values, and return the first non-null value.

If there are no non-null values supplied, coalesce should return null.

For example:

coalesce(null, "string") -> "string"

[2018-02-16 23:04] ostephens commented on #820
I've added a new issue for the Coalesce function enhancement.

I'm not completely convinced by the need for `replace(null,null,"")` although I'm happy to write an issue for it if it is needed. At the moment the reason this fails is because the replace function accepts only a string as the first argument and a string or a regular expression as the second argument.

I can't see a problem extending i

[2018-02-16 23:16] thadguidry commented on #820
@ostephens No, that's a null replacement function...different than coalesce().  That would be something like NVL() in Oracle. https://docs.oracle.com/cd/B19306_01/server.102/b14200/functions105.htm

And no, I am indifferent about replace() supporting NVL() like functionality, but others might.  So let them speak up later about it, if they need to.  For the OP's issue, only coalesce() is the wanted

[2018-02-16 23:27] ostephens commented on #1354
See PR #1497

[2018-02-16 23:49] ostephens commented on #1488
May require #1491 to be done first, as simply using the TextTransform operation here (as with the current 'Blank cells' function) results in the inconsistent behaviour described in #1491 (null is left as null rather than replaced with an empty string)

[2018-02-17 18:47] ostephens commented on #1491
It looks like it is 'sameValue' in main/src/com/google/refine/expr/ExpressionUtils.java that leads to the current behaviour. This treats a null value and a zero length string value as being the same.

It's easy to change this, but before doing this, I'm trying to think of any implications of ceasing treating these as equivalent here.

@thadguidry do you have any background info on why these are cu

[2018-02-17 19:18] thadguidry commented on #1491
@ostephens Yeap, the background for treating them the same was to make simplifying the GREL handling characteristics.  We assumed that most users of OpenRefine did not care about NULL and just wanted Blanks or ZERO LENGTH STRING.  However, we now know, 8 years later, that these should actually be handled distinctly, since that has risen to be the expectation from most journalist, data scientists,

[2018-02-18 02:23] jcpuzs1 commented on #1464
Sir Good day, Since I finished translation in English. Can I also translate it to my dialect? which iis Cebuano?

[2018-02-18 11:18] ehmzmara opened #1499 "Requesting Cebuano Translation"
Hi. I would like to request for Cebuano translation.

[2018-02-18 16:01] wetneb commented on #1499
Hi. You can do it here: https://hosted.weblate.org/engage/openrefine/

[2018-02-18 16:01] #1499 closed

[2018-02-18 16:21] wetneb commented on #1464
@jcpuzs1 sure - please only use weblate, do not file a PR yourself.

[2018-02-19 23:27] thadguidry opened #1504 "Add a Unique Records Facet"
We should be able to allow users to select some columns they want to use for a Unique Records Facet.

The essence of our forEach() comes into play with this.
http://kb.refinepro.com/2015/12/check-if-value-in-one-record-are-unique.html

[2018-02-20 08:33] ettorerizza commented on #1504
Why a `forEach()`? Basically, this would add a shortcut to this boring formula:

`row.record.cells['column name'].value.uniques().length()`

But there are many other useful calculations that can be done on the values of a record.

This ties in with Martin's idea of allowing users to store their own functions in the drop-down menu.

[2018-02-21 09:34] ostephens opened #1505 "toNumber handling of empty string"
Currently using toNumber function with an empty string `"".toNumber()` results in `null`. This is  incorrect. Rather the function should return the error "Cannot parse to number" as it would with any other string that cannot be parsed to a Long or Double

[2018-02-21 09:38] ostephens opened #1506 "toNumber returns null if run with zero arguments"
When reporting a bug please provide the following information to help reproduce the bug:

Version of OpenRefine used (Google Refine 2.6, OpenRefine2.8, an other distribution?):
-----
2.8

Operating Systems and version:
-----
All

Steps followed to create the issue:
-----
In the transformation expression window type `toNumber()`

Current Results:
-----
The outcome is `null`

Expected Results:
-----

[2018-02-21 09:42] ostephens opened #1507 "toDate returns null if run with zero arguments"
When reporting a bug please provide the following information to help reproduce the bug:

Version of OpenRefine used (Google Refine 2.6, OpenRefine2.8, an other distribution?):
-----
2.8

Operating Systems and version:
-----
All

Browser + version used - Please note that OpenRefine doesn't support Internet Explorer but works OK in most cases:
-----
All

Steps followed to create the issue:
-----
In

[2018-02-21 09:52] ostephens opened #1508 "Cannot open projects created with current Master branch build with OR 2.8"
Version of OpenRefine used (Google Refine 2.6, OpenRefine2.8, an other distribution?):
-----
Current build from Master branch

Operating Systems and version:
-----
MacOS High Sierra

Browser + version used - Please note that OpenRefine doesn't support Internet Explorer but works OK in most cases:
-----
All

Steps followed to create the issue:
-----
Build OR from current Master branch. Run, and cre

[2018-02-21 10:25] wetneb opened #1509 "NullPointerException when importing an XML file due to the Data Package integration"
When importing an XML file with OpenRefine (master branch, https://github.com/OpenRefine/OpenRefine/commit/ad06d4c7a3b2ea53d8b302f4c758fac1d991146c), I get the following exception:

[code]

This is a critical bug because Data Package integration breaks an unrelated existing importer.

The following file can be used to reproduce the bug:
http://pintoch.ulminfo.fr/ebae3e8b22/jorf.xml

[2018-02-21 16:20] thadguidry commented on #1505
@ostephens right, and not convert the users data silently, as its currently doing with this bug.

[2018-02-22 03:13] jackyq2015 commented on #1509
@wetneb Thanks for the sample. will look into this.

[2018-02-22 09:49] #1506 closed

[2018-02-22 10:27] vinzruzell commented on #1485
HI. I have already completed the file. I would like to ask  if there is another that needs translation for filipino and tagalog?

[2018-02-22 10:29] vinzruzell opened #1516 "Requesting another file for translation"
Hi. I have already translated your file in weblate. I would like to ask if there is another file needed for translation.

[2018-02-22 15:32] joanneong commented on #1486
I will work on this this weekend and get a PR up by next week :)

[2018-02-22 21:50] #1507 closed

[2018-02-22 21:50] #1505 closed

[2018-02-22 21:51] #1491 closed

[2018-02-22 21:52] #1489 closed

[2018-02-22 21:52] #1488 closed

[2018-02-22 21:53] ostephens commented on #1486
Thanks @joanneong - would you be able to look at doing #1487 at the same time? They should be pretty similar

[2018-02-22 23:12] #12 closed

[2018-02-22 23:14] ostephens commented on #820
I'm in the midst of implementing the new `coalesce` function but have hit an issue. I have a working function as defined in #1496 but I think there is a problem with this fulfilling the original need by @eximius313 (and others).

If we have:

rowId | Col1 | Col2 |
----- | ----- | ------
1        |`null` | string
2       | string | string

In Col1 we can run the function `value.coalesce("")` we get

[2018-02-23 08:03] ostephens commented on #1516
Thanks for the translation you have done @vinzruzell. There are no other files to translate for this software.

[2018-02-23 08:03] #1516 closed

[2018-02-23 09:07] ostephens commented on #820
I slept on it, and have a proposal for a possible way forward - I'd be interested in feedback.

**Proposal: Extend the `toString` function with two new arguments as follows:**

- Boolean: Treat null as empty string (Default false)
- Boolean: Treat error as empty string (Default false)

`toString(null)` -> "null" (current behaviour)
`toString(null,true)` -> "" (treats null as an empty string)
`toSt

[2018-02-23 15:19] thadguidry commented on #820
@ostephens Perhaps you could add the coding pattern of NullText in your coalesce() function?  org.apache.commons.text.StrBuilder has getNullText() and setNullText()

There are tons of examples online and in Github https://github.com/search?p=1&q=getNullText&type=Code&utf8=%E2%9C%93

[2018-02-23 16:23] wetneb opened #1517 "JSON deserialization exception due to the upgrade of org.json library in data package PR"
Yet another bug introduced by the data package PR:

OpenRefine is now unable to deserialize its own StandardReconConfig from JSON:
[code]

This happens even without having to switch versions: create a project with the master version, reconcile a column to wikidata, and reopen this project with the master version: you will get this bug. This is because the `org.json` library was updated to a newer

[2018-02-23 16:35] thadguidry commented on #1517
@wetneb Agreed, revert the PR.  Then @jackyq2015 can fix, and we can put more robust tests in place.

[2018-02-23 17:38] ostephens commented on #820
Thanks @thadguidry.

I'm afraid I don't quite understand your suggestion of using get/setNullText - it feels tangential to the problem here.

The problem is that for a null cell, the expression `cells["Col1"].value` doesn't return null, it returns an error. This means that `cells["Col1"].value.toString().replace("null","")` would also fail in this case.

That's why I'm suggesting that toString wou

[2018-02-23 17:56] thadguidry commented on #820
@ostephens ??? I'm confused also... are you telling me that when you have a null cell value... that a simple
```value.toString()``` does not convert that to a String representation of "null" in the preview ?  It does for me. https://github.com/OpenRefine/OpenRefine/blob/master/main/src/com/google/refine/util/StringUtils.java

[2018-02-23 18:01] thadguidry commented on #820
@ostephens oh boy, yeah, I see the issue now...we are not consistent with cells[ ] ... I wonder if something changed or broke ?  I'm using 2.8 here:

![capturenull](https://user-images.githubusercontent.com/986438/36609010-313d36b8-1891-11e8-8d8d-c5502db1602a.PNG)
![capturenull_string](https://user-images.githubusercontent.com/986438/36609019-363f69e2-1891-11e8-880a-f14210a9fe75.PNG)

[2018-02-23 18:37] ostephens commented on #820
That's it - but it's actually the bit `cells["Column 1"].value` that's the problem. If you strip out the 'toString' part of your expression you'll see that this gives an error `Error: Cannot retrieve field from null` - because the cell is null, rather than the value in the cell.

I'm not completely sure how this works tbh - but I'm reluctant to change the innards of how we handle null cells - it f

[2018-02-23 18:40] thadguidry commented on #820
@ostephens its done here https://github.com/OpenRefine/OpenRefine/blob/master/main/src/com/google/refine/model/Cell.java#L68  and do you have "value"... no you don't, so it breaks.  Probably just need to fix it there and put a null check there ?

[2018-02-23 18:46] ostephens commented on #820
I'll have a look - thanks @thadguidry

[2018-02-23 18:57] thadguidry commented on #820
@ostephens and @tfmorris is the one who added the toString() method for debugging the cells variable itself so you can do things like `cells["Column 1"].toString()`

Look at the history of things also in our Github and BLAME is very useful view to see timeline of who/where/why for any file in codebase.  I've found it super useful over the years to track regressions, but I don't see one on Cell.jav

[2018-02-23 19:10] eximius313 commented on #820
And by the way - this is the initial reason, that forced me to blank all null cells :D

[2018-02-24 19:23] magdmartin commented on #974
I just test with master today (b51dbdcbf223)  and this is still an issue. It also impacts the Portuguese (Brasil) translation.

[2018-02-24 19:47] thadguidry commented on #974
The best way to handle this is with Tooltips as other applications do.  Mozilla provides a guide and good practice about Tooltips in trees, such as what we have here in our menu tree. https://developer.mozilla.org/en-US/docs/Mozilla/Tech/XUL/PopupGuide/Tooltips
We'll just need to improve our interface with Tooltip option and this issue goes away.  We can even have a user preference for Tooltips On

[2018-02-25 10:20] fokky opened #1520 "Feature request: add a bit of extra metadata in the Wikidata reconciliation 'hovercards' to make matching easier"
Feature request, possibly relevant for @wetneb ?

Would it be possible to extend the 'hovercards' that appear when clicked on a Wikidata reconciliation suggestion? (I use OpenRefine 2.8 but this feature has been present in any OR version in which I have used Wikidata reconciliation).

![screen shot 2018-02-25 at 11 07 46](https://user-images.githubusercontent.com/9881645/36640383-97b30548-1a1d-11e

[2018-02-25 16:07] thadguidry commented on #1520
@fokky I think a much better way to handle this is not actually provide Hover Cards because they acutally limit us quite a bit, but instead to have a complete Recon Panel that can be docked on the right/left side of OpenRefine so that you can have a fully scroll-able panel for showing complete information from Wikidata or another recon service.

[2018-02-25 16:56] wetneb commented on #1520
hi @fokky - thanks for this report, I couldn't agree more!!!

The reconciliation service does use Magnus' autodesc, but currently only on items that do not have a description yet. And I think the feature might even be broken (maybe by a change in autodesc's API? I have to investigate).

Overall I think these overviews could be improved *a lot*. The question is: beyond descriptions, how should we p

[2018-02-25 19:34] ostephens commented on #1520
@wetneb @fokky thinking out loud, but would it make sense to use the values of the P1963 property (properties for this type) from the type chosen to reconcile against?

I guess we'd need to define this somewhere in the existing API as something like: 'disambiguation properties' or similar to allow this to work across multiple sources....

[2018-02-25 22:29] jackyq2015 commented on #1517
Fixed this issue. Reviewed other possible JsonObject.toString cases, seems this is the only one which try to read a int as string. Will create PR after more checking.

[2018-02-25 23:24] thadguidry commented on #1520
@ostephens P1963 is a good 1st pass for disambiguation properties in Wikidata.  Unfortunately, often there are not enough P1963 statements on Types in Wikidata, in fact, I spend too much of my minutes of spare time often filling them in... like this one just now https://www.wikidata.org/wiki/Q12518  But yeah, calling properties that help describe uniqueness for entities... "disambiguating properti

[2018-02-26 02:23] stevevance commented on #205
@wetneb I would like to be able to export all columns as "text" and then deal with them later in PostgreSQL/MySQL.

[2018-02-26 02:32] thadguidry commented on #205
@stevevance we already have export as CSV which you can load into any database. This feature was to connect to a database and perform a CREATE TABLE with the selected columns in OpenRefine.  Is there something more than that feature you need ?  Let us know how you envision it working.

[2018-02-26 02:36] stevevance commented on #205
I would like OpenRefine to export SQL with two options: (1) the CREATE statement includes a datatype for each column ("text", "varchar", "int", "bigint") based on how OpenRefine reads the data in that column; (2) the CREATE statement uses a generic "text" datatype for every column.

For large datasets, with many columns, it's very time consuming to write or rewrite a CREATE statement that matches

[2018-02-26 02:39] thadguidry commented on #205
@stevevance Right, so you'd like a nice dialog that let's you set all those column options, AND even an option that says "Set the selected Datatype on all columns" :)

[2018-02-26 02:55] stevevance commented on #205
@thadguidry I found a program that will write CREATE statements! It's `csvsql`, which is part of `csvkit`: http://csvkit.readthedocs.io/en/0.9.1/scripts/csvsql.html

[2018-02-26 11:46] wetneb commented on #1520
yeah I already use P1963 to suggest properties to fetch in the data extension dialog so that would make sense… but sometimes there are a lot of them! so the preview dialog should probably be extended to fit a bunch of them.

[2018-02-26 15:21] wetneb commented on #1520
@fokky I have fixed a bug in the call to autodescribe - you should now see more of them in OpenRefine (no need to update anything on your side).

@thadguidry I still don't see exactly what you mean by your "complete Recon Panel" - could you describe that a bit more? Maybe with a drawing?

[2018-02-26 16:37] thadguidry commented on #1520
@wetneb Oh, its just a panel that we can expose for an IFRAME for the Recon Entity endpoint that the Recon service provides.  It would save the user from having to buy another computer monitor, or installing a Smart Tab extension in their browser, just to see the details of a particular Recon Entity endpoint ... allowing them to stay focused on one browser tab in OpenRefine as they work down their

[2018-02-26 16:43] wetneb commented on #1520
@thadguidry I kind of get the broad idea but it's still fuzzy, sorry  - I guess we can discuss that directly at the next meeting.

[2018-02-26 20:12] fokky commented on #1520
Thanks, everyone, for your prompt and enthusiastic responses.

Although I'm kind of a Wikidata veteran editor, I did not know about P1963 - I will surely have a look at that more often.

Re: including the most basic metadata, I think nothing at the moment can beat Autodesc, so I think supporting this is a good move for the time being.

I also applaud all other efforts that make disambiguation easi

[2018-02-26 23:33] ettorerizza commented on #1520
It would probably be a little slower to load, but what about an iframe that would display the [mobile version](https://m.wikidata.org/wiki/Q9899) of the Wikidata page in question? A bit like this, but with two scroll bars to move the mini-web page.

![screenshot-127 0 0 1-3333-2018 02 27-00-10-40](https://user-images.githubusercontent.com/6286410/36701499-ef7d6444-1b53-11e8-9a21-d467bc14e300.png)

[2018-02-27 00:00] thadguidry commented on #1520
@ettorerizza yes, that's the idea Ettore, however, not a popup dialog as we have now, but actually 2 panels, one where a constant View Recon Entity panel shown on the right of the browser window, that can be toggled to display or not, and who's content simply refreshes when an entity is hovered mouse on in the recon column and perhaps that can be data limited to the user's chosen set of disambigua

[2018-02-27 08:09] wetneb commented on #1520
@ettorerizza really nice idea! and it should be fairly simple to implement too. I'll give it a try.

[2018-02-27 09:15] ettorerizza commented on #1520
Tanks @wetneb , but I just have a good memory (I think it was the system used in LODrefine). ;)

That said, it would not reduce much the number of clicks in my example with Amsterdam. I know that the first one has the smallest Qid and it's probably the capital of the Netherlands, but what if I'm looking for Jacques Brel's song? Ideally, each candidate label should contain a descriptive element to

[2018-02-27 09:48] wetneb commented on #1520
I quite like the idea of showing more metadata without any click or hover - I guess just including descriptions (Wikidata's native ones or Magnus' auto-generated ones) along each match candidate would already help a lot.

[2018-02-27 15:25] thadguidry commented on #1520
@wetneb Again, I say let the users make the choice of what data and how much or little to see rather than hardcoding a Recon workflow that might not work for them.  Let's just give them the power tools to work better with Recon.

@ettorerizza The hover is a different mode than your thinking.  My idea is that it also has background cell highlighting for easier visibility with 3 buttons (Checkmark,

[2018-02-27 17:21] wetneb commented on #1520
@thadguidry yeah, but the simpler the better, both for the servers, the users, the reconciliation service providers, and the OpenRefine dev team!

I think we have identified a few cheap changes that will make a big difference - once this is in place we can think more about the more involved stuff.

[2018-02-27 17:42] thadguidry commented on #1520
@wetneb yes, absolutely baby steps.  I just wanted to ensure that the team understands my opinion here, since you asked for clarity earlier.  Agreed, those quick changes can help considerably for now.

[2018-02-27 23:14] Stolyassa opened #1522 "Exception in thread "main" java.lang.ExceptionInInitializerError in Windows 8.1 (BootCamp)"
OpenRefine2.8
Windows 8.1 Pro 64 Bit  (BootCamp version in MacBook Pro)
Google Chrome 64.0.3282.167  64 Bit

### Steps to reproduce

(1) Download OpenRefine from "https://github.com/OpenRefine/OpenRefine/releases/download/2.8/openrefine-win-2.8.zip"
(2) Eject .zip into folder.
(3) Click "openrefine.exe" or "refine.bat"
(4) It recycles on "http://127.0.0.1:3333/" that "Butterfly still initializing.

[2018-02-28 00:16] thadguidry commented on #1522
@Stolyassa Hi, it looks like you might have some non-English characters in your username perhaps ?  Try to extract the contents of the .zip file again to a more basic path like just C:\OpenRefine2.8\

My hunch is that `%`sign in the path of `\openrefine-win-2.8%20(1)` is what is causing this issue for you, so try to avoid creating that when you extract the zip file.

Let us know if the new path wo

[2018-03-01 00:46] #1517 closed

[2018-03-01 00:46] #1509 closed

[2018-03-01 03:30] jackyq2015 commented on #1508
PR #1524 created

[2018-03-01 17:44] thadguidry commented on #205
@tcbuzor I think it makes sense to have the dialog expose a dropdown for the Database vendor, and then another showing the enumerated list of Datatypes supported by that Database vendor, along with the option to check to make ALL selected OpenRefine columns to be set as the users selected SQL Datatype.  We can reuse part of our existing export dialog that currently exposes the individual Columns o

[2018-03-02 15:01] thadguidry commented on #570
@wetneb Can you perhaps provide a quick fix for this issue over the next 2 weeks ?

[2018-03-02 15:06] wetneb commented on #570
@ettorerizza after thinking about @thadguidry's suggestions for reconciliation UI I would actually be in favour of a completely different screen setup for reconciliation.
The task of going through a list of potential matches and choosing the right is extremely different from  what OR is designed for (apply operations on many rows and drill down with facets).

During a manual reconciliation session

[2018-03-02 15:10] wetneb commented on #570
@thadguidry sure I will look into that

[2018-03-02 15:41] thadguidry commented on #570
@wetneb Thanks, this is Google Sponsored actually via the Wikidata Reconciliation subproject we have for Phase 1, still ongoing (still money left), so track your time.

[2018-03-02 17:03] ettorerizza commented on #570
@wetneb Yah, you put the right words on something that I felt without formulating it ! When it comes to examine records one by one manually, we move from a logic of columns (a logic of database) to a logic of rows (a logic of spreadsheet) for which the interface is not appropriate.

[2018-03-02 17:48] ostephens commented on #570
Just to check - although you aren't changing the facets while you reconcile, you may want to only deal with a filtered set of rows as you go into the reconcile process - would what you are suggesting only deal with the filtered rows (I guess yes, but just to be clear)

[2018-03-02 18:59] ettorerizza commented on #570
Be careful that there are some cases where you have to look at another column to choose the best candidate. For example, to check if a matched place is in the right country, or if it is the right kind of place (some place names refer to both a municipality and a province).

![screenshot-localhost-3333-2018 03 02-19-55-33](https://user-images.githubusercontent.com/6286410/36916388-076a37d2-1e54-11e

[2018-03-02 19:29] wetneb commented on #570
@ettorerizza sure, looking at other columns is super important - I only proposed to hide the other *rows*.

[2018-03-02 19:32] wetneb opened #1526 "JSON bug with reconciliation"
In the master version of OpenRefine:
* Create a project, for instance with the following CSV:
[code]

* Reconcile a column (for instance the first one) to a reconciliation service (for instance Wikidata).

* Reconciliation fails (user sees a javascript alert "undefined") and console says the following:

[code]

[2018-03-02 19:34] ettorerizza commented on #570
Ouch, sorry, I had misread (with the copy-paste of the sentence in front of the eyes, moreover). :/

[2018-03-02 22:15] jackyq2015 commented on #1526
PR #1527 created for this.

[2018-03-02 23:53] wetneb commented on #1526
@jackyq2015 thanks! I have added my comments there.

[2018-03-03 03:30] jackyq2015 commented on #1526
@wetneb close it for now. Feel free to reopen if have any concern

[2018-03-03 03:30] #1526 closed

[2018-03-03 10:19] wetneb commented on #1526
@jackyq2015 did you see my comments at #1527 ?

[2018-03-04 01:43] jackyq2015 commented on #1526
@wetneb As far as I can think of, the only scenario of client is history replay through the JSON interface which is keep untouched before and after change change. If you can name a client as an example which still send the string, then we should consider to support it. It is important we can keep the interface clean and unambiguous as possible (of course without service interruption)

[2018-03-05 01:39] jackyq2015 opened #1531 "Manage wikidata account NPE exception"
When reporting a bug please provide the following information to help reproduce the bug:

Version of OpenRefine used (Google Refine 2.6, OpenRefine2.8, an other distribution?):
Branch wikidata-extension

Operating Systems and version:
Ubuntu 17

Browser + version used - Please note that OpenRefine doesn't support Internet Explorer but works OK in most cases:
Chrome

Steps followed to create the is

[2018-03-05 09:02] wetneb commented on #1531
Thanks! I should definitely have tested this on a fresh workspace…

[2018-03-05 09:03] wetneb commented on #1531
I have added a commit that should solve the issue - let me know if it works for you.

[2018-03-05 09:03] #1531 closed

[2018-03-08 04:08] magdmartin commented on #1508
I cannot open or create project after building OpenRefine from master 14e49d0099d9

system: Ubuntu 16.04 LTS
browser: chromium

The two project open properly in 2.8.

[code]

FYI the second load was a very small XLS file and take few seconds to create a project from it with 2.8.
When I go back to the home page, the two projects are listed under `open project`. When I try to open them I got the spi

[2018-03-08 04:33] magdmartin commented on #1508
doing some investigation. I got the error up to commit c4b0ff6b which is for data package metadata (#1398). I can open and create projects when I checkout 47f44b06c45

[2018-03-08 10:44] ostephens opened #1533 "Add unit tests for backwards compatibility"
Add some unit tests that would test for backwards compatibility with older versions of OpenRefine.
Following on from #1524
Some initial ideas for consideration:

* Suggest we test back to v2.5
* Extend as we release new versions
* Test parsing metadata.json files created on different versions?
* Create project older versions and write tests to load them
  * Do we need to test project export/import

[2018-03-09 00:49] jackyq2015 commented on #1508
@magdmartin Most likely it is build issue. there is some class can not be found. If you do a "ant clean" should fix the issue.

[2018-03-09 01:00] jackyq2015 commented on #1533
#1524 actually use the old version's test case to keep it behave the same way as before for the date format part. Seems it 's so straightforward to write a unit tests to test at a general scope from the old version. but we can have UT to make sure it's behave the same way as before to some extend(for example the same content will be saved into file). Technically for a new build, we only have the b

[2018-03-11 04:55] tcbuzor commented on #205
is someone working on this?

[2018-03-11 09:32] wetneb commented on #205
@tcbuzor the floor is yours!

[2018-03-13 02:11] tcbuzor commented on #205
@thadguidry , @wetneb  should this generate  a CREATE statement as well or just an INSERT statement?

[2018-03-13 02:18] thadguidry commented on #205
@tcbuzor CREATE statement, and truncated to first 30 bytes (whitespace collapsed) of the OpenRefine Project name.

[2018-03-13 02:22] tcbuzor commented on #205
@thadguidry Why the first 30 bytes? The user should be allowed to change the table name as he/she chooses. We also need to allow the user specify the column type and sizes...

[2018-03-13 02:23] thadguidry commented on #205
@tcbuzor Oracle < 12.1 has a table name limit of 30 chars.

[2018-03-13 02:42] tcbuzor commented on #205
The column names also have a limit right?

[2018-03-13 03:04] thadguidry commented on #205
@tcbuzor Yeap column name length is 30 chars if its Oracle < 12.1

[2018-03-13 22:13] magdmartin commented on #1508
@jackyq2015 thanks for the tip. Using `ant clean build` fixed the issue.

[2018-03-13 22:13] #1508 closed

[2018-03-14 18:42] wetneb commented on #1520
@fokky @ettorerizza Here is what you get when using `m.wikidata.org` to do the previews:

![image](https://user-images.githubusercontent.com/309908/37423891-e76b7844-27b6-11e8-9cd5-a68ddca19ae1.png)
(you can try it yourself with this temporary reconciliation endpoint: `http://ulminfo.fr:3893/en/api`)

My gut feeling is that it is not condensed enough so I have made a version where the view is scal

[2018-03-14 18:59] ettorerizza commented on #1520
Really useful, thanks @wetneb ! The windows display must still be a little worked, but the speed seems very good !

![screencast](https://user-images.githubusercontent.com/6286410/37424968-1cc079da-27c2-11e8-8096-c31c602ed3dc.gif)

[2018-03-14 19:42] wetneb commented on #1520
@ettorerizza When you say that "the window display needs to be improved a bit", do you mean that the position of the preview window is not optimal? I'm not sure what we can do about this… I guess it will be solved once we have a dedicated reconciliation UI that does not rely on pop-ups.

[2018-03-14 19:51] ettorerizza commented on #1520
@wetneb Yes, the preview window sometimes pop up in the upper direction and no longer fit on the screen.

I've not tried the first version, of course, but from what I see, it could perfectly suit too. After all, we just need some clues to disambiguate, not a complete description of the item.

[2018-03-14 23:51] ostephens commented on #1486
Hi @joanneong did you make any progress with this?

[2018-03-14 23:54] ostephens commented on #1447
#1497 implemented the display of consecutive spaces

[2018-03-15 00:41] ostephens commented on #1447
Thinking that the padding could be done by adding 'lpad' and 'rpad' functions to GREL, following similar rules to

* Redshift LPAD/RPAD functions https://docs.amazonaws.cn/en_us/redshift/latest/dg/r_LPAD.html
* MySQL LPAD/RPAD functions
  * https://dev.mysql.com/doc/refman/5.7/en/string-functions.html#function_lpad
  * https://dev.mysql.com/doc/refman/5.7/en/string-functions.html#function_rpad

[2018-03-15 01:06] magdmartin opened #1537 "Timeline facet - show max date"
In the current timeline facet when we move the selector on the left (minimum date) OpenRefine displays both the date and the time where the facet starts.
When we move the selector on the right (max date), OpenRefine shows only the time. We should also display the date.

In order to make the reading easier we should also group visually the start date and time.

![facetbydate](https://user-images.gi

[2018-03-15 03:39] thadguidry commented on #1496
@ostephens as stated on your pull request... I'm backtracking now and thinking that the last one
[code]
might or should perhaps be
[code]
This need wider discussion and just feeling around with it I think from the community. I should not be the sole decider on this one.

[2018-03-15 03:43] thadguidry commented on #1447
@ostephens Ah yeah, this issue was because I normally just need RPAD, but sure, why not both !  And the terms lpad() and rpad() are nice and GREL like already :) short and sweet.

[2018-03-15 03:56] joanneong commented on #1486
My apologies for the long period of inactivity, @ostephens - had examinations over this period. I will get a PR up and running by this Sunday.

[2018-03-15 07:44] ostephens commented on #1496
I'm inclined to keep `coalesce(null) -> null` because that keeps us in line with the SQL function and treating null and blank in a more relaxed way is partly what has led to the need for the coalesce function in the first place.

Very happy to get other input on it @ettorerizza @eximius313

[2018-03-15 07:59] ostephens commented on #1447
Just noted that org.apache.commons.lang3.StringUtils (which we already use) has leftpad and rightpad functions which we can probably use to create GREL lpad() and rpad() functions

https://commons.apache.org/proper/commons-lang/apidocs/org/apache/commons/lang3/StringUtils.html#leftPad-java.lang.String-int-char-
https://commons.apache.org/proper/commons-lang/apidocs/org/apache/commons/lang3/StringU

[2018-03-15 08:01] ostephens commented on #1486
No problem at all @joanneong - we are always very grateful for any time people can spare to contribute! (I've done barely anything over the last month but just got a few hours last night and was reviewing stuff, that was the only reason I asked)

[2018-03-15 13:12] thadguidry commented on #1496
@ostephens good point.

[2018-03-15 14:06] ettorerizza commented on #1496
@ostephens I'm trying to understand how to use this function.  If you have a column containing given names and another with the names, the safe concatenation can be done with `coalesce(cells.given_name.value, cells.name.value)`, that's it ?

[2018-03-15 18:07] ostephens commented on #1496
Hi @ettorerizza all `coalesce` does is take the first non-null value, it doesn't do any concatenation. You can use this to fall back on an alternative string value or empty string when the value in the cell is null. So it's a helper function to avoid trying to concatenate null values, but doesn't reduce it to a single step.

So for example if you try, from the 'name' column the GREL
[code]
OR
[cod

[2018-03-15 19:17] ostephens commented on #1036
This issue has now come up under #820 (and related issues) as it causes problems when trying ignore null values when concatenating values from across columns.

I've been investigating and just trying to document before I lose the thread although probably not all relevant to the issue in hand...

If we have a null value/cell `cells["col name"].value` fails with an error. The error comes from:
https

[2018-03-15 19:20] ostephens commented on #1036
One option here would be to always return `null` when you attempt to get an non-existant field, including situations where there is an attempt to get a field from `null`. This would introduce consistency, and resolve the issue reported here and in #820.

What would the negative impact of always returning null in these cases?

[2018-03-16 09:52] ostephens commented on #1486
With #1500 you can see I tried to put in translations where I could. I don't entirely trust Google translate for the OpenRefine interface because there are so many ambiguities (e.g. 'row', 'cell', 'blank' all have multiple meanings in English) - so I used a combination of existing translations and Google translate.

Ideally we could just implement the English and rely on the i8n library falling ba

[2018-03-16 10:53] ettorerizza commented on #1496
Sorry @ostephens, I had followed the threads distractedly and I remained on the idea that the primary purpose of this function was to facilitate concatenation. But I see by reading the totality of the discussions that you went to a transposition of coalesce exactly as in SQL. In this case, indeed, it seems better to not disorient those who are already familiar with this function.

[2018-03-16 11:42] adambako opened #1538 "project files"
OpenRefine 2.8 (1)
osx 10.13.3
rome Version 65.0.3325.162

hi.

i just need help but i cant find the place where to ask..
im using openrefine on osx. but i was need to reinstall my mac. so what i did was copy the whole hdd to backup.. i forgot to export openrefine projects.
now im on clean installation but im not able to find where the projects files are stored..
i found this paths: https://github

[2018-03-16 11:50] ettorerizza commented on #1538
@adambako I think the folder should be in Users > YourUserName > Library > Application support > OpenRefine

[2018-03-16 11:53] adambako commented on #1538
thanks a lot for your fast answer..
files are there :) 👍

[2018-03-16 11:53] #1538 closed

[2018-03-16 13:51] wetneb commented on #742
I think we should make sure Fill down works as expected in Records mode. I would be in favor of fixing that before 2.9.

[2018-03-16 13:54] ostephens commented on #1036
@jackyq2015 @tfmorris @wetneb @thadguidry any view on the idea of standardising that we always return `null` (rather than either `null` or `error`) when trying to access a non-existant field (even from `null`)?

[2018-03-16 14:09] ettorerizza commented on #742
Just a little visual reminder of the problem, for the sake of documentation. In this case, the 1 in the first record spreads to the second record.

![screencast](https://user-images.githubusercontent.com/6286410/37525061-ff926664-292b-11e8-8599-0230e84b07e9.gif)

[2018-03-16 14:26] wetneb commented on #1036
@ostephens I don't see any harm in returning `null` for non-existent fields of non-null objects. Returning null for fields of null objects is less standard. But it's not clear to me in which cases it would cause harm.

[2018-03-16 14:28] thadguidry commented on #1036
2 kinds of errors we have traditionally dealt with and handled.  David was semi-consistent with these 2.
Those for GREL syntax / user error.  Those for Java.

David considered `null` to be an error sometimes.  That was probably not the best way to deal with it.  We know that `null` for GREL is not an error, but for Java it could be.

I strongly feel we should return `null` to GREL(the user) when a

[2018-03-16 16:41] eximius313 commented on #1496
I think that `coalesce` should take at least 2 arguments, but if it must be at least one, then I think `coalesce(null) -> null` should be correct behavior

[2018-03-16 16:47] ostephens commented on #1496
@eximius313 good point about at least 2 arguments - that would be in line with the ANSI SQL definition - I will implement

[2018-03-17 13:01] #1354 closed

[2018-03-17 13:31] ettorerizza opened #1541 "Visually distinguish null and empty strings"
The ongoing discussions on the `null ` vs. empty string `""` distinction (#820), and the new facets related to it (#1539), reminded me that the creation of records is not well documented on the Wiki. One might think that any empty cell below a non-empty cell in the first column belongs to the same record, whereas it works only for `null ` cells.

![screencast](https://user-images.githubusercontent

[2018-03-17 13:47] thadguidry opened #1542 "metadata.temp.json does not exist"
When reporting a bug please provide the following information to help reproduce the bug:

Version of OpenRefine used (Google Refine 2.6, OpenRefine2.8, an other distribution?):
-----
Trunk

Operating Systems and version:
-----
Windows 10

Browser + version used - Please note that OpenRefine doesn't support Internet Explorer but works OK in most cases:
-----
Firefox latest

Steps followed to create

[2018-03-17 13:57] thadguidry opened #1543 "Weird Servlet State exception when I click Refresh in Firefox latest"
When reporting a bug please provide the following information to help reproduce the bug:

Version of OpenRefine used (Google Refine 2.6, OpenRefine2.8, an other distribution?):
-----
Trunk

Operating Systems and version:
-----
Windows 10

Browser + version used - Please note that OpenRefine doesn't support Internet Explorer but works OK in most cases:
-----
Firefox latest

Steps followed to create

[2018-03-17 14:07] ettorerizza commented on #1543
@thadguidry can I suggest a "report issue" template a little less invasive, such as :

[code]

[2018-03-17 16:24] ostephens commented on #1496
@eximius313 PR updated to require at least 2 arguments

[2018-03-17 16:48] ostephens commented on #1541
This is what I'm proposing: `null` will display (as it does in the Expression preview window). Empty string - by definition there is nothing to display. I suggest we just leave this blank.

Note that we will still need a resolution to differentiate between an empty string and a string of only invisible/non-printing characters

<img width="503" alt="screen shot 2018-03-17 at 16 43 02" src="https://

[2018-03-17 16:53] ettorerizza commented on #1541
@ostephens This looks like a small improvement, but it helps to understand why your example certainly produces three records rather than one. In addition, users will better understand the utility of `facet by null ` and `facet by empty strings` (which may seem very abstract).

[2018-03-17 17:02] ettorerizza commented on #1541
The more I think about it and the more I think that the simplest solution would be to not authorize empty strings, to automatically turn it into `null`... What would be the drawbacks ?

[2018-03-17 17:05] ostephens commented on #1541
My instinct is that this would be the wrong thing to do - it's definitely a much bigger discussion! My first thought is that the outcome of a transformation can be an empty string, or can be `null` and these happen for different reasons - so I feel they should be treated differently.

[2018-03-17 17:33] wetneb commented on #1541
Would it make sense to be able to enable/disable displaying this? I think that is quite a big visual change that might not be of everyone's taste… (incidentally it would mean that I need to shoot again all the screenshots for the docs of the wikidata extension ^^)

[2018-03-17 17:39] ettorerizza commented on #1541
@ostephens I also feel that there is way to make big mistakes by merging the two, but the nuance seems very subtle. Based on your PR, if I manually edit a cell, even if I do nothing, the `null ` becomes an empty string. It's hard enough to justify intellectually.

![screencast](https://user-images.githubusercontent.com/6286410/37558319-72b057d2-2a12-11e8-8231-c362887ca362.gif)

[2018-03-17 17:48] ostephens commented on #1541
Agree it’s subtle :)

I’d say that behaviour you illustrate is correct- but what is missing is the option to set ‘null’ when you manually edit a cell !

[2018-03-17 17:53] ettorerizza commented on #1541
I'm reading [Thad's explanation](https://github.com/OpenRefine/OpenRefine/issues/1491#issuecomment-366464701), which I had not seen last month.

[2018-03-17 18:06] wetneb opened #1545 "Localizing the extensions"
Currently Weblate does not allow to localize the extensions. Now that we have quite a few extensions it is becoming more of a problem (Database extension, Google extension, Wikidata extension all need localization). We cannot simply add these extra translation sets on Weblate because this service is restricted to one set of language files for the open source plan that we use. We could consider mig

[2018-03-17 19:56] ettorerizza commented on #1541
Ok, I understand better the need to keep a distinction between `null ` and empty string. As a user, I have no problem with "do more work to take care of NULL" myself. But perhaps we can leave this choice to the user by adding an option "treat null values as empty strings/null" when importing a file (basically, it would be a "transform all" -> `coalesce (value, "")`). Similarly, it should be possib

[2018-03-17 21:08] ettorerizza commented on #1496
@ostephens Would turning errors into `null `_only in the colaesce function_ not solve the problem? In my example, I do not see any other case that can produce an error than having a `null `middle_name.

![screenshot-127 0 0 1-3333-2018 03 17-22-02-53](https://user-images.githubusercontent.com/6286410/37559957-7fa0c086-2a2f-11e8-93e0-24963d6efc39.png)

[2018-03-18 03:15] jackyq2015 opened #1546 "when importing a null, that row is not marked the rowId"
When reporting a bug please provide the following information to help reproduce the bug:

#### Version of OpenRefine used (Google Refine 2.6, OpenRefine2.8, an other distribution?):
2.8

#### Operating Systems and version:
Ubuntu 17.10

#### Browser + version used - Please note that OpenRefine doesn't support Internet Explorer but works OK in most cases:
Chrome

#### Steps followed to create the i

[2018-03-18 09:10] ettorerizza commented on #1546
I cannot reproduce the problem with 2.8 - Windows 10 - Chrome.
![screenshot-127 0 0 1-3333-2018 03 18-10-08-37](https://user-images.githubusercontent.com/6286410/37564342-857f80b8-2a94-11e8-8fc9-2c3e7b38ebcc.png)

[2018-03-18 12:14] ostephens commented on #1496
I’d need to have a look & think about this. Making the function treat errors in a specific way probably possible but making it treat only a specific error like that could be difficult.

[2018-03-18 13:31] wetneb commented on #1496
It's not clear to me that it is possible to catch errors selectively like this: when GREL functions are evaluated, their arguments are already evaluated (so if there was any error upstream, the downstream function is not evaluated at all). This is related to other issues, such as #1145: our boolean operations are not lazy (which is annoying)… To solve this properly, we would need to redesign the w

[2018-03-18 15:34] jackyq2015 commented on #1546
@ettorerizza You are right. it is in the records mode. but somehow it was automatically switched to record mode after importing. Not sure it is an bug or expected behaviour though

[2018-03-18 15:38] wetneb commented on #1546
@jackyq2015 it has always been like this as far as I know

[2018-03-18 17:53] thadguidry commented on #1546
@jackyq2015 automatically switching to records mode when record-like rows were detected...has always been a feature.

[2018-03-18 20:46] jackyq2015 commented on #1546
But for the given example, that's not the the right choice to apply the record mode.

[2018-03-18 21:00] ostephens commented on #1496
Going to close this with the merge of #1536. Unfortunately as @wetneb says the suggestion by @ettorerizza won't work as the error comes from upstream, so can't be caught by the coalesce function.

I've made a relevant suggestion for discussion at #1036

[2018-03-18 21:00] #1496 closed

[2018-03-18 21:06] ostephens commented on #1546
@jackyq2015 why is it not the right behaviour?

The only way I can see to avoid this would be to treat the missing value at the start of row 2 as an empty string. Is that what you think should happen?

[2018-03-18 21:36] jackyq2015 commented on #1546
@ostephens I think it is correct to leave the null as null instead of try to treat it at importing stage. But the record mode should NOT be triggered for the row-based importing. The idea is that "I told you it is row based csv importing, why do you present it as  the record mode to me by default"

[2018-03-20 17:21] ettorerizza opened #1547 "Reconciliation: how to improve the "guess column type" functionality ?"
As already pointed out in [the documentation](https://github.com/OpenRefine/OpenRefine/wiki/Reconciliation#restricting-matches-by-type), the "guess column type" function of reconciliation services is often unsatisfactory. The choices are often too specific. As a result, it's rare that a user choose one of the propositions.

Example: I have a column containing a mix of Belgian municipalities and se

[2018-03-20 17:50] wetneb commented on #1547
Very interesting question! I guess the current heuristics were appropriate for Freebase, but not for Wikidata. What it currently does is count the number of times each type appears in the suggestions for the first few rows, and order the types by decreasing frequency.

The queries made to guess the types look pretty much like any normal query so reconciliation services are not expected to return s

[2018-03-20 17:58] jackyq2015 commented on #1543
what's your version of FF exactly?

[2018-03-20 18:02] ettorerizza commented on #1547
@wetneb The Sparql query I'm talking about seems fast. I'd rather wait five seconds for relevant proposals than get bad ones in two seconds.

[2018-03-20 18:02] thadguidry commented on #1543
59

[2018-03-20 18:15] wetneb commented on #1547
oh sorry I overlooked your proposal, just dumped my own ideas >_<

So, given a list of names in the column, how would you find the qids to feed to that query?

[2018-03-20 18:23] ettorerizza commented on #1547
You put your finger on the difficult part. That's why I thought we could use the QID of the proposals made by the standard reconciliation service. For example, the QID of the first two props (or all five, that would work just as well) in my screenshot. But of course, it's always easy to make suggestions when you do not program them yourself.

[2018-03-20 18:30] wetneb commented on #1547
Ah right, I see, that would make sense. It would probably be quite accurate and efficient. The only issue is that this would be specific to Wikidata, so we would hard-code something for Wikidata in OpenRefine (which has been done for Freebase, but it's better if we can avoid that).

I guess the "clean" solution to implement that is to add a new (optional) endpoint to the reconciliation API, that t

[2018-03-20 18:35] ettorerizza commented on #1547
This is obviously a problem. I personally think that Wikidata (Open Refine's standard reconciliation service) might deserve special treatment.

That said, the Least common subsumer method can be transposed to any RDF graph with an ontology (ie, a system of entities and classes linked by rdf:type or instanceOf relationships).

[2018-03-20 19:13] ettorerizza commented on #1547
If someone wants to test the idea on a list of QID, here is a little Python3 script (remember that i'm not a developer...)

`# -*- coding: utf-8 -*-
import requests #need to be installed : pip install requests
import json
from bs4 import BeautifulSoup #need to be installed : pip install bs4

def getLCS(list_of_qids):
    """
    Get the Least common subsumers between several Wikidata qids in a lis

[2018-03-20 23:24] ostephens commented on #1541
Fixed by #1544

[2018-03-20 23:24] #1541 closed

[2018-03-21 00:50] thadguidry commented on #1286
@ostephens Personally not a fan of the newer diagonal flows on post-2003 Unicode Control Pictures.  I prefer the original horizontal flows just as there were from Bigelow 1993 and just scaling smaller with good fonts as I gave in the examples before.  https://pdfs.semanticscholar.org/4a8e/2fa49b13a2bcabf7d0ebdf2b55b0816abaf8.pdf

[2018-03-21 01:36] tcbuzor commented on #205
Hi All,
What do you guys think about the proposed UI for database export attached here:
<img width="808" alt="screen shot 2018-03-20 at 8 29 52 pm" src="https://user-images.githubusercontent.com/33398757/37691233-5198d8b2-2c7e-11e8-8d72-d2b4e5aec0c0.png">

[2018-03-21 03:40] thadguidry commented on #205
@tcbuzor I would also add hover text explaining what goes into the input boxes when you click into like we have on Wikidata Schema alignment that @wetneb has on his wikidata-extension branch.

[2018-03-21 04:18] tcbuzor commented on #205
I'll take a look and implement something similar.

On Tue, Mar 20, 2018 at 10:40 PM, Thad Guidry <notifications@github.com>
wrote:

[2018-03-21 04:20] tcbuzor commented on #205
Download tab below:
<img width="805" alt="screen shot 2018-03-20 at 11 19 06 pm" src="https://user-images.githubusercontent.com/33398757/37694438-3384c342-2c95-11e8-8b8c-856ae940ec5e.png">

[2018-03-21 14:10] thadguidry commented on #205
@tcbuzor Should that say instead "Include Schema" ?  Wondering if "Include Structure" might confuse folks, because its kind of an Oracle naming convention, rather than universal.  Also re-read my comment above, I've updated it (don't use hover text, just text somewhere "input max values into boxes as necessary" or some such)

[2018-03-22 00:48] stevevance commented on #205
I prefer to use TEXT instead of VARCHAR, and I would also like to see a NUMERIC (decimal/float) option.

[2018-03-22 14:38] wetneb opened #1548 "Duplicating a reconciled column"
We can duplicate a column by "add column based on this column" and the default `value` expression, but that will only copy the values, not the reconciliation data. There is a "Copy reconciliation data" operation but it does not seem to work for me. (I haven't looked into the code to see what is happening there)

When working with wikidata, we can create a new column with `cell.recon.match.id` and

[2018-03-22 15:23] thadguidry opened #1549 "Show out of memory errors on UI for get-project-metadata, instead of silent spinner"
When reporting a bug please provide the following information to help reproduce the bug:

#### Version of OpenRefine used (Google Refine 2.6, OpenRefine2.8, an other distribution?):
OpenRefine 2.8

#### Operating Systems and version:
Windows 7

#### Browser + version used - Please note that OpenRefine doesn't support Internet Explorer but works OK in most cases:
Firefox 59

#### Steps followed to

[2018-03-22 15:39] thadguidry commented on #1548
@wetneb It still works just fine for me in OpenRefine 2.8 ... just tested with

Abraham Lincoln
George Washington
Barack Obama

Where all 3 were Recon'd and matched.
I made a new column based on "copy value from original column"
Then selected Copy Recon and the dialog came up and I clicked Copy...
![capture](https://user-images.githubusercontent.com/986438/37780655-2a441e3a-2dbd-11e8-9f15-776c5453

[2018-03-22 16:22] jackyq2015 commented on #1549
Only happens on Firefox 59.0.1 (64bit)? Do you mind upload your project dump(Not just data)?

[2018-03-23 11:11] ettorerizza commented on #1548
Oh gosh, God, never paid attention to this very useful function... The reconciliation menu is too crowded with obsolete features related to Freebase. As all this stuff is not documented, when something does not work, we tend to give up too quickly.

I am just discovering the "best candidate type" facet that looks super-interesting. It allows to classify candidates by their classes (the QID of the

[2018-03-23 13:10] wetneb commented on #1548
@thadguidry okay, it seems that it checks that the cell values are equal before transferring the reconciliation results (which was not the case for me).

[2018-03-23 13:10] #1548 closed

[2018-03-23 13:26] wetneb commented on #1546
what is "row-based importing" exactly? The distinction between the rows and records mode only arises after project creation in my opinion. I think it makes sense that projects created from CSV file can be treated in records mode. It is possible for a tabular file to have a records structure before import in OpenRefine (this would typically happen in Wikitables, or some Excel files).

The default m

[2018-03-23 14:38] thadguidry commented on #1546
@jackyq2015 @wetneb I would have to agree I guess with Jacky, that if a user chooses the "Line-based Importer"... then it should stay in Rows mode.  For other importers, I think its fine for us to continue to detect records and move into Records mode.  Once we get a new UI, we can have a Guide dialog that says "We've put you in Records mode, since we detected records based formatting of your data

[2018-03-23 14:54] ettorerizza commented on #1546
`if a user chooses the "Line-based Importer"... then it should stay in Rows mode.`

 Looks like there is no difference between rows mode and records mode with a Line-based file ( you can't create a record with a single column)

![screenshot-127 0 0 1-3333-2018 03 23-15-48-50](https://user-images.githubusercontent.com/6286410/37836246-50ec3a04-2eb2-11e8-92b8-285b1118f2ed.png)

[2018-03-23 16:50] ettorerizza commented on #1520
A quick fix might be to tweak [data-table-view.less](https://github.com/OpenRefine/OpenRefine/blob/master/main/webapp/modules/core/styles/views/data-table-view.less), but it's probably not a very good practice...

[code]

[2018-03-23 20:52] quan17 opened #1550 "Partition operation does not consider Zero-Length assertion situation"
Version 2.8
MacOS, Safari

Create one column with data: abc, abb, abce, abe, abed
Transform on one column with GREL,  `partition(value,/(?<=e)/)`,

**Current Results:**

<img width="446" alt="screen shot 2018-03-23 at 4 45 00 pm" src="https://user-images.githubusercontent.com/10971020/37852598-9ea49b0e-2eb9-11e8-9c0c-8845039cdca1.png">

 **Expected Results:**

The first row( the regex not match an

[2018-03-23 23:10] ettorerizza commented on #1550
Hi @quan17 . I understand what you mean, but it would be very dangerous to change the `partition ` behavior (if only for reasons of backward compatibility). In a case like yours - still very specific - it might be better to make a GREL formula that triggers an error if the pattern is missing from the string. For example :

`if(length(value.find(/(?<=e)/)[0]) + 1 > 0, value.partition(/(?<=e)/), nul

[2018-03-23 23:27] thadguidry commented on #1549
@jackyq2015 on my work laptop...will get for you on Monday.

[2018-03-24 02:26] #1546 closed

[2018-03-24 03:49] jackyq2015 commented on #1542
Caused by different time format for the metadata created by different branches. Syncing the branch will solve the issue. But will refactoring the code on this part to make the error clear and less confusing.

[2018-03-24 14:02] thadguidry commented on #1542
@jackyq2015 Ah, good detective work.  Yes, when I am testing PR's I am always merging to master.  For checking the state of master, I always reset to head and then perform my testing.  The state of the branch on my work laptop right now is unclear until I get back to office, but if you were able to reproduce and see the issue then great !

Were you able to reproduce it with our current master stat

[2018-03-24 16:51] thadguidry commented on #1542
CLOSING ISSUE: After chatting with Jacky, this is a non-issue and just a fact that I had 2 older projects that were created from a bug in previous master version around the metadata.  The bug has been fixed in master according to Jacky and so I'll just delete those 2 previous projects and create new one's.

[2018-03-24 16:51] #1542 closed

[2018-03-26 15:42] thadguidry commented on #1549
@jackyq2015 emailed you the 60MB zipped project file.  Was too big to attach here at 10MB limit.

[2018-03-26 15:43] quan17 commented on #1550
@ettorerizza Thank you.
From the API page, I guess the new `find` operation can help but I never test it. Since I am also afraid to update the Open Refine to 2.9 version, since we are developing based on 2.6 version. Is that possible to only get the new `find` function rather than upgrading the whole package? If I directly change the `partition` function return value form "" to `null`, based on yo

[2018-03-26 16:47] ostephens commented on #1550
@quan17 the 'find' function is quite discrete so you could add it into OpenRefine 2.6 if you wanted. See this PR for the files that were added/changed to add the new 'find' function https://github.com/OpenRefine/OpenRefine/pull/1432/files

[2018-03-26 18:23] quan17 commented on #1550
@ettorerizza Thank you.

[2018-03-26 20:44] ettorerizza commented on #1286
This [question on  StackOverflow](https://stackoverflow.com/questions/49498481/clean-unstructured-place-name-to-a-structured-format) shows the importance of this new feature. The file on the Open Refine screenshot looks very clean compared to the original Excel file, actually full of tabs and spaces.

[2018-03-26 21:04] ettorerizza opened #1554 "Enhancement : a contains() that support regex"
Issue #1550 shows that a [`contains()`](https://github.com/OpenRefine/OpenRefine/blob/master/main/src/com/google/refine/expr/functions/strings/Contains.java) function that accepts Regex might be useful. Now that @jackyq2015 has coded the [`find()`](https://github.com/OpenRefine/OpenRefine/blob/9ab897cb72111de58956721e46fb28f26f121f3b/main/src/com/google/refine/expr/functions/strings/Find.java) fun

[2018-03-27 01:54] jackyq2015 commented on #1549
@thadguidry I cannot reproduce this issue using the zipped project. It was loaded without any issue. could you please do a clean build on 2.8 and try again? If the problem still there, I guess the culprit might be other project. you can try to load the project only to verify this.

[2018-03-27 02:06] thadguidry commented on #1549
@jackyq2015 How much memory did you give it ?

[2018-03-27 03:30] jackyq2015 commented on #1549
I use default one 1400M

$ ./refine
You have 15904M of free memory.
Your current configuration is set to use **1400M** of memory.
OpenRefine can run better when given more memory. Read our FAQ on how to allocate more memory here:
https://github.com/OpenRefine/OpenRefine/wiki/FAQ:-Allocate-More-Memory
Starting OpenRefine at 'http://127.0.0.1:3333/'

21:52:31.646 [            refine_server] Starting

[2018-03-27 03:39] thadguidry commented on #1549
@jackyq2015 its the release version of 2.8  (there's no Ant tasks to perform) :)

[2018-03-27 06:41] quirkiest opened #1555 "Access to Preferences from Jython scripts"
using Version 2.8 on Windows 10

I would be awesome if we could set custom preferences and then access them from Jython in Expression dialog.  That way less technical users can add files in (e.g. a cleanse file) and have them referred to by entity name from scripts, which they then import using sys object.  Makes it much easier to distribute custom-functions without having the user have to touch t

[2018-03-27 09:11] wetneb commented on #1555
Can you give a bit more detail about how that would work? What sort of python expressions would you be able to write with this feature?

Intuitively I would be more in favor of exposing a clean virtualenv inside OpenRefine's folder where users could directly write their python modules (or install existing ones) that would be accessible from the scripts.

[2018-03-27 11:29] quirkiest commented on #1555
Hi Antonin,

Actually I think both would be useful. The virtualenv definitely the way to go for preloading of custom classes etc, but also prefs available in UI so that we can parameterize modules so that non-coders can configure them. E.g. a character strip file called via pref(‘stripfile’) with a value of c:\foo\bar\somefile.txt. User can then define & populate the file, and call functions which

[2018-03-27 12:36] jackyq2015 commented on #1549
@thadguidry You can post you whole log. There might be other error which leads to this exception.

[2018-03-27 14:04] thadguidry commented on #1555
Not against this issue, but... this issue has come up before where there's automation needs for scripting especially around batch processing.  Most data architects do this already in other tools.  I personally use Apache NiFi for that, where my users can actually modify the data flow even at runtime via Python scripts and change environment variables on a whim.

I'm curious about your less technic

[2018-03-27 15:20] thadguidry commented on #1549
So this happens right when I started OpenRefine 2.8 on my work laptop...

[code]

[2018-03-27 16:33] jackyq2015 commented on #1543
close it since it's dup of #1549

[2018-03-27 16:33] #1543 closed

[2018-03-27 16:34] jackyq2015 commented on #1549
The root cause seems still the Firefox 59  issue. I closed the #1543 since it's dup

[2018-03-28 02:33] quirkiest commented on #1555
Exactly correct!

Cheers,

*Warwick*

On Wed, Mar 28, 2018 at 1:05 AM, Thad Guidry <notifications@github.com>
wrote:

[2018-03-28 15:23] gobertm commented on #1554
Hi ,
As my first issue, I'd like to take this one.
I already tried to implement it, this looks like this :
![image](https://user-images.githubusercontent.com/20517186/38038623-b362a6a8-32ab-11e8-8fb8-94d65ebaabe5.png)

Before rushing into (my also first) PR I'll check the whole process before doing so (test code, documentation? )
And is it what you requested ?
It will work like the `partition` met

[2018-03-28 15:28] ostephens commented on #1554
Hi Maxime - sounds great!

What I find useful when looking at adding functionality like this is to have a list of test cases and what the expected outcome would be. This is useful in terms of communicating how the function will work, and also gives you a set of test statements you can include in your unit tests for the functionality.

In this particular case where you are changing an existing func

[2018-04-04 15:48] #1486 closed

[2018-04-04 15:48] #1487 closed

[2018-04-04 22:07] jackyq2015 commented on #1549
@thadguidry I installed the 59.0.1 on windows 10, 64 bit, but still cannot reproduce issue. But I got something weird though:
18:00:06.431 [                   refine] Starting OpenRefine 2.8 [TRUNK]... (62ms)
OpenGL Warning: crPixelCopy3D:  simply crMemcpy'ing from srcPtr to dstPtr
OpenGL Warning: crPixelCopy3D:  simply crMemcpy'ing from srcPtr to dstPtr
OpenGL Warning: crPixelCopy3D:  simply crMe

[2018-04-05 00:50] thadguidry commented on #1549
@jackyq2015 nope

[2018-04-05 08:34] gobertm commented on #1554
Hi,

(had a few days off).
I created PR #1558 .

I can not find any particular test on this function.
I tried creating mine, with simple line such as :
` Assert.assertEquals(invoke("contains", "it contains", "con"),true);`
`Assert.assertEquals(invoke("contains", "123contains", "\\d{3}"),true);`

but it seems I have to include a special evaluation function (something with Evaluable object) in order

[2018-04-05 09:26] ettorerizza commented on #1554
Hi @gobertm , here is the complete [Jacky's PR for the find function](https://github.com/OpenRefine/OpenRefine/pull/1432/files), this can perhaps be used as a model.

[2018-04-05 09:56] gobertm commented on #1554
@ettorerizza thanks! This is better. I rushed with the partition function implementation..
Test case works now.

[2018-04-05 18:05] DFoltzMorrison commented on #195
A problem with exporting from Mendeley to Bibtex is that non-ascii characters are converted into a LaTeX format, for example É becomes {'{E}}.

My solution was to export citations from Mendeley as an Endnote XML and import that into openrefine. I had to Join a few multi-valued cells after the import, but I avoided character encoding errors along the way.

[2018-04-05 19:47] ettorerizza commented on #195
@DFoltzMorrison The workflow "Bibtex -> JabRef : export to CSV -> Open Refine" explained above seems to work quite well.

[2018-04-05 20:00] DFoltzMorrison commented on #195
In most cases, yes. But Mendeley -> Bibtex can cause character encoding issues. É becomes {'{E}}, ö becomes {"{o}}, etc. That's obviously an issue with Mendeley that hasn't been addressed ([example 1 ](https://github.com/apcshields/zotero-bibtex-parse/issues/3), [example 2](https://github.com/Docear/Desktop/issues/426))

That's why I've suggested Mendeley -> export to Endnote XML -> openrefine in

[2018-04-05 20:05] ettorerizza commented on #195
Ouch, the [Python bibtex parser](https://pypi.python.org/pypi/bibtexparser) mentioned in your first link is anything but simple. I hope there is something similar in Java, otherwise we will not see this importer anytime soon...

[2018-04-05 22:30] thadguidry commented on #195
@ettorerizza There's is now a robust Java Bibtex parser https://github.com/jbibtex/jbibtex

[2018-04-06 02:02] jackyq2015 commented on #1549
can someone help to reproduce this bug with OpenRefine 2.8 under FF 59.0.1, Windows 10 64 bit?

[2018-04-06 07:15] ettorerizza commented on #1549
I'll try to work with Firefox today, but my version is 59.0.2.

[2018-04-07 01:42] jackyq2015 commented on #1549
@ettorerizza any result with 59.0.2?

[2018-04-07 09:58] ettorerizza commented on #1549
@jackyq2015 No problem yesterday working with this version of Firefox and OR 2.8 on Windows 10, but I have allocated a lot of memory to Refine and my datastets are relatively small.

[2018-04-07 12:11] jackyq2015 commented on #1549
@ettorerizza Thanks! If you use the default memory setting, can you reproduce it?

[2018-04-07 14:29] ettorerizza opened #1560 "n3 importer doesn't work"
When reporting a bug please provide the following information to help reproduce the bug:

#### Version of OpenRefine used (Google Refine 2.6, OpenRefine2.8, an other distribution?):
2.8

#### Operating Systems and version:
Windows 10

#### Browser + version used - Please note that OpenRefine doesn't support Internet Explorer but works OK in most cases:
Chrome 65

#### Steps followed to create the

[2018-04-07 14:46] thadguidry commented on #1560
@ettorerizza Yes there is a Java package for Reading Writing RDF serializations now called [Riot from the Jena framework](http://jena.apache.org/documentation/io/index.html)

[oaj.riot Package Summary](https://jena.apache.org/documentation/javadoc/arq/org/apache/jena/riot/package-summary.html)

[2018-04-07 14:48] ettorerizza commented on #1560
@thadguidry I was reading the code of the [RDF importer](https://github.com/OpenRefine/OpenRefine/blob/master/main/src/com/google/refine/importers/RdfTripleImporter.java) and, if I understand correctly, it should be able to parse N-triple, N3 and RDF/XML. Weird.

[2018-04-07 14:48] thadguidry commented on #1560
@ettorerizza give us a dump of the console please.

[2018-04-07 14:51] ettorerizza commented on #1560
Nothing special.

[code]

[2018-04-07 14:55] ettorerizza commented on #1560
it does not work either with LODrefine (based on OR 2.6) So I wonder if the n3 importator used to work in the past.

![screenshot-127 0 0 1-3333-2018 04 07-16-54-22](https://user-images.githubusercontent.com/6286410/38456374-7dc1606c-3a84-11e8-8a6d-4eadb183e902.png)

[2018-04-07 14:57] thadguidry commented on #1560
@ettorerizza I mean both consoles... including javascript ( from your Chrome browser CTRL + Shift + J )

[2018-04-07 15:01] ettorerizza commented on #1560
This ?

[code]

[2018-04-07 15:03] thadguidry commented on #1560
@ettorerizza yeah, but keep it open when you start OpenRefine and then perform your import test...does anything else show up in the console , any errors ?  Also...disable all your browser extensions when your testing stuff like this :)

[2018-04-07 15:10] ettorerizza commented on #1560
I tried with Firefox (disabling all extensions) and the error messages looks more explicit.

[code]

[2018-04-07 15:11] thadguidry commented on #1560
@jackyq2015 please fix :)  I also reproduced this same issue just now on the wikidata-extension branch I'm testing other things with.

[2018-04-07 15:26] thadguidry opened #1561 "Duplicate key "bounded-log-facet" when starting OpenRefine"
When reporting a bug please provide the following information to help reproduce the bug:

#### Version of OpenRefine used (Google Refine 2.6, OpenRefine2.8, an other distribution?):
Trunk - Master

#### Operating Systems and version:
Windows 10

#### Browser + version used - Please note that OpenRefine doesn't support Internet Explorer but works OK in most cases:
Firefox 59.0.2

#### Steps followe

[2018-04-07 20:44] jackyq2015 commented on #1560
From the code, seems the n3 format is still parsed as NT format. Tried to force it to parse as N3 but does not work for some reason.

[2018-04-07 21:41] ettorerizza commented on #1560
I tried with Google Refine 2.5 and with OR 2.6 RC1 on the [Data science workbench](https://labs.cognitiveclass.ai/tools/openrefine/) cloud : same result. Are we sure this importer has already worked once?

[2018-04-07 23:10] jackyq2015 commented on #1560
I don't think it has worked once. But no worry, since the JRDF library is deprecated, I think we can switch to JENA and that will be working.

[2018-04-08 01:32] #1561 closed

[2018-04-09 02:41] jackyq2015 commented on #1560
@ettorerizza I created the PR #1563. I tried several n3 files and it works fine.
Could you please help to verify it?

[2018-04-09 07:16] ettorerizza commented on #1560
@jackyq2015 Could you post an example of n3 file that works ? When I try, i get this error.

![sans titre 1](https://user-images.githubusercontent.com/6286410/38484098-aca8779c-3bd5-11e8-8d0a-aa6b3a3171a0.jpg)

Looks like it doesn't like prefix. But a n3/ttl file without prefix is just ntriple, am i wrong ?

For ntriple : it works, but it doesn't recognize the extension (the file is parsed as line

[2018-04-10 09:45] wetneb opened #1564 "Date parsing fails on formats that were previously supported"
When reporting a bug please provide the following information to help reproduce the bug:

#### Version of OpenRefine used (Google Refine 2.6, OpenRefine2.8, an other distribution?): master

#### Operating Systems and version: linux

#### Browser + version used - Please note that OpenRefine doesn't support Internet Explorer but works OK in most cases: not relevant

#### Steps followed to create the

[2018-04-10 23:31] jackyq2015 commented on #1560
@ettorerizza My bad. There is some issue with the format guesser by .n3. Not a parser issue. will fix it.

[2018-04-12 00:08] jackyq2015 commented on #1564
Your project maybe created from one of the dev version which don't have the Z at the end. Later in order to support old version, the Z is added to keep the same format as the old versions.

[2018-04-12 06:56] wetneb commented on #1564
@jackyq2015 I think the Z should also be added at parsing time if not present, then. My workspace is completely screwed by that…

[2018-04-12 15:46] thadguidry commented on #1564
@jackyq2015 my test5 workspace is also screwed up by this.  Although it is a test workspace and I backup using iterative "testX" workspace paths.  I guess Antonin doesn't know about our best practices of creating backups of the workspaces while developing with OpenRefine :)  @wetneb Now you know.  But seriously Jacky, yes it would be nice to have my test5 workspace fixed up.  Hmm.. perhaps just a

[2018-04-12 15:54] ostephens commented on #1564
I had the same issue - fixed it up by fixing all the data via find/replace across all metadata.json
I tend to feel that adding the Z at parsing time as suggested by @wetneb might be worth it to avoid issues for any other testers, although I don't have strong feelings about it

[2018-04-12 16:01] thadguidry commented on #1564
@ostephens yeah, or the simple fix... find/replace in the metadata.json :)  Good enough for now and works.

[2018-04-13 02:52] jackyq2015 commented on #1564
I tend to leave the code unchanged. It is unfortunate that it happened and screwed up the tester's workspace. But my impression is that it is not in a official release so very fewer user got impacted. So there is no backward comparability required. It is a mistake and it has been fixed already. Adding code to support the result introduced by the mistake is another mistake and will cause confusion.

[2018-04-13 10:30] Vern1erCa11per opened #1565 "reorder permanently with rows results in reordering with records"
#### version
     OpenRefine 2.8

#### OS
    Windows 10

#### browser
    chrome

#### Steps followed to create the issue:
1.  sort with rows mode from column menu
2.  reorder permanently with rows mode

#### Current Results:
Rows are fixed with the orders sorted by record values

#### Expected Results:
Rows are fixed with the orders sorted by row values.

[2018-04-14 15:17] #1565 closed

[2018-04-17 03:14] jackyq2015 commented on #1564
For the file format, we should have only one definition. Either have Z or without Z. Allowing 2 will cause confusion. However, to parse a date sting to date is a different story. I agree we should support more if possible.

[2018-04-17 18:41] thadguidry commented on #1088
@ostephens Could you get this done over the next 2 weeks ? (invoice-able work)

[2018-04-17 18:42] thadguidry commented on #742
@wetneb Can you work on a fix for this over the next 2 weeks ? (invoice-able work)

[2018-04-17 18:43] thadguidry commented on #1405
@wetneb Can you work on this over the next 2 weeks ? (invoice-able work)

[2018-04-17 19:50] thadguidry commented on #768
@jackyq2015 is this fairly well RESOLVED now, in our present ways of releasing ?  Can this be closed now ? or still an issue for Mac Kits in particular ?

[2018-04-17 22:09] thadguidry commented on #505
@wetneb would you say this is resolved now ?

[2018-04-18 12:54] thadguidry commented on #283
Browsers have been updated significantly now in 2018.  Closing.

[2018-04-18 12:54] #283 closed

[2018-04-18 13:07] thadguidry commented on #247
Not enough detail. Closing.

[2018-04-18 13:07] #247 closed

[2018-04-18 13:14] thadguidry commented on #234
No longer need this fixed. Closing.

[2018-04-18 13:14] #234 closed

[2018-04-18 13:27] thadguidry commented on #209
Closing as this is out of scope for our project. OS specific and other tooling exists to support running programs as a service.

[2018-04-18 13:27] #209 closed

[2018-04-18 13:29] thadguidry commented on #206
@wetneb Is this fixed now, where Freebase is not mentioned any longer ? If so, let's close this.

[2018-04-18 13:51] thadguidry commented on #198
@jackyq2015 @wetneb Don't we already handle this ?  Or only on import and we need to do more work to support giving options for changing encoding on export ?  This is an old issue and I feel we pretty much give most users what they most need regarding encoding support.  So I think we can close this, Yes ?

[2018-04-18 13:56] thadguidry commented on #191
Closing as unreproducible. @jackyq2015 has fixed #137 where the XML import was improperly merging records.

[2018-04-18 13:56] #191 closed

[2018-04-18 14:02] thadguidry commented on #186
OpenLibre supports importing DBF files and then saving as CSV.

Closing issue as **will not support**, since there is a pretty easy open source workaround.

[2018-04-18 14:41] thadguidry commented on #152
I'm an idiot.  Now I remember the use case... TO RECORDS !  So yeah, a new parseJsonToRecords() with an Add New Column.  And probably we want to have a sanity check and new data type for JSON values, like we do with Date, Numbers, etc.

[2018-04-18 14:53] thadguidry commented on #145
Closing as unreproducible. Data files needed for investigation.

[2018-04-18 14:53] #145 closed

[2018-04-18 15:06] thadguidry commented on #94
This should be handled by an extension.

[2018-04-18 15:12] thadguidry commented on #65
This should be handled by an extension.

[2018-04-18 17:41] thadguidry commented on #1550
@quan17 `partition()` is not about regex matching, nor is it intended for Zero-length assertions, but instead can use a pattern to partition against.  Your assuming to much with the `partition()` function.  If there's a no match, then nothing is returned (in this case an empty), and that's what we want.

IF you need to see the differences between rows 3,4,5 ... then use our correct function... `ma

[2018-04-18 17:41] #1550 closed

[2018-04-18 17:51] Gautamshahi opened #1569 "Can I write If Else control in Open Refine"
My date is as 14/08/1996 or /08/1996 or //1996, I want to fetch 08/1996 or 1966 i.e, without any slash. Can I write my code as, please provide the suggestion
![image](https://user-images.githubusercontent.com/3966230/38949146-360051d2-435f-11e8-8585-c8857f36ea4a.png)

[2018-04-18 19:00] thadguidry commented on #1569
Yes, just choose Python or Clojure as your scripting language...rather than GREL.  It will be easier for you.

[2018-04-18 19:00] #1569 closed

[2018-04-18 20:34] Gautamshahi commented on #1569
Hi,

I tried with that also but its giving "internal error", If possible can you
please share a link or sample code?

Regards,

On Thu, Apr 19, 2018 at 12:30 AM, Thad Guidry <notifications@github.com>
wrote:

--
Gautam Kishore Shahi,
Master Student,
DISI- University of Trento,
Italy

[2018-04-18 20:45] thadguidry commented on #1569
Lots of examples on our Wiki of IF statements with Python... https://github.com/OpenRefine/OpenRefine/wiki/Jython

[2018-04-19 08:31] wetneb commented on #198
Agreed, closing.

[2018-04-19 08:31] #198 closed

[2018-04-19 08:35] wetneb commented on #206
"Triple loader "and "MQL write" export options should just be removed as they were specific to Freebase.

[2018-04-19 08:46] #1554 closed

[2018-04-19 08:48] wetneb commented on #505
@thadguidry I can't think of a situation where I encountered something like this - I think we would need a screenshot to see exactly what the issue is. Closing as non reproducible in doubt.

[2018-04-19 08:48] #505 closed

[2018-04-19 08:54] ostephens commented on #1088
I'll have a look this weekend and let you know. Initial feeling is that this is doable in the next 2 weeks (that is to implement the solution you already wrote some code for, NOT implement the warning/display hint as in #443)

[2018-04-19 09:02] wetneb commented on #1564
The date parsing utilities class is used at various places in the code, so we should definitely make sure the fixes go there, and not just in the `toDate` function. Get date parsing right for once and then use that everywhere else. Making `ParsingUtilities.stringToDate` accept dates without `Z` does not "cause confusion", it just widens the formats accepted when reading dates in OpenRefine. This w

[2018-04-19 09:05] wetneb commented on #1405
@thadguidry, sure, but let's first get #1564 fixed, maybe? As there is some overlap.

[2018-04-19 09:08] wetneb commented on #1088
In a dream world, I would like to be able to use expressions that return arrays, and OR would directly split the array into multiple cells (in records mode). Currently, we first need to join the array with a separator, and then use "split multi-valued cells", which is not very clean.

[2018-04-19 09:08] wetneb commented on #1569
note that indentation is important in python: make sure you get the line breaks and spaces right!

[2018-04-19 09:11] wetneb commented on #152
yes that would be a useful feature to have.

[2018-04-19 10:43] ettorerizza commented on #1569
@Gautamshahi You're using a mix of GREL and Python on your screenshot. [An `IF` does not look like that at all in GREL](https://github.com/OpenRefine/OpenRefine/wiki/GREL-Controls#ifexpression-o-expression-etrue-expression-efalse). Moreover, your dates will be difficult to parse. If you just want the month (optional) and the year without slash, use this GREL formula instead.

`value.match(/.+?\/(.

[2018-04-19 10:46] ettorerizza commented on #1569
@Gautamshahi You're using a mix of GREL and Python on your screenshot. [An `IF` does not look like that at all in GREL](https://github.com/OpenRefine/OpenRefine/wiki/GREL-Controls#ifexpression-o-expression-etrue-expression-efalse). Moreover, your dates will be difficult to parse. If you just want the month (optional) and the year, use this GREL formula instead.

`value.match(/.*?\/+(.+)/)[0]`

![s

[2018-04-19 11:15] #1217 closed

[2018-04-19 15:27] thadguidry commented on #152
This issue can be handled by taking advantage of the existing Column Splitting command as @dfhuynh mentioned in #36
So anything that produces Arrays ... can be automatically split into Columns / Records.

[2018-04-20 10:59] Gautamshahi opened #1572 "Adding Prefix Issue"
I am getting the below error, even with 2.8 version.

![image](https://user-images.githubusercontent.com/3966230/39047187-92560550-44b6-11e8-954a-9581a7e4ecdf.png)

[2018-04-20 13:49] wetneb commented on #1572
Hi @Gautamshahi, this issue is specific to the RDF extension, which is not maintained by our team. As far as I am aware nobody maintains it at the moment.

[2018-04-20 23:43] Gautamshahi commented on #1572
Thank you.

[2018-04-21 12:56] #1572 closed

[2018-04-21 22:22] joniarroba opened #1575 "Translation via Weblate"
Currently using OpenRefine 2.8

The translation of Openrefine into Portuguese is done at weblate. My question the translation will be available within the default package? Many students in Brazil would benefit from it, meanwhile I am searching for workarounds.

#### Current Results:

Portuguese language does not show up.

#### Expected Results:

Portuguese language available to select.

[2018-04-22 07:33] wetneb commented on #1575
Hi @joniarroba, thanks for this report. The Portuguese translation will be available in the next version of OpenRefine, which should arrive soon-ish. It will look like this:
![image](https://user-images.githubusercontent.com/309908/39092531-2b0e2732-4610-11e8-9ebd-bb1dc1733ff5.png)

[2018-04-22 07:33] #1575 closed

[2018-04-22 16:29] thadguidry commented on #1226
Better I think for us long term would be Renjin http://docs.renjin.org/en/latest/introduction.html
I also really like the fact that it uses javax.scripting interfaces http://docs.renjin.org/en/latest/library/evaluating.html
I think just having R within OpenRefine would REALLY expand our user base.

[2018-04-22 18:11] joniarroba commented on #1575
Thanks for your prompt response! Looking forward to see it! For now we added manually the JSON file.

[2018-04-23 07:04] akbertram commented on #1226
I see there are a few language implementation now - can anyone point me to how these are defined? Would the jython extension be a good model?

[2018-04-23 07:44] wetneb commented on #1226
@akbertram yes, the jython extension is a good model, as it isolates very well the support for that language.

[2018-04-23 07:50] ettorerizza commented on #1226
@thadguidry +1000

R has a very active community, but a bit apart from other programmers. It's a booming language, as evidenced by each StackOverflow survey. R has also a steep learning curve, and being able to use it in a visual interface like that of OR would facilitate its learning.

Most importantly, a full support of R would bring a lot of potentialities to OpenRefine. The Jython extension wa

[2018-04-23 07:54] akbertram commented on #1226
@ettorerizza N.B. Renjin tries to provide the best of both worlds - platform independence and full support for modules with C, C++ and Fortran code. We have a tool chain that compiles these languages to JVM bytecode so they can be used as normal JVM libraries without having to help your users navigate the setup of a Fortran compiler. Builds of the CRAN packages are published to http://packages.ren

[2018-04-23 09:28] Vern1erCa11per opened #1577 "add flushing for overlaymodels"
I'm currently implementing the inverted index based on the columns of a project in my extension.
(If you're interested in it, see [this under-development extension](https://github.com/Vern1erCa11per/refine-fuzzymatch-extension))
The inverted index is in the OverlayModel and is dependent on the cell values and the column model of a project.
Therefore, it requires flushing on the project or column c

[2018-04-23 11:43] Vern1erCa11per opened #1578 "exporting project with only non-alphanumerical name generate empty name of file"
When reporting a bug please provide the following information to help reproduce the bug:

#### Version of OpenRefine used (Google Refine 2.6, OpenRefine2.8, an other distribution?):
2.8.0

#### Operating Systems and version:
Windows 10

#### Browser + version used - Please note that OpenRefine doesn't support Internet Explorer but works OK in most cases:
Chrome

#### Steps followed to create the i

[2018-04-23 11:56] wetneb commented on #1577
hi @Vern1erCa11per, thanks for starting this interesting discussion.
I think you are using the OverlayModel in a way that is quite different from the use case it was designed for (storing the Freebase Protograph or the RDF skeleton). As far as I can tell, the idea behind it being an *overlay* means that it is a data structure that it independent of the table data itself (it just stores metadata).

[2018-04-23 13:15] wetneb commented on #1441
This was solved by the Jython update, I think.

[2018-04-23 13:15] #1441 closed

[2018-04-23 13:25] wetneb commented on #461
Solved by the revamp of the google extension by @jackyq2015

[2018-04-23 13:25] #461 closed

[2018-04-23 13:26] wetneb commented on #747
@jackyq2015 is this still current?

[2018-04-23 15:27] #206 closed

[2018-04-23 23:18] thadguidry commented on #1441
@wetneb yeah it was, but we might see still some corner cases come up, but we can deal with them individually and update the Jython version.

[2018-04-23 23:25] thadguidry commented on #1226
UPDATE: So I posted a nice email to the R Lang users group to let them know we'd love to collaborate and explore some use cases, and not just this one.  Who knows, maybe later after our UI Refresh, they could help build some cool extensions for data exploration.  So we'll see some folks coming into this issue and also asking about things on our mailing list.  Expect it to get busy around here !  L

[2018-04-23 23:45] Vern1erCa11per commented on #1577
Thank you, @wetneb,  That's what I want !!!  I also require what sort of change it made.

[2018-04-24 11:51] #747 closed

[2018-04-24 11:52] jackyq2015 commented on #1363
Upgraded to new API.

[2018-04-24 11:52] #1363 closed

[2018-04-24 17:27] AlexandruAmarandei commented on #1409
Hello, I think I've solved the main issue. It still need the proper string id's in https://github.com/OpenRefine/OpenRefine/tree/master/main/webapp/modules/core/langs. Until then I've just used Select Files to Import. Should I also apply this to the import project html?

[2018-04-25 02:03] thadguidry commented on #1088
@ostephens Did you get a chance over the past weekend to look at this ?

[2018-04-25 02:08] thadguidry commented on #1036
@ostephens given the consensus from above -  Looks like we have all casually voted to return null for non-existent fields for non-null objects.  So Owen, can you work on implementing that ?

[2018-04-25 07:44] wetneb commented on #1378
Just realized that the types are already supported - reconciliation services just need to return types as follows:

[code]

I have updated the docs accordingly.

[2018-04-25 07:44] #1378 closed

[2018-04-25 08:16] ostephens commented on #1036
Will do

[2018-04-25 08:49] ostephens commented on #1088
Hi @thadguidry - yes I've been having a look at the possibility of populating the cell with a string representation of an array. I had a play around with the code suggested (see above), but have a problem with it in that this produces a different outcome to the one you see in the 'preview' window - which seems wrong to me - I think if we are going to store anything we should store what is shown in

[2018-04-25 13:18] wetneb opened #1583 "Incompatibility between Jena and Httpclient"
The Jena libraries added in #1563 do not work with our outdated version of Apache httpclient (4.2.5) when querying SPARQL endpoints. I propose to update httpclient to a newer version. It looks like we are not using this that much inside OR itself, just when downloading files at import time.

[code]

[2018-04-25 14:54] thadguidry commented on #1088
@ostephens Let's ask @jackyq2015 and @wetneb what they think.  Guys ?

[2018-04-25 14:59] thadguidry commented on #1583
+1 agree on updating httpclient.  Besides Java 9/10/11 gets a new shiny HttpClient soon anyways. http://openjdk.java.net/groups/net/httpclient/intro.html

[2018-04-25 23:50] ostephens commented on #1088
In the interests of "show, don't tell" I've made a PR #1586 to show what I think is the most basic implementation. Looking for comments on this rather than approval at this stage

[2018-04-26 03:44] thadguidry commented on #257
This seems to be a muted Error now, after Thad and Jacky have looked into it.  We no longer have the forever spinner, but we probably should be throwing an Error, since it seems as if the Sort worked, but in fact, it does nothing with mixed text/number/date values and asking to Sort by Date.

[2018-04-26 20:10] #1583 closed

[2018-04-26 21:07] #1564 closed

[2018-04-26 21:08] #1405 closed

[2018-04-27 19:20] Gautamshahi opened #1587 "Reconciliation Issue"
Hi,

I am trying to reconcile with Geoname , DBPedia etc. I think there is an issue with the SPARQL Endpoint. I tried with both OpenRefine 2.5 or 2.8.

Can you suggest the possible options to reconcile?

Regards.

[2018-04-28 08:03] wetneb commented on #1587
Hi @Gautamshahi, reconciling via SPARQL endpoints is a feature that is added by the RDF extension, which is not maintained by our team.

[2018-04-28 08:03] #1587 closed

[2018-04-28 12:13] ostephens opened #1588 "Date retrieved from Wikidata registering as wrong type"
When reporting a bug please provide the following information to help reproduce the bug:

#### Version of OpenRefine used (Google Refine 2.6, OpenRefine2.8, an other distribution?):
Comparing master+wikidata extesion with OR 2.8

#### Steps followed to create the issue:
Another date issue I'm afraid.  Not sure if this is related to general date handling or something about the wikidata extension -

[2018-04-29 15:12] jackyq2015 commented on #1287
Since this post has been a while, just to recap that we agree that we should treat the ms date part as the "fraction of the second", It 7380 will be 380. You don't lost the 7 sec since it is shifted to sec unit.

But I will add the support for ns for datePart function. Please confirm

[2018-04-29 18:38] thadguidry commented on #1287
@jackyq2015
1. Correct.  datePart() is just like moment.get() ... where we are GETTING a particular Part of a DateTime.  Our docs actually say "Returns part of a date".  So if we ask to return "ms", or "milliseconds", it should only return the "ms" part....NOT convert the whole Date to milliseconds.  That's a completely different function.

2. We also still need a Unix Epoch Time conversion functi

[2018-04-30 15:25] griii2 opened #1589 "Unable to follow FAQ tutorial to allocate more memory for Mac"
When reporting a bug please provide the following information to help reproduce the bug:

#### Version of OpenRefine used (Google Refine 2.6, OpenRefine2.8, an other distribution?):
OpenRefine2.8

#### Operating Systems and version:
macOS 10.12.3

#### Browser + version used - Please note that OpenRefine doesn't support Internet Explorer but works OK in most cases:
Chrome

#### Steps followed to c

[2018-04-30 15:31] thadguidry commented on #1589
Thanks for this David!  Do you care to update our Wiki FAQ ?  I'll give you write access to fix this up and then let us know in this issue and we'll close it out.

[2018-04-30 15:40] thadguidry commented on #1589
@griii2 Actually, you should already have EDIT rights for our Wiki.  Look for the Edit button in the top right corner of any Wiki page.

[2018-04-30 17:03] wetneb commented on #1588
So, here is how I understand the situation:
when @jackyq2015 worked on last modified dates he undertook to migrate from old-style `Date` and `Calendar` classes to the modern implementations, which was not necessary in the migration from JDK7 to JDK8 but is generally a sensible thing to do. However, this work has not been finished so there are discrepancies in the code (some parts still work with t

[2018-05-01 01:49] thadguidry commented on #1588
I say we go forward.
And its not hard to go forward... it just means everyone putting better Tests in place where we are lacking them.
Like here especially lacking:
https://github.com/OpenRefine/OpenRefine/blob/master/main/tests/server/src/com/google/refine/tests/expr/functions/ExpressionUtilsTests.java

But basically adding good tests for these 44 source files that involve Date:
https://github.co

[2018-05-01 07:01] wetneb commented on #1588
@thadguidry a full migration would be very costly (as you said there are many different classes which still use that). There might be ways to isolate that usage (for instance, it is probably hard to migrate the internals of CalendarParser to use the new classes, but it should be doable to just change its interface).
Personally I will not have time to do a full migration before at least 6 weeks…

[2018-05-01 08:56] griii2 commented on #1589
Hi Thad, there is a misunderstanding, I have no idea how to allocate more memory - I was unable to follow the FAQ and I don't know what to do.

[2018-05-01 09:31] ettorerizza commented on #1589
The tutorial is probably a bit outdated. Simply change “-Xmx1024M” into something else, eg “-Xmx2048M” or “-Xmx8G”.

[2018-05-01 17:02] jackyq2015 commented on #1588
i will take a look. but date is an internal type of openrefine. we are
moving to java 7 date to java 8 time api. there is nothing wrong with the
type. the broken part is the function.

On Tue, May 1, 2018, 3:01 AM Antonin Delpeuch <notifications@github.com>
wrote:

[2018-05-01 22:23] Gautamshahi opened #1590 "Issue with Reconcilation"
Hi,
I am trying to reconcile my data but I am getting the issue with the SPARQL Endpoint, then I tried with the RDF Dump file then also I am getting the Issue, for a continuous long time its showing working.

Can you please suggest the other option?

If not, please suggest some other tool/way reconcile the data.

Regards,

[2018-05-02 00:48] thadguidry commented on #1589
@griii2 if you have further problems just let us know on our mailing list.

[2018-05-02 00:48] #1589 closed

[2018-05-02 06:45] wetneb commented on #1590
Hi @Gautamshahi, reconciliation via SPARQL endpoints is a feature of the RDF extension, not OpenRefine itself. This extension is not maintained by our team. The most up to date fork is https://github.com/stkenny/grefine-rdf-extension, you can try this version and submit your issues there.

[2018-05-02 06:45] #1590 closed

[2018-05-02 21:07] wetneb commented on #1588
`toDate('2017-01-01T00:00:00Z').type()` gives `java.time.OffsetDateTime` whereas `toDate('2017-01-01').type()` gives `date` because since your partial migration the `toDate` function can return various types depending on the input… I can provide a quick fix for that but it does not fix the root cause.

This situation where both old and new date classes are allowed as cell values is dangerous - now

[2018-05-03 02:57] jackyq2015 commented on #1588
I think the java 8 time API is the right way to go even it will take effort. It is safe to just keep the java 7 Date and Calendar API but it is not the long term solution. The original code has a pattern to deal with the date like this:
[code]
I doubt if it's necessary. Even it is, I think some of them is for backward compatibility.  We can consider to use the OffsetDateTime to unify those kind of

[2018-05-03 06:19] wetneb commented on #1588
I don't think dates should be stored as strings - this would go against the current design of storing strings, numbers, patterns and dates as different Java objects. For now, we need to make sure all dates stored in cells use the Java 7 classes, not the Java 8 ones, so that we don't break compatibility with GREL and extensions which rely on that. This is especially important because this introduce

[2018-05-05 00:47] #1287 closed

[2018-05-05 13:27] LisovaOlena opened #1593 "cource_work"
When reporting a bug please provide the following information to help reproduce the bug:

#### Version of OpenRefine used (Google Refine 2.6, OpenRefine2.8, an other distribution?):

#### Operating Systems and version:

#### Browser + version used - Please note that OpenRefine doesn't support Internet Explorer but works OK in most cases:

#### Steps followed to create the issue:

#### If you are a

[2018-05-05 13:36] wetneb commented on #1593
Hi @LisovaOlena, the issue you have filed is empty. I am closing it, feel free to get back to us if you actually have something to report.

[2018-05-05 13:36] #1593 closed

[2018-05-06 06:45] #742 closed

[2018-05-06 06:46] #1376 closed

[2018-05-06 06:46] #1213 closed

[2018-05-06 06:49] wetneb commented on #1249
This is not going to be feasible given the sort of metadata we have in projects and the sort of reference that is expected in Wikidata. One better way to ease adding references in Wikidata schemas would be to provide a way to copy/paste them as suggested by Owen.

[2018-05-06 06:49] #1249 closed

[2018-05-06 06:52] wetneb commented on #1253
Closing this because we still don't have any description of how RDF would work for data import - we would need detailed specs for that. People can use the existing QuickStatements exporter and plug that to https://github.com/marfox/qs2rdf.
Feel free to reopen if specs are published eventually.

[2018-05-06 06:52] #1253 closed

[2018-05-06 06:56] wetneb commented on #1269
This feature is still experimental and few properties use it in Wikidata - so I'm removing the high priority.

[2018-05-06 06:59] wetneb commented on #1520
I plan to work on this at the Wikimedia Hackathon 2018:
https://phabricator.wikimedia.org/T193875

[2018-05-07 15:29] ostephens opened #1595 "Concatenating 'null' to a string with '+' results in null"
When reporting a bug please provide the following information to help reproduce the bug:

#### Version of OpenRefine used (Google Refine 2.6, OpenRefine2.8, an other distribution?):
OpenRefine 2.8

#### Steps followed to create the issue:
In an expression editor type the grel:
`"string" + null`

#### Current Results:
Output is

`null`
#### Expected Results:
All other types (dates, numbers, boolean

[2018-05-07 15:44] ostephens commented on #1595
This behaviour is controlled in /main/src/com/google/refine/grel/ast/OperatorCallExpr.java in the evaluate method

[2018-05-07 16:04] ostephens commented on #1595
Updated to correct the expected behaviour as I had previously mis-represented the outcome of `toString(null)`

[2018-05-08 22:54] lucaswerkmeister opened #1596 "Directly use column as reconciliation results"
I have not been able to find a way to directly use a column as reconciliation results. In the case of Wikidata, reconciling a column of item IDs works (I assume it’s just due to the fact that `wbsearchentities` supports searching for the item ID), but it takes an unnecessarily long time.

This would be very useful for a kind of workflow where I don’t want to work with the dataset in OpenRefine all

[2018-05-09 01:04] thadguidry commented on #1596
@lucaswerkmeister are you trying to figure out how to import your data into an OpenRefine project and limit by a certain number of rows ? or limit by only a few columns ?

One trick to do systematic subsetting of the data set is to create a
custom text facet on any column with this expression

     mod(row.index, 10)

Then select one facet choice at a time.

It is hard to figure out exactly what i

[2018-05-09 06:29] lucaswerkmeister commented on #1596
Sorry, that doesn’t really help me, there’s some big misunderstanding between us – I’m definitely not interested in limiting anything :)

Say I have a data file like this:
[code]
I want to import it into OpenRefine and use column 2 as Wikidata IDs directly, without going through the lengthy reconciliation process. I suppose this could also be phrased as “set the match for each cell based on an exp

[2018-05-09 12:25] jackyq2015 commented on #1596
Not sure that can be done directly or not.
If not,  you might need "edit column"->"add column by fetching URL" if you have have the wikidata Id:
"https://www.wikidata.org/wiki/" + value. Then you need to parse the result using:
https://github.com/OpenRefine/OpenRefine/wiki/StrippingHTML

[2018-05-09 13:07] ostephens commented on #1596
I think what you'd need to be able to do for this to work is to essentially be able to set the:

- identifierSpace to the correct URL for the service from which the IDs are derived (e.g. https://wikidata.org/wiki/)
- cell.recon.match.id

for each cell containing an identifier. The only way of doing this at the moment is via the Reconciliation process afaik.

I suspect the issues in terms of adding

[2018-05-09 13:37] thadguidry commented on #1596
@ostephens is correct.  The right way to do it is not skip the reconciling.  And instead just speed up the reconciling.  One way this was done in the past was that with Freebase service (prior to Wikidata), you could tell Freebase that you in fact had MID identifiers already in a column...then Freebase would use a much faster index lookup that OpenRefine could send over 1000 MID lookups in a batch

[2018-05-10 21:56] ostephens commented on #1595
Note that @thadguidry describes this behaviour as correct in #820

[2018-05-10 22:02] thadguidry commented on #1595
@ostephens Thad describes it as The Most Preferred Behavior By The Majority Our Users :)

[2018-05-11 11:39] ostephens commented on #1595
OK - closing this then as it is preferred behaviour

[2018-05-11 11:39] #1595 closed

[2018-05-11 14:20] psychemedia commented on #1226
This makes me wonder: if OpenRefine was a Jupyter client, and supported a Jupyter kernel connection on the back of `Edit cells > Transform > Language`, you would be opening up support for all manner of things, especially if there was (Apache Arrow](https://github.com/OpenRefine/OpenRefine/issues/1469) data transfer in place (which would work with or python/pandas dataframes?).

I wonder if there a

[2018-05-11 17:26] ostephens commented on #1185
I'm not seeing this error on the current master - @thadguidry are you able to re-test with the same file as reported above?

[2018-05-11 18:58] ostephens opened #1599 "Russian language file contains duplicate keys"
When reporting a bug please provide the following information to help reproduce the bug:

#### Version of OpenRefine used (Google Refine 2.6, OpenRefine2.8, an other distribution?):
Current build from master

#### Current Results:
translation-ru.json has 25 duplicate JSON keys:

      "log-length-facet":"Логарифмический фасет по длине текста",
      "copy-val":"скопировать значение исходной колонк

[2018-05-11 20:12] ostephens opened #1600 "Trying to undo adding date from reconciled value gives error"
When reporting a bug please provide the following information to help reproduce the bug:

#### Version of OpenRefine used (Google Refine 2.6, OpenRefine2.8, an other distribution?):
Switching between OpenRefine 2.8 and build from master branch or master branch + #1597

#### Steps followed to create the issue:
In OpenRefine 2.8

- Reconcile a column to Wikidata
- Add a column using "Add columns fro

[2018-05-12 02:04] thadguidry commented on #1226
@psychemedia Do you know R Lang well enough ?  Would you like to have a Hangout this weekend to show me ideas ?

[2018-05-12 02:30] thadguidry commented on #1185
@ostephens Nope.  Can't recreate now.  Seems like from the log that Apache POI had a marshalling problem probably thrown up from some bit/byte that it didn't like while Zipping.  I'll close this.  We can reopen when I or someone else comes across the issue again on export creating large-ish .XLSX files

[2018-05-12 02:30] #1185 closed

[2018-05-12 02:31] thadguidry commented on #1599
Tested as fixed !  Thanks Owen !

[2018-05-12 02:31] #1599 closed

[2018-05-12 21:05] jackyq2015 commented on #1600
I can reproduce the issue. But it does not have to open it from the master version of OR. To reproduce on V 2.8:
1. add a date column from recon
2. shutdown the OR
3. Reopen the OR
4. undo the column just added

[2018-05-12 21:12] ostephens commented on #1600
Checked and I see the same behaviour. I'm guessing that until you restart OR the value is cached?

[2018-05-12 21:29] jackyq2015 commented on #1600
yes, it is cached. Let me try V2.7 and report.

[2018-05-12 21:29] ostephens commented on #1600
I don't think that feature was in 2.7

[2018-05-12 21:30] ostephens commented on #1600
My guess is that it is something to do with the history writer on that feature not writing dates to the history correctly - but I'm about to get on a plane for 9hrs so can't look in more detail now

[2018-05-12 23:36] jackyq2015 commented on #1600
@ostephens Right, just checked this feature is not in 2.7

[2018-05-14 16:32] akuckartz commented on #1027
Please remove the ‘wontfix‘ label.

[2018-05-15 12:11] wetneb commented on #1596
The main reason why it is hard to get rid of calls to the service is that we currently need to fetch both the labels and the types for each item. We could in principle have an operation that blindly reconciles the cells without any calls, using the ids as labels and without adding any types, but it would be a sort of poor-man's reconciliation…

As for the speed: the Wikidata service should not do

[2018-05-15 16:31] thadguidry commented on #1596
@wetneb Lucas just replied to my question on the wikidata-tech mailing list about fastest query to verify a QID...

"If you have the luxury of access to the replica servers (which is the
case for the reconciliation service, right?), then I doubt any API is
going to beat a raw SQL query:

$ sql wikidata 'SELECT page_title FROM page WHERE page_namespace = 0 AND
page_title IN ("Q12345", "Q123456", "Q

[2018-05-15 19:30] mungewell opened #1603 "GREL Cell Cross - Error: java.lang.ClassCastException: java.lang.Double cannot be cast to java.lang.String"
When reporting a bug please provide the following information to help reproduce the bug:

#### Version of OpenRefine used (Google Refine 2.6, OpenRefine2.8, an other distribution?):
Version 2.8 [TRUNK]

#### Operating Systems and version:
Windows7

#### Browser + version used - Please note that OpenRefine doesn't support Internet Explorer but works OK in most cases:
Chrome

#### Steps followed to

[2018-05-16 11:20] martinjrobins opened #1604 "Support for Java versions > 9"
Hi, it doesn't seem like OpenRefine2.8 currently supports Java versions greater than 9, can this be fixed to allow newer Java versions?

I notice that https://github.com/OpenRefine/OpenRefine/blob/master/refine#L843 only allows versions 6-9, but not greater than this. Adding a 10 onto this list worked OK for me

#### Version of OpenRefine used (Google Refine 2.6, OpenRefine2.8, an other distributi

[2018-05-16 12:45] wetneb commented on #1604
Indeed this constraints needs updating as we no longer support Java 7 or older. Would you consider making a pull request for that?

[2018-05-16 13:31] martinjrobins commented on #1604
Can do, created a pull request here #1605

[2018-05-16 20:33] Stolyassa commented on #1522
Hello @thadguidry , Thank for the answer. I do not know why the error shows % symbol because there was not any in the actual path. I changed the path name with what you suggested as C:\openrefine2.8\

The issue contiunes just like before. Here is the error.

You have 4101M of free memory.
Your current configuration is set to use 1400M of memory.
OpenRefine can run better when given more memory. Re

[2018-05-16 22:43] thadguidry commented on #1522
@Stolyassa is it possible you have Python already installed on a weird path ?  Do a cmd.exe and then type

`python -V`

what is the output ?

@ettorerizza any ideas also what might be the issue ?

[2018-05-17 00:31] Stolyassa commented on #1522
The output is in below.

Microsoft Windows [Version 6.3.9600]
(c) 2013 Microsoft Corporation. Tüm haklari saklidir.

C:\Windows\system32>python -V
Python 3.6.3

C:\Windows\system32>

[2018-05-17 01:09] thadguidry commented on #1522
@Stolyassa Ah !  can you uninstall that particular Python installation?  or if it is for other uses, then perhaps you can temporarily remove that Python from your Path in System or User environment variables on your Windows system ?  The reason is that I suspect it is getting in the way and Python 3.6.3 is being used as the interpreter instead of the Python 2.7.x already supplied in the Jython JAR

[2018-05-17 08:43] ostephens commented on #1036
Closed by #1598

[2018-05-17 08:46] ostephens commented on #820
With #1598 all the work spawned by this issue has been completed. Thanks to @eximius313 and @thadguidry for their patience and explanations and @joanneong for delivering some of the new functions.

Feeling really pleased with the work we've done here - hope @eximius313 and others find it helpful

[2018-05-17 08:46] #820 closed

[2018-05-17 10:59] dbutlerdb commented on #1409
Is this one solved?

[2018-05-17 11:00] ostephens commented on #1409
I don't think anyone has got back to @AlexandruAmarandei so I don't think is resolved yet

[2018-05-17 12:37] ostephens opened #1607 "Using 'double tick' on reconciled cell to "create a new item for this cell and all identical cells" results in empty identifierSpace"
When reporting a bug please provide the following information to help reproduce the bug:

#### Version of OpenRefine used (Google Refine 2.6, OpenRefine2.8, an other distribution?):
OR 2.7, OR 2.8 and build from current master

#### Operating Systems and version:
MacOS High Sierra

#### Browser + version used - Please note that OpenRefine doesn't support Internet Explorer but works OK in most case

[2018-05-17 12:48] ostephens opened #1608 "Choosing "Reconcile->Actions->Create a new topic for cell" results in cells without an identiferSpace set"
When reporting a bug please provide the following information to help reproduce the bug:

#### Version of OpenRefine used (Google Refine 2.6, OpenRefine2.8, an other distribution?):
2.7, 2.8 and build from current master

#### Operating Systems and version:
MacOS High Sierra

#### Browser + version used - Please note that OpenRefine doesn't support Internet Explorer but works OK in most cases:
Saf

[2018-05-17 12:49] ostephens commented on #1607
This problem also occurs when choosing Reconcile->Actions->Create one new item for similar cells

[2018-05-17 12:51] ostephens commented on #1607
This problem also occurs when using the option to:

"Search for match"
In the pop-up Selecting "Match other cells with same content"
Clicking 'New item' button

[2018-05-17 12:55] ostephens commented on #1607
I think this is essentially any time "recon-judge-similar-cells" is called with parameter shareNewTopics: true

[2018-05-17 15:48] wetneb commented on #1607
Okay so there was probably a problem with my #1568, let me investigate.

[2018-05-17 16:11] wetneb commented on #1607
@ostephens I cannot reproduce this. Based on your first screenshot above, it looks like you have not used the Wikidata reconciliation service, but another one (maybe VIAF?). So that would explain why you cannot create new Wikidata items based on these reconciled cells.

[2018-05-17 16:31] ostephens commented on #1608
I'd wondered about the situation where you did a reconcile when you already had a filter on - would the cell then lack the identifierSpace?

But agree about the general principle

[2018-05-17 16:41] wetneb commented on #1608
In case of a partial reconcile of a column, you still get a ReconConfig object in the column metadata, so matching unreconciled cells to new should not be an issue.

[2018-05-17 17:07] ostephens commented on #1607
Hmm - I think I may have tested on a version without your #1568 fix in place - at least I've double checked I'm working from the most up-to-date version of Master and now I'm not seeing the issue.

Sorry

[2018-05-17 17:07] #1607 closed

[2018-05-17 17:10] eximius313 commented on #820
Thank you very much `OpenRefine` team!

[2018-05-18 01:45] jackyq2015 commented on #1603
why you need cross function instead of just use the column in the same project?

Also, could you please paste the exception from the back end?

[2018-05-18 02:17] magdmartin commented on #1226
Linking to the discussion on [OpenRefine user mailing list. ](https://groups.google.com/d/msg/openrefine/3sd302cIplo/jXJnCRECBgAJ)

[2018-05-18 10:25] wetneb opened #1612 "Add OAuth support to Wikidata extension"
With @lucaswerkmeister we are exploring hosting OpenRefine instances for the Wikidata community. As part of that, we would need to migrate Wikidata authentication to OAuth.

https://github.com/scribejava/scribejava/pull/852 adds support for MediaWiki OAuth to the scribejava OAuth library. We also need support in Wikidata-Toolkit (see https://github.com/Wikidata/Wikidata-Toolkit/issues/268).

-----

[2018-05-18 12:52] lucaswerkmeister commented on #1612
Note that, as far as I’m aware, it’s not yet clear what this will mean for the instances we’re *not* hosting :) I currently see two possibilities:

1. Keep username/password authentication and use that if no OAuth consumer has been configured.
2. Automatically register an owner-only consumer (which does not require review by Wikidata administrators) and use that if no other OAuth consumer has been

[2018-05-18 12:57] lucaswerkmeister commented on #1612
(The advantage of option 2 would be that we don’t need to store the user’s password indefinitely, we only need it once to register the owner-only consumer and then store the consumer/access key/secret instead.)

[2018-05-18 13:44] lucaswerkmeister commented on #1612
BTW the Phabricator task for a hosted OpenRefine instance is [T194767](https://phabricator.wikimedia.org/T194767).

[2018-05-18 14:32] wetneb opened #1614 "README is unhelpful"
Here is some user feedback from the Wikimedia Hackathon:

Someone checked out the master branch but didn't know how to run OpenRefine from that. Usually, people expect to find usage instructions in the README file. Authors should not go in the README file (there is often an AUTHORS or CONTRIBUTORS file for that).

So, I propose that we remove the authors from there and instead add some simple usag

[2018-05-18 14:39] mungewell commented on #1603
I am attempting to validate/cleanup data provided by a 3rd party. The data is from 2 sheets of a XLS which I have imported as separate projects, they have already (poorly) cross referenced it.

Not sure where I might find the 'backend' info, didn't see any log files under:
`C:\Users\swood\AppData\Roaming\OpenRefine`

[2018-05-18 15:06] ostephens commented on #1614
I don't think it is unusual for authors/contributors to be in the README file - but I'm not against having a separate CONTRIBUTORS file.

[2018-05-18 15:08] ostephens commented on #1614
For someone checking out the master branch they would need to build before they could run. This is probably more information than we want in a README I think. We have a whole wiki page on it! https://github.com/OpenRefine/OpenRefine/wiki/Building-OpenRefine-From-Source

I'm sure we could improve this - but I think it would make more sense for the README to:

1) Point at how to download the current

[2018-05-18 15:28] wetneb commented on #1614
still, if you are cloning from a terminal and using a text editor to read the README, you might not want to have to click on links to find out that all you need to do is `./refine` (if you already have Java and Ant installed, that will build OR for you before launching it).

Basically all the information this person was looking for was this `./refine` command - it does not take much space to menti

[2018-05-18 15:29] wetneb commented on #1614
also, the contributors we have in the readme were copied from GitHub so that goes out of sync regularly (unless someone vouches to keep that up to date?)… If we want to credit the original creators there, that's fine with me, but the list of all committers does not belong there IMHO.

[2018-05-18 15:32] wetneb commented on #1614
last grief about this authors list - are we sure these people want their email addresses listed like this, without any spam protection? I know it's also available from the git logs, but still, some might find it a bit impolite.

[2018-05-18 15:34] ostephens commented on #1614
I'm OK with something in the README about running quickly as long as there is a clear link to the full directions and pre-requisites are mentioned.

I think you'd need to run ./refine clean before ./refine - I get errors if I just run ./refine without cleaning first (not sure if that is something we could tidy up somewhere?)

[2018-05-18 15:34] thadguidry commented on #1614
Its fine.  You guys can make a CONTRIBUTORS file and move things over to that as necessary

[2018-05-18 16:15] wetneb commented on #1614
@ostephens I'm surprised you need to run `./refine clean` - for me (and this user) it is sufficient to do `./refine` from a fresh clone. What happens exactly for you if you don't clean first?

[2018-05-18 16:19] wetneb commented on #1614
hmmmm, interesting oO

[2018-05-18 16:19] ostephens commented on #1614
This is on macOS High Sierra.
If I run clean first:

[code]

[2018-05-18 16:21] wetneb commented on #1614
I guess it would be interesting to know exactly what `./refine clean` does for you on a fresh clone (maybe just dump the contents of a `find .` call before and after, and look at the diff?)

[2018-05-18 17:54] wetneb commented on #1612
I thought about the workflow for the consumer-only tokens and it still looks a bit blurry to me. To request an owner-only token, I assume you must be logged in as the owner. So, the first time a user uses OpenRefine, they would first need to login with login / password via OpenRefine so that we can request n owner-only token, and then have them go through the OAuth process with these credentials…

[2018-05-18 19:14] lucaswerkmeister commented on #1612
Yeah, and apparently owner-only tokens don’t support the usual “three-legged OAuth flow”, you *have* to use the “one-legged OAuth flow” instead, so we won’t even be able to reuse all the code from full OAuth… it’s probably much simpler to just stick to normal username/password authentication for local instances.

[2018-05-18 19:29] jackyq2015 commented on #1603
You should be able to see the console for it. it is not in the log.

[2018-05-18 19:57] wetneb commented on #1612
Okay. By the way, do you know if it is possible to edit with a bot flag via OAuth? Maybe there is a particular scope to request for that, but at least for https://tools.wmflabs.org/oabot/ it seems that the bot flag is not added to the edits… So we should make sure to get the right scopes when registering the consumer.

[2018-05-18 21:38] lucaswerkmeister commented on #1612
I think you have to explicitly set the `bot` parameter in `action=edit` or `action=wbeditentity`, and have the `bot` right (usually: be part of the “Bots” group).

[2018-05-18 21:59] wetneb commented on #1612
yes, but even when both conditions are met, User:OAbot's edits made via OAuth were not flagged.

[2018-05-18 22:07] lucaswerkmeister commented on #1612
Are you sure that’s not a bug in OAbot? You’re setting `data['bot'] = ''`, and it looks like that might cause Python `requests` to completely drop the parameter:

[code]
Notice how the `form` key only has `action: edit`, but no `bot`.

[2018-05-18 22:19] lucaswerkmeister commented on #1612
`data = (('action', 'edit'), ('bot', ''))` (list of tuples instead of dict) works, though.

[2018-05-19 18:03] #1588 closed

[2018-05-19 19:00] jackyq2015 opened #1616 "javax.xml.bind.DatatypeConverter.parseDateTime is not included in Java 9 by default"
When reporting a bug please provide the following information to help reproduce the bug:

#### Version of OpenRefine used (Google Refine 2.6, OpenRefine2.8, an other distribution?):
OpenRefine2.8

#### Operating Systems and version:
Ubuntu 18.0.4

#### Browser + version used - Please note that OpenRefine doesn't support Internet Explorer but works OK in most cases:
Chrome

#### Steps followed to c

[2018-05-20 10:45] wetneb commented on #1600
So I have looked into this and this bug comes from the original Freebase implementation that I have reused: the serialization and deserialization codes are just inconsistent. I'm trying to think of a fix that will both fix serialization for new changes while fixing somehow deserialization for the changes that have already been written.

[2018-05-20 12:31] thadguidry commented on #1600
@wetneb Can you check the Project version and if 2.7 or earlier run original, otherwise run newer ?
Perhaps yet another way is when we load the history file itself...you can inspect the file date and if earlier than "2017-11-18" consider it original...and when we write back, ensure it becomes newer ?

[code]

[2018-05-21 02:30] jackyq2015 commented on #1614
@ostephens when you copy from your current folder, maybe a merge happened so you ended up with some old classes which caused the issue.

[2018-05-21 16:58] ostephens commented on #1614
@jackyq2015 you are right there is something odd going on here - if I clone directly from the OpenRefine repo it works fine. At the moment there is something odd if I try to do it from my fork - even though that is synced up to the OR master.

Anyway - definitely something about my setup rather than a general problem

[2018-05-21 17:09] thadguidry commented on #1614
@ostephens on your fork...do
 `git reset @{u} --hard`
 and this will ensure that it does a hard reset against the upstream.  Then "refine clean" and test again.

[2018-05-24 12:47] ostephens commented on #1614
Thanks @thadguidry that seems to have done the trick

[2018-05-24 15:44] richiebful opened #1620 "Ubuntu Linux 16.04, OpenJDK 1.9.0: java.lang.Error: class java.lang.IllegalAccessException"
#### Version of OpenRefine used (Google Refine 2.6, OpenRefine2.8, an other distribution?):
- OpenRefine 2.8
- **OpenJDK 1.9.0 (Java 9)**

#### Operating Systems and version:
Ubuntu Linux 16.04
OpenJDK

#### Browser + version used - Please note that OpenRefine doesn't support Internet Explorer but works OK in most cases:
Firefox 60.0.1, but this error isn't browser-related

#### Steps followed to

[2018-05-24 19:02] jackyq2015 commented on #1600
fixed by PR #1617

[2018-05-24 19:02] #1600 closed

[2018-05-25 01:42] DFoltzMorrison opened #1623 "Error when trying to change workspace via -d terminal command"
#### Version: OpenRefine2.8

#### OS: Linux Mint 18.3; KDE 5.8.9; Kernel 4.4.0-53-generic

#### Browser: Chromium 66.0.3359.139

I am trying to switch between different workspaces [as listed in the FAQ](https://github.com/OpenRefine/OpenRefine/wiki/FAQ).

I've made a copy of the exact contents of my current workspace into a folder ('/workspace a') on another drive, as well as copies of two other w

[2018-05-25 02:06] jackyq2015 commented on #1623
you need to remove the space in the path.

[2018-05-25 02:16] DFoltzMorrison commented on #1623
I can rename the workspace directory to remove the space, but the drive name has a space in it:
 `/media/USER/HDD 00/openrefine_workspaces/`.

Removing the space in the drive name allows openrefine to launch in my browser and displays the following:

[code]

[2018-05-25 14:05] DFoltzMorrison commented on #1623
I renamed the workspace directory to remove the space, and had to change the parent drive's label in a partition editor to remove another space.

I can successfully switch between workspaces, but now have the job of fixing a lot of broken file paths.

Perhaps a future version of openrefine can support file paths with spaces wrapped with quotes?

[2018-05-25 19:35] eximius313 commented on #820
By the way - when do you plan to release 3.0?

[2018-05-26 09:13] ostephens commented on #820
We will be releasing a beta version of 3.0 very soon (in the next few days I hope but it is all down to someone having the time to build the release)

[2018-05-26 12:41] thadguidry commented on #332
Fixed in #1539 and #1598

[2018-05-26 12:42] thadguidry commented on #252
Fixed in #1539 and #1598

[2018-05-26 12:42] #252 closed

[2018-05-26 12:49] thadguidry commented on #1145
@wetneb Considering your comment in #1496 about this issue,

Do we consider this issue as not fixable/not warranted ?  I need a use case for this issue presented so that it shows where something with GREL Eval causes tremendous grief for folks...otherwise 👎 Can you put that use case together for me to understand the impact of this issue ?

[2018-05-26 21:58] jackyq2015 commented on #1623
@DFoltzMorrison  Glad it works eventually. sorry for the inconvenience. Will add into next milestone.

[2018-05-27 16:55] thadguidry opened #1626 "Quotes not shown when unchecking Quote option on CSV/TSV importer"
#### Version of OpenRefine used (Google Refine 2.6, OpenRefine2.8, an other distribution?):
3.0 Beta

#### Operating Systems and version:
Windows 10

#### Browser + version used - Please note that OpenRefine doesn't support Internet Explorer but works OK in most cases:
Firefox Latest

#### Steps followed to create the issue:
1. Import dataset using clipboard
[code]
3. uncheck _Use character " to e

[2018-05-28 14:47] thadguidry commented on #879
@jackyq2015 Perhaps we can harden this for MacOSX users ?  I wonder what the exact scenario is that causes this to occur for them ?

@tcbuzor since you have a Mac also, any ideas about this issue that folks sometimes have, or ways to avoid it ?

[2018-05-28 15:18] thadguidry opened #1627 "Importing with Google Data sometimes throws timeout at /command/core/importing-controller"
#### Version of OpenRefine used (Google Refine 2.6, OpenRefine2.8, an other distribution?):
3,0 Beta

#### Operating Systems and version:
Windows 10

#### Browser + version used - Please note that OpenRefine doesn't support Internet Explorer but works OK in most cases:
Firefox latest

#### Steps followed to create the issue:
1. Try to import Otto Knoke's private spreadsheet using Google Data impor

[2018-05-28 20:31] jackyq2015 commented on #1627
when I tried to open the link Otto sent to me to share. I got error:
[code]
But when I list the files from drive, I can see the shared file. Not sure if it's related.

Related issues:
https://github.com/google/google-api-java-client/issues/853
https://github.com/google/google-http-java-client/issues/146

[2018-05-29 03:52] thadguidry commented on #1627
Awesome. Let's Merge it then.

[2018-05-29 09:43] ostephens commented on #1626
The "XML Parsing Error: not well formed" looks like it might be FF specific and not related to the specific import/option here. As soon as I try to do an import in FF (tested a couple of different methods) I get errors like:

XML Parsing Error: not well-formed Location: http://127.0.0.1:3333/command/core/get-importing-job-status?jobID=3 Line Number 1, Column 1:

It might be related to this s/o Q&A

[2018-05-29 09:44] ostephens commented on #1626
I can't recreate the console error right now - you say "When I tried to view detail of the error" - did you do something specific to try to view the detail? Just wondering what is happening to trigger that console error

[2018-05-29 12:38] ostephens commented on #1217
The ability to set HTTP headers when using Edit Column -> Add columns by fetching URLs is now part of the 3.0 (beta) release:
* User-Agent
* Accept
* Authorization

 https://github.com/OpenRefine/OpenRefine/releases/tag/3.0-beta

[2018-05-29 14:09] thadguidry opened #1629 "testHttpHeaders seems to be failing now on Appveyor"
Details:
https://ci.appveyor.com/project/openrefine/openrefine/build/1.0.728#L489

[2018-05-29 22:05] thadguidry commented on #205
We delivered the basic SQL Export functionality in OpenRefine 3.0 ( Thanks @tcbuzor ! )
Additional Features can be requested by opening a New Issue.

[2018-05-29 22:05] #205 closed

[2018-05-29 22:09] thadguidry commented on #778
@wetneb So what's left to deliver the features on this issue ?  I'd like to see a Task breakdown please with linked issue numbers on each task remaining.

[2018-05-30 02:56] #1627 closed

[2018-05-30 03:00] jackyq2015 commented on #1626
Tested on my machine, it is true that quotes do not appear when it is unchecked. But no exception found at back end. Linux 18.0.4, Java 8, Chrome.

[2018-05-30 07:37] wetneb commented on #778
I don't think we have issues for these yet:
* expose column metadata in the UI and let the user edit it
* design how type validation and other constraint validation (uniqueness, format) should be handled in OpenRefine ; implement it
* add support for inline data packages (one JSON file storing both metadata and tabular data)

[2018-05-30 15:32] ostephens commented on #332
This is still a problem in 3.0 Beta

Editing a cell which contains either a `null` or a zero length string, and then clicking "Apply to all identical cells" leads to NO edits being made (including the cell you started from).

[2018-05-30 15:39] ostephens opened #1631 "Using "Apply to All Identical Cells" gives error when cell contains Number or Boolean"
When reporting a bug please provide the following information to help reproduce the bug:

#### Version of OpenRefine used (Google Refine 2.6, OpenRefine2.8, an other distribution?):
3.0 Beta

#### Steps followed to create the issue:
Edit two cells to contain the same Number or Boolean
Click edit in one of the cell, change the value, and click "Apply to All Identical Cells"

#### Current Results:
E

[2018-05-30 15:40] ostephens opened #1632 "Using "Apply to All Identical Cells" does nothing when cell contains Date"
When reporting a bug please provide the following information to help reproduce the bug:

#### Version of OpenRefine used (Google Refine 2.6, OpenRefine2.8, an other distribution?):
3.0 Beta

#### Steps followed to create the issue:
Edit two cells to contain the same Date
Click edit in one of the cell, change the value, and click "Apply to All Identical Cells"

#### Current Results:
No cells are u

[2018-05-30 22:56] ostephens commented on #1631
From console:

[code]

[2018-05-31 08:57] ostephens commented on #1631
This works in 2.8
In both 2.8 and 3.0 the same JSON message is passed from the front end:
#OR 3.0 mass edit number
columnName: Column 1
expression: value
edits: [{"from":[2],"to":"2","type":"text"}]
engine: {"facets":[],"mode":"row-based"}

#OR 2.8 mass edit number:
columnName: Column 1
expression: value
edits: [{"from":[2],"to":"2","type":"text"}]
engine: {"facets":[],"mode":"row-based"}

[2018-05-31 09:00] ostephens commented on #1631
None of:
* com.google.refine.operations.cell.MassEditOperation
* com.google.refine.commands.cell.MassEditCommand
* com.google.refine.commands.EngineDependentCommand

changed between 2.8 and 3.0 beta

[2018-05-31 12:17] thadguidry commented on #1631
Looking at the Git commit history and see the impacts of org.json.* it is highly likely it came from either

https://github.com/OpenRefine/OpenRefine/commit/19f98b7ea2a012065a9e21999a9f9dc30347daf7
or
https://github.com/OpenRefine/OpenRefine/commit/f58d963dbd459036bbe3cbf505ba38b093e14266

Turn on Debug and Step through with a breakpoint on com.google.refine.operations.cell.MassEditOperation.recon

[2018-05-31 13:27] ostephens commented on #1631
Through testing, I think the issue was introduced in

#1398 (commit c4b0ff6bea1278032855c56bb8c6393619c42acd)

which was a big change. Not sure what it was in this commit that caused the problem but it gives a place to start the investigation

[2018-05-31 13:51] ostephens commented on #1631
My guess is the update of the json jar used:
json-20100208.jar  -> json-20160810.jar

is where the problem lies. @jackyq2015 any ideas?

[2018-05-31 13:57] ostephens commented on #1631
OK - this commit https://github.com/stleary/JSON-java/commit/f4cb14728f13629972a0ea76bb3dc0705a735fa8 changes the behaviour of JSONArray.getString() to throw an exception where it doesn't find a string. Previously it tried to convert any object to a string

This is the problem (and error message) we are seeing here

[2018-05-31 14:18] ostephens commented on #1631
So basically com.google.refine.operations.cell.MassEditOperation.reconstructEdits needs to be smarter - my first instinct is we will need to use getJSONObject instead of getString and then decide what to do with the retrieved object, but not looked closely yet

[2018-05-31 15:19] thadguidry commented on #1631
the generic JSONArray.get() might be useful for 1st pass inspection.

Alternatively, you possibly could use https://stleary.github.io/JSON-java/org/json/JSONArray.html#optJSONObject-int- for that 1st pass inspection, since the opt methods do not throw an error and instead return null.
[code]

Up to you @ostephens how you think best to handle it.  Some ways are easier for test setup, but there migh

[2018-06-01 15:02] Bowiemb opened #1634 "Feature Request: Push updates back into SQL Database"
It would be great if you could take a slice of your data from the SQL/postgress database, define your operations, then, apply these changes to the entire table.

In order for this to work, we would need the ability to push/export updates to the database. This is in contrast to the current data flow of importing, applying operations, and downloading new SQL table dump.

Thank you for any feedback.

[2018-06-02 09:15] wetneb commented on #1634
If what you mean is "convert a series of OpenRefine operations into equivalent SQL queries", then this is basically infeasible as far as I can tell.

OpenRefine's operations have not been designed to be easily translated to SQL. Some of them can, but for the majority of them this would be virtually impossible. OpenRefine's data model is just very different from SQL's so there is no hope to build s

[2018-06-02 19:15] dbutlerdb opened #1635 "Transform value.toString() converting (blank) values in a cell to a string with 'null' as the value"
When reporting a bug please provide the following information to help reproduce the bug:
When reviewing open issues this #332 seems to be the closest I could get to, but what is being described is not the same thing I am running into.

#### Version of OpenRefine used (Google Refine 2.6, OpenRefine2.8, an other distribution?):
2.8 and 3.0-beta

#### Operating Systems and version:
Windows 10 Version

[2018-06-02 19:35] thadguidry commented on #1635
Hi !  We just released 3.0 Beta of OpenRefine.  Please try it out, as we have add several new features to help you with NULL values, such as new Facets and a new Toggle mode for displaying NULL cells.  You can read about the new features and download the newest version on our releases page https://github.com/OpenRefine/OpenRefine/releases

We would appreciate any feedback you can give us on how we

[2018-06-02 22:45] thadguidry commented on #1635
Sorry, WHAT are you trying to perform ?  So you have some blank Zip Codes on 891 rows... they basically look like this ""  ... so what do you want to do with that empty string (also called a blank) ?

[2018-06-03 05:16] yaeln opened #1636 "Openrefine 3.0 cannot run when trying to read my 2.8 directory"
Version of OpenRefine ==>  3.0
MacBook Pro,
Operating Systems and version: macOS High Sierra 10.13.4

java version "1.8.0_25"
Java(TM) SE Runtime Environment (build 1.8.0_25-b17)
Java HotSpot(TM) 64-Bit Server VM (build 25.25-b02, mixed mode)

Browser: chrome Version 66.0.3359.181 (Official Build) (64-bit)
Running log:

MacBook-Pro-3:MacOS yaeln$ ./JavaAppLauncher

18:51:18.258 [            refine

[2018-06-03 14:33] susannaanas opened #1637 "Reconciliation"
When reporting a bug please provide the following information to help reproduce the bug:

#### Version of OpenRefine used (Google Refine 2.6, OpenRefine2.8, an other distribution?):
v 3.0 beta

#### Operating Systems and version:
MacOS 10.13.4

#### Browser + version used - Please note that OpenRefine doesn't support Internet Explorer but works OK in most cases:
Chrome 66.0.3359.181

#### Steps fo

[2018-06-03 15:41] thadguidry commented on #1637
Hi @susannaanas !  Thanks for the report on 3.0 Beta !

How exactly did you perform the remove for "Even after removing the items marked "don't reconcile" ?

[2018-06-03 15:43] susannaanas commented on #1637
I removed the rows

[2018-06-03 23:07] jackyq2015 commented on #1636
Can you try to reinstall the app but when you ask if you want to "keep" or "replace" the old version choose "replace"? I think that will fix the issue.

[2018-06-04 08:30] wetneb commented on #1637
@susannaanas Thanks for this brilliant bug report. Here are my first reactions when opening your project:
![image](https://user-images.githubusercontent.com/309908/40906588-2665c3b2-67d9-11e8-81f2-34fde1b9cf1d.png)
The reconciliation statistics (green bar) is consistent with the state of your first column: about half of the items are matched to existing items (dark green), and the other half is ma

[2018-06-04 08:37] ostephens commented on #1637
This is probably obvious, but I've used a custom text facet for cell.recon.namespace previously to find the rows that had issues and debug from there

[2018-06-04 09:04] wetneb commented on #1637
Indeed - it seems that we have multiple operations, and I only fixed one of them recently: `ReconJudgeSimilarCellsOperation` *should* not have this problem.
`ReconMarkNewTopicsOperation` still inserts `null` values for new items, and
`ReconJudgeOneCellCommand` seems to be called incorrectly (without the identifierSpace and schemaSpace set), probably from the UI.

[2018-06-04 13:04] wetneb commented on #1637
@susannaanas Ok so, as a temporary measure, here is what you can do to avoid the issue: never match an individual cell to a new item. Always use either the double-tick button for the new item (which also marks as new all the other cells in the same column with the same content), or the action "Create a new item for each cell" from the Reconcile menu.

Given the current state of your project, I wou

[2018-06-04 14:07] yaeln commented on #1636
No, did not help

MacBook-Pro-3:MacOS yaeln$ ls
JavaAppLauncher
MacBook-Pro-3:MacOS yaeln$ ./JavaAppLauncher
17:06:24.474 [            refine_server] Starting Server bound to '127.0.0.1:3333' (0ms)
17:06:24.489 [            refine_server] Initializing context: '/' from '/Applications/OpenRefine.app/Contents/Resource/webapp' (15ms)
17:06:25.099 [                   refine] Starting OpenRefine 3.0-be

[2018-06-04 16:55] Bowiemb commented on #1634
Thank you @wetneb. I was afraid so.

With the new database connection feature, it's foreseeable to potentially query an Hbase in the future. Then, it would be wonderful if we could translate OpenRefine operations into Scala code.

If the backend was disconnected from the front end, this would make this much easier since you could just call the commands directly and parse (and pass) the JSON as par

[2018-06-05 09:31] ostephens commented on #1635
@dbutlerdb
The short explanation is that the behaviour of 'toString' on a null cell is deliberately set to result in the string `null`.

The short solution:
Use the 'Facet on blank' option on the column to remove all rows with blank and/or null values before applying the 'toString' transformation on the column

More information:
probably worth giving some background on this first - apologies if so

[2018-06-05 13:55] thadguidry commented on #1635
Owen,

Great writeup actually !  I've added this info to our Wiki under 2 pages:

https://github.com/OpenRefine/OpenRefine/wiki/Cell-Editing#what-is-a-cell-

https://github.com/OpenRefine/OpenRefine/wiki/GREL-String-Functions  <--we
were missing the toString() function, and was found only on Date page
https://github.com/OpenRefine/OpenRefine/wiki/GREL-Date-Functions

Feel free to edit more and imp

[2018-06-05 18:19] magdmartin opened #1639 "JSONArray[0] not a string error when editing number via the facet"
#### Set up

OpenRefine 3.0-beta
ubuntu 16.04
Chromium Version 66.0.3359.181 (Official Build) Built on Ubuntu , running on Ubuntu 16.04 (64-bit)

#### Steps followed to create the issue:

[Download the dataset Donavan-A75335 ](https://drive.google.com/drive/folders/0B43bFBSY0ET3VkttWnlzQ05IaDQ )
Apply the operation Text transform in column `AMOUNT_70: value.toNumber()`
Create a text facet and try

[2018-06-05 18:20] magdmartin commented on #1639
duplicate of #1631 ?

[2018-06-05 20:17] magdmartin commented on #1634
@Bowiemb disconnecting the front and back end is [part of our roadmap](https://github.com/OpenRefine/OpenRefine/projects).

Here are my 2 cents for this proposal. What if we allow the user to generate an `UPDATE` statement following the same principle than the current SQL Exporter for `INSERT INTO`. The worflow will be something like this:
* connect to the database to create the project
* clean up

[2018-06-05 20:29] Bowiemb commented on #1634
@magdmartin That's a great idea. This would allow much easier batch processing of large tables.

[2018-06-05 20:32] magdmartin commented on #1409
ping @OpenRefine/core regarding @AlexandruAmarandei  question.

[2018-06-06 00:43] AlexandruAmarandei commented on #1409
@dbutlerdb  @ostephens @magdmartin , I wrote a solution but didn't have time to implement the rest of the code for the other browse buttons. Exams started so I'll see when I have time to finish it. Feel free to add to my solution.

[2018-06-06 09:45] ostephens commented on #1639
Yes this is a duplicate of #1631 - closing as duplicate and will cross reference from there that it also effects editing from a text facet

[2018-06-06 09:45] #1639 closed

[2018-06-06 09:46] ostephens commented on #1631
Note from #1639 this issue also occurs if you create a text facet on a column containing numbers/booleans and attempt to do an edit on a value in the facet

[2018-06-06 09:50] ostephens commented on #1631
Just an update - I'm working on this and work in progress is at https://github.com/ostephens/OpenRefine/tree/mass-edit-fix

tl/dr fix #1631 is relatively straightforward, but I'm trying to make tests and fix #1632 and #180 at the same time which is proving more complicated and taking more time

[2018-06-06 09:51] ostephens commented on #1632
Just an update - I'm working on this and work in progress is at https://github.com/ostephens/OpenRefine/tree/mass-edit-fix

tl/dr fix #1631 is relatively straightforward, but I'm trying to make tests and fix #1632 and #180 at the same time which is proving more complicated and taking more time

[2018-06-06 09:53] ostephens commented on #180
Just an update - I'm working on this and work in progress is at https://github.com/ostephens/OpenRefine/tree/mass-edit-fix

tl/dr fix #1631 is relatively straightforward, but I'm trying to make tests and fix #1632, #180 and #332 at the same time which is proving more complicated and taking more time

[2018-06-06 09:53] ostephens commented on #332
Just an update - I'm working on this and work in progress is at https://github.com/ostephens/OpenRefine/tree/mass-edit-fix

tl/dr fix #1631 is relatively straightforward, but I'm trying to make tests and fix #1632, #180 and #332 at the same time which is proving more complicated and taking more time

[2018-06-06 11:11] susannaanas opened #1640 "Can OpenRefine Wikidata extension be made to work with other Wikibase instances?"

[2018-06-06 11:46] thadguidry commented on #1631
@ostephens I am so impressed with your digging in and solving real problems and coming up with great solutions to our issues.  Thank you so much for stepping up and learning beyond what you originally intended of helping out on "easy fixes where you can" !  Keep up the great work , we really appreciate it !

[2018-06-06 12:19] jackyq2015 commented on #1636
That's weird. I can reproduce your error if I choose "keep both". but if I choose "replace", it will fix the error.
Then can you manually clean the installation folder by run:
`mv /Applications/OpenRefine3.app/ /Applications/OpenRefine3.app.bak`

Then do a installation.

[2018-06-06 12:44] yaeln commented on #1636
Still the same behavior.
The question is how can I import all of my 2.7/ 2.8 projects to the 3.0 (it runs well on an empty directory)?

[2018-06-06 12:56] thadguidry commented on #1636
@jackyq2015 perhaps have @yaeln zip up his complete OpenRefine workspace folder and email to you privately and you can troubleshoot more since you have a macOS ?  Or is this really something OS specific ?

[2018-06-07 01:33] jackyq2015 commented on #1636
@yaeln The old projects should be automatically imported.Also I noticed that you installed OR under /Applications/OpenRefine3.app/, the default installation folder should /Applications/OpenRefine.app/.

Can you do a ls -ld /Applications/OpenRefine* before and after your installation? or you can upload somewhere as suggested by @thadguidry so I can take a look.

[2018-06-07 11:14] yaeln commented on #1636
Here is a link to my (quite large) library
https://www.dropbox.com/s/p69fph1qrt0tpv8/OpenRefine.zip?dl=0

attached also my ls -ld before and after  + error of running

On Thu, Jun 7, 2018 at 4:33 AM Jacky <notifications@github.com> wrote:

[2018-06-07 11:39] wetneb commented on #1640
Right now it does not, but yes it should!

[2018-06-07 12:07] thadguidry commented on #1640
@susannaanas Is it a super urgent need ?  Curious, Do you know of how many other folks that would benefit from this enhancement other than you ?

[2018-06-07 12:12] susannaanas commented on #1640
I would find use for it immediately, but I would not describe it as super urgent. There is a growing number of Wikibase instances, listed in this Wikibase https://wikibase-registry.wmflabs.org/. I could not do it myself, but I wonder if the component could be configured by a skilled developer to point to another Wikibase?

[2018-06-07 18:22] jackyq2015 commented on #1626
@thadguidry Maybe we had some false expectation on this switch. Seems it only define the field boundary, not a switch to enable/disable the show of the double quote.

You can try following data set and it will be clear:
[code]
In teams of how to import a double quote, a double double quotes will work:
[code]

[2018-06-07 19:01] jackyq2015 commented on #1636
@yaeln Can you install version 2.8 and see if it's working? Seems it is related to the location of the path which has a space in between. I cannot find any code change might be affecting this. Also my version of MacOS Mavericks works fine and the old projects can be imported automatically.

Also you can try to move your project to:
[code]
Then edit the refine.ini under installation folder:
`JAVA_O

[2018-06-07 19:57] thadguidry commented on #1626
@jackyq2015 umm, how does a user tell OpenRefine to keep the single quotes and import them into each cell, for them to handle manually later on with GREL, Facets, etc.

I think, especially for CSV/TSV importer, an additional import option is needed, called "keep quotes during import".  The newer versions of OpenCSV library has support for many more options that we are not taking advantage of withi

[2018-06-07 20:35] yaeln commented on #1636
Version 2.8 works fine!
However, I don't know where the installation/refine.ini file is..

Thanks a lot!

On Thu, Jun 7, 2018 at 10:01 PM Jacky <notifications@github.com> wrote:

[2018-06-07 20:42] thadguidry commented on #1626
@jackyq2015 Sure.  Jackson also provides many options now https://github.com/FasterXML/jackson-dataformats-text/blob/master/csv/src/main/java/com/fasterxml/jackson/dataformat/csv/CsvParser.java#L27

[2018-06-07 21:04] jackyq2015 commented on #1636
you can edit file Info.plist under /Applications/OpenRefine.app/Contents by inserting one line:
`<string>-Drefine.data_dir=~/.openrefine</string>`
 under:
`<string>-Drefine.webapp=$APP_ROOT/Contents/Resource/webapp</string>`

[2018-06-08 02:38] jackyq2015 commented on #1636
@yaeln Please ignore it won't work. Seems related to the data itself instead of installation. will do some debug on the projects you shared and get back to you.

[2018-06-08 05:16] yaeln commented on #1636
Thank you very much

On Fri, Jun 8, 2018 at 5:38 AM Jacky <notifications@github.com> wrote:

[2018-06-08 08:50] wetneb commented on #1640
@susannaanas it's a significant amount of work to do it properly. The first step would be to make the reconciliation interface run on any Wikibase, then create a notion of "profile of Wikibase instance" which contains all the information necessary to run the extension (MediaWiki API, reconciliation API, settings of WikibaseQualityConstraints, EditGroups…) and then forward that everywhere where thi

[2018-06-08 11:29] jackyq2015 commented on #1636
I can open the projects you shared using the same version. so it is not a data issue.
Do you still see the exception after install, if so please share the whole log as you did.

Could you please click "open project" then click the "Browse workspace directory" at the bottom and let me know the folder location? you should be able to see all of you projects in its folders and at least a file called w

[2018-06-08 13:48] susannaanas commented on #1640
Sounds much more complex than I imagined!

BTW, I think also Structured Data for Commons qualifies as one such Wikibase.

[2018-06-09 09:03] wetneb commented on #1640
sure, and that will need even more adaptations because the further tweaks in the data model (ids of the pages to edit will have a new format, but properties ids and items will be borrowed from Wikidata…)

[2018-06-10 08:32] wetneb commented on #1640
for reference, this is a feature request I have heard quite often (especially at the Wikimedia Hackathon) so it would be good to keep this in mind as a mid-term goal.

[2018-06-10 11:05] yaeln commented on #1636
Here is the log for current run, quite strange.

I need to start it all over again: I work with openrefine almost on a daily
basis. Would love to use the 3.0 version - what would you suggest?

MacBook-Pro-3:MacOS yaeln$ pwd

/Applications/OpenRefine.app/Contents/MacOS

MacBook-Pro-3:MacOS yaeln$ ./JavaAppLauncher

09:32:04.500 [            refine_server] Starting Server bound to '
127.0.0.1:3333'

[2018-06-10 12:30] ostephens commented on #1636
I don’t have a solution currently but I run the Linux version of OpenRefine on my mac. You could try that to see if it works.

Download the Linux version, unzip the folder, in a terminal change to the directory which contains OpenRefine you’ve just  downloaded and type:

./refine

[2018-06-10 15:17] jackyq2015 commented on #1636
@yaeln Your default workspace is empty. I think for some reason you 2.8 version points to different workspace other than /Users/yaeln/Library/Application Support/OpenRefine. You may be did the change and forgot.

The solution is simple. you can just find the original workspace and copy all to the above folder. If you don't know where the original workspace is, you can just startup the 2.8 the same

[2018-06-11 18:52] praveene04 opened #1645 "Error while running openrefine.exe"
When reporting a bug please provide the following information to help reproduce the bug:

#### Version of OpenRefine used (Google Refine 2.6, OpenRefine2.8, an other distribution?):
OpenRefine 2.8

#### Operating Systems and version:
Windows 10

#### Browser + version used - Please note that OpenRefine doesn't support Internet Explorer but works OK in most cases:
Firefox

#### Steps followed to cr

[2018-06-11 20:54] dbutlerdb commented on #1635
Hi Owen,

I'm having a hard time understanding why the default action when converting a numeric cell with no values into a string is to add 'null' into the cell. If operations like .toString[0,2] didn't lop off part of the 'null' string it would make more sense to me.  I am not the expert here like you guys so I'm sure there is a reason that I am missing.

A work around it to exclude all nulls bef

[2018-06-12 00:17] jackyq2015 commented on #1645
can you please paste your whole startup log?

Also you can try to move the openrefine-2.8 folder and c:\ and try again. There is a space in your current path which may break.

[2018-06-12 14:29] praveene04 commented on #1645
Hi jackyq2015,

I copy and pasted the openrefine folder directly in C drive and  tried opening openrefine.exe file and received below message.

09:25:30.543 [            refine_server] Starting Server bound to '127.0.0.1:3333' (0ms)
09:25:30.559 [            refine_server] Initializing context: '/' from 'C:\openrefine-2.8\webapp' (16ms)
09:25:31.387 [            refine_server] Failed to use jdatap

[2018-06-12 14:33] thadguidry commented on #1645
@praveene04 that is fine....its running as you can see it said "Started OpenRefine 2.8.."
Don't worry about the Failed to use jdatapath... that's just our user data path detection and it resorted to env variables.

Now with that running.. just open your web browser and go to http://127.0.0.1:3333

[2018-06-12 15:09] praveene04 commented on #1645
I am getting this error message
![error](https://user-images.githubusercontent.com/20364258/41299279-b8619606-6e28-11e8-9df1-9d43ded9ab2a.PNG)

[2018-06-12 17:31] magdmartin commented on #1483
A first mapping is available on the page 5 of[ OpenRefine Batch Processing with Apache Beam document.](https://docs.google.com/document/d/1WT8nCYdNUU14y39IJJlB9fqnxhO0XZnjgHZljEdw-60/view#heading=h.vu5af3jav0u)

[2018-06-12 21:48] praveene04 commented on #1645
Used "http://localhost:3333" instead of "http://127.0.0.1:3333" which worked.

[2018-06-12 21:48] #1645 closed

[2018-06-12 21:56] thadguidry commented on #1645
@jackyq2015 Hey...hmm, should we default to localhost for Macs ?  Wondering if that makes things easier, or if it was just @praveene04 weird setup ?

[2018-06-13 09:07] yaeln commented on #1636
Jacky, thanks for your answers: the reason the workspace was empty because
I tried again to run openrefine3
but when the directory is not empty still the same problem

MacBook-Pro-3:openrefine-3.0-beta yaeln$ ./refine

You have 229M of free memory.

Your current configuration is set to use 1400M of memory.

OpenRefine can run better when given more memory. Read our FAQ on how to
allocate more memo

[2018-06-13 11:41] ostephens commented on #1645
@thadguidry this is on Win 10, not a Mac

[2018-06-13 13:49] thadguidry commented on #1635
@ostephens We wanted toString() to be able to convert any Data Type to a string, that included null.  Sorry, but how does this hurt ?  Can you give me a scenario where this causes some grief ?

[2018-06-13 13:57] jackyq2015 commented on #1636
@yaeln I am got confused. From [this ](https://github.com/OpenRefine/OpenRefine/issues/1636#issuecomment-396040135)post, I did not see you had exception java.lang.LinkageError as you did in previous post. You may only have this one issue  and the project loading is the consequence of the failure.

So please do a refresh install by choose "**replace**" when you see the dialog box then start it to s

[2018-06-13 14:36] thadguidry commented on #1635
Oh yes, I completely agree on those points.  And I'm not sure why Tom did that...other than visibility of null's.  But I always had the idea of simply handling that via display...and not Data Type conversions as he did.

+1  Please revert toString to old style.  Knowing that we have new ways to make null visible now.

[2018-06-13 20:22] yaeln commented on #1636
Yap, I did it, still error. Installation package - do you mean the
openrefine.app dir? can be downloaded from here
https://www.dropbox.com/s/9qz3p47kqinxu1h/OpenRefine.app.zip?dl=0

Again, this is the log

MacBook-Pro-3:OpenRefine.app yaeln$ cd ..

MacBook-Pro-3:Applications yaeln$ cd OpenRefine.app/

MacBook-Pro-3:OpenRefine.app yaeln$ cd Contents/MacOS/

MacBook-Pro-3:MacOS yaeln$ ./JavaAppLaunc

[2018-06-13 22:03] ettorerizza opened #1648 "Export data package doesn't work"
When reporting a bug please provide the following information to help reproduce the bug:

#### Version of OpenRefine used (Google Refine 2.6, OpenRefine2.8, an other distribution?):
Version 3 beta

#### Operating Systems and version:
Windows 10

#### Browser + version used - Please note that OpenRefine doesn't support Internet Explorer but works OK in most cases:

Chrome, Firefox and Edge

#### St

[2018-06-14 11:55] jackyq2015 commented on #1636
I downloaded your app zip above and did a clean install and it can run on my Maverick and load the my projects without issue.I know you are using High Sierra
@ostephens @wetneb , do you have some time to download above zip @yaeln provided and have a try on your mac. It is very weird issue.

[2018-06-14 12:36] ostephens commented on #1636
Downloaded and ran successfully on macOS High Sierra.

@yaeln can you check what version of Java you have installed?
run `java -version` on the command line and paste the results

(I'm clutching at straws a bit here but just trying to think of things that might be difference across setups)

[2018-06-14 12:55] yaeln commented on #1636
MacBook-Pro-3:MacOS yaeln$ java -version

java version "1.8.0_25"

Java(TM) SE Runtime Environment (build 1.8.0_25-b17)

Java HotSpot(TM) 64-Bit Server VM (build 25.25-b02, mixed mode)

MacBook-Pro-3:MacOS yaeln$

On Thu, Jun 14, 2018 at 3:37 PM Owen Stephens <notifications@github.com>
wrote:

[2018-06-14 12:57] ostephens commented on #1636
Mine is slightly more up to date, but I'd be a bit surprised if that is the reason for any different behaviour:

[2018-06-14 12:58] ostephens commented on #1636
So from the log do we assume that:

Is related to this problem?
I definitely don't see that in mine or when I run that version shared by @yaeln

[2018-06-14 13:07] thadguidry commented on #1636
Butterfly loads things from the Classpath.  Classpath is figured out through the start script.  Maybe the Classpath is munged for some reason ?

@jackyq2015 has he tried to just run using the Linux start script.... ```./refine``` ?  Because keep seeing JavaAppLauncher being used in his replies.

Debug the entire start flow with
```bash -x ./refine```

and then let's see what it looks like.

[2018-06-14 13:31] thadguidry commented on #1636
@yaeln Can you move your OpenRefine install outside of a DropBox path ?  I'm wondering if something with a Dropbox client might also be causing some conflict ?  dunno....

/Users/yaeln/Dropbox/OpenRefine3/openrefine-3.0-beta/webapp

[2018-06-14 13:38] yaeln commented on #1636
I tested - and not - obviously --  I usually run the openrefine from the
/Applications path (this is the linux installation)

My own solution  can be manually 'exporting' all projects from 2.8 and then
'importing' them into the 3.0 one after the other.
..

On Thu, Jun 14, 2018 at 4:31 PM Thad Guidry <notifications@github.com>
wrote:

[2018-06-14 15:46] ostephens commented on #1636
The lines
[code]
Indicate your JAVA_HOME isn't set, but the script picks it up anyway from /usr/libexec/java_home so that can't be the problem (I tested unsetting JAVA_HOME on my own install and I got the same output as your script at this stage, but no other problems

[2018-06-15 00:45] jackyq2015 commented on #1636
I also don't have the JAVA_HOME set but it works fine.
[code]

Now I have @yaeln 's app and work space. it also works fine. can you installed the updated JRE and have another try? cannot think of other possibility.

[2018-06-15 02:07] magdmartin opened #1652 "Replace ORG.JSON library"
Because of the [extra line in the JSON.org license](https://github.com/OpenRefine/OpenRefine/blob/dc6573d17b8fa35ca592f8441e4aebb73fe3b675/licenses/json.LICENSE.txt#L13), it is considered as non-free license by GNU/FSF, Debian, Fedora, Red Hat and Google and is causing issue to join the SFC.

Alternative free license exist to avoid this issue. See for example: https://wiki.debian.org/qa.debian.org

[2018-06-15 02:16] thadguidry commented on #1652
@magdmartin No, I ALREADY looked at Jackson and it's usable, but quite a bit of work for @jackyq2015 or whomever, like... A LOT of work actually :-)

[2018-06-15 09:12] susannaanas opened #1654 "Reconciliation internationalisation issues"
When reporting a bug please provide the following information to help reproduce the bug:

#### Version of OpenRefine used (Google Refine 2.6, OpenRefine2.8, an other distribution?):
v 3.0 beta

#### Operating Systems and version:
Mac OS 10.13.5 (17F77)

#### Browser + version used - Please note that OpenRefine doesn't support Internet Explorer but works OK in most cases:
Chrome 67.0.3396.87

####

[2018-06-15 09:36] wetneb commented on #1654
Thanks! That's an issue for https://github.com/wetneb/openrefine-wikidata. I will look into it.

[2018-06-15 09:37] susannaanas commented on #1654
Good point, I will create further issues there!

[2018-06-15 10:00] wetneb commented on #1652
Migrating out of this library is a lot of work that is going to cause major incompatibility with most extensions. It's something that we want to do eventually, but it's most likely going to happen gradually. It could be possible to migrate gradually, by isolating the parts that use Jackson / JSON: for instance, the Wikidata extension uses Jackson everywhere except where it interfaces with the core

[2018-06-15 10:25] wetneb commented on #1654
@susannaanas the problem should be fixed now - can you confirm this on your side?

[2018-06-15 14:53] magdmartin commented on #1652
I am adding this ticket to the front/end back end separation so we can take it into account when we define the technical roadmap.

[2018-06-15 15:51] janruehling commented on #1636
I had a similar problem (macOS High Sierra - OpenRefine3 stuck at "Butterfly still initializing" in the browser) and solved it like this:

In your workspace directory (for me ~/Library/Application Support/OpenRefine):

- Rename "extensions" to "_extensions"
- Create a new folder "extensions"
- Copy one extension folder after the other from "_extensions" to "extensions" and restart OpenRefine

The

[2018-06-15 20:20] yaeln commented on #1636
It worked!
Thanks a lot!
I have this extension 'prefine-rdf-extension-0.9' but once I moved them one
after the other it worked!
I am most grateful for you assistance.
OpenRefine is a very meaningful tool for me, I teach it almost like a
missioner in my DH classes, and I will do an effort to advance the Hebrew
translation.

Best regards,
Yael

On Fri, Jun 15, 2018 at 6:51 PM Jan Ruehling <notificat

[2018-06-16 00:33] ettorerizza commented on #1636
@yaeln [This version of the RDF extension](https://github.com/stkenny/grefine-rdf-extension/releases/tag/v1.0.0-rc2) should work with OR 3.

[2018-06-16 07:19] yaeln commented on #1636
Thanks.
Thanks for finding a solution to this problem as well

On Sat, Jun 16, 2018 at 3:34 AM Ettore Rizza <notifications@github.com>
wrote:

[2018-06-16 14:01] jackyq2015 commented on #1648
it is a typo. :)

[2018-06-16 20:54] #1614 closed

[2018-06-17 11:38] #1648 closed

[2018-06-17 11:39] #1636 closed

[2018-06-17 11:50] lucaswerkmeister commented on #1612
Thought: I think it would be best to use a consumer with a fixed callback URL (OpenRefine just sends `oauth_callback=oob`), so that OpenRefine doesn’t need to know its public hostname. That way, only two configuration variables should be necessary: consumer key and consumer secret.

[2018-06-17 12:43] wetneb commented on #1612
Makes sense, so if the callback is supplied when applying for OAuth credentials, it does not have to be supplied by OR during the OAuth process

[2018-06-17 15:38] #360 closed

[2018-06-18 20:33] magdmartin commented on #1445
@pachamaltese can you send a PR so our core team can review and provide feedback and merge it?

[2018-06-19 10:10] ettorerizza opened #1657 "The column selection window of "Transform all" incorrectly labeled "SQL exporter""
When reporting a bug please provide the following information to help reproduce the bug:

#### Version of OpenRefine used (Google Refine 2.6, OpenRefine2.8, an other distribution?):
Version 3 beta

#### Operating Systems and version:
Windows 10

#### Browser + version used - Please note that OpenRefine doesn't support Internet Explorer but works OK in most cases:
All

#### Steps followed to create

[2018-06-19 11:21] wetneb opened #1658 "Frustrating UI for the selection of reconciliation services."
#### Steps followed to create the issue:

Select a reconciliation service - the service panel sometimes comes back
https://twitter.com/ruthbrarian/status/1008786606495584257
The UI should be more intuitive there.

#### Version of OpenRefine used:
3.0

[2018-06-19 11:53] wetneb opened #1659 "Save schema before exporting to QuickStatements"
When using "export to QuickStatements" from an OR project with no Wikidata schema saved, the schema should be automatically saved before exporting, just like we do for direct upload.

[2018-06-19 12:43] wetneb commented on #1657
What the actual f***?!

[2018-06-19 12:46] thadguidry commented on #1657
@wetneb LOL, We're preparing the user for the "Enterprise world" where they will have a love/hate relationship later on when the only language available to them will be SQL !

[2018-06-19 14:28] ostephens commented on #1635
Fixed by #1650

[2018-06-19 14:28] #1635 closed

[2018-06-19 14:30] ostephens commented on #1635
Thanks to @dbutlerdb for raising this - new behaviour will be in 3.0

[2018-06-20 13:51] ostephens commented on #1652
I guess we need to discuss exactly how we are going to approach this? Can it be broken down into smaller tasks that less experienced developers (like me!) can tackle?