[2020-02-27 22:00] thadguidry commented on #1433
The world is moving faster than we can keep up!
20x faster than Apache Spark (with GPU hardware if users have it)
https://databricks.com/session/accelerating-machine-learning-workloads-and-apache-spark-applications-via-cuda-and-nccl

https://hub.packtpub.com/blazingsql-a-gpu-accelerated-sql-engine-built-on-top-of-rapids-is-now-open-source/

https://docs.blazingdb.com/docs

Hmm, might be interestin

[2020-02-27 22:23] wetneb commented on #1433
I am not sure this would be very suitable for student projects - at least not if they want to base it on my current work on spark, since it is far from finished.

[2020-02-27 22:32] thadguidry commented on #1433
But why not as a research project and poc?  I mean, as you have done, they could do the same?  I've seen incredible talent out there sometimes, even pulled them into Ericsson later as fulltime employees. I am aware there's a lot to go on here, but I'd rather encourage research in this space if there's a desire.  It's an idea, and if someone is talented enough or has the passion.... why hold them b

[2020-02-28 01:09] wetneb commented on #1433
I will not hold anyone back from playing with this - I would just not advertise it as a project that would be appropriate for someone who just starts to discover the project.

[2020-02-28 03:02] thadguidry commented on #1433
Ah, my advertisement on the Gitter chat room...  OK, sure, I can delete those comments on there.

[2020-02-28 06:27] VladimirAlexiev commented on #2316
No, just didn't think of it :)

[2020-02-28 11:07] VojtechDostal opened #2342 "Add Wikidata QID based on identifier value"
**Is your feature request related to a problem or area of OpenRefine? Please describe.**

I have a list of identifier values for an external database. Some of them are already present in items in Wikidata. I'd like to reconcile them directly to Wikidata QIDs.

**Describe the solution you'd like**

A direct API call to retrieve QID or directly reconcile the column to the QIDs.

**Describe alternati

[2020-02-28 12:45] VojtechDostal commented on #2326
@Bhanu-mbvg Lovely! This improvement would really make OpenRefine the most powerful mass-editing tool for Wikidata - Neither QuickStatements nor Petscan can change ranks AFAIK.

[2020-02-28 15:13] wetneb commented on #2342
Have you tried using reconciliation for this? When reconciling a column, you can add any other column as additional property, and match it to the corresponding identifier property on Wikidata. Because this is an identifier property, it will be used in priority to retrieve reconciliation candidates (so the text in the column you are reconciling does not even need to match the labels on Wikidata).

[2020-02-28 15:27] darecoder1999 opened #2345 "Remove freebase functions that are no longer needed"
Freebase cleanup, remove the use of exportTrippleLoader if only used for freebase. Refer to this : https://github.com/OpenRefine/OpenRefine/pull/2341#issuecomment-592533219 by @thadguidry

[2020-02-28 15:28] darecoder1999 commented on #2345
I'm working on it. :smile:

[2020-02-28 15:29] VojtechDostal commented on #2342
Hmm, is that so? I thought that reconciliation would prioritize labels.

Anyway, reconciliation over 250 000 lines takes ages and I think that an alternative, more straight-forward, pure fetching of QID could be much quicker. Am I mistaken?

[2020-02-28 15:38] thadguidry commented on #2345
@darecoder1999 If you know this, since I've always been curious... Do any browser dev tools let you search for "unused JS functions" or is that reserved for only IDE's like I've seen ?

[2020-02-28 15:39] wetneb commented on #2342
Reconciliation should be quicker if used with a unique identifier since it does not need to do any text search (but the Wikidata reconciliation service could still be optimized for speed in many places).

You could also try using other web services to translate unique identifiers to Qids, or build your own.
As far as OpenRefine is concerned, I would say that this translates into the following requ

[2020-02-28 16:38] darecoder1999 commented on #2345
@thadguidry I feel this can be done using the Coverage tab in Chrome DevTools.

[2020-02-28 22:45] wetneb opened #2346 "Determining cell identity when reconciling to a new item"
**Is your feature request related to a problem or area of OpenRefine? Please describe.**

When matching reconciled cells to new items, one has two choices:
* matching all cells with the same text to the same new item;
* matching each cell to a new item of its own.

The problem is that the visual outcome of both operations is the same. Say I have two cells containing the word "castle":
![image](htt

[2020-02-29 02:52] thadguidry commented on #2346
Hmm... a bit confusing... I do see what you mean about the current state of affairs and the need to see if 2 similarly named entities share the same ID or have unique IDs.

![image](https://user-images.githubusercontent.com/986438/75599106-16ddfe00-5a67-11ea-81d0-c8c490dae963.png)

But its the historical of how things work that I am now curious about now...
Did we actually generate an identifier i

[2020-02-29 04:33] afkbrb commented on #1612
Hi, I've been studying the gsoc idea [oauth-support-for-wikidata-extension](https://github.com/OpenRefine/OpenRefine/wiki/GSoC-2020%C2%A0Ideas#oauth-support-for-wikidata-extension) these days.

I do agree with @lucaswerkmeister on this. OR is used as a local software in most situation, so it's important to keep it easy.

I think it's better that we just support “three-legged OAuth flow”.

To be mo

[2020-02-29 08:24] VladimirAlexiev commented on #2336
You guys are amazingly quick a
I'm on Windows running Chrome.

I should say that with default settings it sent me to `127.0.0.1`, but I think `localhost` means the same and reads a bit better.

[2020-02-29 08:32] VladimirAlexiev commented on #2336
The next question (yes, I am too demanding) is whether the server can figure out my real IP (eg 192.168.1.123 for a local network) so I can copy it from the browser address bar and actually share it with colleagues. This is very non trivial: last I looked I had 5-6 netwirk interfaces including a VPN, docker, etc.

BTW, where is a good place to document this? With a title like "Running OpenRefine a

[2020-02-29 09:07] VladimirAlexiev commented on #2332
@wetneb I agree, I can't think of a useful case where extra rows used in recon should be disregarded when proliferating the match.

@thadguidry I think you overdid the message a bit, now I can't understand it :)

[2020-02-29 09:12] #2320 closed

[2020-02-29 14:04] afkbrb commented on #1700
Hi @wetneb , not sure whether I've reproduced this behavior.

I created a new project and clicked on `Export to QuickStatements` directly, then the schema panel showed as expected. If I click on `Export to QuickStatements` again, the schema panel won't show again (because `wikidata schema panel` has been set up), instead, a new window with the content `No schema was provided. You need to align you

[2020-02-29 14:27] wetneb commented on #1700
Hi @afkbrb, thanks a lot for looking into this!

You are right, I cannot reproduce what I described above. Curious! Does the current behaviour look appropriate to you? Would you handle this situation in any other way?

If you think this is an appropriate behaviour, feel free to close this (I just invited you to the organization so you should be able to do that once you join)

[2020-02-29 14:56] afkbrb commented on #1700
@wetneb Thanks a lot for the invitation!

Maybe the bug has somehow been fixed by some commits. The current behavior seems fine to me (Why would someone try to export QuickStatements, if he/she has already known that the schema is empty). So I'd like to just close it.

[2020-02-29 14:57] #1700 closed

[2020-02-29 18:36] thadguidry commented on #1011
I think something like this functionality would work well:
1. allow a user to click on the titleSpan.text on a Facet and update its config.name.
2. allow a user to hover on the Facet titleSpan.text and see the original column name on the hover event that would show `"Column: " + config.columnName`

[2020-02-29 18:55] thadguidry commented on #745
I think the following should happen:
1. when a user clicks change, the `expressionDiv` displays.
2. once the user clicks anywhere in the `expressionDiv` then the Expression editor dialog appears (rather than the current auto launching of the Expression editor dialog when the user clicks the `change` link)

So the fix is to just remove that auto launching behavior, because the `expressionDiv` click

[2020-02-29 20:46] kushthedude opened #2348 "AppVeyor configuration file still uses JDK1.8"
AppVeyor configuration file still uses JDK1.8. Since we have recommended use of JDK8 the config must be updated too.

cc: @thadguidry @wetneb your views ?

[2020-02-29 22:07] thadguidry commented on #2348
You do know that JDK1.8 means "developer version 8", in essence an internal version number for Sun and Oracle.  And JDK8 means "product version 8"?  and since 2004

If you were a bit older :) , some of this history would be known to you.  In version 5.0, Sun Microsystems changed the versioning system.  Read all about it: https://en.wikipedia.org/wiki/Java_version_history

But maybe your question w

[2020-02-29 22:09] kushthedude commented on #2348
I didn't know that. I am not a native JAVA developer that's why I got it wrong 😅 . Thanks for the detailed explanation 😄 .

[2020-02-29 22:09] #2348 closed

[2020-02-29 22:11] thadguidry commented on #2348
@kushthedude You are welcome!  Anytime!  Don't be shy... "the most intelligent people in the world question everything"

[2020-03-01 05:02] afkbrb commented on #2103
Hi, I can work on this. I'll assign myself on this (if you agree).

[2020-03-01 07:35] afkbrb commented on #2103
According to: https://www.wikidata.org/wiki/Help:Description#Capitalization, maybe we should check whether the description begins with lowercase letter or not.

Also, according to: https://www.wikidata.org/wiki/Help:Description#No_initial_articles_(a,_an,_the), when the description begins with "a", "an" or "the", we should also throw a warning.

[2020-03-01 07:46] afkbrb commented on #2103
These checks work well with English. But it's impossible that we do the same checks for other languages.

For example, different languages have different punctuation signs, it's almost impossible to cover all in our check. And it's the same with the "a, an, the" check.

[2020-03-01 10:37] kushthedude commented on #2338
@thadguidry Shall I go ahead implementing the same ?

[2020-03-01 11:10] #2336 closed

[2020-03-01 11:33] #1018 closed

[2020-03-01 11:49] wetneb commented on #2103
We could also flag when a description and a label are identical for the same language.

[2020-03-01 15:37] thadguidry commented on #2338
There's a style guide and then there's enforcing compliance of the style.
It sounds like you want to make the enforcement and IDE setup for developers easier?
Optionally enforcing checks on our CI/CD for pull requests?

You can look to a few Apache projects and GitHub projects to see how they do this (only requires us to supply a few extra files historically, but today, I think Eclipse and Intelli

[2020-03-01 15:39] kushthedude commented on #2338
I am planning for developers environment with ci/cd check too.

On Sun, 1 Mar, 2020, 21:07 Thad Guidry, <notifications@github.com> wrote:

[2020-03-01 15:42] thadguidry commented on #2338
I like a lot of the info that Apache Spark pulls together on their Contributing doc (Code Style is at the bottom of page):  http://spark.apache.org/contributing.html

[2020-03-01 15:54] kushthedude commented on #2338
I will check it out.

On Sun, 1 Mar, 2020, 21:12 Thad Guidry, <notifications@github.com> wrote:

[2020-03-01 18:18] thadguidry commented on #1286
@aghaSaad04 instead of `HT`, I'd use the more familiar 3 letter abbreviation `TAB`

[2020-03-01 18:31] AghaSaad04 commented on #1286
@thadguidry  Sure, will change that.

[2020-03-01 18:49] thadguidry opened #2351 "Facet on UNPRINTABLE CHARS"
**Is your feature request related to a problem or area of OpenRefine? Please describe.**
With #1286 we will have the ability to display unprintable chars on the data grid.
It would also be useful to have a quick way to filter only those rows that contain cells with unprintable chars (Control Codes 0001-0031).

**Describe the solution you'd like**
We have the existing Unicode Char facet, but this i

[2020-03-02 11:49] VladimirAlexiev commented on #2336
hi @wetneb, could you answer the last two points
- figure out my real IP
- where to document

[2020-03-02 11:52] wetneb commented on #2336
I don't know how to do this - I would say this is ill-defined in general, as your "real IP" depends on the network you want to expose OR to.

It would be nice to mention this feature here: https://github.com/OpenRefine/OpenRefine/wiki/Installation-Instructions

[2020-03-02 12:46] VladimirAlexiev commented on #2336
Thanks! edited https://github.com/OpenRefine/OpenRefine/wiki/Installation-Instructions#running-as-a-server

[2020-03-02 14:02] adithyak04 opened #2353 "Removing items that are already uploaded to Wikidata"
Consider the case where I have a total of 100 row items among which only 50 are reconciled. I have uploaded those 50 items to Wikidata. Now, inroder to remove those items from OpenRefine, I would like to know what can be done. Note: Removing needs to be done only from OpenRefine and not from Wikidata.

[2020-03-02 14:05] buntamas commented on #2307
Hi everyone. I would like to solve this bug. Can I work on this issue?

[2020-03-02 14:06] wetneb commented on #2353
You could (for instance) isolate these rows with a reconciliation judgment facet, and then remove these matching rows (in the menu for all columns, above the row indices).

Could you use [our mailing list](https://groups.google.com/forum/#!forum/openrefine) or StackOverflow for questions which are not about bugs or possible improvements?

[2020-03-02 14:11] wetneb commented on #2307
Yes you can!

[2020-03-02 14:22] #2103 closed

[2020-03-02 14:30] linderbarbara commented on #2306
Hi everyone. I would like to solve this bug. Can I work on this issue?

[2020-03-02 14:44] wetneb commented on #2306
Sure! Let us know if you get stuck.

[2020-03-02 14:58] MarosKitti commented on #501
Hey, I would like to solve this problem. Can I work on this issue?

[2020-03-02 15:48] #2353 closed

[2020-03-02 15:48] adithyak04 commented on #2353
Irrelevant topic

[2020-03-02 16:08] wetneb commented on #501
You can! Thanks for volunteering :)

[2020-03-03 06:36] obarabanov commented on #898
@thadguidry is this ticket going to be in review status for some more time, or it can be set as done ?

[2020-03-03 08:25] wetneb commented on #898
@obarabanov issues are closed when the corresponding PR is merged (automatically if they have been properly linked, by writing "closes #898" or "fixes #898" in the pull request or commit message).

[2020-03-03 08:49] obarabanov commented on #898
ah ok it's like in other collaboration platfrorms. But I haven't linked it properly, anyway.
My idea was just to give idea / to indicate this ticket is taken / being worked on.
Not sure who's going to merge the PR ?

[2020-03-03 08:56] wetneb commented on #898
Sure, we can assign you for that.

[2020-03-03 15:30] wetneb commented on #1788
As part of this it could be useful to update Wikidata-Toolkit's API to make it easier to add / delete sitelinks. This is currently only possible by sending the whole item JSON to the server, whereas we are currently using incremental changes with the `updateTermsStatements` method:
https://github.com/Wikidata/Wikidata-Toolkit/blob/master/wdtk-wikibaseapi/src/main/java/org/wikidata/wdtk/wikibaseapi

[2020-03-03 16:46] wetneb opened #2354 "Implement more constraint checks in the Wikidata extension"
**Is your feature request related to a problem or area of OpenRefine? Please describe.**

When uploading data to Wikidata, OpenRefine checks for common issues in the uploaded data, and reports these to the user before the upload. Many of these checks rely on Wikidata's own constraint system, which lets Wikidata contributors specify how each Wikidata property should be used (for instance by providi

[2020-03-03 18:21] thadguidry commented on #2354
Also, regarding a data validation system or "checks", using Schemas and Shape Expressions (ShEx) for validation/rules is something that many folks inside and outside the Wikidata ecosystem have been talking about for a long time and been experimenting with, such as @VladimirAlexiev
Lots of discussion on approaches here:
https://www.wikidata.org/wiki/Wikidata_talk:WikiProject_Schemas

[2020-03-03 19:23] ostephens commented on #2354
Have we got an issue for more general validation in OR?

[2020-03-03 20:02] thadguidry commented on #2354
General validation?  Not really, but we could use #1727

...which was to began to try to push along research on validation (we can cut out the Data Package mention within it) ... and the rest of many designs are in my head and others, but not formally written down for us.  A lot of this kind of work, I've done outside of OpenRefine as part of my job as a Data Architect where the Data Modeling with

[2020-03-03 22:35] thadguidry commented on #1286
Came across another complimentary use case with a dataset I was helping someone with today.  Unicode values that are True Null also do not display and we should show them rendered as `NUL`.
(This is different from the `'null'` char rendering that is not Unicode based that we already have in All->View->Show/Hide 'null' values in cells)

Notice none of the `\u0000` values are displayed in the grid,

[2020-03-04 14:44] thadguidry commented on #1433
@wetneb @fpompermaier So this is interesting...Apache Beam now has Schemas support for handling type information.

I haven't looked deeply into it, but was mentioned at the Conclusion at bottom of this article: https://flink.apache.org/ecosystem/2020/02/22/apache-beam-how-beam-runs-on-top-of-flink.html

[2020-03-04 16:41] wetneb commented on #2354
I don't think we have got one yet - it might make sense to move some of the discussion there to keep this focused on Wikidata constraints.

[2020-03-04 16:46] wetneb commented on #898
Closed by #2352.

[2020-03-04 16:46] #898 closed

[2020-03-04 22:07] VladimirAlexiev commented on #2354
Is it possible to use WD's constraint system itself rather than reimplementing constraints?

SHEX is not yet used on a large scale in WD... Also, some specialized constraints (eg Contemporary With) are not implementable in SHEX.

[2020-03-05 07:39] wetneb commented on #2354
That is something that @lucaswerkmeister and I have talked about when the Wikidata extension was first released. Currently, WD's constraint system can only check violations for statements that are already saved in WD: https://phabricator.wikimedia.org/T194194.

Even if that limitation was lifted, we would need to think twice before migrating to it. Having a local implementation of the constraints

[2020-03-05 13:29] wetneb commented on #2144
Concerning file upload from OpenRefine, there are some generic libraries for MediaWiki that we could potentially use: https://www.mediawiki.org/wiki/API:Client_code/Java

For instance JWBF seems to support file upload: https://github.com/eldur/jwbf/blob/master/src/main/java/net/sourceforge/jwbf/mediawiki/actions/editing/FileUpload.java
(I haven't tried it out or researched more deeply to see if it

[2020-03-05 13:35] HSHMartin opened #2355 "Fail to separate .txt file with ;"
Hi,
i hope i am in the right place for my question. A friend of me told me, I should ask here no matter how "stupid" my question is...

I got a.txt file with like 8 to 10 lines. After a random amount of lines there will be a ";" and after that sign i want to get all the text from one ";" to another ";" to the next column and so on. Is it somehow possible? I tried it via "Parse data as CSV/TSV/sepa

[2020-03-05 13:44] wetneb commented on #2355
Hi, and welcome!

It would be better to use [the mailing list](https://groups.google.com/forum/#!forum/openrefine) or StackOverflow for questions.

I would import the file as text lines, and then clean it up from there:
* remove lines with `;` and blank lines;
* split the lines into two columns;
* key-value columnize.

I would not use the CSV/TSV importer for that.

[2020-03-05 13:54] HSHMartin commented on #2355
Thx, for your advices!

If i remove the ";" than i got blank lines, which is not good for the dataset, because sometimes i already got blank lines in my dataset which should be not separated from each other.

Is it maybe somehow possible to import 100.txt files and get 1 .txt file per column in one project? I could easily produce hundred separated .txt file, if it´s easier...

[2020-03-05 13:59] wetneb commented on #2355
Creating a project with hundreds of column and few rows sounds like a bad idea in OpenRefine. I would rather transpose and use few columns, many rows.

[2020-03-05 14:09] HSHMartin commented on #2355
You are totally right, to do it that way. But i still got the problem, that i want to get 100 .txt files into OpenRefine. I could do it by excel as well, but i didn´t found out how to do it there...so i thought i will ask here.

You are right to transponse it, but i still need to seperate the .txt files from each other. And i am still not able to do it :)

[2020-03-05 14:22] wetneb commented on #2355
Could you ask your question on the mailing list or StackOverflow?

[2020-03-05 14:22] #2355 closed

[2020-03-05 14:23] ostephens commented on #2355
@HSHMartin if you ask this on the mailing list I've got a possible approach I will post in reponse and I'm sure other will have as well - there are many more OpenRefine users on the mailing list than monitor these github issues.

Thanks

[2020-03-05 14:24] HSHMartin commented on #2355
Thanks! I will try post it there :)

[2020-03-06 12:13] kushthedude opened #2359 "Addition of Automated Release Notes: ReleaseDrafter"
**Is your feature request related to a problem or area of OpenRefine? Please describe.**

Currently, we are following manual releasing with help of ReleaseDrafter we can easily list out our changes in different sub-sections like: Chore, Feature, Enhancement, Bug etc.

**Describe the solution you'd like**

Addition of ReleaseDrafter, more details over here https://github.com/marketplace/actions/rel

[2020-03-06 12:14] kushthedude commented on #2359
cc: @thadguidry @wetneb

[2020-03-06 12:49] wetneb commented on #2359
Sounds like a good idea!

[2020-03-06 15:40] TejaswiKarasani commented on #2354
@wetneb I wanna start my contribution for outreachy but it is bit initmidating to start off with. Also, I couldn't able to comprend how to proceed with this task .

[2020-03-06 16:07] wetneb commented on #2354
Hi @TejaswiKarasani,

The idea behind the contribution phase is not that you start working on the Outreachy project directly - the intention is more that you get familiar with the environment, by making much smaller contributions which will help you get up to speed.

We have a collection of [good first issues](https://github.com/OpenRefine/OpenRefine/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+f

[2020-03-06 16:10] wetneb commented on #1853
Hi @Shubhangi2901, just checking if you are still working on this - if you are stuck by anything let us know!

[2020-03-06 16:12] wetneb commented on #2316
Hi @adrijshikhar, just checking if you are still working on this? Let us know if you struggle with anything.

[2020-03-06 16:14] TejaswiKarasani commented on #2354
Ok @wetneb :)

[2020-03-07 04:10] Shubhangi2901 commented on #1853
Hey @wetneb  thanks for checking in, i was actually stuck while building openRefine. I followed the steps in the documentation to run source code on eclipse. However it failed to download some artifacts. My build fails with the following error. Please let me know if I am missing some steps while building my code, and how do I get the additional artifacts.

Failed to execute goal on project main: C

[2020-03-07 13:35] TejaswiKarasani commented on #2354
@wetneb

I am facing following errors though I did install maven dependency too

Missing artifact com.codeberry.jdatapath:jdatapath:jar:alpha2
Missing artifact com.codeberry.jdatapath:jdatapath:jar:alpha2
Missing artifact com.colloquial:arithcode:jar:1.1
Missing artifact com.colloquial:arithcode:jar:1.1
Missing artifact com.colloquial:arithcode:jar:1.1
Missing artifact com.colloquial:arithcode:jar

[2020-03-07 14:17] wetneb commented on #1853
Ok! This will be solved if you first build OpenRefine from the command line, with `./refine build` on Linux/MacOS or `refine.bat build` on Windows. This installs the missing artifacts in your local Maven repository. After that, Eclipse should be able to find these artifacts.

[2020-03-07 15:34] madham32 commented on #2354
Hi everyone! I'm Hammad, a final year Software Engineering student from Pakistan and an Outreachy 2020 aspirant. I was looking at OpenRefine's project: "Implement more constraint checks in OpenRefine's Wikidata extension" and it seemed very interesting to me. Having an affinity for Java and some experience with Wikidata, I feel like I can do well. I'd already introduced myself on Gitter but though

[2020-03-07 17:34] jinoytommanjaly opened #2364 "Issue with the result of Url fetching based on Column"
**Describe the bug**
I have a problem with Url fetching based on Column on a particular website.

**To Reproduce**
Steps to reproduce the behaviour:
1. A Column have several numbers listed. Example of a value - 18004
2. Go to Edit Column>Add Column by fetching Url
3. Expression Given:
Tried both a) "https://schoolwiki.in/api.php?action=parse&page="+value+"&format=xml"
and b) 'https://schoolwiki.in

[2020-03-07 18:27] wetneb commented on #2364
Here is an explanation of this issue:
https://github.com/OpenRefine/OpenRefine/wiki/Troubleshooting:-Fetching-data-from-URLs#sunsecurityvalidatorvalidatorexception-pkix-path-building-failed

Leaving this issue open - how could we make it easier to add more certificates in OpenRefine?

[2020-03-07 18:53] wetneb opened #2365 "Publish dependencies on Maven Central"
Some of our dependencies are not available on Maven Central - they are old unmaintained libraries or our own forks of them. We currently ship their jars in the repository itself, but this is a problem since it requires installing these in the user's own local Maven repository first. This impedes workflows such as importing OpenRefine in Eclipse with m2e.

We should publish all our dependencies und

[2020-03-07 18:54] wetneb commented on #1853
Actually, this would require that Maven is installed on your machine… which is probably complicated to get right on Windows. I am working on lifting this limitation: #2365. The problem should be fixed in a few days (hopefully). Thanks for your patience!

[2020-03-07 18:56] wetneb commented on #2354
@TejaswiKarasani This seems to be due to the fact that `refine.bat` cannot find Maven on your computer. @thadguidry might be able to help for this (perhaps somewhere else though, as this is unrelated to this issue). I am working on lifting this limitation: #2365. The problem should be fixed in a few days (hopefully). Thanks for your patience!

@madham32 welcome to the project!

[2020-03-07 18:58] TejaswiKarasani commented on #2354
Thanks for your response @wetneb . I will contact  @thadguidry through email :)

[2020-03-07 19:42] thadguidry commented on #2354
@TejaswiKarasani 1st things...
On Windows, as a developer... NEVER CLONE ONTO YOUR DESKTOP.  It is bad practice and will cause you a lot of grief.  Install things under your `C:\Users\TejaswiKarasani` folder, or just under a new folder under `C:\` or another drive you have.
It is also always wise to setup a nice `github_projects` folder under your `C:\Users\TejaswiKarasani` folder and then clone O

[2020-03-07 20:08] lisa761 commented on #791
Hi, can I take up this issue?

[2020-03-07 21:10] #2112 closed

[2020-03-07 21:20] TejaswiKarasani commented on #2354
@thadguidry thanks a ton it did run :)

![Screenshot (322)](https://user-images.githubusercontent.com/46127128/76152616-75e6e700-60e7-11ea-8eeb-972a111b7dc4.png)

[2020-03-08 07:09] madham32 commented on #2354
I'd set up the openrefine and was looking over some good-first-issue issues though was having a hard time understanding the codebase and where to get started. Was wondering if there's any pointers to where I can start working or some particularly easy to understand issues or code I can start with because right now I was feeling kinda lost. Thanks!

[2020-03-08 10:42] lisa761 commented on #2354
@madham32 Try going through the wiki once, there is also this document there on how to write an extension, and they kinda explain the codebase structure in it.

[2020-03-08 10:53] TejaswiKarasani opened #2368 "Sign in error using Google sign in"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Create project'
2. Click on 'Google data'
3. Click on 'Sign in and authorize Google Account'
4. See error

**Current Results**
400 error page as per screenshot

**Expected behavior**
I should be able to authorize my Google account

**Screenshots**
![image](https://user-images.githubusercontent.com/46127128/76161408-4

[2020-03-08 13:44] kushthedude commented on #2368
You need to setup your keys before doing this. Did you set up the keys?

[2020-03-08 13:51] TejaswiKarasani commented on #2368
No I didn't , how to do that?

[2020-03-08 14:24] wetneb commented on #2368
We need to document the process of obtaining OAuth credentials from Google. When using the credentials for development purposes, it's not too hard.

You will need to go to the Google API Console: https://console.developers.google.com/
This will let you register for OAuth credentials. First, click "Create Project" and pick a project name such as "My OpenRefine Dev Project". Then, pick "Enable APIs

[2020-03-08 14:40] madham32 commented on #1975
Hi! I'd like to be assigned this.

[2020-03-08 15:21] #2365 closed

[2020-03-08 15:34] AghaSaad04 opened #2369 "Import project without file attachment"
**Describe the bug**
Try to import the project without a file attachment and the error will be shown.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Import project'
2. Click on the 'import project button' without a file attachment.
3. See error

If you attach a wrong file/file format and try to proceed you will see the same error.

**Current Results**
![image](https://user-images.gith

[2020-03-08 15:42] thadguidry commented on #2369
@AghaSaad04 Looking forward to your fix on this! :-)  You can do it!

[2020-03-08 15:43] AghaSaad04 commented on #2368
Hi @wetneb, where should we add this documentation?

[2020-03-08 15:44] wetneb commented on #2368
@AghaSaad04 perhaps on a new page dedicated to the Google extension, on the wiki?

[2020-03-08 15:45] AghaSaad04 commented on #2369
Sure @thadguidry, I will look into this

[2020-03-08 16:57] AghaSaad04 commented on #2368
I have added the [Google Extension](https://github.com/OpenRefine/OpenRefine/wiki/Google-Extension) page to the wiki. Kindly review it :)

[2020-03-08 17:41] thadguidry commented on #2368
@AghaSaad04 I think we should also make our Google Data importer panel a bit more helpful for our users.  Explaining those 2 basic steps.  Make a new issue so someone can work on that! :-)

Example:
`1. KEYS:  Setup your KEYS before proceeding to AUTHORIZE - See our [Google Extension](https://github.com/OpenRefine/OpenRefine/wiki/Google-Extension) help page`

`2. AUTHORIZE:  Authorized Documents -

[2020-03-08 17:46] wetneb commented on #2368
Just to be clear - this is only needed when working with development versions of OpenRefine, keys are provided for the releases. We could add an additional message pointing to the wiki when OpenRefine is run without OAuth credentials, but only in that case.

[2020-03-08 17:49] AghaSaad04 commented on #2368
Perfect @wetneb, @thadguidry. I will update the Google Extension page and will also add that in the Google Data importer panel.

[2020-03-08 18:03] TejaswiKarasani commented on #2368
@wetneb

I did everything as per procedure but it's the same again :/

![image](https://user-images.githubusercontent.com/46127128/76168350-27902180-6195-11ea-9e1c-fdf011583d91.png)

[2020-03-08 18:06] wetneb commented on #2368
@TejaswiKarasani have you recompiled OpenRefine after changing `GoogleAPIExtension.java`? You can do this on the command line with `refine.bat build`. But I would recommend using an IDE such as Eclipse (rather than a simple text editor) which will automatically compile things when you save your changes.

[2020-03-08 18:08] TejaswiKarasani commented on #2368
yes I did recompile

![image](https://user-images.githubusercontent.com/46127128/76168446-f7954e00-6195-11ea-89ba-f0b3366aeb8e.png)

[2020-03-08 18:11] wetneb commented on #2368
Ah it's my fault then, you probably need to add the callback URL `http://localhost:3333/extensions/gdata/authorized` to the Credentials pane (I have just updated the wiki).

[2020-03-08 18:20] TejaswiKarasani commented on #2368
@wetneb it worked finally. Should search around some tasks and start contributing ^_^

[2020-03-08 18:21] kushthedude commented on #2368
This can be closed then:)

On Sun, 8 Mar, 2020, 23:50 TejaswiKarasani, <notifications@github.com>
wrote:

[2020-03-08 18:25] TejaswiKarasani commented on #2368
yes @kushthedude  but just waiting for @wetneb approval because some of the wiki updated along .

[2020-03-08 18:26] wetneb commented on #2368
Sure!

[2020-03-08 18:26] #2368 closed

[2020-03-08 19:38] madham32 commented on #1975
![Screenshot from 2020-03-09 00-36-29](https://user-images.githubusercontent.com/47317143/76169839-1b5c9200-619e-11ea-9a4a-34aee1c81cb1.png)
Just got to add a function with the query expression now and we're good to go!

[2020-03-08 22:09] kushthedude opened #2373 "Providing a button to apply filter in text-search"
**Is your feature request related to a problem or area of OpenRefine? Please describe.**

Currently, we use a timeout to decide the trigger of the server to show us search result which sometimes may be fascinating for users with large regex.
**Describe the solution you'd like**

Show a button to apply filter with entering key-binding in place of deciding the timeout for users.

**Additional contex

[2020-03-08 22:09] kushthedude commented on #2373
cc: @thadguidry @wetneb @ostephens

[2020-03-08 22:36] kushthedude opened #2374 "List Facets dialogue box is editable"
**Describe the bug**

List Facets dialogue box is editable, which should not be.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Customised Facets`
2. Click on `Word Facet`
3. List all choices
4. See error

**Current Results**

You can edit the dialogue and remove or add anything which should not be applicable as it is listing the facets.

**Screenshots**

<img height="400" width="498

[2020-03-08 22:37] kushthedude commented on #2374
cc: @thadguidry @wetneb

[2020-03-08 23:19] kushthedude commented on #2019
Taking a look at it!

[2020-03-08 23:26] thadguidry commented on #2374
@kushthedude Historical context:  This was originally allowed by design.  User's sometimes wanted to quickly rename something and then do CTRL-A to select everything in the box and CTRL-C to copy the info so that they could paste it CTRL-V into another program.

Given that context, do you see a problem currently with this historical use case now?  You said "see error" but you didn't explain or sho

[2020-03-08 23:29] kushthedude commented on #2374
I don't see the context of renaming and editing in here. As after editing none of the changes are applied to the actual list of facets.

I mentioned in the bug description that the text box should is editable where it should be not. It may just allow to list all available word filter facets for users to see the options ?

[2020-03-08 23:32] kushthedude commented on #2374
@thadguidry What advantage would renaming give to the users when the words available are already defined in the datasets?
 It actually didn't seem logical to me as if the user is listing out and seeing the avaialble list of words which he can use to apply the filter why would he want to rename any of them, I may be wrong but if there is any use-case or an advantage of editable list, I will close t

[2020-03-08 23:37] thadguidry commented on #2374
@kushthedude It was not intended to CHANGE facets, but instead to allow users to EXPORT or as David said in the commit "Copy off" the data contained within facets...via copy/paste.  You can see the [git blame's and issues](https://github.com/OpenRefine/OpenRefine/blame/10c046698a9586662668e31086bdd2d3c6aad801/main/webapp/modules/core/scripts/facets/list-facet.js) from the git history.  Specificall

[2020-03-08 23:43] kushthedude commented on #2374
Yes, that's what I am saying over here. As seen from the commit the list feature was introduced to let users copy the list of choices and there count from the total available. But there is no need to make that list editable since this is a list and it should be read-only from which user can select and copy/paste the data he needs. Also making the list box editable may result into some human errors

[2020-03-08 23:46] kushthedude opened #2376 "URL validator absent in the Get Data from URL input"
**Describe the bug**

URL validator absent in the Get Data from URL input

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Index page'
2. Click on 'import from web url'
3. Enter any random string eg:dnweferfe
4. Click on next and see the server tries to fetch the data from the wrong address

**Expected behavior**

There should be a URL Field validator which may restrain the user from e

[2020-03-08 23:53] thadguidry commented on #2374
@kushthedude Sure, just giving you the context... a few users wanted to edit in the box quickly and then copy.  Changing this mean they will just be allowed to copy and can make edits in another program.  I'm actually fine with not allowing edits in OpenRefine here and letting them edit in their own Notepad.

[2020-03-08 23:59] kushthedude commented on #2374
I understand your use-case now. Now as we are again in the dilemma of making the textbox read-only or editable. Let's wait for another opinion from @wetneb, if the editable textbox is more beneficial then I will close the issue and it's relevant PR :).

Yeah, this will clear the use-case of the dialogue to users.

[2020-03-09 00:01] kushthedude commented on #2374
I will start working today on introducing the Vue.js to a part of our web-app as discussed in gitter and let's see how it goes 😅

[2020-03-09 00:03] thadguidry commented on #2376
wait, what?!?!  I thought for sure this was validated...someone mentioned it before and if memory serves, it was improved to check validation. (or I'm thinking of @jackyq2015 's work else perhaps)

[2020-03-09 00:07] thadguidry commented on #2376
Hmm, nope, not this one: #297 , I dunno... I'm losing my mind I guess.
Hmm... https://github.com/OpenRefine/OpenRefine/blob/9f7d5b878628c40d68a445b751fd50140d922e7d/main/webapp/modules/core/scripts/util/url.js

I dunno... it was somewhere.

[2020-03-09 00:08] thadguidry commented on #2376
Doh!  It was an Exporter, from @wetneb , not the importer.
https://github.com/OpenRefine/OpenRefine/blob/14dd4c01125b15df8fda9651c49ce19b5f32bf75/main/src/com/google/refine/exporters/CustomizableTabularExporterUtilities.java

[2020-03-09 00:09] kushthedude commented on #2376
URL is not validated and the transition to downloading page happens. There should be a URL Validator for textbox which may restrain the user from proceeding to the next page and show message `Please enter a valid URL`.

Currently, when I enter wrong URL and click on next, this is the behaviour :
<img width="845" alt="Screenshot 2020-03-09 at 5 38 55 AM" src="https://user-images.githubusercontent.c

[2020-03-09 00:10] kushthedude commented on #2376
So I may start working on it then 😄

[2020-03-09 00:13] thadguidry commented on #2376
@kushthedude yes please.  And my memory will eventually fail completely... I.E. code comment the crap out of stuff so its easier to find when we are searching the repo :-)

[2020-03-09 02:53] TejaswiKarasani commented on #501
@wetneb I would like to take up the issue if other is not working on it

[2020-03-09 06:34] madham32 commented on #1975
Here's how the fix works:

![Screenshot from 2020-03-09 11-03-28](https://user-images.githubusercontent.com/47317143/76187016-027fcb00-61f6-11ea-91a9-3d22a230da9f.png)
![Screenshot from 2020-03-09 11-04-15](https://user-images.githubusercontent.com/47317143/76187019-07447f00-61f6-11ea-8f72-778449d9a185.png)
![Screenshot from 2020-03-09 11-09-42](https://user-images.githubusercontent.com/47317143/7

[2020-03-09 06:41] MarosKitti commented on #501
I was working on it.

[2020-03-09 09:30] ostephens commented on #2373
I have to admit I'm against this - I'd prefer us to get smarter with our UI here and have better feedback to the user without necessarily interrupting their typing rather than having an extra click to apply the filter.

I don't know what the correct solution is, but for example we could do some sanity checking on the regular expression client side and only submit once the client side has validated

[2020-03-09 09:32] wetneb commented on #501
@kushthedude please do not assign the same issue to multiple people unless they are explicitly collaborating together - the point of assigning people to issues is to avoid duplication of efforts. Thank you!

[2020-03-09 09:36] ostephens commented on #2364
@wetneb would you be OK if we close this issue and have one specifically about making it easier to add/manage certificates?

[2020-03-09 09:36] wetneb commented on #2364
@ostephens of course!

[2020-03-09 09:50] ostephens opened #2379 "SSL errors on using 'add column by fetching URL'"
**Describe the bug**
When fetching data from an external source with an SSL cert (i.e. using "add column by fetching URL" with an https URL) the fetch can fail if the certificate is not trusted by the local system.

**To Reproduce**
#1265 is the key issue and has a lot of discussion about potential solutions and pointers to other sources of information about working with certs which may be relevan

[2020-03-09 09:51] ostephens commented on #2364
Have opened #2379 - please feel free to jump in and comment or amend my wording/title of the issue

[2020-03-09 09:51] #2364 closed

[2020-03-09 11:35] lisa761 commented on #791
So once we have added the checkbox in the csv/tsv files, the importer in the backend should assume that it is disabled even if the checkbox is checked by default. Can you please tell me where the json importer is dealing with that option?

[2020-03-09 11:41] wetneb commented on #791
The JSON importer is unrelated to this issue, since it is only used when importing JSON files.
The CSV/TSV importer (called `SeparatorBasedImporter` in the backend) takes its options as the `options` parameter of the `parseOneFile` method. If this `options` object does not have a key corresponding to the new parameter you introduce, then it should assume that its value is `false`.
This will ensure

[2020-03-09 11:51] adivea commented on #461
I am still having issues with importing public google sheets to OpenRefine. When I paste in a googlesheet URL I get routed to sign in, and then get the "Sign in with Google temporarily disabled for this app
This app has not been verified yet by Google in order to use Google Sign In." message. I don't see where I can permit the OR to be verified by Google.

![image](https://user-images.githubuserco

[2020-03-09 11:52] wetneb commented on #791
Sorry, I was too quick on this one. The trimming option for the JSON importer is defined in `TreeImportingParserBase` which is common to the XML and JSON importers.
However it does not actually seem to be taken into account as far as I can see, it would probably be worth creating an issue for it. Also clicking on the label for this option in the importer configuration panel checks/unchecks the wro

[2020-03-09 11:58] wetneb commented on #461
@adivea which version of OpenRefine are you using? This should be fixed in 3.3.

[2020-03-09 12:00] lisa761 commented on #791
@wetneb Right, I was wondering where it is,  because I couldn't get it to work for json itself. Thanks.

[2020-03-09 12:48] adivea commented on #461
Sorry, I am still on the 3.1
Will download 3.3 now and test.
A.

*Dr Adela Sobotkova*
FAIMS Project - Co-Director
adela@fedarch.org
Center for Digital History Aarhus (CEDHAR <http://cas.au.dk/cedhar>) -
Co-Director
adela@cas.au.dk
+45 41140011

On Mon, Mar 9, 2020 at 12:58 PM Antonin Delpeuch <notifications@github.com>
wrote:

[2020-03-09 13:17] thadguidry commented on #2373
I am completely for this.  I work with large datasets and felt the same pain as the OP in #2112 , just a simple closure of a group in Regex doesn't mean I am done.  And when we are working with greater than 500,000 rows, the pain exacerbates.  There's no way for the code to be smarter than me and read my mind to know when I have fully completed my expression, but only that I have a valid expressio

[2020-03-09 13:29] fpompermaier commented on #2273
So, in the end, we've chosen Jekyll? Can we close this ticket with the final decisions?

[2020-03-09 13:31] ostephens commented on #2273
@fpompermaier no decisions made - where did you take that we had chosen Jekyll?

[2020-03-09 13:36] fpompermaier commented on #2273
I saw the announce on Twitter [1][2].

[1] https://twitter.com/OpenRefine/status/1236970180787535874
[2] https://github.com/OpenRefine/openrefine.github.com

[2020-03-09 13:37] ostephens commented on #2273
That relates to the use of Jekyll to deliver the OpenRefine website (which has been the case for sometime), not in any way related to this issue

[2020-03-09 13:45] thadguidry commented on #2273
@fpompermaier this shows yet another reason why we would like you to be more intimately involved with the project, preferably hacking on OpenRefine on a daily volunteer basis :-) (just joking)

[2020-03-09 13:58] fpompermaier commented on #1433
Sorry for the late feedback..Yes, Apache Beam has this very interesting feature that is called **SDK Harness** that allows to call external code "natively" with a very low overhead (except the gRPC serialization cost between functions). I agree with @wetneb that this project is very complex and require a huge effort to be fulfilled.  Unfortunately this year I have a very tight scheduling so I don'

[2020-03-09 14:39] afkbrb opened #2380 "inifite preparing if missing slash after Google Spreadsheet URL"
**Describe the bug**

When importing a Google spreadsheet, if we add a URL like `https://docs.google.com/spreadsheets/d/id_of_spreadsheet` (without "/" after it), then we will see an infinite "preparing" (you must login first).

![issue3-preparing](https://user-images.githubusercontent.com/29347603/76220120-e873d600-6251-11ea-936a-e4df75e0d6f0.png)

We can see the following error in the console.

[2020-03-09 15:56] TejaswiKarasani opened #2381 "Same Url is copied to the below newly created fields instead of creating an empty field when "Add another URL" is clicked"
**Describe the bug**
When I click "Add another URL" , the new URL box gets the first URL copied in it by default instead of an empty URL field

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Create project'
2. Click on 'Web Addresses URL's'
3.Enter an URL in first URL box and then click on "Add another URL"
4. See error

**Current Results**
First URL gets copied to another newly creat

[2020-03-09 15:56] TejaswiKarasani commented on #2381
@wetneb may I take up the issue?

[2020-03-09 16:31] wetneb commented on #2380
Yes it would be more convenient to make this more easily configurable.

[2020-03-09 16:33] wetneb commented on #2381
Sure! It's not completely clear to me if this is a bug or something intended - perhaps the idea was to make it easier to download multiple similar URLs, and so it would be convenient to be able to change the URLs added… It would seem a bit weird though. It might be worth waiting a bit for feedback from others to see if this is a feature or a bug, before you rush to do a fix :)

[2020-03-09 16:39] TejaswiKarasani commented on #2381
Yes @wetneb and I would to start working on making my orginal outreachy proposal , now I feel a kind of accustomed to the environment :)

[2020-03-09 16:41] TejaswiKarasani commented on #2381
And also I doubt if this made to compensate to not to pop up any error and proceed to download the files when there are empty URL fileds

[2020-03-09 16:59] wetneb commented on #2381
I might be wrong but it seems to me that Outreachy does not let interns propose their own projects - I think you would have to apply for the only project we have proposed. If you are also eligible to participate in Google Summer of Code, it is possible to propose your own project there.
If you want to have a chat about that we can probably take this issue to Gitter.

[2020-03-09 17:07] TejaswiKarasani commented on #2381
I meant working on the current proposal itself 😅

[2020-03-09 20:44] Shubhangi2901 commented on #1853
Hey @wetneb  thanks for the help, got all the mavens installed and running. However I wanted to confirm this this issue is still open as per PR https://github.com/OpenRefine/OpenRefine/pull/1993 this issue has been resolved.
I have the code running on my local system and would be happy to take any other pending issue.

[2020-03-10 01:05] tfmorris commented on #2381
That is my interpretation. I wouldn't blithely change it without getting feedback from users first to make sure that any change is an improvement in their eyes.

[2020-03-10 01:17] afkbrb commented on #2380
Is it possible to add the configuration into `refine.ini`?

[2020-03-10 01:22] Shubhangi2901 commented on #2272
Hi @wetneb  and @thadguidry I would like to take this up!

[2020-03-10 01:47] thadguidry commented on #2272
@Shubhangi2901 Sure, but we need to wait for @wetneb to respond and confirm if using Launch4j is the only sensible way to do this (since in the past we talked about possibly removing Launch4j, so unsure of other OS impacts, like MacOS.  He had investigated some of that at one point)

[2020-03-10 04:35] TejaswiKarasani commented on #2312
@thadguidry and @wetneb I would like to give solve up the issue with both of your guidence

[2020-03-10 09:08] jinoytommanjaly commented on #2364
Hi,

I was using jre environment in my computer. So the explanation not worked on my system. I found the solution from here. https://www.ibm.com/support/knowledgecenter/SS9RXT_10.1.0/com.ibm.swg.ba.cognos.tm1_inst.10.1.0.doc/t_tm1_inst_addcertificatetokeystoreopsconsole.html

[2020-03-10 09:33] ostephens commented on #2364
@jinoytommanjaly glad you got this resolved. The explanation you link to looks to me to be the same as the ones we link to from the wiki - using keytools to update cacerts. If this wasn't clear to you, then perhaps you can suggest (or even better directly make) a change to the wiki to make the explanation clearer?

[2020-03-10 09:53] afkbrb commented on #2380
Yes, we can! I've made it. Now I can put the client_id/client_secret in `refine.ini` for OAuth with Google!

@wetneb Should I open a new issue (feature) to introduce this new configuration?

[2020-03-10 10:13] wetneb commented on #1853
Oh makes sense! Sorry about that, let's close this now.

[2020-03-10 10:13] #1854 closed

[2020-03-10 10:17] #2374 closed

[2020-03-10 10:23] wetneb commented on #2272
As far as I am aware, Launch4j is still a good pick for this. JavaPackager (#2107) was only included in Java 8 so migrating to it is probably not very future-proof. If anyone is aware of better packaging tools for Windows, let us know here :)

[2020-03-10 10:24] jinoytommanjaly commented on #2364
@ostephens Ya. it's almost same, but seems to be little complex steps.

I was getting the error when i tried as:
'keytool' is not recognized as an internal or external command, operable program or batch file.

Since keytool is located in sub directory, i need to change the path of my drive or change environment settings in my PC. But got different errors while running cmd.

But from the above sett

[2020-03-10 10:25] ostephens commented on #2364
OK - thanks and no problem

Owen

[2020-03-10 10:34] wetneb commented on #2312
Sure! Removing all calls to deprecated methods is a big task in general - and might not make sense or be desirable in many cases.

Perhaps you could look at deprecated calls from a specific library, to get a narrower focus. For instance, we use deprecated interfaces from the Apache POI library, which is used in the Excel importer and exporter. Perhaps you could have a look at that?  This requires

[2020-03-10 10:39] TejaswiKarasani commented on #2312
Ok @wetneb

[2020-03-10 10:43] ostephens commented on #2380
@afkbrb @wetneb if the client_id/client_secret are meant to be set by the user, I think they should be in a user configurable setting which can be edited in the Preferences (like refine.data_dir, ui.browsing.listFacet.limit etc.). If you are going to create a new issue around this I'd suggest including this as a requirement

[2020-03-10 10:56] wetneb commented on #2380
It's a bit complicated. At the moment, I introduce validated OAuth credentials in released versions. We don't want to expose these to users, since they should stay secret for as long as possible.
At the same time, it does make sense to make it easier for developers to set up their own credentials easily, without having to touch the source code. So I would say these settings should not go to the Pr

[2020-03-10 10:59] ostephens commented on #2380
Hmm - that seems problematic :(

To answer @afkbrb - that definitely feels like it deserves a separate issue for discussion :)

[2020-03-10 11:17] afkbrb commented on #2380
@wetneb @ostephens Thanks for you suggestions.

Didn't expect that this is so complicated. I'll open a seperate issue for it later.

[2020-03-10 12:52] afkbrb opened #2383 "Configurable OAuth credentials for gdata extension"
Currently, if we (as developers) want to use the gdata extension to import Google Stylesheet, we will need to obtain a client_id/client_secret pair first. [Here](https://github.com/OpenRefine/OpenRefine/wiki/Google-Extension) we have a wiki on how to do it.

Then, we must put the client_id/client_secret into [GoogleAPIExtension](https://github.com/OpenRefine/OpenRefine/blob/master/extensions/gdata

[2020-03-10 13:00] madham32 commented on #1782
Hi! Can I try working on this issue? :)

[2020-03-10 13:04] madham32 commented on #1782
Could you tell me how to reproduce these errors?

[2020-03-10 13:05] thadguidry commented on #2272
@wetneb So I dug around and asked some previous co-workers how we packaged for customer installations on Windows.  They said Inno Setup.  I found a Medium article (have a subscription) that I've zipped up here, but I think this is overkill honestly:
[java-packager-with-jdk11.zip](https://github.com/OpenRefine/OpenRefine/files/4312512/java-packager-with-jdk11.zip)

So looked around further, and it

[2020-03-10 13:41] lisa761 commented on #791
Should I fix the label problem of json importer config as another pull request?

[2020-03-10 13:48] #2380 closed

[2020-03-10 13:53] wetneb commented on #1782
You could create a fresh Wikidata account, without any edits, and then try to [create a new wikidata item from OpenRefine itself](https://www.wikidata.org/wiki/Wikidata:Tools/OpenRefine/Editing/New_items).

If you already have a Wikidata account, make sure you are logged in with your existing account when you sign up for a new account. This will make sure both accounts are linked and the system re

[2020-03-10 13:57] wetneb commented on #2272
Citing the JEP:

That's pretty sad, at the moment we can do almost all of our packaging cross-platform, so migrating to that would come at a big cost (for instance to create nightlies).

[2020-03-10 14:20] wetneb commented on #791
Perhaps it is cleaner if we do that in separate PRs, yes.

[2020-03-10 14:21] thadguidry commented on #2272
@wetneb GitHub Actions virtual envs for Linux, Windows, Mac :-)
https://help.github.com/en/actions/reference/virtual-environments-for-github-hosted-runners
Where `jpackage` would have to be available, indeed, like so:
[code]
Then the Maven pom.xml specifying the compilation to maintain the backwards compatibility.
https://help.github.com/en/actions/language-and-framework-guides/building-and-testin

[2020-03-10 14:36] wetneb commented on #1858
We already have a language fallback (#2209) so the first point has been addressed.

We still need to improve our use of the localization library ([Wikimedia jQuery i18n plugin](https://github.com/wikimedia/jquery.i18n)), mostly:
* to use their support for templates rather than concatenating translated strings to other strings;
* to use support for plurals where appropriate.

For instance, we have

[2020-03-10 15:32] afkbrb commented on #2383
We can change the following code in [GoogleAPIExtension](https://github.com/OpenRefine/OpenRefine/blob/master/extensions/gdata/src/com/google/refine/extension/gdata/GoogleAPIExtension.java) :

[code]

to:

[code]

The second param of `System.getProperty` is the default value, which is returned when the corresponding value of the key is null.

This mechanism can be very helpful.

We can "hard code"

[2020-03-10 20:31] kushthedude opened #2386 "No validator to check type of file uploaded in import project"
**Describe the bug**

No validator to check type of file uploaded in import project while importing from local computer

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'http://127.0.0.1:3333'
2. Click on 'Get data from this computer'
3. Select JPG, PNG or any other invalid format
4. See error

**Expected behavior**

There should be an error of file type not supported

**Screenshots**

[2020-03-10 20:32] kushthedude commented on #2386
@wetned @thadguidry If this is a valid issue, where can I find the list of formats we would like to support ?

[2020-03-10 20:35] kushthedude commented on #2381
Agreed with @tfmorris. While importing data from web-URLs mostly users have similar sort of preceding URL, so that user may just change the end part. But feedback from other users may be better.

[2020-03-10 20:46] thadguidry commented on #2386
We have importers for some file types.  But we don't limit users ability to use OpenRefine on any file that they have.  This way OpenRefine can be used to make sense of the file and structure and clean it if they wish.

[2020-03-10 21:09] kushthedude commented on #2386
What good the other file types are if the OpenRefine is set to work on some
specific file formats?

On Wed, 11 Mar, 2020, 02:16 Thad Guidry, <notifications@github.com> wrote:

[2020-03-10 21:19] thadguidry commented on #2386
Sorry, I don't understand.  Are you asking why OpenRefine only has some importers and not 1000 ?

[2020-03-10 21:29] thadguidry commented on #2386
The concepts of OpenRefine are not unlike ETL programs.  Here we are talking about the E (extract) https://en.wikipedia.org/wiki/Extract,_transform,_load

What I am trying to explain is that OpenRefine allows any flat file to be extracted.  If the file has some linefeeds, then line-based importer will be detected, but if it has no lines, a user can still preview the file and might knowing understa

[2020-03-10 22:12] kushthedude commented on #2386
Got your point, thanks for the awesome explanation yet again 👍

[2020-03-10 22:12] #2386 closed

[2020-03-11 09:35] #1975 closed

[2020-03-11 09:38] wetneb commented on #2383
Sounds good to me!

[2020-03-11 09:40] wetneb opened #2388 "Incorrect linking between checkboxes and labels in JSON importer configuration"
From @lisa761 in #2385

[2020-03-11 09:41] #2388 closed

[2020-03-11 18:22] jinoytommanjaly opened #2391 "Problem with Date conversion and Uploading to Wikidata"
**Describe the bug**
While transforming a numerical text values in a column to date format the result for some values is weird.

**To Reproduce**
Steps to reproduce the behavior:
1. Select Cells>Common Transformers>To date
2. The errors are for value for '1906', '1903', '1902'.

**Current Results**
The current result getting is for all values except '1906', '1903' and '1902' is '190x-01-01T00:00:0

[2020-03-11 18:32] jinoytommanjaly commented on #2291
Ya having the same problem last 2-3 days. Need to click Extension:Wikidata>Export to Quickstatements 2 times to open statements.txt window. In first window page it's just showing a blank 'about:blank' page.

[2020-03-11 18:32] wetneb commented on #2391
If you upload dates to Wikidata, and have them stored as strings initially (such as `1903`), then you should *not* convert them to dates in OpenRefine first.

This is because OpenRefine's dates do not have any notion of precision: they are timestamps with year, month, day, hour, minute, second. This is too precise for your data.

You should simply use the years (as `1903`, stored as strings) in th

[2020-03-11 18:36] jinoytommanjaly commented on #2391
In first case i have used the string only. While using the sting value I am getting the same error for value '1906'
![Screenshot 2020-03-12 00 05 11](https://user-images.githubusercontent.com/38123141/76451335-44c32b00-63f5-11ea-8774-2fc2b8a86103.png)
![Screenshot 2020-03-12 00 05 25](https://user-images.githubusercontent.com/38123141/76451344-48ef4880-63f5-11ea-9505-c548da3dadc4.png)

[2020-03-11 19:33] thadguidry commented on #2391
I could not reproduce this with OpenRefine 3.3  either as Text (black) or Number (green) for original year and using Edit cells -> Common transforms -> To date

Exported test project: [date_test.tar.gz](https://github.com/OpenRefine/OpenRefine/files/4320413/date_test.tar.gz)

[2020-03-11 20:28] jinoytommanjaly commented on #2391
@thadguidry Thanks for that.

I have forgot to convert the text value to number ( value.toNumber ) and then to ( value.toDate ). The error was generated when the column value is just text.

[2020-03-11 20:45] jinoytommanjaly commented on #2391
[dates.checked.gz](https://github.com/OpenRefine/OpenRefine/files/4320792/dates.checked.gz)

Can you check file.

I have created a test Schema for uploading to Wikidata. When the value 1906 is stored as string its given error. Try checking by Extensions:WIkidata>Export to QS
![Screenshot 2020-03-12 02 15 28](https://user-images.githubusercontent.com/38123141/76462253-5e6d6e00-6407-11ea-881c-2c86f2

[2020-03-11 20:46] wetneb commented on #2391
Ok, then this must be a bug in the date parsing in the Wikidata extension: parsing `1906` to a Wikibase date seems to depend on the timezone.

[2020-03-11 21:27] wetneb commented on #2391
@jinoytommanjaly this is really curious, I changed my timezone to be not GMT and I cannot reproduce the bug even with the project dump that you have provided.

Could you let us know what your timezone is exactly?

[2020-03-11 22:22] #2376 closed

[2020-03-12 05:19] darecoder1999 commented on #2300
@wetneb: Hi, I would like to work on this issue if it's not already taken. Thanks.

[2020-03-12 07:10] jinoytommanjaly commented on #2391
Its GMT+5:30 ie IST

[2020-03-12 07:21] lisa761 opened #2393 "Incorrect linking between checkboxes and labels in XML importer configuration"
**Describe the bug**

Same as #2388 but for XML importer

[2020-03-12 09:37] afkbrb opened #2396 "Misleading JAVA_OPTIONS configuration samples in refine.ini"
In [refine.ini](https://github.com/OpenRefine/OpenRefine/blob/master/refine.ini), we have two samples for JAVA_OPTIONS configuration:

[code]

These configurations works fine on Windows. But on linux, if we uncomment the first sample, we'll see the following error:

![issue4-error](https://user-images.githubusercontent.com/29347603/76505768-f3fb1300-6484-11ea-944d-eea0fc21d345.PNG)

That's because

[2020-03-12 10:41] #2383 closed

[2020-03-12 10:41] #2029 closed

[2020-03-12 10:46] wetneb commented on #2300
Concerning rearranging the source into new modules and namespaces, I have done that in `4.x` and was thinking about keeping the 3.x release series with the current architecture. But I guess we could already publish the `main` module on Maven to make this issue easier. What do you think?

[2020-03-12 10:54] #2393 closed

[2020-03-12 10:57] #1973 closed

[2020-03-12 11:36] wetneb opened #2398 "Mock reconciliation calls in Wikitext importer tests"
The Wikitext importer makes calls to the Wikidata reconciliation service at import time.
We should make sure these calls are mocked in its tests.

[2020-03-12 12:11] afkbrb commented on #2398
I can work on this issue.

[2020-03-12 12:42] kushthedude commented on #1312
@thadguidry I would like to work on the following

[2020-03-12 13:03] #2345 closed

[2020-03-12 13:21] lisa761 opened #2402 "'Updating Preview' gets stuck in an infinite loop on clicking any config option in XML"
**Describe the bug**
The 'Update Preview' gets stuck in an infinite loop if the user does not select a record element first before clicking on any configuration option when working with XML datasets.

**To Reproduce**
1. Go to Create Project
2. Open any XML dataset (e.g. https://www.govinfo.gov/bulkdata/FR/2020/03/FR-2020-03-09.xml)
3. Click any configuration option (e.g. Load at Most checkbox)

*

[2020-03-12 14:05] thadguidry commented on #1312
@kushthedude This is a baby step issue, to the larger goal of having a better grid technology that supports many features we would like such as draggable re-orderable columns, resizable columns, etc.  But sure, if you want to isolate on only the "resize columns" feature that's fine.  But how you do it and which technology choosen will impact the larger goal later (or you'll have to refactor/redo).

[2020-03-12 14:20] darecoder1999 commented on #2300
Sounds good to me. It will be easier after the release is published to Maven central.

[2020-03-12 14:22] darecoder1999 commented on #2300
@wetneb Are we still waiting for the release to start working on this?

[2020-03-12 14:23] wetneb commented on #2300
Unless you have ideas about how to do this without releasing to Maven, I would wait for this, yes.

[2020-03-12 14:30] thadguidry opened #2403 "Silent errors when using JSON importer"
**Describe the bug**
Errors in parsing JSON files with Json Importer are not shown to user, but instead are silent and shown only in console.

**To Reproduce**
Steps to reproduce the behavior:
1. Use Clipboard with the following:
[code]
2. Click Next
3. Choose JSON importer
4. The preview of some elements are shown (although not completely because of a JSON structure problem in the provided test C

[2020-03-12 16:22] zengchu2 commented on #1792
Hi, I am now currently working on this issue. It seems that the problem occurs due to the false update for request `update-format-and-options` is sent and so the incorret row model is returned.
Are there any hints or docs related to the server side job updating, that would speed up my process quickly !

Thanks in advanced!

[2020-03-12 20:58] hiterdorina commented on #2039
Hi, I would like to work in this issue, related to a school project. Can I work on it?

[2020-03-12 21:17] wetneb commented on #2039
Sure!

[2020-03-12 22:59] kushthedude commented on #1312
@thadguidry Hmm, I was first thinking to introduce `table-layout` property to our container and then go for column resize property for each column. But I just looked into code and saw the table is bound differently, All the column headers are coming from the `DataTableHeader Container` and the table data is coming from `TableDataContainer` which renders the data on row basis by labelling them with

[2020-03-12 23:01] wetneb commented on #1312
Yes, it's a big mess! Resizing is done in JavaScript explicitly, which is massively inefficient since it triggers many DOM reflows. Also the size of the headers often get out of sync with the size of the grid.

[2020-03-12 23:03] kushthedude commented on #1312
I was thinking to reimplement the tables and bind the content to a single table container if this can be done efficiently. Then the goal of having a better grid technology will be much more easier as we can directly apply our styling to the container rather worrying about how it would affect other columns and their headers.

[2020-03-13 01:56] thadguidry commented on #1312
Myself and @wetneb are not exactly front-end wizards.  So we are depending on folks like you, maybe your peers or others in your circle that do have that experience to set the right course forward.  I think this is going to take a bit of experimentation to see what works best.  Have you looked at how agGrid with Vue works? https://www.ag-grid.com/vuejs-grid/  or others?  This might serve useful to

[2020-03-13 02:32] kushthedude commented on #1312
@thadguidry I will do the experiment to try bind the table to a single container for a staft and see how it goes. Coming to the Vue.js point, since the data-table is one of the biggest component of OpenRefine introducing vue.js directly into it may do more harm than good. I am looking to migrate the dialogues to vue.js for a start and if it looks good, we can look for migration of other components

[2020-03-13 03:08] afkbrb commented on #1612
I'm thinking about the expected outcomes of [oauth-support-for-wikidata-extension](https://github.com/OpenRefine/OpenRefine/wiki/GSoC-2020%C2%A0Ideas#oauth-support-for-wikidata-extension). We have two options:

1. We provide embedded OAuth credentials for wikidata extension for release versions, just like what we do with gdata extension. With #2392 , we can now provide our own credentials to overr

[2020-03-13 07:24] darecoder1999 commented on #2300
@wetneb: I suggest for a nightly release for this to proceed. Otherwise, I can release a snapshot that can be replaced later.

[2020-03-13 08:32] darecoder1999 commented on #2235
@eroux @wetneb I'm not able to reproduce the error with the same dataset and following the above-mentioned steps to reproduce the error. Any help would be highly appreciated. Thank you.

[2020-03-13 08:38] wetneb commented on #1612
For Wikidata, I would go for option 2. The feature will still be very useful to users who care about not providing their password to OR and to those who want to host instances for others to use.

The Android Commons App also considered implementing OAuth and they decided against it because of this issue (https://phabricator.wikimedia.org/T179519, https://github.com/commons-app/apps-android-commons

[2020-03-13 08:38] #2396 closed

[2020-03-13 08:39] wetneb commented on #2300
Sure, go for it then :)

[2020-03-13 08:48] wetneb commented on #2235
You could try decreasing the maximum size of POST requests, by changing the system property `refine.max_form_content_size` to something small.

[2020-03-13 11:35] thadguidry commented on #583
I put some of my previous research on Data grids into this wiki page:[ Research on data grids](https://github.com/OpenRefine/OpenRefine/wiki/Research-on-data-grids)

[2020-03-13 14:08] thadguidry commented on #133
I think a better way is to upscale to reactive handling at the column header level itself.  Newer frameworks make this a bit easier.  Maybe existing Jquery could help here also, dunno.
For instance, Vue.js has a clean way to do this with Parent-child [one-way-down binding](https://vuejs.org/v2/guide/components-props.html#One-Way-Data-Flow).
The `title` property could be dynamically changed.  Where

[2020-03-13 14:14] wetneb commented on #133
This issue should be resolved in 4.x, as I have had to introduce the functionality mentioned above.

[2020-03-13 14:14] fpompermaier commented on #133
In some project I used Vue.js and it's very easy to use so +1 for it on my side. Re-modernizing the Refine UI will be awesome (if someone is willing to burden this task)

[2020-03-13 14:15] thadguidry commented on #133
@wetneb shall we close this issue then and marked as fixed on a particular commit you have around? or wait?

[2020-03-13 14:24] thadguidry commented on #2402
#1715 is related

[2020-03-13 14:26] thadguidry commented on #2403
Related issue #1715

[2020-03-13 14:34] thadguidry commented on #626
I haven't seen this issue appear since 2013.
I think we can safely close it now since we're using Java 8+

[2020-03-13 14:34] #626 closed

[2020-03-13 15:42] kovacskarolina commented on #1409
Hi, I'd like to continue this issue. Can I work on it?

[2020-03-13 16:00] thadguidry commented on #1409
@kovacskarolina Yes, thanks!

[2020-03-13 16:16] japerron opened #2406 "datePart(value, "weeks"/"week"/"w") apparently returning week of month"
but it is documented to return week of the year as per https://github.com/OpenRefine/OpenRefine/wiki/GREL-Date-Functions

[2020-03-13 16:23] thadguidry commented on #2406
I'll update and fix our reference on the wiki.

Yes, it has historically returned week of month starting on a Sunday with minimum of 1 day for the week defined.  See https://github.com/OpenRefine/OpenRefine/blob/master/main/src/com/google/refine/expr/functions/date/DatePart.java#L100

In this issue however, are you asking to have an additional function for week of year?  Would that be useful to yo

[2020-03-13 16:31] thadguidry commented on #2406
AH!  Capital `W` is not recognized!  That's a bug.
The syntax that we have has historically followed the SimpleDateFormat abbreviations.
But looks like we failed to have better testing for some of these.

[2020-03-13 16:38] ostephens commented on #2406
Is that a bug or a documentation error? Changing the code will mean any existing use of this function would be broken and lead to different results for re-running old edit histories

[2020-03-13 16:55] wetneb commented on #133
Let's keep it open for now, there are a few more steps to get that properly implemented.

[2020-03-13 16:59] thadguidry commented on #2406
@ostephens Its both.
lowercase `w` should be week in year.
uppercase `W` should be week in month.

I understand changing this would lead to broken histories, but this is something we should have caught long ago and fixed.
I would hate to have it vice versa, since so many other programs are written and use this same convention, like https://momentjs.com/docs/#/parsing/string-format/

[2020-03-13 17:22] lisa761 commented on #1715
When I tried to reproduce the error now (using the link provided), the server does throw an alert message that explains the error or tells the user to check the format of the file, and the `Update Preview` gets terminated once okay is clicked. JSON is the only format for which there is no error message, either sent to the user or the console.

[2020-03-13 17:45] thadguidry commented on #1715
@lisa761 FYI, we don't want users to have to rely on looking at the console to explain things (that is reserved for debugging things when we ask them to).  We always want to make it easier for them by showing errors or explaining things in our UI.  But you probably guessed this already.

[2020-03-13 17:51] lisa761 commented on #1715
@thadguidry Of course, I was just cross checking if the JSON format is the only one that needs debugging, considering that the other formats do explain the error to the user.

[2020-03-13 18:30] joanneong commented on #2273
I have been adding on to the [documentation excel sheet](https://docs.google.com/spreadsheets/d/1QejNgvH0hmp6b7a3ckmkayOe-C3arujh4QsCtaZMRxk/edit#gid=0) @ostephens supplied.

Based on the research I have done on the options there, here are my top 3 choices (in no particular order):

1. Sphinx on ReadTheDocs

    **example**: [Django documentation](https://docs.djangoproject.com/en/dev/internals/co

[2020-03-13 20:34] lisa761 opened #2409 "The Trim trailing and leading whitespace option for json/xml files does not work"
**Describe the bug**
When you create a new json project which has trailing whitespace in some elements, clicking the checkbox to eliminate them does not actually work.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a json project that has leading/trailing whitespace in some elements
2. Click on `Trim leading & trailing whitespace from strings` checkbox

**Current Results**
Nothing ha

[2020-03-13 20:57] thadguidry commented on #2409
Historically, importer options (well, most of them) are supposed to perform those options upon **Create Project**, and some of them also work during **Update Preview**.

However, my personal preference has always been that the Update Preview should apply all the options a user selects onto those **preview rows** (limited to 100 by our code) and then apply to **all rows** once the user clicks **Cre

[2020-03-13 22:09] Shubhangi2901 commented on #2272
Based on the discussion  i am thinking of using jpackage on windows for my installers and will create a pr for the same. Let me know is this is the correct way to move forward  and  i will replicate the steps on Mac and Linux virtual environments.

[2020-03-13 22:51] ostephens commented on #2406
My feeling is we need versioning on histories so we can ensure that older histories are not just run on 3.4+ without some warning to the user that this may not result in the same results as running on previous versions of OR

[2020-03-14 01:26] thadguidry commented on #2406
@ostephens yeah, that would help.  And further would could actually do some conversion of them to make them forward compatible, as I mentioned before.  An OpenRefine upgrade tool (Python, Javascript, whatever) that can be run and doesn't have to be fancy or we can make it fancy.  Our upgrade steps have alway been fairly rudimentary and not the easiest for our users.  We should put more work into m

[2020-03-14 01:35] thadguidry commented on #2272
@Shubhangi2901 I think that would be beneficial to us.  Any extra help you can provide would be most welcome even with our generation of nightly builds and GitHub Actions automation.  Thanks!

[2020-03-14 04:31] afkbrb commented on #1612
Seems they canceled the plan mainly because they don't have a backend. That won't be a problem for us.

[2020-03-14 06:25] afkbrb commented on #1612
@wetneb With [scribejava/scribejava#852](https://github.com/scribejava/scribejava/pull/852), scribejava now supports OAuth 1.0a with MediaWiki, but OAuth 2 is not supported. Accordingly, [OAuthApiConnection](https://github.com/Wikidata/Wikidata-Toolkit/blob/issue-268/wdtk-wikibaseapi/src/main/java/org/wikidata/wdtk/wikibaseapi/OAuthApiConnection.java) only supports OAuth 1.0a. So it's easy to add

[2020-03-14 06:32] zengchu2 commented on #2403
Hi, I am now currently working to address this issue.
Should I worry about the response's status code when there is a `JsonParseException` (Say 400 bad request)?

[2020-03-14 09:20] wetneb commented on #1612
That's something I would let GSoC applicants propose what they think is best :)

[2020-03-14 09:21] wetneb commented on #2403
We are pretty bad at using status codes in OpenRefine at the moment: there are plenty of errors for which we return status 200. I'd say use your judgment as to what these status codes should be :) (It's great that you are considering them)

[2020-03-14 09:27] afkbrb commented on #1612
Fine, I'll try to find out which version is more suitable for OR :)

[2020-03-14 09:38] wetneb commented on #2406
Until we have that, I'd be in favour of preserving the behaviour of the current values (it's fine to add support for other values though).

[2020-03-14 09:40] #2398 closed

[2020-03-14 10:06] afkbrb opened #2411 "Mock Wikidata service for PreviewWikibaseSchemaCommandTest"
PreviewWikibaseSchemaCommandTest calls Wikidata service during test. We should mock the service, similar to #2398 .

[2020-03-14 13:17] ostephens commented on #583
@thadguidry re data grid libraries - I think we need to just check that we solve the right problem - a lot of the focus for those libraries is providing tools to manipulate the tabulated data in the browser but I don’t think that’s specifically what we need at least in the current setup?

[2020-03-14 14:36] #2402 closed

[2020-03-14 15:36] #2411 closed

[2020-03-14 17:48] darecoder1999 commented on #2040
@thadguidry @wetneb Please help me understand this issue better like what is exactly supposed to do in this. I'm interested to resolve this issue. Thank you. :smile:

[2020-03-14 18:34] thadguidry commented on #583
@ostephens There certainly could be a quick fix applied via Jquery and Javascript by you or someone else on this issue.  I'm always looking at the bigger picture; the one that David and I never got to finish.

As we continue to get more and more contributors, its going to be important that we have better project planning in the form of guides, strategy, and documented use cases that we can handle

[2020-03-14 18:37] Garima829 commented on #1612
Hello,
I started studying OAuth and its different flows. I realized OAuth is about authorization and not authentication, so basically what will be happening is "asking for permission to maybe access or modify stuff".
Going through all the article, when I think about every process happening, in super simple words it is an implementation of hash-maps where we'll get some user to enter his credential

[2020-03-14 19:11] wetneb commented on #2040
Have you managed to reproduce the issue on your side? How would you go about working around it? I would be happy to answer specific questions, but I don't think it is useful to describe a step by step solution :)

[2020-03-14 19:23] darecoder1999 commented on #2040
@wetneb thanks for the quick response. I have seen this kind of errors in my earlier projects that's why thought try resolving this issue. Steps to reproduce the error was not indicated hence I asked for the help to get better insight. Not intended to bother you a lot.

[2020-03-14 19:40] thadguidry commented on #2040
@darecoder1999 Context: Most of our users are not programmers.  To them, an array is just a "list with separators".  They don't care about Objects, but the fields and data contained within any Object.  To get to the data, the GREL convention has historically been `toString()`.  In GREL, we try to provide powerful functions that can be combined together.  We typically have tried to avoid overloadin

[2020-03-14 20:23] Garima829 commented on #1612
I approve!

[2020-03-15 06:50] darecoder1999 commented on #2235
Okay, @wetneb sir. Thanks for the suggestion. I'll try this.

[2020-03-15 12:21] NavpreetKR commented on #2040
I am interested to work on this Issue. How can I reproduce this error?

[2020-03-15 13:50] #2230 closed

[2020-03-15 16:04] #2409 closed

[2020-03-15 21:46] thadguidry commented on #2186
**Summary:**
I'd rather punt on this `.getFields` issue, which actually is limiting somewhat, and instead work on a GREL wrapper syntax for supporting JSONPath Plus.

**Details:**
So after thinking about this for a few months, and in the meantime often just using `jq` alot for these needs, and sometimes just Clojure.  I think what we are really missing is a good library for querying JSON, but with

[2020-03-16 09:29] BodhisattwaMandal opened #2416 "Uploading to Wikidata part is not working"
**Uploading to Wikidata is not working**

**To Reproduce**
Steps to reproduce the behavior:
1. Click on 'Upload Edits to Wikidata'
2. Add 'Edit Summary'
3. 'Upload editss'
4. See 'Perform Wikibase edits
0% complete'

**Current Results**
Instead of uploading (i.e. Perform Wikibase edits, 0% to 100% complete), the message suddenly disappears without uploading anything.

**Expected behavior**
Uploadi

[2020-03-16 09:46] BodhisattwaMandal commented on #2416
It is uploaded now, somehow. So closing for now

[2020-03-16 09:46] #2416 closed

[2020-03-16 10:07] wetneb commented on #2416
Might be linked to Wikidata's performance issues. We should do a better job at reporting these failures.

[2020-03-16 13:47] kushthedude commented on #1312
@thadguidry Rather than going for a complete rewrite for the tables part, I
tweaked the UI a bit and got the complete data-table under a single table
container.
Since a complete rewrite in vue
Js will need opinion from more users.
Now I am trying to add resizable feature to the current container and will
keep you posted with the progress.

On Fri, 13 Mar, 2020, 07:26 Thad Guidry, <notifications@gi

[2020-03-16 14:33] thadguidry commented on #1312
@kushthedude great! looking forward to seeing your progress!

[2020-03-16 14:43] kushthedude commented on #2338
@wetneb @thadguidry I set up the style enforcements for JS and have used standard js code style using ESLint and I have also set up npm and package.lock for our project. Should I push the changes?

[2020-03-16 14:58] thadguidry commented on #2338
@kushthedude Sure, submit with a PR so that we can review as a community.

[2020-03-16 17:00] thadguidry opened #2420 "Importing an XML file from a URL does not auto detect the correct importer"
**Describe the bug**
XML importer is not selected by default

**To Reproduce**
Steps to reproduce the behavior:
1. **Create Project** and get data from Web Addresses (URLs)
2. Paste the following URL:
 `http://api.worldbank.org/countries/all/indicators/SP.POP.TOTL?date=2000:2001`
3. Click **NEXT**
4. Notice that **Line-based text files** is the importer detected instead of **XML files**

**Current

[2020-03-16 17:12] thadguidry commented on #2409
This seems to have also helped to resolve #1095 ?
I just tested it against that issue and it seems perfect.  But perhaps a bit of auto detection of seeing those leading & trailing whitespaces in the imported file and automatically checking the new option for `Trim leading & trailing whitespace from strings` could be an improvement to close out #1095 ?

[2020-03-16 18:13] thadguidry commented on #1095
#2409 seems to have a nice resolution to this issue.  I was able to uncheck `preserve empty strings` and check `Trim leading & trailing whitespace from strings` and for the example XML URL file it seems to do the job nicely.

But perhaps a bit of auto detection of seeing those leading & trailing whitespaces in the imported file and automatically checking the option for `Trim leading & trailing whi

[2020-03-16 18:31] khyati-agarwalss commented on #2316
Hi @adrijshikhar , are you still working on this? If not, can I take this up?

[2020-03-16 19:02] thadguidry commented on #1095
I understand Tom's concerns... but that concern is valid for any XML that doesn't enforce STRICTNESS through a DTD/Schema. It's something that anyone working with XML should be familiar with.

Having this new `trim` toggle solves the core problem where we didn't give a control to the user to let them control the behavior. Now the user has the power and it's not an automatic default for the XmlPars

[2020-03-16 19:12] thadguidry commented on #1095
And this is a very good primer on the general issue and should be required reading for anyone wanting to work on improving the tests:  http://usingxml.com/Basics/XmlSpace

[2020-03-16 19:32] Shubhangi2901 commented on #2272
Hey, I had a doubt while creating the jar for my project. Is it advisable to include test files in my jar?

[2020-03-16 20:38] tfmorris commented on #1095
It sounds like #2409 implements what I described in the first paragraph of https://github.com/OpenRefine/OpenRefine/issues/1095#issuecomment-162032765. One thing its tests don't include, though, is an example of pretty printed XML which I think is important.

Making the default behavior match http://usingxml.com/Basics/XmlSpace#MicrosoftXMLParserBehavior might be a reasonable approach. I think tha

[2020-03-16 21:01] thadguidry commented on #2272
@Shubhangi2901 As a user of OpenRefine do you care that a developer tested OpenRefine functionality?  Yes.  Do you care to see those tests?  Maybe.  Can you see those tests by checking out the source yourself? Yes.  Do you need them as part of your installation package to use OpenRefine?  :)

[2020-03-16 21:23] wetneb commented on #2272
@Shubhangi2901 We do not ship test classes in releases, no.

[2020-03-17 06:41] jinoytommanjaly opened #2421 "Create new Property from OpenRefine"
**Is your feature request related to a problem or area of OpenRefine? Please describe.**
This is a suggestion request to be added in OpenRefine. Currently OpenRefine supports creating new Items. It would be nice if an option added to Create new Property similarly.

**Describe the solution you'd like**
Openrefine helps to create new Items (Special:NewItem) and Update existing Items in Wikidata. If

[2020-03-17 10:24] wetneb opened #2423 "Improve dependency management for the frontend"
**Problem**

We currently ship frontend javascript libraries in the repository itself. These libraries have not been updated for a while and they sometimes get patched in various ways. It would be cleaner to use a proper dependency management system for this, just like we have moved from Ant to Maven for the backend.

**Possibilities**

* npm is the standard javascript package manager. We could tr

[2020-03-17 10:34] kushthedude opened #2424 "Data Type setted not remembered by application"
**Describe the bug**

Change the data type of any cell, and see again the type of data is not remembered by the application.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'Edit Cell'
2. Click on 'Boolean Datatype'
3. Set the data to `True/False`.
4. Again click on edit cell and see data type as text rather than boolean.

**Expected behavior**

Data-Type preference should be remembe

[2020-03-17 10:34] kushthedude commented on #2424
cc: @thadguidry @wetneb

[2020-03-17 10:39] wetneb commented on #2424
The data type in the edit dialog should indeed be set to the current datatype for that cell.
There is no need to use the preferences for this - the initial datatype in the dialog should only be determined by the current datatype for that cell, I think.

[2020-03-17 11:05] #2307 closed

[2020-03-17 11:13] #1778 closed

[2020-03-17 11:34] WilliamDiakite opened #2425 "Column created using "Create column based on this column" doesn't update on original column change"
**Describe the bug**

When creating a column based on an other column, values of the created column don't update when changes are made to the original column.

**To Reproduce**

Steps to reproduce the behavior:
1. Start reconciling a column using ULAN (Getty) vocabulary. We consider the column to reconcile is called "name"
2. Click the arrow left to "name" and click Edit Column > Add column based

[2020-03-17 11:41] wetneb commented on #2425
Hi William,

That is indeed how OpenRefine works - and it is by design, not by accident :) Cell values are fixed, they are not formulae as they can be in Excel for instance.

However it is possible to use formulae in facets, and the contents of these facets will be updated as you change the underlying values.

Feel free to discuss possible alternatives for your own workflows on our mailing list:
h

[2020-03-17 11:41] #2425 closed

[2020-03-17 12:47] kushthedude commented on #2273
Hi,
I have been following this conversation for a while and have taken a broad look at the options provided in the excel sheets.
I suggest we migrate our documentation to the HUGO. Also with hugo we will be able to publish our docs from the same repository without doing much.

**Short Description about HUGO** :
- Hugo boasts the blistering speed, robust content management, and a powerful templatin

[2020-03-17 12:48] darecoder1999 commented on #2040
@wetneb I have reproduced the error and explored grel and expr modules a bit to resolve this issue but not able to find the exact location which is causing this issue. Can you please help me with this, such as in which directory I should look into for this. Any help would be appreciated. Thank you.

[2020-03-17 13:44] ostephens commented on #2040
@NavpreetKR @darecoder1999 to reproduce the error in the application start OpenRefine, open a project and in a GREL transformation window (on any column choose dropdown menu and Edit cells -> Transform) and then type the text:

`([3,4]).toString()`

That will reproduce the error.

In terms of tackling this issue I recommend starting with a test - we have tests for various to/from string conversion

[2020-03-17 13:55] susannaanas opened #2426 "Adding description to Wikidata reconciliation schema halts the process"
**Describe the bug**
When I add and save a description in the termbox in the reconciliation interface, the Wikidata import becomes unavailable.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Wikidata > Edit Wikidata Schema'
2. Click on 'Add term'
3. Select 'Description'
4. The Issues and Preview sections become empty

Playing around with the values, it accepts one field but not the o

[2020-03-17 14:07] susannaanas commented on #2426
I did 'Edit cells > Common transforms > To text' on the problem field, and it changed two values after which this column worked.

[2020-03-17 14:11] wetneb commented on #2426
Could it be that issues and preview are not available simply because you haven't filled the language and value field for the description? At least I would not expect anything to work in this current state:
![image](https://user-images.githubusercontent.com/309908/76864535-1f9d4500-6859-11ea-968e-3f6187bf45ed.png)

Should we simply add messages in the preview / issues tabs to warn the user about th

[2020-03-17 14:12] susannaanas commented on #2426
I found out that it would not accept null values. I only suspect they are null.

[2020-03-17 14:22] susannaanas commented on #2426
<img width="286" alt="Näyttökuva 2020-3-17 kello 16 21 48" src="https://user-images.githubusercontent.com/4725416/76865463-6e53da80-686b-11ea-87ca-16b5f6699966.png">

[2020-03-17 14:28] wetneb commented on #2426
It should ignore all null cells but that should not prevent it from generating unrelated edits. I just tried adding a description from a column with null cells and that worked fine. With an empty string too.

Curious, I am not sure what could be the cause then - creating descriptions from numbers seems to work too…

[2020-03-17 14:35] susannaanas commented on #2426
This dataset was created by copying and pasting data from an Excel spreadsheet opened in Google Sheets on Mac.

[2020-03-17 14:47] ostephens commented on #2273
@kushthedude  thanks very much for this suggestion - what would be great is to get this into the spreadsheet along with the other options so we can see all the information together

[2020-03-17 14:49] susannaanas commented on #2426
I repeated the workflow with a French title and this did not happen.

[2020-03-17 15:04] susannaanas commented on #2426
Thanks again for a very quick response!

[2020-03-17 15:28] wetneb commented on #2426
Well, I hope we will somehow find the root cause of this issue! Next time it happens, you could perhaps look for errors in your browser's console, and perhaps check the server logs too:
https://github.com/OpenRefine/OpenRefine/wiki/Installation-Instructions#obtaining-server-logs-on-mac

[2020-03-17 17:02] zengchu2 commented on #1164
Hi, I am now working with this issue and had make some progress.

Just double check if I understand the expected effect correct:  file with `{ "rows": [ { "Content": "A" }, { "Content": " B" }, { " Content": "C" } ] }`  should be able to get loaded and there are two types of `Content`, one with a tab and one do not. And there is a tab before value `B` .

[2020-03-17 17:39] khyati-agarwalss commented on #2316
Hi @wetneb , I think we can solve this by:
1. Replacing "Match other cells with same content" with "Match other rows with same content".
2. Converting the two radio buttons into two clickable buttons and removing the "Match" button.
This will solve both the problems: #2316 and #2332 .
Any feedback on this?

[2020-03-17 18:02] #1869 closed

[2020-03-17 18:08] wetneb commented on #2316
Hmmm, #2332 is not just about the text displayed in the UI: the behaviour of the operation itself must be changed. So I would not try to tackle this issue in the same go.

Converting the radio buttons into clickable buttons would not work for the "New item" option, I think (since the behaviour of that button is also controlled by the existing radio buttons I think).

Why not simply remember which

[2020-03-17 18:10] wetneb commented on #1164
I am not sure what you mean by "two types of `Content`": I would expect `A`, ` B` and `C` to end up in the same column.

[2020-03-17 18:34] Garima829 commented on #2316
I think this would be a better way out as it saves the hassle of selecting "Match this cell only" every time the user wants to choose a new match

[2020-03-17 18:48] thadguidry commented on #2423
What is the scope here?
1. Users of OpenRefine
2. Developers of OpenRefine

[2020-03-17 18:57] wetneb commented on #2423
I am not sure what you mean?

[2020-03-17 18:58] khyati-agarwalss commented on #2316
@wetneb and @Garima829 , I get your point. So a checkbox saying "Remember my choice" can be added, which when checked, the current choice out of the two options will get saved.

[2020-03-17 19:02] thadguidry commented on #2423
Else's:
https://nodejs.org/en/download/package-manager  <-- Windows users rarely use Chocolatey, only corp's use it for automation.
https://github.com/nodejs/help/wiki/Installation  <-- Installing Node.js via binary archive

However's:
npm strongly suggests to [use a Node version manager rather than a Node installer](https://docs.npmjs.com/downloading-and-installing-node-js-and-npm#using-a-node-ve

[2020-03-17 19:03] wetneb commented on #2316
I am not even sure we need a "Remember my choice" checkbox for this. In any case we always want to show the radio buttons - it is just their default value we want to change.
I think it would be pretty consensual to just fill this default value with the previously selected one, with no additional action required from the user (so, consider your "remember my choice" checkbox always ticked). That see

[2020-03-17 19:18] thadguidry commented on #2423
I mean "dependency"... for what?  Running OpenRefine or Building OpenRefine?  Your Problem statement doesn't really state a problem well enough...it assumes the reader of this issue knows.

Problem:
OpenRefine frontend development and testing is currently cumbersome and brittle with keeping up with Javascript library versions.

"I think" what you were trying to explain is that:
1. We would like to

[2020-03-17 19:31] khyati-agarwalss commented on #2316
Ohh yes, that completely makes sense.

[2020-03-17 19:32] thadguidry commented on #2424
I understood what he meant.  Which was a "user preference".

@kushthedude our issues label "preferences" is to be used only for issues that involve using our global `preferences` structure which is currently using a Velocity template `preferences.vt`.  It is not for representing `static variables`.

@wetneb We should probably relabel that label to "global preferences" because that is what is reall

[2020-03-17 20:01] zengchu2 commented on #1164
I see, so unquoted control chars (like \t, \n) should be ignored during the parsing right?

[2020-03-17 20:05] wetneb commented on #1164
I would not ignore these unescaped control characters - see the 3 options mentioned by Owen above.

[2020-03-17 20:36] buntamas commented on #2420
Hi ! I would like to solve this. Can I work on this issue?

[2020-03-17 21:04] thadguidry commented on #2420
Sure @buntamas , let us know if you need assistance.  We'd also expect to see some tests added as well.

[2020-03-17 22:21] fpompermaier commented on #2423
Tell me if I am wrong but using npm affects only the developers part, not the user's one..am I wrong?
I am absolutely in favour of moving towards an npm-based UI but this probably would invalidate almost all current PRs..in this case I'll add the npm support in the next version, being aware that this would require an extra effort in order to try to close all affected PRs. Obviously @kushthedude sh

[2020-03-18 09:00] VojtechDostal opened #2433 "Reconciling without names"
Sometimes, you want to reconcile with objects no matter what their name (label) in Wikidata is. I have therefore created an empty column and tried to reconcile to it:

<img width="603" alt="Bez názvu" src="https://user-images.githubusercontent.com/21329813/76943122-21b9df00-68ff-11ea-8cc6-d4dea83059b3.png">

However, the reconciliation process fails because it is probably dependent on a non-empty

[2020-03-18 09:10] VojtechDostal commented on #2421
@jinoytommanjaly Where will you extract the data for the creation of the property from? And if you do have the data, why do you think the simplest way to import them into Wikidata is with OpenRefine. Maybe QuickStatements would work just fine? :)

[2020-03-18 09:19] wetneb commented on #2433
Currently the reconciliation API does not make it easy to reconcile without names, this is something we would like to improve:
https://github.com/reconciliation-api/specs/issues/27

The Wikidata reconciliation service will only ignore labels when given a unique identifier property as extra column, implementing coordinate-based retrieval would be quite some work in the current state of things (but

[2020-03-18 09:35] VojtechDostal commented on #2433
Thank you for the great work you're doing ;)

[2020-03-18 10:44] jinoytommanjaly commented on #2421
@VojtechDostal The data for creating the Properties can taken the pages listed under the **Category:Properties ready for creation** in Wikidata. Always the QS is simplest way than OpenRefine. But in OpenRefine the Property creator can create a Scheme and Visualize how the edits going to be happen.

[2020-03-18 13:51] darecoder opened #2435 "Remove or replace the calls made to freebase.com"
Context: Freebase reconciliation services have been shut down now. So, there's a need to clean up the code which is redirecting the call to freebase.com which will eventually cause an error 404. Code including freebase.com in it should be removed or replaced accordingly without disturbing any other functionality.

Such code can be found: https://github.com/OpenRefine/OpenRefine/blob/master/main/sr

[2020-03-18 14:02] thadguidry commented on #2435
Here's a query of those files including "freebase.com".
https://github.com/OpenRefine/OpenRefine/search?q=%22freebase.com%22&unscoped_q=%22freebase.com%22

[2020-03-19 09:00] darecoder1999 opened #2437 "Page reloads when creating project from URL and press ENTER"
**Describe the bug**
When I try to create a project by adding URL from `Web Addresses (URLs)` option and press ENTER, the page reloads and switches back to `This computer` choose file option.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Web Addresses (URLs)`
2. Add a valid URL to create a project
3. Press ENTER
4. See the response

**Current Results**
Page reloads and switches to `

[2020-03-19 09:26] AghaSaad04 commented on #2437
I am not able to reproduce this.

OS: Ubuntu 18.04
Browser: Chrome
Open Refine version: Version 3.4-SNAPSHOT

[2020-03-19 09:32] darecoder1999 commented on #2437
@AghaSaad04 I feel you didn't press ENTER after entering the URL. you might have clicked on Next button.

[2020-03-19 09:36] antoine2711 opened #2438 "Having a checkbox beside each item in the Wikidata schema window"
**Is your feature request related to a problem or area of OpenRefine? Please describe.**
A lot of the time, I will want to push to wikidata different parts of my dataset (i.e. row). Of course, you can delete and add back any declaration in the WD schema pane, but it would be VERY handy to be able to just « desactivate » a statement for one data transfer (or more). Having also the ability to desact

[2020-03-19 09:38] AghaSaad04 commented on #2437
@darecoder1999 oh yeah my mistake. Thanks for the quick response :)

[2020-03-19 09:57] antoine2711 commented on #2307
I can't wait to try this out! Great. Thank you.

Regards, Antoine

[2020-03-19 11:19] wetneb commented on #2438
I understand your use case, but I would think twice before adding that:
* This is effectively a redundant feature, so it is likely to be confusing for users who haven't been through the same thought process as you have;
* We will need space on statements to add more settings about them (add support for deleting existing statements on items, configuring the way added statements are matched with exi

[2020-03-19 13:25] joanneong commented on #2273
I have helped to add @kushthedude's recommendation into the spreadsheet. I think it does satisfy what we are looking out for, and apparently has the reputation for being a very fast static site generator. It is definitely worth considering as well!

[2020-03-19 14:16] antoine2711 commented on #2438
I'm not sure where the redundancy is here: it's really to make something more practical.

Just having a checkbox (has shown in the screenshot) really take little place. And, in the logic of push data, this checkbox also opens the possibility of having a « calculated » value, something which would be very good with also being able to modify or delete statements.

[2020-03-19 14:51] wrogner opened #2439 "OR on Mac cannot save data as XLSX or ODS"
**Describe the bug**
OpenRefine can load data by creating a new project. However, this data cannot be saved (exported) as XLSX or ODS (both apps installed - just in case it might be a library cause).

**To Reproduce**
macOS 10.15.3
Install OR (either from download or from brew)
Create a project, load data
Export data (creates a tar file)
Export as XLSX (does not finish - no file dialog)
Export as

[2020-03-19 15:04] wetneb commented on #2438
It is redundant with the delete button for each statement.

The meaning of that checkbox might be obvious to you, because you added it yourself, but for others we need a label or at least a visual clue about what this does - and we need to make it clear what the difference is with the delete button.

You can already do this: just blank the cells where you don't want a value to be added.

Perhaps y

[2020-03-19 15:07] wetneb commented on #2439
Can you give us a precise description of what happens concretely when you try to export a project to XLSX or ODS?

[2020-03-19 16:11] yuepeng-unc commented on #1940
I am beginning to work on this. I am planning to convert the column names to valid SQL column names.
Please assign the issue to me. Thanks.

[2020-03-19 16:12] thadguidry commented on #1940
@yuepeng-unc Thanks for taking up this issue.  Happy to work with you on this.

[2020-03-19 16:19] antoine2711 commented on #2438
That what what I thought first when I saw your resistance in the first reply. Got to love the flexibility.

But, let's go further into the details to see if this can benefit most. Let's say I have a table FilmsActeurs, which is actually all the distribution (actors of a movie, P161). In that table, I can push thu 3 axis: 1) obviously, [ « a film » « P161 distribution » « an actor » ], but also 2)

[2020-03-19 16:38] antoine2711 opened #2441 "Having the list of sheets in a Google spreadsheet in a pop-menu (<select> tag) instead of a list of radio button."
**Is your feature request related to a problem or area of OpenRefine? Please describe.**
This is a small improvement to the interface to import Google Sheets data.

**Describe the solution you'd like**
In the import dialog, instead of showing a vertical list of radio button, just one popup-menu would save a lot a place.

**Describe alternatives you've considered**
Staying like this, that works.

*

[2020-03-19 17:53] wetneb commented on #2438
I totally agree we need to improve the workflows around this, but I am not sure such a checkbox would be the best way. I would prefer giving users more control about how statement matching is done, letting them choose between:
* do not add the statement if there is already a statement with that property (regardless of its value)
* do not add the statement if there is already a more precise value t

[2020-03-19 17:57] thadguidry commented on #2439
They said they don't get a file dialog popping up.  On Firefox, there should be a file download dialog that shows.  If this is not happening, then I think perhaps there might be a POI exception happening that's not getting caught?

@wrogner can you look into the console and see if any Java stack traces appear in the log with an error when you attempt to export as an XLSX file?  For me, on Windows,

[2020-03-19 18:11] thadguidry commented on #2441
I think instead of a "popup list", it should just be a multi-selection list that has a small scroll bar next to it?  Look at how this is done: https://jqueryui.com/selectable/#default

[2020-03-20 05:18] antoine2711 commented on #2441
I'm not sure I follow you. There can never be more than one sheet selected at the same time. It is one reason why a popup menu that just show the current choice is enough. I'm trying to avoid long list for spreadsheets with more than 10 sheets.
Why not just use [https://api.jqueryui.com/1.10/menu/](https://api.jqueryui.com/1.10/menu/)?

[2020-03-20 05:27] antoine2711 commented on #2438
Of course, I, as a user, would also prefer an enhanced create statement than this little checkbox functionality. I would also like much more to have the possibility to modify an existing statement, or even to delete an existing statement.

The added functionality to the creation of statement would make the schema pane contains much more information, and that would make a checkbox to enable/disable

[2020-03-20 07:36] wrogner commented on #2439
a) the Browser console stays empty (no errors reported)
b) Project creation does not work (I would have to export the project in order to create a project - if saving fails, I have to restart)

c) I have removed OpenRefine as it does not work and lacks functionality of joining data or manipulating it effectively

[2020-03-20 08:27] wetneb commented on #2439
Thank you for your report :) I am going to close this as non reproducible, feel free to reopen if you can give us more information.

[2020-03-20 09:05] wetneb commented on #2441
Just like the Excel importer can import multiple sheets at once, don't we want to have the same here? (I haven't checked if it is currently supported, but it sounds like this would be quite natural to make this uniform).

[2020-03-20 09:48] wrogner commented on #2439
It's up to you to close this but it is reproducable on several Macs with different macOS.

It just does not produce any usable outcome on the console.

[2020-03-20 10:05] wetneb commented on #2439
Sure, I don't expect useful information to be in the browser console.
What would be massively useful if you could share the server logs:
https://github.com/OpenRefine/OpenRefine/wiki/Installation-Instructions#obtaining-server-logs-on-mac
But I assumed that was not possible since you had already uninstalled OpenRefine, hence the closure.

[2020-03-20 12:12] kushthedude commented on #2441
I will take a look at it

[2020-03-20 13:07] wetneb opened #2442 "Set up glossary for translations with Weblate"
We currently use [Weblate](https://hosted.weblate.org/engage/openrefine/?utm_source=widget) to translate the user interface. Translators get a list of untranslated strings (or strings needing review) in their language, write translations, and this gets committed to the repository via regular pull requests.

Weblate makes it possible to set up a [glossary](https://docs.weblate.org/en/latest/user/tr

[2020-03-20 13:13] wetneb opened #2443 "Back-end localization"
**Is your feature request related to a problem or area of OpenRefine? Please describe.**

Some strings that appear in the UI are generated in the backend: exceptions, descriptions of operations, documentation of GREL functions, and probably others that I am not aware of.
We currently do not have any way to translate these.

**Describe the solution you'd like**
We should investigate an architecture

[2020-03-20 13:44] afkbrb commented on #1950
We had a discuss related to this bug at https://groups.google.com/forum/#!topic/openrefine/D3ZDxxX3BCU.

 I'll try to get this issue fixed!

[2020-03-20 14:57] wetneb commented on #2273
I was curious about how translations work in Docusaurus, which has an integration with Crowdin, so I started this thread on Weblate's mailing list to see if we could use Weblate instead:

https://lists.cihar.com/hyperkitty/list/weblate@lists.cihar.com/thread/GINZJBVKU6ASC2M4ELNQCR3A7H6CLT7T/

In short: there are tools such as [po4a](https://po4a.org/man/man7/po4a.7.php) which can be used to transl

[2020-03-20 15:14] ostephens commented on #2273
Thanks @wetneb

Following on from the document I posted earlier today on the discussion groups (https://docs.google.com/document/d/1VtzXjSqrliAp1R8Xy3yARXIiN5NuV0dNf4apvJz4rl8/edit?usp=sharing) I'm seeing the key use of the documentation platform being discussed here as for:

- Technical reference (aimed at developers)
- Product reference (aimed at users)
- Project documentation (aimed at develope

[2020-03-20 15:15] thadguidry commented on #2338
Hi @kushthedude We are awaiting your new PR for the Javascript style.  (Then we can work on the CI for the enforcement for that in a separate PR).  We want to follow [the task steps](https://github.com/OpenRefine/OpenRefine/issues/2338#issue-572314326) in the top of this issue.

[2020-03-20 15:18] kushthedude commented on #2338
To enforce ESlint there will be a need for node engine. As webjars can't utilise the rules for the ESLint standard js style. Hence first we need to decide do we need to go for yarn/npm or any other alternative? Then we can go for javascript styling.

[2020-03-20 15:23] ostephens commented on #2273
NB I've created a template for planning work on the different bits of documentation - my plan is to have a Github issue for each, but maybe this is a good place to post the links to:

- [Technical reference (aimed at developers)](https://docs.google.com/document/d/1vodBtd1GAY-3r9bWekAG5mBo0T5E_1op6OtJOU-ZliE/edit?usp=sharing)
- Product reference (aimed at users)
- [Project documentation (aimed at

[2020-03-20 15:31] wetneb commented on #2338
@thadguidry I don't think there is any particular rush to get this done - and we should not pressure GSoC/Outreachy applicants to work on more things before the internships start :)

[2020-03-20 16:26] thadguidry commented on #2443
In the enterprise, I've seen lots of usage with Thymeleaf templates [which are dead simple to use](https://www.baeldung.com/spring-boot-internationalization).

[2020-03-20 18:40] antoine2711 commented on #2441
@wetneb : oh! Yes, indeed, the Excel importer can input many sheet in an Excel file. But no, gSheet importer can't do that. I'm not sure it would be very handy (meaning that it wouldn't save time). And, opening multiple sheet from the same import window implies a lot of change and coding, whereas this request is really a little cosmetic UI thing.

I would recommend multiple import it if it was an

[2020-03-20 18:47] lisa761 commented on #2238
Can I take up this issue?

[2020-03-20 19:04] thadguidry commented on #2359
History:
Before automation, we used to use our CHANGES.txt which we no longer use or want to maintain (we keep it around just for historical reasons, but I think we can just remove it...we have our commit history anyways with Git).

Now:
Now with automation of our releases, we publish some Release Notes via GitHub (thanks Antonin), which currently show up on each [Release tag](https://github.com/O

[2020-03-20 19:35] Shubhangi2901 commented on #2272
Hi @thadguidry and @wetneb I have successfully used Jpackage to create self contained java installer for open refine. Since it is a windows command I have added it in a separate file and included in the project. Let me know the best way to commit the command to the code base.

[2020-03-20 19:56] thadguidry commented on #2273
I feel the same as @ostephens for the same things, and same concerns.  I use Hugo and like it.  But definitely would not recommend to go with it for OpenRefine.  It's made for static "sites", not focused on "documentation", which is why I like Docusaurus v1 and agree with a follow-on migration to v2 where the hope is that translation support gets even better (it's one of their goals as well for v2

[2020-03-20 20:37] thadguidry commented on #2238
@lisa761 Thanks for volunteering Lisa!  Assigned to you.
I see this new feature as expanding the existing **Split multi-valued cells** dialog with 2 additional radio buttons:
* Split between a Lowercase and Uppercase letter
* Split between a Number and Letter (and vice versa)

Agree?

[2020-03-20 20:40] thadguidry commented on #2272
@Shubhangi2901 I don't believe it!  That's awesome!  You can submit a PR.  If this is your first time, follow our guide here: https://github.com/OpenRefine/OpenRefine/wiki/Your-first-pull-request

[2020-03-20 20:41] lisa761 commented on #2238
@thadguidry yup, okay

[2020-03-20 20:59] tfmorris commented on #2311
The first step is to add the documentation guidelines to the coding style guide, so that all new code conforms. Then old code can be upgraded as it's worked on.

Hmmm, after a quick search, it looks like perhaps the zeroth step is to create a set of coding style guidelines since we don't seem to have one.

[2020-03-20 21:01] wetneb commented on #2311
Yes, that's #2338.

[2020-03-20 21:11] wetneb commented on #2359
I just want to make it clear that the link you highlight on the releases page will give you the commits that are *not* part of that release: these 121 commits were made since we released 3.3, so they are not in the corresponding changelog (they are in the changelog for 3.4).

[2020-03-20 21:15] thadguidry commented on #2311
@tfmorris I've put a Code Quality small section into our CONTRIBUTING.md file as a PR #2445 But it can be elongated or refer to a fuller doc page if need be.  Feel free to hack on that PR as necessary or provide comments.  No matter what, I feel we need to mention **some** info in our CONTRIBUTING.md file for that; links or content.

[2020-03-20 21:35] #2437 closed

[2020-03-20 21:53] antoine2711 commented on #2426
Hi @susannaanas, I just want to say that I did experience the same thing as you. It was strange. And it happened more than once. Doing something like « toString() », or « To text » or « To null » in « Edit cells -> Common transforms » fixed the problem.

It's weird. Regards, Antoine

[2020-03-20 22:28] zengchu2 opened #2448 "Broken Link in documentation"
**Describe the bug**
Link page not found.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://github.com/OpenRefine/OpenRefine/wiki/Write-An-Extension'
2. Click on 'example'  under **Directory Layout**
3. See error

**Expected behavior**
Go to a 'Page not found page'
**Screenshots**
![image](https://user-images.githubusercontent.com/32441682/77210903-eb3bba00-6ae0-11ea-9d94-fc143c3

[2020-03-20 23:00] thadguidry commented on #2359
@wetneb Yes you are right.

[2020-03-21 00:59] rajchandak commented on #1027
Hi @wetneb & @ostephens, I'm looking forward to contributing to this project for GSOC 2020. I know i'm a pretty late, but i've got lots of front-end dev experience and hope to get familiar with OpenRefine quickly so that I can have a draft proposal ready ASAP.

[2020-03-21 07:04] wetneb commented on #1027
Sure, here are the steps to get up to speed: https://github.com/OpenRefine/OpenRefine/wiki/Your-first-pull-request

[2020-03-21 07:16] wetneb opened #2449 "Add Gitpod configuration"
**Is your feature request related to a problem or area of OpenRefine? Please describe.**
Setting up an IDE to work on OpenRefine can take a bit of time. Web-based IDEs are becoming popular and they make it easy to offer a pre-configured environment for prospective developers.

**Describe the solution you'd like**
[Gitpod.io](https://gitpod.io/) is one of them, and we could embed default configurat

[2020-03-21 09:25] antoine2711 commented on #2448
Check-it, it should be fixed. A.

[2020-03-21 09:41] antoine2711 commented on #2448
@wetneb : but there is still 2 other bad links at the bottom of the page, and I'm not sure where to point them.

[2020-03-21 09:41] jinoytommanjaly commented on #2426
Hi too facing the save problem with saving the scheme... Could not save the scheme if any terms is just selected.

[2020-03-21 10:33] wetneb commented on #2448
Ouch this documentation is massively outdated, let me fix that quickly.

[2020-03-21 10:33] #2448 closed

[2020-03-21 10:38] #791 closed

[2020-03-21 14:41] thadguidry commented on #2449
I am currently working on the Eclipse Che integration now.  Almost have most of this done (Maven, Java, GitHub Pull Requests, with Build/Run commands, & a custom Welcome page) within a single `devfile.yaml` that you can run locally or in Eclipse SaaS cloud (free with 1 workspace, but you have to accept the RedHat terms, but that's essentially the same with Gitpod also)  I'll put this on my fork so

[2020-03-21 19:30] antoine2711 opened #2451 "Columns named « toString » are displayed as collapsed"
**Describe the bug**
Using the name « toString » for a column creates a column with no name and not popup arrow. You must use « Re-order / remove columns... » to clean that up…

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Add column based on this column...'
2. Enter the text for the column name to « toString »
3. See the error in the table view.

**Current Results**
Unusable column

[2020-03-21 19:31] antoine2711 commented on #2451
@wetneb Hi Antonin, I created this issue, but I still can't apply labels, unlike you said.

Regards, Antoine

[2020-03-21 20:07] aquaruiz commented on #1750
May I work on this bug?

[2020-03-21 20:21] antoine2711 opened #2452 "First time Export to Google Drive/Sheets is called, it does nothing"
**Describe the bug**
When you call, the FIRST TIME, the function « Export to gDrive », it does nothing. You have to call it a second time.

**To Reproduce**
1. Go to 'Export project'
2. Click on 'Export to Google Drive' and 'Export'
4. See nothing happening

**Expected behavior**
It should present the dialog box that ask for the gDrive file name.

**OpenRefine (please complete the following inform

[2020-03-21 21:11] wetneb commented on #2451
That's my fault, I did not add you to the relevant team. It should be fixed now.

[2020-03-21 21:14] wetneb commented on #1750
Sure, thanks a lot!

[2020-03-21 22:10] antoine2711 commented on #2439
Hi. I'm a Mac user (since ever), and I tried on my Mac (X.14.6, MacMini 2018), and I was able to Export: ODS, XSL, XSLX. I'm using Chrome.

Are you having this problem on all of your Macs? Have you tried Safari and/or Chrome?

Regards, Antoine

[2020-03-21 22:28] antoine2711 opened #2453 "Have separate menu items for « Export to file… » and « Export to Google Drive… »"
**Is your feature request related to a problem or area of OpenRefine? Please describe.**
Now, if you want to export your project (to file), you go in the menu, and you have to answer a dialog where you choose either « to file » or « to Google Drive ».

Also, using the term « Export to local » is vague, « Export to file » (or even « Export to OpenRefine ZIP » would be better tho the latter is a bit

[2020-03-21 22:53] wrogner commented on #2439
Should the browser make a difference?
I have this issue on any Mac with 10.15.3 and Firefox and Safari.
I admin, I haven't tried Chrome.

[2020-03-22 00:27] MichelDiz commented on #1870
Any news about this?
I can do this bellow, but it creates spaces.
[code]

[2020-03-22 01:21] antoine2711 commented on #2439
Actually, the browser is the #1 variable with the most impacts on the problems or OpenRefine.

On my side, and I understand it won't help you much, but Safari, Firefox v74 and Chrome are able to export in .ODS, .XLS, .XLSX.

Your issue doesn't seam to be an easy one…

[2020-03-22 03:46] antoine2711 commented on #2452
Just to be more precise, the first time the command is called, the mechanism for the authentification of gData seams to open a window that gets closed after. But it should also ask for the name of the file to create in gDrive, which it only does if you call the command a second time.

[2020-03-22 03:50] antoine2711 opened #2454 "Menus in an alternate language sometimes are too small"
**Describe the bug**
If you choose a different language than english for OR, sometimes the menu's length is not good.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the « All Rows » menu.
2. See error

**Current Results**
Text overflows out of the menu.

**Expected behavior**
The menu should adapt and be bigger.

**Screenshots**
![image](https://user-images.githubusercontent.com/12217

[2020-03-22 09:09] AghaSaad04 commented on #2454
Hi @antoine2711, @wetneb, How about this? Is this a good solution for the above problem?

![image](https://user-images.githubusercontent.com/36513474/77246177-75516300-6c46-11ea-8186-e6b57327eae2.png)

[2020-03-22 09:12] wetneb commented on #2454
That would be pretty great I would say. I guess the alternative would be to let the menu become wider to accommodate for the longer text? I don't have strong feelings about either.

[2020-03-22 09:25] antoine2711 commented on #2454
I'm buying that perfectly. This solution will accommodate VERY long translation, and, who knows when it might be needed.

I find this a working quick fix for a small cosmetic problem.

Bravo. @wetneb, should he do a PR?

[2020-03-22 09:37] wetneb commented on #2454
Sure, if someone strongly prefers enlarging the menus, they should be able to change that later anyway.

[2020-03-22 10:12] kushthedude commented on #2359
Considering the project as OpenRefine with a large user base, we can not maintain the complete release log. Since in the above image there are 121 commits which will be in version 3.4, now it is quite hectic to make a list of each and every commit and about its changelog.
What releaseDrafter do is it takes the title of PR and place the commit name under the appropriate heading as defined in its co

[2020-03-22 10:27] #2454 closed

[2020-03-22 10:52] AghaSaad04 commented on #2453
@wetneb I was thinking of solving this issue :)

[2020-03-22 10:59] wetneb commented on #2453
It's true that export to Google services are not very well exposed at the moment. We could add menu items for:
* Export to Google Sheets
* Export to Google Drive

But "Export project to file" is too vague: most of the other export options can also be seen as exporting the project to some file. How about "Export as OpenRefine project" or "Export as OpenRefine archive"?

[2020-03-22 11:35] antoine2711 commented on #2453
« Export as OpenRefine archive » is good because its an internal archive
(ZIP).

Le dim. 22 mars 2020 à 06:59, Antonin Delpeuch <notifications@github.com> a
écrit :

[2020-03-22 12:06] antoine2711 commented on #2453
Thinking about it,
« OpenRefine archive to file… »
« OpenRefine archive to Google Drive… »
might be better?

And then, we could also have:
« Google Sheet… »

Just to conform with how it's written elsewhere in the menu. It's the Export menu. Maybe every item could be preceded  by « As » or « To », like « To Excel (.xls) ».

And, to continue the uniformisation, « Export to QuickStatement « would be

[2020-03-22 12:39] AghaSaad04 commented on #2452
@antoine2711 I tried but could not reproduce the issue in Google Chrome. After authorizing dialog it presents the dialog box that asks for the Google Drive file name.

but gets an error when I tried in Firefox (unfortunately could not take the Screenshot).

Now I have removed the OpenRefine app from Google Drive but now OpenRefine is not asking for authorization

![image](https://user-images.githu

[2020-03-22 12:54] antoine2711 commented on #2453
Another clarification…
![image](https://user-images.githubusercontent.com/12217525/77249893-a320b280-6c1a-11ea-89d1-a5434ab91fff.png)
@ostephens @thadguidry @wetneb

[2020-03-22 12:56] wetneb commented on #2453
Definitely not "Thru", that is informal, and they do not add anything.
I would remove all the "To", they are unnecessary too.

[2020-03-22 13:01] antoine2711 commented on #2453
![image](https://user-images.githubusercontent.com/12217525/77250063-b08a6c80-6c1b-11ea-9ca0-b0701d15b753.png)
?

[2020-03-22 13:21] AghaSaad04 commented on #2453
@wetneb  what about **"..."** after each export option? Should we add them or remove them from all options?

[2020-03-22 13:22] wetneb commented on #2453
Good point, I think "..." should only be added to exporters which require further configuration (in some dialog or prompt). That's the convention, I think.

Also, the "..." should be included in the message itself (so they can be translated too), not concatenated afterwards.

[2020-03-22 13:23] wetneb commented on #2453
And of course changing messages has a cost (it invalidates them for translators), so we should do it as sparingly as possible.

[2020-03-22 13:24] antoine2711 commented on #2453
They should stay as they indicate that a dialog/manual interaction is
coming before the real action.

Regards, A.

Le dim. 22 mars 2020 à 09:21, Agha Saad Fraz <notifications@github.com> a
écrit :

[2020-03-22 13:26] wetneb commented on #2453
In your screenshot, you added them to exporters which do not use any dialogs.

[2020-03-22 18:26] aquaruiz commented on #1750
Hey, I did some fixes but I don't get it how to rebuild to check if it works...
`./refine build`
`./refine`
Is this all?

[2020-03-22 18:48] khyati-agarwalss commented on #2452
I tested it using Google Chrome.
OpenRefine version: 3.3
As soon as I selected the "Google Drive" option, this window showed up:
![image](https://user-images.githubusercontent.com/30500382/77257626-8d070680-6c9b-11ea-9dc7-c95933df8223.png)

[2020-03-22 19:11] antoine2711 commented on #2453
Hi Antonin,
   If you choose a menu, and after that you still have a user interaction, then, I requires an ellipsis.

  That why I put an ellipsis to most (if not all) of the items.

   Also, spreadsheet file is not redundant: the spreadsheet can be saved to the cloud or elsewhere. But in my proposition, the menu item is precise, it tells you when you will generate files.

Regards, Antoine

[2020-03-22 19:13] thadguidry commented on #1750
@aquaruiz Yes, that's how you can do it manually (if not using Maven config and running from directly in your IDE)

[2020-03-22 19:49] antoine2711 commented on #2452
Hi @khyati-agarwalss, I suspect you are having this problem because you didn't create your private GOOGLE KEY & SECRET.

Go here to check this out! [/OpenRefine/OpenRefine/wiki/Google-Extension](https://github.com/OpenRefine/OpenRefine/wiki/Google-Extension)

Regards, Antoine

[2020-03-22 19:53] wetneb commented on #2452
@antoine2711, you don't need to quote the entire message when you are replying to it immediately after - it just needlessly duplicates content. Thanks!

[2020-03-22 20:08] antoine2711 commented on #2452
Hi @AghaSaad04

I suggest that you do this sequence:
1. do an export of the project in gDrive;
2. quit OR;
3. launch again;
4. try to Export to gDrive;
Then, you will see a window opening and closing, one just the size of the gData authentification. But wait, and nothing else will happen.

I didn't even try Firefox. All my problems are with Chrome.

I haven't tried removing gData auth. But the aut

[2020-03-22 21:59] james-cui commented on #2304
Hey @wetneb, I want to take a look at this as the potential GSoC applicant. May I know where the variable was set to 5 sec by default?

Thanks!

[2020-03-22 23:31] antoine2711 commented on #2186
@wetneb:

Well, the way my user eyes see it, it a bit of the 3.
But, at the end, I guess I would want, at each iteration to have all the « fields » contained by the object.

@thadguidry: definitely, implementing [https://www.npmjs.com/package/jsonpath-plus](JSONPath plus) is a good thing, so is `getFields` as it can also be a debugging helper.

I'd would like for sure to go forward with both.

Reg

[2020-03-23 00:38] antoine2711 opened #2459 "In « Upload edits to Wikidata », pressing [RETURN] just make the dialog disapear"
**Describe the bug**
When you are in the « Upload edits to Wikidata » dialog, if you press [RETURN], it never does what it should.
But, mainly, if you type text in the « Edit summary » text field, and then press [RETURN], it will just make the window go away, nothing more.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a valid WD schema, at least one selected row with a reconciled item

[2020-03-23 07:57] wetneb commented on #2304
Sure!
Maxlag is set by default to 5 in Wikidata-Toolkit itself and can be changed here:
http://wikidata.github.io/Wikidata-Toolkit/org/wikidata/wdtk/wikibaseapi/WikibaseDataEditor.html#setMaxLag(int)

User preferences can be stored in the `PreferenceStore` (which can be accessed from the start page, in the "Preferences" section).

[2020-03-23 10:14] #2453 closed

[2020-03-23 12:52] magdmartin commented on #2454
We discussed something similar in #974

[2020-03-23 12:53] wetneb commented on #974
Now that #2455 changed the word wrapping, can we close this @magdmartin? Or do you think we should also/instead let menus expand horizontally?

[2020-03-23 12:56] magdmartin commented on #974
I think the word wrapping is a nice fix.

[2020-03-23 12:56] #974 closed

[2020-03-23 13:48] #1950 closed

[2020-03-23 13:51] wetneb opened #2461 "GREL cross function should support lookup by numbers and other datatypes (date, boolean, etc.)"
**Is your feature request related to a problem or area of OpenRefine? Please describe.**
The GREL `cross` function only works for string values at the moment. It could also support numbers (`int`, `long`). Looking up by floating point number is probably not a great idea because of rounding errors.

**Describe alternatives you've considered**
The `cross` function could directly convert values to st

[2020-03-23 15:05] lisa761 commented on #2238
Hi, So I was thinking would it be better if we provide an option for transition between all, i.e. one from lowercase to uppercase and another for uppercase to lowercase, one from letters to numbers and one from numbers to letters? Or we just give two options and then split whenever there is a transition from either uppercase or lowercase to lowercase or uppercase respectively.

For eg. If the valu

[2020-03-23 15:06] wetneb opened #2462 "Improvements to our nightly releases"
I have fixed the GitHub Actions workflow to publish snapshots of our master branch to [this repo](https://github.com/OpenRefine/OpenRefine-nightly-releases/releases) (the releases are currently empty but the next commit on master will trigger the upload of a release there).

Things to improve:

- [x] Add JRE in the Mac build, it is currently missing
- [x] Delete old releases after some time? Other

[2020-03-23 15:42] antoine2711 commented on #2459
Please note that the [ESCAPE] key should also be taken care of properly, which is not the case right now.

[2020-03-23 15:55] thadguidry commented on #2238
Normal English capitalization rules tell us that only the 2 options I mentioned would be useful.
This issue is just to have some quick menu options to support those 2 common use cases.  If users have other use cases, they can resort to having the power of GREL and other languages we support.  If users REALLY want to have additional options in the menus, they can request an enhancement issue and th

[2020-03-23 15:56] wetneb commented on #2459
The escape key should already work in the master branch (not 3.3) since this was added for all dialogs.

[2020-03-23 16:29] thadguidry commented on #2462
Instead of time based, I would use the Maven convention of keeping X number of SNAPSHOT's and perhaps only the last 3.

[2020-03-23 17:07] darecoder1999 opened #2463 "Improve instructions to install TestNG in Eclipse IDE"
**Describe the bug**
https://github.com/OpenRefine/OpenRefine/wiki/Building-OpenRefine-From-Source#testing-in-eclipse Link mention here for installing TestNG gives error 410 as it is no longer available.

**Expected behavior**

The mentioned link should be replaced with the correct one.

**Screenshots**

![410error](https://user-images.githubusercontent.com/42637982/77342812-c781a980-6d56-11ea-845

[2020-03-23 18:01] darecoder1999 commented on #2463
Modifications done.
Please review, if it's correct or not.

[2020-03-23 20:11] thadguidry opened #2465 "Generated ODS document without Table causes NPE"
**Describe the bug**
An ODS document without a `office:spreadsheet` element causes an NPE

**To Reproduce**
Steps to reproduce the behavior:
1. Download [NoData_NoSpreadsheet.ods.zip](https://github.com/OpenRefine/OpenRefine/files/4371589/NoData_NoSpreadsheet.ods.zip)
1. Rename to NoData_NoSpreadsheet.ods
1. Import the generated file NoData_NoSpreadsheet.ods  (just rename attached ODS package file

[2020-03-24 05:36] james-cui commented on #2304
@wetneb Here is the request to merge
https://github.com/OpenRefine/OpenRefine/pull/2469/commits/af09b05d502157d9b4314ec71adec79e1d7e550a

[2020-03-24 08:20] aakankasha028 commented on #1212
Hi @wetneb @ostephens @thadguidry , I would like to contribute to this project as a part of Google Summer of Code 2020. I have previous experience of working in web frontend and backend, and find it interesting. Although I am a bit late but I'll pick it up as soon as possible. Please guide me for the same.

[2020-03-24 08:33] wetneb commented on #1212
@aakankasha028 sure, why don't you follow the steps here to get your first pull request on another issue first?
https://github.com/OpenRefine/OpenRefine/wiki/Your-first-pull-request

[2020-03-24 10:09] antoine2711 commented on #2463
@darecoder1999: for modification to the wiki, there is not really a process approval. But, I'd say @ostephens is pretty much leading that aspect, though is mostly on the new documentation. There is also Thad who look a lot at the wiki, and he will probably stumble on your modification at one point.

I've check you modification, and they where good. I saw that for the link « Installing New Software

[2020-03-24 11:58] darecoder1999 commented on #2463
@antoine2711 Thank you so much.
Then, I guess now I should close this.

[2020-03-24 11:58] #2463 closed

[2020-03-24 14:22] thadguidry commented on #2463
Thanks for fixing this @darecoder1999 !

[2020-03-24 21:05] thadguidry opened #2473 "POM file for org.openrefine.dependencies:secondstring:jar is invalid"
**Describe the bug**

WARNING error during compile that listed transitive dependency `Junit` is not provided.

**To Reproduce**
Steps to reproduce the behavior:
1. `refine build`
2. Alternatively can use `mvn dependency:tree -X`
3. See Current Results

**Current Results**

[code]

The current POM on MavenCentral shows the scope of `junit` as `provided` ?

[code]
**Expected behavior**
No warning.

[2020-03-25 00:01] Shubhangi2901 commented on #2272
@thadguidry @wetneb Looks like I was a little early to declare it done. Let me walk you through what I have done.

I created an executable jar initially using eclipse, but it was not working since all dependencies weren't getting copied. Then I created a jar using maven, which works and launches openRefine. Then I used jpackage to create the self contained installer, which I managed to do successf

[2020-03-25 03:23] zengchu2 commented on #2031
Hi, I found the source of error and I think this is a tricky case ...
**Souce of Error**
From `ColumnAdditionByFetchingURLsOperation.java`, when calling `ParsingUtilities.inputStreamToString`, the encoding type is _gzip_, which is not supported by `InputStreamReader` in `ParsingUtilities.inputStreamToString` and there is an IOException.

**Fix**
I tried to add up a `GZIPInputStream` to parse the i

[2020-03-25 04:31] antoine2711 commented on #2459
Yes, you are right. It’s working for [ESCAPE].

[2020-03-25 07:08] wetneb commented on #2272
One thing that is quite important for us is that the packaging process can be done independently of any particular IDE. That makes it possible to publish nightly builds automatically, for instance.

So I would encourage you to look at the existing Maven configuration we are using: this uses Launch4j to create a Windows executable. Launch4j has the option to embed a JRE, so it should not be too muc

[2020-03-25 07:40] wetneb commented on #2031
Great investigation, thanks! It sounds like fixing `ParsingUtilities.inputStreamToString` would likely be quite useful, since it might be used in other places in the code (create a project by fetching a URL, for instance?).

[2020-03-25 07:58] antoine2711 commented on #2461
I think that cross() should support any type (possible, easy) of value. Boolean would be pretty important, and date, time, datetime could also be useful.

Is there a big cost to doing them? I think that should guide our choice.

Regards, Antoine

[2020-03-25 07:59] wetneb commented on #2461
The PR #2468 already allows for any cell value to be used in `cross`.

[2020-03-25 08:44] antoine2711 opened #2474 "Defining a cell type for a validation mechanism for columns"
**Is your feature request related to a problem or area of OpenRefine? Please describe.**
I would like to be able to define a « reference » type of value for a column, and then, with a IsValid() facet, be able to select only the rows that are or not valid, that is, of the chosen data type (number, string, date, boolean, etc).

**Describe the solution you'd like**
There should be a menu item  in the

[2020-03-25 09:42] Nishtha3512 commented on #2306
Hey,where i get the code related to this issue? please share link with me if any
Thanks :)

[2020-03-25 12:54] wetneb commented on #2474
This could be the first step towards exposing more column metadata. This is typically the sort of thing I would have liked to see when Data Package integration was introduced.

Beyond validating the datatype of the cell value, on could also consider:
* regular expressions for string columns;
* requiring a column to be fully reconciled;
* requiring values to be unique…

It could be useful to get so

[2020-03-25 12:58] wetneb commented on #2306
Are you still working on this @linderbarbara?

The relevant code is in `extensions/gdata/src/org/openrefine/extension/gdata/SpreadsheetSerializer.java`.

[2020-03-25 12:59] thadguidry commented on #2031
All of this gets a bit easier if we begin to utilize a smarter HTTP library.  I highly suggest [OKHttp](https://square.github.io/okhttp/).
1. https://square.github.io/okhttp/4.x/okhttp/okhttp3/-response-body/
2. https://square.github.io/okhttp/recipes/#parse-a-json-response-with-moshi-kt-java

[2020-03-25 14:49] zengchu2 commented on #2031
Hi, I just managed to use GZIPInputstream to parse gzip compressed response body , I will take a look at the OKHttp library in a short time

[2020-03-25 14:59] SubhamPramanik commented on #2306
Hi! I would like to try this issue.
I'm getting this error during the OAuth call to Google while trying to recreate the issue.

Google
400. That’s an error.
Error: invalid_request
Missing required parameter: client_id

I've built the project locally on Eclipse. I use a Windows system.

[2020-03-25 15:25] wetneb commented on #2306
You will need to set up Google OAuth credentials as described here:
https://github.com/OpenRefine/OpenRefine/wiki/Google-Extension

[2020-03-25 15:30] SubhamPramanik commented on #2306
Created a PR. #2476

[2020-03-25 15:49] darecoder1999 commented on #2379
@ostephens I have reproduced the issue and gone through the mentioned other issues too. Not sure, if I can resolve this or not. But want to give it a try. Can you please help me, where the related code is located in which I should look into for resolving this issue? Thank you.

[2020-03-25 16:17] thadguidry commented on #2379
@darecoder1999 Just search the code for "fetch" in your IDE and this should be apparent.

I had mentioned to others in #2301 that perhaps moving to a smarter library like [OKHttp library](https://square.github.io/okhttp/) might make things easier for us all around in the long term, such has dealing with SSL 3.0 etc.  But that's a major design decision that needs to be evaluated by our lead develop

[2020-03-25 16:22] darecoder1999 commented on #2379
@thadguidry thanks for the quick response. I'll search that and try to explore the code. If stuck anywhere will ask in the main group or over here. Thanks once again.

[2020-03-25 16:49] wetneb commented on #2379
Just noting that this is probably a pretty involved issue. But definitely worth tackling indeed. To locate the places where we need to upgrade to a more high-level HTTP library, look for `UrlConnection` in the code. A first step would be to list all the places where this is used, see what the requirements are in terms of API granularity (streaming, encoding, headers, …) and see if we could find a

[2020-03-25 20:56] antoine2711 opened #2477 "The packaging of just the Windows or Linux version doesn't work (./refine windows_dist | linux_dist)"
**Describe the bug**
If you try to build the executable for Mac, you can use `./refine mac_dist "3.4-SNPASHOT"` or for all the platform, you can use `./refine dist "3.4-SNPASHOT"`.

The doc also says you can do the same for Windows and Linux:
[code]

But, these:
`./refine windows_dist "3.4-SNPASHOT"`
`./refine linux_dist "3.4-SNPASHOT"`
Do not work…

[code]
**To Reproduce**
Steps to reproduce the

[2020-03-26 00:21] antoine2711 commented on #2222
@msaby: not sure I understand. Right now, in a few clicks and typing `type(value)`, you can have your facet with the types of a column. What would like more? A menu item that remembers the 11 character code and creates the facet?

The gain seams very little. Nothing that a good doc can't fix.

Regards, Antoine

[2020-03-26 06:35] antoine2711 commented on #2237
I'm not sure to understand: like it was written in the mailing list discussion, a « Transform » calculation like this will give you the number of rows in a record, wouldn't it?

`with(row.record, vR, vR.toRowIndex - vR.fromRowIndex)`

Regards,
   Antoine

[2020-03-26 07:36] wetneb commented on #2222
We do have menu items for relatively simple GREL expressions (such as `isBlank(value)`). Having them makes it easier for users in the sense that they don't have to know all of GREL to start using the software - and for seasoned users it's a welcome shortcut. So I think it would make sense to add such a facet intuitively.

[2020-03-26 07:43] #2031 closed

[2020-03-26 07:47] #2304 closed

[2020-03-26 07:58] antoine2711 commented on #2212
Hi Mathieu (@msaby),

Now that we have enhanced the `cross()` function, you can now call it to simulate a « fill in all directions ».

So, let me show you (this can only be done with 3.4).
Here the calculation you must use: `filter(cross(cells.Col1.value, "TEST-FillUp", "Col1"), vV, vV.cells["Col3"].value != null)[0].cells.Col3.value`, where Col1 is a « Record ID », and the Col3 is the column you

[2020-03-26 09:32] msaby commented on #2212
Thanks, I will test it ;-)
But I still think it could be nice to add this feature in the GUI

[2020-03-26 15:12] kushthedude opened #2479 "Google Auth wiki page needs to imporved"
As done by @afkbrb, now we can configure the G-Data credentials from the refine.ini which is not updated in the wiki. Hence the document is still ambiguous for users as to how to finally put the G-Data credentials in the OpenRefine.
Therefore the Oauth Wiki Page should be updated which may ease the Oauth process for the users

[2020-03-26 15:13] kushthedude commented on #2479
@AghaSaad04 You created the page from scratch, would you like to take up this issue as well?

[2020-03-26 16:36] wetneb commented on #2273
I'll comment with my own ideas about @joanneong's short-list.

## Sphinx

The main problem with Sphinx (I think) is the fact that it uses reStructuredText. It is possible to use Markdown as well but to the expense of some features (I think).

In my opinion, RST is not really newcomer-friendly, since it is a bit of a niche format. And to be honest it's also quite ugly. Look at the syntax to add hyp

[2020-03-26 17:04] kushthedude commented on #2273
If we are going for docusaurus, How are we planning to do so?
- Will we adapt to a theme or will we create a custom theme for OpenRefine?
- Are we going to create a seperate repository or are we going to publish the website from the OpenRefine only(We can move the documentation under docs folder and create dynamic markdown generation for same if we don't want an additional repo).
- What will be th

[2020-03-26 17:15] wetneb commented on #2273
It would be nice! But not a prerequisite, so we can get other things moving without that.

I think there is general agreement that the source of the docs should live in the same repository as the code (OpenRefine/OpenRefine), so that we can encourage contributors to update the docs as they change the behaviour of the tool.

I would like the system to be running ASAP. It is high priority as this is

[2020-03-26 17:25] kushthedude commented on #2273
I will be happy to help to set-up the external-source generation script and the initial layout for the website. After which we can go to importing the docs.

[2020-03-26 17:37] kushthedude opened #2480 "Adding refine.ini to git-ignore"
I am proposing to add refine.ini to git-ignore as after setting up Gdata credentials the file will always show as a change to be committed.

[2020-03-26 17:42] wetneb commented on #2480
Adding `refine.ini` to `.gitignore` still shows the file as to be committed on my system, since `refine.ini` is still tracked. Does it change something for you, perhaps using a different Git client?

[2020-03-26 17:43] timothy-mendenhall opened #2481 "Add a conditional to "remove column" operation"
**Is your feature request related to a problem or area of OpenRefine? Please describe.**
Enhancing the Remove Column operation with a conditional

**Describe the solution you'd like**
As an example: in my workflows, I remediate spreadsheets I receive from many different units.  These are often templates filled in by the staff of these units.  In many cases, some columns will be left blank, but thi

[2020-03-26 17:46] wetneb commented on #2481
I think the "remove all blank columns" operation has already been requested before - it would probably be more natural than the "remove this specific column if empty" operation, since the former is directly useful to users who just work from the UI.

[2020-03-26 20:01] kushthedude commented on #2480
Yes, It does show in the git-cli but doesn't show git-sublime client weird. Any idea you have ?

[2020-03-26 20:50] wetneb commented on #2480
Well, if it improves your own workflow, I don't see a reason not to add it to .gitignore, it does not deteriorate the experience on CLI either…

[2020-03-26 21:00] kushthedude commented on #2480
@wetneb What about moving the secret key and client id to environment variables and then using from there ?
Most of the project use `.env` to store keys and confidential stuff.
I can PR to have the same.

[2020-03-26 21:07] wetneb commented on #2480
I am not sure what is the conceptual difference between an `.ini` file and an `.env` file - both separate the configuration from the code. I don't think replacing the ini file by something in another format would change much.

We could have a template of `.ini` file, which would be copied by the `./refine(.bat)` scripts to `refine.ini` if that file does not exist yet, and that would not be tracked

[2020-03-26 21:11] linderbarbara commented on #2306
Yes, I'm working on it. I've found a different solution, currently I'm writing the test cases related to the affected class.

[2020-03-27 01:34] afkbrb commented on #2480
I think we can have a `refine-dev.ini` and change `refine` / `refine.bat`. So if there are both `refine-dev.ini` and `refine.ini`, `refine` / `refine.bat` will use `refine-dev.ini` and ignore `refine.ini`. The `refine-dev.ini` should be added to `.gitignore`, so that it will not be tracked.

This way, `refine.ini` can still be used by default and tracked. Developers can copy it and rename it to `r

[2020-03-27 02:25] thadguidry opened #2483 "Add Title Case transformations"
Feature request was from 2020 Survey results:

**"Have real Title Case transforms that left articles like A, An, And, The lowercased as well as prepositions instead of capitalizing each word."**

The above was discussed in this [mailing list thread](https://groups.google.com/d/msgid/openrefine-dev/CAE9vqEF-NDO%2BysJ3b7dq4Urs-1%2B5ko05%2B9kzKGGMTGE8cVPybw%40mail.gmail.com?utm_medium=email&utm_sourc

[2020-03-27 02:39] tfmorris commented on #2483
This is a totally non-trivial problem.

In addition to the Wikipedia page which describes the variation in general detail, there's also https://capitalizemytitle.com/ which enumerates some of the MANY variations just to deal with American English.

The British capitalise, not capitalize, their titles, but have similar variation, as do the [French](https://www.thoughtco.com/capitalize-french-titles

[2020-03-27 04:19] pachamaltese commented on #1445
@thadguidry Hi. I shall need help to translate the Ubuntu/Debian work (ready) to Fedora/CentOS/RedHat. It's a totally different world. The unified solution would be to create a snap package, but I'd avoid it as much as I can.

[2020-03-27 04:45] antoine2711 commented on #2204
Hi @GhostKong: well, now, the cross() function can operate with key columns that are of any type.

If you go check: [#2461](https://github.com/OpenRefine/OpenRefine/issues/2461), you can see it. It will be in v3.4.

Regards,
   Antoine

[2020-03-27 05:49] antoine2711 commented on #583
@ostephens:  I’m curious: is it easy/possible ton integrate Jira with GitHub?

Regards, Antoine

[2020-03-27 07:51] antoine2711 commented on #214
I think this would only work if you don't sort your view. Because if you do sort, then, row.index is not longer the ordinal order you see…

Interesting! ;-)

Regards, Antoine

[2020-03-27 08:03] wetneb commented on #2480
Note that the Linux distribution of OpenRefine uses the `./refine` script itself, so the `./refine` needs to look at `refine.ini` at least in that case.

[2020-03-27 08:05] wetneb commented on #1445
Feel free to submit your DEB packaging on its own - it's already something that would be very welcome even without an accompanying RPM.

[2020-03-27 08:29] afkbrb commented on #2480
@wetneb Sorry I don't get what you mean. I mean both `refine.bat` and `./refine` will still look at `refine.ini` if `refine-dev.ini` doesn't exist. Will there be some issues for the Linux distribution?

[2020-03-27 08:42] #2403 closed

[2020-03-27 08:44] wetneb commented on #2480
Sure, that works then!

[2020-03-27 09:53] kushthedude commented on #2480
This sounds nice to me too!

On Fri, 27 Mar, 2020, 14:14 Antonin Delpeuch, <notifications@github.com>
wrote:

[2020-03-27 11:10] darecoder1999 opened #2484 "While creating wikidata schema I-beam pointer appears for drag and drop"
**Describe the bug**

On hovering over the items to be selected and drag & drop for creating wikidata schema, I-beam pointers appears over there which is not appropriate if it is having a feature of drag & drop.

**To Reproduce**
Steps to reproduce the behavior:
1. Open any project in OpenRefine
2.  Go to 'Extensions : Wikidata'
3. Scroll down to 'Edit wikidata schema'
4. Then click on 'Add item'

[2020-03-27 11:26] kushthedude commented on #2483
Don't we already have title case transformation over here ? Or am I missing something ?

<img width="1195" alt="Screenshot 2020-03-27 at 4 54 52 PM" src="https://user-images.githubusercontent.com/44091822/77751458-c77df400-704b-11ea-925a-1023aa8bcf85.png">

[2020-03-27 11:31] kushthedude commented on #2021
@thadguidry I think this is not reproducible now, I just tried it several time ?

[2020-03-27 11:32] ostephens commented on #2273
@kushthedude the point of setting up the various project documents I linked to was help with this sort of planning - ideally get some level of process and organisation around the project.

If google docs isn't the right place to do this, that's fine, but I don't think Github issues really give the structure we need - for me the plan should tell us what we are going to do, and then we have issue fo

[2020-03-27 11:36] ostephens commented on #2273
I'd really stress that "documentation" isn't a single thing - so we need to think about what we are migrating, what is on Docusaurus (or whatever platform we choose), what other requirements we have etc.

I know we are all eager to get this project moving, and I don't want to slow us down, but I also want us to do it "right"

[2020-03-27 12:35] wetneb commented on #2484
Absolutely!

[2020-03-27 13:50] thadguidry commented on #2021
Fixed!  (no idea which commit fixed it however)  so closing.

[2020-03-27 13:50] #2021 closed

[2020-03-27 14:11] kushthedude commented on #2021
Might had been some error in library or any cdn which would have fixed it.

On Fri, 27 Mar, 2020, 7:20 PM Thad Guidry, <notifications@github.com> wrote:

[2020-03-27 14:16] thadguidry commented on #2273
Owen,

I think we can use some GitHub Projects to help provide additional
structure for our planning and link to issues.
I've setup one quickly (Kanban Automated template) and need to know if you
have access to it and can try clicking on a + sign to add a quick note in
"To do", as well as seeing the blue links for "Manage" on the bottom of the
board columns?

Your view should look like this:
[imag

[2020-03-27 14:17] thadguidry commented on #2273
Forgot the link!  https://github.com/OpenRefine/OpenRefine/projects/8

Thad
https://www.linkedin.com/in/thadguidry/

[2020-03-27 14:25] thadguidry commented on #2484
Either a Cross , or a Grab Hand.  Whatever is currently the norm for most applications.

[2020-03-27 14:32] wetneb commented on #2273
@ostephens are you suggesting we discuss things in Google Docs instead of here?

I think your docs are a great start but I did not understand them as something that was meant to be a discussion platform - I was expecting you to fill in the gaps with your proposed approach to the problem.

If it is instead meant to be a discussion platform, we can lock this issue and point people there (but I am no

[2020-03-27 14:54] fpompermaier commented on #2273
My personal experience in using GitHub issues and/or project is awful, while is awesome with Jira.

Moreover, I feel very comfortable with the process that has been gradually established (in many years) within the Flink community.

- Issues are opened in JIRA, so it's easier to have a clear picture of the status of the project
- a GitHub issue without a JIRA is not considered and closed almost imm

[2020-03-27 15:34] Nishtha3512 commented on #1095
Hi everyone,Please tell me after importing XML file from url in which type of files i need to parse Data as?
 bcz paring as lines based text showing data in simple lines and as spreadsheets it is shown updaing preview only but not showinhg any result.

[2020-03-27 16:04] wetneb commented on #1095
If you are importing an XML file from a URL, then you should probably select "XML" as file type.

[2020-03-27 16:26] ostephens commented on #2273
@wetneb I don't mean to pass discussion over to Google docs, but the question asked was:

The implementation plan can be discussed, but should be documented IMO - so rather than leap from discussion to implementation I'd like discussion -> plan ->implementation

The google docs were an attempt to be able to do the "plan" stage. But I'm happy to look at alternative approaches - I just don't think m

[2020-03-27 16:38] wetneb commented on #2273
Ok, it looks like someone needs to step up and write plans in these google docs then. Happy to do that if it can get gears moving.

[2020-03-27 16:51] tfmorris commented on #2483
@kushthedude If you read the descriptions in the links, you'll see that the current transformation isn't the same.

[2020-03-27 17:09] ostephens commented on #2273
I don't necessarily think that's down to one person to do - I've started, but didn't get as much done this week as I'd hoped

[2020-03-27 17:17] Nishtha3512 commented on #1095
@wetneb  But in the first comment of this issue as we see in the screenshot data is shown in the form of table and it is before creating project. By selecting "XML" will give me XML file not table like above to check the bug. :)

[2020-03-27 17:21] wetneb commented on #1095
That's because you need to select one element in the XML tree before it gets converted into a table (see the yellow area circled by red dots in the screenshot above).

[2020-03-27 18:02] kushthedude commented on #2483
@tfmorris Got that !

[2020-03-27 20:41] Shubhangi2901 commented on #2272
@wetneb @thadguidry Thanks for the suggestions. I managed to get the self-contained package working, and it looks at the JRE which is self-contained. I tested the package on a system with no JRE installed, and its working. I have created a pull request for the issue, which is below. Can you please take a look?

https://github.com/OpenRefine/OpenRefine/pull/2486

[2020-03-27 21:18] aakankasha028 commented on #388
@thadguidry I would like to take up this issue so as to make the first contribution. I propose the following changes

1. Update the usage message for -m by adding the line "values less than 256M are not allowed"
2. While parsing the command line arguments, if the value for -m is less than 256 ( if [ $1 -lt 256  ) then, show them the usage and exit (or show them an error message and exit)
3. Add a

[2020-03-27 21:54] wetneb commented on #388
Sounds like a great plan to me!

[2020-03-28 10:34] wetneb commented on #2273
No problem Owen, I'll try to help this week-end.

[2020-03-28 13:46] aakankasha028 commented on #388
@wetneb I have made the changes to the shell script and the PR is at https://github.com/OpenRefine/OpenRefine/pull/2489. The electricty went off just as I pushed my changes so had to rebase them all over again and then create the PR, hence the delay between the push and the creation of PR

Please review the same. Post that, I will update the wiki page as well.

[2020-03-28 15:26] wetneb commented on #388
Ok, I am a bit confused by the result. Could you perhaps re-submit the PR as a single commit? Start a new branch from master, cherry-pick your commit from the old branch, push the new branch and submit it as a PR?

[2020-03-28 16:06] aakankasha028 commented on #388
Sure, I'll do that!

[2020-03-28 16:20] #388 closed

[2020-03-28 18:10] #2484 closed

[2020-03-28 19:58] thadguidry commented on #2273
@wetneb @ostephens  TIP:  Docusarus v2 does have a ["Docs Only" mode and "Blog Only" mode](https://v2.docusaurus.io/docs/next/configuration/#docs-only-mode).

[2020-03-28 22:37] kushthedude commented on #2273
I will also try to help in updating the information over weekend. Hope to see an OpenRefine Docs Site soon 🤩

[2020-03-29 11:18] asraman9792 commented on #1612
hello I am Aman Singh Rajput from  IIT BHU VARANASI. I am studying OAuth Support and also done some case study on its features I am finishing my proposal for the GSOC . If some one found some issue please let me know

[2020-03-30 02:12] james-cui commented on #2420
@thadguidry here is my pull request on the issue https://github.com/OpenRefine/OpenRefine/pull/2494
Can you review it?

[2020-03-30 02:43] pabloab commented on #1445
Have you tried with [alien](https://sourceforge.net/projects/alien-pkg-convert/)? [`alien --to-rpm /path/to/file.deb`](https://wiki.debian.org/Alien)

[2020-03-30 02:45] pachamaltese commented on #1445
@pabloab the problem with that is that creates a static conversion, and dependencies are not solved

[2020-03-30 02:57] pachamaltese commented on #1445
@wetneb I've just uploaded what I had in a external drive https://github.com/pachamaltese/openrefine-deb, it's updated to openrefine 3.3.

[2020-03-30 06:43] wetneb commented on #1445
Ok, so the remaining work to get this integrated in this repository would be to wrap this process inside the Maven packaging process, configured in `packaging/pom.xml`.

[2020-03-30 10:37] SakuraX99 commented on #1212
Hello,@wetneb @ostephens @thadguidry , I also want to contribute to this project through Google Summer of Code 2020. I'm a university students major in Software Engineering in ShangHai, China. I have teamwork experience in Web programed based on Vue and Spring, I have basic fronted skills but more familiar with the backend. I know it's quite close to the deadline, but I really want to catch this c

[2020-03-30 10:38] wetneb commented on #1212
@SakuraX99 same reply as above, please go through https://github.com/OpenRefine/OpenRefine/wiki/Your-first-pull-request

[2020-03-30 13:28] leoshrey commented on #1027
@wetneb @ostephens Can you please help me locating the code for Pagination, sot that I can try to fix the issue.

[2020-03-30 13:31] wetneb commented on #1027
If you are a GSoC applicant, you should rather get a first contribution on a different issue (see the guide above to your first pull request).

If you are not a GSoC applicant, please do not work on this issue, since it will likely be worked on this summer by a GSoC student.

[2020-03-30 13:33] leoshrey commented on #1027
hi, @wetneb yes, I am a GSoC applicant and want to work for the issue.

[2020-03-30 13:52] wetneb commented on #2273
I have added another candidate to the table (sorry!): [Antora](https://antora.org/), which uses [AsciiDoc](http://asciidoc.org/) to format the source files.

[2020-03-30 21:51] antoine2711 commented on #2306
Hi Subham, you must be careful, as @linderbarbara has already started this case and is assigned to this issue. You are heading for a collision that will require merging.

I understand that you are now well advance, and as such, you have something to offer, but I would strongly suggest that you choose issues that no one is assigned to.

Now, considering the current situation, you should talk with @

[2020-03-30 23:41] comradekingu commented on #2442
You could add that as context to the strings in question.

[2020-03-31 02:51] tfmorris commented on #2238
The PowerQuery example given by the original requestor provides all four options, although it appears that they are mutually exclusive (they each appear to be a separate drop down menu pick).

I'm not convinced that splitting on uppercase to lowercase transitions is very useful, but all four were originally requested.

[2020-03-31 03:09] james-cui commented on #2201
@wetneb I am interested to work on this. However, I may not have the full context on this.
Does replace "-" with "/" resolve the issue?
And what do you mean by "The resulting table would not use the records structure, it would be a flat tabular file."?

[2020-03-31 03:13] thadguidry commented on #2238
@tfmorris The split from uppercase then lowercase can still be useful in scientific domains where its much more prevalent than newsrooms.
Small example:
`kPa  =  [k, Pa] = [kilo, pascal] = [1000 pascals]`
and crap like that. ;-)

[2020-03-31 03:30] antoine2711 commented on #200
Hi @tfmorris, while reading this, it came to me that now that the cross() function has been enhanced, I think you could get `rows[rowIndex-1].cells["Column1"].value` this way:

1. Have a numerical key column where `value = row.index + 1`;
2. where you want the value from another row, just put: `cross(_iID_, "PRJ-NAME", "COL-NAME").[0].cells.value`. Note that you can even get multiple values from t

[2020-03-31 03:58] tfmorris commented on #200
@antoine2711 Anything that you see which was "authored" by me on October 14, 2012 is usually just an artifact of the import that I did of all old issues from Google Code on that date.

You can see the original author (with obfuscated email) and date here:

Your workaround sounds plausible on the face of it, although I haven't tested it. Syntactically it's quite a bit more unwieldy than something l

[2020-03-31 05:01] SakuraX99 commented on #1612
Hello,@wetneb ,besides I want to contribute to this project through Google Summer of Code 2020. I'm a university students major in Software Engineering in ShangHai, China. I have teamwork experience in Web programed based on Vue and Spring, I have basic fronted skills but more familiar with the backend.I have upload my  proposal in GSOC's website, If possible please please give me some guide. Here

[2020-03-31 05:53] antoine2711 commented on #2481
Are you referring to this: « [Remove Blank Columns upon project creation/import #1750](https://github.com/OpenRefine/OpenRefine/issues/1750) »? (where there is a reference to « [CSV Import - Store Blank Columns Checkbox #1965](https://github.com/OpenRefine/OpenRefine/issues/1965) »

Because in those issues, it's specifically bounded to the create of a project in the way it's presented, this one co

[2020-03-31 06:00] antoine2711 commented on #200
Shame, @tfmorris, it would have been a very productive day… 3:-)

Yes, `rows[rowIndex-1]` is not as elegant as `cross(_iID_, "PRJ-NAME", "COL-NAME")[0]`, still, it much more flexible as it has not project boundary, and the point I was making is that it now exists in v3.4 and it would answer the need.

[2020-03-31 06:18] wetneb commented on #2201
I think you might need to tweak it a bit further to conform to the JSON Pointer specs.

You could try importing my JSON example above and compare the current behaviour of the JSON importer to the behaviour described above.

[2020-03-31 07:28] leoshrey commented on #2316
Hi @wetneb , is this still being worked upon? If not, I want to take this up, can you please suggest?

[2020-03-31 07:38] antoine2711 opened #2504 "Enhance cross() with empty "project name" calling parameter to represent the current project and empty column name to represent the index"
**Is your feature request related to a problem or area of OpenRefine? Please describe.**
The `cross()` function can get data from an external project, but also from the current project (kind of a self-join). In order to minimize the text to write (and read), if the project name parameter could be set to an empty string, it would help or visibility, and for reusability, has the SAME transformation

[2020-03-31 07:47] wetneb commented on #2316
Hi @khyati-agarwalss, are you still working on this?

[2020-03-31 07:49] antoine2711 commented on #2201
In OpenRefine, when you work the data, there is 2 mode: `row` or `record`. Records exists to enable ONE level of hierarchy. But, in a JSON file, you have many branches, any number actually. So OR cannot exactly represent the hierarchical nature of a JSON.

I think that @wetneb meant that you should not try to use the `record` mode, but rather stay in a pure tabular mode (the `row` one).

[2020-03-31 08:05] antoine2711 opened #2505 "« Split into several columns » should have the option to fill the columns created in a reverse order"
**Is your feature request related to a problem or area of OpenRefine? Please describe.**
Let's say you use the « Split into several columns » function, and that [1, 2, 3] would be filled in in the first, second and third column created, with 1 in the first, end 3 in the last.

**Describe the solution you'd like**
But, with this option, 3 would go in the first column, and 1 in the last.

**Describe

[2020-03-31 08:10] khyati-agarwalss commented on #2316
No @wetneb , I couldn't solve it. @leoshrey you may proceed with it.

[2020-03-31 08:18] wetneb commented on #2505
Let's not mark this as a good first issue until we have reviewed it - just to make sure new contributors don't get the bad surprise of us disagreeing about the feature after having spent time on a PR.

[2020-03-31 08:36] antoine2711 commented on #2125
@Kirschbombe : have you tried v3.3?

[2020-03-31 13:35] Entruna commented on #2019
Hi! I would like to try this issue. Can I work on it?

[2020-03-31 13:43] kushthedude commented on #2019
Sure go ahead, I didn't get enough time to complete the issue.

On Tue, 31 Mar, 2020, 19:05 Entruna, <notifications@github.com> wrote:

[2020-03-31 21:53] antoine2711 commented on #36
@thadguidry: I think we CANNOT go into the direction of a function **toColumns()**, because they can be called a few times in a single expression. We can't control that (i.e. `and([ "Yang", "David"].toColums, [ "Antonin", "Antoine"].toColums)` could be written).

BUT, what I would REALLY consider, is, adding to ALL places with a « expression preview », the ability to choose WHERE the result is goi

[2020-03-31 22:39] thadguidry opened #2507 "GREL parsing is too lazy and doesn't throw syntax errors"
**Describe the bug**
Arrays are not parsed properly for syntax issues.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Edit Cells -> Transform
2. Paste the example GREL `[1,['a','b','c']]`
3. Notice no Parsing error is given and output is `[ 1, [ "a", "b", "c" ] ]`
4. Paste the example GREL `[1['a','b','c']]`
5. Notice it evaluates to `[ null ]`

**Expected behavior**
I would expect th

[2020-03-31 22:41] antoine2711 opened #2508 "this expression « [1[1,2]] » will result in this faulty array: « [ "" ] »"
**Describe the bug**
If you enter this expression `[1[1,2]]` in the expression preview dialog, it will result in this faulty array: `[ "" ]`. It should instead raise an exception stating this array is malformed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Edit cells -> Transform…'
2. Enter this expression: '[1[1,2]]'
4. See '[ "" ]' in the preview pane.

**Current Results**
[1[1,2

[2020-03-31 22:46] antoine2711 commented on #2508
Duplicate with [GREL parsing is too lazy and doesn't throw syntax errors
#2507](https://github.com/OpenRefine/OpenRefine/issues/2507). Closed.

[2020-03-31 22:46] #2508 closed

[2020-03-31 23:17] james-cui commented on #2201
I see, thanks @wetneb  and @antoine2711  for your reply! I can start to look into it now :)

[2020-04-01 01:10] antoine2711 commented on #1440
@thadguidry, @ostephens, @weblate & @ettorerizza: how about we bring this to the next step:
- default to showing a max of 1024 chars in the display, per column, but,
- user can edit a column pref and and change that limit per column.
- when a cell value is trunked, then a little icon is present in the cell (like a + on the lower right).

This would only affect display.

[2020-04-01 02:21] gigincg opened #2509 "OpenRefine 3.3 throws Number Format Exception on Windows 10 when trying to preview query"
When I connect to my MySQL DB, I'm asked to enter a query and when I keep a simple query "SELECT * FROM mytable", It displays "Updating Preview" Forever and throws an exception in Command Line. Sharing the logs:

Logs:07:49:14.972 [                   refine] GET /command/core/get-csrf-token (253429ms)
07:49:14.979 [                   refine] POST /command/core/cancel-importing-job (7ms)
07:49:19.6

[2020-04-01 04:37] antoine2711 commented on #96
@thadguidry, @wetneb & @tfmorris: I think we can now close this issue, as the enhancement to the cross() function also fixed the bug. What do you think?

Regards, Antoine

[2020-04-01 05:35] antoine2711 opened #2510 "true.type() return « java.lang.Boolean » and not « boolean »"
**Describe the bug**

Expression|Result|Expected result
-- | -- | --
true.type()|**"java.lang.Boolean"**|_"boolean"_
(1).type()|"number"|"number"
"A".type()|"string"|"string"
now().type()|"date"|"date"
[].type()|"array"|"array"
null.type()|"undefined"|~~"null"~~ "undefined"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Edit cells -> Transforms…'
2. Enter 'true.type()' in the Express

[2020-04-01 05:48] antoine2711 commented on #2509
@gigincg: The database import was not working in v3.3 in a lot of situations. Either go back to version v3.2, or download the current GitHub snapshot of OpenRefine.

* Can't load data from Postgres-Database using in-build database-connectors #2281
* [https://github.com/OpenRefine/OpenRefine/wiki/Changes-for-3.4](Changes-for-3.4)

If it fixes your problem, please let us know so that we can close th

[2020-04-01 06:31] antoine2711 commented on #2157
And how would you feel about an interface like this?
![image](https://user-images.githubusercontent.com/12217525/78106101-b40eb800-73c0-11ea-82d4-90cea166f10c.png)

Regards, Antoine

[2020-04-01 08:16] ostephens commented on #1440
@antoine2711 I'm generally happy with the idea but I have some concerns about the details:

* Should the max setting be configurable at the top OpenRefine level (applies to all projects)? And/or at Project level? And/or Column level?
* I think we need to support setting the display to unlimited (rather than specify a large number of characters)
* I think it should be possible to set display limits

[2020-04-01 08:45] antoine2711 commented on #1440
Yes good questions, @ostephens.

For sure at the Column Level. Probably also at either project or host level (or both?! not very complex/time consuming to code). But I would set the default app max at 5K, not 1K.

Even with showing 10 lines, working with large cells is very unpractical. Here is a test with one cell with a 1000 digits number and another cell with 50x rows of 100 digits numbers. Thi

[2020-04-01 08:55] #96 closed

[2020-04-01 08:57] wetneb commented on #2509
I would not close this issue without checking using the stack trace provided where the error was coming from.

[2020-04-01 08:59] #2040 closed

[2020-04-01 12:56] thadguidry commented on #1440
👍 to allow setting on a per column basis, easily.

[2020-04-01 15:09] antoine2711 commented on #2057
Hi @grahamjevon,

You could create a column where that information would be available. You would probably need to use the `cross()` function.

Yes, It's difficult, but not impossible. Here, with the help of **Jython**, I created a script that does just that:
[code]

Does that answers you needs?

Regards,
   Antoine

[2020-04-01 15:54] antoine2711 commented on #2075
That is really a required functionality!

+1

Regards, Antoine

[2020-04-02 06:25] antoine2711 commented on #169
There is really a few things weird in this…
![image](https://user-images.githubusercontent.com/12217525/78217019-2054ee80-7489-11ea-8739-19482b246626.png)

[2020-04-02 06:44] antoine2711 commented on #181
@weblate : do we still have this situation? We seem to support that, but I might not understand well.

Regards, Antoine

[2020-04-02 07:20] wetneb commented on #181
I think most exporters comply with this, yes, but I would not swear all of them do. We could decide to close this on the basis that it is not specific enough.

[2020-04-02 13:18] ostephens opened #2511 "Setup repository for product documentation"
To better support OpenRefine we are undertaking a project to improve documentation. Documentation source files will live in a separate Github repo in the OpenRefine org, and from there be published to a documentation platform.

This issue is to setup the new repository

See https://docs.google.com/document/d/1VtzXjSqrliAp1R8Xy3yARXIiN5NuV0dNf4apvJz4rl8/edit# for more detail

[2020-04-02 13:23] kushthedude commented on #2511
@wetneb @ostephens Didn't we agree to put the documentation in the OpenRefine Repository itself? And to publish the website we can use an outsourcing script or script to generate docs dynamically from the given URL.

[2020-04-02 14:24] ostephens commented on #2511
@kushthedude for the technical reference documentation we'll definitely be doing this - via javadocs. I think for the product reference documentation we need a separate repo. I think we can still encourage contributors to update the docs as they change behaviour of the tool.

(definitions of technical reference vs product reference given at https://docs.google.com/document/d/1VtzXjSqrliAp1R8Xy3yAR

[2020-04-02 15:27] wetneb commented on #2511
Did we not also agree to store the source for the user manual in the main repository?

My understanding from the meeting we just had was that I would set up a repository to host GitHub Pages deployment for the docs, but the source of the docs would stay in the main repository.

[2020-04-02 15:39] wetneb commented on #2273
@antoine2711 why did you unpin this?

[2020-04-02 18:32] tfmorris commented on #181
David (ie dfhu...@google.com) was the original author of the Google Refine, so it'd be nice to be able to say the bug was actually fixed rather than arbitrarily closing his bug report. I'm not seeing any mentions of `Content-Disposition` in the code. Is this buried in a library somewhere?

Specifically, we should use a form like:

`Content-Disposition: attachment; filename="EURO rates"; filename*=

[2020-04-02 19:13] antoine2711 commented on #181
@tfmorris: thank you for taking the time to answer. Yes, I have much respect for the originals contributors of OR, and as such, going thru the old issues and making sure that we follow them to completion seams to me to be one way of honoring their work.

I understand this issues is about pretty much all exporters.

Now, is this issue (and the `Content-Disposition`) about getting strait to the « Sa

[2020-04-02 19:55] tfmorris commented on #181
@antoine2711 I totally appreciate the effort to clean up and triage old issues! I was just disagreeing with @wetneb's suggestion that we close it as not specific enough.

Without `Content-Disposition: attachment` the browser will guess what to do with the file based on its extension or media type and may open a new tab, send it to an app, or just save it to a file. The goal is to force it to alway

[2020-04-02 20:05] tfmorris commented on #2511
One advantage to having a separate repo is that permissions can be managed separately from the main source code repo.

Also, re:

writing good quality code and writing good quality user documentation are two very different skill sets. It's not uncommon for people to have one or the other, but not both.

[2020-04-02 20:41] tfmorris commented on #2507
This sounds very similar to #169 posted by @thadguidry in 2010. ;) (and no, I don't know of any good reason for it to behave this way -- I think it's just a bug)

[2020-04-02 21:01] wetneb commented on #2511
About permissions, I am not really sure why we would want to grant a user access to the docs and not the code or conversely. Changes to both are done through pull requests anyway, the master branch is protected. If someone becomes disruptive in any area we can easily remove them. We are currently trying to invite contributors to the organization as soon as they start contributing, which lets them

[2020-04-02 21:03] wetneb commented on #2511
About permissions, I am not really sure why we would want to grant a user access to the docs and not the code or conversely. Changes to both are done through pull requests anyway, the master branch is protected. If someone becomes disruptive in any area we can easily remove them. We are currently trying to invite contributors to the organization as soon as they start contributing, which lets them

[2020-04-02 21:27] antoine2711 commented on #2510
Hi @tfmorris,

Yes, it would be a breaking change, but a very logical one. I try to find and fix those as soon as possible. Since we are moving to a model that takes more into account datatype (at least, we are aiming for it), I think this will be use more and more. It's seam a bit inevitable to me…

Now, this is a very particular case. null is inherently distinct of all the other datatypes, becau

[2020-04-02 21:35] thadguidry commented on #2507
Ah that issue #169 ... yeah that one as explained to me by David at the time was something like "I didn't expect folks to type paragraphs of Greek into GREL expressions! ...so I didn't work very hard on look-ahead parsing evals" or something like that if I recall he told me.

Anyways, indeed, I forgot about that particular issue.  And it would be nice to get it fixed.
So...
#169 seems to be around

[2020-04-02 21:42] antoine2711 commented on #2507
Just to be sure, when you talk about indexes of arrays, you talk about vVar[0]?

So [0[1]] would be a confusion of the GREL interpreter?

Regards, Antoine

[2020-04-02 22:07] thadguidry commented on #2507
It's about making sure our Scanner is finding the right Token (and Token Type) at a given Index.
Go crazy:
1. https://github.com/OpenRefine/OpenRefine/blob/master/main/src/com/google/refine/grel/Scanner.java
2. https://github.com/OpenRefine/OpenRefine/blob/master/main/src/com/google/refine/grel/Parser.java

[2020-04-02 22:50] thadguidry commented on #2507
We could do with a lot more GREL tests in general here: https://github.com/OpenRefine/OpenRefine/blob/master/main/tests/server/src/com/google/refine/grel/GrelTests.java

But you'll see what's happening if you set a breakpoint at the `delimiter` check: https://github.com/OpenRefine/OpenRefine/blob/master/main/src/com/google/refine/grel/Scanner.java#L279

[2020-04-03 01:40] lpeter218065 opened #2512 "Start OpenRefine with cluster mode"
**Is your feature request related to a problem or area of OpenRefine? Please describe.**

Our application connects to a single node openrefine's jvm process to clean the data.  Once the openrefine server gets some exception/error (especially the out of memory),  we have no ability to check the status and restart it.

**Describe the solution you'd like**

- Is it possible to launch openrefine with

[2020-04-03 03:56] antoine2711 commented on #261
@thadguidry, @tfmorris & @wetneb: I think that with a new project and a cross() call, we can do this in 2 steps.

I'd say we close this one as « can be done in another way ». What's your take?

Regards, Antoine

[2020-04-03 04:23] antoine2711 commented on #241
@wetneb: I think this is smart. At least, for the opening of the dialog. After that, I would go for a button at the end, to Refresh. We don't know if the user want to continue seeing the data below at that stage before changing another parameter. Choosing for the user is not respectful.

For the cancel, I guess if it's not too much energy, why not, but I doubt this is something that will be use mu

[2020-04-03 04:43] antoine2711 commented on #223
@tfmorris: here, if I understand correctly, he wants to be able to save and load operation history from/to file in the user file system, is that it?

Regards, Antoine

[2020-04-03 04:52] antoine2711 commented on #217
@tfmorris: so, if I understand, here, we have a request for a « Basic Authentication over HTTPS » on IMPORTATION to create a project?

Do this needs to be tested to see if it's still a problem? Do we keep the scope to CSV import or do we enlarge it to XML, and JSON (and maybe others…)?

Regards, Antoine

[2020-04-03 05:23] antoine2711 commented on #212
I think we can close this issue, @tfmorris. Either it was an issue with an old browser, either the special case of #585, but, in any case, getting more information from the origin seam unprobable, and this as not really been seen or reported since.

Regards, Antoine

[2020-04-03 05:56] antoine2711 commented on #201
Well @tfmorris, I've used OR to reconcile mainly in the context of data for movies, and I came to HATE the automatic matching of the recon service, while loving the recon process in itself. So I usually uncheck the automatic process. Yes, I gives me more manual work, but I need the level of quality/control/accuracy it gives.

Basically, for me, there are 3 steps in the whole recon process. The rec

[2020-04-03 06:21] antoine2711 commented on #200
Yes, but, this made me think, and I created this issue for improvement: Enhance `cross()` with empty "project name" calling parameter to represent the current project and empty column name to represent the index #2504.

Now, if that gets done, the comparaison would be:

`rows[rowIndex-1]` vs `cross(rowIndex-1, "", "")[0]` or even this `cross(rowIndex-1)[0]`

The difference would be cosmetic.

Rega

[2020-04-03 07:19] wetneb commented on #2512
That is one of the things that should be easier to do with the Spark migration that I am working on at the moment. It will be possible to connect OpenRefine to a Spark cluster where the operations will be run.

[2020-04-03 15:12] LibrErli opened #2514 "set focus on find-field for replace command"
**Enhancement Suggestion**
If you click on `Edit Cells > Replace` it would be very great if the cursor focus will be set automatically to the input field for the `find`-string (`id#text-to-find-..`.)

**Environment**
* OpenRefine 3.3
* Firefox 74
* Ubuntu 18.04

[2020-04-03 16:20] lpeter218065 commented on #2512
@wetneb  Thanks for the reply.

My concern is even if connect OpenRefine to a spark cluster, open refine is just a single node server. If there are large number of block that come back from the cluster,  it is still a problem in terms of memory and speed.

[2020-04-03 16:24] wetneb commented on #2512
If this was not clear: this is not something you can do now at all.
As things stand, you could try a third-party project that tried to do this in a way which might suit you: https://github.com/andreybratus/RefineOnSpark

[2020-04-03 17:31] tfmorris commented on #2273
I'm supportive of @ostephens "plan, then implement" approach. Have we decided on Docusaurus?

I don't have strong opinions about markup languages or tooling. I'm happy to have the tech writers, etc who'll be contributing the bulk of the content have the bulk of the say in the decision.

[2020-04-03 18:59] #212 closed, assigned to nobody

[2020-04-03 19:02] #261 closed, assigned to nobody

[2020-04-03 19:41] antoine2711 commented on #2512
I'm reading this, and I understand there is more than one issue here. The first, obviously, revolve around spark cluster, and is complex.

An other one is simpler, it's about being able to get the status of an OR not used with a graphical front-end.

Could we « cast » this issue to being about having a call to the server, that would bring back:
- Is the server stopped
  - If so, is it because of a

[2020-04-03 20:02] thadguidry commented on #217
@tfmorris Yes, we talked a bit about this in various `fetch urls` issues and recently in #2379  (sigh...we have too many scattered issues regarding HTTP/S support)  The [`fetch urls` label](https://github.com/OpenRefine/OpenRefine/labels/fetch%20urls) is probably a good summary of the various HTTP/S issues either with Fetch operation, Importers, or Exporters.  In essence, to me as I mentioned [in

[2020-04-03 20:13] thadguidry commented on #2512
if it helps you @lpeter218065 ... about 3 years ago we did add 2 [small start/stop scripts for Linux](https://github.com/OpenRefine/OpenRefine/blame/master/start.sh).

[2020-04-03 20:28] thadguidry opened #2515 "Add jsonpath-plus wrapper as a GREL command"
**Is your feature request related to a problem or area of OpenRefine? Please describe.**
Summary:
It is currently a bit cumbersome to easily analyze, transform, and extract selectively any data from JSON documents from GREL.

Details:
So after thinking about this for a few months, I think what we are really missing is a good library for querying JSON, but without the extras like [jq](https://stedo

[2020-04-03 21:29] antoine2711 commented on #2127
How are things going wth this issue?

Regards,  Antoine

[2020-04-03 22:31] Shubhangi2901 commented on #2510
Hi @antoine2711 I would love to work on this

[2020-04-04 01:09] antoine2711 commented on #2510
Hi @Shubhangi2901. I wonder. This issue is new, and as a few potential problems. There is a « breaking » issue, and there is a contested opinion that has only be discussed by the creator o the issue. As such, even if you provide a valid PR that fix all of this issue, it might be refused.

Also, I've seen what you did, and you are WAY to good for this issue. This is an issue at the entry level, whi

[2020-04-04 06:18] antoine2711 commented on #2204
@tfmorris: we can close this one.

Regards, Antoine

[2020-04-04 06:30] #2204 closed

[2020-04-04 07:25] lpeter218065 commented on #2512
Thank you all.

Give OR enough memory could not solve the problem,  as once OR get down, it never get back.  And client has no way to know the status.

As @antoine2711 mentioned,  probably we need to add some heart beat mechanism for client/other node to check OR's status.

Once it has some problem, then we could using scripts to restart it.

[2020-04-04 08:12] wetneb opened #2516 "Creating a project from a URL: URLs with leading whitespace are rejected"
**Describe the bug**

The input field to create a project from a URL does not trim its input when validating it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Create Project' -> 'Web Addresses (URL)'
2. Paste "  http://api.worldbank.org/countries/all/indicators/SP.POP.TOTL?date=2000:2001" with the leading whitespace
3. Validate
4. The URL is rejected

**Expected behavior**

The valu

[2020-04-04 08:16] #2420 closed

[2020-04-04 09:09] Nishtha3512 commented on #2516
![Screenshot from 2020-04-04 14-36-17](https://user-images.githubusercontent.com/51858166/78423107-c8cda300-7681-11ea-9517-37e59309b3ac.png)
Hey,Where is the option to validate?
As you can see in above screenshot when i click on create project then project is simply created without rejecting any URL.

[2020-04-04 09:20] wetneb commented on #2516
Are you sure you included whitespace before the URL?
![image](https://user-images.githubusercontent.com/309908/78423384-408dd480-7666-11ea-8481-4e99a9f57284.png)

[2020-04-04 15:20] Nishtha3512 commented on #2516
Ohh now i understand your issue.Can you please tell me where  is code related to issue?I will try to fix it.
Is it in OpenRefine/main/src/com/google/refine/importers/XmlImporter.java file?

[2020-04-04 15:37] wetneb commented on #2516
No, it is a UI issue, so it is in a Javascript file.

Here is how you can find it:
 * Search for the error message "You must specify a valid web address" in the source tree: `grep -R "You must specify a valid web address" .`
 * You will find this message in the transations: `"core-index-import/warning-web-address": "You must specify a valid web address (URL) to import."`
* Now search for the ident

[2020-04-04 19:30] pachamaltese commented on #1445
@wetneb hi, I've looked the xml file and I have no idea of how to integrate deb scripts with that

[2020-04-05 01:21] kushthedude commented on #2516
I think we can just add a function in UI to trim the whitespaces in the input URL before it is sent to the Regex for validation, or can we just add a trim function in the regex function?

[2020-04-05 04:05] Nishtha3512 commented on #2516
Yes am also trying to add trim function to resolve this issue :)

[2020-04-05 07:18] antoine2711 commented on #2510
As a follow up on this issue, I'd like to bring to the attention of contributors that `type(value)` on a column with store value should also return "error" and not throw or raise the error.

Also, `isError(type(value))` return true because type failed to tell us the type of a STORED variable, and instead, just raised again the same error (with no calculation or operation involved).

Type should ne

[2020-04-05 13:11] thadguidry commented on #2510
The comments in this issue are assuming a lot of things about a lot of other things, and I think it is distracting.  I think we should try to focus on 1 problem with GREL syntax and 1 GREL function at a time.
1. Type Error [[1](https://docs.python.org/3.8/library/exceptions.html#TypeError)]
2. Value Error [[2](https://docs.python.org/3.8/library/exceptions.html#ValueError)]

[2020-04-05 13:16] thadguidry commented on #2510
In regards to the origin of this issue...

1. I agree with @antoine2711 when the value is a `boolean` that we should improve the returned value of `type(value)` to be simply `boolean` and not `java.lang.Boolean`.
2. I agree with @tfmorris that the type of `null` should continue to return `undefined`.

![image](https://user-images.githubusercontent.com/986438/78499324-9ff6ed80-7715-11ea-82af-1512fa

[2020-04-05 19:28] antoine2711 commented on #2510
@thadguidry: there is a global scope here to this issue, and it's « how does `type()` function behave ».

Yes, `null.type()` would be 1) breaking, 2) semantic change. My point here is that undefined is a value, not a datatype, which is what we expect of type(). But I'm not pushing that issue. I'd be happy that is continues to return `"undefined"` for `null`. It's a purist thing.

Now, I think that

[2020-04-05 19:53] thadguidry commented on #2510
`undefined` is an error response.

[2020-04-05 20:15] antoine2711 commented on #2510
@thadguidry: note that I did consider to widen even more the discussion by bring around that:

Expression|Result|Expected result
--- | -- | :------:
row.type()|com.google.refine.expr.WrappedRow|"object: row"
row.record.type()| com.google.refine.expr.WrappedRow$WrappedRecord |"object: record"
cell.type()| com.google.refine.expr.WrappedCell |"object: cell"
cells.type()| com.google.refine.expr.CellTu

[2020-04-06 05:18] antoine2711 commented on #200
@tfmorris: With PR #2518, what is asked here will be doable like this:

`cross(rowIndex-1)[0]`

In essence, it would do EXACTLY this: `rows[rowIndex-1]`, if it existed.

Regards, Antoine

[2020-04-06 05:44] antoine2711 commented on #2504
Hi @wetneb, @thadguidry, @ostephens, @tfmorris, @magdmartin, dear lead developers, mentors, and/or long time contributors, I respectfully ask your attention regarding this issue.

Since the major enhancement of cross() 2 weeks ago, that made `cross()` 1) not only available when creating a new column, but also when transforming an existing column, but 2) also when creating the new column not only f

[2020-04-06 06:14] antoine2711 commented on #2504
Oh, I forgot, this is worth mentioning (from @afkbrb in PR #2518):

So `cross(rowIndex + 1)[0]` gets you next row and `cross(rowIndex - 1)[0]` gets you your previous row… kind a bit like the old `R[-1]C[0]` notation… ;-)

A.

[2020-04-06 08:53] #2480 closed

[2020-04-06 10:20] antoine2711 commented on #1340
Just to tell you, your two cases are different.
For [#2](https://stackoverflow.com/questions/46379241/openrefine-create-a-shifted-copy-of-a-column), there is a simple grel function in v3.4. It's actually the `cross()` function that got a major boost.
![Fonction_Cross_13](https://user-images.githubusercontent.com/12217525/78546686-d7c06c80-77cb-11ea-9026-baf7d8dfac93.png)
You can now easilly do, fr

[2020-04-06 10:32] antoine2711 commented on #1340
Hi @wetneb. I think we have already unleashed the demon…

ID|Nom|Escalier
-|-|-
1|"Antoine"|null
2|"Antonin"|null
3|"Anthony"|null
4|"Anton"|null

And then: « Transform » on column « Escalier » with: `cross(cells.ID.value - 1, "ProjectName", "ID")[0].cells.Nom.value + cells.Nom.value + " + "`

ID|Nom|Escalier
-|-|-
1|"Antoine"|null
2|"Antonin"|"Antoine + "
3|"Anthony"|"Antonin + Antoine + "
4|"Ant

[2020-04-06 10:41] antoine2711 commented on #1340
Hi @wetneb. I think we have already unleashed the demon…

ID|Nom|Escalier
-|-|-
1|"Antoine"|null
2|"Antonin"|null
3|"Anthony"|null
4|"Anton"|null

And then: « Transform » on column « Escalier » with: `cross(cells.ID.value - 1, "ProjectName", "ID")[0].cells.Nom.value + cells.Nom.value + " + "`

ID|Nom|Escalier
-|-|-
1|"Antoine"|null
2|"Antonin"|"Antoine + "
3|"Anthony"|"Antonin + Antoine + "
4|"Ant

[2020-04-06 11:28] wetneb commented on #1340
Sure, we already have functions which can be used to escape the restriction to only look at values in a given row: `cross`, but also `facetCount`, and others if I recall correctly.