[2021-07-08 10:03] #3424 closed

[2021-07-08 10:08] wetneb commented on #3422
Hmm, the doc about this is not actually very helpful! It should show an example where *different* values are clustered together. I think the screenshot in the docs was taken before #4004 was fixed.
So, as a dataset you could try this:
[code]

[2021-07-08 10:11] wetneb opened #4048 "Fix documentation for clustering"
[The documentation about clustering](https://docs.openrefine.org/manual/cellediting#cluster-and-edit) shows a screenshot of the clustering dialog where all the values in a given cluster look identical, which should not normally happen. This screenshot was taken before #4004 was fixed, which probably explains that. This screenshot should be replaced by a screenshot which shows different values bein

[2021-07-08 12:06] wetneb commented on #4048
With @fgiroud we plan to use the same dataset for documentation and for UX testing.

[2021-07-09 03:41] thadguidry commented on #3221
@wetneb Hi Antonin, it looks like first using a separate repo would be ideal to hold the `tauri-openrefine` code they helped us with.  A few Rustaceans have volunteered to help us out also! (I'm impressed by the Rust community!) They are awaiting the repo creation and code to review with us and help us do the integration and resolve issues along the way.

[2021-07-09 15:36] wetneb commented on #3221
The prototype is here: https://github.com/OpenRefine/openrefine-tauri

[2021-07-09 17:06] antoine2711 commented on #3991
I'm experiencing the same problem.
Regards, A.

[2021-07-09 18:02] thadguidry commented on #3221
@nothingismagick We'd like you to clarify the license as BSD-3 for the tauri code ya'll contributed.  Can you offer a PR which makes that change for us in our new repo for it?

[2021-07-09 18:40] thadguidry commented on #2515
I've looked again and it seems that JSONPath with filter operators and the right syntax can actually do what JSONPath-Plus does effectively, like returning parent nodes while searching text inside child nodes.  See comment https://github.com/json-path/JsonPath/issues/287

So the Java [JSONPath library ](https://github.com/json-path/JsonPath)can be used and someone could start work on this feature

[2021-07-11 15:25] tommowlam opened #4055 "'remove columns after join' should trigger 'column-removal' rather than 'column-reorder' function"
When I join columns to create a new one, and I select 'delete joined columns'... this triggers 'column-reorder' which lists and keeps all the columns in this data apart from the ones that I have elected to delete (if 'Write result in selected column' was selected then the other column/s that were joined are removed, if 'Write result in new column' was selected then all the joined columns are delet

[2021-07-11 20:44] thadguidry commented on #4055
If I have the following columns

| A | B | C |
|---|---|---|
| 1 | 2 | 3 |

1. And I use the dropdown arrow menu on Column B
2. and say to join B and C with separator "+" and check "delete joined columns"
3. then A will be unaffected and B will stay but have joined values, since I choose to perform that action on Column B by using it's dropdown arrow.

| A | B |
|---|---|
| 1 | 2+3 |

This is expe

[2021-07-12 06:05] wetneb commented on #2515
If this requires pulling in another dependency we might want to think twice about bundle size and other considerations like that, so maybe good second issue is a bit premature?

[2021-07-12 20:18] aileenpalafox commented on #4007
Hello, again @thadguidry I faced some problems when trying to solve this one and ran out of time so I'm gonna drop it for now. In case anyone else want to work on it is up for grabs.

[2021-07-12 20:24] thadguidry commented on #4007
@aileenpalafox No problem, perhaps you can work on another issue we have marked with a label called ["good first issue"](https://github.com/OpenRefine/OpenRefine/labels/good%20first%20issue)?  If not and you are too busy, we certainly understand and thanks anyways for offering to help!

[2021-07-12 20:30] aileenpalafox commented on #4007
Thank you for the offer @thadguidry, right now I've other stuff going on so I'll have to pass. Good luck with the project!

[2021-07-12 23:24] tommowlam commented on #4055
Thank you so much for your input @thadguidry - I have updated the description of the issue, to try to focus it on the problem of the method that the existing 'delete joined columns' process is implemented... I have adapted your example which I hope illustrates the issue more clearly. Do you think the problem is now well described? Am happy to improve it of course.

[2021-07-13 01:33] thadguidry commented on #4055
@tommowlam Thanks! You have explained the problem well.

@wetneb I think this should be labeled as "priority high".

[2021-07-13 15:58] thadguidry opened #4058 "Add support for importing "zst", "zstd" files"
I would like to import a `.zst` or `.zstd` file but currently that file type is not recognized to be imported by OpenRefine.

### Proposed solution
Perhaps using Apache Commons Compress (we already have usage in `ImportingUtilities.java`)
https://commons.apache.org/proper/commons-compress/examples.html#Zstandard

### Alternatives considered

### Additional context
RFC standard: `RFC 8478`
mime typ

[2021-07-14 04:06] SivaTharun commented on #4058
@thadguidry can i work on this issue.

[2021-07-14 12:13] thadguidry commented on #4058
I think so and thanks!

[2021-07-16 01:45] D-Nations commented on #1612
Has there been any progress on this?  I work for a research institute in Japan and we're very interested in hosting an OpenRefine frontend to our local wikibase instance.  Will it be compatible with Azure authentication?

[2021-07-16 03:06] thadguidry commented on #1612
@D-Nations if you can get someone on your team to work on it, that would be great!

[2021-07-20 15:57] wetneb commented on #1612
Wikibase's OAuth support is provided by this extension: https://www.mediawiki.org/wiki/Extension:OAuth

This "Wikibase Solutions" company seems to be actually unrelated to Wikibase the software, they only mention MediaWiki on their website.

[2021-07-21 19:04] thadguidry commented on #1724
I still have a need for this... a few datasets I imported recently, I needed to apply a Transform to all the columns except column 1 & 2.  Painful without the Column selector idea above from @ostephens to interactively ask which columns to apply the Transform expression on.

@wetneb I think this is probably a good candidate feature to prioritize, it comes up too often and would eliminate a lot of

[2021-07-21 19:53] jenyoung opened #4067 "Want to unhide columns en masse"
Sometimes after I have already collapsed a bunch of columns, I'd like to unhide them en masse instead of one by one. This is very frustrating since I deal with projects that easily have 50 columns. Right now, I have to click on each column individually.

Edit: I missed that unhiding is available under All - it would be nice to also have it available under the column View menu with the left/right o

[2021-07-21 20:06] thadguidry commented on #4067
@jenyoung Hi!  You probably missed this, but it's already available under the **All** menu dropdown.
Hmm, but looking and thinking about this, perhaps you are right in your thinking...maybe it would be good to at least have another copy of the "All" -> "Expand all columns" additionally in the View menu so folks don't miss it?
Is that something you would expect as a better user experience?  If so,

[2021-07-21 20:33] jenyoung commented on #4067
Well probably since I didn't realize it was also under All ha!. However, it would be nice to also be able to do all to the left/right which is not available at all.

[2021-07-22 02:14] goetzk commented on #3628
hi,
I've just bumped in to this too. @matiasgarciaisaia did you get this working?

[2021-07-22 02:45] matiasgarciaisaia commented on #3628
@goetzk No, I was not able to fix this. And it turned out that we didn't need support for GSuite in my use case, so I didn't invest any more efforts on this.

Feel free to ping me if you make any progress and want me to help debugging or understanding it or something, though :)

[2021-07-22 04:09] goetzk commented on #3628
I've spent an hour poking around from the edges but I'm not making any real progress - I'll leave this problem for now but thanks for your offer of help.

[2021-07-22 15:49] fsteeg commented on #33
At least in 3.4.1, master and 4.0, the original issue only affects the dataset-wide operations (`Match All Identical Cells` / `Search for match` -> `Match other cells with same content`). The single-cell operations (`Match this Cell` / `Search for match` -> `Match this cell only`) remain on the current page. (We might want to update the issue title for that.)

Based on that, maybe it would be an i

[2021-07-24 06:50] ToVie commented on #1855
Hi
is there a reason, why this enhancement is not pursued?
Best regards
Tobias

[2021-07-24 07:39] wetneb commented on #1855
Hi @ToVie, probably simply because nobody found the motivation or time to work on it. Personally my priority is to release a stable 3.5 release at the moment.

[2021-07-24 08:40] wetneb commented on #3692
@EstebanMH-SiB have you had a chance to try out the 3.5-beta1 version? I would be interested to know if using an up to date JRE has solved the issue for you.

[2021-07-24 08:55] wetneb commented on #3987
Yes so far we are using a 10 sec socket timeout which seems really too low, I will at least bump that to 60 sec.

[2021-07-24 15:53] EstebanMH-SiB commented on #3692
@wetneb I have just tried and it works! From the original 15 minutes using my mac now it just take 90 seconds using a delay of 5 and roughly the same time for a delay of 0.
So I think the issues is solved, thanks everyone for helping us with this!

[2021-07-24 15:55] wetneb commented on #3692
awesome, thank you very much for confirming!

[2021-07-24 15:55] #3692 closed

[2021-07-25 06:09] ToVie commented on #1855
Hi @wetneb , ok - I thought it might had technical reasons. But I get your priority. Using 3.5beta1 I find it stable and reliable. Though it chokes on URLs with uncoded blanks - should I write an issue?

[2021-07-25 07:14] wetneb commented on #1855
Yes please, that would be great!

[2021-07-25 08:00] ToVie opened #4070 "URLs with uncoded blanks are only partially recoignised by OpenRefine3.5 beta1"
### Current Results
URLs with uncoded blanks are only partially recoignised by OpenRefine3.5 beta1. The string up to the unencoded blank is recognised as URL and the string after the blank is not recognised. This is a regression compared to OpenRefine 3.4.1, which recongnises URL with unencoded blanks.
- URL without unencoded blank is recognised: http://siibns.ch/german/display_before91.asp?cdu=Eb

[2021-07-25 12:49] thadguidry commented on #4070
This was a determined change we made.  Before, we treated the whole string in a Cell as a URL and didn't do any detection of a valid URL.  Whitespaces are not allowed in URLs. So just use a GREL transform on the column to encode for URL first.

[2021-07-25 13:51] ToVie commented on #4070
Hi @thadguidry. Ok, thanks for the info! I close this issue.

[2021-07-25 13:51] #4070 closed

[2021-07-25 15:26] thadguidry commented on #4070
@ToVie If you need a quick way to validate a column of URLs, I typically just use this short Java interop expression with Clojure as my expression language. It attempts to convert the cell value to a URI, and then asks if the converted value is a URI.  You can optionally check the box to Store the error if you want in a new column, or use this in a Custom Text Facet.
[code]
![image](https://user-i

[2021-07-27 08:59] wetneb commented on #3991
I investigated this and it seems that 3.4.1 is failing with a similar error now. I am pretty sure this first worked when we released 3.4.1, it's curious. Our Google API keys seem to be still valid though.

[2021-07-27 20:05] antoine2711 commented on #3991
@wetneb : I respectfully disagree. I'm able to use v3.4.1 without any problems.

Regards, Antoine

[2021-07-27 20:06] wetneb commented on #3991
Ah, that's interesting, thanks a lot! May I ask on which platform?

[2021-07-27 22:07] antoine2711 commented on #3991
MacOS X.14 and Windows 10.

Regards, Antoine

[2021-07-29 12:45] thadguidry opened #4073 "Allow saving User-Agent with preferences"
Currently, when using Fetch URLs the User Agent is not saved and must be typed in again upon every Fetch.

### Proposed solution
Allow setting the User Agent in OpenRefine Preferences and reading the value from there during a Fetch operation.

### Alternatives considered

### Additional context

[2021-07-30 05:33] QiAnXinCodeSafe opened #4078 "There is a vulnerability in Apache Velocity Engine 1.5,upgrade recommended"
https://github.com/OpenRefine/OpenRefine/blob/409cf2c30097ae7a5981e941d4bbee49896cd590/main/pom.xml#L236

CVE-2020-13936

Recommended upgrade version：2.3

[2021-07-30 05:42] QiAnXinCodeSafe opened #4079 "There is a vulnerability in Jetty: Java based HTTP/1.x, HTTP/2, Servlet, WebSocket Server 9.4.41.v20210516,upgrade recommended"
https://github.com/OpenRefine/OpenRefine/blob/409cf2c30097ae7a5981e941d4bbee49896cd590/pom.xml#L67

CVE-2021-34429

Recommended upgrade version：9.4.43.v20210629

[2021-07-30 06:19] QiAnXinCodeSafe opened #4080 "Unreleased Resource: Database"
https://github.com/OpenRefine/OpenRefine/blob/409cf2c30097ae7a5981e941d4bbee49896cd590/extensions/database/src/com/google/refine/extension/database/mariadb/MariaDBDatabaseService.java#L85-L86

The program can potentially fail to release a database resource.

[2021-07-30 06:29] QiAnXinCodeSafe opened #4081 "Unreleased Resource: Streams"
https://github.com/OpenRefine/OpenRefine/blob/409cf2c30097ae7a5981e941d4bbee49896cd590/extensions/gdata/src/com/google/refine/extension/gdata/UploadCommand.java#L149

The program can potentially fail to release a system resource.

[2021-07-30 06:39] QiAnXinCodeSafe opened #4082 "Cross-Site Scripting: Reflected"
https://github.com/OpenRefine/OpenRefine/blob/409cf2c30097ae7a5981e941d4bbee49896cd590/main/src/com/google/refine/commands/row/GetRowsCommand.java#L149-L165

Sending unvalidated data to a web browser can result in the browser executing malicious code.

In line 149, ‘callback’ is regarded to as tainted data,it will be affect line 165.

[2021-07-30 12:42] thadguidry opened #4083 "Invalid type id for preference.TopList while trying to run 4.0 branch"
After building and starting the 4.0 branch, I eventually see the following in the logs:

[code]

### Expected Behavior
OpenRefine does run and seem to still work, so not sure, since I pointed my data dir to an older workspace where in the past I used OpenRefine 3.3 (I think) and had 1 or 2 large projects and wanted to compare performance.  Here's the JSON from that folders' `workspace.json` file t

[2021-07-30 14:40] thadguidry opened #4084 "Importing large byte sizes per Row causes PLL task failed"
Importing using CSV,TSV importer with large sized content on each row throws an error after clicking CREATE button.
Preview of data seemed to be OK, although large amount of scrolling to see each unique Row (because of the large content size of each Row).

### Current Results
[code]

### Expected Behavior
large byte size rows (where each row itself has the content of a very large HTML or XML doc)

[2021-07-30 14:48] thadguidry opened #4085 "Lined based importer fails during import of large size content per line"
Importing using the Line-based importer with large size content per line (large HTML or XML doc per line) causes an error after clicking CREATE, even though Preview seems to work and look fine displaying the large content per Row.
After the error in logs, the import itself still appeared to be trying and on OpenRefine in browser the importer stuck at 22% during creation, but logs continually logge

[2021-08-04 14:06] wetneb opened #4089 "Document which operations need a lot of RAM in the new architecture"
In the new architecture (4.0 branch), some operations or importers have been optimized so that they do not require a lot of RAM even if the dataset is large. However as a user it is not necessarily clear which operations can safely be used in pipelines meant to run on large datasets. In some cases it might be possible for the user to find another way to carry out a transformation (or even do it ex

[2021-08-04 14:11] wetneb opened #4090 "Connection to an external Spark cluster"
When running OpenRefine with the Spark runner, we always spin a local Spark instance for it. We should instead make it possible to configure OpenRefine to connect to an existing Spark cluster for this.

### Proposed solution
Introduce the relevant configuration variables for the Spark runner to make this possible.

[2021-08-04 14:22] thadguidry commented on #4089
The UI warning might be easy enough depending on how we choose to display things.
When trying a few options in the CSV, Line, and Fixed importers, I could definitely see the effects of some options I chose.
Perhaps we add a footnote element?  Like `(!)` next to any option that might have impact? And then towards the bottom a small description to say "`(!)` This option might require more RAM. You m

[2021-08-05 09:11] hagaiwech opened #4092 "Contact"
Hi OpenRefine team,

I tried to contact you through openrefine-coredev@googlegroups.com but it seems the group no longer exists or unable to receive messages.

I approach to you regarding security issues found, please get back to me at hagai.wechsler@whitesourcesoftware.com

Thanks,
Hagai

[2021-08-05 11:42] wetneb commented on #4092
Thanks, I am getting in touch.

[2021-08-05 11:42] #4092 closed

[2021-08-05 13:50] thadguidry commented on #4092
@wetneb Will you fix the private email issue, or do we need to put another private email address in our SECURITY.md file https://github.com/OpenRefine/OpenRefine/edit/master/SECURITY.md

[2021-08-05 16:52] wetneb commented on #4092
@thadguidry it would indeed make sense to make openrefine-coredev publicly reachable but I don't seem to be the owner/admin/… of that list, can you check if you could do it on your side?

[2021-08-05 21:24] thadguidry commented on #4092
@wetneb the original idea for using openrefine-coredev email was that for security matters to have a private email to allow outside users to send an email to our team and where the messages are not seen publicly as our other email mailing lists.  The openrefine-coredev Google group is private and has the current description of "OpenRefine Project Management Committee (PMC)" private mailing and @ma

[2021-08-05 22:21] thadguidry opened #4096 "Java exception while loading large 1.4GB CSV file from single .zip file"
With a 385 MB .zip file where there is only 1 .zip file (original size is 1.4 GB) contained in it that has a CSV file with about 10 common fields of company data such as website, name, description, country, etc.

### To Reproduce
Steps to reproduce the behavior:
1. choose local .zip file
2. Then, checkmark selected 1 csv file from file selector interface in OpenRefine's extracted viewer
3. Finally

[2021-08-09 07:32] #3552 closed

[2021-08-12 20:41] orothad opened #4101 "Allow fixed length importer to have option to ignore quote handling completely"
Found a related issue around the quote handling problems I was trying to find from previous data exploration.  And came upon this one where I **had** to use FIXED LENGTH importer and set it manually to 1000 for column length (a quick workaround for the Line-based importer bug that I'll describe later in another issue.)

There were a few lines that appeared to have wrapped around into a new row ???

[2021-08-12 21:23] orothad commented on #4101
@wetneb Thoughts on above?  I think I've explained the issue and probable quick solution (giving Fixed Length that option), and long solution (rethinking how we deal with cell/line delimiting strategies presented to the user on each importer).

[2021-08-13 06:18] wetneb commented on #4101
I haven't looked into it but at first I wonder why the fixed length importer would deal with quotes in a special way. I suspect it treats them like any other character. Perhaps the line-based importer would be more suitable to your use case?

[2021-08-13 12:28] thadguidry commented on #4101
@wetneb I'm scratching my head this morning...I've tried line-based importer previously on the same large csv and it ate up over 20gb memory.  I tried again this morning and it's working and only 5gb used in the heap.  I suspect that perhaps it was something on my end. I don't know.

So no need for this feature, as I had a hunch, since I've used line-based so many times.  I'm surprised that I had

[2021-08-13 12:28] #4101 closed

[2021-08-13 12:41] thadguidry opened #4103 "Allow line-based importer to specify a custom line-delimiter sequence for custom data"
This might need better streaming support for our line-based importer as a pre-requisite.  I don't know.
I often land myself with large byte arrays streamed out to a single file that have custom sequence of chars (`*%%*`) used as record delimiters that I would like to treat simply as a line-delimiter while importing the file into OpenRefine.  The file sizes are typically under 4GB, usually only 1GB

[2021-08-16 04:57] ylan1 commented on #1717
Hello, the collective wisdom of the OR community!
Until recently (three/four weeks ago?), I was actively using OpenRefine. A week ago, I found that I was unable to run OR 3.4.1. The webpage (http://127.0.0.1:3333/) was loading only the logo as described by @wentianq above. I believe it worked fine with my JDK 16.0.1. previously.  I had other issues with my computer; coincidentally, I think it star

[2021-08-16 11:57] thadguidry commented on #1717
@ylan1 Try this:
1. Make a new folder for the OpenRefine workspace.  Something like `C:\openrefine_workspace`
2. Follow [our instructions in our Docs](https://docs.openrefine.org/manual/installing#set-where-data-is-stored) to point OpenRefine to use that new workspace folder.
3. Launch OpenRefine and let us know.

[2021-08-16 13:08] wetneb opened #4104 "Adding a new Wikibase instance doesn't work via URL link"
Posted by @lozanaross at https://github.com/wetneb/openrefine-wikibase/issues/120:

[2021-08-16 13:10] wetneb commented on #4104
Hi @lozanaross,
Those messages are not error messages in themselves, they just indicate that your Wikibase manifest does not contain any information about constraints. Perhaps this Wikibase instance is simply not using constraints at all, in which case it is normal that the manifest does not provide this information.

That being said, you report that adding the Wikibase instance via URL does not w

[2021-08-16 15:12] lozanaross commented on #4104
Hi @wetneb,
Ah, ok, thanks for letting me know re. messages.

Re. the error, I've had this with several Wikibase reconciliation services I've had to set up: adding a new Wikibase instance via URL entry point for manifest does not seem to work, but manually copy / pasting the manifest does. (And yes, we generally tend not to use constraints in these wikibase instances)

For example, see this wikiba

[2021-08-16 22:37] ylan1 commented on #1717
@thadguidry
Many thanks for your prompt reply and suggestions. I am still having trouble running the OR. According to [the instruction](https://docs.openrefine.org/manual/installing#set-where-data-is-stored), am I supposed to create a folder C:\openrefine_workspace then edit the openrefine.l4j file like this?
![refine1](https://user-images.githubusercontent.com/77898472/129637182-465e5c11-1c6e-4a9

[2021-08-17 02:08] thadguidry commented on #1717
@ylan1 OK, so we now have proof in the Windows terminal, last line, that it sees and is using a new workspace folder. Great!

Now the next thing is the error in the browser console which is worrying, because it leads me to think it cannot find some Java classes, but that's likely not the real underlying issue since it clearly load the Java classes for OpenRefine because they are used and produce l

[2021-08-17 16:28] P3rCo opened #4106 "Open Refine opens with logo only when running on Java 16"
### To Reproduce
Steps to reproduce the behavior:
1. Click on open refine Application

### Current Results
2. This window appears:
3.
![image](https://user-images.githubusercontent.com/89087309/129763348-5ea6f617-03d8-43fc-889d-2b9cec64d4b1.png)
4. This page appears
5.
![image](https://user-images.githubusercontent.com/89087309/129763413-9f71ea36-5a20-4a3e-b079-eb1fe1934e4e.png)
6.I have installed

[2021-08-17 16:29] P3rCo commented on #4106
Thanks a lot for any help guys, really stumped.

[2021-08-17 19:27] orothad commented on #4106
Do you still have an environment variable in Windows set for `JAVA_HOME` ?
If so, can you try temporarily removing that and trying to launch OpenRefine again ?

[2021-08-17 20:45] P3rCo commented on #4106
![image](https://user-images.githubusercontent.com/89087309/129797839-e0348bf5-2a16-41e6-8776-7615f057c37d.png)
Same result
![image](https://user-images.githubusercontent.com/89087309/129797873-a45487a5-0f53-4da4-9fe6-0a5111debf0a.png)
System variables (there was a java home, deleted it)
![image](https://user-images.githubusercontent.com/89087309/129797998-7a5a6ff4-86b7-446d-8b45-96d6b5e6b51d.png)

[2021-08-17 21:28] ylan1 commented on #1717
@thadguidry
Thanks again for your help. Now my OpenRefine is under C:\Program Files. But I still cannot run it, and it is not using a new workspace folder I created; when it was under C:\ it at least had C:\openrefine_workspace (0ms) and generated workspace JSON file.
![17_8_21](https://user-images.githubusercontent.com/77898472/129801251-a7d89dc4-c6bf-4911-a606-2516244d6873.PNG)
Using Chrome safe

[2021-08-17 21:38] thadguidry opened #4108 "OpenRefine 3.5-beta1 is not respecting the JAVA_HOME variable"
**Disregard the fact below that OpenJDK 16 will not let OpenRefine work correctly and folks will get a blank logo when starting OpenRefine - I.E. they must use lower then 16 at this current moment**

**This bug report is created while testing for the above issue that I suspected was happening and suddenly found that OpenRefine 3.5.1 is no longer respecting the JAVA_HOME path when launched by OpenR

[2021-08-17 21:44] thadguidry commented on #4106
Thanks for reporting this bug.

Right, I suspect that your Java 16 is still somewhere on your PATH.
Right now it seems we have an small issue with OpenRefine launching and working correctly with Java 16.
Can you update your PATH and JAVA_HOME so that it using a JAVA version lower than 16?
Then OpenRefine should work.

[2021-08-17 21:47] thadguidry commented on #4106
Also, I've opened a separate issue #4108 for OpenRefine 3.5.1 where I'm seeing that if started with `OpenRefine.exe`, it does not respect JAVA_HOME any longer, but it does if `refine.bat` is used to launch.

[2021-08-17 21:58] thadguidry commented on #1717
Since this is a closed issue, Let's move this conversation to a similar bug report #4106
and then try what I suggested in my last comment within it and let's continue troubleshooting in that same issue with the other user have the exact same problem.

[2021-08-17 22:20] P3rCo commented on #4106
Right,
![image](https://user-images.githubusercontent.com/89087309/129808087-2b3c0a6f-5e2e-4175-97e3-85deaee12366.png)
Java version changed.
My G.
![image](https://user-images.githubusercontent.com/89087309/129808194-c151e604-8874-4b0c-ac16-e63f66500df8.png)
Right, so Java 16 bad, Java 18 ok?

[2021-08-17 22:29] thadguidry commented on #4106
I don't know yet what is going on with our 3.5.1 release and Java 16.
I myself have not compiled OpenRefine against Java 18 yet... so no idea, but you are [welcome to try](https://jdk.java.net/18/).
16 only reached GA on 2021/03/16
17 is expected on 2021/09/14

[2021-08-18 01:08] ylan1 commented on #4106
@thadguidry
Thank you so much for all your help. After deleting jdk 16 from the PATH and changing JAVA_HOME to C:\Program Files\Java\jdk-14.0.2, I was able to run OR. However, when I tried to run it with openrefine.exe, it did not work, but with .bat, it worked. But I got the following output:
![bat](https://user-images.githubusercontent.com/77898472/129819430-04b227b5-53dc-48a4-b2e9-e5a7aa56fe51.

[2021-08-18 01:30] thadguidry commented on #4106
@ylan1 Expected (for now)

[2021-08-18 01:31] vuod opened #4109 "Search only interface at project creation"
### Proposed solution
I'm aware that OpenRefine is principally made to clean datasets and for data wrangling. However, it's powerful enough to do less (just searching) and do it well. It could be useful to search within clean data without too many menus. There's still a lot to play with. Facets, text filters, permalinks, regex, stars, etc.

Maybe there could be a choice at project creation. _Edit

[2021-08-18 01:43] thadguidry commented on #4109
@vuod Thanks for taking the time to think about this!  Besides a proposal for some UI changes that I see you are thinking about...
Is your idea of the Search function itself similar to our existing issue #213 ?
And then your idea in this issue is some UI changes to allow placement of that Search functionality?

[2021-08-18 02:26] ylan1 commented on #4106
@thadguidry
I see. Thank you!

[2021-08-18 03:22] vuod commented on #4109
@thadguidry I've read that issue before submitting mine. My proposal isn't a filter across all columns (I like this idea). It's a simplified mode for searches only. A project is created with no editing allowed (except if we add the possibility to change the mode). The facets and filters will work on individual columns.

![editMode2](https://user-images.githubusercontent.com/48416685/129829932-0b79

[2021-08-18 03:30] thadguidry commented on #4109
@vuod Let's back up... What is the problem that you are trying to solve.  I'd love to know more about the problem first.  Is it "the menu's are too long, too confusing" or something else?

[2021-08-18 06:01] vuod commented on #4109
@thadguidry The menu's aren't too long or confusing when someone wants to edit a dataset.

**Problem**
I think it's important to have the right tool for the job. OpenRefine is great for searching in a dataset. It could be greater if it has simpler UI for that purpose.

Edit mode (part of)
.
├── Facet
│   ├── Text facet
│   ├── Numeric facet
│   ├── Timeline facet
│   ├── Scatterplot facet
│   ├──

[2021-08-18 06:33] wetneb commented on #4108
I don't think we have released 3.5.1 yet, do you mean 3.4.1 or 3.5-beta1?

[2021-08-18 13:16] thadguidry commented on #4108
@wetneb Sorry, yes, 3.5 beta1

[2021-08-19 12:14] thadguidry opened #4112 "Importing a ZIP file with PPMd compression fails to show warning box in importer UI"
ZIP files that were compressed with PPMd are not able to be imported into OpenRefine and fail to show any friendly warning in the UI during import that the compression format is unknown

### To Reproduce
Steps to reproduce the behavior:
1. Compress a ZIP file with PPMd compression
2. Try to import into OpenRefine
3. Notice blank Preview page in UI without any warning but shows Java exception in co

[2021-08-19 14:31] thadguidry opened #4113 "Allow changing the autosave period via refine.sh/bat on command line"
I have some large projects that require launching where I really need the autosave period to be closer to 60 minutes.  I use a few Windows shortcuts on my desktop for some common large OpenRefine projects that I sometimes cross with, etc.  The problem is that I cannot easily use the Windows shortcuts to launch these particular large OpenRefine projects because I cannot also save the shortcuts with

[2021-08-21 11:16] olea commented on #3987
I think I'm having the same problem with Wikidata:

[code]
and
[code]

The difference is the second case OR seems to resume the conciliation task but, with the first. sessions hangs indefinitely. In any case I got no error message.

I'm using wikidata.reconci.link service.

[2021-08-23 10:37] marcadella opened #4117 "Cannot load large dataset"
Issue with loading large dataset.

### To Reproduce

I uploaded a relatively large dataset (637.4Mb, 920233 lines). But I'm getting issues when opening the project.
- Once opened only 360326 records are listed in the top left corner. All the data is uploaded though since I get the expected number of lines when I download the data as TSV.
- Using a text facet with a constant attribute shows the exp

[2021-08-23 12:01] thadguidry commented on #4117
Remember that OpenRefine can work with Records or Rows. https://docs.openrefine.org/manual/exploring#rows-vs-records
There might be something going on with the data itself that might be causing issues.
Can you try using the line-based importer just to see if it is truly 920233 rows(lines)?
Then one-by-one try to systematically create New Columns based on using split() or partition() ex. `value.spl

[2021-08-23 12:14] VladimirAlexiev commented on #4106
@thadguidry @wetneb Confirming it doesn't work on Java 16.
Java version:
[code]
Error in browser console:
[code]

OpenRefine version: 3.5.1beta.
This also happened on an earlier version.

Console messages:
[code]

[2021-08-23 12:18] VladimirAlexiev opened #4118 "use `findstr` not `find` in refine.bat"
refine.bat in the windows distribution has this:
[code]
I have Cygwin installed, so:
[code]

I.e. the batch file catches unix `find` not windows `find` (which is the reason for a small error message ni https://github.com/OpenRefine/OpenRefine/issues/4106#issuecomment-903710691).

Please use `findstr` not `find` (as you already do in the "Available Physical Memory" check).

[2021-08-23 12:47] thadguidry opened #4119 "Add scrollable div layer to Project metadata view to prevent cutoff of CLOSE button"
Currently if values in the Project metadata editor are too large then the CLOSE button is not seen and clickable to users.

### Current Results
If the length of values is too long in any of the keys, then sometimes the CLOSE button will be cutoff and hidden from a user preventing them from being able to close the Project metadata panel.

### Expected Behavior
Provide 2 things:
1. a scrollable div

[2021-08-23 12:51] marcadella commented on #4117
Thanks for the help, we found out that the issue happened when importing a TSV file where each line starts with a tab (i.e. the first column contains empty values). Could that be a bug?

[2021-08-23 13:12] thadguidry commented on #4117
Not a bug.  If each line starts with a tab, then this would likely force record mode to occur, and then depending on the amount of columns that are subsequently created (and the length of strings within each cell) will exponentially increase the amount of Java objects created that the heap would need to maintain past the Eden Space and Tenured Space (old gen).

We do plan to do better during previ

[2021-08-23 13:12] #4117 closed

[2021-08-23 13:22] thadguidry commented on #4118
Ah good catch, yeah simple typo there in the refine.bat file.
@VladimirAlexiev Looking forward to your simple pull request to fix this easily!

[2021-08-23 19:21] thadguidry opened #4121 "Faceting with a Jsoup selector causes infinite recursion in Jackson JsonMapping"
Serialization error while trying to use Jsoup selector with a Custom Text Facet

### To Reproduce
Steps to reproduce the behavior:
1. Import the provided OpenRefine exported project [Recursion-Error-Jackson-csv.openrefine.tar.gz](https://github.com/OpenRefine/OpenRefine/files/7034348/Recursion-Error-Jackson-csv.openrefine.tar.gz) that demonstrates the problem
2. Perform a Custom Text Facet on colu

[2021-08-24 06:53] marcadella commented on #4117
The documentation says nothing about "forcing" record mode. Instead, it states that raw mode is used by default and record mode needs to be switched manually.
I think "automatic" record mode is not a desired behavior.

[2021-08-24 12:34] orothad commented on #4117
Thanks for the notice about the documentation.  I will update it and make it accurate.
Row mode is not default initially when you create a new project and it detects that Column 1 has some blank cells.  The Engine will instead be put into Record mode automatically.  You can check our source code and better yet our tests to see this.
Here is an example text that you can paste into our Clipboard imp

[2021-08-29 18:42] atharvagadkari05 commented on #4112
Hey, @thadguidry I'm interested to work on this issue, Can you guide me??

[2021-08-29 20:33] thadguidry commented on #4112
@atharvagadkari05 sorry not really.

[2021-08-30 03:07] VladimirAlexiev commented on #4106
hi @thadguidry what's the ETA on this issue? Should I downgrade Java?

[2021-08-30 04:00] thadguidry commented on #4106
@VladimirAlexiev Don't use >= Java 16 for now.  No idea on ETA...maybe next Spring? probably.

[2021-08-30 05:47] wetneb commented on #4112
Hi @atharvagadkari05, thanks for your interest in this issue!

The first step would be to do a bit of research about what compression methods are currently supported by the standard library that we are using here, `java.util.zip.ZipInputStream`. Then you could look for alternatives which support more compression methods. If that involves adding a new dependency to the project we need to weigh the

[2021-08-30 05:53] atharvagadkari05 commented on #4112
Thanks @wetneb

[2021-08-30 07:29] VojtechDostal opened #4130 "Some qualifiers in Wikidata are non-discriminatory and new statements added by OpenRefine should be merged into existing ones with the same value"
Whenever OpenRefine tries to import a statement into an item but sees an existing statement of the same property and with the same value, it will merge the statements together, leading to eg. one statement with two references. Situation changes when OpenRefine sees the same value, but qualified with a qualifier. It will then create a new statement, because qualifiers are usually discriminatory - t

[2021-08-30 07:54] wetneb commented on #4130
I am classifying this as an enhancement request, because the current logic works as expected, although I totally agree with you that a more granular control of the merging strategy would be extremely useful for a lot of imports.
See this related issue (duplicate?): #2116

[2021-08-30 07:58] wetneb commented on #4106
I agree this should be pretty high priority. Hopefully 3.5 should fix this.

[2021-08-30 09:21] wetneb commented on #4121
Thanks for this amazing bug report @thadguidry! I am tentatively adding the "good first issue" tag because it should be a nice thing to debug and well reproducible.

[2021-08-30 12:18] thadguidry commented on #4130
In Wikidata we have the following2 subclasses that could be used to sub-categorize ? :
- [non-restrictive qualifier](https://www.wikidata.org/wiki/Q61719274)
- [restrictive qualifier](https://www.wikidata.org/wiki/Q61719275)

Although I am not 100% sure of who/what maintains the members within each of those above subclasses.
There might be a need to further review the members within this subclass

[2021-08-31 08:25] wetneb commented on #4007
Posted by @bhargavii on our Gitter channel

[2021-08-31 10:28] braiam commented on #4007
@wetneb Are we sure? I'm using version 3.5-beta1 [1b9907e] and still can reproduce the issue. With a postgresql database:

[code]

[2021-08-31 11:01] wetneb commented on #4007
@braiam thanks for the confirmation! I don't know if @bhargavii is still interested in working on this, perhaps this additional information will help them understand how to reproduce the issue.

[2021-08-31 22:13] ignaciomartin commented on #1312
Can anyone report any progress on this much needed request?

[2021-09-01 17:35] #3067 closed

[2021-09-02 13:13] itplainedge commented on #4106
Same problem. Had installed Minecraft Java which wanted a newer version of JDK which I installed 16.1. I previously only had Java Runtime 1.8.   After I uninstalled JDK 16.1 I got it to work (both versions with java embedded and without since I had JRE 1.8 installed already)

[2021-09-09 08:20] trnstlntk opened #4143 "Wikimedia Commons categories as 'starting point' for an OpenRefine project"
Part of #2144 (Wikimedia Commons support in OpenRefine).

When editing batches of Wikimedia Commons files, regular Commons and GLAM contributors will typically take one or more [Wikimedia Commons categories](https://commons.wikimedia.org/wiki/Commons:Categories) as input or 'starting point' in various tools. Examples include [AC/DC](https://commons.wikimedia.org/wiki/Help:Gadget-ACDC), the [ISA To

[2021-09-09 13:29] orothad commented on #4143
We'll need more thought on this and a mockup to get a sense of what the UX in OpenRefine needs to be like minimally and what the minimum options might be.  For example, ISA allows specifying the subcategory depth:

![image](https://user-images.githubusercontent.com/88521629/132693864-45154255-33da-4f40-8b50-5358f41419df.png)
![image](https://user-images.githubusercontent.com/88521629/132694412-acb

[2021-09-09 15:41] trnstlntk commented on #4143
The ISA Tool indeed does this in a very nice way.

In most cases, I think users will start from a single category, but it will indeed be convenient if they can indicate multiple categories at once.
It's important that users can specify the subcategory depth. Sometimes files have been actively divided into several levels of subcategories.

[PetScan](https://petscan.wmflabs.org/) offers another, sim

[2021-09-10 09:14] VojtechDostal commented on #2433
This is nicely solved by https://github.com/gitonthescene/csv-reconcile so I'm in favor of closing this issue.

[2021-09-10 09:21] VojtechDostal commented on #3785
I think I found a related issue. @wetneb Would you mind trying to reproduce it? I'd like to know if I am going crazy or if this is happening to others too :-D This issue is not about wrong reconciliation but somehow messing up between lines.

Steps to reproduce:

1) download my project at https://drive.google.com/file/d/18wH9Uzl4ZNB08cMR7kUt8sFX0mT_2OXT/view?usp=sharing
and import it into OpenRefi

[2021-09-10 11:37] wetneb opened #4145 "Schema import dialog improvements"
The "Import schema" dialog from the Wikibase extension has two issues:
* the Cancel button does not have a proper label
* importing the schema should close the dialog (currently one has to click the Cancel button afterwards, which is counter-intuitive since we do not want to cancel the import)

### To Reproduce
Steps to reproduce the behavior:
1. First, open the dialog
2. See the improper label of

[2021-09-10 11:42] wetneb commented on #3785
Thanks I can reproduce it too! It is indeed a very annoying problem and I am not entirely sure where it is coming from. I suspect it could be due to the random generation of the internal recon object ids which could sometimes clash (creating two different recon objects with the same id within the same project).

[2021-09-10 11:43] wetneb commented on #2433
For me it feels like this is still a very legitimate feature request for OpenRefine actually, so let's reopen it :)

[2021-09-10 12:30] VojtechDostal commented on #3785
Thank you. Some of my "wrong reconciliations" (reported above) have likely in fact been caused by this and not by actually wrong QID written in the line.

[2021-09-10 19:47] RaviAnand111 commented on #4145
hey @wetneb  I want to contribute, but I don't know how to do and what to do ? I know java and all the tech but can you tell me how to do it. I am still new to open source

[2021-09-10 20:20] wetneb commented on #4145
Hi @RaviAnand111, thanks for volunteering! We have a high-level overview of the contribution process:
https://docs.openrefine.org/technical-reference/contributing#your-first-code-pull-request
Let me know if anything is unclear there or if you get stuck anywhere.

[2021-09-11 08:13] RaviAnand111 commented on #4145
There are so many things to do,. Just tell me what to do to open this dialog box, I clone the repo, installed jdk and maven. now what ?
./refine was processing for atleast 5 minutes so I stopped it in middle. What are the next steps

[2021-09-11 08:21] wetneb commented on #4145
To open this dialog box, you first need to run OpenRefine. You can do this by running `./refine` and not stopping it in the middle.

[2021-09-11 08:28] RaviAnand111 commented on #4145
sure, I will try

[2021-09-11 08:55] wetneb commented on #4145
Great! Then once you got it running you need to open a project, click the "Wikibase" button in the top right corner, and then click the "Import schema" menu item. Good luck!

[2021-09-15 07:11] rachittiwari8562 commented on #4119
I would like to work on this issue.

[2021-09-15 12:18] rachittiwari8562 commented on #4119
Is there any cypress visual test already implemented ? . I am unable to find it .

[2021-09-15 18:46] rachittiwari8562 commented on #4058
Hi if no one is working on this issue, I would like to work on this.

[2021-09-16 07:02] wetneb commented on #4145
Hi @tejasrbhat thanks for looking at this! I think we should really find out why this error is thrown and avoid it in the first place: we should not have to catch it manually :)
@RaviAnand111 I would give the green light to @tejasrbhat to open a PR for this unless you are still working on this? @tejasrbhat let's say that if @RaviAnand111 hasn't replied in the next two days we can assume they have

[2021-09-16 07:38] rachittiwari8562 commented on #4058
Also I am not sure where to start and how to add it . Any help would be appreciated .

[2021-09-16 08:46] tejasrbhat commented on #4145
Sure @wetneb. Meanwhile I have a doubt

I have debugged and `onDone` in `Refine.postProcess` of import-schema-dialog is calling `SchemaAlignment._discardChanges()`
which is internally calling `this._changesCleared()`

In schema-alignment.js `_changesCleared()` method `_unsavedIndicator and _schemaElmts` are going as undefined.
That's why we are getting the exception.

I don't know when should thos

[2021-09-16 11:22] wetneb commented on #4145
I haven't checked but it looks like this could be happening when trying to import a schema while the schema alignment tab hasn't been opened yet (which would explain why those attributes haven't been defined yet). Perhaps it's just a matter of checking for that in the `_discardChanges` method?

[2021-09-16 11:26] wetneb commented on #4058
Maybe the first step would be to locate the code which currently handles decompression for imported files. It's in the backend (in Java) and it should be in the importing manager or importing utilities.

[2021-09-16 12:16] wetneb opened #4150 "Cypress build stability on PRs / master branch"
It seems to me that Cypress tests are much more stable when run from a pull request compared to when run on the master branch. I have the impression that very often, the build succeeds on the pull request, and then when I merge it in master, the build fails.

One notable difference between the two workflows is that in pull requests, we test for Chrome only, and on master we test for both Chrome an

[2021-09-16 12:16] wetneb commented on #4150
@fgiroud interested in your thoughts on this :)

[2021-09-16 13:37] rachittiwari8562 commented on #4058
I have added the "ZstdCompressorInputStream" in  file "ImportingUtilities". But that doesn't seem to be working .
Here is a screenshot. In left image there is my code . In upper right corner the or and below is console.
![Screenshot from 2021-09-16 18-16-45](https://user-images.githubusercontent.com/54476275/133622100-e4cd2e27-bafa-46b4-a199-d291b97bee09.png)

As it can be seen that my "close" sta

[2021-09-16 14:32] RaviAnand111 commented on #4145
yeah @tejasrbhat you can go ahead and make a PR

[2021-09-16 17:45] thadguidry commented on #4058
@rachittiwari8562 make a DRAFT PR and then others can look and help get you unstuck.

[2021-09-16 18:49] tejasrbhat commented on #4145
@wetneb I added a check and now its getting closed. Raised PR. Please review and let me know if anything is needed.

[2021-09-16 18:49] fgiroud commented on #4150
Definitively make sense, let's face it, edge tests are not stable enough!
Let me submit a PR to disable edge on merge requests

[2021-09-17 07:10] #4150 closed

[2021-09-17 07:30] #4145 closed

[2021-09-17 07:55] fgiroud opened #4157 "Cypress tests for undo/redo are unstable"
See the following PR : https://github.com/OpenRefine/OpenRefine/runs/3629571950?check_suite_focus=true
The undo redo tests quite often fails
Need to check if this is a regression or something else

[2021-09-17 10:06] fgiroud opened #4159 "Proposal to remove reconciliation tests"
Reconciliations tests are overall flaky, despite many attempts to fix them using various tips & tricks (long time outs, different methods to check the dom)

Having those unstable tests has introduced an anti-pattern, where OR developers don't trust the CI/CD anymore and we are merging PRs that don't pass the tests.

I propose to first make a PR to first completely remove them from the CI/CD, then

[2021-09-17 10:20] wetneb commented on #4159
It's not clear to me how we can get rid of something like the CSV recon server. If there are really reliable public reconciliation servers out there (aka not the Wikidata one) then /maybe/ those would be more reliable than a local service, but I doubt it. Anyway, happy to experiment of course :)

[2021-09-18 10:16] sfkeller commented on #4096
Did you try to increase maximum heap size by adding -Xmx to the Java interpreter when starting?

[2021-09-21 07:22] wetneb commented on #4106
This will first require making Butterfly compatible with Java 16:
https://github.com/OpenRefine/simile-butterfly/pull/32

[2021-09-21 17:14] optimm commented on #3004
Hey @wetneb if this issue is open can i please work on this , i am all new to open source and looking for bit of guidance.

[2021-09-21 18:24] wetneb opened #4168 "Export to SQL contains an invisible character in the name of the "id" column"
According to [this tweet](https://twitter.com/RhesusNegatif/status/1440319559714496522) ("Absolument épuisée par un caractère invisible qui s'invite dans le nom de la 1e colonne (id) à chaque fois que j'exporte une table SQL dans OpenRefine"), there is an invisible a character in the name of the "id" column, which is present every time the SQL exporter is used.

[2021-09-21 18:32] wetneb commented on #3004
@optimm sure, go ahead! We have this guide for your first contribution: https://docs.openrefine.org/technical-reference/contributing#your-first-code-pull-request

[2021-09-21 20:41] ppival commented on #186
Here's a link to the help page for the feature in the latest version of OpenLibre. [https://help.libreoffice.org/7.2/en-US/text/scalc/guide/dbase_files.html](https://help.libreoffice.org/7.2/en-US/text/scalc/guide/dbase_files.html)

[2021-09-22 08:32] wetneb commented on #4106
I've had a look at this and it's a significant chunk of work, which could involve upgrading quite a few libraries. In the process we can introduce all sorts of bugs / incompatibilities which will require extensive testing. So I don't think we should do this for 3.5, otherwise this will delay this release even more.

[2021-09-22 14:09] thadguidry commented on #4106
Agree, so where do we do the work? In 4.0 branch? Or a 3.6 branch with expectations of 3.6 also including SDC work and other new features? I personally think that 4.0 might be better for all if we focus dev efforts all together into that branch and will make the merge nightmare much more reduced. My thoughts are that 4.0 can be our next target and with the mindset we release maybe 1 year from now

[2021-09-22 15:44] wetneb commented on #4106
I need to do more research to find out what the problem actually is, so yes, 3.6 or 4.0 depending on the scale of the problem.

[2021-09-23 06:03] riteshsoni123 commented on #3363
@wetneb I would like to work on this issue. Can you assign it to me??

[2021-09-23 09:41] riteshsoni123 commented on #3363
@wetneb I have a doubt. The changes made by pvcodes-zz is not merged . Is it better to make all the changes as he did and add some more changes of mine or do you want me to start from the beginning??

[2021-09-23 09:52] wetneb commented on #3363
@riteshsoni123 as you prefer! It could make sense to start from https://github.com/OpenRefine/OpenRefine/pull/3976 since I have already reviewed that: you should only have to address the review comments there.

[2021-09-23 11:48] optimm commented on #3004
Hey @wetneb i have reviewed the html files for spell check in input types text and made it false where spellcheck is not required , can you please tell me what other kind files i should check in as a example , your help would be greatful

[2021-09-23 11:49] wetneb commented on #3004
@optimm that's great, I don't think there should be any other files to review. You should be good to submit a PR!

[2021-09-23 11:53] optimm commented on #3004
@wetneb thank you so much would make a pr asap

[2021-09-23 13:44] optimm commented on #3004
hey @wetneb  sir i have made a pull request - https://github.com/OpenRefine/OpenRefine/pull/4170 - , please review and let me know if any changes are required , thank you very much

[2021-09-25 12:48] #3363 closed

[2021-09-25 21:27] riteshsoni123 commented on #3427
can I work on this issue??

[2021-09-26 08:18] riteshsoni123 commented on #3427
@wetneb with all due respect I would like to ask that is there a mistake in assigning this issue because I asked permission to work on this issue.

[2021-09-26 08:36] wetneb commented on #3427
@riteshsoni123 sorry, indeed!

[2021-09-26 11:42] wetneb commented on #2359
To make progress on this I am going to experiment with tagging PRs automatically, based on the issues they close.

[2021-09-26 11:44] wetneb commented on #733
I think we can close this, based on the awesome work of @fgiroud and @kushthedude!

[2021-09-26 11:44] #733 closed

[2021-09-26 11:46] wetneb opened #4176 "Label pull requests based on the labels of the issues they close"
We do not use labels much on PRs so far, but it could be useful to do that:
- to help reviewers find PRs they could be interested in
- to make up for poor PR titles which do not describe their contents well
- to make it possible to draft release notes automatically from the Git commit log (#2359)

Since we are already tagging issues, and pull requests are normally linked to the issues they solve,

[2021-09-26 11:58] #4176 closed

[2021-09-27 12:56] fgiroud commented on #3427
@riteshsoni123 for inspiration, you might want to have a look at this tests : `OpenRefine/main/tests/cypress/cypress/integration/project/grid/all-column/view.spec.js`

There's a similar feature on OpenRefine, when you click on the "all" column, where you can collapse/expand, and definitively a good idea to cover this behavior at the column level.

Thx !

[2021-09-27 14:32] thadguidry commented on #800
Not a bug.  I verified in 3.5.1 Beta (but options have been available to control this for last 10 years.)

We have 3 checkbox options at the bottom of the "Content" tab to control the following
- Output column headers
- Output empty rows (ie all cells null)
- Ignore facets and filters and export all rows

![image](https://user-images.githubusercontent.com/986438/134928845-7814b0a8-54b6-4497-99f6-a

[2021-09-27 14:32] #800 closed

[2021-09-28 13:30] #4159 closed

[2021-09-28 15:33] thadguidry opened #4181 "Add new GREL function to support Jsoup parent() function to complement our select()"
There is no easy way to navigate up the parse tree provided by jsoup selector syntax.  We currently can navigate down very easily with Jsoup's selector syntax `value.parseHtml().select("div > p")` and also `value.parseHtml().select("div:has(@) ~ div")` but
this does not directly allow DOM traversal itself.  However, Jsoup conveniently provides DOM traversal for finding a https://jsoup.org/apidocs/

[2021-09-29 07:49] jquartel opened #4185 "Extend operator functionality to arrays"
I sometimes need to compute values from multi-valued cells in order to make new multi-valued cells, so it would be great if some of the operators and math functions could work on arrays. For instance:

1) Scalar distributed to array elements:
 with numbers:  `[1, 2, 3] * 2`  could return  [2, 4, 6] .
 with strings:  `"b" + ["ay", "oy"]`  could return  ["bay", "boy"]

2) Element-wise operations wit

[2021-09-29 08:53] wetneb commented on #4185
Thanks for the suggestion!
I think this is a legitimate ask, but other users could also have legitimate and conflicting expectations about what these expressions should return. For instance, `[1, 2, 3] * 2` could as well evaluate to `[1, 2, 3, 1, 2, 3]` and `[1, 2, 3] + [2, 1, 0]` to `[1, 2, 3, 2, 1, 0]` (as it would in Python).
So I would be careful about extending the language in an ad-hoc way.

[2021-09-29 09:46] jquartel commented on #4185
Not being a Python programmer, I wasn't aware of that method of array concatenation, but I see your point. Currently, though, GREL doesn't support this either, so I guess it's up to you to determine what most users would prefer/understand. Perhaps you could make new operators for distributed or element-wise array operations, like `.*` (as used in Matlab to disambiguate from a matrix multiply), or

[2021-09-29 10:21] wetneb commented on #4185
I guess my background feeling about this is that designing a programming or scripting language is a real project, which should come with clear stability guarantees and sort of a principled and unified approach, rather than small patches as we come across use cases. I observe that in the OpenRefine project we do not really have the capacity to do this. So as far as I am concerned I would rather put

[2021-09-29 11:08] jquartel commented on #4185
Understood, though I think one may as well use the operators if they are there. Personally I think GREL is fantastic and Python isn't particularly well suited for these spreadsheet-like operations which I think are a common requirement for the kinds of data tables people use (this is certainly true for me). I guess I'm just more used to languages like Matlab (or even Excel, ergh) where array/vecto

[2021-09-30 07:00] ostephens commented on #4185
While I appreciate that it's nice to be able to write concise expressions, the scenarios are all achievable in GREL using `forEach` and `forEachIndex`:

forEach([1, 2, 3],v,v*2) -> [2, 4, 6]
forEach(["ay", "oy"],v,"b"+v) -> ["bay", "boy"]
forEachIndex([1,2,3],i,v,v+[2,1,0][i]) -> [3,3,3]
forEachIndex(["fr", "fl"],i,v,v+["og", "ag"][i]) -> ["frog", "flag"]
forEach([-1,3],v,v.abs()) -> [1,3]

Concat

[2021-09-30 08:18] jquartel commented on #4185
These are great alternatives, thanks Owen! I had originally looked into using forEach but I had thought there was no way to deal with two or more arrays (i.e. I hadn't spotted the `forEachIndex` control). And I see one could also use the `with` control to simplify the expressions part when you want to refer the same array more than once (e.g. if you wanted to do something like array1 + array2*(arr

[2021-09-30 14:54] thadguidry commented on #4185
Although I appreciate the use case, I disagree that we need to overload the operators to support it.  Documenting the overloading will be a nightmare as well and expectations are different for everyone coming from different backgrounds.  `[1,2,3] + 2 can yield [3,4,5] but it doesn't yield an appended form as in [1,2,3,2] nor does it apply a pop-like stacking behavior [2,1,2]`

I'd like to close th

[2021-09-30 15:45] thadguidry commented on #4185
abs() in all other languages that I have used only works on a single number and for good reason...
absolute value of each number in the array returns another array, a number?
absolute value of both numbers first added together, subtracted, multiplied, divided?
this can go on and on.
there's a lot of ambiguity until you actually can read a reference definition of a function.
I'd suggest to write th

[2021-09-30 15:46] #4185 closed

[2021-09-30 16:28] jquartel commented on #4185
I guess it comes down to what you're used to (e.g. https://www.mathworks.com/help/matlab/ref/abs.html ). I'm happy to accept that I might be alone in thinking of arrays as mathematical objects, but I do wonder if GREL users are more inclined to think like Python programmers than, say, Excel spreadsheet users (certainly the people I've introduced OpenRefine to come from the latter camp). In Excel,

[2021-09-30 16:37] thadguidry commented on #4185
I felt the same way and had assumptions of how people use or think about GREL and data transformations while helping design it in the early stages of it's life... until I gave my first talk at a local meetup for OpenRefine data cleaning and saw the wide variation on users backgrounds, experiences, and use cases. Data scientists, Journalists, etc.
"Embrace our differences"

**Note:**  typically we

[2021-09-30 17:55] riteshsoni123 commented on #3427
Thanks @fgiroud for the suggestion, it was really helpful.

[2021-09-30 18:22] jquartel commented on #4185
Strictly speaking you're already overloading the math functions and operators since (most of them) work with both floats and integers. Just sayin ;)

[2021-09-30 23:49] thadguidry opened #4189 "Add new GREL jsoup function "data()" to support HTML <script> and <style> tag data extraction"
Data does not only exist in HTML or XML **TextNode**'s but also in `<script>` and `<style>` nodes.
Useful JSON data is also sometimes contained in `<script type="application/json">` as well as JSON-LD data in `<script type="application/ld+json">`
Jsoup provides a different method `data()` for working with Elements that are a DataNode for handling the contents of style, script tags etc, where conte

[2021-10-02 11:53] wetneb commented on #3572
I think this is indeed solved by #3821. Closing, feel free to reopen if it happens again.

[2021-10-02 11:53] #3572 closed

[2021-10-02 17:15] thadguidry opened #4193 "Improve EvalError output in Expression preview for HTML/XML GREL functions"
We could improve the Error: output to a user shown in the expression preview to tell them what the Type() is for a parameter being passed that is not compatible with the parameter type being expected.

### Proposed solution
On our various HTML/XML GREL functions (htmlText(), wholeText(), ownText(), etc.) add the `new Type().call(bindings, args)` to the EvalError and rephrase the error text as need

[2021-10-02 17:47] thadguidry opened #4194 "toString() and parseJson() are not compatible with JSON spec"
Per JSON Spec...

But we throw away (or don't handle properly for some reason) any double quotes in a JSON array when we convert `toString()`.

- Double Quotes retained correctly when encapsulated as expected by single quotes
[code]
### To Reproduce
Import the below provided Dataset `test.openrefine.tar.gz` project file as a test case.
Steps to reproduce the behavior:

1. Try to Add a column based

[2021-10-03 09:29] riteshsoni123 commented on #3554
can I work on this issue?

[2021-10-04 09:30] fgiroud commented on #3554
Sure @riteshsoni123
Thx a lot

[2021-10-04 10:12] gitonthescene commented on #3645
FWIW, it might also be nice if the preview pop-ups were disabled for services whose manifest couldn't be refetched.

[2021-10-04 14:39] #3427 closed

[2021-10-05 12:05] riteshsoni123 commented on #3554
Hello @fgiroud, I am facing one problem in implementing test for "Transform". I used this method to write the command for transform   "  cy.get('.dialog-container textarea[bind="expressionPreviewTextarea"]').type('value.replace("change","a")');  "   ,but I am getting this "Internal error" on the right as shown in the image below.

![Screenshot (76)](https://user-images.githubusercontent.com/262800

[2021-10-05 14:02] thadguidry commented on #3554
@riteshsoni123 It's because `replace()` requires 3 parameters.  You have tried to inline inject the first parameter `String value` but it's not available for some unknown reason,  You might first try `value.type()` to see if the type is reported correctly as `String` and gosh I hope so.  Maybe you compiled/built OpenRefine yourself and missed something somewhere?

Regardless, we should really impr

[2021-10-05 15:05] thadguidry commented on #2449
This is now fixed thanks to the amazing talents of GitHub engineering team.

Hit . dot while looking at the OpenRefine GitHub repo.  Bam!  Instant VSCode IDE!

Closing this.

[2021-10-05 15:05] #2449 closed

[2021-10-05 15:58] riteshsoni123 commented on #3554
One more thing I would like to add is that this "Internal error" is only shown when I am trying to test it through cypress. When I normally run Openrefine and perform transform task everything works fine. When it comes to cypress testing no matter whatever expression I type it shows this error. I still have no clue what to do.

[2021-10-06 07:11] wetneb commented on #2240
Removing the "blocked upstream" label since Wikidata-Toolkit does support lexeme editing now.

[2021-10-06 08:35] wetneb commented on #2144
Document that describes some possible user workflows:
https://docs.google.com/document/d/1nRWy9OWiL2gZrQJPHDlTOtO60BfnCv4Lt6_sHb1nAeQ/edit

[2021-10-06 08:54] riteshsoni123 commented on #3554
Yes sure. I just did.

[2021-10-06 09:05] wetneb opened #4197 "Provide more context to translators about the message they are translating"
As a translator, it would sometimes be useful to know a bit more context about the message being translated: beyond the message itself, a description of where the message is used in the UI, or even a screenshot of the UI in English where that message appears.

### To Reproduce
Go to Weblate and start translating: sometimes it is not so clear where the messages you are translating will appear.
###

[2021-10-06 12:01] fgiroud commented on #3554
Hi, interesting issue
because your "type" is the latest statement of the test, cypress doesn't really record the very last state of the UI, instead the screenshot is when you typed `cy.get('.dialog-container textarea[bind="expressionPreviewTextarea"]').type('value.replace("change","a"` (missing last parenthesis)

I am sure that if add a few lines of codes or assertions after that, it will be fine

[2021-10-06 13:41] #4157 closed

[2021-10-06 13:49] fgiroud opened #4198 "Ignore Cypress tests for translations updates"
It doesn't really make sense to trigger cypress tests for translations, it just trigger CI builds for nothing

Do we also want to disable server tests ? Except if translations can break the build ?

@thadguidry @wetneb any opinion ?

[2021-10-06 16:41] wetneb commented on #4198
Fine with me to disable those checks for Weblate PRs, thanks for the initiative!

[2021-10-07 09:09] riteshsoni123 commented on #3554
Thanks @fgiroud for clearing the doubt. It helped a lot. I have updated the PR.

[2021-10-07 11:08] fgiroud commented on #3420
Sure @riteshsoni123 , i also pinged you on another issue where the tests are a bit more useful IMO

[2021-10-07 11:09] fgiroud commented on #3412
@riteshsoni123 are you interested to work on this ?
If I recall, the export capabilities of OR are not tested at all, lots of tests would be implemented there (panels for SQL, various formats)
And I believe cypress now supports downloading files, so that's maybe something we can test

[2021-10-07 12:32] wetneb opened #4199 "Java 8 compatibility of the 4.0 branch"
The current 4.0 branch is not compatible with Java 8.
Either:
- make this compatible with Java 8
- adapt the `./refine` script and `refine.bat` to throw an error when trying to run with Java 8

[2021-10-07 12:44] thadguidry commented on #4199
Java 8 ? It works fine for me. Do you mean Java 9 or higher?

[2021-10-09 22:26] iomicifikko opened #4202 "Move a column to end via GREL without knowing the actual column count inside the project"
I want to move a column to end using grel without knowing the columns count inside the project.

### Proposed solution

Create a "project" object (like row, record etc.) and add a "columnCount" field (similar to row.record.rowCount).

### Alternatives considered

User can actually achieve the same purpose using the menu option (column > move to end) that generates a grel code based on the actual c

[2021-10-09 22:43] iomicifikko opened #4203 "Operate on the last row/record of the project using GREL without knowing actual row/record count"
I want modify one or more cells of the last row (or record) of a project via GREL without knowing the actual row count inside the project.

### Proposed solution

Create a new "project" object (I already proposed that in another ticket for different purposes, see [here](https://github.com/OpenRefine/OpenRefine/issues/4202)) and a new field "rowCount" (similar to row.record.rowCount).

### Alternat

[2021-10-11 16:21] iomicifikko commented on #4109
How about extending the functionality of the facets: for example we could use the "text filter" facet to search inside all columns of the project, or filter the query using wildcards-alike parameters(ex: {column1} search_this).

[2021-10-11 17:40] wetneb commented on #4109
What you are asking sounds a lot like #213.

[2021-10-12 08:40] PabloCastellano opened #4205 "Wikidata reconciliation endpoint is unreliable"
Reconciliating names doesn't work well using the default https://wdreconcile.toolforge.org endpoint. Indeed when you visit that page, it recommends you use https://wikidata.reconci.link instead. Changing the endpoint solves the issue.

More information in this thread: https://groups.google.com/g/openrefine/c/MZsjyYNaS1Q?pli=1

### To Reproduce

Reconciling "Guillermo Lasso" against Q5 (human) sugg

[2021-10-12 08:44] PabloCastellano opened #4207 "Maven download link from refine script does not work"
### To Reproduce

Running `./refine` fails because it cannot download the maven dependency. The version 3.6.3 is not available for download anymore and the mirror doesn't resolve IP.

[2021-10-13 03:03] riteshsoni123 commented on #3412
Hello @fgiroud I would like to ask few questions about this issue that I am working on.

- For permalink and help button the test should be performed only to check if the link is not broken right? Or do you want it to perform test in those respective page that comes after clicking the links.
- In test for "export format" , you want the test to check only if the download file exists or anything els

[2021-10-13 08:01] #3554 closed

[2021-10-13 08:16] fgiroud opened #4211 "Restore Es-Lint & prettier checks for CI/CD"
During our efforts to run cypress tests in parallel, I've removed the steps for ES-Lint & Prettier.
This needs to be restored, and the source for Cypress tests probably needs to be re-prettified, as some invalid formatting has probably been introduced since.

@kushthedude apologies ! I removed that by mistake when I refactored the CI/CD for parallelism

[2021-10-13 12:42] thadguidry commented on #3412
After the file is downloaded it's likely easier to just do baseline (golden copy) file diff comparison to ensure they are identical.

[2021-10-15 09:36] riteshsoni123 commented on #3412
Thanks for the help @fgiroud , yes you were right that now there is no need for plugins to download files. I have fixed my error.

[2021-10-16 04:03] riteshsoni123 commented on #3420
Can I work on this issue?

[2021-10-16 07:08] #3987 closed

[2021-10-16 13:27] thadguidry commented on #4108
Hi @wetneb How can a user have the ultimate control in their environment? JAVA_HOME env variable has the long standing tradition of being that and where other applications like IDE's also respect it as priority.

[2021-10-17 15:04] tejasrbhat commented on #4113
@thadguidry I raised a PR for this. Can you please review it ?

[2021-10-18 23:26] nikhilp3 commented on #4193
I can work on this!

[2021-10-19 14:39] wetneb opened #4224 "Reconciliation UI only shows one of the available default types"
The reconciliation UI does not always show all the default types announced by reconciliation services.

### To Reproduce
Steps to reproduce the behavior:
1. First, add the reconciliation service `https://reconciliation.brickschema.org/reconcile`
2. Then, try to reconcile any column

### Current Results

The dialog only shows the `BrickClass` type whereas the manifest of the service offers two othe

[2021-10-19 19:58] wetneb opened #4226 "Useless waiting time when creating new Wikibase items from OpenRefine"
When uploading a batch of new items to Wikibase from OpenRefine, we have a long initial waiting time which is a spurious exponential backoff on an operation that does not fetch any items.

### To Reproduce
Steps to reproduce the behavior:
1. First, create a project with a Wikibase schema which does not edit any existing Wikibase items, only creates new ones
2. Then, upload the project to Wikibase

[2021-10-20 08:20] #3202 closed

[2021-10-20 09:06] fgiroud commented on #3415
@riteshsoni123 interested to work on that issue ?
You would first need to review what's been done and what's left to do

[2021-10-20 11:32] apoleon opened #4228 "simile-vicino: depends on ancient commons-compress library"
Hello,

as part of the effort to package OpenRefine for Debian I discovered that simile-vicino depends on an ancient commons-compress artifact. I couldn't open an issue there, so I hope it makes sense to file a bug report here.

<dependency>
      <groupId>commons-compress</groupId>
      <artifactId>commons-compress</artifactId>
      <version>20050911</version>
</dependency>

The problem is that

[2021-10-20 11:50] apoleon opened #4229 "openrefine: add desktop file and appstream metadata for Linux distributions"
Hello,

as part of the effort to package OpenRefine for Debian I have created a desktop file and appstream metadata for better desktop integration in Linux distributions.

"AppStream is a collaborative effort for enhancing the way we interact with the software repositories provided by the distribution by standardizing sets of additional metadata. "

https://freedesktop.org/software/appstream/docs/

[2021-10-20 12:19] wetneb commented on #4228
Hi Markus,
Thanks for the report! As far as I can tell, this distance is not exposed in OpenRefine, so we could as well consider removing it from Vicino altogether.

[2021-10-20 12:45] #4205 closed

[2021-10-20 16:27] thadguidry commented on #4228
I agree with @wetneb that for now we could remove it from Vicino.

[2021-10-21 14:14] thadguidry commented on #3369
Totally agree with @Jheald that the most important thing firstly is giving good feedback on what happened to our users.  Who can then rerun however they wish, even using different reconcile services if they so desire or have an expectation that one might perform or be better than another.

[2021-10-21 15:51] wetneb opened #4233 "Duplicates facet does not escape its column name, resulting in an invalid GREL expression"
The code that generates the GREL expression for the Duplicates facet does not escape the name of the selected column.
If this name contains a single quote character, this results in an invalid GREL expression, hence the facet cannot be used as such.

### To Reproduce
Steps to reproduce the behavior:
1. First, import the following CSV file:
[code]
2. Then, create a Duplicates facet on any of the co

[2021-10-22 06:20] wetneb opened #4236 "Mechanism to provide more detailed progress information and error reporting for long-running operations"
OpenRefine offers a few long-running operations:
* Add a column by fetching URLs
* Reconcile
* Add a column from reconciled values (aka. data extension)
* Upload edits to Wikibase

Since these operations can take a long time to be executed, and can encounter errors (web service not reachable, rate-limiting events…) it would be good to have more feedback than a progress percentage. We currently lac

[2021-10-22 06:52] #4226 closed, assigned to wetneb

[2021-10-22 10:58] wetneb opened #4239 "Error reporting for the data extension operation"
If a data extension call fails when adding columns from reconciled values, the corresponding cells will just be left empty.

### To Reproduce
Steps to reproduce the behavior:
1. First, create a reconciled column (for instance to Wikidata)
2. Then, fetch columns from reconciled values
3. Turn off your internet connection while the operation is running

### Current Results

After a while, the operat

[2021-10-23 10:48] wetneb opened #4242 "Wikibase upload only creates first new item in batch"
Only the first item of a batch of new items is created when using the "Perform edits on Wikibase" operation.

### To Reproduce
Steps to reproduce the behavior:
1. First, create a project with a schema which creates multiple new items
2. Upload the batch to Wikibase

### Current Results
Observe that only the first item of the batch is created

### Expected Behavior
All items are created.

### Versi

[2021-10-23 13:39] wetneb opened #4243 "Label for "regular expression" checkbox of text filter not deduplicated"
The labels of the "regular expression" checkboxes are not properly linked to the corresponding checkbox.

### To Reproduce
Steps to reproduce the behavior:
1. First, open a project and create two text filters
2. Then, click on the label (not the checkbox) "regular expression" in the second text facet

### Current Results
![bug](https://user-images.githubusercontent.com/309908/138558817-712dbebc-23

[2021-10-23 17:33] #4242 closed, assigned to wetneb

[2021-10-27 20:32] mshd opened #4249 "General date parsing similar to strtotime."
It would be easier if OpenRefine was able to parse any date without giving the structure. PHP has a function called [strtotime](https://www.php.net/manual/en/function.strtotime.php) which works quite generally for parsing date found in many ways of styling.

### Proposed solution
implement a date parser, not sure exactly how.

### Alternatives considered

### Additional context
To convert a date n

[2021-10-29 18:00] riteshsoni123 commented on #3420
Hello @fgiroud sorry I was inactive for few days as I was occupied in other work. I will start working on this issue in a day.
I have one doubt about the above message you sent.
By "utility function" you mean code in file "commands.js" that need to be added to make the test light, right?
correct me if I am wrong.

[2021-10-29 20:10] fgiroud commented on #3420
Yes, absolutely, those provides additional commands to cypress tests, that are not part of the regular cypress library. We use it to avoid writing again and again the same lines of code.

[2021-10-30 09:14] wetneb commented on #3080
Closed by #4206

[2021-10-30 09:14] #3080 closed

[2021-10-31 14:47] wetneb opened #4254 "Document the creation of MediaWiki tag in Wikibase docs"
Our docs about the Wikibase integration (https://docs.openrefine.org/next/manual/wikibase/configuration) do not currently mention that Wikibase admins need to create a tag (`openrefine-3.x`) to enable the integration.

We should ideally let users disable the need for a tag in their manifest (maybe that's another issue).

[2021-11-01 12:09] LENHUTDUY-8120 commented on #4243
I'm interested to work on this issue!

[2021-11-01 15:24] bkazez opened #4256 "Error 500 when trying to sign into Google Drive"
Error 500 when trying to sign into Google Drive.

[code]

### To Reproduce
1. Create Project
2. Google Data
3. Authorized Documents
4. Sign In and Authorize

### Versions
 - Operating System: macOS 11.6 (20G165)
 - Browser Version: Firefox 93.0 (64-bit)
 - OpenRefine: 3.4.1

[2021-11-01 15:33] wetneb commented on #4256
Hi @bkazez, thanks a lot for reporting this!

Have you tried our 3.5-beta2 version? I would be very interested to know if you still have the same problem with this version.

[2021-11-01 15:34] wetneb commented on #4243
Hi @LENHUTDUY-8120, be my guest! Thanks for volunteering :)

Let me know if you get stuck at any point.

[2021-11-01 16:58] bkazez commented on #4256
Works on 3.5-beta2. Thanks!

[2021-11-01 16:58] #4256 closed

[2021-11-01 17:29] wetneb opened #4258 "Smaller Wikibase manifest relying on the WikibaseManifest extension"
The WikibaseManifest extension is now shipped by default in the docker deployment of Wikibase. For the Wikibase instances which do have this extension installed, it means that some configuration parameters can therefore be obtained via this new API. This means those parameters should not need to be stored in the manifests we ask people to write to add a Wikibase instance in OpenRefine.

### Propos

[2021-11-01 17:29] wetneb commented on #4256
Thanks a lot for the confirmation!

[2021-11-01 17:31] wetneb commented on #4256
Duplicate of #3991.

[2021-11-01 18:23] nikhilp3 commented on #4243
Hey @LENHUTDUY-8120 sorry didn't see you wanted to work on this until after I submitted a PR. You can take a look at my PR tho and let me know if you think that is the correct way to solve this bug.

[2021-11-02 23:14] nikhilp3 commented on #4243
@wetneb do you think this is ready to merge?

[2021-11-04 07:59] wetneb opened #4265 "Memory setting on Linux CLI is broken"
The parameter to define the memory used by OpenRefine is broken in the `./refine` script that we use on Linux.

### To Reproduce
Steps to reproduce the behavior:
1. Run `./refine -m 2048M`

### Current Results
`./refine: line 852: [: 2048M: integer expression expected`

### Expected Behavior
No error, the memory settings are properly set.

### Versions
 - Operating System: Debian
 - Browser Versio

[2021-11-04 09:48] hpiedcoq commented on #3919
Hi!
We are currently facing this issue regarding Refine behind a proxy on the dedicated instance that we host on our organization infra.
"add column by fetching URL..." doesn't work.

We use a workaround by _curling_ the url usint jython, but it's not really user-friendly.

Is there any progress on this topic?

[2021-11-04 10:56] mshd opened #4267 "Round number to a certain precision"
How do I round a number to to x decimals, similar to php round(5.045, 2) => 5.05

value.round() does not accept a parameter for the precision.

[2021-11-04 14:52] wetneb opened #4268 "Make Wikibase extension compatible with other entity types than Items"
Wikibase stores data in "entities". There are various types of entities: items, properties, lexemes, mediainfo entities…
Currently, the Wikibase extension is only able to edit items. However, the functionality we have developed in the Wikibase extension could be useful in other entity types as well.

### Proposed solution

Assume that a reconciliation service is returning entities which are not it

[2021-11-04 16:45] mshd commented on #4267
I fixed it using Python/Jython
`return round(value, 2)`
2 = two decimals

[2021-11-04 16:45] #4267 closed

[2021-11-04 17:49] wetneb opened #4269 "Add federation support for Wikibase manifests"
Some Wikibase instances take some of their entities (for instance: properties or items) from another Wikibase instance.
This is the case of Wikimedia Commons, which has its own MediaInfo entities, but its Items and Properties are taken from Wikidata.
We want to support Wikibase editing for those Wikibase instances.

### Proposed solution

Our configuration mechanism for Wikibase instances is based

[2021-11-04 18:05] wetneb opened #4270 "Add specific UI to edit different entity types in Wikibase manifest"
Following #4268, we will be able to use the current Wikibase schema interface to edit any entity type that has statements and/or terms: for instance, Properties or MediaInfo entities.

One problem with this integration is that it will propose irrelevant fields in the Wikibase schema. For instance, if I am editing MediaInfo entities, the OpenRefine user interface will offer adding labels, descripti

[2021-11-04 18:32] iomicifikko opened #4271 "Change columns order in the Custom Tabular Exporter doesn't work"
### To Reproduce
Steps to reproduce the behavior:
1. First select "Custom tabular exporter" in Export menu
2. Then, in the first tab "Content", change columns order using drag n drop
3. Finally, in the second tab "Download", click on "Download" button without changing any other option.

### Current Results

1. The output file contains the original columns order.
2. Looking at the "Option Code" aft

[2021-11-04 19:49] wetneb commented on #4268
This issue could be broken down into multiple refactoring steps:
* [ ] change the `org.openrefine.wikidata.updates.ItemUpdate` class so that the `qid` is an `EntityIdValue` instead of `ItemIdValue`. And then propagate this change throughout the code base, by following compilation errors. Rename this `ItemUpdate` to `EntityUpdate` class (or `TermedStatementEntityUpdate` to emphasize that it is stil

[2021-11-04 20:01] wetneb commented on #2144
I have broken down the first steps for this issue into three smaller issues:
* #4268
* #4269
* #4270

This covers the features for the editing of structured metadata on existing Commons files. Other tasks will be needed for the upload part (uploading new files to Commons).

[2021-11-05 13:31] mshd opened #4273 "Error message unclear when upload to Wikidata fails"
When uploading/updating items to Wikidata I sometimes get the error
` [..ting.EditBatchProcessor] MediaWiki error while editing [failed-save]: The save has failed.
`
I'm not sure why, and this only happens on some days. Would be nice to have a more clear error message.

[2021-11-05 14:21] hpiedcoq opened #4274 "3.5-beta2 - headers bar's appearance is weird."
Hi,
I recently deployed 3.5-beta2 and the header of the columns has a strange behaviour (css?).

![image](https://ibb.co/yVqF1p9)

<a href="https://ibb.co/yVqF1p9"><img src="https://i.ibb.co/yVqF1p9/Firefox-Screenshot-2021-11-05-T14-19-21-041-Z.png" alt="Firefox-Screenshot-2021-11-05-T14-19-21-041-Z" border="0" /></a>

It doesn't fit the table, which make the selection pretty hard.

(Linux/Firefox

[2021-11-05 16:15] wetneb commented on #4274
Hi @hpiedcoq, thanks for the report! It is curious - this should not happen. Have you tried a hard refresh (CTRL-F5)?

If that does not work, may I ask which version of OpenRefine you were using earlier? Also, I am wondering if the VIB-Bits extension you have is actually compatible with this new version. I find it strange that the Wikidata extension does not show up properly, at least. It could be

[2021-11-05 16:27] hpiedcoq commented on #4274
Hi Antonin!
Previous version was 3.4.1, working fine.
F5 does the trick and fixes the problem.

Sorry for bothering! And thank you for the quick answer.

[2021-11-05 16:27] #4274 closed

[2021-11-05 19:19] magdmartin commented on #4203
If you are in a record mode the grel `row.record.cells[columnName].value` turn all the rows part of one records into an array. You can then do `row.record.cells[columnName].value.sort()[-1]`
Does it answer your use case?

[2021-11-06 13:00] riteshsoni123 commented on #3420
Hello @fgiroud I saw the code written in file "facets.spec.js" which is the test for text facet. I was wondering if I could write the test for numeric facet in same way as written for text facet making necessary changes. By "writing the code in same way" I mean writing test for each small thing in the process.

[2021-11-06 13:59] jkjkjkjkjk commented on #3719
Thanks, removing id of deleted project from workspace.json worked.

[2021-11-07 07:10] trnstlntk opened #4276 "OpenRefine's file upload functionality should support all file formats that are natively supported by Wikimedia Commons as well"
See https://commons.wikimedia.org/w/index.php?title=Commons_talk:OpenRefine&oldid=605943514

In a conversation on the Wikimedia Commons Telegram channel, and in various other places, I have regularly heard people ask 'but will OpenRefine support batch uploading (video files) / (pdf files) / (djvu files)...' This sounds like a no-brainer, but as I've noticed that other batch upload tools sometimes

[2021-11-07 07:30] trnstlntk opened #4277 "Integrate thumbnail previews during the Wikimedia Commons batch file upload process"
See https://commons.wikimedia.org/wiki/Commons_talk:OpenRefine

Request received in a conversation in the Wikimedia Commons Telegram channel. During a batch upload process of media files, it is extremely helpful if one can (easily) see thumbnail previews of the media files that are being uploaded.

Some existing Wikimedia Commons (batch) upload tools support this indeed (the default UploadWizard,

[2021-11-07 07:38] trnstlntk commented on #4268
Also see #3210.

[2021-11-07 07:39] trnstlntk commented on #3210
More detail in #4268.

[2021-11-07 09:05] mattzeeee commented on #4121
Hi, I plan to look into it as my first issue since the bug report indeed looks very clear and detailed.

[2021-11-07 09:21] wetneb commented on #3210
Duplicate of #4268.

[2021-11-07 09:21] #3210 closed

[2021-11-07 09:21] wetneb commented on #4268
Thanks! >_<

[2021-11-07 09:59] #4265 closed

[2021-11-07 10:10] wetneb opened #4278 "Drop support for Java 8"
As discussed on the mailing list, supporting Java 8 prevents us from doing important dependency updates.
We want to shift from supporting Java 8 to 15 to supporting Java 11 to higher versions of Java (at least 16).

Discussion: https://groups.google.com/g/openrefine-dev/c/K2J_61oDQsU

[2021-11-07 10:43] #4278 closed

[2021-11-07 12:39] thadguidry commented on #4277
The extension can and should be developed to support what users need irregardless of OpenRefine. That's the beauty of an extension. Extending in ways the original program had no need for.

[2021-11-07 21:07] wetneb commented on #4199
Since we are dropping Java 8 support in 3.x (#4278), there is no point in supporting it in 4.x either.

[2021-11-07 21:07] #4199 closed

[2021-11-07 22:32] wetneb commented on #4106
The blocker for this is Java 16 compatibility of the Rhino Javascript engine. We are waiting for 1.7.14 to be released (https://github.com/mozilla/rhino/issues/966).
There might be other blockers though!

[2021-11-08 08:07] fgiroud commented on #3420
Hi, yes you can get inspiration from facets.specs.js
However, those tests are testing the general behavior, not something tied to a specific facets, your tests should be as minimal as possible, testing only what's relevant and specific to a given facet

[2021-11-08 09:47] WolfgangFahl commented on #1712
same issue here
![grafik](https://user-images.githubusercontent.com/1336221/140719907-be4898fc-368d-41fc-a071-ce4757205c0a.png)

[2021-11-08 10:18] jquartel opened #4282 "Allow multiple column selection in "Re-order / Remove Columns" modal"
As mentioned on #3289 , the  "Re-order / Remove Columns" modal (accessed from the All > Edit Columns menu) could benefit from enhancement to help with datasets that have a large number of columns that one might not be interested in. In particular, I'd love to see a way to move all of the column names to the "Drop columns here to remove" area on the right so that one can then drag back only the col

[2021-11-09 08:33] wetneb opened #4285 "Documentation edit process with versioned docs"
We have a problem with the way we edit our documentation.

Docusaurus includes links from the documentation to GitHub so that a given page can be edited directly. That is very convenient, however it does not tie in very well with versioning. By default, the docs that are visible at `docs.openrefine.org` are the docs for the latest stable version, and so the edit link points to the corresponding ve

[2021-11-09 09:02] wetneb commented on #4285
I have updated the automated labeling rules to distinguish between edits to the versioned and current docs, hopefully that will make the problem a little bit easier to spot in the future.

[2021-11-09 18:13] #4193 closed

[2021-11-09 18:43] wetneb commented on #1712
I think it would be nice to fix that soon, so tentatively putting this on the 3.6 milestone to remind myself to have a look at it before a release (but no promises…)

[2021-11-10 04:29] johnvl2 commented on #3137
@wetneb According to the latest comments in pull request 3406, it seems like there is still work to be done for this? If so, I can look into it. Thanks.

[2021-11-10 12:17] lozanaross opened #4287 "Reconciling against a Wikibase instance with federated properties (from Wikidata) fails at the point of value entry"
When connecting OpenRefine to a private Wikibase instance on WBStack which includes federated properties, reconciliation and property selection works fine, but when you need to enter values in the schema, the value entry field does not appear.

### To Reproduce
Steps to reproduce the behavior:
1. First, connect to this reconciliation endpoint: https://labs.tib.eu/reconcile/lodwgfedereated/ with th

[2021-11-10 12:25] wetneb commented on #4287
Fascinating! Thanks for trying it out. This is likely to be relevant for the SDC project since Commons also has federated properties. To investigate as part of #4269.

[2021-11-10 12:26] wetneb commented on #3137
@johnvl2 thanks! The floor is yours.

[2021-11-10 19:24] #3256 closed

[2021-11-11 00:04] johnvl2 commented on #4009
@wetneb Hello, I have been working this issue. Could you go ahead and assign me?

[2021-11-11 07:31] wetneb commented on #4009
Sure, thanks for working on this!

[2021-11-11 16:39] riteshsoni123 commented on #3420
Hello @fgiroud in custom text facet and numeric text facet according to my knowledge everything is same as text facet and numeric facet respectively except the dialog box that appears in the beginning. I am little bit clueless on what type of test should be written for those. Almost all the test is written for dialog box in the file "facet.spec.js" after that everything is almost same.
Can you ple

[2021-11-12 09:01] fgiroud commented on #3415
@riteshsoni123 can we close this issue ?

[2021-11-12 09:02] fgiroud commented on #3430
@riteshsoni123 that's a tough one, in case you're interested you can dig in

[2021-11-12 16:08] wetneb commented on #4019
This seems to be solved already, for instance see https://github.com/OpenRefine/OpenRefine/pull/4280

[2021-11-12 16:08] #4019 closed

[2021-11-12 19:29] riteshsoni123 commented on #3420
Yes I agree with you.
For now I have added test for numeric facet and made a pull request.

[2021-11-13 00:10] david-waterworth opened #4293 "Apply to all Identical Cells resets viewport to row 1"
If I select `Edit`, make a change and `Apply`, the viewport remains on the row I was editing. If however I select Edit then `Apply to all Identical Cells` after apply the viewport resets to row 1

### To Reproduce
Steps to reproduce the behavior:
1. View as rows
2. Show 1000 rows
3. Scroll to a row off the bottom of the page
4. Select a cell and edit it
5. Select `Apply to all Identical Cells`

##

[2021-11-13 00:54] david-waterworth commented on #4293
Also note `Edit Cell` / `Transform` does the same thing.

Related - the preview when you're attempting to create a GREL expression always seems to show the topk entries. This makes it really difficult if you're trying to develop a transform for specific rows. The preview is of little use since it doesn't show the rows you're trying to transform and once applied the rows you're trying to transform

[2021-11-13 02:31] thadguidry commented on #4293
@david-waterworth Regarding your last comment for specific rows and transforming them and seeing a preview.  Many of us just Star or Flag those rows and then add a Facet for Star or Flagged rows to filter the grid and then do further transforms... the Expression preview dialog will then only show what the grid shows.

[2021-11-13 03:54] david-waterworth commented on #4293
Thanks @thadguidry I didn't originally realise you could filter and then apply transforms to the filtered rows. That makes things a lot easier!

[2021-11-13 04:19] thadguidry commented on #4293
No problem. If you still feel you need that feature for the Reset then let us know further.  I'd imagine there's a bit of nuance with how you can generally filter, transform, filter by using our various facets or your custom ones depending on your needs at various stages if your workflow. But we always listen for ways to help further if something could be made easier.

[2021-11-13 08:50] wetneb commented on #4293
Although it is about scrolling and not page changes, I would say this is mostly a duplicate of #33, our longest standing issue.

[2021-11-13 11:36] wetneb opened #4294 "Java test suite fails locally in some timezones due to Daylight Saving Time differences"
Running `./refine test` on the master branch currently fails for me.

This is due to the fact that our date parsing code translates java `Date` objects to Java 8 `OffsetDateTime` in an incorrect way.

### To Reproduce
Steps to reproduce the behavior:
1. Add `-Duser.timezone=CET` to your Java test settings in `pom.xml` (`<argLine>@{surefireArgs} -Dfile.encoding=cp1252 -Duser.timezone=CET</argLine>`

[2021-11-13 12:05] #4112 closed

[2021-11-13 12:18] wetneb opened #4296 "Eclipse reports modular compilation issues"
Now that we have bumped the minimal Java version from 8 to 11, Eclipse starts reporting new issues which are linked to [Java modularity](https://www.baeldung.com/java-9-modularity).

### To Reproduce
Steps to reproduce the behavior:
1. First, set up OpenRefine in Eclipse
2. Observe this compilation failure at line `import javax.xml.stream.XMLInputFactory;` in `XmlImporter.java`: "The package javax

[2021-11-13 21:19] johnvl2 commented on #4009
@wetneb I'm trying to manually test this out for Google Data and Database parsing but I'm unable to get either type working (on my branch and even on master). I'm trying to use the google doc mentioned in #3604 and the public database specified here: https://docs.rfam.org/en/latest/database.html (this db is mentioned in the manual). Google data gets stuck on the "Preparing..." screen and Database

[2021-11-14 08:05] gitonthescene commented on #4020
I've added a note to [this recipe](https://github.com/OpenRefine/OpenRefine/wiki/Recipes#using-cross-within-a-single-project) and [this one](https://github.com/OpenRefine/OpenRefine/wiki/Recipes#finding-previous-row) to indicate the new functionality.

[2021-11-14 09:08] wetneb commented on #4020
@gitonthescene thanks! @thadguidry is there anything left to do here or can we close this issue?

[2021-11-14 09:29] #4294 closed

[2021-11-14 15:27] thadguidry commented on #4020
@wetneb I think its good now. Closing.

[2021-11-14 15:27] #4020 closed

[2021-11-14 20:55] wetneb commented on #4009
@johnvl2 to test the Google Sheets importer, it looks like you do need to provide an API key (in `refine.ini` for instance). Sadly that seems to be necessary even for public Google Sheets documents. We have some instructions for how to get those: https://github.com/OpenRefine/OpenRefine/wiki/Google-Extension

For the database import, how about trying with a SQLite database? You can get a sample on

[2021-11-15 09:10] wetneb opened #4299 "CSV importer: confusing behaviour of checkboxes"
In the configuration options for the CSV/TSV importer, two checkboxes are linked as if one of them had to be checked.

This is a bad pattern: if those checkboxes are really meant to be grouped, then they should be radio buttons and be positioned next to each other.

### To Reproduce
Steps to reproduce the behavior:
1. First, open a CSV/TSV file
2. Then, click on the "Parse next 1 lines as column h

[2021-11-15 12:29] riteshsoni123 commented on #3415
Hello @fgiroud I saw the tests that are remaining to be implemented. There are few points I would like to mention about those.
- The first three tests ("transform" ,"facet by star, by flag" and "remove matching rows") are very similar to the tests that has been written in the past so I think we can skip these tests.
- And for "show/hide null values as cells" simple test can be written to implement

[2021-11-15 12:41] riteshsoni123 commented on #3415
There is one more thing I would like to mention. There is something wrong in the test in file "project/grid/all-column/edit-columns.spec.js".
In 11th line it should be "cy.dragAndDrop('div[column="Water"]', 'div[column="Energ_Kcal"]');" instead of "cy.dragAndDrop('div[column="Energ_Kcal"]', 'div[column="Water"]');".

[2021-11-15 21:36] wetneb opened #4301 "Cluster values by distance or bins defined by an expression"
We offer two distances to cluster values together: Levenshtein and PPM. Sometimes, with knowledge of the data I could come up with a better distance, and express it as a GREL function (or another expression language). OpenRefine currently does not allow such user-defined functions.

### Proposed solution

Offer the possibility to use a custom function that takes two arguments (say `a` and `b`) and

[2021-11-16 03:54] johnvl2 commented on #4009
@wetneb That worked for the database, thank you!

Unfortunately I'm still unable to get the google data tab working even after following the instructions in the link above. My error message is "Error 400: invalid_request, missing client_id", but I have my client_id retreived from the link's instructions, along with the client secret key and API key populated in the refine.ini file. After doing thi

[2021-11-16 07:47] wetneb commented on #4009
Interesting!

The test suite should normally work. I suspect the two server test failures are due to Daylight Saving Time and have been fixed in https://github.com/OpenRefine/OpenRefine/pull/4295, so I would hope that pulling the master branch would solve those.

For Cypress, I also get some failures locally, but I thought it was because my machine was too slow for the timeouts that are set there

[2021-11-16 08:25] wetneb opened #4302 "Cypress test suite fails locally"
When running the Cypress test suite locally, I get some errors.

### To Reproduce
Steps to reproduce the behavior:
Follow the instructions to run the Cypress tests locally: https://docs.openrefine.org/technical-reference/functional-tests

### Current Results
The current tests are failing for me:
* in `cypress/integration/create-project/preview_project.spec.js`, "Tests Parsing Options related to co

[2021-11-16 10:51] wetneb commented on #4302
This seems to be a flakiness issue.
I re-ran the tests again and only two were failing this time:

* in `cypress/integration/create-project/preview_project.spec.js`, "Tests Parsing Options related to column seperation"

![image](https://user-images.githubusercontent.com/309908/141972100-4b8dbd2d-c0ba-40e4-8f50-c9778e735867.png)

* in `cypress/integration/project/project-header/export_project.spec.

[2021-11-16 16:39] wetneb commented on #4268
Tada! @j-sal already ticked the first box in the list above! I just reopened the issue because there are other boxes to tick.

[2021-11-16 19:42] wetneb commented on #3560
Done for the 'Add column based on this column' operation. Remaining: 'Transform' operation.

[2021-11-16 20:38] #4296 closed

[2021-11-17 06:14] riteshsoni123 commented on #3430
Yes surely I would like to give it a try , but a little bit explanation about this issue would be helpful.

[2021-11-17 08:56] wetneb commented on #3560
Done for the `Transform` operation too.

[2021-11-17 08:56] #3560 closed

[2021-11-17 15:56] trnstlntk opened #4303 "Enable Chunked Uploads for Wikimedia Commons uploads, enabling >100MB file uploads"
Wikimedia Commons deals with large files in a variety of ways; see https://commons.wikimedia.org/wiki/Commons:Maximum_file_size for some context and pointers.

Some end users of Wikimedia Commons batch upload tools have pointed out that they want to upload batches of larger files (e.g. book scans, video files), where individual files can be 1 to 3 GB or more in size. Such large file sizes are curr

[2021-11-17 16:33] mshd commented on #2433
Any update?

[2021-11-17 16:33] trnstlntk opened #4304 "Provide a link to an overview of existing/active reconciliation services in the reconciliation dialog window"
Especially for users who are new to the variety of reconciliation services that are out there, it's not obvious to discover / find a list of them. Knowing which ones exist and can be used can be quite inspiring and helpful.

### Proposed solution

In a recent [user interview](https://phabricator.wikimedia.org/T294939), one OpenRefine user mentioned that they would find it very helpful if OpenRefin

[2021-11-17 16:40] thadguidry commented on #4304
Agree on the proposal.  I think a good friendly context could be given in the dialog.  And the link itself could read something like:

[2021-11-17 17:09] wetneb commented on #1863
This is solved in the new architecture, where the reconciliation data is stored on disk as it is fetched, so it does not need to fit in RAM.

[2021-11-17 17:09] #1863 closed

[2021-11-17 17:12] wetneb commented on #4304
See also #3071 which requests the same thing, and where some discussion already happened. Let's keep this issue since it is more visible and perhaps a bit easier to understand too.

[2021-11-17 17:12] wetneb commented on #3071
Let's continue this discussion in this new issue: #4304.

[2021-11-17 17:12] #3071 closed

[2021-11-17 20:09] wetneb commented on #4194
Hi @thadguidry and @Mengfan-Zhu,

I do not think `toString` is meant to be an inverse to `parseJson`. The role of the `toString` function is to provide a representation of the given object as a string, there is nothing relating it to JSON a priory. Sure, in some cases it might coincide, but that is by accident rather than by design.

I think that instead of "fixing" the `toString` function, we sho

[2021-11-17 20:34] thadguidry commented on #4194
@wetneb Sure, we can call a new function `toJson`.

[2021-11-17 21:41] Mengfan-Zhu commented on #4194
@wetneb @thadguidry Thank you for your reply. If I understand correctly, do you want a new function ``toJson`` instead of adding a parameter for ``toString``? The functionality of ``toJson`` is still what @thadguidry describes above, right?

[2021-11-18 05:28] wetneb commented on #4194
That's right! Adding more comments on your PR.

[2021-11-18 05:31] Mengfan-Zhu commented on #4194
OK. I will do modification and update later

[2021-11-19 02:34] johnvl2 commented on #4009
@wetneb Pull request is up.

Some test evidence (see added case at bottom):
![image](https://user-images.githubusercontent.com/90931628/142555048-9a5ef720-e98d-408a-b309-aca11adcba86.png)

And evidence of the new feature (see "Disable auto preview" checkbox):
![image](https://user-images.githubusercontent.com/90931628/142555147-42deca74-b9d3-46eb-88d3-d8e9d8c36beb.png)

[2021-11-20 15:43] carlosame commented on #4106
I see that this project is using the `rhino-runtime` artifact. Unfortunately, that artifact contains packages which are also present in the main Rhino jar, which [according to MVNRepository](https://mvnrepository.com/artifact/org.mozilla/rhino/1.7.13/usages) is carried as a direct dependency by at least 58 open source projects and therefore may end being in your modulepath as a transitive dependen

[2021-11-20 16:09] wetneb commented on #4106
Thanks for chiming in @carlosame.

I am a bit puzzled, I did not realize OpenRefine depended on rhino directly. Our web framework "butterfly" does rely on it (depending on `rhino`, not `rhino-runtime`), but OpenRefine does not use it directly as far as I know. So ideally we would delete this dependency altogether! Also, `mvn dependency:analyze` agrees with me.

And it seems to run fine without it.

[2021-11-20 16:43] wetneb opened #4314 "Unused dependency from OpenRefine to rhino"
In `main/pom.xml` and `server/pom.xml` it is declared that OpenRefine depends on Rhino, but this is not directly the case: OpenRefine should only depend on Rhino through Butterfly, our web framework.

The command `mvn dependency:analyze` reports a few other unused dependencies in the project which could be worth investigating (it is possible that some of them are false positives).

[code]

[2021-11-20 16:52] wetneb commented on #4106
I have opened https://github.com/OpenRefine/OpenRefine/issues/4314 and #4315 to fix this spurious dependency.

[2021-11-20 17:00] carlosame commented on #4106
That's good to know :-)

There is a pending PR with reflective access fixes (related to issues with protected fields and methods) which may be included in the final Rhino 1.7.14.

[2021-11-21 11:49] jkjkjkjkjk commented on #4106
Seems to be same problem with Java 17 (no surprises)
![Clipboard01](https://user-images.githubusercontent.com/16571133/142760578-128ce259-0b71-45e3-b2bc-b84c75b7abf5.png)
.

[2021-11-21 13:13] LC24 commented on #4096
Hello, I volunteer to work on this issue in November/December. For the project maintainer, please let me know if this is okay and if you want it fixed.

[2021-11-21 20:03] #4314 closed

[2021-11-21 20:05] wetneb commented on #4096
Hi @LC24, that would be amazing! Did you notice that this is about the 4.0 branch? This new architecture is only partly documented for now, but I am available to answer any questions you might have.

[2021-11-22 05:51] NamanGuptacs commented on #2957
Hi @asyrul21

Will you please tell me how you have passed the csrf_token in python code

Thanks in advance

[2021-11-23 13:49] mshd opened #4318 "Reconcile Wikidata by Qualifier"
I would like to reconcile Wikidata with a certain qualifier. Is it that possible, if not, could you implement it?

### Exampl
![Screenshot from 2021-11-23 14-47-56](https://user-images.githubusercontent.com/17379661/143035892-0615aecc-cfab-42dc-ba9b-a9cc9afac358.png)
Set qualifier property to North Sumatera III. or give me all people which ever had a candidacy at this district.

[2021-11-23 15:17] wetneb commented on #4318
Hello @mshd, that is a totally valid feature request! But this feature would be implemented in the reconciliation service, not OpenRefine itself, so the correct repository for this is here: https://github.com/wetneb/openrefine-wikibase/issues/72. I am recording your use case there.

[2021-11-23 15:17] #4318 closed

[2021-11-23 15:41] mshd commented on #4318
Ok appreaciate it!

[2021-11-24 12:44] #4243 closed

[2021-11-24 12:49] #4108 closed

[2021-11-24 14:22] thadguidry commented on #4108
@wetneb Yes it respects JAVA_HOME variable now! Good job!
Tested with `openrefine-win-3.5-beta1-266-gcf8b140-dirty.zip`

[2021-11-24 22:45] chicocvenancio opened #4322 "Security mailling list does exist"
### To Reproduce
Steps to reproduce the behavior:
1. Try to send an issue to the email mentioned in [SECURITY.md](https://github.com/OpenRefine/OpenRefine/blob/cf8b1401fab085bef09a2ce8b885d6b5c55b61a6/SECURITY.md) openrefine-coredev@googlegroups.com
2. Get back `We're writing to let you know that the group you tried to contact (openrefine-coredev) may not exist, or you may not have permission to p

[2021-11-25 08:33] wetneb commented on #4322
@thadguidry any chances you own this google group? if so, could you share the ownership with me so I can fix those settings?

[2021-11-25 15:54] thadguidry commented on #4322
@wetneb The owner is @magdmartin who indeed should make you co-owner

[2021-11-25 20:19] #3382 closed

[2021-11-25 20:42] thadguidry commented on #2313
@wetneb Once you are ready for me to test this on Windows, let me know.

Will you just include the hadoop binaries or provide some way to download/install them on all platforms?
Or do we treat them similar to the vendor JDBC drivers and use our docs to guide users where and how to download install the Hadoop binaries for 3 platforms we support?

What's the next steps here?

[2021-11-26 09:42] wetneb commented on #2313
I just plan to ship all the binaries directly. I should be able to work on this soon, thanks for the offer to test it :)

[2021-11-26 12:21] j-sal opened #4324 "Lack of descriptive message when adding an incorrect schema manifest"
### To Reproduce
Steps to reproduce the behavior:
1. First, add access the menu in the top right corner 'Extensions: Wikidata' -> 'Select Wikibase instance' -> 'Add Wikibase'
2. Then, paste/write your manifest containing syntax mistakes (see screenshot)
3. Finally, select 'Add Wikibase' in the bottom right corner of the window

### Current Results

The error "Invalid Wikibase manifest." appears in

[2021-11-26 13:26] magdmartin commented on #4322
@chicocvenancio  I confirm the issue. I tried to post to the group from another email address and got a `Delivery Status Notification (Failure)` . If you like to report a security issue privately, I sent you an email.

@wetneb  you are now owner on the group.
I think the issue is because the group is private and Non member cannot post to it.  See the posting policty: https://groups.google.com/g/op

[2021-11-26 13:31] #3420 closed

[2021-11-26 20:36] #4009 closed

[2021-11-28 07:53] wetneb opened #4328 "Restore support for "lines per row" option of text lines importer"
The line-based importer has an option to import multiple consecutive lines of the file in the same row of the OpenRefine project. Support for this option was temporarily disabled in the new architecture and should be restored.

[2021-11-30 14:45] wetneb opened #4332 "Error reporting with Sentry"
We do not have any easy way to get feedback about the errors users encounter with OpenRefine.
There are tons of situations where some stack trace is just thrown in the server logs and that is it.
In [Gephi](https://gephi.org), when an error happens, users are notified of it in the GUI and they have an option to "Report" the issue, which sends details of the issue to the developers via the Sentry s

[2021-11-30 15:02] wetneb commented on #3709
We already have some tests which are drawn from tutorials, so I wonder if this can be closed, or if we want more of them?

[2021-11-30 16:00] thadguidry commented on #4332
@wetneb
- We also have #3145 although I'm not sure the state of it as a proposal, but you did merge 1 fix from @tfmorris at the time.  So not sure if #3145 needs to be closed now?
-  We also have #2836
- And #3164 which is about JS side and perhaps out of scope for this issue.  Maybe you can clarify that this issue is only for Java stack or also includes JS stack?

[2021-11-30 16:06] thadguidry commented on #3709
@wetneb I think that as long as we have tests that incorporate transforms with history changes that also utilize all the object types @fgiroud mentioned, then I think we have things covered.  Generally, the object types and ensuring that memory/state is maintained well and restored well, no matter our object types (recon, etc.).  Which I think we already do.  So I think we can probably close this.

[2021-12-01 09:58] fgiroud commented on #3709
Yes, i think we cover the cases we wanted to have there

[2021-12-01 09:58] #3709 closed

[2021-12-01 10:34] wetneb opened #4333 "Download JRE on the fly during the packaging process"
We currently rely on the `settings.xml` file for the developer to specify where they have downloaded Mac and Windows JREs, to package them into the `.dmg` and `.zip` packages.

Instead, we could download those JREs on the fly in the packaging process. This is [what Gephi does](https://github.com/gephi/gephi/blob/master/modules/application/pom.xml) (using an `antrun` maven goal).

The advantage wou

[2021-12-01 13:14] wetneb commented on #2338
It's actually quite easy to enforce code style settings defined in the format Eclipse accepts, using this Maven plugin:
[code]

This reformats Java files at build time.
I am tempted to integrate this, but would ideally wait for 4.0 to become the master branch, because I am worried about spurious merge conflicts generated by this if we reformat everything. But maybe it is fine.

[2021-12-01 13:20] wetneb commented on #2338
Note that we should also add some configuration settings in our Maven configuration so that Eclipse picks up the style configuration file:
https://maven.apache.org/plugins/maven-eclipse-plugin/examples/load-code-styles.html

[2021-12-01 14:33] wetneb opened #4334 "Automate release process in GitHub actions"
We should be able to run the entire release process inside a GitHub action, instead of having so many manual steps.
We can use Windows and MacOS vms on GitHub actions to run the platform-specific steps.
Gephi does that well:
https://github.com/gephi/gephi/blob/master/.github/workflows/release.yml

[2021-12-01 14:34] wetneb commented on #4334
Also Gephi uploads all of the release artifacts to Maven central (instead of GitHub Releases), that could be an interesting option (perhaps the bandwidth and mirroring is better there? not sure). In any case it's easier to trigger in Maven (`mvn deploy`).

[2021-12-01 14:52] wetneb opened #4335 "Centralize all library versions in the root pom file"
For some of our dependencies we set the version via a Maven property, which can then be used in various submodules.
We should make this systematically, for the sake of simplicity. This reduces the risk of including different versions of the same dependency, which can create bugs and increase the size of released bundles.

[2021-12-02 13:23] wetneb opened #4337 "When importing an OpenRefine project, register all reconciliation services used by the project"
Assume you have exported a reconciled OpenRefine project to a `.tar.gz`, and you import it in a blank OpenRefine workspace.
Because the reconciliation service is not registered in this new OpenRefine workspace, the UI in OpenRefine will not offer any previews or entity suggest widgets. This gives a user experience that is not as good as the one with the service registered.

More generally, this pr

[2021-12-02 14:12] thadguidry commented on #4337
@wetneb I like the proposal and would worry about the alternative concern where users want to deliberately remove the services. They can remove them after import easily enough and then re-export if needed.

[2021-12-02 18:09] wetneb commented on #2338
Nice setup from Gephi: https://github.com/gephi/gephi/issues/2337#event-5706587778

[2021-12-05 06:35] wetneb commented on #4194
Hmm I just tried updating the documentation for this and realized we already have a `jsonize` function actually… that is unfortunate! So we should just have closed the issue without change.

[2021-12-05 07:41] #4194 closed

[2021-12-05 08:47] wetneb opened #4338 "QuickStatements exporter does not honour the "do not override" setting for terms"
Some time ago we introduced the possibility to add descriptions or labels only if there is no such existing term in the given language.
This is supported when uploading edits to the Wikibase instance directly from OpenRefine, but when exporting to QuickStatements, the "do not override" options are ignored (meaning that terms will always override the existing data).

### Proposed solution

We could

[2021-12-05 10:48] wetneb opened #4339 "Upgrade database and gdata extensions to httpclient5"
Our database extension (`extensions/database/pom.xml`) depends on `org.apache.httpcomponents:httpclient` but our `main` module (`main/pom.xml`) depends on `org.apache.httpcomponents:httpclient5`. We should investigate if the former can be migrated to `httpclient5` so that we avoid duplicating those dependencies.

This is also the case for the `gdata` extension. We should investigate if this is the

[2021-12-06 10:05] jquartel commented on #1241
I've just run into this problem myself, and one thing I'd like to add to the discussion is that even though it's a bit crazy to put a BOM on a UTF-8 file (there can be no byte ordering when the words are only one byte - no doubt that's why Java doesn't support it as an encoding), I have found that when one exports a spreadsheet as CSV from Microsoft Excel it adds this silly BOM to the file. So I t

[2021-12-06 14:46] wetneb commented on #4268
Incorrectly closed by an unrelated PR, sorry.

[2021-12-06 14:47] wetneb commented on #4324
Closed by #4341.

[2021-12-06 14:47] #4324 closed

[2021-12-06 14:50] #4335 closed

[2021-12-07 13:17] #4328 closed

[2021-12-07 13:32] wetneb opened #4346 "Use Maven Central to host snapshot releases instead of a custom GitHub repository"
We currently upload our snapshot releases to the releases section of a dedicated GitHub repository.
That works okay, but the process is a bit convoluted (it requires some scripts and a dedicated GitHub account to do the upload in the CI). Also, we want to extend this to cover not just the `master` branch, but also the `4.0` branch, and this is not so simple.

### Proposed solution

We could do lik

[2021-12-08 11:04] wetneb opened #4350 "Optimization: change ReconStats into a facet"
We currently maintain global reconciliation statistics for each reconciled column, counting how many cells are matched to an existing entity, matched to a new entity or non-matched. In Java, this is stored in a `ReconStats` object.

For large projects, those recon statistics are expensive to keep up to date. For most actions which trigger a change of the reconciliation data, we need to recompute t

[2021-12-08 14:33] thadguidry commented on #4350
@wetneb I recall that somewhere we talked about this long way back in the early days...(might have been before you joined @wetneb ) I'm surprised we don't have an issue already? Perhaps not, but the longstanding #821 is one of the symptoms that users face as you sorta mention in your initial summary above.  Our conversations were probably in some mailing list thread around the time that issue was

[2021-12-08 14:43] wetneb commented on #4350
Yes I think this could actually be a good opportunity to introduce more column-level stats, for instance we could have one to display the proportions of datatypes in each column.

[2021-12-09 13:14] wetneb opened #4358 "Migrate Windows CI to GitHub actions"
We currently use Appveyor to run our Windows CI. That implies additional a maintenance burden for the config file of this service.

### Proposed solution

GitHub Actions also offers Windows runners. We could use those instead.

### Alternatives considered

None

[2021-12-09 13:39] #4346 closed

[2021-12-09 13:51] wetneb opened #4359 "Tests are run twice in the snapshot release workflow"
We currently run tests, and then generate snapshot releases with `refine dist`, but that latter step runs the tests again.

### To Reproduce
https://github.com/OpenRefine/OpenRefine/runs/4471160704?check_suite_focus=true

### Expected Behavior
The tests should only be run once, this would massively reduce the build time.

[2021-12-09 16:11] #4359 closed

[2021-12-11 13:40] wetneb opened #4367 "Unused OAuth functionality in the main module"
Our `main` module currently contains a `com.google.refine.oauth` package which does not seem used at all in the frontend. I think it is the remains of an older integration with Google services.

We should remove this dead code and remove our dependency to the `signpost` library, which should make OpenRefine a bit lighter.

[2021-12-15 20:13] mshd commented on #1017
Any update on this issue, is there a fix?

[2021-12-15 20:44] wetneb commented on #1017
It would be relatively easy to change this behaviour, although it would likely break any JSON recipes, which rely on specific column names. But it is probably okay to introduce this change anyway, as long as we highlight the potential problem in the release log.

[2021-12-16 06:36] antoine2711 commented on #2452
@wetneb : from my tests, this is resolved with v3.5. I think we can close this.

Regards, Antoine

[2021-12-16 06:45] wetneb commented on #2452
Thanks a lot!

[2021-12-16 06:45] #2452 closed

[2021-12-16 06:57] antoine2711 commented on #2452
I'd like to thanks @tfmorris for all the great work he has done in regards with the Google Data extension in the last 2 year.
It’s impressive. The reliability has vastly improved with his contributions. Nice work.

Best Regards, Antoine

[2021-12-17 17:21] wetneb commented on #4106
@nikhilp3 may I ask why you unpinned this?

[2021-12-17 17:24] nikhilp3 commented on #4106
Sorry @wetneb must've been on accident

[2021-12-17 17:38] wetneb opened #4375 "Do not print the Java command line in the refine script"
We currently print the Java command line arguments in the logs when starting OpenRefine and that is problematic for a few reasons:
* it is ugly
* it can leak some secrets (such as Google OAuth credentials)

### To Reproduce
Steps to reproduce the behavior:
1. launch `./refine` on Unix

### Current Results
[code]
### Expected Behavior

A clean log should appear.

### Versions
 - Operating System: D

[2021-12-18 11:26] #4106 closed

[2021-12-18 11:27] #4375 closed

[2021-12-19 08:34] jinoytommanjaly commented on #2326
Any updates on this. Anyone working on this to add custom ranking.?

[2021-12-19 18:40] subhamgcon commented on #4333
Hello @wetneb , I am a beginner in Open source and I would like to fix this issue as my first issue. Can you help in getting started with it?

[2021-12-19 20:57] wetneb commented on #4333
Hi @subhamgcon, I am not really sure this is a suitable task for a beginner. I would rather recommend [our good first issues](https://github.com/OpenRefine/OpenRefine/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22).
To get started on any of those, you could follow this guide: https://docs.openrefine.org/technical-reference/contributing#your-first-code-pull-request

[2021-12-21 14:29] wetneb opened #4384 "Remove dependency to PowerMock"
PowerMock is not compatible with Java 17, and causes other problems even when it is supported, such as the lack of good coverage reporting because of the dynamic patching to some classes.

We should get rid of it by making our classes testable in a cleaner way.

[2021-12-21 17:41] joewiz commented on #4285
I've just prepared [a Homebrew PR for OpenRefine 3.5.1](https://github.com/Homebrew/homebrew-cask/pull/116218), using the directions in the as-of-yet unmerged https://github.com/OpenRefine/OpenRefine/pull/4281/files.

[2021-12-22 02:02] joewiz commented on #4285
(That PR has now been merged, so Homebrew users will now get OpenRefine 3.5.1 when they update their Homebrew.)

[2021-12-22 10:18] wetneb commented on #2313
@thadguidry could you perhaps test this again? You can download Windows snapshots for 4.0 here:
https://oss.sonatype.org/service/local/artifact/maven/content?r=snapshots&g=org.openrefine&a=openrefine&v=4.0-SNAPSHOT&c=win&p=zip

[2021-12-22 10:23] #4268 closed

[2021-12-22 12:50] thadguidry commented on #2313
@wetneb sure, I'll look at this today.

[2021-12-22 13:07] thadguidry commented on #2313
@wetneb Seems like we would want to improve the path to look for?  The normal ZIP file extraction puts it into a folder of `openrefine-4.0-SNAPSHOT` and the WebAppContext seems to recognize and startup from within that.
My extraction path default was fully `C:\Users\thadg\Downloads\openrefine-4.0-20211215.080429-3-win\openrefine-4.0-SNAPSHOT` but that last part seems missing from where Hadoop.util

[2021-12-23 08:31] wetneb commented on #2313
@thadguidry Thanks a lot! I hope this is fixed now, could you try it again? Both just `./refine` (without Spark) and `./refine -r org.openrefine.model.SparkDatamodelRunner` (with Spark).

[2021-12-23 08:58] wetneb commented on #3463
It seems difficult to avoid such exceptions when closing down Spark, I would say they are normal. Unless there is a particular reason why they are a problem, beyond the noise in the logs, I would close this.

[2021-12-23 13:15] thadguidry commented on #3463
Ah you are thinking that Carl C is not a graceful shutdown command as we handle it but instead we handle it as a forced shutdown command?  I am ok with that but in the past OpenRefine would wait for long running operations to finish.  So I was expecting the same thing with our signals to Spark.

[2021-12-23 13:20] wetneb commented on #3463
In 3.x we wait for project saves, but not for long-running operations to finish. (I just checked this by running a URL fetching operation and sending Ctrl-C to the backend: it closes without waiting for the operation to finish). This should still be true in the new architecture.

[2021-12-23 13:38] thadguidry commented on #3463
Hmm, ok, then we do forced shutdowns. OK, then let's close this.

[2021-12-23 13:38] #3463 closed

[2021-12-23 13:50] thadguidry commented on #2313
With `refine` startup -
[code]

With `refine -r org.openrefine.model.SparkDatamodelRunner` -

Cannot because you haven't wired up the /r option in the `:loop` section of `refine.bat` perhaps?
[code]

However, I temporarily added that in the `refine.bat` to quickly help this issue and get this output -
[code]

[2021-12-23 20:11] wetneb commented on #4090
This is now configurable. As things stand it is not easy to use though: we also need to publish a `.jar` file which contains all the application code of OpenRefine (and its dependencies) so that it can be loaded in the remote Spark cluster.

[2021-12-23 20:51] #3483 closed

[2021-12-23 20:53] wetneb commented on #2313
Indeed, sorry about those! I fixed both, I think we should be pretty close now. Also, instead of downloading the snapshot, you should also be able to run it from source (from branch 4.0).

[2021-12-24 00:12] thadguidry commented on #2313
OK, compiled cleanly from 4.0 branch... and looks like we have startup.... trying to reproduce the error...
I can no longer import a CSV file?

[code]
![image](https://user-images.githubusercontent.com/986438/147301084-f4ac5f47-2b78-4cac-8d4a-900105fbc498.png)

[2021-12-28 13:17] thadguidry commented on #2313
@wetneb OK, let me try to pull, build and see ... but my hunch is that we'll still see a Native.IO access issue as this developer described and solved in one way: https://titanwolf.org/Network/Articles/Article?AID=6e19e388-4ea1-4ad8-885f-25f32c7598cb

[2021-12-28 13:32] wetneb commented on #2313
Thanks! It does not seem to be working yet though. I also got myself a Windows VM (finally!) so I don't have to try in the dark and bug you every time something needs testing…

[2021-12-28 13:34] thadguidry commented on #2313
@wetneb Yeah!  Import works now!

But during the file import, I did see this Failed line...but things seem to work so far, so not sure if it's a concern later on:
[code]

[2021-12-28 13:39] thadguidry commented on #2313
@wetneb 2 additional things I did...not sure if 100% needed yet...but this was common to do back in the Hadoop on Windows days...
1. Set HADOOP_HOME in environment settings and add `%HADOOP_HOME%\bin` also to the Path variable for User
![image](https://user-images.githubusercontent.com/986438/147571804-be53ba7f-d54d-42c0-aaf4-0ddbd8c807d2.png)
![image](https://user-images.githubusercontent.com/986

[2021-12-28 13:49] thadguidry opened #4391 "In 4.0 with LocalDatamodelRunner, UTF-8 encoding is lost in cells after import"
### To Reproduce
Steps to reproduce the behavior:
1. Import a CSV file with Unicode (such as [Havas-Group-SCRAPE-csv.csv](https://github.com/OpenRefine/OpenRefine/files/7784942/Havas-Group-SCRAPE-csv.csv))
2. Notice preview shows accent characters with UTF-8 encoding detected.
3. Create the project, and notice the encoding is lost and shows U+FFFD � REPLACEMENT CHARACTER in places in the cell valu

[2021-12-28 13:59] thadguidry commented on #2313
@wetneb OK, the `hadoop.dll` copied to `C:\Windows\System32` folder is NOT needed.  Just confirmed with a removal and restart of Windows and still no more errors about Native.IO in refine log.

[2021-12-28 14:23] wetneb commented on #2313
@thadguidry thanks!
It appears that in my brand new Windows 10 VM, that is not sufficient unfortunately. I seem to be missing another DLL, msvcr110.dll.

According to https://issues.apache.org/jira/browse/HADOOP-13223, this reliance on this Winutils distribution is not really meant to stay on the long term, especially given that recent versions of Hadoop target Java 8+ already, where there are Jav

[2021-12-28 14:27] thadguidry commented on #2313
@wetneb part of the reason for the native code was performance improvements https://hadoop.apache.org/docs/stable/hadoop-project-dist/hadoop-common/NativeLibraries.html .

But if you think (or the Apache Hadoop community now thinks) that there are alternative ways to do so...then sure.

[2021-12-28 14:43] wetneb commented on #2313
Yes, the problem is that it's not up to us to do this upgrade: as long as Hadoop has not upgraded to those Java NIO libraries, we will not benefit from those performance improvements in OpenRefine without loading the native code ourselves. But I would still prefer trying without first, we can always add it back if it is critical. Also, techy users should be able to install it themselves without mo

[2021-12-28 15:06] thadguidry commented on #3145
@wetneb It usually happens whenever there's a command exception during a `try` (oftentimes while building arrays for JSON responses) in any of these Refine commands... https://github.com/OpenRefine/OpenRefine/search?q=respondException

[2021-12-28 21:04] tfmorris commented on #3145
@wetneb Because this is a "last chance" thing, the easiest way to reproduce it is likely to inject an intentional exception (ie remove exception handling) in a Command. I'm guessing the original issue might have been with the preview expression command, but I don't think it's worth trying to track down.

If you look at the linked PR #3146, you can see the server side patch (although I just noticed

[2021-12-29 09:28] wetneb commented on #3145
Thanks a lot @tfmorris! Yes I agree many commands are currently following this pattern, and the frontend lacks a systematized way to report errors properly. I guess this issue is more of an "epic" then.

[2021-12-30 10:52] wetneb commented on #2313
Ok, so after more thinking I decided to just remove the dependency to Hadoop altogether, because I cannot get it to work reliably on Windows and it will be useful not to be tied to Hadoop for a lot of other reasons (#2313).

So, those binaries will no longer be required when running OpenRefine with the local runner (which is the default), only when running Spark.

I will add documentation to expla

[2021-12-30 10:57] wetneb commented on #4391
Thanks! In fact, encoding support for the CSV/TSV, the line-based and the fixed-width importers had not been added back since the migration. The commit above (13323f7) should fix it.

[2021-12-30 11:03] wetneb opened #4396 "Extract Spark runner as an extension"
The Spark runner, which lets us execute OpenRefine workflows in a Spark cluster, should be an extension rather than being part of the core tool. It pulls in many dependencies, making the bundle quite heavy, and is likely to be used by only a fraction of our user base.

### Proposed solution

- [ ] Make the datamodel runner pluggable and suppliable by an extension. In the process, we might want to

[2021-12-30 11:08] wetneb commented on #4396
Another reason is that Spark does not support Java 17 yet, which we want to support (for instance for Debian packaging).

[2021-12-30 14:18] wetneb opened #4397 "Many unneeded dependencies pulled in from odftoolkit"
We currently pull in a lot of unneeded dependencies from the `odftoolkit` Java library. Thankfully this has happened after 3.5.1, so we have not released anything with those dependencies yet.

See https://github.com/tdf/odftoolkit/issues/142

Additionally, version 0.10.0 of this toolkit depends on `org.json`, which was not the case in `0.9.0`. Therefore we need to roll back to 0.9.0.
https://githu

[2021-12-30 14:50] #4397 closed

[2022-01-02 12:02] #2313 closed

[2022-01-03 09:54] b2m opened #4402 "Problems with special characters in project name"
This issue describes problems with special characters in the project name and other fields from `metadata.json`.

### To Reproduce
Steps to reproduce the behavior:
1. Create a project with special characters in the project name ("Testing äüöß").
2. Close OpenRefine and check `metadata.json` (everything ok!)
3. Reopen OpenRefine and check special characters in the project name ("Testing Ã¤Ã¼Ã¶ÃŸ").

[2022-01-03 16:20] fcomte commented on #4090
I saw that we can start a spark driver connected with a mesos engine.
Is it to possible that openrefine start a spark driver connected with a kubernetes cluster in stead of mesos?

I a very interrested in connecting openrefine and spark in a cloud native way.
I distribute those tools in a kubernetes plateform. One instance of this project is here  : [onyxia](https://datalab.sspcloud.fr/)
User can

[2022-01-03 17:21] wetneb commented on #4090
Hi @fcomte,

I have not looked into this, but it looks like it should be feasible! Just to check, is your goal to run the OpenRefine web server in Kubernetes itself, or just to have OpenRefine connect to a Spark cluster running in Kubernetes?

For the latter, it seems doable, although there might be some minor things to tweak on OpenRefine's side. The existing parameter `refine.runner.sparkMasterU

[2022-01-03 22:27] fcomte commented on #4090
I am running openrefine inside a container. It's working.
But this new feature that enable openrefine to run job inside a spark cluster have a great potential for my user.

Of course in my context, the spark cluster should use a kubernetes master.
It would be perfect to me if i can start a runner that enable a spark cluster mode ( with k8s )

In fact I have no use case, I manage a data platform an

[2022-01-04 10:18] pajsoft opened #4405 "Maven version updated"
Maven jar version 3.8.3 currently used in refine start script has been removed from apache servers. Online version available is 3.8.4

### To Reproduce
Steps to reproduce the behavior:
1. Fresh computer.
2. Clone OpenRefine repo
3. run ./refine

### Current Results
During maven prepare the download step gets a 404 page instead of the tar.gz file making the unpack step fail.

### Expected Behavior

[2022-01-05 07:58] #4405 closed

[2022-01-05 08:14] wetneb commented on #4090
At the moment, it is possible to import a file from an external source like S3, but it will create a copy in the workspace (which is stored locally). That is not so useful as things stand! Especially in the context of working with an external Spark cluster, because it means that data will be streamed from OpenRefine to the worker nodes and back, at every operation.
In the future I would like to ma

[2022-01-05 09:41] patrickwyler opened #4407 "down-arrow image path broken on custom installation"
I setup a docker image with OpenRefine 3.5.1 and found out that the down-arrow image path is broken. It would be ok if the image would have the same path as the logo.

### To Reproduce
Steps to reproduce the behavior:
1. Deploy OpenRefine in a Docker container
2. Then, import some dummy data into a project
3. Finally, the down-arrow button is broken

### Screenshots
![screenshot](https://user-imag

[2022-01-05 09:48] wetneb commented on #4407
Hi Patrick,

Thanks! It is interesting that this causes a problem in your context. Although one could argue that this is a problem with your deployment, I do not think it would be a problem to reorganize this if it helps. The main thing to keep in mind is that each module (the `main` one or extensions) should be able to include its own images independently of others. Therefore, requiring that all

[2022-01-05 10:09] patrickwyler commented on #4407
Hi Antonin

Just created a PR, on a local installation http://127.0.0.1:3333/ it's working on both ways. It's just a problem if OpenRefine isn't running in the root context.

![Screenshot 2022-01-05 at 11 06 11](https://user-images.githubusercontent.com/23375188/148199680-4dd31530-29d7-41e2-9fb5-0736f1b42175.png)

[2022-01-05 10:27] wetneb commented on #4269
I would propose we solve this as follows.
For each entity type, we store:
* the `identifierSpace` used for reconciliation ("site IRI")
* optionally, a corresponding reconciliation endpoint.
We do *not* store the following fields on a per-entity type basis (we keep them as they currently are, globally defined for the entire Wikibase instance):
* the MediaWiki API endpoint (it should be possible to

[2022-01-05 10:36] #4407 closed

[2022-01-05 10:38] wetneb commented on #4407
I am considering releasing this as 3.5.2, including a further log4j update.

[2022-01-05 12:56] fcomte commented on #4090
yes, it would be important to not copy the content of the whole file on the workspace if we use spark.

[2022-01-05 13:17] wetneb opened #4409 "Documentation: version only by major version"
We currently offer separate documentation for each minor release of the tool (3.4, 3.5, …).
This has a few downsides:
* when making improvements to the docs, we often need to edit multiple copies of the docs, which is cumbersome
* not much is changing between each minor version anyway

At the same time, we do not have a good mechanism to publish the documentation of the 4.0 branch.
If we create a

[2022-01-05 14:12] wetneb commented on #4285
As a followup to the 2nd checkbox above, I have opened https://github.com/OpenRefine/OpenRefine/issues/4409

[2022-01-06 09:53] ToVie opened #4410 "Question: Is it possible to disable the update notice?"
**Description**: If a new version of OpenRefine is available a message is displayed: "New Version Download OpenRefine v3.5.1 now."

**Question**: Is it possible to disable this message?

**Rationale**: We run OpenRefine in a controlled environment, in which any software needs to be packaged and signed. The user cannot update the software. Therefore it would be nice not to display that message.

[2022-01-09 01:21] thadguidry commented on #1483
closing this issue... we have a better roadmap now

[2022-01-09 01:21] #1483 closed

[2022-01-09 04:32] ashwini-m-hub commented on #4409
I want work on it

[2022-01-09 04:36] ashwini-m-hub commented on #4402
i want work on it

[2022-01-09 12:45] wetneb commented on #4402
Thanks for volunteering! This might be easier to reproduce on Windows (but it is potentially also doable on Linux).
We have a guide for first contributions here: https://docs.openrefine.org/technical-reference/contributing#your-first-code-pull-request
Let me know how it goes!

[2022-01-09 12:50] ashwini-m-hub commented on #4402
Sir I'm new to open source
After setting it on local environment
What is the next step

[2022-01-09 12:57] wetneb commented on #4409
Thanks! This one might not be such a great first issue though - but I will certainly not try to hold you back!

[2022-01-09 12:58] wetneb commented on #4402
The steps are outlined in the link I gave you above. If you point me to a more concrete problem with any of these steps I will do my best to help you.

[2022-01-09 16:41] wetneb opened #4414 "OpenRefine fails to launch after building it on MacOS"
There are reports on our mailing list that building OpenRefine 3.5.1 on MacOS results in a broken app that fails to launch:
https://groups.google.com/g/openrefine-dev/c/i8pnxI5TJIY

This should be investigated.

[2022-01-10 04:40] premkgisl opened #4415 "The system cannot find the file specified"
![image](https://user-images.githubusercontent.com/83585196/148719103-6214cde5-0333-4223-9ea3-fc7a790db627.png)

I got an error while generating the build. some target files missing(openrefine-mac-3.6-SNAPSHOT.dmg).

[2022-01-10 14:26] wetneb commented on #4415
Thanks for reporting this! This seems to be due to the fact that creating the Mac bundle is not supported on Windows, so this artifact should be skipped.

As a mitigation measure, you could avoid doing `mvn install` and simply run `mvn package`, unless you specifically need OpenRefine's jars to be available in your local Maven repository.

[2022-01-10 18:02] subhamgcon commented on #4410
@wetneb I want to work on this issue but I am a beginner, Can you please help me to get started?

[2022-01-10 20:17] heimor opened #4419 "timeout loading IPNI reconciliation service"
### To Reproduce
Steps to reproduce the behavior:
1. open a project
2. start reconciliation
3. add service http://data1.kew.org/reconciliation/reconcile/IpniName
4. produces a timeout

### Screenshots

![grafik](https://user-images.githubusercontent.com/839889/148831894-3b6938fa-5efb-4cfb-b06e-b6634b008f9a.png)

### Versions
service running on server
 - Operating System: UBUNTU 18.04.6

service ca

[2022-01-10 21:09] wetneb commented on #4410
Thanks @subhamgcon! Have you had a look at https://docs.openrefine.org/technical-reference/contributing#your-first-code-pull-request yet?

[2022-01-10 21:19] wetneb commented on #4419
Curious! Perhaps because the service returns the header `Content-Type: application/json;charset=UTF-8` which is not really correct since it is returning a JavaScript script, not a JSON object.

Do you know if adding this service works with another version of OpenRefine or another browser? I suspect this could be browser-dependent.

[2022-01-10 22:40] wetneb commented on #4419
I just tried this reconciliation service with the [testbench](https://reconciliation-api.github.io/testbench/) and it fails there too (also with Firefox and Chrome), indicating that this is indeed a problem with the reconciliation service itself and not OpenRefine.

Therefore, closing this issue since it is outside our reach.

[2022-01-10 22:40] #4419 closed

[2022-01-11 12:12] subhamgcon commented on #4410
Hey @wetneb I am getting this error on my Mac, How can i resolve it? Please help  #2191

[2022-01-11 12:55] wetneb commented on #2191
In the meantime it would be good to document how users can disable this check such that they can install OpenRefine, at https://docs.openrefine.org/manual/installing

https://www.imore.com/how-open-apps-anywhere-macos-catalina-and-mojave

[2022-01-11 12:55] wetneb commented on #4410
See my reply there: https://github.com/OpenRefine/OpenRefine/issues/2191#issuecomment-1009937760

[2022-01-11 14:51] subhamgcon commented on #4410
Hello @wetneb I downloaded the OpenRefine version 3.5.1, Sorry to bother you but how can I reproduce this issue? Really sorry to bother you

[2022-01-11 15:25] wetneb commented on #4410
Assuming you have set up your development environment (https://docs.openrefine.org/technical-reference/build-test-run) you should be able to see the update notice by manually downgrading your version number (for instance to 3.4.1) in `RefineServlet.java` and recompiling. Then, the task consists in introducing a new configuration parameter (for instance in `refine.ini`) which controls whether this

[2022-01-12 10:13] marcadella opened #4423 "-i 0.0.0.0 not working since 3.5?"
Using 3.4.1 (`docker run -p 3333:3333 felixlohmeier/openrefine:3.4.1`), `curl localhost:333` works.

Using 3.5.0, `curl localhost:333` hangs. Is it because of `-i 0.0.0.0` not being properly handled in 3.5.1??

[2022-01-12 10:49] wetneb commented on #4423
We did introduce some host validation logic, as you can see here:
https://github.com/OpenRefine/OpenRefine/pull/3212
Perhaps the documentation could be improved, though.

[2022-01-12 14:19] j-sal opened #4424 "Bug with loading data extension column"
A new column will not load after being added using data extension on an existing column reconciled to Commons, but it will be shown in the operation history.

### To Reproduce
Steps to reproduce the behavior:
1. First, reconcile a column.
2. Then, select 'Edit column', 'Add columns from reconciled values'.
3. Finally, add the property you wish to load. Select ok.

### Current Results
The added col

[2022-01-12 17:33] isaomatsunami opened #4425 "Non-breaking space problem"
Recently I encountered this problem on OpenRefine.
(Python code is just for explanation)

txt1 = "Ms. Wendy Enzmann"
txt2 = "Ms. Wendy Enzmann"
print( txt1 == txt2 ).    ===> False

The answer is;

print( ord(txt1[3]), ord(txt2[3]) ) ===> 32 160

32 is "space" in Ascii code. 160 is no-break space(NBSP) which is used to prevent automatic line break.

According to Wikipedia(https://en.wikipedia.org/

[2022-01-12 18:25] wetneb commented on #4425
Hello Isao, nice to hear from you!

Two things come to mind:
* perhaps it would make sense to have an operation to replace non-standard whitespace by space characters (for instance in the Common transforms menu). It is something you would have to trigger yourself ahead of other transforms (such as titleCase).
* it would be nice if OpenRefine displayed those special characters in… a special way! In

[2022-01-12 19:39] thadguidry commented on #4425
Hi Isao and Antonin,

We would also need to make decisions on inclusion/exclusion of "combining
space mark" and maybe allowing users to control how to treat them.  For
example, including the characters of the "Mc" class additionally to the
"Zs" space separator class (or not).  I do not think most users will want
to do that but instead have some ability to know where any "Mc" or "Zs"
class is locat

[2022-01-12 20:09] isaomatsunami commented on #4425
In my opinion, Most of OpenRefine users use it, with real-world entities in mind, to process NOT data bytes BUT concrete concepts. So non-discernible bytes should not have any effects. Who among librarians/journalist/academics needs to have the knowledge of NBSP or other unprintable bytes? OpenRefine already uses Unicode normalization(NFKC) conversion.

Presumably you want to keep these bytes. Yes

[2022-01-12 21:41] thadguidry commented on #4425
@isaomatsunami Not all users have the same needs, many are data journalists and scientists and the options provided need to be thought through.  For example, the original source data needs some opinionated cleaning and byte replacement by inspection from human eyes.  We want to give users ways to 1. quickly visualize the category of data problems with spaces and then 2. offering better transformat

[2022-01-12 22:29] wetneb commented on #4425
Yes, but it is also true that we do already offer *some* normalization options at import time, such as trimming whitespace around cells, so it would not be completely unimaginable to offer more of those features there, right?

That being said, one problem I see with normalizing this at import time is that it does not cover data that gets into the project afterwards (fetching URLs, data extension,

[2022-01-12 22:56] isaomatsunami commented on #4425
You both know OpenRefine much much better. I leave this entirely to you.

I just wanted to report what I encountered when I merged plain text data and scraped data. This will be a rare case, prompted by environment changes caused, of cause,  by this pandemic!
I had nearly posted a bug report.

[2022-01-13 03:29] thadguidry commented on #4425
@wetneb Right.

[2022-01-13 15:18] thadguidry opened #4429 "Publish a POM for org.openrefine.dependencies.wdtk correctly"
If a developer wishes to purge their local Maven repo then currently it fails for OpenRefine project.

### To Reproduce
Steps to reproduce the behavior:
1. Clone repo
2. `refine build`
3. `mvn dependency:purge-local-repository`

### Current Results
[code]

### Expected Behavior
A clean purge with no errors about missing POM for wdtk

### Versions
 - Operating System: Windows 10
 - Browser Version:

[2022-01-13 15:34] thadguidry commented on #4429
Actually, I don't see that Group as published ... https://search.maven.org/search?q=g:org.openrefine.dependencies
Did we expect a missing `wdtk` suffix in the group name?  Because others do not include it as seen in that maven central link.
And if I just search for one of the artifacts themselves with the `a:` filter ...  https://search.maven.org/search?q=a:wdtk-util
It shows a published Group as

[2022-01-13 21:11] wetneb commented on #4429
@thadguidry that dependency is only published in the Maven Central Snapshots repository, not the one for official releases.

I suspect it is normal that your mvn struggles to find that version of the dependencies since it must have been overridden by the latest release I pushed there. I think that is how the snapshots repository works: you basically only have the latest version available.

[2022-01-13 21:13] wetneb commented on #4429
In any case, the best solution is that we ask WDTK to do a proper release before doing an OpenRefine release ourselves. But it is better to do some testing on our side beforehand, so that we have the opportunity to fix any bugs in WDTK before that.

[2022-01-13 23:42] thadguidry commented on #4429
@wetneb OK understood about the testing.

You'll see the issue also if you do what is suggested on this Stackoverflow thread https://stackoverflow.com/a/58505996

I tried his suggestion and of course got that directory not found error:
`mvn org.apache.maven.plugins:maven-dependency-plugin:3.2.0:purge-local-repository -DmanualInclude=org.openrefine.dependencies`

[code]

Do you want to close this i

[2022-01-14 09:46] wetneb commented on #4429
Yes let's go for the manual option. The problem will disappear when we switch to an officially released version.

[2022-01-14 09:46] #4429 closed

[2022-01-14 15:40] olea opened #4432 "Export to QuickStatements generates extra statement"
Hi:

I found a weird behavior when exporting to QS. I'm preparing a sizeble load for SDC: I'm using a trick using M's as conciliated identifiers and exporting through QS. The trick works but I'm finding OR generates an extra QS line. I've checked several times and seems it's happening always with P143. I set the schema to produce:

[code]

But it also generates an extra line
[code]

And no, there

[2022-01-14 15:44] wetneb commented on #4432
Nice, I am curious to understand your hack to get this to work! Expect soon a native support for Commons which should hopefully make things easier for you. But this bug could potentially be independent of Commons support, so it would be worth investigating nonetheless.

[2022-01-14 16:01] olea commented on #4432
The hack is trivial: just conciliate the M's column as Wikidata id's.
Obviously you can't use the OR Wikidata features as links or uploading to
Wikibase but the exported quickstatements code works flawlessly.

Check the example project. It's just a hack but is doing the work. I'm
preparing a 34K rows project without other problem than this report (not
counting I can't use the QuickStatements api.p

[2022-01-14 16:05] olea commented on #4432
Just verified it happens in v3.5.0 too.

[2022-01-18 12:51] #4181 closed

[2022-01-18 12:58] #3955 closed

[2022-01-18 13:07] wetneb opened #4440 "Flaky integration test in cypress/integration/project/grid/viewpanel-header/sort.spec.js"
Our test suite regularly fails when running `cypress/integration/project/grid/viewpanel-header/sort.spec.js` and that happens even for unrelated changes. We should look into why this test is flaky and fix it.

[2022-01-18 20:58] ajs6f commented on #4423
This bit me. I found the issue linked to be poor documentation. I had to trial-and-error various combinations of settings to get the behavior I wanted (exposure on 0.0.0.0 for a server-hosted instance). I could not get my desired behavior to happen using `refine.ini`, only using the `-i` flag, which is inconvenient. Documentation would be appropriate, and if this change reduces the capability of `

[2022-01-19 08:22] wetneb commented on #4423
@ajs6f thank you for the feedback! If you feel like giving concrete suggestions of how the documentation should be improved, that might help any prospective contributor to have a go at it.

[2022-01-19 08:25] #4189 closed

[2022-01-19 08:39] #4067 closed

[2022-01-19 15:44] ajs6f commented on #4423
Give two use cases: single operator (localhost only), server-based install exposed on a single interface. Show example `refine.ini` configuration for both. If that is impossible because `refine.ini` can no longer be used for one case or the other, explain that and give sample CLI invocations for both cases.

[2022-01-19 16:21] wetneb commented on #4423
Thanks! Marking this as a good first documentation: this should be a documentation-only pull request, no code change should be required.

[2022-01-19 17:36] #3590 closed

[2022-01-19 22:41] wetneb commented on #4440
Now the new reconciliation tests are also flaky.

[2022-01-20 00:40] #4269 closed

[2022-01-20 15:32] #4440 closed

[2022-01-21 03:39] thadguidry opened #4452 "Add documentation (and screen snippet) of new "Go to page" feature"
We forgot to close an old issue and update the documentation for the new "Go to page / Jump to page" feature kindly done by @antoine2711

### Current Results
There is no documentation for the new "Go to page - Page number" input box feature in the "Grid" section of docs - https://docs.openrefine.org/manual/running#the-grid

### Expected Behavior
Have a paragraph that describes:
- Changing numbers

[2022-01-21 03:39] thadguidry commented on #571
Closing as this has been available since OpenRefine 3.5
In the input box for page number, you can also use up/down arrow keys to advance/reverse the page numbers in addition to using mouse clicks on next/previous etc.
Need to document that so... new issue #4452

[2022-01-21 03:39] #571 closed

[2022-01-21 07:59] wetneb commented on #4452
It is not really clear to me how much documentation this actually requires - the UI seems fairly intuitive to me, no? I am not opposed to adding one or two sentences about it but I think we should not over-do it either.

[2022-01-22 11:35] #4384 closed

[2022-01-22 17:38] wetneb opened #4456 "Fix test failures for the Wikidata extension with Java 17"
The tests for the Wikidata extension fail with Java 17 on the CI:
https://github.com/OpenRefine/OpenRefine/runs/4908006956?check_suite_focus=true
This should be fixed.

[2022-01-22 18:14] thadguidry opened #4457 "Update all dialogs to have a consistent design regarding Cancel/OK buttons"
### Proposal
Most applications typically have OK button in dialogs in a lower right corner.  This has become nearly an industry norm in application designs.

OpenRefine should have a consistent design of button orders regarding Cancel / OK.

### Needed Design Changes in frontend
- Change OpenRefine's dialogs to have a consistent design of button ordering regarding Cancel / OK.
- In dialogs, the OK

[2022-01-22 21:49] wetneb commented on #4457
I agree it is worth making sure this is uniform but I would double check first what the other dialogs do (I do not think it is the norm to have "the OK on far left (other buttons in between) and then any Cancel on the far right.")

[2022-01-22 21:54] thadguidry commented on #4457
@wetneb I checked many; even our cell edit dialog.

[2022-01-22 22:15] #4113 closed

[2022-01-23 07:18] antoine2711 commented on #4457
On the Mac, the OK button is always on the far right, and other buttons go on the left from there.

Also, the Ok, when triggered by RETURN key, is in a different style.

Regards,
   Antoine

[2022-01-23 09:14] wetneb commented on #4457
I feel like this is the sort of de-facto standard everywhere else, and would support normalizing OpenRefine to that.

[2022-01-23 10:08] wetneb commented on #4456
That is because we actually still have PowerMock test cases there…

[2022-01-23 14:31] thadguidry commented on #4457
I also agree on normalcy of OK button on the right.  Let me update the proposal.

[2022-01-23 15:39] wetneb commented on #4457
Thanks for updating the issue, @thadguidry! Are you sure about this though?

I would rather expect the Cancel button be next to the OK button (to its left, no?)

[2022-01-23 15:47] thadguidry commented on #4457
@wetneb Ah yes.

[2022-01-24 08:35] wetneb commented on #1017
This bug is regularly mentioned, for instance here: https://stackoverflow.com/questions/70825573/underscore-and-dash-in-column-names-after-json-import/70830984#70830984.

[2022-01-24 09:09] jquartel commented on #2201
I'm not especially familiar with the full hierarchical structures of JSON, but the tables I've been importing lately are a straightforward key:singleValue style (with every record having the same set of keys) so I expected them to come into an OpenRefine project just as if I'd imported a CSV. So this is just to say that I support whatever option might need to be added to have this work without add

[2022-01-24 22:16] #4456 closed

[2022-01-25 08:11] MPParsley opened #4463 "GitHub API rate limit exceeded"
### To Reproduce
Steps to reproduce the behavior:
Open the application.

### Current Results
GET https://api.github.com/repos/openrefine/openrefine/releases/latest
Failed to load resource: the server responded with a status of 403 ()

[code]

I assume this request is to display the
I suppose there's no safe way to configure the GitHub API token as it's a client request from the browser?

### Expec

[2022-01-25 08:19] wetneb commented on #4463
We should probably not be hitting the GitHub API directly, to check if a new version is available. We should rather host a JSON file on openrefine.org (which is also served by GitHub, sure, but is not an API and therefore not rate-limited in the same way I expect), and check it from there.

[2022-01-25 08:34] wetneb commented on #4302
The test suite is not meant to be run in one go locally. Running tests individually is the way to go.

[2022-01-25 08:34] #4302 closed

[2022-01-25 08:36] wetneb commented on #4287
This should be solved now, but we might need more documentation about how to write a manifest using the new format, for the federation scenario to be exposed properly.

[2022-01-25 08:39] wetneb commented on #4168
Marking this as a good first issue although I have not reproduced it myself. The first step to solve this issue would be to check if this can be reproduced.

[2022-01-25 08:52] wetneb commented on #4082
We should just remove support for JSONP and use plain JSON. This will require updating the frontend too.

[2022-01-25 08:53] wetneb commented on #4079
It might be easier to upgrade to a newer version of Jetty now that we are extracting the Spark integration as a dedicated extension.

[2022-01-25 09:03] wetneb commented on #3515
This could also be the occasion to check for available RAM, which we currently do in the launcher script. By doing it in the backend we could make this information more visible to the user (displayed in the frontend) and get rid of system dependencies.

Mentioned on the mailing list:
https://groups.google.com/g/openrefine-dev/c/eJbPPYnqJiw/m/_iQqCOdbAwAJ

[2022-01-25 09:27] wetneb commented on #3316
This test has been passing reliably in the Windows and Linux CI, so closing this.

[2022-01-25 09:27] #3316 closed

[2022-01-25 09:44] wetneb commented on #3250
I tried reproducing this and no longer get a 404 error, the translations for the database exporter just load fine here.

[2022-01-25 09:44] #3250 closed

[2022-01-25 09:46] wetneb commented on #3199
This was solved by dropping the codesigning process. We need to reintroduce it properly by using our CI to do the entire packaging process on Mac.

[2022-01-25 09:46] #3199 closed

[2022-01-25 09:55] wetneb commented on #1929
This is no longer on my radar since I did not end up using Parquet as a storage format for project files. The main rationale behind this is that it is much simpler to use a text-based format, which can easily be implemented in all executors. We could still investigate if it is worth switching to Parquet though! (in a backwards-compatible way)

[2022-01-25 10:02] wetneb commented on #1533
This is something I have been doing for some time: when introducing a new format to serialize objects, keep a test to ensure we still support the old format. I try to also request it in pull requests that I review.

But I do not think there is much scope for adding new tests retrospectively: the serialization formats have been pretty stable throughout 2.x and 3.x.

The particular PR that motivated

[2022-01-25 10:26] wetneb commented on #4334
Duplicate of #3241 (but I still hope to be working on this soon!)

[2022-01-25 10:26] #4334 closed

[2022-01-25 10:29] wetneb commented on #4121
Hi @mattzeeee, are you still working on this?

[2022-01-26 11:02] IMPranshu commented on #4452
@thadguidry sir, I would like to contribute to this project. I understand that we are trying to document https://github.com/OpenRefine/OpenRefine/issues/2638 this feature in the documentation.

[2022-01-26 11:06] wetneb commented on #4452
Thanks for volunteering!

[2022-01-26 12:40] IMPranshu commented on #4452
I was going through the repo. I think I have to follow https://github.com/OpenRefine/OpenRefine/tree/master/docs these instructions in order to start building the docs. Any advice?

[2022-01-26 15:07] IMPranshu commented on #4452
@wetneb I have tried to implement the above in #4469. please check.

[2022-01-26 18:38] nicholas-otto commented on #4457
Hello, I would love to be assigned to this issue. I am in a class in university that requires several open source contributions as a part of the curriculum and feel that I would be able to apply myself well here.

[2022-01-26 19:06] wetneb commented on #4457
Thanks for volunteering, the floor is yours!

[2022-01-27 13:49] trnstlntk opened #4472 "Prevent users from uploading duplicate files to Wikimedia Commons"
In some cases, people who use OpenRefine for uploading new files to Wikimedia Commons will not be aware that (some of) these files already exist on Wikimedia Commons. This may happen, for instance, in cases where a cultural institution (GLAM) wants to do a batch upload to Commons, where previously a volunteer may already have found and uploaded (some of) their files there, or vice versa.

### Prop

[2022-01-27 23:07] devyzr commented on #3277
Had a similar issue on Linux, using Open Refine 3.5.2 on Ubuntu 20.04.03. There were no non-ascii in my workspace directory, it is  /home/coconut/.local/share/openrefine. I didn't have any non-ascii characters in my title either, only alpha-numeric and lower case characters. I had to delete my entire project folder and then restart open refine and my browser to get this to stop happening.

[2022-01-28 16:27] thadguidry commented on #3877
@wetneb Somehow the ui.browsing.pageSize preference is still not showing available only since 3.5 in the [current docs](https://docs.openrefine.org/manual/running#preferences) and [/next/ docs](https://docs.openrefine.org/next/manual/running#preferences).

[2022-01-28 19:22] #4452 closed

[2022-01-29 05:48] thadguidry commented on #3819
@wetneb The CI doesn't seem to be detecting the broken links actually.  We still have a few on our docs site.

My local testing with `yarn build` exposed the following (which I have created PR #4475 to fix
[code]

Do you want to reopen this issue?
There's some good info here:
https://docusaurus.io/docs/deployment#deploying-to-netlify
https://docusaurus.io/docs/api/docusaurus-config#onbrokenlinks

[2022-01-29 16:08] wetneb commented on #2338
I have made some progress on this:
First I have adapted the existing Eclipse style file to better match the current state of the source code, so that applying it makes minimal changes to the code base.
Then I have run linting both on the master and 4.0 branches, merging master into 4.0 before and after.

I have made a small test which consisted in editing a part that was affected by the linting bu

[2022-01-29 16:47] #2338 closed

[2022-01-29 17:26] thadguidry opened #4477 "Documentation warnings with yarn caniuse-lite browser library"
Locally and in our Netlify CI/CD there are warnings about updating caniuse-lite that are distracting.

### To Reproduce
Steps to reproduce the behavior:
1. `cd docs`
2. ` docusaurus write-translations && yarn build`

### Current Results
[code]

### Expected Behavior
caniuse-lite should be maintained as updated (helps a bit for Docusaurus with JS and polyfills) as explained in https://github.com/br

[2022-01-29 18:11] #4477 closed

[2022-01-29 20:00] thadguidry commented on #3819
@wetneb hmm, how the hell can we see that onBrokenLinks actually triggered (or ran) in our CI/CD ?  I must be looking at Netlify wrong or something's not logging correctly?

[2022-01-29 21:23] wetneb commented on #3819
As far as I can tell it does work, for instance in this run from one of your recent PRs:
https://app.netlify.com/sites/openrefine-docs/deploys/61f4d31a6ca34500074172f4
(Note that this feature only checks for internal broken links, so all the ones that started with `https://docs.openrefine.org/` were not checked, and this is expected.)

[2022-01-29 21:37] thadguidry commented on #3819
@wetneb OK then.  And as far as you are aware, our Netlify config is OK?  I.E. we don't need to change anything that is concerned in that Red warning box in Docusaurus docs about Netlify deploy? https://docusaurus.io/docs/deployment#deploying-to-netlify

If no, we don't need to change anything for Netlify currently... than we can close this issue now I guess, since there's nothing more to do here?

[2022-01-30 02:16] #3819 closed

[2022-01-30 13:03] kristbaum commented on #1445
Hi there!

I've tried to create and test a snap package [here](https://github.com/kristbaum/OpenRefine/blob/master/snap/snapcraft.yaml). It woks good so far, but more testing is always good. I've also created an unlisted snapcraft.io storepage [here](https://snapcraft.io/openrefine).

A pull request with the snapcraft.yaml file could be created (it needs to be in a top-level folder called snap, do

[2022-01-30 14:00] wetneb commented on #1445
That is absolutely amazing, thank you so much for doing this!

I would be up for turning that into an official image. Either by including the `snap` directory in this repository, or another one in our organization to avoid cluttering our root directory further (or is the snap name taken from the repository name?).

[2022-01-30 14:17] thadguidry commented on #1445
@kristbaum I've reviewed it and tested.  I agree with @wetneb that we should make this an official snap.

There's a few things that come to my mind:
1. such as our defaults for the openrefine workspace.  It might not work on **all** distributions that's for sure.  But that's something we can resolve much later as/if we get reports.

2. the snap categories - Select up to two store Categories where

[2022-01-30 14:41] wetneb opened #4480 "Transform all cells in a single operation"
We currently have a dialog in the `All` menu to transform all cells.
This is nice but has the following downsides:
* it creates one entry per column in the history, which can be impractical for projects with many columns, and that does not reflect the steps the user did on the UI
* the grid and facets are refreshed once per operation applied, which means that if you are using this on a project wit

[2022-01-30 14:51] wetneb commented on #4480
That being said, we could want this for other operations: fill down, blank down… So I wonder if creating a new operation for each of those is really the way to go: I would wish for a more principled approach.

[2022-01-30 15:05] wetneb opened #4481 "Variable columnNames is not available in Jython"
The variable columnNames is not available in Jython, whereas it is available in GREL. It is useful to iterate over all cells in a row, for instance with this expression:
`forEach(row.columnNames,cn,cells[cn].value)`
(see https://groups.google.com/g/openrefine/c/gV0bLUz7p7o)

### Proposed solution

We could make this variable available in Jython too.
It would also be good to [document](https://docs

[2022-01-30 15:30] kristbaum commented on #1445
Adding the snapcraft.yaml in another repository would be no problem, as of now it is integrated with my fork and builds every time a new commit happens.
So if the file were to be used in another repo upon a new release a build should be manually triggered, or some webhooks could be set up to automate this. Also the Version number needs to be changed manually, which could also be automated afaik.
D

[2022-01-30 15:36] kristbaum commented on #1445
As of now every automatic build of the release is added as edge automatically and can be promoted to stable manually.

done.

Do you have any specific values that should be added? The icon is only added to the store listing as of now, but it shouldn't make much of a difference if it were added to the metadata in the folder. Unless you would want to create a real launcher icon, then it needs to be

[2022-01-30 16:27] thadguidry commented on #4480
If we step back a bit, knowing that OpenRefine was designed as a power tool for batching together lower level operations...I think it's higher level operations (transforms or call them "use cases" if you prefer) that we are missing.  Fill down, blank down, etc. are indeed useful in their own right (sometimes folks do indeed want to unkey a bunch of rows, for instance; btw, that was my original use

[2022-01-30 16:27] wetneb commented on #1445
Then it sounds like it would be easier with this repository, we could try that first.

[2022-01-30 16:32] thadguidry commented on #1445
Agree, let's use this repo.

[2022-01-30 16:56] thadguidry opened #4483 "Idea to add better and new Selection Labeling for Rows/Records (not only Star and Flag)"
Allow an easier interface for an indexable approach for row/record selections (not only Star and Flag)
For example:
I  want to select some rows/records
then assign a label or number to that selection of rows/records

Currently this is limiting, and cumbersome since I need to actually create lots of additional columns to keep track of labeled rows.
### Proposed solution
I could imagine a new column

[2022-01-30 20:27] pabloab commented on #1445
It's an excellent news to have a snap build! But considering [its great controversies](https://hackaday.com/2020/06/24/whats-the-deal-with-snap-packages/)  I wouldn't choose it as an ̣_official image_. I would go for hopefully future  Flatpak build instead, which is the preferred choice for almost everyone except Canonical.

[2022-01-30 20:39] kristbaum commented on #1445
Couldn't there be more than one official image? The downloadable zip file, a snap package and if somebody creates it a flathub package? Official can just describe coming from the official repository, not packaged by a third party.

Am 30. Januar 2022 21:27:11 MEZ schrieb Pablo ***@***.***>:

[2022-01-31 10:34] wetneb commented on #1445
Absolutely, we could totally add an official flatpak image too (we already have four different official builds across 3 platforms).

[2022-01-31 11:26] isabelgalanb commented on #3919
Hi, I've just download release 3.5.2 and looks like the problem persists.
Anybody knows in which release it will be solved?

Thanks.

[2022-01-31 16:30] thadguidry opened #4485 "stream not closed if dbextension.properties is customized and secured via another user acccount"
If `dbextension.properties` is customized and given alternate permissions, than while attempting a stream of file, an exception is logged but the stream isn't effectively closed.

### To Reproduce
Steps to reproduce the behavior:
1. Change permissions on dbextension.properties

### Current Results
stream is left open

### Expected Behavior
stream should be autoclosed with newer try with resources

[2022-01-31 18:54] wetneb commented on #3919
Hi!

Unfortunately we do not know: it will not be solved until someone contributes a fix for this issue. I understand this is an important issue for many people, so I am adding this high priority tag hoping that it will attract contributors, but that does not guarantee anything of course.

[2022-02-01 12:27] Abbe98 commented on #4463
@wetneb a short-term migration might be to set a User-Agent header as a part of the request, which should allow one to make 5000 requests per hour I think.

[2022-02-01 12:35] wetneb commented on #4463
Since this request is made by our web frontend I am not sure we have control over the User-Agent there - but if that works, why not!

[2022-02-03 07:58] #3381 closed

[2022-02-03 11:42] kieranjol opened #4498 "Exporting 'Extract operation history' as JSON"
Currently if I want to export the Extract Operation History list of actions, I manually copy paste the JSON and save as a .json file. Would it be possible to add an Export button with a traditional 'save as' dialog?

[2022-02-03 17:15] #4485 closed

[2022-02-04 16:03] wetneb commented on #4301
This could also be considered for our other binning strategy: binning. In this case, the expression would take a single argument (the value being clustered) and return its corresponding bin. Perhaps that is actually easier to start with.

[2022-02-04 17:25] thadguidry commented on #4301
Note: Our Key Collision method to users is also known as our Binning method.

[2022-02-05 15:50] wetneb commented on #2443
I have proposed this as a potential Outreachy project (and maybe GSoC if we participate to that as well). This means I think it should be a good topic for a 3 months internship. This is therefore not suitable as a first issue: have a look at [our list of good first issues](https://github.com/OpenRefine/OpenRefine/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22) instead.

[2022-02-05 15:54] wetneb commented on #1212
I have proposed this as a potential Outreachy project (and maybe GSoC if we participate to that as well). This means I think it should be a good topic for a 3 months internship. This is therefore not suitable as a first issue: have a look at [our list of good first issues](https://github.com/OpenRefine/OpenRefine/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22) instead

[2022-02-05 15:55] wetneb commented on #4301
I have proposed this as a potential Outreachy project (and maybe GSoC if we participate to that as well). This means I think it should be a good topic for a 3 months internship. This is therefore not suitable as a first issue: have a look at [our list of good first issues](https://github.com/OpenRefine/OpenRefine/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22) instead.

[2022-02-05 18:44] thadguidry commented on #2443
Some possible libraries:
1. Plain Java with `PropertyResourceBundle` (Since Java 9+ it can handle reading UTF-8 encoding) https://www.baeldung.com/java-resourcebundle
2. Rincl might be able to help here (and uses ICU4J).  It's Apache 2 licensed and I've reached out to the author to see what's up. https://rincl.io/
3. Localizer library like Jenkins uses? https://www.jenkins.io/doc/developer/interna

[2022-02-07 12:55] wetneb commented on #3128
This is now solved by migrating out of PowerMock.

[2022-02-07 12:55] #3128 closed

[2022-02-07 14:22] #3944 closed

[2022-02-07 14:23] wetneb commented on #3341
We do not use the `set-env` command anymore, the structure of our CI has evolved a lot since this ticket.

[2022-02-07 14:23] #3341 closed

[2022-02-07 14:27] wetneb commented on #3705
Now that we have migrated away from `pull_request_target` to `pull_request`, this should be easily solvable: we no longer need manual checks for pull requests being up to date with master, so we can mark all steps as not being mandatory. If any of the checks fail, it will still mark the pull request as failing CI, which is enough feedback for the maintainers.

[2022-02-08 08:35] #4358 closed

[2022-02-08 09:06] wetneb commented on #3705
I have checked is #4504 that this is solved.

[2022-02-08 09:06] #3705 closed

[2022-02-08 15:14] #4333 closed

[2022-02-08 15:19] wetneb opened #4507 "Run MacOS packaging in CI, on MacOS"
With our current setup, we can generate the `.dmg` artifact for MacOS on Linux, but it is not compressed, and the only way to compress it (as far as I know) is to do that inside a MacOS VM. Furthermore, we want to sign the MacOS build, and that can also not be done on another platform.

### Proposed solution

Our MacOS build should be generated inside the CI, by a runner running MacOS. We should t

[2022-02-08 19:44] wetneb opened #4511 "Running OpenRefine on Windows without Java points to Oracle website"
When running OpenRefine without Java on Windows, users are redirected to https://java.com/en/download/manual.jsp, which proposes to download Java 8. That is a bad idea, since OpenRefine 3.6 will not be compatible with Java 8 anymore (only Java 11+).

We should consider updating this link (if it is possible) and changing it to a user-friendly alternative.

[2022-02-08 22:04] thadguidry commented on #4511
As well as update our link for setting up JDK in our technical docs:
https://docs.openrefine.org/technical-reference/build-test-run#set-up-jdk

I am absolutely OK to point users to OpenJDK https://openjdk.java.net/
or directly to the latest GA (General-Availability) release of JDK which it links to currently here https://jdk.java.net/17/

JRE is no longer "built" by Oracle for consumers and stoppe

[2022-02-08 22:08] thadguidry commented on #4511
Or better yet... which is what Microsoft is doing...pointing folks to this:  https://adoptopenjdk.net/
They do this in their Azure stack as well as directly in some of their products like VSCode etc.

[2022-02-09 03:07] garretwilson commented on #2443
Hi, all. @thadguidry got in touch with me as he mentioned. I'm excited that you found my library, [Rincl](https://rincl.io/). Let me try to put it in context so you can make an informed decision.

First off, if you go the low-level `PropertyResourceBundle` route, you'll still need to deal with lots of infrastructure stuff, like loading the info, exposing the data through some API, overriding value

[2022-02-09 13:50] MPParsley opened #4513 "Add support for multitenancy"
At the moment OpenRefine is running under one user.

### Proposed solution
It would be useful to have support for multitenancy.

### Alternatives considered
Perhaps there's already a plugin that provides this information.

[2022-02-09 16:30] wetneb commented on #4513
I would be interested to know what @MPParsley has in mind with multitenancy - this could mean a lot of different things! Could you expand on the use case you are thinking about?

[2022-02-10 09:52] wetneb opened #4516 "Embedded Maven does not work on Mac"
### To Reproduce
Steps to reproduce the behavior:
1. First, clone the repository on Mac
2. Then, install Java
3. Finally, run `./refine`

### Current Results
The `./refine` script fails to download and run Maven.

### Expected Behavior
OpenRefine should compile and run.

### Versions
 - Operating System: MacOS
 - JRE or JDK Version: 17
 - OpenRefine: master branch

### Additional context
Not exper

[2022-02-10 11:46] wetneb commented on #3383
In the context of the Wikimedia Commons integration project, we have updated Wikidata-Toolkit to a new version, which breaks the limited deduplication of statements we had, so I am going to build it back better, more configurable.

[2022-02-11 09:43] rajaram5 opened #4518 "Creating RDF documents as one of the core functionalities"
Hello,
I am a software developer/data architect. I am involved in many research projects where we carry out data uplifting activities. Our activities including converting source data into `RDF`. We use `openrefine + rdf extension` to create RDF documents in our project. I wonder if there is a plan for the `openrefine team` to support creating RDF documents as one of the core functionalities of ope

[2022-02-11 10:27] andrawaag commented on #4518
In the [past](https://moh-it.pure.elsevier.com/en/publications/the-fairification-of-data-and-the-potential-of-fair-resources-dem) I worked with @rajaram5 on making data FAIR using Open Refine with an extension. I agree with Rajaram that making this functionality core to OpenRefine would be a major enhancement.

[2022-02-11 10:29] ostephens commented on #4518
Would this be served by including the RDF extension as part of the OpenRefine distribution or is this a request for different functionality to the current extension?

[2022-02-11 10:32] rajaram5 commented on #4518
To start with it would be good idea to include RDF extension as part of OpenRefine distribution with some UI fixes to the RDF skeleton of RDF extension

[2022-02-11 13:13] ostephens commented on #4518
I tend to agree with your view @wetneb - if we could deliver a good "extension management" that could be controlled by the user then the question of what was 'core' and what was not would become much less of an issue generally and that would be a better approach than just bringing all useful extensions under central maintenance

My only point against this is that adding the RDF extension to the di

[2022-02-11 13:34] wetneb commented on #4518
Unfortunately, even if @stkenny agrees to maintain the extension as he is doing now, it does change quite a lot of things:

Say I want to introduce a breaking change in some API (for instance the change of JSON serialization from org.json to Jackson, to take a dramatic example). I cannot introduce it in OpenRefine without also updating the RDF extension in the same go, otherwise the CI build for t

[2022-02-11 16:11] thadguidry commented on #4518
Nothing more to add to @wetneb comments.  He's spot on with the direction that we should approach for both extension authors, our users, and our maintainers.

[2022-02-11 18:01] andrawaag commented on #4518
As much as I agree with the Idevops_ points discussed so far, there is another angle I would like to add to the discussion. From a user perspective, navigating the version control between Openrefine and its extensions can be complicated at times. Each extension will need to be updated which each new release of open refine. Then there is the recent development where Open Refine (and other packages)

[2022-02-11 18:57] thadguidry commented on #4518
@andrawaag
If we developed a feature where an Extensions manager could install extensions over the internet if users were given a dialog prompt to allow installing over the internet or not...
1. Do you foresee issues where the UX of the Extensions manager showed which extensions were compatible (regular text - checkbox is available to install them ) and which were not (greyed text - no checkbox to

[2022-02-11 22:41] wetneb commented on #4058
Removing the good first issue tag given the concerns raised in #4510.

[2022-02-12 07:21] wetneb opened #4521 "JREs downloaded at build time in Maven reactor"
When doing `./refine build`, the JREs are downloaded, whereas this should only be done for packaging (`mvn package` or `./refine dist`).
This should be fixed.

[2022-02-12 09:18] stkenny commented on #4518
Unfortunately I think having a vibrant ecosystem of extensions, whilst also keeping the ability to rapidly introduce breaking API changes may well be mutually exclusive. At a minimum the extension developers will need some notice of what needs to be changed.

Other than the Jackson change the RDF extension hasn't really changed much since it was forked from Fadi Maali's repository. It has really j

[2022-02-12 09:59] nicktz1408 commented on #4498
Hello, I would be interested on working on this!

[2022-02-12 10:05] wetneb commented on #4518
I have tried to provide [migration guidelines](https://github.com/OpenRefine/OpenRefine/wiki/Migration-guide-for-extension-and-fork-maintainers) in the past and am very keen to know how it can be done better.
It would really help me to have concrete feedback on this!

Also, making it easier to install extensions and detect their incompatibilities with OpenRefine is likely to require some breaking

[2022-02-12 15:35] nicktz1408 commented on #4498
I have pushed some code! What are the next steps?

Thanks! :)

[2022-02-12 17:23] wetneb commented on #2999
Those deletions were actually normal: when an item already has duplicated statements, editing it deleted those additional statements. This is no longer the case with the new Wikidata-Toolkit API (which has no deduplication anymore), so we can close this. I am reimplementing deduplication in a more configurable was on OpenRefine's side in #4520.

[2022-02-12 17:23] #2999 closed

[2022-02-12 17:26] wetneb commented on #3211
Duplicate of #4269, which has been implemented already.

[2022-02-12 17:31] wetneb commented on #4143
I propose we move this to the repository for the extension, where this should be implemented:
https://github.com/OpenRefine/CommonsExtension

[2022-02-12 20:20] #4498 closed

[2022-02-12 20:53] wetneb opened #4525 "Fully rename the Wikidata extension into the Wikibase extension"
The Wikidata extension has been generalized to work with third-party Wikibase instances.
But there are still a couple of places where Wikidata is mentioned but it should really be Wikibase:
* The extension menu (in the top right corner of the project screen)
* The directory `extensions/wikidata` in the repository should be `extensions/wikibase`
* The namespace `org.openrefine.wikidata` should be `

[2022-02-12 21:39] #4521 closed

[2022-02-12 22:22] wetneb commented on #4525
There are also a lot of references to Wikidata in the translations of the Wikibase extension, they should also be cleaned up.

[2022-02-12 22:44] wetneb commented on #4415
Runing `mvn install` on Windows should now fail much later, at the packaging stage. Hopefully that already helps a little bit, since the interesting artifacts to install (the jars) should have already been installed at that stage.
Now it should just be a matter of skipping the attachment of the `dmg` artifact when run on Windows (since it can only be produced on Mac and Linux).

[2022-02-12 22:53] kieranjol commented on #4498
Oh wow amazing, thank you! Can’t wait to try this out!

[2022-02-12 22:57] wetneb commented on #4498
If you literally cannot wait then we have snapshot releases for you: https://github.com/OpenRefine/OpenRefine-snapshot-releases/ (not that the Google integration does not work in them yet).

[2022-02-13 07:21] rachittiwari8562 commented on #4299
I have tweaked the ui a little bit . Does it look fine?
![Screenshot from 2022-02-13 12-50-17](https://user-images.githubusercontent.com/54476275/153743245-bcdab71e-cafc-4f88-a2fa-bffc7a94dfd0.png)

[2022-02-13 07:24] rachittiwari8562 commented on #4299
I think both of the options should be connected as when the user is trying to enter the column names himself , then the parse next   checkbox should be turned off .

[2022-02-13 07:56] wetneb commented on #4299
I absolutely love it!

[2022-02-13 14:16] thadguidry commented on #4299
Maybe the Use character could be moved above the Trim ?

[2022-02-13 17:23] rachittiwari8562 commented on #4299
![Screenshot from 2022-02-13 22-51-04](https://user-images.githubusercontent.com/54476275/153766731-51bdabcf-5566-4ebe-95f8-0eeaa74d1293.png)

Does this fulfil the requirement...?

[2022-02-14 14:17] rachittiwari8562 commented on #4299
In addiion to this I have tried to add some visual seperation between the 3sections .
![Screenshot from 2022-02-14 19-44-36](https://user-images.githubusercontent.com/54476275/153880720-dc367a81-51ac-41a0-aeaf-5a0534de150a.png)

Should I move forward with this design or revert to back to previous one..

[2022-02-14 15:52] thadguidry commented on #4299
@rachittiwari8562 The visual separation is optional and we don't have that in the other import loaders so I would remove those vertical section separators here in the CSV importer for now.  Then I think we can merge.  There are many many things that visually I would like to see changed and restyled throughout OpenRefine, but first we need a comprehensive plan and that will likely come after or alo

[2022-02-15 09:17] #4299 closed

[2022-02-15 09:35] #4119 closed

[2022-02-15 16:26] TomM2020 commented on #3692
@ostephens

Sorry to be so late to this discussion but I am experiencing the same problem! I increased my imac to 6gb (of 8) for OpenRefine and am trying to process 1000 records at a time but it's incredibly slow. What I am attempting to do is parsing just the thumbnail urls from IIIF manifest json files - so, fetching the urls and then using value.parseJson()['thumbnail'] as in this link:

https:

[2022-02-15 16:41] TomM2020 commented on #3692
Hi Owen, thank you for your prompt reply! It is just very slow to process 1000 urls. I haven't tried the same action on a Windows machine - I can try next time I'm in the office.

[2022-02-15 16:44] wetneb commented on #3692
In the meantime, I have improved the packaging process so that the latest JRE gets download at release time automatically. So if what @TomM2020 is experiencing here is indeed due to an old JRE, I would be curious to know if the problem persists with a recent snapshot of the development version, that can be downloaded here: 
https://github.com/OpenRefine/OpenRefine-snapshot-releases

[2022-02-15 18:26] Keetna commented on #4481
Hi @wetneb  , Im new to opensource . Could you assign this task to me and assist me to get cleared on my first issue? Thanks.

[2022-02-15 19:18] wetneb commented on #4481
Hi @Keetna, thanks for volunteering!
We have a guide for new contributors here, let me know if you get stuck at any stage:
https://docs.openrefine.org/technical-reference/contributing#your-first-code-pull-request

[2022-02-16 10:15] TomM2020 commented on #3692
Dear Owen and Antonin

Many thanks for this - I will post more details and context on the google groups. My version of OpenRefine is 3.2 so I should definitely upgrade. Maybe this is at least part of the problem.

Best wishes
Tom

[2022-02-17 04:34] hughlilly opened #4539 "Make "Using facets and filters" dismissible"
I'd like to be able to dismiss the "Using facets and filters" modal, which appears in the sidebar.

### Proposed solution
This would be a per-project setting; if a user dismisses the message for one project and starts a new one, the message would reappear on the new project. A small "x" in the left corner would suffice as an interface element, in my opinion.

### Alternatives considered
I realise

[2022-02-17 04:43] thadguidry commented on #4539
If I understand this correctly, you want a small X (close) in the upper right , to the top right of the blue diamond that would remove the text message square?
What kind of problem is it causing you? Curious.

[2022-02-17 04:53] hughlilly opened #4540 "Chevrons not rendered correctly in "undo" notification"
Chevrons (`«»`) are not rendered correctly in the "undo" notification.

### To Reproduce
1. Run the "Replace smart quotes with ascii" common transform on a text column
2. Observe that the "undo" notification contains replacement characters instead of chevrons

### Current Results
Chevrons appear in the history list OK, but not in the "undo" notification, which times out and disappears.

### Expect

[2022-02-17 04:55] hughlilly commented on #4539
Yes, that's (mostly) correct—my preference for the placement of the 'x' would be the upper left corner.

It's purely a visual distraction, that's all. It would be nice if I could dismiss it so as to more easily concentrate on using the product. I see it as part of a "tour" of how the software works, but now that I'm familiar with it, I don't need to see this kind of element/message over and over.

[2022-02-18 07:06] #3818 closed

[2022-02-18 07:14] wetneb opened #4546 "Invalid URL detection in cell UI"
Sometimes the cell UI gets URL boundaries wrong.

### To Reproduce
Create a project and put the following string in a cell:
[code]

### Current Results

![image](https://user-images.githubusercontent.com/309908/154635358-97b4b3c6-1045-4814-ad6d-bd4dcc9cee25.png)

### Expected Behavior

The URL should not continue on the following line.

### Versions
 - Operating System: irrelevant
 - Browser Versi

[2022-02-18 16:35] #4233 closed

[2022-02-18 16:39] #2116 closed

[2022-02-18 16:39] #3383 closed

[2022-02-18 16:39] #4130 closed

[2022-02-18 16:42] wetneb commented on #2116
This should be in the forthcoming release (3.6). In the meantime, feel free to use our [snapshot releases](https://github.com/OpenRefine/OpenRefine-snapshot-releases/#snapshot-releases) to try it out and tell us if you see ways to improve it.

[2022-02-18 16:42] wetneb commented on #4130
This should be in the forthcoming release (3.6). In the meantime, feel free to use our [snapshot releases](https://github.com/OpenRefine/OpenRefine-snapshot-releases/#snapshot-releases) to try it out and tell us if you see ways to improve it.

[2022-02-19 07:49] #3578 closed

[2022-02-19 20:58] WaltonG commented on #4168
Hi @wetneb am learning OpenRefine fuctionalities and codebase. Would like to work on this issue.

[2022-02-20 14:05] andrawaag opened #4552 "Prevent string matching only in Open Refine when adding to Wikidata."
I am often faced with OpenRefine edits in Wikidata which were clearly caused by string matching only. I know that Open Refine suggests possible semantic types, but it is rather easy to ignore those facets and move forward by disambiguation on strings only. Here is an example: https://www.wikidata.org/w/index.php?title=Q29733890&type=revision&diff=1246714572&oldid=1237282345 When using OR 3.4 an it

[2022-02-20 14:35] egonw commented on #4552
Yes, very much seconded. Matching data based on String matches only works if you are 100% it is about exactly the same thing, and that rarely is the same (not even for drugs). Over the years I have done quite some data curation because of linking data based on string matches. If a string match is the only reason to "refine", I recommend a strong warning: "OpenRefine is not responsible for inaccura

[2022-02-20 15:10] WaltonG commented on #4168
@wetneb The issue can be reproduced. The exported sql statements do not include the uid field (primary key). On executing the statements in a database, the initial column is empty
![image](https://user-images.githubusercontent.com/52596583/154849252-47fcb873-aa84-4d77-80dd-9324decaf1a7.png)

![image](https://user-images.githubusercontent.com/52596583/154849320-583deb98-5ce8-4884-983d-342331300066.

[2022-02-20 16:33] thadguidry commented on #4552
I think there might be several reasons as to why this happened.

I don't think we can quickly jump to conclusions about string matching only for that upload.  I myself would love to know more details about the reconcile itself that the user did and tied to the edit but that isn't part of the batch uploads to the service currently (for instance poking around or looking at the [catalog upload](https

[2022-02-20 16:38] wetneb commented on #4168
That does not seem to be the problem described by this person. They complain that in the name of the first column that is exported (which happens to be an identifier in their case) there is an invisible character.
* Either OpenRefine indeed introduces an invisible character in the name of the first column in SQL export, in which case there is indeed a bug to fix
* Or this invisible character was i

[2022-02-20 16:42] thadguidry commented on #4168
@wetneb So directly, it was reported there was some kind of invisible character either before or after the column label, `id` ?

[2022-02-20 18:15] WaltonG commented on #4546
@wetneb Am voluteering to work on this issue

[2022-02-21 10:36] trnstlntk commented on #4143
Moved to https://github.com/OpenRefine/CommonsExtension/issues/3 🥸

[2022-02-21 10:36] #4143 closed

[2022-02-22 21:34] MPParsley commented on #4513
My request is indeed to have support for multiple users:

At the moment the application is running under one Linux user. Access to the application can be limited by adding a simple basic authentication but anyone who has access can access the same workspace where everything is shared. Having a way to break this up for each user (or group of users) would add value.

Setting up a server per user doe

[2022-02-23 03:29] thadguidry commented on #4513
OK, regardless the exact use case, the Server side will need user configuration of several parameters and options on implementation choices given to administrators (http1/2, ssl, virtual hosts, etc.)  I won't go into details, but you can read where some of which will be handled by Jetty and can be configured, https://www.eclipse.org/jetty/documentation/jetty-11/operations-guide/index.html#og-sessi

[2022-02-23 08:35] wetneb commented on #4513
Thanks @MPParsley for expanding on your request, very much appreciated. I agree with you running one server per user would not add much to the current situation.

[2022-02-23 12:36] trnstlntk commented on #4552
Suggestion to think more about, by Roderic Page (posted in the Wikiproject Biodiversity Telegram group and reposted here with his permission):