[2022-02-23 15:43] wetneb commented on #4552
Hi @andrawaag and @egonw,

I hear you, sloppy imports are definitely annoying. This problem you are reporting is at a fairly high level, so I can think of a lot of different approaches to tackle it: changing the Wikidata reconciliation service, changing OpenRefine's reconciliation workflows, changing the Wikidata extension, or even changing Wikidata's own data import policies and reviewing workflo

[2022-02-23 17:06] tballison commented on #2816
Tika has container detectors.  If you have any interest in heading in that direction, please do not hesitate to ask for help/support on our user list.

[2022-02-23 17:26] wetneb commented on #2816
Thanks a lot for chiming in @tballison! I do think Tika would be a great candidate to implement this in OpenRefine.

[2022-02-23 18:07] ostephens commented on #4552
I tend to agree here @wetneb - I could see being this strict sometimes blocking useful work.

Is there anything we could do to make the default behaviour stricter (e.g. requiring additional properties as a default and then have an option to override to the current behaviour)? While this wouldn't guarantee anything, it would be a huge warning sign for the user they were doing something that could h

[2022-02-23 20:36] #4282 closed

[2022-02-24 00:22] elebitzero commented on #4055
I can't reproduce this issue on the 3.6 development version following the directions. It could be caused by the data.  If there's no way to try with the original data, then it's probably a good idea to close.

[2022-02-24 03:39] tfmorris commented on #2816
Tika was actually the first option on my list above.^

[2022-02-24 07:56] wetneb commented on #4055
I suspect I might be able to reproduce this: the problem likely comes from the fact that the operation that delete columns is serialized in a format that only specifies the columns to keep (and in which order), which causes the behaviour described above.

One way to solve this would be to make it possible to only specify columns to delete in the JSON serialization of that operation.

[2022-02-24 08:15] #4410 closed

[2022-02-24 11:36] wetneb commented on #3144
Furthermore, they do not scroll with the grid when the grid scrolls, making them appear at out-of-sync locations.

[2022-02-24 11:38] wetneb commented on #343
This is already solved by the new architecture, available in the 4.0 branch.

[2022-02-24 11:38] #343 closed

[2022-02-24 14:08] tballison commented on #2816
Yes, of course, duly noted! :D

[2022-02-25 07:20] elebitzero opened #4564 "Modal dialogue buttons should be right-aligned"
Many of the modal dialogue buttons are left-aligned, while it is standard that they should be right-aligned

The following dialogs have the buttons left-aligned:

Export->Custom tabular exporter
Export-> SQL Exporter
Undo/Redo-> Extract operation history
Undo/Redo->Apply Operation History
All->Edit all columns->Transform
All->Edit all columns->Trim leading and trailing whitespace
All->Edit all col

[2022-02-25 07:37] wetneb commented on #4564
Duplicate of #4457 (but I definitely agree)

[2022-02-25 07:47] wetneb commented on #4564
Let's keep this issue since it has a nice review of the current state of dialogs.

[2022-02-25 07:48] wetneb commented on #4457
Closing this in favour of #4564 where a survey of our existing dialogs is done.

[2022-02-25 07:48] #4457 closed

[2022-02-25 12:23] isabelgalanb commented on #3919
Finally I got it worked.

In my organization, besides HTTP Proxy, we have got SOCKs Proxy. Then, configuring it in file openrefine.l4j.ini it worked.

-DsocksProxyHost=proxy-name.domain.ch
-DsocksProxyPort=1080

Thanks. I hope this helps you too.

[2022-02-25 13:18] deckerrj opened #4566 "Importing XML doesn't populate Import Options metadata"
When importing an XML document in OpenRefine 3.5.2, the Import Options metadata does not get populated.

### To Reproduce
Create a new project the attached XML sample, use `item` as the first record.

### Current Results
Import option metadata is empty

### Expected Behavior
Import option metadata should contain filename, record path, and other data

### Versions
 - Operating System: MacOS Big Sur

[2022-02-25 15:08] braiam commented on #3055
Importer is facing the same issue in 3.5.2 [e3efd4e], ignoring the preview and trying to import it nonetheless ignoring empty rows causes openrefine to peg 3 cores at 100%. I'm unsure if 3 cores is the maximum openrefine is capable of allocating or if I need a configuration change to use all my cores.

[2022-02-25 15:15] wetneb commented on #3055
This could be due to bugs in the odftoolkit library we use, such as this one: https://github.com/tdf/odftoolkit/issues/25

[2022-02-25 15:28] braiam commented on #3055
@wetneb that's interesting, because I use LibreOffice to create the odf file (although, it was originally an excel file). If I create a small file with LO the issue is adverted. So it seems that the problem is excel and LO doesn't clean the ods.

[2022-02-25 15:37] wetneb opened #4568 "Dependency to Jython-standalone prevents us from signing our MacOS package"
The fact that we depend on the `jython-standalone` distribution prevents us from signing our MacOS package and notarizing it with Apple.

### To Reproduce
Check the CI logs here:
https://github.com/OpenRefine/OpenRefine/runs/5335255475?check_suite_focus=true

### Current Results

When notarizing our DMG build, we get the following errors:
[code]

### Expected Behavior
Successful notarization.

###

[2022-02-26 12:08] wetneb commented on #1608
Unassigning because we are not actively working on this.

[2022-02-26 12:12] wetneb commented on #2093
Marking as a good first issue, although I have not reproduced it myself. The first step would therefore be to try to reproduce it, and if that fails, we can close it.

[2022-02-26 12:15] wetneb commented on #2254
I have ended up doing this in 3.x as well. It is now done in the CI, into the Maven Central Snapshot repository for normal commits and (hopefully) into Maven Central itself for official releases.

[2022-02-26 12:15] #2254 closed

[2022-02-26 15:22] #4287 closed

[2022-02-26 16:39] #4566 closed

[2022-02-26 16:43] wetneb commented on #4287
This is now supported and requires a new manifest to be written for the Wikibase instance. This is documented here:
https://docs.openrefine.org/next/manual/wikibase/configuration#the-format-of-the-manifest

[2022-02-28 07:53] #4511 closed

[2022-02-28 20:11] trnstlntk opened #4577 "Wikimedia Commons batch edit stalls at 12%"
I am performing a (rather simple) batch edit on Wikimedia Commons, in which I want to edit nearly 2,000 files. The batch upload stalls at 12%. (I've retried 3 consecutive times; always stalls at the same point. Last edited file can be seen in [the batch's Edit Group](https://editgroups-commons.toolforge.org/b/OR/a9e247ec31d/)).

### To Reproduce

See below for the dataset/project.

### Expected Be

[2022-02-28 20:27] trnstlntk commented on #4577
I have filtered the same project to only the sculptures located in the city of Ghent (77 records). When starting the batch editing process, it's not even starting yet (stuck at 0%). The log says:

[code]

[2022-03-01 09:26] #4564 closed

[2022-03-01 14:12] thadguidry commented on #2912
Tested again with the latest OpenRefine 3.6 Snapshot and latest 3 browsers (including 4th Brave and 5th Opera browser) and all of them work as expected with each of their specific download handling ways.  For those browsers that we kept the **new tab** handling, they automatically open a **save as** dialog as expected.

Closing as not reproducible.

[2022-03-01 14:12] #2912 closed

[2022-03-01 14:26] thadguidry opened #4579 "SQL Exporter Download dialog stretches across screen with Chrome/Edge browser"
SQL Exporter's **Download** tab causes the dialog to fully expand on screen.

### To Reproduce
Steps to reproduce the behavior:
1. Open or create a small project
2. Then click Export -> SQL Exporter...
3. Finally click on **Download** tab

### Current Results
Dialog horizontal size is maximized across screen with Chrome and Edge.  However, it appears to work normal in Firefox.

### Expected Behavi

[2022-03-01 16:43] trnstlntk opened #4580 "Today's OpenRefine MacOS snapshot release seems corrupt"
Today's (March 1, 2022) OpenRefine [snapshot release](https://github.com/OpenRefine/OpenRefine-snapshot-releases) for MacOS seems corrupt. When opening the application, it produces the following dialog window:

![image](https://user-images.githubusercontent.com/9881645/156208419-c736b9a5-1651-44aa-9c93-b2a9dafe069d.png)

May need investigating? I have used 3 previous snapshot releases which ran wi

[2022-03-01 17:18] #902 closed

[2022-03-01 17:21] #3359 closed

[2022-03-01 17:24] wetneb commented on #3359
This will be released in 3.6. The syntax to use in the Wikibase manifest is documented here:
https://docs.openrefine.org/next/manual/wikibase/configuration#tag

[2022-03-02 01:14] elebitzero opened #4585 "Menu items that open popups and new windows should have ellipsis"
Some of the menu items don't have an ellipsis but should because they open a popup, file explorer, or new window.

The following options need ellipsis:

All->Edit all columns->Transform
All->Edit all columns->Trim leading and trailing whitespace
All->Edit all columns->Collapse consecutive whitespace
All->Edit all columns->Unescape HTML entities
All->Edit all columns->Replace smart quotes with ASCI

[2022-03-02 02:00] thadguidry commented on #4585
@elebitzero Yeap, agree, I was just thinking about this today as I was testing our 3.6 Snapshot build with your earlier merged changes for the alignment of dialog buttons.  I'm wondering on this particular issue if we might use the Unicode ellipsis char and bake this into the menu's that need them via a JS variable?

<html><body>

Name: | Horizontal Ellipsis
-- | --
PostScript Name: | `ellipsis`
H

[2022-03-02 02:20] thadguidry commented on #4585
@elebitzero Further thoughts,  I have seen in some applications that the context of "more" which is what the ellipsis represents in many human languages, but sometimes not all of the human languages prefer the ellipsis style for that context of "more".  We might further allow the Unicode char choice to switch the Unicode char that is appropriate for that language whenever the user switches to a di

[2022-03-02 02:39] thadguidry commented on #4585
Still further, we might avoid iconography completely on this issue and instead consider embold the text for those particular ones, or indent or emboss or glow or highlight or shade the items differently?  Still if we do choose iconography, we might place it **before** the text, rather than afterwards?  Notice how the main menu has our `Sort...` with an ellipsis against in that same menu the look a

[2022-03-02 05:24] elebitzero commented on #4585
Thanks for the comments.

For menu items which already have ellipsis, the ellipsis is added after translation (localizedText+"...").

I believe this is correct since the ellipsis is a symbol and does not need localization.

I'm not familiar with different representations of the ellipsis in other locales in the context of an app menu.

For this issue, I am calling out which menu actions are missing

[2022-03-02 14:29] j-sal commented on #4577
Verbose 'Issues' output with 3.6-SNAPSHOT [1d729f7]

![image](https://user-images.githubusercontent.com/26920450/156381115-594a4dcb-0246-41ff-bde7-c02a7dcdad52.png)

[2022-03-02 14:39] thadguidry commented on #4585
@elebitzero then go ahead with your plan and I'll be happy to review and test your PR on Windows. Thanks so much for working on these issues!

[2022-03-02 14:48] j-sal commented on #4577
Verbose 'Issues' output with version 3.6-SNAPSHOT [1d729f7]

![image](https://user-images.githubusercontent.com/26920450/156384644-3007853c-0371-4102-8e20-eaa35e533049.png)

[2022-03-02 21:07] thadguidry commented on #4513
Over the last week, I have been thinking about our overall architecture decisions from the past and the basis of the use cases.  With this issue, the downplay we had of scaling issues becomes apparent especially where an OpenRefine service might be containerized and even clustered over K8S for multitenancy.  Our existing Servlet choice is not the best here since it has an imperative and blocking I

[2022-03-04 06:16] elebitzero opened #4590 "Rename column should use a normal dialog"
The "Rename this column" option in column->Edit Column is using the browser popup:
![image](https://user-images.githubusercontent.com/42903164/156709745-b2f6fea8-8503-441b-8a94-19477dbcfbff.png)

### Proposed Solution
Make a new popup window for "Rename this column" similar to this one:
![image](https://user-images.githubusercontent.com/42903164/156708887-df64d861-ad9d-4e35-9079-88552ac74bce.png)

[2022-03-04 21:48] thadguidry commented on #4513
I played some more this week with Quarkus and I do see its strengths but some weaknesses directly for our needs on this multi-tenancy issue directly which I mentioned in a [mailing list thread here](https://groups.google.com/g/openrefine-dev/c/SDdmvuyS3GI/m/C4oCut6QAwAJ)

In summary, Quarkus could be left to others that might want to adapt to a fully containerized execution environment for OpenRef

[2022-03-05 18:27] wetneb opened #4593 "Upgrade Wikidata-Toolkit to 0.13.1"
We are currently relying on a custom snapshot of Wikidata-Toolkit, we should rather update to a freshly released version.

[2022-03-06 23:27] khadijm commented on #4525
hi, I am a newbie, I am interested   to work on this issue in order to get started with the communicating

[2022-03-07 09:14] wetneb commented on #4525
Thank you for volunteering, please go ahead!

[2022-03-07 09:19] #4585 closed

[2022-03-07 10:55] haanhvu commented on #4121
Hi, I'm working on this issue. For now I'm studying the codebase and the documents. Will ping you later if I have questions.

[2022-03-09 07:07] #4590 closed

[2022-03-09 08:05] wetneb commented on #4580
I downloaded your DMG and I can run it fine on my MacOS VM. I also downloaded a recent snapshot and it opens fine too. I suspect this could depend on your security settings, perhaps this message shows up because we attempted to notarize the DMG but failed to do so? Anyway, I have disabled notarization for the snapshots a few days ago so hopefully that helps?

[2022-03-09 08:39] trnstlntk commented on #4580
Could it be related to age of Mac hardware and OS usage?

I just tested on my two macs.

On my 2014 Macbook Air, which can only run OS X 10.13.6, today's snapshot release again refuses to open, with the same error message as mentioned above. Specs of this machine are (let me know if I need to look up more, or other, info):

[code]

On my (also 2014) miniMac, which however does run the current MacO

[2022-03-09 17:25] wetneb opened #4600 "Set more granular file permissions on workspace.json"
The `workspace.json` file at the root of the OpenRefine workspace can contain sensitive information such as credentials.

### Proposed solution

To prevent this from being unnecessarily exposed, we could set more conservative file permissions, such that only the user running OpenRefine is able to read this file.

### Alternatives considered

Setting up some encryption for the preferences, but this

[2022-03-09 20:09] thais-lobo opened #4603 "“Info.plist” is on a read-only volume and cannot be unlocked"
I'm using the OpenRefine latest version on a Mac and couldn't follow the FAQ instructions to increase memory allocation. When I try to edit the “Info.plist” file, the following message appears:

<img width="678" alt="Screenshot 2022-03-09 at 20 06 15" src="https://user-images.githubusercontent.com/84020632/157525236-c4cd94a0-c5ac-4544-a6a4-999c7b119a82.png">

[2022-03-09 20:11] wetneb commented on #4603
Thanks for reporting this! Did you first move OpenRefine to your Applications folder, before launching it, or are you launching it from the DMG volume directly?

[2022-03-09 20:17] thais-lobo commented on #4603
No, I haven't. Just done it now and it works! Thank you so much for the tip
:)

On Wed, 9 Mar 2022 at 20:12, Antonin Delpeuch ***@***.***>
wrote:

[2022-03-09 22:16] thadguidry commented on #4603
Thanks for the report.

Let's improve our docs there in that case...
https://github.com/OpenRefine/OpenRefine/pull/4604/files

Thad
https://www.linkedin.com/in/thadguidry/
https://calendly.com/thadguidry/

Message ID: ***@***.***>

[2022-03-10 05:23] #4603 closed

[2022-03-10 07:05] elebitzero opened #4606 "Create project -> Web addresses -> add URL needs a remove button"
The add URL menu under Create Project doesn't let users remove added URL rows

### Proposed solution
Add a trashcan button to added rows which allows users to remove rows:

![image (1)](https://user-images.githubusercontent.com/42903164/157607082-acc4294c-a947-41e7-8faa-da851c2b2db0.png)

[2022-03-10 08:41] VojtechDostal opened #4607 ""Only the best rank" in "Add columns from reconciled columns" should not output deprecated values"
In "Add columns from reconciled columns", you can configure settings to get "Only the best rank". At least in some cases, though, this will also output deprecated values, if none other are available.

From Wikidata: https://www.wikidata.org/wiki/Help:Ranking: **A statement with best rank is a statement with preferred rank, if there is none: a statement with normal rank.**

### To Reproduce
Steps t

[2022-03-10 09:26] susannaanas opened #4608 "Import wiki tables in cyrillic"
### To Reproduce
Steps to reproduce the behavior:
1. I want to import a wiki table from the Ukrainian Wikipedia. I paste the table into the clipboard import option.
2. In the next screen, the process starts already. I cannot interrupt it to change the Wikipedia version from English to Ukrainian.
3. The process stays in eternal loop.

### Current Results
The process is not completed.

### Expected

[2022-03-10 09:30] susannaanas commented on #4608
There was a malformed line in the source, but there is still a problem with this. I am revising the original report.

[2022-03-10 12:03] wetneb commented on #4607
Thanks for the report! Transferring it to https://github.com/wetneb/openrefine-wikibase/issues/133

[2022-03-10 12:03] #4607 closed

[2022-03-10 19:46] trnstlntk commented on #4540
The yellow notification thingy at the top shows encoding errors quite frequently. I also see it a lot while doing manual reconciliation.

Screenshot:
![Screen Shot 2022-03-10 at 20 25 36](https://user-images.githubusercontent.com/9881645/157740274-189b1913-490a-4c88-9987-8928b49a0806.png)

To reproduce:
* take a list of e.g. person names with many diacritics
* reconcile in such a way that you'll h

[2022-03-10 20:10] thadguidry commented on #4540
Hi @trnstlntk is it only the notification banner, or do you see that [unicode replacement char U+FFFD �](https://en.wikipedia.org/wiki/Specials_(Unicode_block)) in other display dialogs or areas of OpenRefine?

[2022-03-10 20:19] trnstlntk commented on #4540
I remember only seeing it in the yellow notification banner, but I'll keep my eyes peeled for other occurrences.

[2022-03-14 06:42] #2687 closed

[2022-03-14 07:07] #3979 closed

[2022-03-15 04:44] elebitzero commented on #2423
I'm looking into this issue to see if we can put all the external dependencies into main/webapp/package.json.

These are the steps:
- PR1: Create a package.json with all the packages and current versions.
  - If a package is available in the npm registry, add it to package.json. Compare the files to the "externals" files to confirm it is the same version.
  - If the package is not in npm or the ex

[2022-03-15 04:50] elebitzero commented on #2423
I've looked at the UI dependencies under "externals", and found the following.

These packages are available on npm registry:

- jquery (1.12.4) - ✓
- jquery-ui (1.12.1) - ✓
- jquery-migrate (1.4.1) - ✓
- tablesorter (2.29.0) - ✓
- moment (2.19.2) - ✓
- underscore (1.5.1) - ✓
- js-cookie (2.2.1) - ✓
- select2 - (3.5.2) - ✓
- datejs-coolite (1.0 Alpha-1) - ✓

These packages might have to be left in

[2022-03-15 09:56] CennoxX commented on #684
I would especially like the autocomplete for expressions. As soon as I start using the recon object, I have to look in the documentation how to access for example the displayed text of a matched cell. If the [possible fields](https://docs.openrefine.org/manual/expressions#reconciliation) would be displayed after "cell." or  "cell.recon.", that would make a big difference.

[2022-03-15 10:04] wetneb commented on #2423
Hi @elebitzero, thank you so much for having a look at this! As you found out this is indeed a significant piece of work. Your plan looks very good to me.

I would just make sure that the current file structure of the packaged software remains the same, so that we do not break compatibility with extensions for instance. So that would require copying dependencies at compile time into the correspond

[2022-03-15 14:26] haanhvu commented on #4121
@wetneb from what I see, the fix will be in SerializationFilters.java?

Maybe some files in main/src/com/google/refine/expr/functions/xml need fixes too? I'm not really sure because I don't fully understand what each file in main/src/com/google/refine/expr/functions/xml do what.

Please help elaborate more on how to fix this.

[2022-03-15 15:52] wetneb commented on #4121
Given the task here I do not know for sure which files will need editing. Before you get to that stage you need to understand why we have this behaviour.

I would write some unit tests which evaluate the expressions given in the ticket, make sure they indeed fail like the issue mentions, and then use my debugger to step through the evaluation steps to understand what is going on.

There are some e

[2022-03-15 16:05] ostephens commented on #4121
Looking at the issue and testing a little it's probably important to note:

* this seems to be specific to the creation a facet
* the output of the parseHtml().select() GREL statement is a org.jsoup.nodes.Element

[2022-03-15 16:27] #4121 closed

[2022-03-15 16:54] wetneb commented on #4121
Up to you! But I would say if we throw infinite recursions at the user in some cases, it is still worth fixing that (and not assuming that is up to the user to find a workaround on their side).

[2022-03-15 17:05] thadguidry commented on #4121
@wetneb I'll keep it closed...As a user, I didn't give `compute-facets` what it really needed.  But could have if I had more information in UI via #443.  The alternative is to put in limits of the Java types acceptable (String, Number), but I eventually see fancier Facets being made with extensions that will unbound those limits (JSON Records).  So let's not hard code limitations for Facet extensi

[2022-03-16 00:18] elebitzero commented on #2423
Yes, I want to keep the file structure the same.  I don't think it should affect extensions at all.  But is there an example extension I can use to test? All of the ones I see just seem to have Java code in them.

I'm looking at how the UI files are packaged now, mainly the "externals" directory.  We need to include some of the files under node_modules so they can be loaded by the webapp.

I used

[2022-03-16 14:06] wetneb commented on #2423
That is exactly what I was getting at: I wonder if it would instead be possible to copy files over from `node_modules` to `externals` as part of the build process.

On the Java side, this is what happens when you build OpenRefine for the first time:
* Maven downloads dependencies from the Maven Central repository into you local maven cache (typically located at `~/.m2` on Unix systems)
* We compil

[2022-03-19 06:40] elebitzero opened #4622 "No spacing between ok/cancel buttons in Custom text/numeric dialogs"
These dialogs don't have spacing between the ok/cancel buttons:
- Column->Facet->Custom text facet...
- Column->Facet->Custom numeric facet...

![image (4)](https://user-images.githubusercontent.com/42903164/159110536-94314793-8206-4705-890c-b378482232bf.png)

[2022-03-19 08:07] #4622 closed

[2022-03-19 08:45] #4600 closed

[2022-03-19 09:06] #4577 closed

[2022-03-19 09:06] #4593 closed

[2022-03-19 09:14] wetneb opened #4624 "Adding a statement that already exists on Wikibase should not result in any API action"
Since the introduction of merging strategies, there are some changes on entities which result in "null edits" on the Wikibase instance, but which are not detected as such in OpenRefine / Wikidata-Toolkit, so we still spend some time sending those null edits to the instance (needlessly).

### To Reproduce
Steps to reproduce the behavior:
1. First, create a schema which adds a statements on entities

[2022-03-20 15:07] giulioturetta opened #4625 "Unable to create a project from a URL on Windows if the URL path contains ":" character"
On Windows, creating a project from a URL that contains the colon ":" character in the URL path throws an error related to the naming of a temporary directory/file.

### To Reproduce
Steps to reproduce the behavior:
1. Create a new project from a URL as `protocol://domain/foo/:bar/foo`
2. Click on the Next button
3. An error message is displayed that states "Error uploading data illegal char <:> a

[2022-03-21 02:13] zkl-ai commented on #4625
Hello, I'm a new programmer, and I have read the doc, I want to contribute to the open source community. Can I take this issue?

[2022-03-21 08:25] wetneb commented on #4625
You are more than welcome to, thank you for volunteering!

[2022-03-22 05:22] elebitzero opened #4628 "Wikibase dialog buttons should be in the dialog footer"
The buttons in the following Wikibase dialogs should be in the footer while the content that is currently in it should be either moved to the top or right above the footer:

![image](https://user-images.githubusercontent.com/42903164/159413179-910a50ee-afdb-4572-a927-4576e759dd3c.png)
![image](https://user-images.githubusercontent.com/42903164/159413191-db232da4-b70d-4507-bc14-6fde947c0ca3.png)
![

[2022-03-23 05:59] elebitzero opened #4631 "Export to Google Drive and Sheets is broken"
Export to Google Drive and Export to Google Sheets options give the following error when clicked when it  should recognize if a user is logged in, or at least give the option to log in. (Seen on Brave, Chrome, and Edge):

![OpenrefineGoogledriveError](https://user-images.githubusercontent.com/42903164/159632814-de86b3ce-8c53-47b5-9ee9-af19d0e1b2e4.PNG)

[2022-03-23 07:22] wetneb commented on #4631
That is probably because you are running the development version without Google API credentials, no? The steps are described here, we should migrate them to the technical reference:
https://github.com/OpenRefine/OpenRefine/wiki/Google-Extension

[2022-03-23 21:39] khadijm commented on #3575
hi @wetneb  can i continue to work on this issues? thanks

[2022-03-23 21:40] khadijm commented on #3575
if possible please can you assign this issue to me thanks

[2022-03-23 21:43] khadijm commented on #3137
hi @wetneb please can i work on this issues, thanks

[2022-03-23 21:45] khadijm commented on #3004
hi, @wetneb  please can you assign me this issue to me

[2022-03-23 21:47] khadijm commented on #2749
hi @wetneb please can you assign me this issue? thanks

[2022-03-24 07:46] wetneb commented on #2749
@khadijm I have already assigned you a few issues, maybe that is good enough for a start? Once you have closed those we can assign you more :)

[2022-03-24 21:14] khadijm commented on #2749
thanks @wetneb, i will start with draft PR soon

[2022-03-24 22:07] elebitzero commented on #4631
Thanks for the link. I think the software could detect if a developer has not set the credentials at runtime, and instead of trying to use undefined credentials, it could redirect to the wiki page. I will submit a PR for this.

[2022-03-24 22:38] khadijm commented on #3004
thanks assign me this ticket

[2022-03-24 22:38] khadijm commented on #3004
please @wetneb can you review my PR https://github.com/OpenRefine/OpenRefine/pull/4636

[2022-03-25 03:37] elebitzero commented on #421
This issue appears to be fixed. I can expand the expression and the dialog adjusts correctly.  I tested this on Brave, Chrome, Firefox, and Edge on Windows 10. This issue should be closed unless there are any objections. Thanks.

[2022-03-25 07:07] antoine2711 commented on #4631
I think this is an error handling problem. When a key is not provided, (i.e. client_id in this screen capture), it shouldn't even go to the Google dialog, but rather just a “no credentials in this build version.”.

It's a bit misleading the Google error when it's even before that.

Regards, A.

[2022-03-25 07:45] #421 closed

[2022-03-25 08:55] #3004 closed

[2022-03-25 22:19] elebitzero opened #4639 "Form label style is inconsistent"
The Wikidata dialogs and the create/import project panels append (:) to the labels which are not consistent with the rest of the application.

In general for web applications, colons are no longer used in modern web design.

Reference: https://spectrum.adobe.com/page/field-label/

[2022-03-26 00:31] shreya024 commented on #3645
Hi, I am Shreya ,an Outreachy Applicant.I would like to work on this issue.Kindly assign @gitonthescene

[2022-03-26 01:29] elroykanye commented on #2093
I tried to reproduce this issue, but did not get any NullPointerException or related Exceptions/Errors in the process.
I tried this with FireFox, Chrome and Edge and Chrome on Kali Linux 2021 1b and preferences get deleted perfectly with various samples.

[2022-03-26 01:41] thadguidry opened #4640 "Add simple example of Regex usage to description of replace()"
We currently have this description for GREL `replace()` function:
 https://github.com/OpenRefine/OpenRefine/blob/083c7feba3b84d97ec884f3c2b38b6f1f0249640/main/src/com/google/refine/expr/functions/strings/Replace.java#L68

We should probably extend that last sentence to also say the Regex pattern should start and end with `/` or just include a simple example showing the Regex pattern usage , perhap

[2022-03-26 01:53] elroykanye commented on #4640
Hello @thadguidry , I would like to work on this

[2022-03-26 01:55] thadguidry commented on #2093
I also tried and cannot reproduce any longer.  I think this issue was created before I knew what was really happening later on and when we later had various serialization issues opened such as issue #2543 but we still might have a few lurking such as #4083 on our 4.0 branch, which we'll eventually resolve.

We can close this specific issue now since I also just verified with 3.5.2 with Java, so cl

[2022-03-26 01:55] #2093 closed

[2022-03-26 03:26] elroykanye commented on #3432
![workspace json](https://user-images.githubusercontent.com/68631069/160222986-0983f270-52a9-4f78-8121-7da356e84a39.png)
Tried to reproduce this. A new workspace.json file was created and the old was moved to workspace.old.json
Do I have to try doing this with v3.4?

[2022-03-26 03:34] thadguidry commented on #3432
That's perfect.  Did you test with latest 3.5.2 ?

[2022-03-26 03:38] elroykanye commented on #3432
This is how it works with the latest. I haven't tested with v3.4 instead.

[2022-03-26 03:39] thadguidry commented on #3432
Awesome, then... working as expected, so... closing!  Thanks so much @elroykanye !  You are truly awesome !

[2022-03-26 03:39] #3432 closed

[2022-03-26 03:41] elroykanye commented on #3432
😁 thanks for the help @thadguidry !

[2022-03-26 03:48] elroykanye commented on #4525
Hello @wetneb , this issue has not been resolved yet and I actually noticed this and have had confusions when reading it 😄
Anyway, I'd like to help with this if that is alright?

[2022-03-26 08:10] wetneb commented on #4525
Let's first check if @khadijm is still working on it.

[2022-03-26 08:11] elroykanye commented on #4525
Alright

[2022-03-26 08:13] Binita-tech commented on #1122
I have read the issue description but I am not sure on which files I have to make changes, Please guide @wetneb , I want to work on this issue.

[2022-03-26 08:22] wetneb commented on #1122
Hi @Binita-tech, thanks for volunteering! Before figuring out which files to edit, have you reproduced the issue locally? Are you able to see the place in the UI that you would try to change?

[2022-03-26 09:02] Binita-tech commented on #1122
I am setting up environment locally with the help of this documentation https://docs.openrefine.org/technical-reference/build-test-run
Do I have to install OpenRefine to reproduce the issue locally?

[2022-03-26 11:41] elroykanye commented on #1122
Okay @Binita-tech. From what I understand, you may have to run install it. Running the shell or batch script is going to do the trick for you. Just make sure you have JDK1.8+ and Maven installed on your system and available on your path because the scripts call commands from their binaries. Do you need any help with adjusting your path?

[2022-03-26 13:20] Binita-tech commented on #1122
@elroykanye, I have JDK1.8+ and Maven installed and I have set path also.

Can you elaborate above sentence more and how can I run?

[2022-03-26 13:26] elroykanye commented on #1122
Okay, there is shell script (refine) and a batch script (refine.bat). The shell script is for Linux/Mac while the batch is for Windows.
- Depending on the system you are using (Windows or Mac/Linux), you have to run the corresponding script. Do this first.
- If you did the first step and noticed any error about not being able to find JDK or Maven in path, then let me know so I can you help install

[2022-03-26 13:29] elroykanye commented on #1122
Since you have already set the path, just run the script.
- ./refine (Linux or Mac)
- refine.bat (Windows)

[2022-03-26 15:49] thadguidry commented on #1122
@Binita-tech our docs provide all of this wonderful information:
Technical docs:  https://docs.openrefine.org/technical-reference/build-test-run
User docs:  https://docs.openrefine.org/manual/installing

[2022-03-26 19:42] digitalNomadKg commented on #4423
Hello @wetneb I am outreachy applicant, can you please assign this task to me? I would like to try. Thank you

[2022-03-27 03:56] elroykanye commented on #4639
Hello @wetneb , I'd like to to work on this

[2022-03-27 06:22] elebitzero commented on #4639
Hey @elroykanye, I should have mentioned earlier that I have a PR in progress for this issue.

[2022-03-27 06:24] elroykanye commented on #4639
Oh! It is alright then :)

[2022-03-27 06:26] elroykanye commented on #642
Hello @tfmorris @wetneb , I wish to ask if it is okay that I work on this

[2022-03-27 07:18] wetneb commented on #642
Sure! It seems a bit difficult for a first issue actually, I am not sure I agree with my previous assessment (it might involve adding a new dependency, and that is not so easy since we need to watch out for licensing issues and size considerations)

[2022-03-27 07:20] elroykanye commented on #642
Ah I see 🤔
Worth the try anyway. I'll let you know of every step I take 😄🙏🏾

[2022-03-27 08:13] Binita-tech commented on #1122
@thadguidry, I have gone through this documentation, but I am facing difficulty in running refine.bat in the command line.
After running refine.bat, only logo of OpenRefine is showing in browser and refine.bat command gets paused while running. I have Java 11.0.9 version.

[2022-03-27 13:46] thadguidry commented on #1122
@Binita-tech usually that means that JAVA_HOME was not set properly to use Java 11+.  You might verify that environment variable is reported as set in the same terminal session you use to launch OpenRefine.

[2022-03-27 19:34] Binita-tech commented on #1122
![image](https://user-images.githubusercontent.com/78761614/160297356-211d47b2-5ddf-4759-9755-522a413aa467.png)
![image](https://user-images.githubusercontent.com/78761614/160297563-2715a4ca-d796-4e75-9e34-188151bbb8f4.png)
![image](https://user-images.githubusercontent.com/78761614/160297619-f0c26eb7-d6a8-4dfa-a487-caef78c1614f.png)

Please check if it is done rightly or not @thadguidry

[2022-03-27 19:50] wetneb commented on #1122
Have you installed `npm` as well? It is required now as well. The documentation has been updated but we should also backport the documentation change to previous versions, probably…

[2022-03-27 19:53] thadguidry commented on #1122
@Binita-tech Yes that looks correct.

[2022-03-27 20:48] elroykanye commented on #3133
Hello @thadguidry , I'd like to take on this. Is that okay?

[2022-03-27 20:59] elroykanye commented on #642
@wetneb
Just to be clear, I'd like to ask. This feature will help detect language from which piece of text? The datasource? I am a bit confused. Please can I get some pointers with, perhaps, an example showing the use case?

[2022-03-27 21:03] wetneb commented on #642
I imagine this could be implemented as a GREL function, for instance called `detectLanguage`, which would work like this:
* `detectLanguage("hello world, what a beautiful day")` evaluates to `"en"`
* `detectLanguage("bonjour le monde, quel jour magnifique")` evaluates to `"fr"`
* and so on

[2022-03-27 21:08] gitonthescene commented on #4301
Since clustering is really a [special case](https://github.com/OpenRefine/OpenRefine/issues/2003#issuecomment-792545880) of reconciliation, tools which do this sort of reconciliation can be repurposed to do clustering.

[2022-03-27 22:13] elroykanye commented on #642
Okay. From what I understand, it should be something that implements this interface:

Am I in the right track?

[2022-03-27 23:27] thadguidry commented on #3133
@elroykanye Sure.  I think just something ending with ... `containing a Date or Number format string` ?

[2022-03-27 23:38] elroykanye commented on #3133
Noted!😉

[2022-03-28 00:52] Binita-tech commented on #1122
![image](https://user-images.githubusercontent.com/78761614/160309151-6c1c5cd0-9db5-43e4-8bd6-594d541cb822.png)

@wetneb I have already installed npm in my computer, what should I do next?

[2022-03-28 05:06] wetneb commented on #642
Correct!

[2022-03-28 05:15] elroykanye commented on #642
Awesome! Thanks, I will head on to that 😎

[2022-03-28 05:17] #3133 closed

[2022-03-28 06:02] WaltonG commented on #3172
@wetneb Am volunteering to work on this issue

[2022-03-28 09:13] SIXIN-LI opened #4644 "Invalid URL for downloading Maven while first building the project"
On Mac, with no Maven installed, **./refine build** command throws an error:

        tar: Error opening archive: Unrecognized archive format
        Error: Error while expanding apache-maven-3.8.4-bin.tar.gz

I have found the issue is in the mvn_prepare() function in _refine_ script. The following URL no longer has a 3.8.4 folder, as the below screenshot. Instead, it has a 3.8.5 folder now. So ch

[2022-03-28 11:22] wetneb commented on #4644
Please do, thank you for reporting and volunteering!

[2022-03-28 12:04] elroykanye commented on #1122
Hello @wetneb , `npm` is actually available as indicated from the image above.
I think the problem was the version of npm @Binita-tech used. After updating, it should fix things up.
@Binita-tech please confirm if this works for you...

[2022-03-28 12:29] wetneb opened #4645 "OpenCorporates reconciliation endpoint incompatible with OpenRefine 3.6"
Since #3731, the OpenCorporates reconciliation endpoint (https://opencorporates.com/reconcile) does not work correctly in OpenRefine.

### To Reproduce
Steps to reproduce the behavior:
1. First, reconcile some list of companies to OpenCorporates
2. Then, click one of the reconciliation candidates

### Current Results
You land on a 404 page because the slash characters in the URL are incorrectly es

[2022-03-28 15:25] trnstlntk opened #4646 "Statement configuration in Wikibase schema (OpenRefine 3.6) does not seem to work correctly work with monolingual text"
It seems that the new (and very handy) statement (de)duplication feature for Wikibase editing in OpenRefine 3.6 does not correctly recognize and distinguish between monolingual text strings in different languages. See example below, dataset for reproducing is attached.

### To Reproduce

Work with a dataset in which you'll have to add (new) monolingual text strings, e.g. additional (new language)

[2022-03-28 15:34] wetneb commented on #4646
Seems like an important bug indeed, I will have a look.

[2022-03-28 15:40] ostephens commented on #4301
@gitonthescene - can you clarify what you mean when you say

As I don't really recognise this description of clustering and so it's unclear to me what you intend by "tools which do this sort of reconciliation" and how that would apply to this issue.

Thank you

[2022-03-28 16:10] Binita-tech commented on #1122
@elroykanye yes, this works for me. Thank you!!
@wetneb, I tried reproducing the issue and what I understood is that I have to put this link -https://docs.openrefine.org/manual/grelfunctions#date-functions under dataPart(below image) function, please correct me if I am wrong.
![image](https://user-images.githubusercontent.com/78761614/160440404-0657e3f8-4088-4de1-9c30-afac1cea25ba.png)

[2022-03-28 16:42] Babi-B commented on #2749
Hello. @wetneb could you please assign me to this issue?

[2022-03-28 17:06] antoine2711 commented on #1122
Yes, you are right. This is correct.

Regards, Antoine

[2022-03-28 17:52] elroykanye commented on #642
Hello @tfmorris , @wetneb
Following this, I realised that this project has some tree. I travelled down and ended at [this](https://github.com/optimaize/language-detector) implementation. So I made a branch to play around with the api and it works pretty good.

- Added dependencies:
![lang_detect_deps](https://user-images.githubusercontent.com/68631069/160456927-755c7b9a-814c-45ad-8f58-5ec03c5af2f3

[2022-03-28 18:25] thadguidry commented on #642
@elroykanye Nicely done thus far!

1. My only concern would be what output do we give as the language code to a user?  My hunch would be the output should be an ISO 639-3 code but it seems you have output an ISO 639-2 code?

2. Hmm, what about transforms into the users Locale if they wish?  For instance, Japanese is `jpn` and in a Chinese Locale could alternatively be displayed or transformed into

[2022-03-28 19:05] elroykanye commented on #642
This is definitely a lot of information to take in 😬
Okay, from what I understand, the language code should not be limited to returning a code which is actually only understood by Anglophones, but should be able to work with other languages as well?

[2022-03-28 19:31] thadguidry commented on #642
@elroykanye To work on this issue, the focus is 1. only.  To output a language code.  But we need to make a decision about A. output a ISO 639-2 code or B. output a ISO 639-3 code.

You don't have to concern yourself with my ideas for 2. in this issue, since it would be a different new issue that we may or may not create in the future.  I write things up briefly so that we don't lose track of them

[2022-03-28 19:35] elroykanye commented on #1116
@wetneb , I'd like to take on this while waiting for feedback on the other issue. Is that okay?

[2022-03-28 19:36] Binita-tech commented on #1122
I am not able to get into which file I have to make changes as there are so many files.
Please guide me to get those files.

[2022-03-28 19:38] khadijm commented on #4525
thanks @wetneb i still working on it, i will a PR soon

[2022-03-28 19:44] elroykanye commented on #642
Okay, I understand clearly. The discussions is a good idea actually, to pour out as much as I can and will need to understand cases like this. Thanks very much for the explanation, it helped me get some new ideas :)

Concerning 1., it is an ISO 639-2 code returned from the language profile of the library I included.

[2022-03-28 19:52] wetneb commented on #642
@thadguidry it would be amazing if you could stay focused on the issue at hand. GitHub issues (or discussions, for that matter) are not an appropriate place to write down distracting wandering thoughts. It is important that we go straight to the point to help newcomers in their first contributions to the project.

If you have wandering thoughts about the project and feel the need to write them dow

[2022-03-28 19:53] thadguidry commented on #642
@elroykanye Ah, then we have no choice then...that's fine.
@wetneb splitting the community does not seem wise.  "lone wolves die alone".

[2022-03-28 20:06] khadijm commented on #4525
@wetneb  additional detail are needed

there are 2 directory wikibase and wikidata as you can see in this folder.
![Screenshot from 2022-03-28 21-00-58](https://user-images.githubusercontent.com/88087734/160477592-a4d053a7-9435-4528-a37a-2e5fd1d312c3.png)

we cannot rename The directory extensions/wikidata to extensions/wikibase because there is already a directory wikibase.

[2022-03-28 20:07] khadijm commented on #4525
are we to delete the current wikibase directory before renaming wikidata to wikibase ? @wetneb

[2022-03-28 20:09] wetneb commented on #642
@elroykanye to help you further it would be great if you could just open a PR with your changes. That is easier to review than screenshots of your code.

[2022-03-28 20:10] elroykanye commented on #642
Noted

[2022-03-28 20:15] wetneb commented on #1122
@Binita-tech to locate the files you should edit, have you had a look at the method proposed [in the technical reference](https://docs.openrefine.org/technical-reference/contributing#your-first-code-pull-request), in particular at [this technique](https://github.com/OpenRefine/OpenRefine/issues/3137#issuecomment-691649962)?

[2022-03-28 20:18] thadguidry commented on #642
@wetneb I am staying focused on the issue at hand.  Expanding or narrowing scope on an issue has always happened in our community and we really only have issues, mailing list, chat or phone calls to leverage and tie conversation threads together in a non-optimal way.  I also don't want to muddy the waters of an issue, but when an issue is not solidified well, then discussion should take place with

[2022-03-28 21:11] gitonthescene commented on #4301
As I mentioned in the linked issue if you extract the unique items from a column and put them in a table, then reconciling against that table will return which items are “closest” to each value.  The interface to reconciling is different than reconciliation but the mechanism is largely the same.  If there was a spec for clustering like there is for reconciliation, people writing reconciliation ser

[2022-03-28 21:28] khadijm commented on #3575
ready for review @ostephens  and @wetneb   https://github.com/OpenRefine/OpenRefine/pull/4652

[2022-03-28 21:31] Redeem-Grimm-Satoshi commented on #4640
........

[2022-03-29 04:05] thadguidry commented on #2749
@Babi-B I think most of the work has already been done and just needs a bit more polish on top of that work if you follow the thread and commits in the old PR #3394

[2022-03-29 07:48] wetneb commented on #4525
I am not sure what happened on your side, but in the repository, there is currently only a `wikidata` directory, not a `wikibase` one:
https://github.com/OpenRefine/OpenRefine/tree/master/extensions
Or am I looking at the wrong location?

[2022-03-29 08:22] #4639 closed

[2022-03-29 08:38] Binita-tech commented on #4625
@wetneb please assign me this issue

[2022-03-29 08:59] wetneb commented on #4625
We could first ask @zkl-ai how they are progressing on this.
Also, I am not sure your screenshot really demonstrates the problem - I think it would be good to reproduce it with a valid URL (with a colon, similarly to the template given above).

[2022-03-29 09:00] Babi-B commented on #2749
Okay, thank you

[2022-03-29 09:02] khadijm commented on #4525
thanks @wetneb  i see the problem, i am pulling from my  fork https://github.com/khadijm/OpenRefine instead of pull from https://github.com/OpenRefine/OpenRefine

[2022-03-29 10:11] WaltonG commented on #3919
@wetneb I would like to work on this issue. Based on the discussions I think ill get to  the solution

[2022-03-29 11:21] SIXIN-LI opened #4656 "Unclear documentation in "Set where data is stored" of installing section"
**Problem 1**:
It is confusing where to find the workspace when first reading the user manual.

The reason is as below (screenshots below):

- The first appearance of the term "workspace directory" in section _Back up your data_ doesn't point to the correct section #**set-where-data-is-stored**, which now points to #where-is-data-stored.

-  But **Set where data is stored** section's instruction i

[2022-03-29 11:29] SIXIN-LI commented on #4656
I would like to take this issue. My solution is listed below.

As for problem 1, I will write a new instruction based on the current version, and post it here for some review as there may have some wording requirements.

For problem 2, modifying the path to "~/Library/Application\ Support/OpenRefine/" would work.

[2022-03-29 12:10] wetneb commented on #4656
Hi @SIXIN-LI, I am not really sure I understand the problem but I assume it will be clearer with your pull request.

[2022-03-29 12:24] wsmmxmm commented on #1750
Hi team! I am an outreachy applicant. Please can I work on this issue if it is still open?

[2022-03-29 12:43] Binita-tech commented on #4546
@wetneb , please assign me this issue.

[2022-03-29 13:06] antoine2711 commented on #642
Maybe the Dev mailing list would be a better place to put your extra thoughts.

With all the Outreachy potential interns, the need to keep things simple and strait is bigger.

I know I'm working to be as simple and short as possible in my writing on GitHub.

Regards, Antoine

[2022-03-29 13:14] ostephens commented on #4301
Thanks @gitonthescene. I'm not sure I agree with this way of framing clustering although I can see that algorithms used to find clusters could also potentially be used to find reconciliation candidates.

In terms of this issue (allow the user to define a custom Nearest Neighbour or Binning function) I'd been keen on keeping the focus on this as a specific outcome rather than repositioning Clusteri

[2022-03-29 16:04] wsmmxmm commented on #1750
Hi Team,

Congratulations to me because I run OpenRefine from the command line successfully!

Before I start, I would like to describe this feature and ask some questions I'm not sure about.

- Functionality: Store blank columns ( it's similar to Store blank rows)
![image](https://user-images.githubusercontent.com/71497155/160651439-c6a39b3a-ef28-4255-a9f9-b5e65454c4b0.png)
- Supported parser:
- [

[2022-03-29 16:06] Babi-B commented on #2749
Hello @thadguidry. I have successfully run the project and reviewed what @mayralgr did in [#3394](https://github.com/OpenRefine/OpenRefine/pull/3394). However, I don't see the work done in [#3394](https://github.com/OpenRefine/OpenRefine/pull/3394). It seems the old PR had not been merged. How would you want me to continue now?

[2022-03-29 16:12] thadguidry commented on #2749
@Babi-B You should be able to checkout that PR. and then create a new branch based on it and call it whatever you want locally, and then submit a new PR yourself with your GitHub credentials.

In GitHub interface, when viewing a PR you can click on the **<> Code** button in top right and see options on how to checkout the PR, depending on your preference.

[2022-03-29 16:17] MariaAngella commented on #2819
I'm Maria Angella, an Outreachy participant willing and excited to work on this issue.
Kindly assign me this task for this period.
Thank you

[2022-03-29 16:26] MariaAngella commented on #608
I'm Maria Angella, an Outreachy participant willing to work on this issue.
Kindly assign me the task for this period.
Thank you

[2022-03-29 16:45] Babi-B commented on #2749
@thadguidry okay. Thanks

[2022-03-29 19:35] digitalNomadKg commented on #4423
@wetneb @marcadella I need your help, can you please guide to initial request, I got a bit lost and can't understand from where I should start. thanks

[2022-03-29 19:49] wetneb commented on #1750
Congratulations for running OpenRefine! That is an excellent start :)
For tree-based importers, I guess they can still produce some empty columns, for instance if importing the following payload:
[code]
So I guess it is probably worth offering in tree importers as well, after all.

So this would end up being an option that would be available to basically all importers (except perhaps the line-base

[2022-03-29 19:53] wetneb commented on #608
Hi @MariaAngella, I assigned you one already, if you don't mind I would wait a bit more to assign you a second one as there is a chance we run out of good first issues in this initial Outreachy period.

[2022-03-29 19:55] wetneb commented on #4423
This issue is about improving the documentation, so you should be able to simply click on the edit button of the corresponding manual page and propose your changes to the documentation.

[2022-03-29 22:55] gitonthescene commented on #4301
Fair enough.  I’m from the school that believes fewer moving parts makes software more reliable and easier to maintain, but I’m not running this project.

[2022-03-30 02:36] elebitzero opened #4662 "Inconsistent border on dialogs"
Some dialogs have a 4px blue border added with the dialog-border class while other dialogs don't have the border. Out of 45 dialogs, 21 have a border and 24 don't.

I'm leaning towards removing the border since it looks cleaner. If there aren't any objections then I will submit a PR that removes them.

[2022-03-30 03:30] wsmmxmm commented on #1750
well, sorry I'm not familiar enough with structure and code at the moment, so I can't suggest more about "post-processing step". It sounds like something that requires a lot of planning for the overall process.
I think I could continue to do this by manually adding the option with notes（I mean →“//”). This way we can easily find this section if we need to further action about "post-processing step

[2022-03-30 05:35] Babi-B commented on #2749
Hello @thadguidry. I have checked out @mayralgr's PR and also gone through the comments. There are some things I wish to point out :
1. The search icon is not static when clicked on
2. On chrome, the search bar does not collapse when the icon is clicked a second time. However, the functionality works fine on Firefox
3. When the application initially opens in Chrome (http://127.0.0.1:3333/), it lan

[2022-03-30 05:41] antoine2711 commented on #4301
@gitonthescene : It's not about « having more parts » (or not), it's about the fact you are OT (Off-Topic) in this issue. You could start a new one on « creating a Clustering spec » and it wouldn't be a problem to discuss it. Just not here on a related, but different and specific issue.

Regards, Antoine

[2022-03-30 05:54] gitonthescene commented on #4301
FWIW, your reply was simply not necessary.  I’ll leave you to do whatever you please.

[2022-03-30 05:57] antoine2711 commented on #4301
I'm sorry if that what you get from my comment. I think your idea and concept are interesting. That why I wanted to make sure you knew it was worth another new issue on that subject. It was meant to be positive.

Regards, Antoine

[2022-03-30 06:15] gitonthescene commented on #4301
If there was any interest, it didn’t come across.  In any event, I’ve linked issues I thought were related.  None of them got much attention.  Should interest pick up it should be easy to track down.

[2022-03-30 06:39] wetneb commented on #1750
That sounds good to me!

[2022-03-30 06:56] MariaAngella commented on #608
This is fine @wetneb. I'll work on the one assigned already... Thanks

[2022-03-30 07:09] #4628 closed

[2022-03-30 07:19] #4640 closed

[2022-03-30 07:22] #4644 closed

[2022-03-30 07:33] SIXIN-LI commented on #4656
Thank you for the feedback! I have tried to make the problem clearer and made a pull request for it.

[2022-03-30 13:20] thadguidry commented on #2749
@Babi-B Great! Now what are your feelings about what to do about them?  In regards to 3. we need to keep original functionality which is "Create Project", no matter the browser.

[2022-03-30 13:30] Babi-B commented on #2749
@thadguidry I wish to work on the issues.

[2022-03-30 16:41] Binita-tech commented on #4546
@wetneb I created project and I had some confusion - Do I have to put above string in marked(black) one(below Image) to reproduce the issue?
![image](https://user-images.githubusercontent.com/78761614/160887300-ae7b4a3b-b459-42c1-b3eb-33f08c0d16a0.png)

[2022-03-30 16:51] wetneb commented on #4546
I cannot parse your sentence, I am not sure what you mean, sorry! The issue involves URLs so to reproduce it you will definitely need to have some URLs in your cell values, and I cannot see any URLs in your screenshot.

[2022-03-30 22:17] elebitzero opened #4669 "Unselect vs. Deselect vs. De-select"
Some dialogs are using 'Unselect' or 'Unselect all' rather than 'Deselect' or 'Deselect all'

Additionally, some dialogs are using 'De-select' instead of 'Deselect'

Ref: https://english.stackexchange.com/questions/18465/unselect-or-deselect

### Proposed solution
Change 'De-select' and 'Unselect' to 'Deselect' and 'Unselect all' to 'Deselect all'

[2022-03-31 02:31] elroykanye commented on #1150
@wetneb  , I checked this out and realised it has already been implemented.

[2022-03-31 02:35] elroykanye commented on #1032
@wetneb , I tried recreating this issue but it was not the same. I think it has been fixed already.

[2022-03-31 02:53] elroykanye commented on #3143
@wetneb , I noticed this was taken but not completed and pr closed. Please can I take and work on it?

[2022-03-31 08:22] #4662 closed

[2022-03-31 08:26] wetneb commented on #1032
I agree, it seems fixed indeed! Thanks for investigating :)

[2022-03-31 08:26] #1032 closed

[2022-03-31 08:30] #4669 closed

[2022-03-31 08:31] wetneb commented on #1150
Happy to close this as well, thank you!

[2022-03-31 08:31] #1150 closed

[2022-03-31 09:58] wetneb commented on #3919
@WaltonG I would expect `openrefine.l4j.ini` to be only read when OpenRefine is launched via `openrefine.exe` (which you can generate with `mvn package`). Is this how you are testing it?

[2022-03-31 11:11] WaltonG commented on #3919
@wetneb I launched it using the refine command, I guess thats why openrefine.l4j.ini was not read. I will re-test with openrefine.exe

[2022-03-31 14:43] WaltonG commented on #2316
@wetneb  Can I work on this ?

[2022-03-31 14:53] Binita-tech commented on #4481
@wetneb, I would like to work on this issue, kindly assign it to me.

[2022-03-31 14:58] thadguidry commented on #3919
@WaltonG It's interesting that they give the `<jre><opt>` context in their documentation: http://launch4j.sourceforge.net/docs.html#Configuration_file

[code]
and also http://launch4j.sourceforge.net/docs.html#Additional_jvm_options
And very interesting choice of phrase here in that section:

We know that `java.net.useSystemProxies` is a system environment property.  And environment property for t

[2022-03-31 15:57] WaltonG commented on #3919
@thadguidry I think with -Denv.java.net.useSystemProxies=true  one will not be required to add proxy details to the configuration file. Let look into it to get more insight.

[2022-03-31 16:10] wetneb commented on #3919
@WaltonG your testing code is incorrect. When you write
`System.getenv("http.proxyHost" + "getenv with -D")`, that is the same thing as `System.getenv("http.proxyHostgetenv with -D")` and that is clearly not going to retrieve the configuration variable you expect.

Of course make sure you repackage (`mvn package`) every time you make code changes too.

[2022-03-31 16:56] WaltonG commented on #3919
@wetneb Yes am now on the right track. Initially I was adding the test data to refine.ini  and not openrefine.l4j.ini.
Thank you for the oversight of System.getenv("http.proxyHost" + "getenv with -D").  The  + "getenv with -D" was supposed to be a tag but the syntax was incorrect thats why I got nulls from the below latest output

[-Xms512m, -Xmx1024m, -Djava.library.path=server/target/lib/native/

[2022-03-31 17:25] WaltonG commented on #3919
@wetneb I have confirmed from the test that proxy port and host in the openrefine.l4j.ini file can be retrived by getProperty method

[-Xms512m, -Xmx1024m, -Djava.library.path=server/target/lib/native/windows, -Xms256M, -Xmx1024M, -Djava.net.useSystemProxies=true, -Dhttp.proxyHost=proxy.com, -Dhttp.port=80]
null Retrieved by getenv
null Retrieved by getenv
proxy.com Retrieved by getProperty
80 Ret

[2022-03-31 23:07] elroykanye commented on #3986
@kushthedude , are you still working on this?

[2022-04-01 01:19] thadguidry opened #4675 "Technical Docs for our Server tests setup with TestNG are outdated"
The download link in our docs for TestNG update URL is now out of date and some of the info in this section:  https://docs.openrefine.org/technical-reference/build-test-run#testing-in-eclipse

There's good info to get and reuse some of it from their README.md file in their repo here:
https://github.com/cbeust/testng-eclipse

[2022-04-01 05:43] shelomi99 commented on #1940
Hi @wetneb I tried to reproduce this issue locally.

If a column name has a space, and the "Trim Column Names" checkbox is checked, the name is trimmed to remove any whitespaces.  According to the Expected behavior should the column name replace the space with an '_' character instead?
![image](https://user-images.githubusercontent.com/50749107/161201881-b2900464-3cae-430c-83be-5d407916e6f2.png)
!

[2022-04-01 06:07] antoine2711 commented on #1940
The discussion in this issue seams to point much more in the direction of escaping. It’s kinder to the user to respect is choice. Removing was most probably an easy fix to a problem. The quoting on the other hand, is more complicated but much more useful to the user.

Unless you see a problem with implementing quotes based on the type of database, quoting is the way! ;-)

Regards,
   Antoine

[2022-04-01 07:01] elroykanye commented on #4675
Hello @thadguidry , can I get to work on this?

[2022-04-01 07:08] shelomi99 commented on #1940
Hi @antoine2711, appreciate your quick response. So is it right to assume that when it comes to an SQL only scenario, it should export all column names within backticks. Exporting with backticks should not be limited to column names with special characters yeah?

[2022-04-01 07:38] SIXIN-LI commented on #2326
Hi, can I work on this?

For the solution, do you want exactly the same three ranks as Wikidata or additional ranks that users can define? I feel like the three ranks provided are good enough, thinking that the rank is only time-based.

For now, Wikidata is not ordering multiple values based on their ranks while they use color to identify them. This may be something we can add.

What do you think?

[2022-04-01 08:23] SIXIN-LI commented on #4624
Hello, @wetneb can I work on this issue?

BTW, what version is the master version? Do you mean the latest OpenRefine version?

[2022-04-01 09:00] wetneb commented on #4624
I mean the development version, build from the `master` branch.

[2022-04-01 09:11] wetneb commented on #2326
Users will only be able to upload statements with ranks that are supported by Wikibase, so I would not propose any other option, otherwise people will run into errors at upload time. I do not think ranks are extensible: all Wikibase instances support just these three ranks, I think (unless I missed something).

I think using color to identify them is indeed quite useful, otherwise it is hard to no

[2022-04-01 09:36] wetneb commented on #4675
@elroykanye feel free to assign issues to yourself directly, you should have the required permissions to do so. Of course it is nice if you don't have to many issues assigned to yourself at once, to leave some for others. Thanks a million for all your contributions so far!

[2022-04-01 10:01] antoine2711 commented on #1940
Yes. But, for some databases, backticks seams to (might) not work… (not sure, and the exception if so)

Yes.

I'm assign this issue to you. Feel free to ask any questions.

Regards,
   Antoine

[2022-04-01 10:02] wetneb commented on #4472
Since there is no viable technical solution on Commons' side for this, I propose we close this issue.
We can revisit this when/if some API is developed to detect duplicates.

[2022-04-01 10:25] elroykanye commented on #4675
Oh! It's my pleasure. I think I will help others towards solving these issues while checking for others which should be closed or have persisted for too long.

[2022-04-01 11:08] Binita-tech commented on #4546
Thanks @WaltonG
@wetneb I am able to reproduce the issue
![image](https://user-images.githubusercontent.com/78761614/161250865-2bc60c9c-1221-4b7c-838c-1a86fa239a1b.png)
I saw on the previous PR that you suggest to adapt the regex so that it does not accept newlines anywhere inside the URL.
So, I am planning to use url.replace(/\n/g,''''); to solve this bug, am I going in right direction?

[2022-04-01 11:09] wetneb opened #4682 "Make it possible to upload new files to Wikimedia Commons"
When editing MediaInfo entities, we should also be able to create new ones. As a first prototype, we would add a field to specify a path to a local file (to be then generalized to remote URLs), which:
* if the entity is marked as new, uploads the new file alongside the structured metadata
* if the entity is existing, replace the existing file by the provided file

This interface would then be alig

[2022-04-01 11:11] wetneb commented on #4546
I would try to adapt the regex that detects the URL so that it does not accept newlines directly. It is a complicated regex though!

[2022-04-01 18:08] debpaul commented on #1245
Thanks @thadguidry ^^^ that was just the hint I needed today.

[2022-04-01 18:16] shriyasankhyan commented on #4645
I would like to try to solve this issue as no good first issues are available. Can you please assign me this issue so that at least I can try to solve this?

[2022-04-01 18:21] shriyasankhyan commented on #4645
If you can guide me towards some first issue, then I would be glad.

[2022-04-01 18:28] shriyasankhyan commented on #2465
Can you assign me this issue  @wetneb ? I want to try to work on it.

[2022-04-01 18:30] shriyasankhyan commented on #2351
I would like to work on it . Can you assign this issue to me? @wetneb

[2022-04-01 18:44] thadguidry commented on #2351
@shriyasankhyan Sure, but we don't actually have a way to display (see) the unprintable chars as shown in the mockup on the right side data grid because #1286 is still not resolved (we do still have a branch for that work however from a previous contributor, which you are welcome to take a look at).  For this issue, only the new facet capability is needed.

[2022-04-01 21:54] amyy2022 commented on #4675
One finding on windows is about the special characters. For the space character or possibly other characters, the TestNG will generate files in another location rather than the intended location.

To avoid this make sure the Eclipse workspace has no special characters including the space character.

[2022-04-01 22:02] amyy2022 commented on #4675
Error: Unable to initialize main class org.testng.remote.RemoteTestNG
Caused by: java.lang.NoClassDefFoundError: org/testng/TestNGException

I encounters this error which seems to be related to the classpath settings for TestNG, according to the official doc https://www.testingdocs.com/questions/how-to-fix-the-error-unable-to-initialize-main-class-org-testng-remote-remotetestng/

However, I cannot

[2022-04-01 22:08] amyy2022 commented on #4675
possible TODOs over the next few days:
* check out the detailed steps here to see if I can get the TestNG work in Eclipse: https://testng.org/doc/eclipse.html
* get and reuse some of it from their README.md file in their repo from the link @thadguidry provided above

[2022-04-02 03:29] shelomi99 commented on #1940
Hey, @antoine2711 I have a question regarding the SQL exporter. Is there an option for the user to select the database type before exporting the SQL script as it is not mentioned in the description of the bug?
If there is no option to select the database, in order to make the SQL script compatible with all the databases, escaping is not really an option.

The SQL Exporter should, by default, conve

[2022-04-02 03:48] shriyasankhyan commented on #2351
Thanks for assigning me this issue. I will definitely consider looking at #1286 .

[2022-04-02 03:49] shriyasankhyan commented on #1286
Can you please assign this issue as well to me as the other one is inter-related. @thadguidry

[2022-04-02 04:03] thadguidry commented on #1940
@shelomi99 There is no option to select a SQL database type to export for.  SQL is a standard and the export is that of a **SQL script** that adhere's nearly verbatium to the SQL standard and it's lexical syntax and formatting.  Have a look at all my various comments above in prior years. (This issue has been around since 2019) In particular, about PostgreSQL syntax of identifiers in the **4.1.1 I

[2022-04-02 04:14] thadguidry commented on #1286
@shriyasankhyan Sure, it's going to be really cool stuff for your portfolio if you are up for it.  I hope your HTML and CSS and most importantly JavaScript skills can handle it :-)  The old branch is https://github.com/OpenRefine/OpenRefine/tree/non-printable-characters and not sure what differences are there from the previous PR #2350 from @AghaSaad04 which you are welcome to checkout locally and

[2022-04-02 04:31] antoine2711 commented on #1940
@shelomi99 : you are right, there are none. That could be added to the Download tab, but it would be far from the original post, and more complex.

The scope of this issue is to substitute invalid characters from the title with the underscore charater, when the « Trim Column Names » option is checked.

If you want to push the issue a bit further, you _could_ also add a text field to specify the es

[2022-04-02 07:17] shriyasankhyan commented on #1286
Ya surely :) would look up to the provided resources. Again thanks for assigning me this issue.

[2022-04-02 08:02] Babi-B commented on #2749
Hello, @thadguidry @wetneb @antoine2711. While I continue working I'll like to give an update on what I've been able to do so far.

1. The search icon now remains static when clicked
2. The search bar collapses irrespective of the browser (Firefox, Chrome, Edge, and I.E.)

https://user-images.githubusercontent.com/66228179/161373284-03e7ef0a-f054-4175-a427-5bd6744b7bf8.mp4

I'm still working on th

[2022-04-02 08:10] shelomi99 commented on #1940
@thadguidry The approach that you have suggested would very well work for PostgreSQL but I doubt we can make
it work for all databases. Unicode escapes work for PostgreSQL but the same does not work for MYSQL and it will be
a tedious task for the user to change the column names manually.

@antoine2711 I have opened the below pull request [1] to simply substitute invalid characters from the column

[2022-04-02 09:17] khadijm commented on #3137
i am getting this white page

![Screenshot from 2022-04-02 10-14-03](https://user-images.githubusercontent.com/88087734/161376418-e84dbb90-1074-48c1-acf8-73ea0d6083f1.png)

[code]

[2022-04-02 09:55] SIXIN-LI commented on #2326
Hi @wetneb,

I believe I need to add a property named "rank" to the Statement class. I have located the class StatementEdit and the Statement class seems in a jar file "wdtk-datamodel-0.13.1". I wonder how I can modify the library.

[2022-04-02 11:20] wetneb commented on #2326
I think you should not need to modify the library to work on this. WDTK (Wikidata-Toolkit) indeed already supports statement ranks, this task is about exposing this support to OpenRefine users.

[2022-04-02 13:28] thadguidry commented on #1940
@shelomi99 I did not say to use escaping but to refer to that reference that suggests to use underscores in column names which is what we do as a standard practice in the DB world.

[2022-04-02 13:41] shelomi99 commented on #1940
Sorry for the misunderstanding @thadguidry. It is in fact the approach that I have followed when adding the fix for this issue. Refer [1] for the fix. Thanks for your input and help :)

1. https://github.com/OpenRefine/OpenRefine/pull/4685

[2022-04-02 22:02] topisteronyango commented on #241
Hello, kindly assign me to this task.
Thank you.

[2022-04-03 00:57] keerthybreddy commented on #608
Hello! My name is Keerthy Reddy and I am a Outreachy applicant for Summer 2022. If it is still available, can I be assigned this issue to work on? Thank you so much!

[2022-04-03 01:03] antoine2711 commented on #608
@keerthybreddy sure. I'm assigning it to you.

Regards, Antoine

[2022-04-03 05:05] #1940 closed

[2022-04-03 05:08] #4656 closed

[2022-04-03 06:09] SIXIN-LI commented on #2326
Thank you for the clarification!

For the logic of toggling the icon style, I wonder if we can do it by clicking the up arrow/center circle/down arrow. This will save one click and is mostly used but will need to assume users are familiar with these ranks in Wikidata for them.

The way Wikidata does now is that after clicking, it gives a drop-down menu, and via options in the menu, it toggles the

[2022-04-03 07:34] antoine2711 commented on #1940
@shelomi99 : good work. You can start to look at the « [Good Second Issues](https://github.com/OpenRefine/OpenRefine/issues?q=is%3Aissue+is%3Aopen+label%3A%22Good+Second+Issue%22) ».

Or you could start a new issue to for an escape character!

Regards,
   Antoine

[2022-04-03 10:42] Binita-tech commented on #4481
I found columnNames variable in GREL here:
![image](https://user-images.githubusercontent.com/78761614/161423472-18da3c72-e001-458d-9da2-03cb996914a8.png)
Now, I have to make available the same variable in Jython
![image](https://user-images.githubusercontent.com/78761614/161423689-2e11f821-0f68-40db-83c2-f2a4d5b5342b.png)
Is this only documentaion work? Please correct me if I am wrong @wetneb

[2022-04-03 10:49] elroykanye commented on #3062
Would we then have to modify every single one of these?

[2022-04-03 11:23] Binita-tech commented on #816
I would like to work on this issue, kindly assign it to me.

[2022-04-03 11:24] elroykanye commented on #816
Hey @Binita-tech , thanks for offering to help. Let me know if you face any issues.

[2022-04-03 12:14] antoine2711 commented on #4481
Yes @Binita-tech.

It's both. Adding code so Jython can handle the variable, and adding the corresponding documentation.

For the documentation, you could also document all the variables available in Jython. But it is not required, another issue could be opened for that.

Regards,
   Antoine

[2022-04-03 12:20] antoine2711 commented on #3062
Yes. It's the same pattern to use to check.

Regards,
   Antoine

[2022-04-03 12:27] elroykanye commented on #3062
Alright then, I will go through each and enforce the pattern of return an EvalError.

[2022-04-03 14:30] WaltonG commented on #4081
@wetneb Can I be assigned this ?

[2022-04-04 02:09] Babi-B commented on #2749
Hello, @wetneb @thadguidry. Could you please review this?

[2022-04-04 03:52] Babi-B commented on #3033
Hello @tfmorris and @wetneb.

I checked the [OpenRefine Documentation](https://docs.openrefine.org/) but found nothing on clustering algorithms
To work on this issue will I need to be versed in the knowledge of clustering algorithms or can I learn as I go? If the latter, are there resources I could refer to?

 Also, is there a guideline to follow?

[2022-04-04 07:57] Babi-B commented on #4197
Hello @wetneb I'll like to work on this task. Could you assign this to me?

[2022-04-04 08:19] WaltonG opened #4692 "A "NullPointerException" could be thrown"
In the file ProjectManager.java located at /main/src/com/google/refine/ProjectManager.java "placeHolderJsonObj" is nullable hence a "NullPointerException" could be thrown in the following scenario

 private boolean isValidUserMetadataDefinition(ObjectNode placeHolderJsonObj) {
        return (placeHolderJsonObj != null &&              **2**
                placeHolderJsonObj.has("name") &&

[2022-04-04 08:23] WaltonG commented on #4692
@antoine2711 I think this can be a good first issue

[2022-04-04 09:10] SIXIN-LI commented on #2326
@wetneb
My idea is something like the following gif. When the user hovers over a certain part, the title showing the rank value will show.

 Does it seem fine to you?
![rankToggle](https://user-images.githubusercontent.com/45926850/161511471-6f5542c5-dca2-4715-8918-be8d2fb5eeaf.gif)

[2022-04-04 09:53] antoine2711 commented on #4692
@WaltonG 👍
@wetneb is the one who can check this.

[2022-04-04 10:10] antoine2711 commented on #3033
It's more about doing some basic explanation. So yes, you can do this issue. Maybe check the doc of the librairies used for the clustering algorithms to find more information? Wikipedia will also help you a bit, I guess! For the back and your own understanding.

Regards, A.

[2022-04-04 10:20] ostephens commented on #3033
There are two locations in documentation where we already have information about the clustering algorithms:
* https://docs.openrefine.org/manual/cellediting#clustering-methods (intended for end users)
* https://github.com/OpenRefine/OpenRefine/wiki/Clustering-In-Depth (intended for those wishing to understand exactly how the clustering algorithms work)

I'd suggest first reviewing the information

[2022-04-04 10:27] WaltonG commented on #4692
@antoine2711 Let me see if I can get some

[2022-04-04 12:18] elroykanye commented on #4402
@ashwini-m-hub are you still working on this?

[2022-04-04 12:54] ComgLq24 commented on #2465
@thadguidry  Hello, I and my teammate @Unnamed-1408 was wondering whether we could give this issue a try. We have some questions.

1. If just to solve the NPE exception, we can just simply use the code(OdfSchemaDocument.class, getTables() method) below to judge, because is the `contentRoot` becomes `null` that causes NPE

[code]

However, if you need to check the ODS format, it needs to do more wo

[2022-04-04 15:02] WaltonG opened #4693 "NullPointerException Could Be Thrown When Getting savedConnections"
In the file DataBaseUtils.java located at /database/src/com/google/refine/extension/database/DatabaseUtils.java "savedConnections" is nullable hence a "NullPointerException" could be thrown in the following scenario

![image](https://user-images.githubusercontent.com/52596583/161567254-264f01f2-7e2e-4719-8877-0b38e249a6a7.png)

1. IOException is thrown at line 98
2. IOException is caught at line 1

[2022-04-04 16:09] WaltonG opened #4694 "InterruptedException Ignored When Stopping the Servelet"
On line 255 of Refine.java file located at /server/src/com/google/refine/Refine.java the caught InterruptedException is ignored as shown below.

![image](https://user-images.githubusercontent.com/52596583/161585399-72497f27-ee93-4960-bddf-b4584d750e77.png)

InterruptedExceptions should never be ignored in the code. The throwing of the InterruptedException clears the interrupted state of the Thread

[2022-04-04 16:37] zkl-ai commented on #4625
I found the bug was casued by the creation a file with a name that comtains  ` \  /  :  *  ?  "  <  >  |` character, which is limited by the Windows Operating System. That's the reason why it work well in linux and mac . They don't have this limitation. Here I got a idea to fix it. 1. Just replace the specail characters `\  /  :  *  ?  "  <  >  |` with something else when current Operating System

[2022-04-04 17:15] thadguidry commented on #4625
@zkl-ai That's what I would recommend.  It's likely best to reuse Apache Commons-IO since we use it in some places and it has various utilities for the filename if you poke around in it.  Here's where they know what is allowed or not: https://github.com/apache/commons-io/blob/master/src/main/java/org/apache/commons/io/FileSystem.java

[2022-04-05 01:29] TheTrailblazer09 commented on #3164
Please assign me to this

[2022-04-05 01:38] antoine2711 commented on #3164
@TheTrailblazer09: it's yours.

Please note that it is still `To Be Reviewed`, and as such, it is not totally confirmed.

Regards, Antoine

[2022-04-05 03:01] WaltonG commented on #387
@antoine2711 @wetneb Can I work on this ? I have confirmed the system hangs with no error message when uploading an xlm file with rows less than or equal to 5

[2022-04-05 04:33] Binita-tech commented on #1713
I have worked on two good first issues. Now I would like to work on this issue, kindly assign it to me.

[2022-04-05 05:10] antoine2711 commented on #1713
@Binita-tech : this issue is more involving. There is a proposition to make as to where you control that, either in the WD Schema or at the cell edit level.

At the WD Schema level, it doesn't give you much power, and at the cell edit level, it migth prove not so simple…

Regards, Antoine

[2022-04-05 05:58] giulioturetta commented on #4625
Hi @zkl-ai @thadguidry, as I'm the original poster of the issue, I'd like to point out that the special characters might also exist in the URL path, not only in the last part of it which is presumably the file name of the file created during the import process (see the screenshot of the error message I previously posted). So, folder name/directory name should also be taken into account.

Neverthel

[2022-04-05 06:05] zkl-ai commented on #4625
Yes, I have given this some thought, thank you for the reminder.

[2022-04-05 06:06] zkl-ai commented on #4625
Yes, I have given this some thought, thank you for the reminder.

[2022-04-05 06:07] zkl-ai commented on #4625
I will consider these methods, thank you for the advice!

[2022-04-05 08:11] #1122 closed

[2022-04-05 08:25] #2316 closed

[2022-04-05 09:02] elroykanye commented on #3062
https://github.com/OpenRefine/OpenRefine/blob/c8a721a10bbdba092b3605204aa9849da3089e5f/main/tests/server/src/com/google/refine/grel/FunctionTests.java#L132-L134

I am really concerned with the comment at L131. Will changing the returns of these affect the tests that have already been prepared?
I am sure that will happen. If that is the case, is it alright to modify the tests?

[2022-04-05 09:23] antoine2711 commented on #3062
@elroykanye : yes, you will have to adapt some test cases, write new ones, and be careful… ;-)

Regards, Antoine

[2022-04-05 15:03] TheTrailblazer09 commented on #2071
Hi could i be be assigned to this?

[2022-04-05 15:11] elroykanye commented on #2640
Turns out that this is a popular issue in linux as I saw here: https://github.com/openmole/openmole/issues/140

The dependence we have in this case is the java.awt.Desktop. I would suggest using some other suitable call in case, like Runtime from java.lang...

[2022-04-05 15:16] Unnamed-1408 commented on #2465
@tfmorris @wetneb @thadguidry Hello, can you answer the above questions, thanks a lot!

[2022-04-05 16:20] thadguidry commented on #2465
@ComgLq24 I listed in the original comment of what is the **Expected behavior**.  We have many examples in our code where we show a popup dialog during import.  Take a look at other importers to get a sense of that.  The biggest as mentioned above in the Current results is

Having an NPE in the log is acceptable, as long as on the frontend we have notified the user (and not failed silently) with a

[2022-04-05 16:42] elroykanye commented on #2640
Yes! `Runtime.exec()`

This is actually what I had in mind. The client initially tries to launch using desktop, so adding another option to handle the not supported os could fix it. I currently use Linux only so I have been able to try this method on another application and it works well. Will need to try out with windows.

[2022-04-05 16:57] Binita-tech commented on #2640
I can try out this on windows as I am window user. I would like to work on this issue. Kindly assign to me.

[2022-04-05 17:04] elroykanye commented on #2640
Hey @Binita-tech , thanks for opting 😄
I think I definitely needed help in the windows area. Please help out with this issue. I have not done my tests on the project itself, but I can show you how I tried it out and maybe that will land a solution. I will be assigning it to you.

[2022-04-05 17:56] #4081 closed

[2022-04-05 19:51] elroykanye commented on #3515
Could it be displayed on some part of the front-end always indicating the change? Or just when memory usage reaches a certain thresh-hold?

[2022-04-05 21:00] antoine2711 commented on #3515
@elroykanye: I personally think both would be great.

For the display, I would put this information in the Preferences page. I think we could also put more information here, like the path to the Workspace, the gData key & secret, the proxy IP & port, etc.

But, like you said, it could be good to have a warning when you get to, less say, 95 % of memory…

Regards, Antoine

[2022-04-05 21:15] bradthurber commented on #3247
Should this be closed now that OpenRefine is using log4j 2?

[2022-04-05 22:10] #3247 closed

[2022-04-05 22:15] antoine2711 commented on #3062
@elebitzero: there seams to be a misunderstanding here. @elroykanye was assigned the issue, and I see that you submitted a Pull Request. Before creating a PR, please make sure no one is already assigned.

In the OpenRefine community, we value your time and efforts, and if 2 persons works on the same issue at the same time, we fear it could be an inappropriate use of your time, making one of you tw

[2022-04-06 00:52] elroykanye commented on #3062
Thanks @antoine2711 .
That's true, I would like to be informed or notified when working on issue to avoid clashes. I can always leave room for someone else to offer some help in it.
@elebitzero , thanks for your contribution. I believe it will be proper that you notify when wishing to work on an assigned issue 😊 it will make our contributions frictionless and free.

[2022-04-06 01:09] WaltonG opened #4702 "Update the OpenRefine user manual with changes to « Use values as identifiers »"
When the Use values as identifiers option of Reconcile menu is chosen for a given column, the identifiers will not be reconcilled as expected by the user. Issue #3172

Changes proposed in PR #4666 will notify the user that identifiers will not be reconciled. This information needs to be added to the user manual in the Reconciliation topic

[2022-04-06 01:12] WaltonG commented on #4702
@wetneb @antoine2711 I think the label should be changed from enhancement to documentation

[2022-04-06 02:18] WaltonG commented on #2442
@wetneb @antoine2711 I would like to work on this

[2022-04-06 07:06] SIXIN-LI commented on #2326
Thanks! I had a hard time interpreting the backend structure. I wonder what the workflow in the backend is like after the item JSON value is passed to the backend.

[2022-04-06 12:18] WaltonG commented on #4702
@antoine2711 Can I work on this to facilitate merging of PR #4666

[2022-04-06 15:21] shelomi99 commented on #195
Hi, I'm currently looking into this issue. Can I know the expected outcome of this feature? Should this be only focused on supporting the import of BibTex files?

[2022-04-06 17:55] shelomi99 commented on #1940
Hi @antoine2711, as the improvement you suggested requires a bit more effort I started looking into a good second issue instead at [1].  Appreciate it if you could give me insights on it :)

1. https://github.com/OpenRefine/OpenRefine/issues/195

[2022-04-07 02:34] antoine2711 commented on #195
@shelomi99 : yes. Importing BibText is enough.

Regards, Antoine

[2022-04-07 02:37] antoine2711 commented on #1940
@shelomi99 : the improvement I suggested are for ANOTHER NEW issue! You have done enough on this one, it's done! ;-)

For the other issue, you can ask me general questions thru email: antoine@beaubien.qc.ca, or specific questions about the issue on the issue itself.

Regards, Antoine

[2022-04-07 03:53] shelomi99 commented on #195
Thanks, @antoine2711 can you assign this issue to me, I can start working on it.

[2022-04-07 06:55] WaltonG commented on #2443
@thadguidry With this option does it mean that the whole application will have to be changed to a spring boot application ?  Am not sure if it is possible to include the spring boot maven dependency in the pom file and use the relevant dependencies just for the localization functionality without making changes to other functionalities of the application

[2022-04-07 07:22] WaltonG commented on #2442
I got the following words from weblate. Ill go ahead and try to define them in OpenRefine context

Apply
best candidate
blank
Blanks
Cancel
Change
claim
clipboard
Cluster
Clusters
Collapse
Collapse
Column
complete
Computer
Contributors
Creator
Custom
Custom Tabular Exporter
database
data set
Delete
description
Description
Download
Downloading
edit
English
Enter
entity
entity identifier
Error
exten

[2022-04-07 15:09] #4540 closed

[2022-04-07 15:27] #3172 closed

[2022-04-07 15:40] wetneb commented on #4702
Actually i think the documentation already makes that clear, no?

[2022-04-07 16:21] Binita-tech commented on #352
I have read the issue description and comments and I would like to work on this issue. Kindly assign it to me.

[2022-04-07 17:51] thadguidry commented on #816
@Binita-tech This issue deals with allowing the user to have explicit **manual** control of number formatting, regardless of Locale specified on their system or through a Java environment setting or property.  In that above comment I was just showcasing how Locale can have an impact depending on how an implementation is done for this issue.

Babel (Python) has the ability to force custom number pa

[2022-04-07 18:04] #4675 closed

[2022-04-07 18:10] Babi-B commented on #4048
`With @fgiroud we plan to use the same dataset for documentation and for UX testing.`

@wetneb I'll like to do this. However,  would it be possible to work on the documentation given that I don't have the require dataset?

[2022-04-07 18:12] #2465 closed

[2022-04-07 18:15] elroykanye commented on #816
@thadguidry , so this means that the we just have to adjust toString to taking 2 parameters - the number, the user locale. The locale could be something like `en`, which will then map this short ISO639-2 code to the actual locale before formatting.
Is this in that light?

[2022-04-07 19:26] thadguidry commented on #816
@elroykanye No, not Locale (we deal with that later in #1894).  The 2nd argument would be a format pattern.  See @tfmorris comments.  We basically have a 1 arg and 2 arg version of the `toString()` function.  But I am not sure the current state of things in our main branch.  And so you might check with @wetneb to have his thoughts here before anyone begins work on this.

[2022-04-07 19:28] Babi-B commented on #3033
Hello @antoine2711 @ostephens. I have a few suggestions:

1. The phonetic algorithms [Metaphone3](https://en.wikipedia.org/wiki/Metaphone)
 [Cologne-phonetic](https://en.wikipedia.org/wiki/Cologne_phonetics),
 [Daitch-Moktoff (https://en.wikipedia.org/wiki/Daitch%E2%80%93Mokotoff_Soundex)
, and [Beider-Morse](https://stevemorse.org/phonetics/bmpm.htm) are not explained in the [in-depth document](h

[2022-04-07 20:04] elroykanye commented on #816
Alright then, I would suggest then that @Binita-tech waits for that to come up before continuing on with this.

[2022-04-07 20:30] elroykanye commented on #2606
Let me check this out

[2022-04-07 23:17] elebitzero commented on #3062
@antoine2711 @elroykanye, oops, I'm just seeing these recent comments now. It looks like I picked up this issue at the same time @elroykanye started looking into it.  I should have commented on the issue first.

I fixed the issue where `null.pow(2)` returns null instead of an error like all the other math functions. Also, I found that `null.exp()` returned null instead of an error.   So the issue

[2022-04-07 23:18] elebitzero commented on #3062
@elroykanye,  my PR removes "exp" and "pow" from the returnsNull set in the testTooManyArgs test. They now return error for incorrect number of arguments.   The other functions are string functions;  I would create a separate issue for those.

[2022-04-08 02:46] antoine2711 commented on #2442
@WaltonG: a short description is good, as there is a text field for explanations. The next step would be to import that in Weblate. Currently, there is TWO word defined in the glossary: QuickStatements and Facet.

Here's a snapshoot of the editing pane in the wep page of Weblate:
![image](https://user-images.githubusercontent.com/12217525/162352877-77253974-ee99-4c6e-9a84-8c81f2e6d37e.png)

Here's

[2022-04-08 03:07] WaltonG commented on #2442
@antoine2711 Yes, that's where I got the words to be included in the glossary I am working on. Thank you for the pointers

[2022-04-08 03:12] WaltonG commented on #2442
@antoine2711 Since it will be imported to weblate I guess I will have to present it in json format ?

[2022-04-08 03:28] antoine2711 opened #4715 "« Reconcile > Use values as identifiers » can match an invalid ID and will show JSON data instead of a nice error message"
The function « Reconcile > Use values as identifiers » can match an invalid ID and will show JSON data that is of little interest and can confuse a non-technical user.

A nice error message would be much better.

Note that this is only for Wikidata, as @WaltonG in #PR4666 found, these results and the others already have a nice error message:

### To Reproduce
Steps to reproduce the behavior:
1. «

[2022-04-08 04:07] antoine2711 commented on #2442
@WaltonG: from what I understand, we currently have 4 Weblate « composant » that get transfered in our GH repo in 4 different locations. And yes, they are in JSON. (Here, one composant in one language, french.)

https://github.com/OpenRefine/OpenRefine/blob/3d6960912f418e4bbee089771b7c9aae3d2177df/extensions/wikidata/module/langs/translation-fr.json#L1-L5

![image](https://user-images.githubuserco

[2022-04-08 04:59] antoine2711 opened #4716 "Escape character when exporting in SQL"
It would be good to be able to have data escaped with the SQL importer, and to be able to choose by which character.
This was discussed in Issue #1940

### Proposed solution
Add a text field for an escape character in the SQL Exporter.

### Alternatives considered
data manipulation at the text level after exportation.

### Additional context
![image](https://user-images.githubusercontent.com/12217

[2022-04-08 05:17] antoine2711 commented on #3062
Actually, @elebitzero, the key here is the person « Assigned » to the issue. The first who put his name there is the one in charge, so to say.

Anyway, since you and @elroykanye are at a good profeciency level, I guess you will be able to work together on this issue. ;-)

Regards, Antoine

[2022-04-08 05:22] antoine2711 commented on #4048
For the dataset, @Babi-B, it is suggested in the discussion to use a file from the UI Tests. Can you find one with appropriate text data, and create a new screencapture to replace the flawed one?

(They are called « Functional Tests » in the doc… https://docs.openrefine.org/technical-reference/functional-tests)

Regards, Antoine

[2022-04-08 05:30] antoine2711 commented on #816
I think @thadguidry it is very safe here to assume that both problems are different enough, and with little overlay, that 2 issues are better. You intuition seams good in my mind. Let's focus on the format in @tfmorris comment and leave LOCALE for another issue.

Regards, Antoine

[2022-04-08 06:29] WaltonG commented on #2442
@antoine2711 My proposal is to add a glossary folder in docs

[2022-04-08 07:28] SIXIN-LI commented on #2326
Hi @wetneb , from a wikibase doc in the project and the codes in the wikidata folder, I guess the pipeline to add rank to the statement is as below. Do you mind checking if my understanding is correct?

Pipeline:
1. Create a WbRankConstant class that extends WbExpression class
2. Make WbRankConstant a parameter of the WbStatementExpr's constructor
3. May need to scrutinize rank? (I am not sure if

[2022-04-08 07:28] the-star-sea commented on #4716
Hello.I am a junior undergraduate cs student and I wanna have a try.Thank u

[2022-04-08 08:14] ostephens commented on #3033
Thanks @Babi-B  - the first of these would be really great - please pay attention not just to the general description but also how they are implemented in OpenRefine (by examining the code) as (for example) I only recently found out that the Metaphone3 clustering only uses the first 8 characters of the Metaphone3 encoding of the value as the clustering key - these details are important.

I'd also

[2022-04-08 08:23] elroykanye commented on #3062
@elebitzero we can definitely work together so this can be resolved 😃😁
I'll go through your PR and select out what is not included so I can launch my help too.

[2022-04-08 10:04] sherrif10 commented on #4423
Hello @wetneb  am an outreachy participant, kindly assigne me to this issue.

[2022-04-08 10:06] sherrif10 commented on #4694
Hello @WaltonG  is this issue ready to be worked on such that i can work on it

[2022-04-08 10:45] WaltonG commented on #4694
The issue is still labelled to be reviewed. Assignement of issues is done by project mentors upon request.

[2022-04-08 11:04] sherrif10 commented on #4694
Thanks @WaltonG

[2022-04-08 15:43] antoine2711 commented on #4423
Hi @sherrif10. This issue has already been assigned to someone (and 10 days ago, so not long). Please choose another issue, or ask the current assigned person if he stopped working on the issue (which is probably the case since he's like you an Outreachy applicant.

Regards, Antoine

[2022-04-08 15:48] antoine2711 commented on #4694
Go ahaead, @sherrif10, it's yours.

Regards, Antoine

[2022-04-08 16:01] elroykanye commented on #4716
Hey @the-star-sea , please go ahead. I'll assign you to this! ☺️

[2022-04-08 18:28] braiam opened #4721 "Trying to apply a big array of actions, results in a 500 error from the backend"
We are integrating part of our data cleaning process into OpenRefine. We have a ~7MB/2500 events file to record it all. When we try to apply it, the backend responds with 500 and nothing on the command line/logs. I think that should be another bug, since 500 errors, also the "please wait" loading screen should error out when the back end respond with an error.

### To Reproduce
Steps to reproduce

[2022-04-08 22:57] khadijm commented on #1212
i think, i can work on this project with your help .

[2022-04-08 23:02] antoine2711 commented on #1212
Unfortunatly @khadijm, this issue can NOT be taken, as it is one of the 3 projects of the Outreachy 2022 program (see the
![image](https://user-images.githubusercontent.com/12217525/162544593-f3b9dd82-f87c-4f96-ac2d-b42b1bad5886.png) label). Since only 2 interns will be chosen, and that there is 3 project, there is a slite possibility that this issue might not be taken in May, if none of the inter

[2022-04-09 00:07] antoine2711 opened #4722 "« Auto-match candidates with high confidence » is deceitful and should not be pre-check"
In the Reconciliation dialog, the checkbox « Auto-match candidates with high confidence » is pre-checked when entering the dialog.

Since the confidence from the Recon service is not always useful (it can say 100% to many items even when some should be defraded, user don't really know what the number means and exactly how it is given). Because of that, I think the checkbox should be un-cheked by d

[2022-04-09 00:09] the-star-sea commented on #4716
I have read the Issue #1940 .Could u please give me an example?I have read the Issue #1940 .So Does the text assign the unicode outside the text?For example,if the escape character is " and there is a column named abc,it would be "abc".Do I understand correctly?

[2022-04-09 00:10] the-star-sea commented on #4716
I have read #1940 .Could u please give me an example?So Does the text assign the unicode outside the text?For example,if the escape character is " and there is a column named abc,it would be "abc".Do I understand it correctly?

[2022-04-09 00:22] antoine2711 opened #4723 "If you rename a column after OR has created the Wikidata schema, the column name doesn't change in the schema"
If you rename a column after OR has created the Wikidata schema, the column name doesn't change in the schema.

### To Reproduce
Steps to reproduce the behavior:
1. Build a Wikidata schema
2. Go to the rows, rename a column, go back to the schema. The schema will still have the old column name.
3. Try to push data to Wikidata

### Current Results
A boring generic error message when you try to push

[2022-04-09 00:29] antoine2711 commented on #4716
@the-star-sea: if you try to SQL export a table, this is the current result.

[code]

With a text field in which the tick character would be entered i.e. « ` », it would give this output:

[code]

Regards, Antoine

[2022-04-09 00:42] antoine2711 opened #4724 "Saving the Wikidata Schema sometimes gives an error message that is imprecise and unhelpful. The problem should be describe instead."
We have non-negligeable problems in the Wikidata Schema’s validation process. A lot a times, even if the schema is good (what's visually in our face), the validation fails with a genereic and very unhelpful error message that can make a normal user grow some impatiance trying to find why it failed.

This is also for the error when saving a schema. Sometime, when there's problems, it just says it c

[2022-04-09 01:19] antoine2711 commented on #2326
Hi @SIXIN-LI : I can't answer all your questions, but I'm pretty sure that OR doesn't read Wikidata before pushing. I think it pushes, and Wikidata does nothing if there no change to data in Wikidata.
See « #4624 Adding a statement that already exists on Wikibase should not result in any API action ».

Regards, Antoine

[2022-04-09 04:11] WaltonG commented on #4702
@thadguidry @wetneb The proposed changes in #4711 supersets the proposed changes in this PR.  When #4711 is merged the proposes changes in this PR will be captured

[2022-04-09 06:29] SIXIN-LI commented on #2326
Thank you for the clarification! I am getting there, except needing a CSV file to do the testing.

[2022-04-09 07:13] antoine2711 commented on #2326
I suggest you use data from this folder if you can. It's the data for the « Functional tests », the user interface test cases & units…
`/main/tests/data`

Regards, Antoine

[2022-04-09 09:25] Aizko commented on #4724
I have been going through some of these issues lately myself. The screenshot above (default at the start of the schema) is the smallest of them, but gives a clue, with no clear idea of what is going wrong really. More clues as to the error would be appreciated in order to put a remedy.

[2022-04-09 09:29] antoine2711 commented on #4724
@Aizko: I would go as far as to say that to DEBUG this problem, more precise error messages are going to be mandatory. It’s too obscure in the front-end code.

Regards, Antoine

[2022-04-09 09:38] Aizko commented on #4724
Thanks for the hints, Antoine. This is not my worst issue right now with OpenRefine, the worst being I cannot upload the project despite progress starting, but actually blocked (see the googlegroups conversations). Will remember this conversation if I see vague messages appearing again. See the [googlegroups conversations](https://groups.google.com/g/openrefine/c/oOSg-0MelBQ). Regards

[2022-04-09 16:51] WaltonG commented on #2770
@antoine2711 I would like to work on this issue

[2022-04-10 06:59] wetneb commented on #4722
We could totally consider leaving this disabled by default. I expect quite a few users will be surprised by the move and will come back to us complaining that the service does not work correctly anymore, somehow ^^

[2022-04-10 07:27] wetneb commented on #2326
@SIXIN-LI I think you have a very good understanding of the structure!

That is indeed optional, and only if we identify meaningful problems involving ranks that should be surfaced.

I suspect you might just be able to use Wikidata-Toolkit's existing `enum` to represent the rank. Since ranks do not refer to any particular item, they should be ignored by `PointerExtractor`.

That is happening in th

[2022-04-10 07:30] trnstlntk opened #4727 "Snapshot releases (Mac and Linux versions) on MacOS are not properly loading"
When opening the Mac OS (.dmg) snapshot release, it doesn't load OpenRefine any further than the logo, as seen in this screenshot:
![image](https://user-images.githubusercontent.com/9881645/162605130-f818968a-eed4-44df-9499-273de95bfdf2.png)

When I try with the Linux download, that one doesn't even open a new browser tab at all.

### Expected Behavior
OpenRefine should fully load.

### Context
Te

[2022-04-10 08:06] wetneb commented on #4702
closed by #4711

[2022-04-10 08:06] #4702 closed

[2022-04-10 08:08] dikshamalik2552 commented on #4715
Hi @antoine2711, Can you please assign me this issue

[2022-04-10 08:09] #3062 closed

[2022-04-10 08:12] wetneb commented on #4715
I think this is an issue with the reconciliation service, not with OpenRefine, so I would close this. But happy to leave open if you can think of a sensible fix on OpenRefine's side.

[2022-04-10 08:17] antoine2711 commented on #4715
@wetneb: is there a way that « Use values as identifiers » can validate the ID structure? So that OR can refuse to match invalid ID like W12wretret2 for WD recon service? Like getting a grep from the service?

Regards, Antoine.

[2022-04-10 08:48] wetneb commented on #4715
In my opinion, the whole point of this operation is that it does not do HTTP calls to the service: it is meant to be fast. If one wants to validate the reconciliation identifiers, one should use the Reconcile operation instead.

[2022-04-10 09:47] SIXIN-LI commented on #2326
Thank you for the affirmative answer!

I found all three strategies are using the existing rank when merging. If there is a conflict between the rank of the existing statement and that of the to-add statement, should the new rank be taken instead?

[2022-04-10 09:51] trnstlntk opened #4728 "OpenRefine 3.6 creates duplicate Wikidata statements where it is expected to only add qualifiers to existing statements (String-specific?)"
In this [Wikidata batch edit](https://editgroups.toolforge.org/b/OR/c00f8770a8e/) ([reverted](https://editgroups.toolforge.org/b/EG/8984072/)), I wanted to add [taxon author](https://www.wikidata.org/wiki/Property:P405) qualifiers to a set of existing [taxon name](https://www.wikidata.org/wiki/Property:P225) Wikidata statements.
But even with the new deduplication settings for Wikidata edits in Op

[2022-04-10 10:00] trnstlntk commented on #4728
It's been a while since I did this batch, so I don't recall super well, but I do think I used this setting:
![image](https://user-images.githubusercontent.com/9881645/162612760-1502fba1-c706-4348-bdd5-b3005949159b.png)

I have just tried again with the 'property and value' matching strategy, but that one seems to auto-jump to 'property' only when I re-open the configuration dialog.
![image](https:

[2022-04-10 10:20] wetneb commented on #2442
Why do we need to have the glossary in the repo anyway? Can we not keep it in Weblate?

[2022-04-10 10:21] wetneb commented on #2326
That as an extremely interesting question! For this, I think it is important to think about a couple of concrete data import scenarios, think about the desired behaviour in those scenarios, and then figure out a way to make those fit in OpenRefine. It is imaginable to add options to the merging strategies if needed.

[2022-04-10 10:39] wetneb commented on #4692
@WaltonG thank you for looking for more good first issues! I think it would be even easier if you could describe a use case where the NPE is triggered (for instance, provide a `workspace.json` file to start with, launch OpenRefine on it and describe what to do in OpenRefine to see the NPE)

[2022-04-10 10:47] wetneb commented on #4693
Hi @WaltonG, thanks for this! Instead of code screenshots, feel free to use code blocks in markdown (introduced with `` ```java `` and closed with `` ``` ``).
Also, it would be great to have a more concrete scenario (described from the perspective of a user) to reproduce this issue.

[2022-04-10 11:13] WaltonG commented on #4693
@wetneb Thanks for the review. Will action on the recommendations

[2022-04-10 11:13] WaltonG commented on #4692
@wetneb Thanks for the review. Will action on the recommendations

[2022-04-10 16:32] Binita-tech commented on #2019
![image](https://user-images.githubusercontent.com/78761614/162629612-b0c0603a-b09b-4333-9d27-3538050c2b2e.png)
I tried to reproduce 1st part of this issue and switched to record mode but still not clear on where to show the row counts, It would be good if mentors suggest regarding same :)

[2022-04-10 18:57] AtesComp commented on #4518
I created RDF Transform to combine the RDF extension with features of the OntoRefine version and extend with more robust processing.  Review to see if this suits many of the issues reported here.

See: [RDF Transform](https://github.com/AtesComp/rdf-transform)

[2022-04-10 21:26] khadijm commented on #1212
i am an  Outreachy aspirant. i don't know if can write a proposal on it.

[2022-04-10 22:16] antoine2711 commented on #1212
There is currently 3 issues that are RESERVED, and will be for the 2 choosen interns for the Outreachy 2022 program. This one is one of them.

At the start of May, those 2 interns will start to work on these 3 specifics issues, so nobody can't take them until then. All the others issues of are available to you, though. For your first issue, I would recommend to start with a « [good first issue](ht

[2022-04-11 02:54] sherrif10 commented on #4694
Thanks @antoine2711

[2022-04-11 04:16] sherrif10 commented on #4694
Hello @antoine2711  @WaltonG  Shared a pull request. kindly requesting for review. thanks.

[2022-04-11 04:19] sherrif10 commented on #4716
Hello @antoine2711  , this issue looks amazing for me to dive into it  kindly assigne it to me , probably highlighting key points would be highly appreciated.

[2022-04-11 04:38] sherrif10 opened #4735 "All Lincense Headers should be on top of package not inside package"
### Feature Request

I am proposing this change in our code base, All linces Headers should come on top of package, this is to fix is really very small but it brings the aspect of clean code. Let me hear from your suggestions.

[2022-04-11 04:58] sherrif10 commented on #4735
Added a quick fix https://github.com/OpenRefine/OpenRefine/pull/4736

[2022-04-11 05:22] sherrif10 commented on #4693
Hello @WaltonG  am intrested in working on this, do you mind assigning it to me.

[2022-04-11 06:07] WaltonG commented on #4693
Hi @sherrif10 I will assign you however as per the review a concrete scenario to reproduce the issue is recommended

[2022-04-11 06:11] sherrif10 commented on #4693
Yes thanks will reproduce it first

[2022-04-11 07:25] antoine2711 commented on #4716
@sherrif10: unfortunately, someone is already « assigned » to the issue, @the-star-sea. Since it's only been a few days, he most probably still working the issue. Please choose another one, not assigned.

Regards, Antoine

[2022-04-11 07:30] antoine2711 commented on #4735
@sherrif10 : it could be interesting, but I'm really not the person to evaluate this. I will pass it on to @wetneb, who can respond to your suggestion.

Regards, Antoine

[2022-04-11 07:33] sherrif10 commented on #4735
Thanks for your reply

On Mon, Apr 11, 2022, 10:30 AM Antoine Beaubien ***@***.***>
wrote:

[2022-04-11 11:11] #377 closed

[2022-04-11 15:18] trnstlntk commented on #4197
I've also been looking around a bit on Weblate (I am still getting quite lost in its interface). It appears that Weblate does support screenshots ([see documentation](https://docs.weblate.org/en/latest/admin/translating.html#screenshots))! But I seem to be unable to add any myself. Maybe one needs to be maintainer on Weblate to be able to add them?

Screenshots would be helpful in the context of q

[2022-04-11 15:31] Unnamed-1408 opened #4738 "The exported file is inconsistent with the original"
### To Reproduce
Steps to reproduce the behavior:
1. First, import any ods file(such as A.ods) and create project
2. Then, export this ods project to ODF spreadsheet(A-ods.ods)
3. Finally, import the A-ods.ods, and this ods file is different from the original one

### Current Results

1.  create the project and export to ODF spreadsheet
![image](https://user-images.githubusercontent.com/62083755/1

[2022-04-11 15:34] thadguidry commented on #377
It's really nice to see this issue finally closed after all these years.  It pops up for me every now and again.  So, many thanks @elroykanye for fixing this.

[2022-04-11 16:22] trnstlntk commented on #4682
After receiving a question re: how we will actually implement this (at which stage will the structured data be added to the file, and how can this process be made as simple as possible?): [this Phabricator ticket](https://phabricator.wikimedia.org/T224214) may be of interest. (Basically, UploadWizard adds SDC after a file was uploaded, if I understand correctly)

[2022-04-11 16:49] thadguidry commented on #4682
I think we would want to perform the batch process as efficiently as possible with existing API's?
So that might actually mean that in the backend we perform these steps in this order (and the user doesn't have to know we do it this way):

**A.** upload all files
**B.** then one by one apply structured data to each file that was uploaded in step A.

So then on the user facing side in OpenRefine, I

[2022-04-11 18:15] sherrif10 commented on #4716
Thank you so much for your great response , i appreciate, My plan is to push more code this week as much as possible.

[2022-04-11 18:36] DominicBM commented on #4682
It's not just about efficiency, but the 2-step approach probably introduces some risk and more complicated workflow to avoid problems they can cause.

I am not 100% sure of OpenRefine's plans here, but I think you have a lot of similar needs to what I expressed in my comment on Phabricator just now at https://phabricator.wikimedia.org/T224214#7846111

I suggested a way of how this could be impleme

[2022-04-11 19:15] wetneb commented on #4682
On my side I was just planning to add the SDC straight after uploading the file (indeed with two API actions, which is a priori not a big deal for us, although I can totally see the point of wanting a single API action).

[2022-04-11 19:16] antoine2711 commented on #2019
Hi @Binita-tech,

Is this picture, there is « 5269 Records » displayed. Could it be:  « 5269 Records (10234 Rows) » instead?

Yes, that seams to be the intention of the original poster, and it seams logical.

Regards, Antoine

[2022-04-11 19:31] thadguidry commented on #4682
@DominicBM I also felt the same way and agree the 2 step approach, while aligned to file transport mechanisms with HTTP/FTP on the far backend, does run the risk of putting things "out of sync".

[2022-04-11 21:31] antoine2711 commented on #4715
Yes @wetneb, that's why a REGEX validation would be good in my opinion: fast, and still give better error management. I was just asking if the REGEX validation for Wikidata ID was available from the Recon Service.

If not, could we assume that Wikibase ID are always ONE LETTER + NUMBERS?

Regards, Antoine

[2022-04-11 21:32] antoine2711 commented on #4715
Another example of an error preview, from a good item:
![image](https://user-images.githubusercontent.com/12217525/162836992-30b105aa-916d-48a3-b807-67807761cb79.png)

Regards, Antoine

[2022-04-11 21:35] antoine2711 commented on #4552
@andrawaag: I know it not much, but at least, we should remove the default check on the feature.

Here's an issue about that, if you want to vote for it: #4722

Regards, Antoine

[2022-04-11 22:40] antoine2711 commented on #4694
@WaltonG: here a very cool way to link to code IN A PRECISE CODE REVISION!

Markup to display code: `https://github.com/OpenRefine/OpenRefine/blob/8c074ae5a9908519e2f3a4ee7db1b2c8c44b0211/server/src/com/google/refine/Refine.java#L245-L257`

https://github.com/OpenRefine/OpenRefine/blob/8c074ae5a9908519e2f3a4ee7db1b2c8c44b0211/server/src/com/google/refine/Refine.java#L245-L257

Regards, Antoine

[2022-04-11 23:50] WaltonG commented on #4694
Thanks ! @antoine2711 Thats very cool indeed.

[2022-04-12 01:08] Babi-B commented on #4539
A similar modal appears for the "Undo/Redo" option too

![image](https://user-images.githubusercontent.com/66228179/162858275-b19233b2-a639-4d89-9b69-e80bf7ae33a2.png)

[2022-04-12 01:13] tfmorris commented on #4722
Deceitful? It sounds like you're talking about a broken reconciliation service which is returning high scores for low confidence matches. The best thing to do is to file a bug report with the broken service(s). You can't expect OpenRefine to provide reasonable behavior if it's being lied to.

[2022-04-12 01:15] Babi-B commented on #4539
So from this statement, the "x" button will just add a `.hide` method to the modal

[2022-04-12 01:20] antoine2711 commented on #4722
@tfmorris: I'm probably not choosing the good word here.

Yes, I think the Recon Service could be improve regarding it's confidence rating. But this would have to be address in that project.

Here, in OR, I'd just like to always do the confidence check by myself, so I always have to uncheck this particular checkbox. If I forget, then I might not realised that some entities were reconcialied withou

[2022-04-12 03:22] sherrif10 commented on #4694
Thanks @antoine2711 . Does this code lacking something to improve still.

[2022-04-12 04:46] antoine2711 commented on #4539
Yes @Babi-B.

Also, there are 2 of them, one in the facet panel and another in the history panel.

I think the top-right corner would be more like other dialogs.
What could be done also is a preference that would always hide them.

Regards, Antoine

[2022-04-12 05:06] sherrif10 commented on #4694
Thanks @antoine2711  Meanwhile let me be working on other issue.

[2022-04-12 08:56] sherrif10 commented on #4693
Hello @WaltonG , Am trying to reproduce this locally ,Do you mind sharing simple step or scenario am likely to expect.

[2022-04-12 09:38] WaltonG commented on #4693
Hi @sherrif10 I think that would be a long shot considering that it was raised from a developers perspective and not from actual interactions with OpenRefine

[2022-04-12 10:18] wetneb commented on #4693
Then we should probably close this as not reproducible.

[2022-04-12 10:22] #4735 closed

[2022-04-12 10:49] sherrif10 commented on #4722
Hello @antoine2711 @wetneb i would like to work on this issue . Kindly assigne it to me. Thanks.

[2022-04-12 10:50] sherrif10 commented on #4721
Hello @wetneb  Am an outreachy applicant , Love working on this issue, Kindly assigne it to me. Thank you.

[2022-04-12 13:05] shubhransh-locale opened #4744 "Trying to upload a large CSV file with 2M rows"
We have converted the openrefine code in the linux environment into a custom Docker image using JDK-11 base image.
We are running using the parameter `-m 8000M ` and also increased refine memory to 8000M for JVM.
But still when we are uploading a file of size of 1.4GB, when doing `creating project` it get stuck

### To Reproduce
Steps to reproduce the behavior:
1. Create docker image for openrefin

[2022-04-12 13:13] wetneb commented on #4744
Have you tried the 4.0-alpha1 version?

[2022-04-12 13:14] shubhransh-locale commented on #4744
Till now not. Will try that for sure and update here then

[2022-04-12 13:15] wetneb commented on #4693
Let us close then this: feel free to reopen with a concrete scenario from a user perspective in which a NullPointerException happens.

[2022-04-12 13:15] #4693 closed

[2022-04-12 13:16] wetneb commented on #4722
@sherrif10 I do not think this is a suitable issue for a newcomer as the difficulty does not reside in the implementation - this is instead a design decision that ought to be solved collectively. Once there is a clear consensus for a solution, it can be implemented, but so far it looks a bit early for that.

[2022-04-12 13:17] wetneb commented on #4744
Have a look here: https://github.com/OpenRefine/OpenRefine/releases/tag/4.0-alpha1

[2022-04-12 13:18] sherrif10 commented on #4722
Thanks for clarification @wetneb

[2022-04-12 13:31] shubhransh-locale commented on #4744
@wetneb , according to you, is the config used correct, or should I update those as well

[2022-04-12 13:35] wetneb commented on #4744
For the 4.0 version the RAM settings should not matter much, when parsing a CSV.

[2022-04-12 13:39] shubhransh-locale commented on #4744
Okay, thanks for update

[2022-04-12 15:24] antoine2711 commented on #4722
@wetneb: I think the real problem is in the Recon Service. On OpenRefine, the only thing we can do is
- not check the checkbox
- add a prefenrence to control the default value of the checkbox

More than that, it's another issue. It's improving the confidence calculation, very complex issue. This one is really only to complain about the checkbox that I always have to change and that I sometime forg

[2022-04-12 16:34] vdimopoulos commented on #4080
Hi there,

A friend and I are looking to contribute on an Open Source project for our Undergraduate Studies.
We have read the documentation and debugged OpenRefine locally a few times.

Could we please handle this issue?

Thanks in advance c:

[2022-04-12 18:47] thadguidry commented on #4080
@vdimopoulos Yes, the general practice for releasing database objects in Java is to use try-with-resources.  The current architecture is Import only, I.E. SQL Query only.  So we only need connection pools in order to perform a query against them to import a table containing data.  Query failure handling should already be wired up well enough, I think, but you can double check that as well I would

[2022-04-12 19:04] vdimopoulos commented on #4080
Thank you for your feedback.

Indeed Connection Pooling is used in the executeQuery() method, which calls the shutdown() method on the MariaDBConnectionManager  to call close() on the connection. Would that mean that this issue is actually solved, since the Connection resource is actually closed in the finally block?

We also notice that Connection Pooling is used in the getRows() method of the cl

[2022-04-12 19:07] vdimopoulos commented on #4080
After giving the issue another glance, could it only be that we need to close the Statement and ResultSet resources that are staying open and leaving the Connection as is?

[2022-04-12 19:18] thadguidry commented on #4080
@vdimopoulos Likely, yes, and you should be able to test if they are staying open after a successful query is performed (even if manually by monitoring MariaDB itself).
ResultSet brings about an interesting question there... is there ever the potential for queryResult to be NULL and if so, what would be the SQLException? :-)  Something else to look at and think about perhaps in another issue.  But

[2022-04-12 19:52] glagou commented on #4080
Hey @thadguidry, I am the Vasilis colleague. We understood the issue and we will be working on this very soon. Thanks a lot for the guidance c:

[2022-04-13 04:26] antoine2711 commented on #4539
@hughlilly: how would you feel about a preference on your machine that would prevent those « splash » to display?
Something like `ui.browsing.facetsHideSplash`?

Regards, Antoine

[2022-04-13 04:51] shubhransh-locale commented on #4744
Hello,
So I used the version you suggested.
Config used:
8 GB Ram
4 core CPU
It was able to `read` the file, but after that when it need to show the data for doing transformations it is getting stuck.

From top command what I saw was, all my CPU's are running at 100%, do I need to make some changes so that it can work?

[2022-04-13 05:09] shubhransh-locale commented on #4744
So after it took 6 minutes to show the data, when I started doing operations, it is kind of stuck again (its still processing the data, but taking lot of time).

So according to you, should we reduce the number of rows in file/file size so it can be used in openrefine.

Right now we have 12.5M rows and 2GB of data

[2022-04-13 05:26] shubhransh-locale commented on #4744
Another performance update:
I took a smaller file 1.5M rows

To rename a column in V4-alpa took around 2 mins, while in 3.5.2 it took less than 30 seconds. I am assuming, it could be because all the data is in RAM and hence it is fast. Do correct me if I am wrong here

[2022-04-13 07:36] wetneb commented on #4744
Thanks for the feedback, I hope to find the time to work on those issues soon (when the Outreachy contributing period is over, it should hopefully be a bit more manageable).

[2022-04-13 08:05] WaltonG commented on #4168
Hi @xiao2k Sure you can work on it. Thank you for volunteering

[2022-04-13 09:08] SIXIN-LI opened #4751 "Add a pop-up window after uploading edits to wikibase"
It is frustrated to not know if the upload is successful after uploading edits to wikibase, and to manually open "user contribution" page on wikidata.

### Proposed solution

Have a pop-up window appearing after finishing uploading. The window gives two options with links to "user contribution" page or "edit groups" page.

### Alternatives considered

Arbitrarily open up the "user contribution" re

[2022-04-13 09:15] wetneb commented on #4751
We could also display some statistics about the number of failed edits, and potential error messages.
In terms of user experience I am not completely sure how this would look like, since uploading edits to Wikibase is a long-running operation which can run in the background (the user can keep using OR to browse the dataset while edits are done).
Maybe @lozanaross has ideas?

[2022-04-13 11:07] sherrif10 commented on #4721
Hello @braiam , am trying to reproduce this issue. on the first procedure, Instead of grab a file, do you mind sharing which file extension should i use.

[2022-04-13 11:19] sherrif10 commented on #4721
Hello @wetneb  is there any specific file that i can use to reproduce this issue.

[2022-04-13 14:03] wetneb commented on #4721
So if you are not encountering a 500 error that means you have not reproduced the issue yet :)

[2022-04-13 14:31] trnstlntk commented on #4727
I have just downloaded today's (April 13, 2022) snapshot releases for MacOS (.dmg) and for Linux.

The MacOS one starts up correctly! 💃

But the Linux one not yet (tried on two macs - MacOS 12.3.1 and MacOS 10.13.6).

The terminal produces the following:

[code]

[2022-04-13 14:37] #3033 closed

[2022-04-13 14:39] sherrif10 commented on #4721
I think so , one issue is the file am to import and do editing.

On Wed, Apr 13, 2022, 5:03 PM Antonin Delpeuch ***@***.***>
wrote:

[2022-04-13 15:39] braiam commented on #4721
The 500 error occurs when trying to apply the changes, not on import.

[2022-04-13 17:35] Babi-B commented on #2670
Hello @wetneb @antoine2711 @tfmorris @thadguidry

About this issue. If I understand correctly you wish to write a test that ensures that all the keys used for localization are actually being used?

I was wondering if this could be implemented in java so that a test is run whenever the `Refine.java` class is run? Or do you wish to implement tests which run when the application is deployed?

[2022-04-13 17:39] trnstlntk commented on #2442
After looking into it a bit more deeply on Weblate itself: I agree that the glossary needs to be maintained in Weblate through its own end-user interface.

Work on that glossary may need social/community support, rather than a technical solution (IMO it would for instance be good to have a forum / online space where translators discuss terms and workflows among each other). I suggest that we keep

[2022-04-13 18:52] wetneb commented on #2670
Yes! If that could be part of the CI, it would be nice.

Rather not: this is a check we should do while developing, not running the application.

[2022-04-13 19:03] thadguidry commented on #2670
@wetneb But I think we having any "check"'s be implemented in whatever language works, right?  Then the CI could be modified to use a GitHub Action to launch the check, which could very well just be a `java -jar checkI18N.java` command?

[2022-04-13 22:57] elebitzero commented on #4727
Hey @trnstlntk,  I tested the latest snapshot builds for Linux (openrefine-3.6-20220413.185658-237-linux.tar) and Windows (openrefine-3.6-20220413.185658-237-win-with-java) and they are working.

Command line output for Ubuntu 21.10:

[code]

Can you please redownload the latest snapshot, test on Linux, and report back if you continue to have issues?

[2022-04-13 23:33] antoine2711 commented on #2442
@wetneb: In order to see it's evolution? Keep a history? I don't believe Weblate gives that to us.

Regards,
   Antoine

[2022-04-14 00:55] thadguidry commented on #4727
@trnstlntk Your first few lines in your output look puzzling to me for launching from the refine script.  And then what follows is that it seems it tried to BUILD ?  Almost as if the `20220413/refine` default was to perform a build and not instead to execute the `./refine` in the directory?

[2022-04-14 02:05] antoine2711 commented on #4727
@thadguidry:
what I see is:
`/Users/fokky/Desktop/openrefine-3.6-SNAPSHOT\ 20220413/refine ; exit;`

This is ONE directory: `openrefine-3.6-SNAPSHOT\ 20220413` because of the `\`. It escape the space, so I don't see any issues there.

This intriges me more… `cat: refine.ini: No such file or directory`
Would a bad base dir have impact on other parts of the execution?

Regards, Antoine

[2022-04-14 05:16] SIXIN-LI opened #4756 "Trying to log out gave "/command/wikidata/login" log in the terminal"
After clicking "log out" button, I was successfully logged out but the log in the terminal is "POST /command/wikidata/login". This is a minor log problem.

### To Reproduce
Steps to reproduce the behavior:
1. First, log in your wikidata account.
2. Then, click "wikidata" on the top right, and click "manage wikibase accounts".
3. Finally, click the "logout" button

### Current Results

The terminal

[2022-04-14 05:45] WaltonG commented on #4756
@SIXIN-LI I think console log typos should not be categorised as a bug considering the function of logout was achieved. Cosole

[2022-04-14 06:02] SIXIN-LI commented on #4756
Thank you! Just removed it.

[2022-04-14 06:09] antoine2711 commented on #4756
@SIXIN-LI: This is actually an API call. If the same call answers multiple functions, then you will see the same API in the log.

Regards, Antoine

[2022-04-14 07:25] wetneb commented on #2442
As you both see fit!

[2022-04-14 08:22] sherrif10 commented on #4721
Hello @antoine2711  Will pause this since its giving me hard time to reproduce such that i can work on it sometimes due to time available.

[2022-04-14 08:24] antoine2711 commented on #4721
Just remove yourself from the « Assigned » position in the upper right.
![image](https://user-images.githubusercontent.com/12217525/163344983-2ba813dd-43a7-4c07-834b-5396bee0bfa0.png)

Regards, Antoine

[2022-04-14 08:28] sherrif10 commented on #4692
Hello @wetneb can you assigne me this issue i work on it.

[2022-04-14 08:33] antoine2711 commented on #4692
@sherrif10: please note that the issue is still labeled « to be reviewed ». With those, you must make sure you can reproduce the bug before going forward. Once you confirm the bug, you can put the step to reproduce it in the description of the issue.

Regards, Antoine

[2022-04-14 08:35] sherrif10 commented on #4692
Thanks for quick response. @antoine2711

[2022-04-14 08:52] sherrif10 commented on #4721
Sure thanks alot @antoine2711 .

[2022-04-14 12:58] sherrif10 commented on #4692
Hello @WaltonG  Would you really confirm the effect of this issue.

[2022-04-14 14:49] Unnamed-1408 commented on #3441
I work on this issue recently, and already locate where the bug is.
It seems the bug only happens in Chrome, and Firefox don't have this problem.
The bug is in defualt-importing-controller/controller.js, line is here
[code]
 And it seems submit() trigger only one time in Chrome, but can trigger many times in other browers that means the second time it won't send post request to backend.  Does anyo

[2022-04-14 14:54] trnstlntk commented on #4727
I don't have a Linux machine/installation. I use MacOS but sometimes run the Linux build there. Admittedly, that's a small use case and I assume not very many people do that (most will run the .dmg).

I have just downloaded the latest Linux snapshot release (April 13, 18:56) - same issue there.

This is the log produced by my very old MacBook Air (which can't run a more recent OS than 10.13.6):

M

[2022-04-14 15:08] the-star-sea commented on #4716
Thank u antoine,I am still working on it.

[2022-04-14 15:14] antoine2711 commented on #4727
@trnstlntk: yes, I can test it. I have actually installed since 2 weeks 2 virtual machines (VirtualBox), one Ubuntu 21.10 and one Windows10. Since I'm on a Mac, I obviously also have a Mac, so I could also test on all three OS.

That being said, I always run from the master that I compile locally, so this is new to me. I will test it. Almost did today! ;-)

Regards, Antoine

P.S. for those who wan

[2022-04-14 16:30] trnstlntk commented on #4727
FYI, I'm not even running a VM. The way I run the Linux version on Mac is: download OpenRefine's Linux tarball, unzip, right click the `refine` file, tell it to run in the Terminal, tada.

![image](https://user-images.githubusercontent.com/9881645/163433202-90531ea7-04df-47be-8f31-21c3d7d6adc6.png)

[2022-04-14 18:23] wetneb commented on #4692
Ok so I would propose to close this issue. @WaltonG in the future it would be great if you could open issues about bugs that you are able to reproduce fully, as a user.

[2022-04-14 18:23] #4692 closed

[2022-04-15 03:44] antoine2711 commented on #4727
- Works on Ubuntu v21.10
  ![image](https://user-images.githubusercontent.com/12217525/163512515-522c59a1-e260-4561-9474-b157b1810140.png)

- Works on Mac v11.6.5
  ![image](https://user-images.githubusercontent.com/12217525/163513998-e3edbdae-b175-439f-817c-aa5b82f8adba.png)

- Works on Windows 10
   ![image](https://user-images.githubusercontent.com/12217525/163514706-f330b155-2491-40ed-b2b3-bc7

[2022-04-15 06:54] WaltonG commented on #4402
Hi @elroykanye, Are you still interested on this ?

[2022-04-15 06:58] elroykanye commented on #4402
Hi @WaltonG , didn't notice @ashwini-m-hub was unassigned.
I am still interested in this.

[2022-04-15 08:33] #4270 closed

[2022-04-15 08:34] wetneb commented on #4682
@lozanaross could you post a link to your wireframes for this workflow?

[2022-04-15 08:52] the-star-sea commented on #4716
I have complete it!What should I do I do next?I have forked one repository many days ago.@[antoine2711](https://github.com/antoine2711)

[2022-04-15 09:04] WolfgangFahl commented on #4724
Personally i think this part of OpenRefine is what makes it a showstopper to be used for mere mortals.

[2022-04-15 09:42] the-star-sea commented on #4716
I have complete it.However,I use fork and change on it.I am a new bee of opensource project.What should I do next ?Thank u so much.

[2022-04-15 09:46] elroykanye commented on #4716
Hi @the-star-sea , you should find some helpful tips from these links:

- [Contributing Guide](https://github.com/OpenRefine/OpenRefine/blob/master/CONTRIBUTING.md)
- [Your first pull request](https://docs.openrefine.org/technical-reference/contributing#your-first-code-pull-request)

[2022-04-15 09:47] antoine2711 commented on #4716
@the-star-sea: Go on [Gitter](https://gitter.im/OpenRefine/OpenRefine/), and ask some help with creating your full pull request. But only do so after having read all the technical documentation. This aspect is in part covered, be help sometimes helps after reading it.

Regards, Antoine

[2022-04-15 10:07] shriyasankhyan commented on #1286
Can anyone from the community please check this pull request? @antoine2711 @thadguidry @wetneb

[2022-04-15 12:45] xbdeng commented on #3733
I want to solve this issue, could you assign me to this issue? @tfmorris @wetneb

[2022-04-15 13:11] lozanaross commented on #4682
@wetneb Yes - so to answer some of the comments above, I've now closed & updated the phabricator issue, which somehow was lingering even though the results of the research were published a long time ago. For what you're describing here - i.e. how the API calls work "in the background" - I'm not sure what wireframes are best to be linked - wireframes only show the "user-facing" side of things, not

[2022-04-15 13:34] thadguidry commented on #4682
@lozanaross Thanks, very helpful

[2022-04-15 18:48] #3143 closed

[2022-04-15 20:01] #2640 closed

[2022-04-16 01:15] elebitzero commented on #3824
@wetneb,  I've implemented items # 1 and # 2, but not this last point, because this dialog is also used to add and delete Wikibase instances, and we could add other features like clicking to go to the URL.   This needs further design work, like separating the selection into a simple selection dropdown, and then having the configuration in a dialog.

Question: Should the displayed URL be mediawiki.

[2022-04-16 04:06] SIXIN-LI commented on #4756
I found the following post request is answering to "POST /command/wikidata/login". I thought this is what is logged. Is this not the case?
![image](https://user-images.githubusercontent.com/45926850/163660732-28fdb073-6eb9-40f0-9d59-fbc222f2acaf.png)

[2022-04-16 04:13] SIXIN-LI commented on #2326
Hi @antoine2711 , I found that in EditBatchProcessor class which prepares for edits uses the WikibaseDataFetcher to fetch the current documents for this batch of updates from Wikibase via the online API. So can I understand it as OR is fetching data from wikibase before performing edits? Or is there another way to understand the fecther?

[2022-04-16 04:26] antoine2711 commented on #4756
From what I understand, this can't be it, as this is JS, and its the Java server that writes the log. This is the front-end call to the API, that the Java server handles. Find in the Java code where it answers the API call, you'll be close to the logging code.

Regards, Antoine

[2022-04-16 04:31] antoine2711 commented on #2326
Let's ask @wetneb as I'm not very good on the Java side, I can't answers you with certitude.

Regards, Antoine

[2022-04-16 06:22] WaltonG commented on #4756
@SIXIN-LI The API call is answred by
https://github.com/OpenRefine/OpenRefine/blob/d6a3e8465bc05bf90a45f3144c2c53f841bf0845/extensions/wikidata/src/org/openrefine/wikidata/commands/LoginCommand.java#L96-L102

The logout fuctionality is performed by
https://github.com/OpenRefine/OpenRefine/blob/d6a3e8465bc05bf90a45f3144c2c53f841bf0845/extensions/wikidata/src/org/openrefine/wikidata/commands/Connect

[2022-04-16 07:41] wetneb commented on #3824
That is a good point.

If I remember correctly, I think @lozanaross thought about the issue of selection of the Wikibase instance. At the moment, the way we indicate the currently selected Wikibase instance in the schema is not really visible (because it is buried in an explanation sentence). One option that was considered was to have a drop-down menu inside the schema editor to select the Wikibas

[2022-04-16 07:45] wetneb commented on #2326
That is correct: before performing edits on existing entities, we fetch the current contents of those entities, to decide how to integrate the edit into the entity (according to the specified merging strategy).

[2022-04-16 08:07] SIXIN-LI commented on #4756
@antoine2711 @WaltonG Thank you for the clarification! I finally understand this. Please forgive and forget my dumb question.

[2022-04-16 08:07] #4756 closed

[2022-04-16 08:38] antoine2711 commented on #4756
No need to ask for forgiveness, @SIXIN-LI. The important is the end result. With this new knowledge, you will be able to better understand the tool. Though it doesn't seams complex at first, it is!

Thank you for you efforts! And yes, it more rewarding sometimes than others. ;-)

Regards, Antoine

[2022-04-16 13:55] Babi-B commented on #213
Hello, @tfmorris @thadguidry. This issue seems to be a duplicate of [#2749](https://github.com/OpenRefine/OpenRefine/issues/2749). Is it? Can it be closed by [#4690](https://github.com/OpenRefine/OpenRefine/pull/4690)?

[2022-04-16 14:30] thadguidry commented on #213
@Babi-B This issue is for search in the datagrid view (#2749 is search in the projects view)

[2022-04-16 14:35] Babi-B commented on #213
Okay

[2022-04-16 14:51] TheTrailblazer09 commented on #3934
Hi could I be assigned to this?

[2022-04-17 08:12] SIXIN-LI commented on #2326
Hi @wetneb, I can think that most of the time users change the ranks of statistics like population or life expectancy, or recurring events. If they revise the rank in batch, then the to-add rank should override the existing rank since users mean to update. Do you see more use cases to consider?

For the default merger and snakOnly merger, they both cover changes in the main value. So I think it is

[2022-04-17 09:45] trnstlntk commented on #4727
Fascinating !!!

Double-checked here on MacOS 12.3.1 on my late 2014 Mac Mini...

Linux tarball for 3.5.2 opened in Mac Terminal: loads absolutely fine
![image](https://user-images.githubusercontent.com/9881645/163708999-f27154f6-2481-46e8-b59c-39e6e592058c.png)
Terminal log for this (successful 3.5.2) one:
[code]

And then with the 3.6 snapshot release of April 16, 2022 - this one does not open a

[2022-04-17 14:14] wetneb commented on #2326
Say I am importing population counts from a new version of the census for some country. I will add statements with "point in time" qualifiers, and I will probably want that my statements have a "preferred" rank, because they are the newest ones. At the same time, I probably want to put any other statement that had preferred rank back to "normal" rank (because they are not the latest anymore).

One

[2022-04-17 22:49] keerthybreddy commented on #608
Hi! I am currently working on testing the epochToDate() method that I have written to solve this issue, but am having trouble with it. Can someone explain how I can reproduce and test the issue? Thank you so much!

[2022-04-18 01:50] TheTrailblazer09 commented on #457
Can I be assigned to this please?

[2022-04-18 03:25] shelomi99 commented on #195
Hi, @antoine2711 I could use a little help with identifying the files that need to be modified to achieve this. Am I correct to assume that the entry point should be the `controller.js` where I can create a java file just like the `JsonImporter.java`. But I see 2 parser interfaces like `json-parser-ui.html` and `json-parser-ui.js`. Should I create such parser UI files for the BibTex importer as we

[2022-04-18 12:09] lozanaross commented on #3824
Hello all - sorry for slowness in response here. Indeed, I have been working on some improvements in this area in the SDC extension wireframes, so it makes sense to combine efforts.

Here is the updated design for the "Select Wikibase" dialog in the SDC wireframes:
![SDCWireframes_WikibaseInstanceSelection](https://user-images.githubusercontent.com/25489750/163805780-8e0cc1c6-9dca-4b3a-a7b1-cf218a

[2022-04-18 18:02] glagou commented on #4080
Hey @thadguidry,

We set up a local MariaDB instance and looked into the issue locally. We changed the code to include the Statement and ResultSet objects into a try-with-resources block, as shown into the screenshots below and everything seems to be working fine.

There are three things that we would like to discuss:
1) We have made the above changes into all the methods of the class, since the i

[2022-04-18 18:13] thadguidry commented on #4080
@glagou For 3. In the OpenRefine application you should be able to Create Project and use the SQL importer which allows you to make the DB connection and then query a chosen table to import the data into the preview and then create the project.

For 1. and 2. I'm not sure and don't have time to dig in to refresh my memory, sorry.

[2022-04-18 18:31] glagou commented on #4080
We have tested both a MySQL and a MariaDB instance and the executeQuery() method seems to never get called. By SQL importer you mean the Database tab that is used to import records by executing SQL queries, right? We have attached a screenshot displaying where we execute the queries.

![image](https://user-images.githubusercontent.com/72858319/163856520-838fca58-fe42-4915-b975-122892024d15.png)

[2022-04-18 18:33] glagou commented on #4080
As for (1) and (2), we could make a Pull Request for (1) and probably create a new issue regarding (2). Whatsoever, if the executeQuery() method should get called when following the steps above, that does not seem to be happening right now.

[2022-04-18 18:37] thadguidry commented on #4080
@glagou Then I'm not sure about the executeQuery() without poking around. Sorry, busy. But I'm sure you can figure it out or maybe it was something leftover when Tony created the extension specifically for testing or something.

[2022-04-19 01:33] shriyasankhyan commented on #241
If @topisteronyango is not working on this issue, can you please assign me this issue ?
Thank you !

[2022-04-19 01:36] shriyasankhyan commented on #3618
If nobody is working on this issue, I want to try solving this issue.
Thankyou!

[2022-04-19 06:23] topisteronyango commented on #241
Hi, @shriyasankhyan I am still working on the issue.
Thank you.

[2022-04-19 06:46] WaltonG commented on #3618
Hi @shriyasankhyan, I have assigned you the issue

[2022-04-19 07:08] shriyasankhyan commented on #241
Ok cool :)

[2022-04-19 07:09] shriyasankhyan commented on #3618
Thanks a lot :)

[2022-04-19 07:41] elroykanye commented on #416
Unable to reproduce this issue.

OS: Kali Linux (with KDE Plasma desktop environment)
Browser: Firefox 91.7.0esr (64-bit)

This image shows no error message on the console (both terminal and browser console).

![Screenshot_20220419_082644](https://user-images.githubusercontent.com/68631069/163949100-ac862eff-d211-422a-8e13-8d1371862e5c.png)

[2022-04-19 09:38] SIXIN-LI commented on #2326
@wetneb Fetching and modifying the statements that had preferred ranks may not be helpful when there can be multiple preferred statements. One example is diverging information provided by different sources. In this case, one source may not downgrade info uploaded by another source.

So, when offering the ranking modifying feature, we may consider adding an option for users to decide if they want t

[2022-04-19 10:56] xbdeng commented on #1715
I think this issue has been solved.

[2022-04-19 14:21] #1715 closed

[2022-04-19 14:22] wetneb commented on #2326
Wow, thank you for the in depth review of the question! I think you have a very good understanding of the issue and it is not worth looking at more Wikibase instances.
I agree about the case where there are multiple preferred statements.

[2022-04-19 14:24] wetneb commented on #416
It's true that I have not seen it for a while. Could it be that it solved itself after updating some libraries? @elroykanye have you been able to reproduce it with the earlier versions of OpenRefine stated in this issue?

[2022-04-19 14:28] elroykanye commented on #416
Probably solved itself.

I will check out the older versions today then.

[2022-04-19 14:29] wetneb commented on #195
yes!

I am not used to giving this sort of quote, but on top of my mind:
* editing `controller.js`
* adding `bibtex-parser-ui.html`
* adding `bibtex-parser-ui.js`
* adding `BibtexImporter.java`
* adding `BibtexImporterTests.java`
* editing `pom.xml` to add a dependency to your Java Bibtex parsing library

There might be some I have forgotten about.

[2022-04-19 14:30] #3919 closed

[2022-04-19 15:37] shelomi99 commented on #195
Thank you @wetneb

[2022-04-20 02:52] keerthybreddy commented on #608
Hi!
   I edited the GREL epochToDate() function written by SustechcsKing with ZoneId.systemDefault() in order to make sure that the function is using the time zone that the system is currently in rather than the "America/Chicago" time zone that was previously hardcoded into the function.
   However, this change is causing the epoch timestamp to convert to the date-time of the current time zone whe

[2022-04-20 03:08] xbdeng commented on #3368
I want to try to solve this issue, and I have done something. Could you assign this issue to me?

[2022-04-20 04:00] thadguidry commented on #608
@keerthybreddy what do you mean by "published"?  You mean exported to a CSV/TSV/Excel or something? or do you mean once the **Apply** button in the Edit Cell dialog has been clicked?

[2022-04-20 04:25] keerthybreddy commented on #608
Sorry! I meant the latter. Once  I click the Edit Cells --> Transform option on the column with the timestamps, input value.epochToDate(), the preview shows the current time zone date-time, and changes to UTC date-time when I click the Ok button.

[2022-04-20 05:40] Babi-B commented on #4048
Hello @antoine2711. I think I can. Could you assign me to this issue?

[2022-04-20 06:30] elebitzero commented on #3824
@wetneb, I like the idea of having a quick select menu for the Wikibase, but I think that is a bigger change and deserves its own separate issue.

My PR is just focused on fixing the UX issues (points #1 and #2) keeping within the current design.

[2022-04-20 07:08] elroykanye commented on #416
@wetneb , I have been able to reproduce this with v3.4 of OpenRefine. Tried investigating the issue but it only seems that it is in the libraries that OpenRefine uses, and had probably been resolved in some updates.
However, it is still a mystery to me why FireFox is the only one triggering this.

[2022-04-20 07:14] wetneb commented on #416
Amazing! Well, I think that is enough to close this issue then!

[2022-04-20 07:14] #416 closed

[2022-04-20 07:23] elroykanye commented on #416
Very well :)

[2022-04-20 08:03] keerthybreddy commented on #608
Sorry! I meant the latter. Once I click the Edit Cells --> Transform option
on the column with the timestamps, input value.epochToDate(), the preview
shows the current time zone date-time, and it changes to UTC date-time when
I click the Ok button.

I have attached screenshots of my screen before and after hitting the Ok
button while using my current timestamp that should return April 20, 2022
12:

[2022-04-20 08:48] SIXIN-LI commented on #2326
Yeah, it seems like Wikidata is the most notable Wikibase instance.

@wetneb Having another thought about uploading updated ranks in certain cases(described below), if uploading customized ranks brings more inefficiency than valid assistance to the whole editing process, I am not sure if we still need it.

Say, if users only update a statement once a year(or a long time) and if they do not keep tr

[2022-04-20 16:43] Unnamed-1408 commented on #4738
Hi @wetneb  , I've fixed this bug few days ago, can you give me some suggestions and review this pr, thanks a lot!

[2022-04-20 18:20] wetneb commented on #4738
Sure, will do as soon as I can, unfortunately the PR backlog is quite big and I have limited time. Thanks for your patience!

[2022-04-20 21:33] digitalNomadKg commented on #4423
@wetneb please assign task to @sherrif10

[2022-04-21 01:04] keerthybreddy commented on #608
Hi! I just submitted a pull request for this issue [here](https://github.com/OpenRefine/OpenRefine/pull/4784), please review it when possible!

[2022-04-21 02:09] WaltonG commented on #1418
Steps to reproduce have been stated in [a comment](https://github.com/OpenRefine/OpenRefine/issues/3719#issuecomment-851678423) of a related issue #3719

[2022-04-21 03:07] antoine2711 opened #4785 "Outreachy 2022: The SPARQL Importer plan, Last Week"
Fixes #1212

**Hi to you, fellow Outreachy 2022 applicants,**

We now have 7 days left before the closing of the application process for Outreachy 2022 for the SPARQL Importer.

We currently have 6 applicants that have officially registered themselves for this project. It is now time for the last sprint, in order to finalize the choice.

**Evaluation criteria**

- We look at applicants based on th

[2022-04-21 04:03] WaltonG commented on #4785
Hi @antoine2711 Actually the deadline is  April 22, 2022 at 4pm UTC

[2022-04-21 04:09] antoine2711 commented on #4785
@WaltonG: yes, it's an official dealine for REGISTERING into the SPARQL Importer project, at the Outreachy level. Here, I'm talking about when I will stop receiving first draft of a plan. It's not the same thing.

Official choosen intern will be annonced Mat 4th, if I understand correctly.

Regards,
   Antoine

[2022-04-21 04:10] WaltonG commented on #4785
Thanks for the clarification

[2022-04-21 05:01] sherrif10 commented on #4723
This looks good issue

[2022-04-21 05:38] antoine2711 commented on #3719
@WaltonG: I think you are right. So I will assign you on the basis you are working on I#1418.

Regards, Antoine

[2022-04-21 06:47] khadijm commented on #4785
where are we to submit the draft document and the final document. on Outreachy website or  to you @antoine2711

[2022-04-21 06:51] antoine2711 commented on #4785
Outreachy web site. They have a process for that. After it is submitted, then I start to read it and comment it, so you can reply and continue your work. Even if you submit tomorrow, you will be able to improve the document until the end of the week. After that, we make no garanty to take it in consideration, but doors won't be close to improvements, just for first draft sending, and that will be

[2022-04-21 06:54] sherrif10 commented on #4785
ohh thanks for clarification. It makes sense now.

[2022-04-21 06:58] khadijm commented on #4785
![Screenshot from 2022-04-21 07-57-28](https://user-images.githubusercontent.com/88087734/164392883-713de59e-1628-4b4f-83d7-afc6843f919b.png)
@antoine2711  there is not option to submit a pdf document on oureachy website.

[2022-04-21 06:59] khadijm commented on #4785
are we to submit only the google doc links ? or

[2022-04-21 07:01] antoine2711 commented on #4785
@khadijm: that can be enough, but I really think they ask for a document. Maybe ask on Gitter to other Outreachy. As long as it's recorded by OUtreachy, I'm fine with just a link.

Regards, Antoine

[2022-04-21 10:53] sherrif10 commented on #4423
Thanks @wetneb

[2022-04-21 11:05] wetneb commented on #4716
Hi @antoine2711, is this really needed now that we are normalizing column names in the SQL export? Your proposal seem to be a different solution for a problem we have already solved another way, no?

[2022-04-21 11:38] antoine2711 commented on #4716
I personally have work scenario where the fields name contains spaces, and they must be exactly like that. With a SQL query per table, I can rename them all, but having the SQL ready makes it's more useful. It's a very simple change for a worth feature, in my opinion. I will use it. I think replacing and escaping are two good solutions, that why I keep working this feature.

Regards, Antoine

[2022-04-21 11:41] wetneb commented on #4716
Yes but then you need to make sure you can actually disable the replacing, which you have not mentioned in the issue so far, right?

[2022-04-21 11:57] niyolynate commented on #4716
Having read a good first issue, this is my contribution to this project. now so good as an Outreachy project applicant since I have not seen others participate. it though the interest I developed. still looking around for others. any review and guidance are welcome.
![SQL Importer](https://user-images.githubusercontent.com/98440370/164453075-05b61579-f19e-4a2f-8eea-cbb975e53bd6.png)

[2022-04-21 12:06] antoine2711 commented on #4716
Yes, you are rigth to ploint out that both of these features make little sens togeter. It's more one or the other. But, having them both at the same time can't create problems. If the current contributor would have a good first draft, that would have been a suggestion. Maybe he would have done it by himself. For sure, coding this after is not more work in itself, so I would have guide the contribu

[2022-04-21 12:35] niyolynate commented on #4716
ok Point taken

On Thu, Apr 21, 2022 at 3:12 PM Antonin Delpeuch ***@***.***>
wrote:

[2022-04-21 12:43] niyolynate commented on #4716
my question is, do i use the code base for this or or use the open, if
code, i have tried several times to clone the git openrefine but after edit
rejected pushing. can i know which way please..

On Thu, Apr 21, 2022 at 3:34 PM lynate niyo ***@***.***> wrote:

[2022-04-21 12:47] antoine2711 commented on #4716
Hi @niyolynate, your question was not very clear, but these one are, so I'll answers them.

Once you have clone the git on your mechine, yes, you should create a NEW branch. This, in turn, will generate your own PR for this task. But I would not advise you to do so, because someone is already assigned to this issue.

![image](https://user-images.githubusercontent.com/12217525/164460991-8d47392e-b5

[2022-04-21 12:57] niyolynate commented on #4716
yes, it is,   Glad I Asked. Thanks a lot.

On Thu, Apr 21, 2022 at 3:48 PM Antoine Beaubien ***@***.***>
wrote:

[2022-04-21 13:07] antoine2711 commented on #4716
https://github.com/OpenRefine/OpenRefine/blob/bef50d989b3c4b4216a5b71e99d4d4187046d0c3/main/src/com/google/refine/exporters/sql/SqlCreateBuilder.java#L85-L94

@wetneb: I feel that in my enthousiam, I might have overlooked the Java part, which is, as you know, not my strengh. So, to better answers your question, yes, a new option would be necessary. What is involve more than sending it thru the IP

[2022-04-21 13:22] the-star-sea commented on #4716
Actually I have a version without replacement merging into because this is
my first issue and I forget to fork before I complete it.I rewrite the code
after I fork and I have to change the code to make it harmony with the
replacement.

Antonin Delpeuch ***@***.***> 于 2022年4月21日周四 19:41写道：

[2022-04-21 14:00] niyolynate commented on #4716
in order to

public void EnableButtons()
{
    btnImportHFR.Enabled = Convert.ToBoolean(Shared.FilesForImport.Count);
    btnImportHFR.Text = btnImportHFR.Enabled ? "Find Available HFR" : "No HFR For Import";

    btnGetFacilityStatus.Enabled = Shared.sqlWrap.GetDataForFacStat(Shared.DsFacStat);
    updateButtons = false;

         CREATE TABLE userid(
    id Country(30) NOT NULL PRIMARY KEY,

[2022-04-21 14:44] TheTrailblazer09 commented on #457
I am not able to generate the issue.  Could you please help in selecting the reconciliation service. I tried with multiple services, in most cases it comes null

[2022-04-21 15:07] wetneb opened #4787 "Bug while uploading edits to Wikidata"
Bug that I found while making a public demo:
[code]

Not sharing more details now because I intend to work on it soon.

[2022-04-21 15:29] wetneb commented on #457
What comes null?

[2022-04-21 15:45] TheTrailblazer09 commented on #457
best candidate name's distance : cell.recon.features.nameLevenshtein

[2022-04-22 02:09] TheTrailblazer09 commented on #457
Facets are shown. I am not able to generate the distance as 8. It is sometimes null or 0 as shown in attached image. It appears I am not selecting the right reconciliation service/url.
![facet](https://user-images.githubusercontent.com/59418361/164582437-56fa1207-c830-4959-96fc-9ad56d3afd49.png)
l

[2022-04-22 05:59] wetneb commented on #457
You can try to use this dataset:
https://opendata.paris.fr/explore/dataset/lieux-de-tournage-a-paris/information/?disjunctive.type_tournage&disjunctive.nom_tournage&disjunctive.nom_realisateur&disjunctive.nom_producteur&disjunctive.ardt_lieu
and reconcile the "Titre" column to Wikidata (it is a list of films).

[2022-04-22 08:45] ostephens commented on #457
I think this issue might have already been resolved based on looking at https://github.com/OpenRefine/OpenRefine/blob/235b5957e22c73328e9f84d6fac44a9cb92318f5/main/src/com/google/refine/model/recon/StandardReconConfig.java#L563

It looks to me like the cell text and the best candidate are converted to lowercase before the Levenshtein is calculated.

In the UI I see the same behaviour as @TheTrailb

[2022-04-22 09:37] wetneb commented on #457
Thanks for looking into this Owen! Let's close this then.

[2022-04-22 09:37] #457 closed

[2022-04-22 11:08] niyolynate commented on #4716
yes, Your right. Still Learning.

[2022-04-22 12:57] niyolynate commented on #4785
Data Clustering;
![Uploading SQL Importer.png…]()

![NiyoLynate Clustering](https://user-images.githubusercontent.com/98440370/164718668-ec8e8082-5098-408f-9474-d24d3f60d4ea.png)

[2022-04-22 14:58] ostephens commented on #608
Originally I said:

Which @keerthybreddy has been working on. During the work the question has arisen as to whether `epochToDate` is an appropriate name. Suggested alternatives we have so far are:

* epochToDate()
* unixToDate()
* posixToDate()

I don't love any of these, but I'm torn between a more appropriate name and keeping the name short and simple ('timeSinceUnixEpochToDate' seems a bit OTT!

[2022-04-22 15:29] wetneb opened #4792 "Better error reporting when invalid identifiers are used in the Wikidata extension"
In some cases (for instance by using the "Use cell values as identifiers" operation), it is possible to end up with invalid identifiers in reconciliation data. In this case, we should signal that clearly to the user, instead of failing down the line (for instance while editing).

### To Reproduce
Steps to reproduce the behavior:
1. First, input some invalid identifiers in a column
2. Then, use the

[2022-04-22 15:36] thadguidry commented on #608
My opinion would be to keep it as `epochToDate()` because "epoch" is fairly common short terminology within Unix/Linux documentation and would be typically known coming from many places (including man pages in some cases) and https://en.wikipedia.org/wiki/Unix_time to be "time since Unix epoch".  It's understood that the "epoch" is really an interval and that's represented in an encoding sequence.

[2022-04-22 15:42] wetneb commented on #608
On my side (as stated on the pull request) I would prefer "unix" or "posix" terms since I consider that "epoch" does not refer to an interval but a specific origin date.

[2022-04-22 15:49] thadguidry commented on #608
I'm just saying that the representation of the scalar value in Unix systems is commonly called just "Unix time".  But universally, we would say "epoch time" or just "epoch".

I guess most users would be more familiar with "Unix time" (even though "epoch" is indeed a short term often seen as I stated).
So maybe `unixToDate` is fine... which is a short short version of saying `unixTimeToDate` which

[2022-04-23 05:46] antoine2711 commented on #3137
@khadijm: how is it going with this issue?

Regards, Antoine

[2022-04-23 07:24] Unnamed-1408 commented on #2532
Hello. I want to have a try, can you assign this issue to me ? Thanks!

[2022-04-23 08:03] antoine2711 commented on #608
How about the middle ground, `unixEpochToDate()`?

Regards, Antoine

[2022-04-23 13:05] wetneb commented on #608
"UNIX epoch" refers even more unambigously to 1970-01-01 I would say, so rather not for me :)

[2022-04-23 13:08] #1857 closed

[2022-04-24 07:50] #4048 closed

[2022-04-24 18:35] #4402 closed

[2022-04-25 06:41] antoine2711 commented on #608
1. `unixTimeSecondsSinceEpochToDate()` might cover it, but it seam a bit long to me.
2. `unixTimeSinceEpochToDate()` could be an alternative, though still a bit long.
3. Even `unixTimeEpochToDate()` could make it… Your take, @wetneb?

Regards, Antoine

[2022-04-25 19:34] lozanaross opened #4806 "Possibility to adjust column width manually"
Right now column width is generated arbitrarily based on content of the column headers and/or data values - this can be very problematic particularly with XML files where the column headers and sometimes the data values  can be quite lengthy if the XML is not particularly well structured, then very wide columns fill up a user's screen - preventing efficient work.

### Proposed solution
Ideally, co

[2022-04-25 20:14] wetneb opened #4807 "Pagination support for project creation by URL"
The option to create a project by fetching a URL is sometimes used to create a project from an API call, for instance by fetching the results of a SPARQL query, such as:
https://query.wikidata.org/sparql?query=SELECT%20%3Fitem%20%3FitemLabel%20WHERE%20%7B%0A%20%20%3Fitem%20wdt%3AP3500%20%3Fringgold.%0A%20%20%20SERVICE%20wikibase%3Alabel%20%7B%20bd%3AserviceParam%20wikibase%3Alanguage%20%22en%2Cen%

[2022-04-26 04:09] sherrif10 commented on #4723
The easiest way is ti use a very simple csv file otherwise i have used a big csv and its taking much time to reconcile.

[2022-04-26 04:20] sherrif10 commented on #4723
Hello @antoine2711  , i have reproduced this on openRefine 3.4.1 and all is well. could i be reproducing it on different version probably.

[2022-04-26 05:22] sherrif10 commented on #4423
Hello @wetneb , @marcadella , could you point to me the areas that are not documented well. with main/docs . every documentation seems to be on point. is this somewhere you would love to see improvements.

[2022-04-26 05:30] sherrif10 opened #4808 "Standardize ordering of Java modifiers"
This is issue is very low and the main idea is to emphasis clean code. i know we might overlook but its much vital in organisation code of conduct  cc @antoine2711  @wetneb

[2022-04-26 05:35] wetneb commented on #4808
I would not do such a normalization by hand without enforcing it in our linter in the CI.

[2022-04-26 05:38] sherrif10 commented on #4808
Thanks for quick response. Do you mind helping me enforce it in or linter in the ci. We would definately enforce it.

[2022-04-26 05:40] wetneb commented on #4808
Sorry I do not have time to work on this and it is not clear to me why we would need this normalization.

[2022-04-26 05:45] sherrif10 commented on #4808
The idea to me is to have a standadized code of conduct. Am thinking in the next 10 years from now if this code is not having a clear code convention, it would not be appropriate. That's my kind of thinking.

[2022-04-26 06:08] #148 closed

[2022-04-26 07:18] antoine2711 commented on #4808
@sherrif10: I think that way you are raising here, are kind of issues that are not simple, nor short term planification. It involves so many variables, and also, which is very costly, a LOT of community discussions. And just that, while we are in the middle of the Outreachy project here at OR, it's an overwhelming tasks. So, if you really care about this kind of issue, I suggest that you come back

[2022-04-26 08:54] #3934 closed

[2022-04-26 09:04] #4339 closed

[2022-04-26 09:32] v1scal commented on #3645
Hi, I'm a Masters's Student, could I try to work on this issue? Thanks.

[2022-04-26 10:18] ostephens commented on #608
If we're going to go for accuracy over brevity I think we may as well be precise, so out of those my vote goes to `timeSinceUnixEpochToDate()`

Note that the function takes an argument to specify seconds, milliseconds or microseconds - so it isn't strictly the unix time or seconds - it's time (in seconds, milliseconds or microseconds) since the Unix epoch converted to a Java date/time. So I think

[2022-04-26 11:48] wetneb commented on #1522
This seems to only affect old versions, we have upgraded to Jython 2.7.2 in the meantime, so I am tentatively closing this.

[2022-04-26 11:48] #1522 closed

[2022-04-26 11:50] wetneb commented on #2975
We have added the possibility to set the maxlag parameter when uploading edits, so I am tentatively closing this.

[2022-04-26 11:50] #2975 closed

[2022-04-26 12:04] wetneb commented on #3164
This was probably caused by a missing `./refine build` before `./refine`, so I would suggest to just close it.

[2022-04-26 12:04] #3164 closed

[2022-04-26 12:06] wetneb commented on #3243
Although this is not part of the standard, if Jackson supports it, it might not be hard for us to also support that.
Marking as a good first issue for this reason.

[2022-04-26 12:21] wetneb commented on #4580
This has been solved in the meantime.

[2022-04-26 12:21] #4580 closed

[2022-04-26 12:22] wetneb commented on #3857
With the given information, it does not look like we can reproduce this bug unfortunately.

[2022-04-26 12:22] #3857 closed

[2022-04-26 13:42] wetneb commented on #217
Since we do support HTTPS already, this is really only about support for HTTP Basic Auth, so I have renamed the issue.

[2022-04-27 08:30] SIXIN-LI commented on #2326
Hi @wetneb, is my consideration above reasonable? How should I proceed?

Moreover, the front-end logic of showing options for users to decide whether they want to modify existing statements' ranks may need some more insights.

[2022-04-27 10:07] trnstlntk opened #4812 "Create project from WCQS SPARQL query (special case: requires Wikimedia authentication)"
This is a feature request for a specific subcase of #1212. This will be helpful for users who want to edit structured data of existing Wikimedia Commons files with the help of OpenRefine.

Through the [SDC project for OpenRefine](https://github.com/orgs/OpenRefine/projects/2/), users will be able to edit and upload files with structured data on Wikimedia Commons. See [more info about this project

[2022-04-27 10:08] trnstlntk commented on #4812
@antoine2711 tagging you here, since it touches upon the Outreachy project you will hopefully be mentoring soon :-)

[2022-04-28 11:06] trnstlntk commented on #4785
Thanks, everyone, for your interest in this project, and @antoine2711 for looking at all applications as a mentor for the SPARQL importer!

We will review all applications that have been entered now. You will hear back from us (and Outreachy) in May.

Many greetings, Sandra (Outreachy coordinator for OpenRefine in this round).

[2022-04-28 11:06] #4785 closed

[2022-04-28 11:12] trnstlntk opened #4814 "Note for Outreachy 2022 (May cohort) candidates"
Hello Outreachy candidates! Thank you so much for your interest in OpenRefine and for your contributions to its codebase so far.

@wetneb and @antoine2711 are this Outreachy edition's mentors for OpenRefine, and I (@trnstlntk) am OpenRefine's Outreachy coordinator for this round.

We will review all applications that have been entered now. You will hear back from us (and Outreachy) in May.

Many g

[2022-04-28 11:12] sherrif10 commented on #4785
Thanks @trnstlntk

[2022-04-29 11:23] wetneb opened #4818 "Verbose log output when using a Wikibase without quality constraints extension"
When using OpenRefine with a Wikibase instance which does not use WikibaseQualityConstraints (the constraint system deployed for instance on Wikidata), we currently get many warnings in the logs every time the schema is previewed.

### To Reproduce
Steps to reproduce the behavior:
1. First, install a wikibase instance that is not wikidata
2. Then, create a schema
3. Finally, observe the logs

###

[2022-04-29 12:05] wetneb opened #4819 "Selection of Wikibase instance directly in the schema editor"
Our Wikibase schema editor currently looks like this:
![image](https://user-images.githubusercontent.com/309908/165939943-90415650-4561-471c-8b87-1ac4e1dc0544.png)

This has a few problems:
* the currently selected Wikibase instance is not very well identifiable, because it is just mentioned in passing in a big blob of text
* the big blob of text may be read the first time, but then it is really j

[2022-04-29 12:13] wetneb commented on #4236
Error handling is particularly a problem for our Wikibase upload operation, I feel. Edits on a Wikibase instance can fail for a lot of different reasons and we are not doing a good job of exposing those failures to the user.

This will be all the more important for Wikimedia Commons, since file uploads can also fail for even more reasons.
@lozanaross if you have any thoughts :)

[2022-04-29 12:17] #4787 closed

[2022-04-29 12:29] wetneb commented on #4277
@trnstlntk, @lozanaross and I have discussed this during a training workshop with users from cultural institutions, and one attendee asked if the feature could be available for projects that are unrelated to Wikimedia Commons.

The issue could indeed be formulated like this: say I have a dataset where one column contains local paths to images, I would like to have OpenRefine display small thumbnai

[2022-04-29 12:38] wetneb commented on #3138
So, the task here is to review where we are calling the Wikibase instance and make sure we have proper error handling in place to display an error message when the service is unreachable.

[2022-04-29 15:24] wetneb commented on #2326
I am not sure why it is important that they know if they are the author of the current preferred statement or not. Statement ranks are normally set following a set of rules, not by taste, so the authorship should not really matter, should it?

Yes I feel like this requires more design indeed!
If we want to "simply" add support for ranks for new statements, then we should be clear about what happen

[2022-04-29 15:58] wetneb opened #4820 "Google data integration does not work in snapshot releases"
Our Google Drive / Google Sheets integration does not work in our snapshot releases.
I hope that the snapshot release workflow could also be used for official releases, therefore it also needs to work for the Google services integration.
Not providing more details because I am tackling this directly.

[2022-04-29 17:42] trnstlntk commented on #4277
@lozanaross has created various wireframes that include file previews. A selection from the latest (April 26) version of the wireframes:

While working on a project:
![image](https://user-images.githubusercontent.com/9881645/165995117-6cecbb6b-7763-4755-8067-358d01e2f7a5.png)

We're also considering a functionality to make the thumbnail bigger here, especially useful when the user will be working

[2022-04-29 20:35] trnstlntk opened #4821 "'Search for match' dialog: search dropdown mostly covers 'Don't reconcile cell' button, and fully covers 'Cancel' button"
During the (Wikidata) reconciliation process... In the 'Search for match' dialog window that is displayed when searching for a match, the search dropdown mostly covers 'Don't reconcile cell' button, and fully covers 'Cancel' button

### To Reproduce
Steps to reproduce the behavior:
1. Reconcile a column in your dataset (I have only seen the behavior when reconciling against Wikidata)
2. Find an un

[2022-04-30 08:27] antoine2711 commented on #3223
What would be the source for the integrated extensions installer? Could we have a repo on OpenRefine that would contain a copy of all the installable extensions? That way, we could provide some kind of control/quality of the extensions, and it would be easier to control versions installed, and their compatibility.

I also think we should have the same kind of installation commodity for services.

[2022-04-30 08:44] wetneb commented on #3223
I think that would go against the spirit of extensions: anyone can develop them and install them without having to go through vetting by a central authority.
We could certainly have an online catalogue of known extensions, but people should not be forced to go through that, I think.

[2022-04-30 09:53] trnstlntk commented on #4303
Status update while going through older issues and looking at our current [timeline for the Wikimedia-funded project on SDC support](https://meta.wikimedia.org/wiki/Grants:Project/Structured_Data_on_Wikimedia_Commons_functionalities_in_OpenRefine/Timeline).

We are working towards a Minimum Viable Product before end June and end October 2022. At this point it is still quite unclear to us how OpenR

[2022-04-30 10:04] wetneb commented on #4303
This is a follow-up task to #4682.

[2022-04-30 11:58] trnstlntk commented on #4277
Assigning this task to @lozanaross (design; work in progress) and @j-sal (development of this feature). I didn't see an explicit deadline attached during the roadmapping exercise we did last week, but we placed this task around July so I'm provisionally adding a July 31 deadline.

[2022-04-30 12:07] trnstlntk commented on #4277
I'll be happy to edit this issue to reflect the broader scope. We could also split it in seperate tasks?

For Wikimedia Commons, we identified distinct use cases that will need (as I understood it) different development approaches:

- [ ] User wants to use OpenRefine to add structured data to existing files from Wikimedia Commons. They load a series of file paths from Wikimedia Commons and then di

[2022-04-30 14:37] wetneb commented on #4277
Yes we could potentially have three separate issues I think.

[2022-04-30 17:04] wetneb opened #4823 "Spread array of values generated by an expression to form a record"
When we use an expression which returns an array in the `Transform` or `Add column based on this column` dialogs, the resulting cells are currently left blank because we cannot store an array in a single cell.
This is of course not ideal and quite confusing because there is no explanation or warning about this (#1475, #1088).

### Proposed solution

This should behave like the `Add column from rec

[2022-04-30 18:26] wetneb commented on #4814
Let me see if we can keep it pinned while closed.

[2022-04-30 18:26] #4814 closed

[2022-05-01 08:09] antoine2711 commented on #3223
@wetneb: I'm totally like you for not locking people in this hypothetical extension repo.

I think we should have a file, like a JSON, with a list of all known extensions. These extensions could be anywhere.

But, for the extensions that are very common, or the one that no longer have maintenance, having them in a repo could gives us better quality control. Also, since a change in the core might t

[2022-05-01 09:32] glagou commented on #4818
Hey wetneb, I have looked into the issue and it looks fairly simple.

Could I please get it assigned on me? I can get working on it very soon. Thanks :grin:

[2022-05-01 10:37] antoine2711 commented on #4525
@khadijm: are you still working on this issue?

Regards, Antoine

[2022-05-01 10:53] lozanaross commented on #4819
Slight update here: https://xd.adobe.com/view/d8b086f2-199a-4fcf-a1e8-8d939842b790-8de3/
![Image](https://user-images.githubusercontent.com/25489750/166142767-02fe9f03-a5f4-4c1b-bbc6-4e49a53da5e6.png)

@wetneb @trnstlntk Should I make a separate version just for the Wikibase extension in general, because this is specific to SDC extension, but it can be cleaned up more just for the WB extension as

[2022-05-01 12:01] lozanaross commented on #4812
One think worth adding here is that in the SDC survey (https://commons.wikimedia.org/wiki/File:Analysis_of_the_first_OpenRefine_SDC_open_survey.pdf) users expressed interest in being able to query WCQS, _as well as_ WDQS, directly via OpenRefine as one route towards project creation. The WDQS case is also relevant to SDC because many commons files are linked also in WD via image P18, so in theory

[2022-05-01 13:22] lozanaross commented on #4277
I think we discussed this and indeed we need separate issues, I'll set the others up - I think we also agreed the deadline for this first case (Commons images) is July 01 because we want it for wikimania?

[2022-05-01 13:41] lozanaross commented on #4277
The way the issue is framed at the moment makes me think it belongs in the extension repo, not in the main repo btw. I think it needs to be abstracted and possibly created later (after this issue is closed) in the main OpenRefine repo.

[2022-05-01 15:28] lozanaross opened #4824 "Better display of which reconciliation service a specific column is reconciled against"
Currently a default OpenRefine workflow supposes users only reconcile data against a single service, e.g. Wikidata, and then proceed towards schema building and data upload with this single service in mind. However, in reality - with the introduction of the possibility to reconcile against and upload data edits to any arbitrary Wikibase (and soon Wikimedia Commons too, thanks to the work on the Co

[2022-05-01 16:14] trnstlntk commented on #4277
We didn't put a deadline on that specific post it note 😅  but we indeed placed it right before Wikimania, so I'd say yes.

[2022-05-01 18:27] keerthybreddy commented on #608
After reading through the [article](https://en.wikipedia.org/wiki/Unix_time) that @thadguidry linked, I think I agree with @ostephen 's suggestion of timeSinceUnixEpochToDate() for the name. If no one else has any objections, I can change the name of the function to this.

[2022-05-01 18:30] cmuagab commented on #4818
Hello @wetneb , for my first participation in a project, I am also very interested.
If I can be attributed that would be super cool.
Thank you ! 👌

[2022-05-01 19:11] antoine2711 commented on #4812
@lozanaross: the way I see it, this SHOULD be done. And let's say I'm in a good position to promote it. ;-)
That being, I will also try to do federated queries, that is, query 2 or more SPARQL end-point at the same time. This is probably more complex than choosing a different end-point, but still, technologically, it should work.

Let's see our far we can go.

Regards, Antoine

[2022-05-01 21:38] lozanaross commented on #4812
@antoine2711: that sounds goods really good, if any UI help is needed, I'm happy to advise.

[2022-05-02 01:59] thadguidry commented on #4812
@lozanaross @trnstlntk Isn't this issue out of scope for the SDC grant?  Looks like it's tagged against [the Project](https://github.com/orgs/OpenRefine/projects/2) via GitHub and maybe should not?  I might be wrong and it's in scope? :-)

[2022-05-02 02:04] thadguidry commented on #4824
@lozanaross @wetneb I'm fine with the logos, but I think the logos additionally should have hover text for the service name coming off the manifest?

[2022-05-02 02:56] antoine2711 commented on #4812
@thadguidry: I think we can say that it has many scopes.
I do believe it can be achieve thru the Outreachy project « Implement a SPARQL Importer » which is very vague and does fully legitely could be a generic SPARQL end-point, or the specific WDQS and WCQS.

It does have the https://github.com/OpenRefine/OpenRefine/labels/gsoc%2Foutreachy … ;-)

Regards, Antoine

[2022-05-02 06:19] wetneb commented on #4819
Yes I would hope we can have one version that can be integrated in the Wikibase extension and which can be used for Commons as well as any other Wikibase instance.

[2022-05-02 06:27] wetneb commented on #4824
Sounds sensible indeed!

[2022-05-02 06:28] wetneb commented on #4818
Let's make it first come first served, thank you for the interest @cmuagab though!

[2022-05-02 07:48] trnstlntk commented on #4812
This is totally in scope. Starting a project from a Wikimedia Commons SPARQL query is going to be very helpful for Wikimedia Commons users (batch SDC editors) in OpenRefine.

We have not promised this feature as part of the current Wikimedia Foundation grant, but I do want to investigate if we can implement it and keep it on our (Wikimedia Commons focused) radar generally.

[2022-05-02 07:58] trnstlntk commented on #4812
Pertaining this specific task (the Wikimedia Commons SPARQL endpoint): I am hearing that federated querying (e.g. involving both WDQS and WCQS) is not very obvious there, because of the authentication at WCQS.

You would make me very happy (and help the Wikimedia ecosystem) if we can at least research from our side if (federated) querying with WCQS is possible for project creation in OpenRefine. I

[2022-05-02 14:28] glagou commented on #4818
Hi again, I just created the pull request.

Thank you for your quick response @wetneb :smiley:

[2022-05-02 15:29] #4818 closed

[2022-05-02 16:27] antoine2711 commented on #4812
Well, @trnstlntk, for WDQS, I did a federated query with another end-point, and I think that I also did it from an external query service that used WDQS in a federated query.

Now, if there is authentification with the WCQS, it, in itself, will be a challenge. But once it's setteld, I don't see why FROM WCQS, we couldn't do a federated query. But it's probably very hard to do it from another query

[2022-05-02 20:11] lozanaross commented on #4812
@antoine2711 @trnstlntk from my point of view federated queries would be super useful even outside SDC scope (ie outside WCQS) and just in general for the Wikdiata/Wikibase extension purposes. With my NFDI hat on, I would find querying e.g. my own Wikibase + Wikdiata pretty useful. WCQS would be added bonus, but only if the balance between added value vs extra dev effort is worth it in the end.

[2022-05-02 20:16] lozanaross commented on #4824
@thadguidry Great, yes - I agree.

[2022-05-02 20:25] lozanaross commented on #4819
@wetneb Thanks. Given your answer to https://github.com/OpenRefine/CommonsExtension/issues/24 I assume there is actually no need to simplify the design for Wikibase extension then, because it will also include a template dropdown? And the schema template option will also be there?

The text "The schema below specifies how your data will be transformed into Wikimedia Commons edits." should also be

[2022-05-02 20:30] lozanaross commented on #4277
Replying to myself - this is a dumb comment because I realize you cannot move issues across repos in Github (unless I am just not seeing how?? it is possible in Gitlab). I guess we should keep this here for now, but it's technically part of the SDC extension because we're first developing the thumbs for commons only, right? Then later the options to render local / remote files?

[2022-05-02 20:37] lozanaross commented on #3223
Reading this after some time and just wondering if my hypothetical GUI needs to include some "configure" button that opens up more options via a dialog - wouldn't that be quite hard because we would need to force extension developers to expose somewhere possible configs that we would then render in the GUI? Maybe it's easy and I'm just finding it hard to imagine, so wanted to inquire further.

[2022-05-02 20:50] lozanaross commented on #4236
Indeed, I think I should open a dedicated design issue - design a consistent mechanism to display a range of fail scenarios. I'll make it in the SDC repo and link here.

[2022-05-03 08:54] ostephens commented on #3223
I'd regard the minimal implementation as being able to do what the user can currently do via the filesystem via the GUI instead - i.e. add/remove extensions by dropping the files in the appropriate place

Enabling/disabling extensions that are already in place seems like a good additional option, but I think this would require new work on how extensions are managed by the main platform as I don't

[2022-05-03 12:26] wetneb commented on #4819
Great!

My main motivation to introduce this text was the drag and drop feature which is not really easy to discover without explanation.

[2022-05-03 12:27] wetneb commented on #4277
Yes you can, it is called "Transfer issue" on the right-hand side, and as a member of the organization it should be available to you.

[2022-05-03 12:43] antoine2711 commented on #3223
@ostephens: for me, enabled vs disabled could just be moving from extensions to extensions (disabled). Lot's of software do that, and I personnally also do that. No extra work, more than FS stuff.

No doing it would be a shame.

Yes, like for Recon services.

I'd like a SEPARATE repo for extensions.

Regards, Antoine

[2022-05-03 13:13] thadguidry commented on #4823
@wetneb I am in agreement with the proposal.  Could you update the beginning of the proposal (or milestone) to signify that this would be a pre-4.0 feature enhancement?  I understand from your notes it will not be targeting 4.0, where in 4.0 we might do further data model changes and affected code to support storing arrays directly in cells.

[2022-05-03 18:24] lozanaross commented on #4819
Yeah. Agreed. That info is a good candidate for onboarding text, or alternatively "tooltip text" over a blue "i" icon that we're introducing elsewhere in the SDC extension design as well, which reminds me - I may set up a separate issue just for the "i" icon design in any case.

[2022-05-04 08:51] ostephens commented on #4823
I can see all three options being useful here:
* Spread results across rows
* Spread results across columns
* `jsonize` array to a string

I wonder if a control like we have for errors would be useful here - in the transformation dialogue the user is offered options as to what to do with errors (keep original, store error, store blank) - could we offer a set of options for arrays in a similar way

[2022-05-04 09:33] wetneb commented on #4823
Indeed, I did not think about the recursive case, that is going to be pretty fiddly to implement.
Adding an option to choose between various behaviours seems doable to me too.

[2022-05-04 14:19] trnstlntk opened #4829 "Add [[Category:Uploaded with OpenRefine]] to each file uploaded to Commons with OpenRefine"
We already have a nice [OpenRefine tag on Wikimedia Commons](https://commons.wikimedia.org/w/index.php?title=Special:RecentChanges&tagfilter=openrefine-3.6). However, it would also be great to add a tracking category to each file that is uploaded to Wikimedia Commons with OpenRefine. With such a tracking category, we can more easily run metrics to [measure usage / uptake of files in Wikipedia and

[2022-05-04 19:08] multichill commented on #4472
You can't make an upload tool to Commons without preventing exact duplicates. It's pretty easy for a tool:
1. Tool downloads the file
2. Tool calculates the hash
3. Ask the API for any files with the hash, for example https://commons.wikimedia.org/w/api.php?action=query&list=allimages&aisha1=b12eb7f6b43a3cc1eefc54db90ec5ae1504c3f17
4. If it returns anything, you have a duplicate and you don't uplo

[2022-05-04 19:11] trnstlntk commented on #4472
@wetneb can we consider re-opening this issue? And perhaps it should be moved to the CommonsExtension repo?

Folks will be mad at us if OpenRefine will be responsible for many duplicate uploads.

If we can't develop this as part of the current grant due to time constraint / too much current complexity, let's at least keep it on the wishlist for a next iteration.

[2022-05-05 07:46] Abbe98 commented on #4276
Note that MP3 requires special user rights and could therefore possibly require more work.

[2022-05-05 09:01] ostephens commented on #4823
For me getting an option for `jsonize` option into the process would be a good and relatively straightforward start. I agree with your comment above @wetneb

[2022-05-05 14:24] v1scal commented on #3645
Hi, could you please provide more information or explain a little further about the re-fetch of the service manifest?

[2022-05-05 15:03] wetneb commented on #3645
The service manifest can be fetched by performing a GET query to the service endpoint. Doing this would enable us to refresh our local copy of the manifest, stored in OpenRefine's preferences.

[2022-05-07 16:10] SeliasB commented on #3243
Hi, I am currently working on it, hope it's ok !

[2022-05-07 19:45] SeliasB commented on #3243
I was wonering if the gui has been generated by a framework, or do I have to manually add the checkbox and the binding of it ?

[2022-05-07 20:50] thadguidry commented on #3243
@SeliasB Thanks for volunteering to work on this issue.  We use Jquery, pure Javascript for customizations, and Java backend.  You'll see bindings of lots of options in the various **importers** that you can get an idea from and copy from for a checkbox style to be added to the JSON importer (which already has some options already within it).

[2022-05-07 21:14] SeliasB commented on #3243
@thadguidry
thanks for the answer, I'm having a trouble at the moment. I added the checkbox and binded to the options in Javascript but it is not added on server side (in the request response) so not sure how the link is made on client side to make it available on the backend.
any tips plz?

[2022-05-09 15:20] antoine2711 commented on #1782
I get this error on the back-end. I would like to see that in the front-end.
[code]

Regards, Antoine

[2022-05-10 06:36] annalauraw opened #4838 "Option to render non-text Excel cells as text when importing"
It would be easier if OpenRefine offered an option to parse all cells as text when importing Excel files, as it does with csv files. When refining e.g. publication dates, the default behaviour of parsing digit characters in Excel files as numbers can lead to unwanted results and is cumbersome to fix.

### Proposed solution
Offer the option to leave a checkbox "Parse cell text into numbers, dates,

[2022-05-10 19:39] glagou opened #4839 "Unclosed Statement and ResultSet Resources"
After working on issue #4080, we reliazed that Statement and ResultSet resources are not properly closed inside any of the DatabaseService classes.

A Pull Request has already been made by us for the MariaDBDatabaseService class, but the same issue seems to appear on MySQLDatabaseService, SQLiteDatabaseService, etc.

### Current Results

Statement and ResultSet instances are not handled properly a

[2022-05-11 12:07] VDK opened #4841 ""Use values as identifiers" doesn't turn column into a reconciled column that can be dropped into a schema"
I've got a table with the media identifier of a file on 'Commons, (i.e. M11083877 for [File:Dorpsstraat 30-32, Zoetermeer.jpg](https://commons.wikimedia.org/wiki/File:Dorpsstraat_30-32,_Zoetermeer.jpg) ). When I reconcile this column to in OR with the Commons Reconciliation Service the "use values as identifiers" option then it instantly matches, but I can still not use it when I'm putting togethe

[2022-05-12 04:01] antoine2711 commented on #4841
Have you tried to save your schema, and click the « permalink » link? This could make it work.

Regards, Antoine

[2022-05-12 13:08] VDK opened #4847 ""manifest.version should match pattern "^1\.[0-9]+$"" error for 'Commons manifest version 2.0"
The regex should be changed to ^[1-9]{1,3}\.[0-9]+$, the current version of the Wikimedia Commons manifest is 2.0, and thus creates this error.
Secondly: there should be a space and not a period in its error message.

### To Reproduce
Steps to reproduce the behavior:
1. Go to the Wikibase schema
2. The "Wikidata" dropdown in the top-right corner, pick "Select Wikibase instance"
3. "Add Wikibase" o

[2022-05-12 14:17] VDK commented on #4841
I figured it out: "select Wikibase instance" needed to be set to Wikimedia Commons. The [Wikimedia Commons reconciliation information page](https://commonsreconcile.toolforge.org/)  should probably link to the [manual on entry on connecting OR to a Wikibase instance](https://docs.openrefine.org/next/manual/wikibase/configuration)

[2022-05-12 14:17] #4841 closed

[2022-05-14 08:40] trnstlntk commented on #1713
We need this for the [Wikimedia Commons integration](https://github.com/orgs/OpenRefine/projects/2) too.

One frequently-used modeling convention on Wikimedia Commons (for creators of files imported from external websites) is the following:

![image](https://user-images.githubusercontent.com/9881645/168418024-b9d3f341-e04a-4271-bed1-6f858ba916c8.png)
Where [Creator](https://www.wikidata.org/wiki/S

[2022-05-14 08:43] trnstlntk commented on #1713
Terminology / naming related remark... in the UI on Wikimedia Commons the potential values are called `Custom value`/ `Some value` / `No value`.

![image](https://user-images.githubusercontent.com/9881645/168418307-2a139adb-2079-4ef6-9c55-d7eb6dbcaa7e.png)

[2022-05-16 11:23] #608 closed

[2022-05-18 13:15] wetneb opened #4864 "ODS exporter adds an additonal empty sheet to the project"
The ODF exporter creates files with two sheets: the first is empty, and the second contains the project data. We should remove the first one.

### To Reproduce
Steps to reproduce the behavior:
1. First, export any project to ODF
2. Then, open it (for instance with LibreOffice)

### Current Results
The exported file contains two sheets, the first one being empty.

### Expected Behavior
The exported

[2022-05-18 13:17] #4738 closed

[2022-05-18 13:39] #2532 closed

[2022-05-18 14:14] wetneb commented on #4716
After a quick search, I found [this StackOverflow answer](https://stackoverflow.com/a/2901499/985087) which seems to suggest that the standard mandates double quotes to quote fields. THerefore, I do not think it is worth letting the user choose which quote character should be used.

A user could want:
* the current behaviour where column names are normalized
* or the preservation of the original c

[2022-05-18 15:33] trnstlntk opened #4865 "Fix mechanism to download Maven on the fly (MacOS)"
I tried to run https://github.com/wetneb/OpenRefine/tree/4682-commons-upload to test [uploading to Wikimedia Commons](https://github.com/OpenRefine/OpenRefine/pull/4863), but OpenRefine refused to start.

### Current Results
See log below

### Expected Behavior
Maven is downloaded and I can run OpenRefine

### Terminal log
[code]

### Versions
 - Operating System: MacOS 10.13.6
 - Browser Version:

[2022-05-18 18:36] vdimopoulos commented on #4864
Can you assign me to this one? Thank you in advance!

[2022-05-19 05:18] antoine2711 opened #4868 "Bring back a readable Windows batch script tool"
When you use the Windows batch script, you can not read the text.

### To Reproduce
Steps to reproduce the behavior:
1. launch `refine.bat`

### Current Results
![image](https://user-images.githubusercontent.com/12217525/169211797-ffbc5eba-16b2-4b4b-8076-421ef36d16d1.png)

### Expected Behavior
![image](https://user-images.githubusercontent.com/12217525/169211760-8e5ac5db-cb65-4643-82a1-5ebabefb9b

[2022-05-19 13:39] wetneb commented on #2191
Update on this: I have done quite a lot of work towards it, but have been blocked by #4568.

[2022-05-19 14:07] thadguidry commented on #4568
Until we have a path forward, can we update our docs for running on MacOS to help folks more for now with the steps needed to circumvent with the caveat of "only install packages from trusted sources" ?

[2022-05-19 14:14] #4868 closed

[2022-05-19 14:48] thadguidry opened #4870 "Provide workaround steps for running OpenRefine on OS's that block running unsigned apps"
Some OS's such as MacOS and Windows have additional steps needed for users to acknowledge installing applications downloaded from untrusted sources, or unsigned applications.  See #4568 as some proof.

### Proposed solution
Until OpenRefine has the capability to be considered an approved signed applications for MacOS and Windows, we should:
 - provide workaround steps in our docs for running OpenR

[2022-05-19 20:40] debpaul commented on #2117
I have this same issue, no graphs return. It seems to be trying to work, but results come back. I just updated from 3.3 to 3.5 to see if it helped. Same issue.
![image](https://user-images.githubusercontent.com/2990155/169400590-a0a61841-120a-42ae-9141-e0a595591394.png)

Note: if I click on "lin" or "log" then, for just second (a quick flash) I see "focusing on " appear near the top left corner of

[2022-05-19 20:42] thadguidry commented on #2117
@debpaul Ensure that your 2 columns are Datatype: Number (green color instead of black).  If not, then you can do a quick transform to number via the dropdown menu for Common Transforms.

[2022-05-19 20:46] debpaul commented on #2117
Thanks @thadguidry I just tried that. Same result (sadly)
![image](https://user-images.githubusercontent.com/2990155/169401677-d621c641-e9d9-4042-a633-8dbeb2e46bc4.png)

[2022-05-19 20:53] debpaul commented on #2117
@thadguidry I just closed and restarted refine (latest version). And tried again. And voila. (Chrome. Refine 3.5.2 Win10)
![image](https://user-images.githubusercontent.com/2990155/169402478-576700b5-3fb8-4160-ba54-bd621ad666e2.png)

Not sure why working now though.

[2022-05-19 20:57] thadguidry commented on #2117
@debpaul Likely a browser refresh could have also fixed the issue. :-)  There might be a small lingering bug that we have for refreshing the Scatterplot, or the cache.  The Scatterplot dialog is treated within the dialog-overlay context and I have seen a few of our dialogs in that context sometimes have browser cache issues.  Not sure what the "good fix" would be but I'm sure a JavaScript expert (